@model PSEBONLINE.Models.RecheckModels
@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<style type="text/css">
    h1 {
        font-size: 23px !important;
        padding-bottom: 10px !important;
    }
</style>
<div class="container KDBG">
   @* <h1>Rechecking Matriculation/Sr. Secondary Supplementary Examination (Only Open School) September-2017</h1> *@
    <h1>
        Rechecking Re-evaluation <span class="rqf">Sr. Secondary</span> Examination  </h1>
        @using (Html.BeginForm("RecheckForgotPassword", "Recheck", FormMethod.Post, new { id = "refno", enctype = "multipart/form-data" }))
        {
            <form name="myForm">
                <div class="row">
                    <div class="col-md-12 text-left"><h3 style="padding-bottom:10px">Candidate Forgot Password</h3></div>
                    <div class="clearfix"></div>
                    <div class="col-md-2">Session <span class="rqf">*</span></div>
                    <div class="col-md-2">
                        @{
                            List<SelectListItem> batch = new List<SelectListItem>();
                             batch.Add(new SelectListItem { Text = "---Select Month--- ", Value = "" });
                            batch.Add(new SelectListItem { Text = "September", Value = "SEP" });                            
                           // batch.Add(new SelectListItem { Text = "October", Value = "OCT" });
                            //batch.Add(new SelectListItem { Text = "January", Value = "JAN" });
                        }
                        @Html.DropDownList("batch", batch, new { id = "batch" })
                    </div>
                    <div class="col-md-2">
                        @{
                            List<SelectListItem> batchYear = new List<SelectListItem>();
                          //  batchYear.Add(new SelectListItem { Text = "2020", Value = "2020" });
                            batchYear.Add(new SelectListItem { Text = "2022", Value = "2022" });
                        }
                        @Html.DropDownList("batchYear", batchYear, new { id = "batchYear" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-2">Class <span class="rqf">*</span></div>
                    <div class="col-md-4">
                        @{
                            List<SelectListItem> Class = new List<SelectListItem>();
                            Class.Add(new SelectListItem { Text = "--Select--", Value = "0" });
                            Class.Add(new SelectListItem { Text = "Matriculation", Value = "10" });
                            Class.Add(new SelectListItem { Text = "Senior Secondary", Value = "12" });
                        }
                        @Html.DropDownList("Class", Class, new { id = "Class" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-2" style="display:none;">Type <span class="rqf">*</span></div>
                    <div class="col-md-4" style="display:none;">
                        @{
                            List<SelectListItem> Exam_Type = new List<SelectListItem>();
                            Exam_Type.Add(new SelectListItem { Text = "--Select--", Value = "0" });
                            Exam_Type.Add(new SelectListItem { Text = "Regular", Value = "R" });
                            Exam_Type.Add(new SelectListItem { Text = "Open", Value = "O" });
                            Exam_Type.Add(new SelectListItem { Text = "Private", Value = "P" });
                        }
                        @Html.DropDownList("Exam_Type", Exam_Type, new { id = "Exam_Type" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-2">Roll No. <span class="rqf">*</span></div>
                    <div class="col-md-4">@Html.TextBoxFor(a => a.OROLL, new { id = "OROLL", @maxlength = "25" })</div>
                    <div class="clearfix"></div>
                    <div class="col-md-2">Email ID <span class="rqf">*</span></div>
                    <div class="col-md-4">@Html.TextBoxFor(a => a.emailID, new { @class = "form-control", @maxlength = "100", title = "Enter Candidate's Personal/relative's Email ID." })</div>
                    <div class="clearfix"></div>
                    <div class="col-md-2">Mobile No. <span class="rqf">*</span></div>
                    <div class="col-md-4">@Html.TextBoxFor(a => a.mobileNo, new { id = "mobileNo", @maxlength = "10", title = "Enter Candidate's Personal/relative's Mobile No." })</div>
                    <div class="clearfix"></div>
                    <div class="col-md-12"><span class="rqf">NOTE : Kindly Enter Only Candidate or Candidate's Relative Personal Email Id And Mobile No For Further Communication With Candidate By Board.</span></div>
                    <div class="clearfix"></div>
                    <div class="col-md-6"><span class="rqf">* Fields are mandatory.</span></div>
                    <div class="clearfix"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 tbp text-center">
                        <input value="Get Refrence No" type="submit" onclick="return valForm();" />
                        <input value="Reset" type="button" onclick="javascript:document.location.href='@Url.Action("RecheckForgotPassword", "Recheck")'" />
                        <input value="Login" type="button" onclick="javascript:document.location.href='@Url.Action("RecheckExamination", "Recheck")'" />
                    </div>
                </div>
            </form>
        }
</div>

@{
    if (ViewData["Status"] != null)
    {
        var result = ViewData["Status"].ToString();
        if (result == "1")
        {
            <script type="text/javascript" language="javascript">
                var roll = @ViewData["roll"].ToString();
                var refno = @ViewData["refno"].ToString();
                alert("Your Roll no. "+roll+" , and Ref No. "+refno+"" );
            </script>
        }
        else
        {
            <script type="text/javascript" language="javascript">                
                alert("Record Not Found");
            </script> 
        }
    }
}
<script type="text/javascript">

    //------------------------------------------------
     function valForm() {
        var txtClass = document.getElementById("Class").value;
        if (txtClass == "0") {
            alert("Select Class");
            document.getElementById("Class").focus();
            return false;
        }
       
        var txtOROLL = document.getElementById("OROLL");
        if (txtOROLL.value == "") {
            alert("Enter Roll Number");
            txtOROLL.focus();
            return false;
        }
        if (!ValidateEmail($("#emailID").val())) {
            alert("Enter valid Email Address");
            document.getElementById("emailID").focus();
            return false;
        }
        var txtmobileNo = document.getElementById("mobileNo");
        if (txtmobileNo.value == "" || txtmobileNo.value.length != 10) {
            alert("Enter valid Mobile Number");
            txtmobileNo.focus();
            return false;
        }
    }

    function ValidateEmail(emailID) {
        var expr = /[A-Z0-9._%+-]@@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;;
        return expr.test(emailID);
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>