@model PSEBONLINE.Models.MigrateSchoolModels
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
<link href="https://registration2022.pseb.ac.in/content/print.css" rel="stylesheet" />
@if (Session["Session"] != null)
{}
else { Response.Redirect("~/Admin"); }
@using (Html.BeginForm("MigrationPrint", "MigrateSchool", FormMethod.Post, new { id = "Migrate", enctype = "multipart/form-data" }))
{
<form id="myForm">
<table style="width:100%;" border="0">
            <tr>
                <td><table style="width:100%;" border="0" class="noprint">
    <tr>
        <td style="text-align:right">
            <input type="button" class="btn" value="Migration List" onclick="javascript:document.location.href='@Url.Action("MigrationRec", "MigrateSchool")'" />
            <input type="button" value="Print" class="btn" onclick="window.print()" />
            <a href="javascript:void(0);" class="btn" onclick="history.go(-1);">Back</a>
        </td>
    </tr>
</table></td>
            </tr>
            <tr>
                <td align="center" valign="top">
                     <table style="width:96%;border:2px solid #000;" border="0" align="center">
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <td width="30%"><img src="~/Images/Slogo.jpg" alt="Logo" /><br />
                                            
                                            
                                        </td>
                                        
                                        <td align="center" class="kdsfont" style="vertical-align:top">
                                            <span style="font-size:30px"> Æâ²ØÉ Ó¨ÞÐ ÚÓóÚª¤Ø ÉëÏ¸</span><br />
                                            Ó¨ÞÐ ¼ë× Ó¨ÞÐ ÌØ¥Û¬ñãÓÖÅ
                                        </td>
                                        <td width="20%" align="right" valign="top"><br />
                                            <span style="border:1px solid #000;padding:4px 10px">(Board Copy)</span>
                                            </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                 <table width="100%">
                                    <tr>
                                        <td width="20%" style="text-align:left">Migration No/Set</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.MigrateNo) / @Html.DisplayFor(a => a.RegSet)</td>
                                        <td width="20%" style="text-align:left">Case/Diary No.</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.DiryOrderNo)</td>
                                   </tr>
                                   <tr>
                                        <td width="20%" style="text-align:left">Unique ID No.</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.idno)</td>
                                        <td width="20%" style="text-align:left">Diary Date</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.OrderDt)</td>
                                   </tr>
                                   <tr>
                                        <td width="20%" style="text-align:left">Migration Date</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.Migrationdate)</td>
                                        <td width="20%" style="text-align:left">Session/Year</td>
                                        <td width="30%" style="text-align:left">: @Session["Session"].ToString()</td>
                                   </tr>                                        
                                        </table>
                           </td>
                        </tr>
                        <tr>
                            <td colspan="4">                                
                                <table width="100%">
                                    <tr>
                                        <td width="20%" valign="top"><span class="kdsfont">ÏÚ²Ó¶ÏãÓÖÅ Åâ.</span></td>
                                        <td width="30%">: @Html.DisplayFor(a => a.RegNo)</td>
                                        <td width="6%" valign="top" align="left"><span class="kdsfont">ÓÖñã»Û</span></td>
                                        <td width="14%">: @Html.DisplayFor(a => a.newForm)</td>
                                        <td width="6%"><span class="kdsfont">Ú²ÐðØ</span></td>
                                        <td width="24%">: <span class="kdsfont">@Html.DisplayFor(a => a.DistNameP)</span></td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÆñÛÚª¤ØÏÁÛ ÂØ ÅÙ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.Pname)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÚÆ¼Ø ÂØ ÅÙ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.PFname)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÌØ¼Ø ÂØ ÅÙ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.PMname)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÅÞâ ÆÝÏØ»ã Ó¨ÞÐ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: (@Html.DisplayFor(a => a.SchlCode)): @Html.DisplayFor(a => a.OldSchlDetail)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">¼ë× ÅÒã× Ó¨ÞÐ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: (@Html.DisplayFor(a => a.SchlCodeNew)): @Html.DisplayFor(a => a.newSchlDetail)</td>
                                    </tr>
                                </table>                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="kdsfont">ÚÒó° ÌØ¥Û¬Ïã¶ Õë» ÂÛ ÆñÒØÅ¬Û ÚÂó¼Û ²ÙÂÛ Õè¢</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="kdsfont">
                            Åë¶  :	ÂØªÐØ Ó¨ÞÐ ÐÛÚÒâ¬ ÓÏ¶ÛÚÇ¨ã¶ ¼ã ¤ÄØÏ ¼ã ¨Û¼Ø ²ØÒã¢ 
                                @*ÐÛÚÒâ¬ ÓÏ¶ÛÚÇ¨ã¶ ÌØ¥Û¬ÏãÓÖÅ ÓÏ¶ÛÚÇ¨ã¶ ²ØÏÛ Õë» ÂÛ ÚÌ¼Û ¼ë× 10 ÚÂÅ Âã ¤âÂÏ ÂÛ ÚÌ¼Û ÂØ ²ØÏÛ ÕëÚ¥¤Ø Õë»Ø °ØÕÛÂØ Õè ¤¼ã ÂØªÐØ ÒÛ Ú¥ÕÅÙ ÚÌ¼Û¤Ù Âã ÚÒó°-ÚÒó° ¨ÏÅÙ ÐØ²ÖÌÛ Õè¢*@             
                            </td>
                        </tr>
                         <tr>
                <td colspan="2" height="10px"></td>
            </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <table width="100%">
                                    <tr>
                                        <td width="70%"></td>
                                        <td width="30%" style="text-align:center"><img src="/Images/sign_migration.JPG" alt="Signature" /></td>
                                    </tr>
                                    <tr>
                                        <td width="70%"></td>
                                        <td width="30%" class="kdsfont" style="text-align:center">
                                            ÓÝÆÏ¸â¶ (ÏÚ²./ÌØ¥Û. ÓÖØªØ)<br />
																				   	  Æâ²ØÉ Ó¨ÞÐ ÚÓóÚª¤Ø ÉëÏ¸  <br /> 
																					¤èóÓ. ¥ã. ¤èóÓ. Å¬Ï (ÌëÕØÐÛ)

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="30px"></td>
            </tr>
            <tr>
                <td style="border-top:1px dashed #000;">&nbsp;</td>
            </tr>
            <tr>
                <td height="10px"></td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <table style="width:96%;border:2px solid #000;" border="0" align="center">
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <td width="30%"><img src="~/Images/Slogo.jpg" alt="Logo" /><br />
                                            
                                            
                                        </td>
                                        
                                        <td align="center" class="kdsfont" style="vertical-align:top">
                                            <span style="font-size:30px"> Æâ²ØÉ Ó¨ÞÐ ÚÓóÚª¤Ø ÉëÏ¸</span><br />
                                            Ó¨ÞÐ ¼ë× Ó¨ÞÐ ÌØ¥Û¬ñãÓÖÅ
                                        </td>
                                        <td width="20%" align="right" valign="top"><br />
                                            <span style="border:1px solid #000;padding:4px 10px">(School Copy)</span>
                                            </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                 <table width="100%">
                                    <tr>
                                        <td width="20%" style="text-align:left">Migration No/Set</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.MigrateNo) / @Html.DisplayFor(a => a.RegSet)</td>
                                        <td width="20%" style="text-align:left">Case/Diary No.</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.DiryOrderNo)</td>
                                   </tr>
                                   <tr>
                                        <td width="20%" style="text-align:left">Unique ID No.</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.idno)</td>
                                        <td width="20%" style="text-align:left">Diary Date</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.OrderDt)</td>
                                   </tr>
                                   <tr>
                                        <td width="20%" style="text-align:left">Migration Date</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.Migrationdate)</td>
                                        <td width="20%" style="text-align:left">Session/Year</td>
                                        <td width="30%" style="text-align:left">: @Session["Session"].ToString()</td>
                                   </tr>                                        
                                        </table>
                           </td>
                        </tr>
                        <tr>
                            <td colspan="4">                                
                                <table width="100%">
                                    <tr>
                                        <td width="20%" valign="top"><span class="kdsfont">ÏÚ²Ó¶ÏãÓÖÅ Åâ.</span></td>
                                        <td width="30%">: @Html.DisplayFor(a => a.RegNo)</td>
                                        <td width="6%" valign="top" align="left"><span class="kdsfont">ÓÖñã»Û</span></td>
                                        <td width="14%">: @Html.DisplayFor(a => a.newForm)</td>
                                        <td width="6%"><span class="kdsfont">Ú²ÐðØ</span></td>
                                        <td width="24%">: <span class="kdsfont">@Html.DisplayFor(a => a.DistNameP)</span></td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÆñÛÚª¤ØÏÁÛ ÂØ ÅÙ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.Pname)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÚÆ¼Ø ÂØ ÅÙ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.PFname)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÌØ¼Ø ÂØ ÅÙ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.PMname)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">ÅÞâ ÆÝÏØ»ã Ó¨ÞÐ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: (@Html.DisplayFor(a => a.SchlCode)): @Html.DisplayFor(a => a.OldSchlDetail)</td>
                                    </tr>
                                    <tr>
                                    <td width="20%" valign="top" class="kdsfont">¼ë× ÅÒã× Ó¨ÞÐ</td>
                                    <td width="80%" valign="top" colspan="5" class="kdsfont">: (@Html.DisplayFor(a => a.SchlCodeNew)): @Html.DisplayFor(a => a.newSchlDetail)</td>
                                    </tr>
                                </table>                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="kdsfont">ÚÒó° ÌØ¥Û¬Ïã¶ Õë» ÂÛ ÆñÒØÅ¬Û ÚÂó¼Û ²ÙÂÛ Õè¢</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="kdsfont">
                            Åë¶  :	ÂØªÐØ Ó¨ÞÐ ÐÛÚÒâ¬ ÓÏ¶ÛÚÇ¨ã¶ ¼ã ¤ÄØÏ ¼ã ¨Û¼Ø ²ØÒã¢ 
                                @*ÐÛÚÒâ¬ ÓÏ¶ÛÚÇ¨ã¶ ÌØ¥Û¬ÏãÓÖÅ ÓÏ¶ÛÚÇ¨ã¶ ²ØÏÛ Õë» ÂÛ ÚÌ¼Û ¼ë× 10 ÚÂÅ Âã ¤âÂÏ ÂÛ ÚÌ¼Û ÂØ ²ØÏÛ ÕëÚ¥¤Ø Õë»Ø °ØÕÛÂØ Õè ¤¼ã ÂØªÐØ ÒÛ Ú¥ÕÅÙ ÚÌ¼Û¤Ù Âã ÚÒó°-ÚÒó° ¨ÏÅÙ ÐØ²ÖÌÛ Õè¢*@             
                            </td>
                        </tr>
                        <tr>
                <td colspan="2" height="10px"></td>
            </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <table width="100%">
                                    <tr>
                                        <td width="70%"></td>
                                        <td width="30%" style="text-align:center"><img src="/Images/sign_migration.JPG" alt="Signature" /></td>
                                    </tr>
                                    <tr>
                                        <td width="70%"></td>
                                        <td width="30%" class="kdsfont" style="text-align:center">
                                            ÓÝÆÏ¸â¶ (ÏÚ²./ÌØ¥Û. ÓÖØªØ)<br />
																				   	  Æâ²ØÉ Ó¨ÞÐ ÚÓóÚª¤Ø ÉëÏ¸  <br /> 
																					¤èóÓ. ¥ã. ¤èóÓ. Å¬Ï (ÌëÕØÐÛ)

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </table>     
</form>
}