@model PSEBONLINE.Models.MigrateSchoolModels
@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<h1>Document Verification Report of Other Board Candidates, Session <b>@Session["Session"]</b></h1>
<script src="/Scripts/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

@using (Html.BeginForm("ViewAllotRegNo", "MigrateSchool", FormMethod.Post, new { id = "Migrate", enctype = "multipart/form-data" }))
{
<fieldset style="margin-bottom:15px">
        <legend>List Of School Candidate's (Session <b>@Session["Session"]</b>)</legend>
        <form id="myForm">
            <div class="row">
                <div class="col-md-2">
                    Total Student<label>@ViewBag.TotalCount</label>
                </div>
                <div class="col-md-2">
                    School Code <label>@ViewBag.schlCode</label>
                    @Html.Hidden("SchlCode", (string)ViewBag.schlCode)
                </div>
                <div class="col-md-2">
                    School ID <label>@ViewBag.schlID</label>
                </div>
                <div class="col-md-6">
                    School Name <label>@ViewBag.schlName</label>
                </div>
            </div>
            <div class="clearefix"></div>
            <div class="row">
                <div class="col-md-2">
                    Select Action:  @Html.DropDownList("SelAction", new SelectList(ViewBag.MyAction, "Value", "Text", ViewBag.SelectedAction), new { @class = "" })
                </div>
                <div class="col-md-2">
                    Select Form:  @Html.DropDownList("SelForm", new SelectList(ViewBag.MyForm, "Value", "Text", ViewBag.SelectedForm), "--All---", new { @class = "" })

                </div>
                <div class="col-md-2">
                    Select Lot No:  @Html.DropDownList("SelLot", new SelectList(ViewBag.MyLot, "Value", "Text", ViewBag.SelectedLot), "--All---", new { @class = "" })

                </div>
                <div class="col-md-2">
                    Filter By:  @Html.DropDownList("SelFilter", new SelectList(ViewBag.MyFilter, "Value", "Text", ViewBag.SelectedFilter), "Select", new { @class = "" })

                </div>
                <div class="col-md-4">
                    &nbsp;<br />
                    <input type="text" id="SearchString" maxlength="30" name="SearchString" value="@Request[" SearchString"]" />
                </div>
                <div class="col-md-2">
                    <br />
                    <input type="submit" value="Search" onclick="return formVal();" />
                    <a href="/MigrateSchool/AllotRegNo/@ViewBag.schlCode" class="btn">Back</a>
                </div>
            </div>
            <div class="col-md-10 rqf">
                Note : 1. Kindly click search button to show records.   <br />
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  2. Remove Error/Descrepancy : Kindly Select Error/Descrepancy from Action to Remove.
            </div>
            <div class="clearefix"></div>
            <div class="row">              
        <div class="col-md-4">
        Select Document Verifying Employee:  @Html.DropDownList("SelEmp", new SelectList(ViewBag.AllEmpList, "Value", "Text", ViewBag.SelectedEmp), "--All Employee---", new { @class = "" })
            </div>               
        </div>
        </form>
</fieldset>
}
<div id="loading1"></div>
<div class="clearfix"></div>
<div class="row" id="divMain1">
    <div class="col-md-4">Grid Total:  @ViewBag.TotalCount</div>
    <div class="col-md-8 text-right">
        @*<input type="submit" value="Dis Approved" id="btnDisApproved" />*@
        <input type="submit" value="Send SMS" title="Send SMS" id="btnsms" />
        <input type="submit" value="Send Email" title="Send Email" id="btnemail" />
        <input type="submit" value="Remove" title="Remove RegNo, Error, Descrepancy" id="btnsubmit" />
        @Html.ActionLink("Allot Reg. No.", "AllotRegNo", new { id = ((string)ViewBag.schlCode) }, new { @class = "btn" })
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="t01">
                <tr class="active-tr">
                    <th width="5%">Stdid</th>
                    <th width="5%">Form</th>
                    <th width="35%">Name/Fname/Mname</th>
                    <th width="10%">DOB</th>
                    <th width="15%">RegNo</th>
                    <th width="5%">Verifying Person</th>
                    <th width="10%">Remarks</th>
                    <th width="5%">Select<input type="checkbox" id="selectall" /></th>

                </tr>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            var stdid = Model.StoreAllData.Tables[0].Rows[i]["Std_id"].ToString();
                            var RegNo = Model.StoreAllData.Tables[0].Rows[i]["Registration_num"].ToString();
                            var FormName = Model.StoreAllData.Tables[0].Rows[i]["form_Name"].ToString();
                            var Std_Sub = Model.StoreAllData.Tables[0].Rows[i]["StdSub"].ToString();
                            var Candi_Name = Model.StoreAllData.Tables[0].Rows[i]["Candi_Name"].ToString();
                            var Father_Name = Model.StoreAllData.Tables[0].Rows[i]["Father_Name"].ToString();
                            var Mother_Name = Model.StoreAllData.Tables[0].Rows[i]["Mother_Name"].ToString();
                            var FullName = Candi_Name + "/ " + Father_Name + "/ " + Mother_Name;
                            var DOB = Model.StoreAllData.Tables[0].Rows[i]["DOB"].ToString();
                            //var Gender = Model.StoreAllData.Tables[0].Rows[i]["Gender"].ToString();
                            //var AdmDate = Model.StoreAllData.Tables[0].Rows[i]["Admission_Date"].ToString();
                            //var Fee = Model.StoreAllData.Tables[0].Rows[i]["REGFEE"].ToString();
                            //var Lot = Model.StoreAllData.Tables[0].Rows[i]["LOT"].ToString();
                            var Remarks = Model.StoreAllData.Tables[0].Rows[i]["RegRemarks"].ToString();
                            var VerifyingPerson = Model.StoreAllData.Tables[0].Rows[i]["VerifyingPerson"].ToString();
                            int Count = i + 1;
                                <tr>
                                    <td>@stdid</td>
                                    <td>@FormName</td>
                                    <td>@FullName</td>
                                    <td>@DOB</td>
                                    <td>@RegNo</td>
                                    <td>@VerifyingPerson</td>
                                    <td>@Remarks</td>
                                    <td><input type="checkbox" class="checkbox" id="cb-@stdid" value="@stdid" /></td>
                                </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">
                                @ViewBag.Message
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<div class="clearfix"></div>

@*@{
            if (ViewData["result"] != null)
            {
                if (ViewData["result"].ToString() == "1")
                {
    <script type="text/javascript" language="javascript">
        //alert("Data Updated Successfully");
        alert('@ViewBag.Message');
        //  window.location.href = 'Url.Action("Admin_School_Master", "School")';
    </script>}
                else if (ViewData["result"].ToString() == "0")
                {
    <script type="text/javascript" language="javascript">
        alert('@ViewBag.Message');
    </script>
                }
                else
                {
    <script type="text/javascript" language="javascript">
        alert('Something Went Wrong');
    </script> }
            }
        }*@

<script type="text/javascript">
    $(document).ready(function () {
        // alert("ready")
        //var schlid = "";
        //schlid = $('#SchlCode').val();;
        //alert(schlid);
        //alert("ready")
        $('.checkbox').change(function () { //".checkbox" change
            //alert($(this).val());
            if (this.checked == false) { //if this item is unchecked
                $("#selectall")[0].checked = false; //change "select all" checked status to false

            }
        });

        $("#selectall").change(function () {
            //alert(1);
            //"select all" change
            var status = this.checked; // "select all" checked status
            var arr = [];
            $('.checkbox').each(function () { //iterate all listed checkbox items
                var id = this.id;
                // alert(id);
                this.checked = status; //change ".checkbox" checked status
                var arr = [];
                arr = id;
                var arrid = "";
                var j = 0;
                var k = 0;
                //cb-stdid
                for (var i = 3; i < arr.length; i++) {
                    if (arr[i] == '-') {
                        k++;
                        continue;
                    }
                    if (k == 0) {
                        arrid += arr[i];
                    }
                    j++;
                }
                //alert(dtype);
                for (var k = 3 + j + 5; k < arr.length; k++) {
                    arrcast += arr[k];
                }

            });
        });
        // End select all

        //Start Submit

        $("#btnsubmit").click(function () {
            // alert("Submit " + @ViewBag.SelectedAction);
            var chkdee = "";
            var storeid = "";
            var storechkid = "";
            var storescid = "";
            $('.checkbox').each(function () { //iterate all listed checkbox items
                var id = this.id;
                //   alert(id);
                var arr = [];
                arr = id;
                var arrid = "";
                var arrcast = "";
                var j = 0;
                for (var i = 3; i < arr.length; i++) {
                    if (arr[i] == '-') {
                        break;
                    }
                    arrid += arr[i];
                }
                if (this.checked) {
                    storeid += arrid + ",";
                    //  alert(storeid);
                }
            });
            var selEmp = $("#SelEmp").val();
            // alert("storeid: " + storeid);
            if (storeid == "") {
                alert("Please Select Records.");
            }
            var actionvalue = document.getElementById('SelAction').value;
            if (selEmp == "" || selEmp == "0") {
                alert("Please Select Document Verification Employee");
                $("#SelEmp").focus();
                return false;
            }
            else if (storeid != "") {
            $('#divMain1').hide();
                $('div#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            $.ajax({
                type: "POST",
                url: "/MigrateSchool/JqRemoveRegNo", // this for calling the web method function in cs code.
                data: '{storeid:"' + storeid + '",Action:"' + actionvalue + '", "selEmp":"' + selEmp + '"}',// user name or email value  //
                    contentType: "application/json; charset=utf-8",
                        dataType: "json",
                            success: OnSuccess,
                                failure: function (response) {
                                    alert(response);
                                    // $('#divMain1').show();
                                    // $('div#loading1').empty();
                                }
        });
    function OnSuccess(response) {
        if (response.dee == "") {
            alert("Something Went Wrong, Please Try Again.");
            $('#divMain1').show();
            $('div#loading1').empty();
        }
        else {
            window.location.href = '/MigrateSchool/ViewAllotRegNo/@ViewBag.schlCode';
            alert(response.dee);
            $('#divMain1').show();
            $('div#loading1').empty();

        }

    }
            }

        });

    //End Submit


          //Start DisApproved

        $("#btnDisApproved").click(function () {
            // alert("Submit " + @ViewBag.SelectedAction);
            var chkdee = "";
            var storeid = "";
            var storechkid = "";
            var storescid = "";
            $('.checkbox').each(function () { //iterate all listed checkbox items
                var id = this.id;
                //   alert(id);
                var arr = [];
                arr = id;
                var arrid = "";
                var arrcast = "";
                var j = 0;
                for (var i = 3; i < arr.length; i++) {
                    if (arr[i] == '-') {
                        break;
                    }
                    arrid += arr[i];
                }
                if (this.checked) {
                    storeid += arrid + ",";
                    //  alert(storeid);
                }
            });
            var selEmp = $("#SelEmp").val();
            // alert("storeid: " + storeid);
            if (storeid == "") {
                alert("Please Select Records.");
            }

            if (selEmp == "" || selEmp == "0") {
                alert("Please Select Document Verification Employee");
                $("#SelEmp").focus();
                return false;
            }
            else if (storeid != "") {
            $('#divMain1').hide();
            $('div#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                  $.ajax({
                    type: "POST",
                    url: "/MigrateSchool/JqApprovedOtherBoardDocumentStudent", // this for calling the web method function in cs code.
                    data: '{storeid:"' + storeid + '",Action:"2",selEmp:"' + selEmp + '" }',// user name or email value  //
                        contentType: "application/json; charset=utf-8",
                            dataType: "json",
                                success: OnSuccess,
                    failure: function (response) {
                        alert(response);
                        $('#divMain1').show();
                        $('div#loading1').empty();
                    }
            });
    function OnSuccess(response) {
         if (response.dee == "") {
                alert("Something Went Wrong, Please Try Again.");
                $('#divMain1').show();
                $('div#loading1').empty();
         }
         else if (response.dee == "-1") {
             alert("Failure, Please Try Again.");
             $('#divMain1').show();
             $('div#loading1').empty();
         }
            else {
                window.location.href = '/MigrateSchool/ViewAllotRegNo/@ViewBag.schlCode';
                alert("Dis Approved Successfully");
                $('#divMain1').show();
                $('div#loading1').empty();

            }
    }
            }

        });

    //End DisApproved

    //End Action

    $("#btnemail").click(function () {
        var schlid = "";
        schlid = $('#SchlCode').val();;
        // alert(schlid);
        //alert(schlid);
        if (schlid != "") {
            $('#divMain1').hide();
            $('div#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            $.ajax({
                type: "POST",
                url: "/MigrateSchool/jqSendReg", // this for calling the web method function in cs code.
                data: '{Schl:"' + schlid + '",Act:"E" }',// user name or email value  //
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                }
            });
            function OnSuccess(response) {
                if (response.status == "") {
                    alert("Email Not Sent, Please Try Again");
                    $('#divMain1').show();
                    $('div#loading1').empty();
                }
                else {
                    window.location.href = '/MigrateSchool/ViewAllotRegNo/@ViewBag.schlCode';
                    alert("Email Send Successfully");
                    $('#divMain1').show();
                    $('div#loading1').empty();
                }
            }
        }
    });

    $("#btnsms").click(function () {
        var schlid = "";
        schlid = $('#SchlCode').val();;
        // alert(schlid);
        if (schlid == "") {
            alert("School Not Found.");
        }
        else if (schlid != "") {
            $('#divMain1').hide();
            $('div#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            $.ajax({
                type: "POST",
                url: "/MigrateSchool/jqSendReg", // this for calling the web method function in cs code.
                data: '{Schl:"' + schlid + '",Act:"S" }',// user name or email value  //
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                }
            });
            function OnSuccess(response) {
                if (response.status == "") {
                    alert("SMS Not Sent, Please Try Again");
                    $('#divMain1').show();
                    $('div#loading1').empty();
                }
                else {
                    window.location.href = '/MigrateSchool/ViewAllotRegNo/@ViewBag.schlCode';
                    alert("SMS Sent Successfully");
                    $('#divMain1').show();
                    $('div#loading1').empty();
                }
            }
        }
    });
        //End Action

    });




</script>

<script>
    $(document).ready(function () {
        var value = document.getElementById('SelFilter').value;
        
        
        if (value == 6) {
            $("#SearchString").datepicker("enable");
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                return false;

            });
            $("#SearchString").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: '0'
                //maxDate: '-10Y',

            });

        }
        else if (value == 3 || value == 4 || value == 5) {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                var keyCode = (evt.which) ? evt.which : evt.keyCode
                if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32) {
                    alert("Only Characters Allowed!!");
                    return false;
                }
                else {
                    return true;
                }

            });
        }

        else {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
        }
    });

    var form = $("#searchform").serialize();
    $("#btnNext").click(function () {
        $.ajax({
            url: 'RegistrationPortal/Next',
            data: { currentPageIndex: document.getElementById('currentPageIndex').value, form },
            success: function (response) {
                $("body").html(response);
            }
        });
    });

    $("#btnPrevious").click(function () {
        $.ajax({
            url: 'RegistrationPortal/Previous',
            data: { currentPageIndex: document.getElementById('currentPageIndex').value },
            success: function (response) {
                $("body").html(response);
            }
        });
    });

    $("#SelFilter").change(function () {
        var value = document.getElementById('SelFilter').value;
        $('#SearchString').val('');
        if (value == 6) {
            $("#SearchString").datepicker("enable");
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                return false;

            });
            $("#SearchString").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: '0'
                //maxDate: '-10Y',

            });

        }
        else if (value == 3 || value == 4 || value == 5) {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                var keyCode = (evt.which) ? evt.which : evt.keyCode
                if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32) {
                    alert("Only Characters Allowed!!");
                    return false;
                }
                else {
                    return true;
                }

            });
        }

        else {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
        }

    });

</script>

@* Start Disable CTRL/F12/RightClick By Rohit *@
<script type="text/javascript">
    $(document).ready(function () {
        //////////CTRL Key and F12 disable code////////////////////////
        document.onkeypress = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123) {
                alert('F12 key not allowed');
                return false;
            }
            else if (event.keyCode == 17) {
                alert('ctrl key not allowed');
                return false;
            }
        }
        document.onmousedown = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123) {
                alert('F12 key not allowed');
                return false;
            }
            else if (event.keyCode == 17) {
                alert('ctrl key not allowed');
                return false;
            }
        }
        document.onkeydown = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123) {
                alert('F12 key not allowed');
                return false;
            }
            else if (event.keyCode == 17) {
                alert('ctrl key not allowed');
                return false;
            }
        }

        /////////////////////Right Click Disable///////////////////////

        var isNS = (navigator.appName == "Netscape") ? 1 : 0;
        if (navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN || Event.MOUSEUP);
        function mischandler() {
            return false;
        }
        function mousehandler(e) {
            var myevent = (isNS) ? e : event;
            var eventbutton = (isNS) ? myevent.which : myevent.button;
            if ((eventbutton == 2) || (eventbutton == 3)) {
                alert('right click not allowed');
                return false;
            }
        }
        document.oncontextmenu = mischandler;
        document.onmousedown = mousehandler;
        document.onmouseup = mousehandler;



    });
</script>
@* End Disable CTRL/F12/RightClick By Rohit*@