@model PSEBONLINE.Models.BankModels
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_BankLayout.cshtml";
}

<h1>Change Password</h1>


@using (Html.BeginForm("ChangePassword", "Bank", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-2">Bank Name</div>
        <div class="col-md-5"><label>@Html.DisplayFor(m => m.BANKNAME)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">Bank Code</div>
        <div class="col-md-5"><label>@Html.DisplayFor(m => m.BCODE)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">User ID</div>
        <div class="col-md-5"><label>@Html.DisplayFor(m => m.buser_id)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">Old Password</div>
        <div class="col-md-5">@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "txtOldPassword", @maxlength = "20", placeholder = "Password" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2">New Password</div>
        <div class="col-md-5">@Html.PasswordFor(m => m.Newpassword, new { @class = "form-control", id = "txtNewPassword", @maxlength = "20", placeholder = "New Password" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2">Confirm Password</div>
        <div class="col-md-5">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtConfirmPassword", @maxlength = "20", placeholder = "Confirm Password" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <input type="submit" value="Change Password" onclick="return valForm();" /> <input type="button" value="Back" onclick="    javascript:document.location.href='@Url.Action("Welcome", "Bank", new { File = "Back" })    '" /><br />&nbsp;<br />

        </div>
    </div>
}



@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
               alert("Password Changed Successfully");
                window.location.href = '@Url.Action("Welcome", "Bank")';
            </script>}
        else if(ViewData["result"].ToString() == "2")
        {
            <script type="text/javascript" language="javascript">
                alert("Old Password Not Matched");
                window.location.href = '@Url.Action("ChangePassword", "Bank")';
            </script>}
        else if (ViewData["result"].ToString() == "3")
        {
            <script type="text/javascript" language="javascript">
                alert("NewPassword and ConfirmPassword Not Matched...Please try again");
                window.location.href = '@Url.Action("ChangePassword", "Bank")';
            </script>}
        else
        {
            <script type="text/javascript" language="javascript">
                alert("Password not updated..plz try again");
                window.location.href = '@Url.Action("ChangePassword", "Bank")';
            </script>
        }
    }
}


<script type="text/javascript">
    function valForm() {       
        var txtOldPassword = document.getElementById("txtOldPassword");
        if (txtOldPassword.value == "") {
            alert("Enter Old Password");
            txtOldPassword.focus();
            return false;
        }

        var txtNewPassword = document.getElementById("txtNewPassword");
        if (txtNewPassword.value == "") {
            alert("Enter New Password");
            txtNewPassword.focus();
            return false;
        }

        var txtConfirmPassword = document.getElementById("txtConfirmPassword");
        if (txtConfirmPassword.value == "") {
            alert("Enter Confirm Password");
            txtConfirmPassword.focus();
            return false;
        }

        var txtNewPassword = document.getElementById("txtNewPassword");
        var txtConfirmPassword = document.getElementById("txtConfirmPassword");
        if (txtNewPassword.value != "" && txtConfirmPassword.value != "") {
            if (txtNewPassword.value != txtConfirmPassword.value) {
                alert("NewPassword and ConfirmPassword Not Matched");
                txtConfirmPassword.focus();
                return false;
            }
        }


        return true;
    }

</script>