@model PSEBONLINE.Models.BankModels
@{
    ViewBag.Title = "VerifyMIS";
    Layout = "~/Views/Shared/_BankLayout.cshtml";
}

<h1>Verify MIS</h1>

@using (Html.BeginForm("VerifyMIS", "Bank", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
{


    if (Session["BCODE"].ToString() == "301" || Session["BCODE"].ToString() == "302")
    { 
        <div class="row" style="padding-bottom:100px">
            <div class="col-md-4">
                Upload Only <span class="rqf">Success</span> Transactions File @Html.TextBoxFor(m => m.file, new { id = "MIS_FILE", type = "file", required = "required" })

            </div>  
            <div class="col-md-2"><br />
                <input type="submit" value="Upload" onclick="return valForm();" />
                </div>
                <div class="col-md-6 text-right"><br />
                     <a href="~/Bank/ErrorList" class="btn">Click Here to See ErrorList</a>
                    <a download="" href="~/PDF/BankSampleOnline.xls" class="btn">Click Here to Download Online Sample File</a> <input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("Welcome", "Bank", new { File = "Back" })    '" />
                </div>
            </div>
<div class="clear"></div>
<div class="row">
<div class="col-md-6">
<h1>Important Instructions:</h1>
<p style="padding-left:15px">
    1) Challan ID ( Order Id) and Challan amount(total fee) must match as mentioned in concern online portal.<br />
    2) Date and time format should be in same  as shown in sample file.<br />
    3) Payment Method  like shown in gateway online portal like CC,DC,netbanking etc
    4) Pay Status Must be <span class="rqf">Success</span> Upload Only Success Transactions
    3) You can Upload 500 Challans at a time.<br />
    5) If any Error occurs in Excel File than <span class="rqf">Error Status</span> File will be downloaded automatically,<br />
    If STATUS shows<span class="rqf">"Already Verified"</span>, Please remove those challans from the sheet<br />
    6) Kindly upload <span class="rqf">Text</span> Formated File Only.
   
</p>
</div>
<div class="col-md-6">
<img src="/images/Important_Instructions_2016.jpg" alt="Important Instructions" class="img-responsive" />
</div>
</div>
    
    
    
    }
    else { 
    
        <div class="row" style="padding-bottom:100px">
            <div class="col-md-4">
                Upload MIS Verification File @Html.TextBoxFor(m => m.file, new { id = "MIS_FILE", type = "file",  required="required" })  
                  
            </div>  
            <div class="col-md-2"><br />
                <input type="submit" value="Upload" onclick="return valForm();" />
                </div>
                <div class="col-md-6 text-right"><br />
                     <a href="~/Bank/ErrorList" class="btn">Click Here to See ErrorList</a>

                    <a download="" href="~/PDF/BankSample.xls" class="btn">Click Here to Download Sample File</a> <input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("Welcome", "Bank", new { File = "Back" })    '" />
                </div>
            </div>
<div class="clear"></div>
<div class="row">
<div class="col-md-6">
<h1>Important Instructions:</h1>
<p style="padding-left:15px">
1) Challan ID and Challan amount(total fee) must match as downloaded by Banks.<br />
2) Date and time should be in same format as shown in sample file.<br />
3) You can Upload 5000 Challans at a time.<br />
4) If any Error occurs in Excel File than <span class="rqf">Error Status</span> File will be downloaded automatically,<br />
    If challan STATUS shows<span class="rqf">"Already Verified"</span>, Please remove those challans from the sheet<br />
5) Kindly upload <span class="rqf">Text</span> Formated File Only.
    @*<img src="/images/ErrorStatusBank.png" width="500px" height="100px" alt="Important Instructions" />*@
</p>
</div>
<div class="col-md-6">
<img src="/images/Important_Instructions_2016.jpg" alt="Important Instructions" class="img-responsive" />
</div>
</div>
    }

   

}
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["Result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert('@ViewBag.Message');
                window.location.href = '@Url.Action("Welcome", "Bank")';
            </script>}      
     
        else
        {
            <script type="text/javascript" language="javascript">
                alert('@ViewBag.Message');
                //alert("File not Uploaded..plz try again");
            </script>
        }
    }
}



<script type="text/javascript">

    $(document).ready(function () {
        $('input[type=file]').change(function () {
            var val = $(this).val().toLowerCase();
            var regex = new RegExp("(.*?)\.(xlsx|xls)$");
            if (!(regex.test(val))) {
                $(this).val('');
                alert('Please select correct file format');
            }
        });
    });

</script>