@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Print_Header.cshtml";
}
<link rel="stylesheet" href="/Content/print.css" />
<style type="text/css">.header_outer{display:none}.bs-docs-footer{display:none}body{font-size:11px}td{padding:0 7px}</style>
@* <h1>Centre List Report</h1><p>
        Welcome: @if (Session["NAME"] != null)
        {@Session["NAME"].ToString()}
        else { Response.Redirect("~/DeoPortal/Index"); }
    </p>*@

@using (Html.BeginForm("ClusterListReportPrint", "DeoPortal", FormMethod.Post, new { id = "searchform" }))
{
    <table style="width:100%;" border="0" class="noprint">
        <tr>
            <td style="text-align:right;padding-bottom:3px">
                <input type="button" value="Click Here to Print" dowload class="btn" onclick="window.print()" />
                <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
            </td>
        </tr>
    </table>

    <table width="100%" border="1">
        <thead style="border:0">
            <tr>
                <td colspan="10" style="border:0;text-align:center;padding:15px 0 5px 0">
                    <span style="font-size:32px">Punjab School Education Board</span><br />
                    <span style="font-size:18px">District wise Examination Centres List For @Session["DeoSessionMonthYear"].ToString()</span>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:left;border:0">District Name: (@Session["Dist"].ToString()) @if (Session["NAME"] != null)
                    {

                        @Session["DISTNM"].ToString();
                    }
                    else { Response.Redirect("~/DeoPortal/Index"); }
                </td>
                <td colspan="5" style="text-align:right;border:0">Date :@ViewBag.Date</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:left;border:0">Lot:  </td>
                <td  colspan="5" style="text-align:right;border:0">Final Submit Date:</td>
            </tr>
            <tr class="active-tr" style="background-color:#c1c1c1 !important;color:#000">
                <th width="4%">S.No</th>
                <th width="6%">BCode</th>
                <th width="7%">CCent</th>
                <th width="15%">Block Name</th>
                <th width="42%">Block Building Name</th>
                <th width="6%"  style="text-align:center">Centres</th>
                <th width="6%"  style="text-align:center">Supdt.</th>
                <th width="6%"  style="text-align:center">D.Supdt.</th>
                <th width="7%"  style="text-align:center">Invisilator</th>
            </tr>
        </thead>
        <tbody>           
            @{
                if (ViewBag.TotalCount > 0)
                {
                    int TotCen = 0;
                    int TotSupdt = 0;
                    int TotDSupdt = 0;
                    int TotInvisilator = 0;


                    int d = 0;
                    int Count = 0;
                    if (ViewBag.pagesize == 1)
                    {
                        Count = 0;
                    }
                    else
                    {
                        Count = 10 * (ViewBag.pagesize - 1);
                    }
                    for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                    {
                        d = d + 1;
                        var CCODE = Model.StoreAllData.Tables[0].Rows[i]["CCODE"].ToString();
                        var CCENT = Model.StoreAllData.Tables[0].Rows[i]["CCENT"].ToString();
                        var clustername = Model.StoreAllData.Tables[0].Rows[i]["clusternam"].ToString();
                        var Buildingname = Model.StoreAllData.Tables[0].Rows[i]["BuldingName"].ToString();
                        int centres = Convert.ToInt32(Model.StoreAllData.Tables[0].Rows[i]["cnt"].ToString());
                        int Supdt = Convert.ToInt32(Model.StoreAllData.Tables[0].Rows[i]["spdt"].ToString());
                        int DSUPDT = Convert.ToInt32(Model.StoreAllData.Tables[0].Rows[i]["dspdt"].ToString());
                        int invisi = Convert.ToInt32(Model.StoreAllData.Tables[0].Rows[i]["invg"].ToString());

                        // var TotSrSEC = RSEC + OSEC;
                        TotCen = TotCen + centres;
                        TotSupdt = TotSupdt + Supdt;
                        TotDSupdt = TotDSupdt + DSUPDT;
                        TotInvisilator = TotInvisilator + invisi;

                        Count = Count + 1;
                        <tr>
                            <td>@Count</td>
                            <td>@CCODE</td>
                            <td>@CCENT</td>
                            <td>@clustername</td>
                            <td>@Buildingname</td>
                            @*<td>@District</td>*@
                            <td align="center">@centres</td>
                            <td align="center">@Supdt</td>
                            <td align="center">@DSUPDT</td>
                            <td align="center">@invisi</td>

                            @*<td>
                                    <button type="button" class="" data-toggle="modal" data-target="#myModal-@d">View Details</button>

                                </td>*@
                        </tr>

                        if (d == ViewBag.TotalCount)
                        {
                            <tr style="background-color:#c1c1c1">
                                <td colspan="5" align="right">
                                    Total Count
                                </td>
                                <td align="center">
                                    @TotCen

                                </td>
                                <td align="center">
                                    @TotSupdt
                                </td>
                                <td align="center">
                                    @TotDSupdt
                                </td>
                                <td align="center">
                                    @TotInvisilator
                                </td>
                                
                            </tr>
                            <tr class="noprint">
                                @*<td colspan="6">
                                        Page @ViewBag.pagesize of @ViewBag.pn
                                        &nbsp;
                                        @if (ViewBag.pagesize == 1)

                                        {
                                            @:<<

                                            @Html.Raw("&nbsp;");

                                            @:< Prev
                                            @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                            if (ViewBag.pn > ViewBag.pagesize)
                                            {
                                                @Html.ActionLink("Next >", "CentreReport", new { page = ViewBag.pagesize + 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink(">>", "CentreReport", new { page = ViewBag.pn })
                                            }
                                        }
                                        else
                                        {
                                            if (TempData["CenterListSelDist"] != null)
                                            {
                                                string str1 = TempData.Peek("CenterListSelDist").ToString();
                                                string str2 = TempData.Peek("CenterListSelectList").ToString();
                                                string str3 = TempData.Peek("CenterListSearchString").ToString();
                                                //string str4 = TempData.Peek("ImportData10thClassSession").ToString();
                                                TempData["CenterListSelDist"] = str1;
                                                TempData["CenterListSelectList"] = str2;
                                                TempData["CenterListSearchString"] = str3;
                                                // TempData["ImportData10thClassSession"] = str4;
                                            }
                                            @Html.ActionLink("<<", "CentreReport", new { page = 1 })

                                            @Html.Raw("&nbsp;");

                                            @Html.ActionLink("< Prev", "CentreReport", new { page = ViewBag.pagesize - 1 })
                                            @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                            if (ViewBag.pn > ViewBag.pagesize)
                                            {
                                                @Html.ActionLink("Next >", "CentreReport", new { page = ViewBag.pagesize + 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink(">>", "CentreReport", new { page = ViewBag.pn })
                                            }

                                        }


                                    </td>*@
                                <td colspan="10" style="text-align:right" class="rqf">Total Records(Filtered): @ViewBag.TotalCount1</td>
                            </tr>

                        }
                    }

                }
                else
                {
                    <tr class="noprint">
                        <td colspan="12">
                            @ViewBag.Message
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <div class="row" style="display:none">
        <div class="col-md-12 text-center">
            <input type="button" value="Back" onclick="history.go(-1);" />
            <input type="Submit" value="Click Here to Download & Print" />
        </div>
        <div class="clearfix"></div>
        @*<div class="col-md-1">Total </div>
            <div class="col-md-2"><label>@ViewBag.TotalCount1</label></div>*@

        <div class="col-md-12">
            <br />
            <table style="width:100%">
                <tr>
                    <td colspan="2" style="text-align:center"></td>
                </tr>

            </table>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="t01"></table>

            </div>
        </div>
    </div>

                }

<script>

                        function dee() {

                            if ($("#SelDist").val() == "") {

                                $("#reqsession").slideDown("slow");
                                return false;
                            }
                            if ($("#Category").val() != "0" && $("#SearchString").val() == "") {

                                $("#reqsellist").slideDown("slow");
                                return false;
                            }

                                //else if ($("#SelDist").val() != "" && $("#Category").val() != "" && $("#SearchString").val() == "") {
                                //    $("#reqsellist").slideUp("slow");
                                //    $("#reqsstring").slideDown("slow");
                                //    return false;
                                //}
                            else
                                return true;

                        }
                        $(document).ready(function () {

                            $("#SelDist").change(function () {
                                if ($("#SelDist").val() == "") {
                                    // $("#SearchString").focus(function () { $("#reqsellist").slideUp("slow"); });
                                    $("#reqsession").slideDown("slow");
                                }
                                else {
                                    $("#reqsession").slideUp("slow");
                                }

                            });

                        });


                        var form = $("#searchform").serialize();
                        $("#btnNext").click(function () {
                            $.ajax({
                                url: 'DeoPortal/Next',
                                data: { currentPageIndex: document.getElementById('currentPageIndex').value, form },
                                success: function (response) {
                                    $("body").html(response);
                                }
                            });
                        });

                        $("#btnPrevious").click(function () {
                            $.ajax({
                                url: 'DeoPortal/Previous',
                                data: { currentPageIndex: document.getElementById('currentPageIndex').value },
                                success: function (response) {
                                    $("body").html(response);
                                }
                            });
                        });



</script>
