@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Print_Header.cshtml";
}
    <link rel="stylesheet" href="/Content/Print-4P.css" />
<style type="text/css">
    .header_outer {
        display: none;
    }

    .bs-docs-footer {
        display: none;
    }

    body {
        font-size: 11px;
    }

    td {
        padding: 0 7px;
    }
</style>

@* <h1>Centre List Report</h1><p>
        Welcome: @if (Session["NAME"] != null)
        {@Session["NAME"].ToString()}
        else { Response.Redirect("~/DeoPortal/Index"); }
    </p>*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("NewAppointmentLetter", "DeoPortal", FormMethod.Post, new { id = "searchform" }))
            {
                <table style="width:100%;" border="0" class="noprint">
                    <tr>
                        <td style="text-align:right;padding-bottom:3px">
                            <input type="button" value="Click Here to Print" dowload class="btn" onclick="window.print()" />
                            <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
                        </td>
                    </tr>
                </table>

                <table style="width:100%;" border="1">
                    <thead style="border:0">
                        <tr>
                            <td width="10%"><img src="~/Images/Printlogo.jpg" alt="PSEB" width="75" height="75" /></td>
                            <td colspan="12" style="border:0;text-align:center;padding:15px 0 5px 0">
                                <span style="font-size:32px">Punjab School Education Board</span><br />
                                <span style="font-size:18px">Replaced Staff Appointment letter for Examination (Re-Appear) July 2023</span>
                            </td>
                        </tr>
                        <tr>
<td colspan="13">Letter No. : SPL/CB/1001-9991 </td>
</tr>
<tr>
                            <td colspan="13" style="text-align:right;border:0">Print Date: @ViewBag.Date</td>
                        </tr>
                    </thead>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {
                            int d = 0, p = 0;
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                d = d + 1;
                                var id = Model.StoreAllData.Tables[0].Rows[i]["id"].ToString();
     var ocentnm = Model.StoreAllData.Tables[0].Rows[i]["ocentnm"].ToString();
var nocentnm = Model.StoreAllData.Tables[0].Rows[i]["nocentnm"].ToString();
                                var Oepunjabid = Model.StoreAllData.Tables[0].Rows[i]["Oepunjabid"].ToString();
                                var odistnm = Model.StoreAllData.Tables[0].Rows[i]["odistnm"].ToString();
                                var occode = Model.StoreAllData.Tables[0].Rows[i]["occode"].ToString();
                                var ocent = Model.StoreAllData.Tables[0].Rows[i]["ocent"].ToString();
                                var ostaffid = Model.StoreAllData.Tables[0].Rows[i]["ostaffid"].ToString();
                                var dutyType = Model.StoreAllData.Tables[0].Rows[i]["dutyType"].ToString();
                                var oname = Model.StoreAllData.Tables[0].Rows[i]["oname"].ToString();
                                var Ofname = Model.StoreAllData.Tables[0].Rows[i]["Ofname"].ToString();
                                var OCadreDesi = Model.StoreAllData.Tables[0].Rows[i]["OCadreDesi"].ToString();
                                var oschlnm = Model.StoreAllData.Tables[0].Rows[i]["oschlnm"].ToString();
                                var omobile = Model.StoreAllData.Tables[0].Rows[i]["omobile"].ToString();
                                var Nepunjabid = Model.StoreAllData.Tables[0].Rows[i]["Nepunjabid"].ToString();
                                var ndist = Model.StoreAllData.Tables[0].Rows[i]["ndist"].ToString();
                                var noccode = Model.StoreAllData.Tables[0].Rows[i]["noccode"].ToString();
                                var nocent = Model.StoreAllData.Tables[0].Rows[i]["nocent"].ToString();
                                var nstaffid = Model.StoreAllData.Tables[0].Rows[i]["nstaffid"].ToString();
                                var NdutyType = Model.StoreAllData.Tables[0].Rows[i]["NdutyType"].ToString();
                                var nname = Model.StoreAllData.Tables[0].Rows[i]["nname"].ToString();
                                var Nfname = Model.StoreAllData.Tables[0].Rows[i]["Nfname"].ToString();
                                var NCadreDesi = Model.StoreAllData.Tables[0].Rows[i]["NCadreDesi"].ToString();
                                var nschlnm = Model.StoreAllData.Tables[0].Rows[i]["nschlnm"].ToString();
                                var nmobile = Model.StoreAllData.Tables[0].Rows[i]["nmobile"].ToString();
                                var ecentre = Model.StoreAllData.Tables[0].Rows[i]["ecentre"].ToString();
                                var schoole = Model.StoreAllData.Tables[0].Rows[i]["schoole"].ToString();
                                var distnm = Model.StoreAllData.Tables[0].Rows[i]["distnm"].ToString();
                                var insdate = Model.StoreAllData.Tables[0].Rows[i]["insdate"].ToString();
                                //var centredate = Model.StoreAllData.Tables[0].Rows[i]["centredate"].ToString();
                                var reason = Model.StoreAllData.Tables[0].Rows[i]["reason"].ToString();
                                var userid = Model.StoreAllData.Tables[0].Rows[i]["userid"].ToString();
 var CENTRENAME = Model.StoreAllData.Tables[0].Rows[i]["ecentre"].ToString();
                                <tr>
                                    <td colspan="12" style="padding:15px 0 0 0;border-top:0" align="center">
                                        <table width="100%" border="1" align="center">
                                            <tr>
                                                <td colspan="8" style="text-align:center;font-size:18px;"><b> OLD STAFF DETAILS</b></td>
                                            </tr>
                                            <tr>
                                                <td width="18%">Block Code</td> <td>@occode</td>
<td>Cent Code</td> <td>@ocent / @ocentnm</td>
<td>Dist</td> <td>@odistnm</td>
<td>Mob No.</td> <td>@omobile</td>
                                            </tr>
                                            <tr>
                                                <td>Staff/ Father Name (ePunjab Id)</td>
<td colspan="7">@oname / @Ofname (@Oepunjabid) </td>
                                            </tr>
                                            <tr>
                                                <td>Staff Cadre</td> <td colspan="3">@OCadreDesi</td>
                                            
                                                <td>School Name</td> <td colspan="3">@oschlnm</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="padding:15px 0 0 0;border-top:0" align="center">
                                        <table width="100%" border="1" align="center">
                                            <tr>
                                                <td colspan="8" style="text-align:center;font-size:18px;"><b> REVISED STAFF DETAILS </b></td>
                                            </tr>
                                            <tr>
                                                <td width="18%">Block Code</td> <td>@noccode</td>
<td>Cent Code </td> <td>@nocent / @nocentnm</td>
<td>Dist</td> <td>@distnm</td>
<td>Mob No.</td> <td>@nmobile</td>
                                            </tr>
                                            <tr>
                                                <td>Staff/ Father Name (ePunjab Id)</td>
<td colspan="7">@nname / @Nfname (@Nepunjabid) </td>                                            
<tr>
                                                <td >Staff Cadre </td> <td colspan="3">@NCadreDesi</td>
 <td>School Name </td> <td colspan="3">@nschlnm</td>
                                            </tr>
                                          
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="height:20px;border-top:0;border-bottom:1px dashed #000"></td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="height:20px;border-top:0;border-bottom:1px #000"></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Created By</td>
                                    <td colspan="3">@userid</td>
                                    <td colspan="2">Created Date and Time</td>
                                    <td colspan="3">@insdate</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Type of Duty</td>
                                    <td colspan="3" style="font-size:20px">@NdutyType</td>
                                    <td colspan="2">EPunajb ID</td>
                                    <td colspan="3">@Nepunjabid</td>
                                </tr>
                                @*<tr>
                                        <td colspan="2">Centre Name</td>
                                        <td colspan="3">@ecentre</td>
                                        <td colspan="2">Centre Code</td>
                                        <td colspan="3">@nocent</td>
                                    </tr>*@
                                <tr>
                                    <td colspan="12" style="height:20px;border-top:0;border-bottom:1px dashed #000"></td>
                                </tr>
<tr>
<td colspan="12" style="font-size:13px;padding:15px 4px 60px 4px"><b>Note :</b> Instructions For Superintendent and Deputy Controller Vigilance  will remain as it is.</td>
</tr>

<td style="font-size:13px;text-align:right;vertical-align:bottom" colspan="12">
                                                            <br />
                                                           
                                                            @*Deputy Secretary*@
															<img src="http://www.registration2021.pseb.ac.in/Images/MohinderSingh-Sign-Deo.jpg" /><br />
                               Assistant Secretary (Conduct)<br />
                                                            For Secretary.
                                                        </td>

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    }

                </table>


            }

            </div></div>
    </div>
