@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}
<style type="text/css">
    .ullist li {
        padding: 6px 4px;
        font-size: 16px;
    }

    .ullist {
        padding-bottom: 10px;
    }

        .ullist samp {
            color: #ff6a00;
            font-weight: normal
        }
		
		ullist:first-child {
  color: lime;
  background-color: black;
  padding: 5px;
}
</style>

<div class="container KDBG">
    <h1>Notice Board</h1>
    <div class="row">
        <div class="col-md-12">

            <ul class="ullist" style="padding-bottom:120px">
			<li>
                        <a href="https://psebdata.s3.ap-south-1.amazonaws.com/allfiles/Circular/2021202.pdf" target="_blank">
                            <samp>❭</samp><span style="color:#ff0000">29/04/2022</span>
                            General Instructions for Observer Duty in April 2022
<img src="/images/new.gif" alt="new">                        </a>
                </li>
                @{

                    if (ViewBag.TotalCircular > 0)
                    {
                        int d = 0;
                        int Count = 0;
                        if (ViewBag.pagesize == 1)
                        {
                            Count = 0;
                        }
                        else
                        {
                            Count = 15 * (ViewBag.pagesize - 1);
                        }
                        DateTime sDate = DateTime.Today;
                        @*if (ViewBag.MarqueCount == 1)
                    {
                        <marquee onmouseout="this.setAttribute('scrollamount', 6, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" direction="left" scrollamount="4" style="padding:10px 0;cursor:pointer;background-color:#f0ad4e">

                            @for (int i = 0; i < Model.dsMarque.Rows.Count; i++)
                            {
                                var ID = Model.dsMarque.Rows[i]["ID"].ToString();
                                var CircularNo = Model.dsMarque.Rows[i]["CircularNo"].ToString();
                                var Title = Model.dsMarque.Rows[i]["Title"].ToString();
                                var UploadDate = Model.dsCircular.Rows[i]["UploadDateDD"].ToString().Split(' ')[0];
                                var ExpiryDate = Model.dsCircular.Rows[i]["ExpiryDateDD"].ToString().Split(' ')[0];
                                var Category = Model.dsMarque.Rows[i]["IsMarque"].ToString() == "1" ? "Marque" : "Circulars";
                                var Status = Model.dsMarque.Rows[i]["IsActive"].ToString().ToLower() == "true" ? "Active" : "De-Active";
                                var CreatedDate = Model.dsMarque.Rows[i]["CreatedDate"].ToString();
                                var UpdatedDate = Model.dsMarque.Rows[i]["UpdatedDate"].ToString();
                                var Attachment = Model.dsMarque.Rows[i]["Attachment"].ToString();
                                Count = i + 1;
                                DateTime eDate = DateTime.ParseExact(ExpiryDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);

                                if (Model.dsMarque.Rows[i]["IsMarque"].ToString() == "1" && (sDate <= eDate))
                                {
                                    <span> !!@Title &nbsp; &nbsp;| &nbsp; &nbsp;</span>
                                }
                            }
                        </marquee>
                    }*@

                if (ViewBag.CircularCount == 1)
                {
                    for (int i = 0; i < Model.dsCircular.Rows.Count; i++)
                    {
                        d = d + 1;
                        var ID = Model.dsCircular.Rows[i]["ID"].ToString();
                        var CircularNo = Model.dsCircular.Rows[i]["CircularNo"].ToString();
                        var Title = Model.dsCircular.Rows[i]["Title"].ToString();
                        var UploadDate = Model.dsCircular.Rows[i]["UploadDateDD"].ToString().Split(' ')[0];
                        var ExpiryDate = Model.dsCircular.Rows[i]["ExpiryDateDD"].ToString().Split(' ')[0];
                        var Category = Model.dsCircular.Rows[i]["IsMarque"].ToString() == "1" ? "Marque" : "Circulars";
                        var Status = Model.dsCircular.Rows[i]["IsActive"].ToString().ToLower() == "true" ? "Active" : "De-Active";
                        var NewFlag = Model.dsCircular.Rows[i]["NewFlag"].ToString();
                        var Attachment = Model.dsCircular.Rows[i]["Attachment"].ToString();
                        var UrlLink = Model.dsCircular.Rows[i]["UrlLink"].ToString();
                        Count = Count + 1;
                        DateTime eDate = DateTime.ParseExact(ExpiryDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);

                        if (Model.dsCircular.Rows[i]["IsMarque"].ToString() != "1" && (sDate <= eDate))
                        {
                <li>
                    @if (!string.IsNullOrEmpty(UrlLink))
                    {
                        <a href='@UrlLink' target="_blank" title="click here to open link">
                            <samp>&#10093;</samp><span style="color:#ff0000">@UploadDate</span>
                            @Title
                            @if (NewFlag == "1")
                            {<img src="/images/new.gif" alt="new" />}
                        </a>
                    }
                    else if (!string.IsNullOrEmpty(Attachment))
                    {
                        <a href="/@Attachment" target="_blank">
                            <samp>&#10093;</samp><span style="color:#ff0000">@UploadDate</span>
                            @Title
                            @if (NewFlag == "1")
                            {<img src="/images/new.gif" alt="new" />}
                        </a>
                    }
                </li>
                                }

                                //paging
                                if (d == ViewBag.TotalCircular)
                                {
                                    <li>

                                        Page @ViewBag.pagesize of @ViewBag.pn
                                        &nbsp;
                                        @if (ViewBag.pagesize == 1)
                                        {
                                            @:<<
                                            @Html.Raw("&nbsp;");
                                            @:< Prev
                                            @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                            if (ViewBag.pn > ViewBag.pagesize)
                                            {
                                                @Html.ActionLink("Next >", "NoticeBoard", new { page = ViewBag.pagesize + 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink(">>", "NoticeBoard", new { page = ViewBag.pn })
                                            }
                                        }
                                        else
                                        {
                                            @Html.ActionLink("<<", "NoticeBoard", new { page = 1 })

                                            @Html.Raw("&nbsp;");

                                            @Html.ActionLink("< Prev", "NoticeBoard", new { page = ViewBag.pagesize - 1 })
                                            @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                            if (ViewBag.pn > ViewBag.pagesize)
                                            {
                                                @Html.ActionLink("Next >", "NoticeBoard", new { page = ViewBag.pagesize + 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink(">>", "NoticeBoard", new { page = ViewBag.pn })
                                            }

                                        }
                                    </li>
                                }


                            }
                        }
                    }
                }
            </ul>


            <ul class="ullist" style="display:none">
                <li><samp>&#10093;</samp> <span style="color:#ff0000">22.03.2018</span> - <a href="/PDF/information.pdf" target="_blank" class="listitm">Instructions Regarding Practical Chart of Matric & Sr Sec for Practical Exam, March 2018<img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp> <a href="/PDF/Elect_Subject_for_all_schools.pdf" target="_blank" class="listitm">Instruction Regarding theory Exam for Elective Subject of Matriculation Class, March 2018 <img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp> <a href="/PDF/Letter_Conf.pdf" target="_blank">Regarding exam of HOT Subject of NSQF (Senior Secondary)  <img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp> <a href="/PDF/centre_controller_submit_answer_sheet_letter.pdf" target="_blank">Letter regarding submission of answer sheets at collection centre.. <img src="/images/new.gif" alt="new" /></a></li>

                <li><samp>&#10093;</samp> <a href="/PDF/Letter_Centre_Nigran_Aml.pdf" target="_blank">Letter regarding Exam Duty timing for Supervisory Staff in March 2018. <img src="/images/new.gif" alt="new" /></a></li>

                <li><samp>&#10093;</samp> <a href="/PDF/letter25022017.pdf" target="_blank">Letter regarding exam duty of matric/ Sr Sec March 2018. <img src="/images/new.gif" alt="new" /></a></li>

                <li><samp>&#10093;</samp> <a href="/PDF/Staff_Instructions.pdf" target="_blank">Instruction regarding exam duty for Supervisory staff, March 2018. <img src="/images/new.gif" alt="new" /></a></li>

                <li><samp>&#10093;</samp> <a href="/PDF/centre controller Old Answer Sheet.pdf" target="_blank">Letter Regarding Use of Old Answer Sheet in Exam <img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp>  <a href="/PDF/DEO Centre Shifted of Anandpur.pdf" target="_blank">Letter Regarding Shift Exam Centre Due to Hola Mahalla in Anandpur Sahib <img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp> <a href="/PDF/deo exam Arrangements.pdf" target="_blank">Letter Regarding Arrangements While Exam of Matric & Sr. Sec March 2018. <img src="/images/new.gif" alt="new" /></a></li>


                <li><samp>&#10093;</samp> <a href="/PDF/10th_Date_Sheet.pdf" target="_blank">Date Sheet of Matriculation Exam (Theory), March 2018 <img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp> <a href="/PDF/12th_Date_Sheet.pdf" target="_blank">Date Sheet of Senior Secondary Exam (Theory), March 2018 <img src="/images/new.gif" alt="new" /></a></li>

                <li><samp>&#10093;</samp> <a href="/PDF/Datesheetpractical_March2018.pdf" target="_blank">Date Sheet of Matriculation  & Senior Secondary Exam (Practical), March 2018 <img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp> <a href="/PDF/Centre_Controller_Letter_Question_Paper_Safe_Custody.pdf" target="_blank">Letter For Controller Regarding Safe Custody of Question Papers in Banks of Matriculation  & Senior Secondary Exam, March 2018 <img src="/images/new.gif" alt="new" /></a></li>


                <li>
                    <samp>&#10093;</samp>
                    <a href="/PDF/DEo_ExamConduct.PDF" target="_blank"> Instructions Regarding Conduct of Exam, March 2018 <img src="/images/new.gif" alt="new" /></a>
                </li>
                <li>
                    <samp>&#10093;</samp>
                    <a href="/PDF/centre_controller_regarding_Payment.PDF" target="_blank"> Letter Regarding Exam Related Payments For Exam March 2018 <img src="/images/new.gif" alt="new" /></a>
                </li>
                <li>
                    <samp>&#10093;</samp>
                    <a href="/PDF/DEO Nigran Amla.pdf" target="_blank"> Instructions for Centre Controller regarding appointment of supervisory staff in Exam Centre for Matric/Sr. Sec, March 2018 <img src="/images/new.gif" alt="new" /></a>
                </li>
                <li>
                    <samp>&#10093;</samp>
                    <a href="/PDF/Information-For-Model-Test-Paper.pdf" target="_blank"> Regarding Information For Model Test Paper of Science Subject For class 10th <img src="/images/new.gif" alt="new" /></a>
                </li>
                <li>
                    <samp>&#10093;</samp>
                    <a href="/PDF/DEO-Letter-30-01-2018.pdf" target="_blank"> Letter Regarding sitting plan of Exam Centres for Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                </li>


                @if (Session["USER"].ToString().Replace("DEO_", "") == "010")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>

                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>

                }
                else if (Session["USER"].ToString().Replace("DEO_", "") == "020")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                else if (Session["USER"].ToString().Replace("DEO_", "") == "025")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                else if (Session["USER"].ToString().Replace("DEO_", "") == "030")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "040")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "045")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "050")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "060")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "070")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "080")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "090")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "100")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "110")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "120")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "130")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "140")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "145")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "150")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "160")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "165")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "170")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
                @if (Session["USER"].ToString().Replace("DEO_", "") == "175")
                {
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdfn/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Revised Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018 <img src="/images/new.gif" alt="new" /></a>
                    </li>
                    <li>
                        <samp>&#10093;</samp>
                        <a href="@("/Deopdf/"+Session["USER"].ToString().Replace("DEO_","")+".pdf")" target="_blank">Exam Centre wise sitting plans of schools for Matric & Senior Secondary Exam March, 2018</a>
                    </li>
                }
            </ul>
            @*<ul class="ullist">
            <li><samp>&#10093;</samp> <span style="color:#ff0000">19.06.2017</span> - <a href="/PDF/centremaster.pdf" target="_blank">Building Notice for Matric /Sr. Sec. Supplementary Exam June 2017. <img src="/images/new.gif" alt="new" /></a></li>
            <li>
                <samp>&#10093;</samp> <span style="color:#ff0000">03.04.2017</span> - <a href="/PDF/BookList_060417.pdf" target="_blank">Status of books from class I to XII prepared by the Board for academic year 2017-18</a></li>
                @if (@ViewBag.Deouid == 124)
                {
                <li><samp>&#10093;</samp> <span style="color:#ff0000">03.03.2017</span> - @Html.ActionLink("C-55 Letter", "SupervisoryStaffList", "DeoPortal")</li>
                }
            <li><samp>&#10093;</samp> <span style="color:#ff0000">03.03.2017</span> - <a href="/PDF/Regarding-Collect-Q-Paper.pdf" target="_blank">Regarding collection of Question Papers also from student while collecting answer sheet. </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">02.03.2017</span> - <a href="/PDF/Observer-duty-instruction-02-03-2017.pdf" target="_blank">Instructions for Centre Controller/Superintendent/Observers </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">27.02.2017</span> - <a href="/PDF/UMC_Deo_Portal_report_form_27-02-2017001.pdf" target="_blank">UMC Deo PortalReport form 27-02-2017001</a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">18.02.2017</span> - <a href="/PDF/Deo_Exam_18022017.pdf" target="_blank">Instructions for District Education Officers regarding  Matric/SrSec Exam March 2017</a></li>

        </ul>*@

        </div>
    </div>
</div>



