@model PSEBONLINE.Models.AffiliationModel
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .tbl td {padding:4px
    }
</style>
<div class="row">
<div class="col-md-12">@Html.Partial("_AffiliationHeading")</div>
<div class="clearfix"></div>
  <div class="col-md-3">    
@Html.Partial("_AffiliationMenu")        
    </div>
    <div class="col-md-9">
        <h4>Other information & Activities</h4>
@using (Html.BeginForm("Activities", "AffiliationContinuation", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
{
<table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1" class="tbl">
    <tr class="active-tr">
        <td width="5%">Sr No</td>
        <td>Type</td>
        <td>Count</td>
    </tr>
    @*<tr style="display:none">
        <td>1</td>
        <td>Count of Sports Candidates (District Level)</td>
        <td>@Html.TextBoxFor(a => a.ASDIST, new { @maxlength = "7", onkeypress = "return isNumberKey(event);" })</td>
    </tr>
    <tr style="display:none">
        <td>2</td>
        <td>Count of Sports Candidates (Zone Level)</td>
        <td>@Html.TextBoxFor(a => a.ASZONE, new { @maxlength = "7", onkeypress = "return isNumberKey(event);" })</td>
    </tr>
    <tr style="display:none"> 
        <td>3</td>
        <td>Count of Sports Candidates (National Level)</td>
        <td>@Html.TextBoxFor(a => a.ASNATIONAL, new { @maxlength = "7", onkeypress = "return isNumberKey(event);" })</td>
    </tr>
    <tr style="display:none">
        <td>4</td>
        <td>Count of Sports Candidates (Inter National Level)</td>
        <td>@Html.TextBoxFor(a => a.ASINTER, new { @maxlength = "7", onkeypress = "return isNumberKey(event);" })</td>
    </tr>
    <tr style="display:none">
        <td>5</td>
        <td>Count of Sports Candidates (State Level)</td>
        <td>@Html.TextBoxFor(a => a.ASSTATE, new { @maxlength = "7", onkeypress = "return isNumberKey(event);" })</td>
    </tr>*@
    <tr>
        <td>1</td>
        <td>If any case is pending in court against the institution ? (If Yes, then attach copy)<span class="rqf">*</span></td>
        <td>@Html.DropDownListFor(m => m.OI1, new SelectList(ViewBag.YesNoList, "Value", "Text"), "--Select ---", new { })</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Does your institute have transport facility as per Govt. rules & regulations ?<span class="rqf">*</span></td>
        <td>@Html.DropDownListFor(m => m.OI2, new SelectList(ViewBag.YesNoList, "Value", "Text"), "--Select ---", new { @required = "required", })</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Does your institute pay salaries to employees as per affiliation regulation 7 (III)?<span class="rqf">*</span></td>
        <td>@Html.DropDownListFor(m => m.OI3, new SelectList(ViewBag.YesNoList, "Value", "Text"), "--Select ---", new { @required = "required", })</td>
    </tr>
    <tr>
        <td>4</td>
        <td>R.O. Drinking water facility?<span class="rqf">*</span></td>
        <td>@Html.DropDownListFor(m => m.OI4, new SelectList(ViewBag.YesNoList, "Value", "Text"), "--Select ---", new { @required = "required", })</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Seperate toilet for Boys & Girls ?<span class="rqf">*</span></td>
        <td>@Html.DropDownListFor(m => m.OI5, new SelectList(ViewBag.YesNoList, "Value", "Text"), "--Select ---", new { @required = "required", })</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Play ground under institute premises ?<span class="rqf">*</span></td>
        <td>@Html.DropDownListFor(m => m.OI6, new SelectList(ViewBag.YesNoList, "Value", "Text"), "--Select ---", new { @required = "required", })</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Display board for special candidates facilities ?<span class="rqf">*</span></td>
        <td>@Html.DropDownListFor(m => m.OI7, new SelectList(ViewBag.YesNoList, "Value", "Text"), "--Select ---", new { @required = "required", })</td>
    </tr>
    <tr>
        <td colspan="3">Other Activities & Achievements</td>
    </tr>
    <tr>
        <td colspan="3">@Html.TextAreaFor(a => a.AOTH, new { @maxlength = "1000" })</td>
    </tr>
</table>

        <div style="text-align:center" class="tbp">
            @if (string.IsNullOrEmpty(Model.ChallanId))
            {
                <input type="submit" name="submit" value="SAVE" />
            }
            <a href="/AffiliationContinuation/Index" class="btn">Back</a>
        </div>

    
}
</div>
</div>


@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                </script>}
            else
            {
                <script type="text/javascript" language="javascript">
                     alert("Submit Failure, Please Try Again");
                </script>
            }
        }
    }
}