@model PSEBONLINE.Models.ReportModel
<h1 style="text-align:center">Form Wise Report</h1>
<table class="table table-bordered" id="tformwise">
    <tr class="active-tr">
        <th>Form Name</th>
        <th>Total Entries</th>
        <th>Total School</th>
        <th>Total Modify Student</th>
        <th>Total Modify School</th>
        <th>Total Final Submission</th>
        <th>Total Final School</th>
        <th>Total FinalVerified Submission</th>
        <th>Total FinalVerified School</th>
        <th>Total Fee Received</th>

    </tr>
    @{
        if (ViewBag.TotalCount > 0)
        {
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {

                var FName = Model.StoreAllData.Tables[0].Rows[i]["form_name"].ToString();
                var TotalCount = Model.StoreAllData.Tables[0].Rows[i]["TotalCount"].ToString();
                var Totalschl = Model.StoreAllData.Tables[0].Rows[i]["Totalschl"].ToString();
                var CountModifyStudent = Model.StoreAllData.Tables[0].Rows[i]["CountModifyStudent"].ToString();
                var CountModifySchl = Model.StoreAllData.Tables[0].Rows[i]["CountModifySchl"].ToString();

                var RPFinalSubmission = Model.StoreAllData.Tables[0].Rows[i]["RPFinalSubmission"].ToString();
                var RPFinalschl = Model.StoreAllData.Tables[0].Rows[i]["RPFinalschl"].ToString();

                var RPFinalSubmissionVerify = Model.StoreAllData.Tables[0].Rows[i]["RPFinalSubmissionVerify"].ToString();
                var RPFinalschlVerify = Model.StoreAllData.Tables[0].Rows[i]["RPFinalschlVerify"].ToString();
                var RPFinal_TotFee = Model.StoreAllData.Tables[0].Rows[i]["RPFinal_TotFee"].ToString();


                <tr>
                    <td>@FName</td>
                    <td>@TotalCount</td>
                    <td>@Totalschl</td>

                    <td>@CountModifyStudent</td>
                    <td>@CountModifySchl</td>
                    <td>@RPFinalSubmission</td>
                    <td>@RPFinalschl</td>
                    <td>@RPFinalSubmissionVerify</td>
                    <td>@RPFinalschlVerify</td>
                    <td>@RPFinal_TotFee</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    @ViewBag.Message
                </td>
            </tr>
        }
    }
</table>

