@model PSEBONLINE.Models.ReportModel
<h1 style="text-align:center">Open User-Type Report</h1>
<table class="table table-bordered" id="tformwise">
    <tr class="active-tr">
        <th>UserType </th>
		<th>SrSec</th>
        <th>Matric</th>
        <th>OHUM</th>
        <th>OSCI</th>
        <th>OCOMM</th>
        <th>OVOC</th>
        <th>OTECH</th>
        <th>OAGRI</th>
        <th>TOTAL</th>
    </tr>
    @{
        if (ViewBag.TotalCount > 0)
        {
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {
                var UserType = Model.StoreAllData.Tables[0].Rows[i]["UserType"].ToString();
				var SrSec = Model.StoreAllData.Tables[0].Rows[i]["SrSec"].ToString();
                var Matric = Model.StoreAllData.Tables[0].Rows[i]["Matric"].ToString();
                var OHUM = Model.StoreAllData.Tables[0].Rows[i]["OHUM"].ToString();
                var OSCI = Model.StoreAllData.Tables[0].Rows[i]["OSCI"].ToString();
                var OCOMM = Model.StoreAllData.Tables[0].Rows[i]["OCOMM"].ToString();
                var OVOC = Model.StoreAllData.Tables[0].Rows[i]["OVOC"].ToString();
                var OTECH = Model.StoreAllData.Tables[0].Rows[i]["OTECH"].ToString();
                var OAGRI = Model.StoreAllData.Tables[0].Rows[i]["OAGRI"].ToString();
                var TOTAL = Model.StoreAllData.Tables[0].Rows[i]["TOTAL"].ToString();
                <tr>
                    <td>@UserType</td>
					<td>@SrSec</td>
                    <td>@Matric</td>
                    <td>@OHUM</td>
                    <td>@OSCI</td>
                    <td>@OCOMM</td>
                    <td>@OVOC</td>
                    <td>@OTECH</td>
                    <td>@OAGRI</td>
                    <td>@TOTAL</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    @ViewBag.Message
                </td>
            </tr>
        }
    }
</table>
