@model PSEBONLINE.Models.ReportModel
    <h1  style="text-align:center">Open Dist Wise Report</h1>
<table class="table table-bordered" id="tformwise">
    <tr class="active-tr">
        <th>DISTNM </th>
        <th>TOTAL STUDENT MATRIC</th>
        <th>CHALLAN VERIFIED MATRIC</th>
        <th>CENTRE SELECTED MATRIC</th>
        <th>TOTAL STUDENT SENIOR</th>
        <th>CHALLAN VERIFIED SENIOR</th>
        <th>CENTRE SELECTED SENIOR</th>
    </tr>
    @{
        if (ViewBag.TotalCount > 0)
        {
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {
                var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
                var Tot10 = Model.StoreAllData.Tables[0].Rows[i]["Tot10"].ToString();
                var Verified10 = Model.StoreAllData.Tables[0].Rows[i]["Verified10"].ToString();
                var Schl10 = Model.StoreAllData.Tables[0].Rows[i]["Schl10"].ToString();
                var Tot12 = Model.StoreAllData.Tables[0].Rows[i]["Tot12"].ToString();
                var Verified12 = Model.StoreAllData.Tables[0].Rows[i]["Verified12"].ToString();
                var Schl12 = Model.StoreAllData.Tables[0].Rows[i]["Schl12"].ToString();              
                <tr>
                    <td>@DISTNM</td>
                    <td>@Tot10</td>
                    <td>@Verified10</td>
                    <td>@Schl10</td>
                    <td>@Tot12</td>
                    <td>@Verified12</td>
                    <td>@Schl12</td>                    
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    @ViewBag.Message
                </td>
            </tr>
        }
    }
</table>
