@model PSEBONLINE.Models.ReportModel
<h1 style="text-align:center">Open Summary Report</h1>
<table class="table table-bordered" id="tformwise">
    <tr class="active-tr">
        <th>CLASS </th>
        <th>TOTAL LOGIN</th>
        <th>TOTAL REGISTRATION</th>
        <th>TOTAL SUBJECTS</th>
        <th>TOTAL CHALLAN GENERATED</th>
        @*<th>TOTAL CHALLAN DOWNLOADED</th>*@
        <th>TOTAL CHALLAN VERIFIED</th>
        <th>TOTAL CENTRE ALLOTED </th>
    </tr>
    @{
        if (ViewBag.TotalCount > 0)
        {           
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {
                var CLASS = Model.StoreAllData.Tables[0].Rows[i]["CLASS"].ToString();
                var LOGIN = Model.StoreAllData.Tables[0].Rows[i]["LOGIN"].ToString();               
                var REGISTRATION = Model.StoreAllData.Tables[0].Rows[i]["REGISTRATION"].ToString();               
                var SUBJECTS = Model.StoreAllData.Tables[0].Rows[i]["SUBJECTS"].ToString();               
                var CHALLAN = Model.StoreAllData.Tables[0].Rows[i]["CHALLAN"].ToString();               
                var CHALLAN_DOWNLOADED = Model.StoreAllData.Tables[0].Rows[i]["CHALLAN_DOWNLOADED"].ToString();               
                var CHALLAN_VERIFIED = Model.StoreAllData.Tables[0].Rows[i]["CHALLAN_VERIFIED"].ToString();               
                var SCHOOL = Model.StoreAllData.Tables[0].Rows[i]["SCHOOL"].ToString();               
                <tr>
                    <td>@CLASS</td>
                    <td>@LOGIN</td>
                    <td>@REGISTRATION</td>

                    <td>@SUBJECTS</td>
                    <td>@CHALLAN</td>
                    @*<td>@CHALLAN_DOWNLOADED</td>*@
                    <td>@CHALLAN_VERIFIED</td>
                    <td>@SCHOOL</td>
                </tr>
            }           
        }
        else
        {
            <tr>
                <td colspan="8">
                    @ViewBag.Message
                </td>
            </tr>
        }
    }
</table>
