@model PSEBONLINE.Models.ReportModel
<h1 style="text-align:center">School Wise Report</h1>
<table class="table table-bordered" id="tschoolwise">
    <tr class="active-tr">
        <th>School Code</th>
        <th>School Name</th>
        <th>Total Entries</th>
    </tr>
    @{
        if (ViewBag.TotalCount > 0)
        {
            int TotalSum = 0;
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {
                var schl = Model.StoreAllData.Tables[0].Rows[i]["schl"].ToString();
                var SCHLE = Model.StoreAllData.Tables[0].Rows[i]["SCHLE"].ToString();
                var TotalCount = Model.StoreAllData.Tables[0].Rows[i]["TotalCount"].ToString();
                int Count = i + 1;
                TotalSum += Convert.ToInt32(TotalCount);
                <tr>
                    <td>@schl</td>
                    <td>@SCHLE</td>
                    <td>@TotalCount</td>
                </tr>
            }
            <tr>
                <td>Total</td>
                <td></td>
                <td>@TotalSum</td>

            </tr>
        }
        else
        {
            <tr>
                <td colspan="8">
                    @ViewBag.Message
                </td>
            </tr>
        }
    }
</table>

