@model PSEBONLINE.Models.ReportModel
<h1 style="text-align:center">Summary Report</h1>


<table class="table table-bordered" id="tsummary">
    <tr class="active-tr">
        <th>School Category</th>
        <th>Total School</th>
        <th>Entry Started</th>
        <th>Total Entries</th>
        <th>Final Submit</th>
        <th>Total Final Entries</th>
    </tr>
    @{
        if (ViewBag.TotalCount > 0)
        {
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {
                var SchoolCategory = Model.StoreAllData.Tables[0].Rows[i]["School Category"].ToString();
                var EnteryStarted = Model.StoreAllData.Tables[0].Rows[i]["EnteryStarted"].ToString();
                var TotalSchool = Model.StoreAllData.Tables[0].Rows[i]["TotalSchool"].ToString();
                var finalsubmit = Model.StoreAllData.Tables[0].Rows[i]["finalsubmit"].ToString();
                var TotalEntries = Model.StoreAllData.Tables[0].Rows[i]["TotalEntries"].ToString();
                var TotalFinalEntries = Model.StoreAllData.Tables[0].Rows[i]["TotalFinalEntries"].ToString();
                int Count = i + 1;
                <tr>
                    <td>@SchoolCategory</td>
                    <td>@TotalSchool</td>
                    <td>@EnteryStarted</td>
                    <td>@TotalEntries</td>
                    <td>@finalsubmit</td>
                    <td>@TotalFinalEntries</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    @ViewBag.Message
                </td>
            </tr>
        }
    }
</table>
