@{
    ViewBag.Title = "OpenSchoolAccreditationReport";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<style type="text/css">
    .table-responsive td {
        font-size: 10px;
    }

    body {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 9999999;
        display: block;
    }
</style>
<link rel="stylesheet" href="https://registration2022.pseb.ac.in//Content/cardprintr.css" />


@using (Html.BeginForm("OpenSchoolAccreditationReport", "Report", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
<div class="row noprint">
    <div class="col-md-12">
        <h1>Open School Accreditation Report Session: 2023-24</h1>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <fieldset style="margin-bottom:15px">
            <legend>Search</legend>
            <div class="col-md-2">Choose District</div>
            <div class="col-md-2">@Html.DropDownList("ddlDist", new SelectList(ViewBag.Districts, "Value", "Text", ViewBag.SelectedDist),"--ALL--" ,new { @class = "", id = "SelectDist"})</div>
            <div class="col-md-6">
            <input name="cmd" type="submit" value="Search" />
            <input type="submit" value="Export To Excel" name="cmd" /></div>
        </fieldset>
    </div>
</div>
}
<div style="color:#cc0000;width:100%;text-align:right;" class="noprint">
    * If Punjabi font is not visible properly <a href="/PNB_FONT.ZIP" target="_blank" style="font-size:14px;"><b style="color:#cc0000"> CLICK HERE </b></a> for Download Punjabi PNB Font

</div>
<div style="width:100%;text-align:right;" class="noprint"><input type="button" value="Print" class="btn noprint" onclick="window.print()" />&nbsp;<a href="javascript:history.back()" class="btn noprint" style="color:#fff">Back</a> </div>

@if (ViewBag.data != null)
{
    System.Data.DataSet ds = (System.Data.DataSet)ViewBag.data;
    try
    {
        int sr = 0;
<span>&nbsp;</span>
<div class="table-responsive">
    <table id="t01" class="table table-bordered">
        <thead>
            <tr>
                <td colspan="3" style="border-right:0 !important">&nbsp;Session: 2023-24</td>
                <td colspan="10" style="text-align:center;border-left:0 !important;border-right:0 !important"><span style="font-size:24px">Punjab School Education Board</span><br />Open School Accreditation List</td>
                <td colspan="3" style="border-left:0 !important;text-align:right">Print Date: @DateTime.Today.ToString("dd/MM/yyyy") &nbsp;</td>
            </tr>
            <tr>
                <td colspan="16" style="border-top:0 !important">
                    @if (!string.IsNullOrEmpty(ViewBag.SelectedDist))
                    {
                        string dist = ViewBag.SelectedDist;
                        List<SelectListItem>
                            dists = (List<SelectListItem>
                                )ViewBag.Districts;
                        string distnm = dists.Find(f => f.Value == dist.Trim()).Text;
                            <span>District: (@dist) @distnm</span>

                    }
                </td>
            </tr>

            <tr class="active-tr">
                <th rowspan="2" width="3%">
                    SR
                </th>
                <th rowspan="2" width="7%" style="text-align:center">
                    Study<br /><span style="font-size:7px">Center Code</span>
                </th>
                <th rowspan="2" width="7%" style="text-align:center">
                    SCHL<br /><span style="font-size:7px">Tehsil Code</span>
                </th>
                <th rowspan="2" width="30%" >
                    School Name
                </th>
                <th rowspan="2">
                    Previous Matric
                </th>
                <th colspan="3">
                    Previous Sr.Sec @*Stream*@
                </th>
				<th rowspan="2">
                    New Matric
                </th>
                <th colspan="3">
                    New Sr.Sec
                </th>		
				
                <th rowspan="2">
                    Area
                </th>
                <th rowspan="2">
                    Category
                </th>
                <th rowspan="2">
                    Tehsil
                </th>
                <th rowspan="2">Contact No.</th>
            </tr>
            <tr class="active-tr">
                <th style="padding-top:0;padding-bottom:0">HUM</th>
                <th style="padding-top:0;padding-bottom:0">SCI</th>
                <th style="padding-top:0;padding-bottom:0">COMM</th>
                @**@
				 <th style="padding-top:0;padding-bottom:0">HUM</th>
                <th style="padding-top:0;padding-bottom:0">SCI</th>
                <th style="padding-top:0;padding-bottom:0">COMM</th>
            </tr>
			
        </thead>
        @foreach (System.Data.DataRow dr in ds.Tables[0].Rows)
        {
            sr++;
        <tr>
            <td>
                @sr
            </td>
            <td>
                @dr["ocode"].ToString()
            </td>
            <td>
                @dr["schl"].ToString()/<br />@dr["tcode"].ToString()
            </td>
            <td>
                @dr["schle"].ToString()<br /><span class="kdsfont">@dr["schlp"].ToString()</span>
            </td>
            <td>
                <i class="@(dr["matric"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i>
            </td>
            <td>
                <i class="@(dr["hum"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i>
            </td>
            <td>
                <i class="@(dr["sci"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i>
            </td>
            <td>
                <i class="@(dr["comm"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i>
            </td>           
			<td> <i class="@(dr["NEW_OMATRIC"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i></td>
			<td> <i class="@(dr["NEW_OHUM"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i></td>
			<td> <i class="@(dr["NEW_OSCI"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i></td>
			<td> <i class="@(dr["NEW_OCOMM"].ToString().ToLower() == "y" ? "glyphicon glyphicon-ok" : "")"></i></td>	
					
            <td>
                @dr["area"].ToString()
            </td>
            <td>
                @dr["category"].ToString()
            </td>
            <td width="8%">
                @dr["tehsil"].ToString()
            </td>
            <td width="8%">@dr["mobile"].ToString()</td>
        </tr>
        <tr>
            <td colspan="16">
                @{
                    foreach (System.Data.DataRow drchln in ds.Tables[1].Rows)
                    {
                        if (dr["schl"].ToString() == drchln["schl"].ToString())
                        {
                            <span>@drchln["Challanid"].ToString()</span>
                            <span>@drchln["BANK"].ToString()</span>
                            <span>@drchln["J_REF_NO"].ToString()</span>
                            <span>@drchln["Fee"].ToString()</span>
                            <span>@drchln["LateFee"].ToString()</span>
                            <span>@drchln["TotFee"].ToString()</span>
                            <span>@drchln["DepositDT"].ToString()<br /></span>
                        }
                    }
                }
            </td>
        </tr>

        }
    </table>
</div>
    }
    catch (Exception e)
    {
<div class="text-center">
    <span class="rqf">No Data Found</span>
</div>
    }
}




