@model PSEBONLINE.Models.AgencyModel
@{
    ViewBag.Title = "NSQF PracExam Marks Pending School List";
    Layout = "~/Views/Shared/_AgencyLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

@{    
    if (ViewBag.TotalCount > 0)
    {
            <div class="table-responsive">
                <table id="example" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr class="active-tr">
                            <th>Class</th>
                            <th>Subject</th>
                            <th>DISTNM<</th>
                            <th>UDISE Code</th>
                            <th>Schl</th>
                            <th>School Name</th>
                            <th>Mobile</th>
                            <th>Total</th>
                            <th>Filled</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            if (ViewBag.TotalCount > 0)
                            {
                                for (int h = 0; h < Model.StoreAllData.Tables[0].Rows.Count; h++)
                                {
                                    var Schl = Model.StoreAllData.Tables[0].Rows[h]["Schl"].ToString();
                                    var Udisecode = Model.StoreAllData.Tables[0].Rows[h]["Udisecode"].ToString();
                                    var SchlNME = Model.StoreAllData.Tables[0].Rows[h]["SchlNME"].ToString();
                                    //
                                    var Mobile = Model.StoreAllData.Tables[0].Rows[h]["schlMobile"].ToString();
                                    var ClsName = Model.StoreAllData.Tables[0].Rows[h]["ClsName"].ToString();
                                    var SUBNM = Model.StoreAllData.Tables[0].Rows[h]["SUBNM"].ToString();
                                    //

                                    var DISTNM = Model.StoreAllData.Tables[0].Rows[h]["DISTNM"].ToString();
                                    var NOC = Model.StoreAllData.Tables[0].Rows[h]["NOC"].ToString();
                                    var NOMF = Model.StoreAllData.Tables[0].Rows[h]["NOMF"].ToString();

                        <tr>
                            <td>@ClsName</td>
                            <td>@SUBNM</td>
                            <td>@DISTNM</td>
                            <td>@Udisecode</td>
                            <td>@Schl</td>                            
                            <td>@SchlNME </td>
                            <td>@Mobile </td>
                            <td>@NOC </td>
                            <td>@NOMF </td>
                        </tr>
                                    }
                                }
                            }
                    </tbody>

                </table>
            </div>
        }
       
}
