@model PSEBONLINE.Models.EAffiliationModel
@{
    ViewBag.Title = "EAffiliationDashBoard";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<br />
<h3>E-Affiliation Dashboard</h3>

<div class="col-md-12 text-right noprint">
    <input type="button" value="Print" class="btn" onclick="window.print()" />
    <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
</div>
<div class="row" style="padding-left : 15px;">

    <h3 class="rqf">Applications Status</h3>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="t01" class="table table-bordered">
                <tr class="active-tr">
                    <th>Application Type</th>
                    <th>Inbox</th>
                    <th>Sent</th>
                    <th>Approved</th>
                    <th>Rejected</th>
                </tr>
                @{

                    if (Model.StoreAllData.Tables.Count > 0)
                    {
                        for (int h = 0; h < Model.StoreAllData.Tables[0].Rows.Count; h++)
                        {
                            var AppType = Model.StoreAllData.Tables[0].Rows[h]["ApplicationType"].ToString();
                            var Inbox = Model.StoreAllData.Tables[0].Rows[h]["Inbox"].ToString();
                            var Sent = Model.StoreAllData.Tables[0].Rows[h]["Sent"].ToString();
                            var Approved = Model.StoreAllData.Tables[0].Rows[h]["Approved"].ToString();
                            var Rejected = Model.StoreAllData.Tables[0].Rows[h]["Rejected"].ToString();
                            <tr id="trs">
                                <td>@AppType</td>
                                <td>@Inbox</td>
                                <td>@Sent</td>
                                <td>@Approved</td>
                                <td>@Rejected</td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5">No Record Found</td></tr>

                    }
                }
            </table>
        </div>
    </div>

    <div class="clearfix"></div>

    <h3 class="rqf">Objection Status </h3>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="t01" class="table table-bordered">
                <tr class="active-tr">
                    <th>Application Type</th>
                    <th>Total</th>
                    <th>Reply Pending</th>
                    <th>Reply Received</th>
                    <th>Completed</th>
                </tr>
                @{

                    if (Model.StoreAllData.Tables.Count > 1)
                    {
                        for (int h = 0; h < Model.StoreAllData.Tables[1].Rows.Count; h++)
                        {
                            var ApplicationType = Model.StoreAllData.Tables[1].Rows[h]["ApplicationType"].ToString();
                            var Total = Model.StoreAllData.Tables[1].Rows[h]["Total"].ToString();
                            var Pending = Model.StoreAllData.Tables[1].Rows[h]["Pending"].ToString();
                            var Received = Model.StoreAllData.Tables[1].Rows[h]["Received"].ToString();
                            var Completed = Model.StoreAllData.Tables[1].Rows[h]["Completed"].ToString();
                            <tr id="trs">
                                <td>@ApplicationType</td>
                                <td>@Total</td>
                                <td>@Pending</td>
                                <td>@Received</td>
                                <td>@Completed</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="4">No Objection Found</td></tr>

                    }
                }
            </table>
        </div>
    </div>
</div>




