@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet" type="text/css" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }
</style>
<h1 style="font-size:22px;margin-bottom:15px;font-family: 'Merienda One', cursive;  font-family: 'Merienda One', cursive;padding-bottom:6px;">
    Online form of Affiliation 
</h1>
<div class="row">
    <div class="col-md-4">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="">Important Links</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="overflow-y:scroll;height: 280px;">

                            <ul style="padding-bottom:0">
                                <li>&#10093; @Html.ActionLink("Click here to Register", "Registration")</li>
                                @*<li>&#10093; <a href="/PDF/RevisedSchedule_Aff_5th8th_181019.pdf" target="_blank">Revised Schedule for E-affiliation <img src="/images/new.gif" alt="new" /></a></li>


                                     <li>&#10093; <a href="/PDF/RevisedSchedule_Aff_5th8th_300919.pdf" target="_blank">Revise schedule regarding apply for provisional affiliation for 5th & 8th class (2023-24)</a></li>

                                    <li>&#10093; @Html.ActionLink("Matric Open School Registration", "Agree", new { mode = "m3" }, new { @title = "Matric Open School Registration For Session 2023-24" })</li>
                                         <li>&#10093; @Html.ActionLink("Sr. Sec. Open School Registration", "Agree", new { mode = "t3" }, new { @title = "Sr. Sec. Open School Registration For Session 2023-24" })</li>
                                         <li>&#10093; <a href="/PDF/OPEN/Instructions.pdf" target="_blank" title="Instructions">Instructions</a></li>
                                         <li>&#10093; <a href="/PDF/OPEN/Prospectus 2023-24 (Matric)-Online.pdf" target="_blank" title="Matriculation Prospectus of Open School Session 2023-24"> Matric Prospectus</a></li>
                                         <li>&#10093; <a href="/PDF/OPEN/Prospectus 2023-24 (Sr. sec)-Online.pdf" target="_blank" title="Senior Secondary Prospectus of Open School Session 2023-24"> Sr. Secondary Prospectus</a></li>
                                         <li>&#10093; <a href="/PDF/OPEN/Fee-Sechedule-2023-24.pdf" target="_blank" title="Matric / Sr. Sec Fee Schedule">Matric / Sr. Sec Fee Schedule </a></li>
                                         <li>&#10093; <a href="PNB_FONT.zip" target="_blank" title="If anything of Punjabi is not readable kindly download this font and install in your computer.">Download Punjabi PNB Fonts</a></li>
                                         <li>&#10093; <a href="/PDF/PNBcharactermap.jpg" target="_blank" title="English to Punjabi Character Map for Typing in Punjabi PNB Font.">View English to Punjabi Character Map</a></li>
                                         <li>&#10093; <a href="https://registration2022.pseb.ac.in/Home/OpenSchoolReport" target="_blank" title="List of Open School Accredited School for Session 2023-24"> Accredited School List Of Session 2023-24</a></li>
                                         <li>&#10093; <a href="/PDF/List_of_District_Office.pdf" target="_blank" title="List of PSEB District Sub office's">List of District Office</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="" style="border:2px solid #ccc;padding:10px 50px;background-color:#f1f1f1;margin-bottom:10px">
            <form name="Login_Form" method="post" action="">
                @using (Html.BeginForm("Index", "EAffiliation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <h3 class="form-signin-heading" style="font-size:20px;padding-bottom:15px;text-align:center">Login (Already Registered)</h3>
                    //Application Number
                    <div class="input-group" style="margin-bottom:10px">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span><input name="app_no" id="app_no" type="text" class="form-control" title="Please Enter Application No." placeholder="Application No." required maxlength="13" />
                    </div> //PasswordPlease Enter Application No.
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span><input name="pass" id="pass" type="password" class="form-control" title="Please Enter Password" placeholder="Password" maxlength="20" required />
                    </div>
                    <p style="color:#cc0000;height:80px;text-align:center;padding-top:10px">
                        <img src="/images/openschool_logo.png" alt="Open School" />
                    </p>
                    <div style="text-align:center">
                        <input type="submit" value="Login" /><br /> <br />
                        <span data-toggle="modal" style="color:#cc0000;" data-target="#myModal"><a href="" style="color:#cc0000">Forgot Password ?</a></span><br />&nbsp;
                    </div>
                }
            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="">Notice Board</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div style="height: 280px;">
                            <ul style="padding-bottom:280px">
                                @*<li><a href="/PDF/FeeSchedule_AffiliationConti_MiddlePrimary_2020-21.pdf" target="_blank">
                                        <samp>❭</samp>
                                        Revised Schedule of Provisional Affiliation, Session 2023-24 (Date Extended upto 15-12-19)</a>
                                    </li>
                           <li><a href="/PDF/PressNote_Affi_5th8th.pdf" target="_blank"><samp>❭</samp> Press Note regarding apply for provisional affiliation for 5th & 8th class (2023-24)</a></li>
                                                                    <li><a href="/PDF/Schedule_Aff_5th8th.pdf" target="_blank"><samp>❭</samp> Schedule regarding apply for provisional affiliation for 5th & 8th class (2023-24)  </a></li>
                                *@
								
								   <!-- <li><a href="/PDF/FeeSchedule_AffiliationConti_MiddlePrimary_2020-21.pdf" target="_blank"><samp>❭</samp> Schedule of 5th & 8th class Provisional Affiliation for Session (2023-24)</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-12"><div style="border-top:1px dashed #ccc;padding-top:10px"></div></div>
    <div class="clearfix"></div>
    <div class="col-md-2">
        Toll Free Help Line No.<br />
        For Technical Support
    </div>
    <div class="col-md-2">
        <span style="font-size:26px">
            8058911911<br /><span style="font-size:10px"></span><br />
            <span style="font-size:12px"><i class="fa fa-envelope"></i> <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a></span>
        </span>
    </div>
    <div class="col-md-2">
    </div>
    @*<div class="col-md-2"><span style="font-size:26px">18003133315<br /><span style="font-size:10px"></span><br /><span style="font-size:12px"><i class="fa fa-envelope"></i> <a href="mailto:Contact2@psebonline.in" target="_blank" class="redc">contact2@psebonline.in</a></span></span></div>*@

    <div class="col-md-1"></div>
    <div class="col-md-2">
        Contact No.<br />
        For General Query
    </div>
    <div class="col-md-3"><span style="font-size:26px">0172-52277375,376<br /><span style="font-size:11px"> </span><br /><span style="font-size:12px"><i class="fa fa-envelope"></i> <a href="mailto:branchaffiliation@gmail.com" target="_blank" class="redc">branchaffiliation@gmail.com</a></span></span></div>

</div>


@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "CANCEL")
        {
            <div id="dPending" style="display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Your Application has been Cancelled, Please Contact PSEB Board</span>
            </div>
        }
        else if (ViewData["result"].ToString() == "WRONG")
        {
            <div id="dPending" style="display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Login Credential are Wrong, Please Try again with correct credentials</span>
            </div>
        }
        else
        {
            <div id="dPending" style="display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">ERROR : @ViewData["result"].ToString()</span>
            </div>
        }

    }
}

<script type="text/javascript">

    $(function () {
        $("#dPending").dialog({
            modal: true,
            title: "Error Details",
            width: 450,
            height: 250,
            buttons: {
                Close: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

<script>
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

<div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title">Forget Password</div>
            </div>
            <div class="modal-body" style="text-align:center">
			<div id="loading1"></div>
                <input type="text" id="txtAppno" onkeypress="return isNumberKey(event);" placeholder="Enter Application No." name="txtAppno" maxlength="15" required />
                <input type="text" id="txtEmail" placeholder="Enter Email Id" name="txtEmail" maxlength="50" required />
                <input type="text" id="txtMobile" onkeypress="return isNumberKey(event);" placeholder="Enter Mobile No." name="txtMobile" maxlength="10" required />

                <input type="button" class="btn" value="Send" id="btnSend" /> 

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $(".date").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: new Date('1 January 1990'),
            yearRange: '1900:' + (new Date().getFullYear() - 13)
        });
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>



<script type="text/javascript">
    $(document).ready(function () {   //Start Compose Password
        $("#btnSend").click(function () {
            // alert("Start Forget Password ");
            if ($("#txtAppno").val() == "") {
                $("#txtAppno").addClass("input-validation-error");
                return false;
            }
            if ($("#txtEmail").val() == "") {
                $("#txtEmail").addClass("input-validation-error");
                return false;
            }
            if ($("#txtMobile").val() == "") {
                $("#txtMobile").addClass("input-validation-error");
                return false;
            }
            else {
                //  alert('Now Send Password to :' + $("#txtAppno").val())
                // $('#Main1').hide();
                $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                $.ajax({
                    type: "POST",
                    url: "/EAffiliation/JqForgotPassword",
                    data: '{storeid:"' + $("#txtAppno").val() + '",email:"' + $("#txtEmail").val() + '" ,mobile:"' + $("#txtMobile").val() + '"  }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response);
                        $('#loading1').empty();
                    }
                });
                function OnSuccess(response) {
                    if (response.dee == "1") {
                        var result = 'Your Password of Application Number ' + $("#txtAppno").val() + ' is : ' + response.result;
                        alert(result);
                        window.location.href = '@Url.Action("Index", "EAffiliation")';
                            $("#myModal").hide();
                            $('#loading1').empty();
                        }
                        else {
                            alert("Details Not Matched, Please Try Again with Correct Details");
                            window.location.href = '@Url.Action("Index", "EAffiliation")';
                            $("#myModal").hide();
                            $('#loading1').empty();
                        }
                    }
                }
            });

            //End  Compose SMS
        });




</script>
