@model PSEBONLINE.Models.SchoolInfraModel
@{ ViewBag.Title = "Building Safety Certificate Details";
    Layout = "~/Views/Shared/_Headerui.cshtml"; }
@using (Html.BeginForm("SchoolInfra", "AssociateCommuni", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">@Html.Partial("_AssociateHeading")</div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            @Html.Partial("_AssociateMenu")
        </div>
        <div class="col-md-9 overflow-auto" style="max-height: 400px;">
            <div class="row">
                <div class="col-md-12"><h4>School Infrastructure</h4></div>
                <div class="clearfix"></div>

                <div class="col-md-5">Total Area of Schools (In Yards)</div> <div class="col-md-5">@Html.TextBoxFor(a => a.TAS, new { @required = "required", @class = "" })</div>
                <div class="col-md-5"> Covered Area of School (In Yards)</div> <div class="col-md-5">@Html.TextBoxFor(a => a.CAS, new { @required = "required", @class = "" })</div>
                <div class="col-md-5"> Play Ground Location</div> <div class="col-md-5">@Html.DropDownListFor(a => a.Playgl, new SelectList(ViewBag.PglListItem, "Value", "Text", ViewBag.SelectPglItem), "---Select ---", new { @required = "required", @class = "" })</div>
                <div class="col-md-5"> Play Ground Distance from School</div> <div class="col-md-5">@Html.TextBoxFor(a => a.PlayGDS, new { @required = "required", @class = "" })</div>

                <div class="col-md-5">Single Bench Count </div> <div class="col-md-5">@Html.TextBoxFor(a => a.SBC, new { @required = "required", @class = "" })</div>

                <div class="col-md-5">Double Bench Count </div> <div class="col-md-5">@Html.TextBoxFor(a => a.DBC, new { @required = "required", @class = "" })</div>

                <div class="col-md-5">Total No of Computers </div> <div class="col-md-5">@Html.TextBoxFor(a => a.TotalNoOfcomputer, new { @required = "required", @class = "" })</div>
                <div class="col-md-5">Smart Classes </div> <div class="col-md-5"> @Html.DropDownListFor(a => a.smartClass, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5">Computer Lab </div> <div class="col-md-5">@Html.DropDownListFor(a => a.ComputerLab, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5">Physics Lab </div> <div class="col-md-5">@Html.DropDownListFor(a => a.PhysicsLab, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5">Chemistry Lab </div> <div class="col-md-5">@Html.DropDownListFor(a => a.ChemistryLab, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5">Library </div> <div class="col-md-5">@Html.DropDownListFor(a => a.liabrary, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5">No Of Books in Library </div> <div class="col-md-5">@Html.TextBoxFor(a => a.Noofbooks, new { @required = "required", @class = "" })</div>


                <div class="col-md-5">Type of internet Avilable </div> <div class="col-md-5">@Html.DropDownListFor(a => a.typeinternet, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>

                <div class="col-md-5">No of Printer </div> <div class="col-md-5">@Html.TextBoxFor(a => a.NoofPrinter, new { @required = "required", @class = "" })</div>

                <div class="col-md-5 pb-2">Page Print Capacity of Printers Available (Per Minute) </div> <div class="col-md-5">@Html.TextBoxFor(a => a.pagePrintCapacity, new { @required = "required", @class = "" })</div>


                <div class="col-md-5 pb-2">If any case is pending in court against the institution ? (If Yes, then attach copy) </div> <div class="col-md-5">@Html.DropDownListFor(a => a.isCasePending, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5 pb-2">Does your institute have transport facility as per Govt. rules & regulations? </div> <div class="col-md-5">@Html.DropDownListFor(a => a.isTransport, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5 pb-2">R.O. Drinking water facility? </div> <div class="col-md-5">@Html.DropDownListFor(a => a.isRoAvail, new SelectList(ViewBag.InternetListListItem, "Value", "Text", ViewBag.SelectInternetListtem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5">Seperate toilet for Boys & Girls ? </div> <div class="col-md-5">@Html.DropDownListFor(a => a.isToilet, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>


                <div class="col-md-5">Display board for special candidates facilities ? </div> <div class="col-md-5">@Html.DropDownListFor(a => a.isDisplayBoard, new SelectList(ViewBag.YesNoItem, "Value", "Text", ViewBag.SelectItem), "---Select ---", new { @required = "required", @class = "" })</div>

                <div class="col-md-5">Other Activities & Achievements </div> <div class="col-md-5">@Html.TextAreaFor(a => a.OtherActivities, new { @required = "required", @class = "" })</div>
                <div class="col-md-5"></div> <div class="col-md-5">@Html.HiddenFor(a => a.ID)</div>

                <div class="col-md-8 text-center mb-4 mt-4"> <input type="submit" value="submit" name="cmd" class="btn btn-primary" /></div>
                <div class="clearfix"></div>
                <div class="col-md-12"><span class="rqf">It is certified that above information is correct with best of my knowledge. If at any stage it found incorrect department may take appropriate action on respective institution. </span></div><br />
                 <div class="col-md-12 text-right">Signature of School Head (With Seal)</div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>




}


@{ if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                    window.location.href = '@Url.Action("SchoolInfra", "AssociateCommuni")';
                </script>
            }
            
            else
            {
                <script type="text/javascript" language="javascript">
                            alert("Submit Failure, Please Try Again");
                            //alert('ViewBag.Mesaage');</script>
            }

        }
    } }




