@model PSEBONLINE.Models.SchoolModels
@{ Layout = "~/Views/Shared/_Headerui.cshtml"; }

@using (Html.BeginForm("schoolProfile", "AssociateCommuni", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="row">
        <div class="col-md-12">@Html.Partial("_AssociateHeading")</div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            @Html.Partial("_AssociateMenu")
        </div>

        <div class="col-md-9 overflow-auto" style="max-height:400px">
            <h4>School Profile Details</h4>
            <div>
                @Html.HiddenFor(a => a.id)
            </div>
            <div class="row">
                <div class="col-md-2">
                    School Code
                </div>
                <div class="col-md-2">
                    <label>@Html.DisplayFor(a => a.SCHL, new { })</label>
                </div>
                <div class="col-md-2">
                    School Identity Code
                </div>
                <div class="col-md-2">
                    <label> @Html.DisplayFor(a => a.idno, new { })</label>
                </div>
                <div class="col-md-2">
                    Class Level

                </div>
                <div class="col-md-2">
                    <label>@Html.DisplayFor(a => a.CLASS, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    School Name
                </div>
                <div class="col-md-10">
                    <label>@Html.DisplayFor(a => a.SCHLE, new { })</label><br />
                    <label class="kdsfont">@Html.DisplayFor(a => a.SCHLP, new { @class = "kdsfont" })</label>

                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    District Name
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.DISTE, new { })</label>
                </div>
                <div class="col-md-2">
                    Establishment Year
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.SchlEstd, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Address of School
                </div>
                <div class="col-md-10">
                    <label>@Html.DisplayFor(a => a.ADDRESSE, new { })</label><br />
                    <label class="kdsfont">@Html.DisplayFor(a => a.ADDRESSP, new { })</label>

                </div>
            </div>
            <div class="clearfix"></div>
            <h4>Class/ Stream Details</h4>
            <div class="row">
                <div class="col-md-12">
                    <div style="overflow-x:scroll;width:100%">
                        <table id="t01" class="table table-bordered">
                            <tr style="font-weight: bold;">
                                <td rowspan="2" style="text-align:left">Description</td>
                                <td colspan="3" style="text-align:center">MATRIC</td>
                                <td colspan="12" style="text-align:center">SENIOR SECONDARY</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td colspan="2" style="text-align:center">REGULAR	</td>
                                <td style="text-align:center">OPEN</td>
                                <td colspan="6" style="text-align:center">REGULAR</td>
                                <td colspan="6" style="text-align:center">OPEN</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Groups</td>
                                <td align="left">
                                    GEN

                                </td>
                                <td align="left">
                                    NSQF
                                </td>
                                <td align="left">
                                    GEN
                                </td>
                                <td align="left">
                                    Hum.
                                </td>
                                <td align="left">
                                    Sci
                                </td>
                                <td align="left">
                                    Comm.
                                </td>
                                <td align="left">
                                    Voc.
                                </td>
                                <td align="left">
                                    Tech.
                                </td>
                                <td align="left">
                                    Agri.
                                </td>
                                <td align="left">
                                    Hum.
                                </td>
                                <td align="left">
                                    Sci
                                </td>
                                <td align="left">
                                    Comm.
                                </td>
                                <td align="left">
                                    Voc.
                                </td>
                                <td align="left">
                                    Tech.
                                </td>
                                <td align="left">
                                    Agri.
                                </td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Status</td>
                                <td> @Html.DisplayFor(a => a.MATRIC, new { })</td>
                                <td>@Html.DisplayFor(a => a.NSQF_flag, new { })</td>
                                <td> @Html.DisplayFor(a => a.OMATRIC, new { })</td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.HUM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.SCI, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.COMM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.VOC, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.TECH, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.AGRI, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OHUM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OSCI, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OCOMM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OVOC, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OTECH, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OAGRI, new { })
                                </td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Type</td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.HID_UTYPE, new { })
                                </td>
                                <td></td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.HID_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.H_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.S_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.C_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.V_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.A_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.T_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.H_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.S_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.C_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.V_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.A_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.T_UTYPE, new { })
                                </td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Year</td>
                                <td>@Html.DisplayFor(a => a.HID_YR, new { })</td>
                                <td></td>
                                <td>@Html.DisplayFor(a => a.OMID_YR, new { })</td>
                                <td>@Html.DisplayFor(a => a.HYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.SYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.CYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.VYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.TYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.AYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OHYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OSYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OCYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OVYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OTYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OAYR, new { })</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Sections</td>
                                <td>@Html.DisplayFor(a => a.HID_YR_SEC, new { })</td>
                                <td></td>
                                <td>@Html.DisplayFor(a => a.OMID_YR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.HYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.SYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.CYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.VYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.TYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.AYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OHYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OSYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OCYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OVYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OTYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OAYR_SEC, new { })</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <h4>Principal / Contact Details</h4>
            <div class="row">
                <div class="col-md-2">
                    Principal Name <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.PRINCIPAL, new { })</label>
                </div>
                <div class="col-md-2">Principal DOB <span class="rqf">*</span></div>
                <div class="col-md-4">
                    <label> @Html.DisplayFor(a => a.DOB, new { })</label>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-3">Principal Qualification <span class="rqf">*</span></div>
                <div class="col-md-9">
                    <label>@Html.DisplayFor(a => a.PQualification, new { })</label>
                </div>

                <div class="col-md-2">Experience (in yrs)</div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.ExperienceYr, new { })</label>
                </div>
                <div class="col-md-2">Date of Joining <span class="rqf">*</span></div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.DOJ, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Mobile No. <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.MOBILE, new { })</label>
                </div>

                <div class="col-md-2">
                    Std Code/Phone <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5"><label>@Html.DisplayFor(a => a.STDCODE, new { })</label></div>
                        <div class="col-md-7"><label>@Html.DisplayFor(a => a.PHONE, new { })</label></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Registered Email<span class="rqf">*</span>
                </div>
                <div class="col-md-10">
                    <label>@Html.DisplayFor(a => a.EMAILID, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">Other Person Name<span class="rqf">*</span></div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.CONTACTPER, new { })</label>
                </div>
                <div class="col-md-2">
                    Other Mobile No. <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.OtContactno, new { })</label>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <h4>Staff / Teacher Details</h4>
            <div class="row">
                <div class="col-md-2">
                    Total Teachers <span class="rqf">*</span>
                </div>
                <div class="col-md-4 ">
                    <label>@ViewBag.TotalTeachers</label>
                </div>
                <div class="col-md-6 right">
                    <a href="/SchoolProfile/DisplaySchoolStaffDetails" class="btn" target="_blank">Click here to View Teacher List</a>

                </div>
                <div class="clearfix"></div>
                @* <div class="col-md-12"><span class="rqf">Attach appointment letter/Qualification Certificate/Salary Details/ Experience/Agreement of new appointed teachers only with printed hard copy.</span></div>*@
                <div class="col-md-12"><span class="rqf">If you want to Add/Modify/View Staff list, then click above button "Click here to view teacher list"</span></div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <span class="rqf">
                        &nbsp;<br />
                        Note : If any correction is required in school profile, then you can update data  which fields are unlocked  under school profile-> Update School Information . Locked fields will be corrected in PSEB as per your request on letter head at affiliated branch
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 text-center tbp"> <a href="/SchoolProfile/Update_School_Information" class="btn">Click Here to Update School Information</a> <a href="/AssociateCommuni/Index" class="btn">Back</a></div>
        </div>









        @*<div class="col-md-9 overflow-auto" style="max-height: 400px;">

                <div class="row">
                    <div class="col-12 ">
                        <h4 class="ml-3 pl-4">School Detail</h4>

                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        School Code
                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.SCHL</label>
                    </div>

                    <div class="col-2">

                        School Identity Code

                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.SCHLICode</label>
                    </div>

                    <div class="col-2">

                        Class Level

                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.ClassLevel</label>
                    </div>


                </div>


                <div class="row">
                    <div class="col-2">
                        UDISE Code

                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.UDISECode</label>
                    </div>

                    <div class="col-2">



                    </div>

                    <div class="col-2">

                    </div>

                    <div class="col-2">

                        Eastablishment Year


                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.EastablishmentYear</label>
                    </div>


                </div>



                <div class="row">
                    <div class="col-2">
                        School Name


                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.SCHLName</label>
                    </div>

                    <div class="col-2">



                    </div>

                    <div class="col-2">

                    </div>

                    <div class="col-2">
                    </div>

                    <div class="col-2">

                    </div>


                </div>





                <div class="row">
                    <div class="col-2">
                        District Name


                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.DistrictName</label>
                    </div>

                    <div class="col-2">

                        Tehsil Name


                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.TehsilName</label>
                    </div>

                    <div class="col-2">




                    </div>

                    <div class="col-2">

                    </div>


                </div>





                <div class="row">
                    <div class="col-2">
                        Address of School


                    </div>

                    <div class="col-10">
                        <input type="text" value="@Model.AssociateContinuationDashBoardViews.Address" class="form-control" placeholder="Address" name="Address">
                    </div>


                </div>



                <div class="row">
                    <div class="col-2">
                        Pin Code


                    </div>


                    <div class="col-10">
                        <input type="text" value="@Model.AssociateContinuationDashBoardViews.PinCode" class="form-control" placeholder="PinCode" name="PinCode">
                    </div>


                </div>




                <div class="row">
                    <div class="col-12 ">
                        <h4>
                            Class/ Stream Details
                        </h4>

                    </div>

                    <div class="col-12">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Class/Group
                                </td>
                                <th>
                                    Primary
                                </th>
                                <th>
                                    Middle
                                </th>
                                <th>
                                    Matric
                                </th>
                                <th>
                                    Humanities
                                </th>
                                <th>
                                    Science
                                </th>
                                <th>
                                    Commerce
                                </th>
                                <th>
                                    Vocational
                                </th>
                            </tr>

                            <tr>
                                <td>
                                    Affiliation Type

                                </td>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                            </tr>


                            <tr>
                                <td>
                                    Affiliation Session


                                </td>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                            </tr>


                            <tr>
                                <td>
                                    Sections


                                </td>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                            </tr>
                        </table>
                    </div>
                </div>




                <div class="row">
                    <div class="col-12">
                        <h4>
                            Principal / Contact Details

                        </h4>

                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        Principal Name
                    </div>

                    <div class="col-4">
                        <label>@Model.AssociateContinuationDashBoardViews.PrincipalName</label>
                    </div>

                    <div class="col-3">
                        Date of Birth
                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.DateofBirth</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3">
                        Qualifications
                    </div>

                    <div class="col-4">
                        <label>@Model.AssociateContinuationDashBoardViews.Qualifications</label>
                    </div>

                    <div class="col-3">
                        Experience (in Yrs)

                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.Experience</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-2">
                        Date of Joining

                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.DateofJoining</label>
                    </div>

                    <div class="col-2">
                        Mobile No

                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.Mobile</label>
                    </div>


                    <div class="col-2">
                        Std Code/Phone



                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.StdCodephone</label>
                    </div>
                </div>



                <div class="row">
                    <div class="col-2">
                        Other Contact Person


                    </div>

                    <div class="col-5">
                        <label>@Model.AssociateContinuationDashBoardViews.OtherContactPerson</label>
                    </div>

                    <div class="col-2">
                        Mobile No

                    </div>

                    <div class="col-2">
                        <label>@Model.AssociateContinuationDashBoardViews.Mobile</label>
                    </div>


                    <div class="col-12">
                        <h4><b>Note : To update profile visit "school profile -> Update School Profile"  or click here.</b> </h4>
                    </div>


                </div>







            </div>*@
    </div>


}


@{ if (ViewData["resultSVF"] != null)
                {
                    if (ViewData["resultSVF"].ToString() == "2")
                    {
    <script type="text/javascript" language="javascript">alert("Data Not Found");</script> }
                } }


