@model PSEBONLINE.Models.StudentCountModel
@{ ViewBag.Title = "Building Safety Certificate Details";
    Layout = "~/Views/Shared/_Headerui.cshtml"; }
@using (Html.BeginForm("studentCount", "AssociateCommuni", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">@Html.Partial("_AssociateHeading")</div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            @Html.Partial("_AssociateMenu")
        </div>
        <div class="col-md-9 overflow-auto" style="max-height: 400px;">
            <div class="row">
                <div class="col-md-12"><h4>Students Count</h4></div>
                <div class="col-md-12">
                    @*<table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Class
                                    </th>
                                    <th scope="col">
                                        No of Sections
                                    </th>
                                    <th scope="col">
                                        Total Students
                                    </th>

                                </tr>


                            </thead>
                            <tbody>


                                <tr>
                                    <th scope="col">1st </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">2st </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">3rd </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">4th </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">5th </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">6th </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">7th </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">8th </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">9th </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">10th </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">
                                        11th Humanties
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">
                                        11th Science

                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">
                                        11th Commerce


                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">
                                        11th Vocational

                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">
                                        12th Humanties


                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>

                                <tr>
                                    <th scope="col">
                                        12th Science
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>


                                </tr>

                                <tr>
                                    <th scope="col">
                                        12th Commerce
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>


                                </tr>

                                <tr>
                                    <th scope="col">
                                        12th Vocational

                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>


                                </tr>
                            </tbody>
                        </table>*@
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Class</th>
                            <th scope="col">Section</th>
                            <th scope="col">Total Student</th>

                        </tr>

                    </thead>
                    <tbody>


                        <tr>
                            <th>1st</th>
                            <td>@Html.TextBoxFor(a => a.Sec1, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu1, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>2nd</th>
                            <td>@Html.TextBoxFor(a => a.Sec2, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu2, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>3rd</th>
                            <td>@Html.TextBoxFor(a => a.Sec3, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu3, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>4th</th>
                            <td>@Html.TextBoxFor(a => a.Sec4, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu4, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>5th</th>
                            <td>@Html.TextBoxFor(a => a.Sec5, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu5, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>6th</th>
                            <td>@Html.TextBoxFor(a => a.Sec6, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu6, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>7th</th>
                            <td>@Html.TextBoxFor(a => a.Sec7, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu7, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>8th</th>
                            <td>@Html.TextBoxFor(a => a.Sec8, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu8, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>9th</th>
                            <td>@Html.TextBoxFor(a => a.Sec9, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu9, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>10th</th>
                            <td>@Html.TextBoxFor(a => a.Sec10, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu10, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>11th Humanties </th>
                            <td>@Html.TextBoxFor(a => a.Sec11Hum, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu11Hum, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>11th Science</th>
                            <td>@Html.TextBoxFor(a => a.Sec11Sci, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu11Sci, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>11th Commerce</th>
                            <td>@Html.TextBoxFor(a => a.Sec11Comm, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu11Comm, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>11th Voccational</th>
                            <td>@Html.TextBoxFor(a => a.Sec11Voc, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu11Voc, new { @required = "required", @class = "" })</td>
                        </tr>


                        <tr>
                            <th>12th Humanties</th>
                            <td>@Html.TextBoxFor(a => a.Sec12Hum, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu12Hum, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>12th Science</th>
                            <td>@Html.TextBoxFor(a => a.Sec12Sci, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu12Sci, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>12th Commerce</th>
                            <td>@Html.TextBoxFor(a => a.Sec12Comm, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu12Comm, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>
                            <th>12th Voccational</th>
                            <td>@Html.TextBoxFor(a => a.Sec12Voc, new { @required = "required", @class = "" })</td>
                            <td>@Html.TextBoxFor(a => a.TotStu12Voc, new { @required = "required", @class = "" })</td>
                        </tr>

                        <tr>

                            <td colspan="3" class="text-center"><input type="submit" class="btn btn-primary" name="cmd" value="Submit" /></td>
                        </tr>


                    </tbody>
                </table>






            </div>
        </div>

    </div>
}


@{ if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                    window.location.href = '@Url.Action("StudentCount", "AssociateCommuni")';
                </script>
            }

            else
            {
                <script type="text/javascript" language="javascript">
                            alert("Submit Failure, Please Try Again");
                            //alert('ViewBag.Mesaage');</script>
            }

        }
    } }
