@model PSEBONLINE.Models.OpenUserRegistration
@{
    ViewBag.Title = "ViewRegistration";
    if (Session["SCHL"] == null || Session["SCHL"].ToString() == "")
    {
        Layout = "~/Views/Shared/_HeaderOPEN.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_Headerui.cshtml"; }
}

<script type="text/javascript">
    $( document ).ready(function() {
        jQuery(document).bind("keyup keydown", function (e) {
            
            if (e.ctrlKey && e.keyCode == 80) {
                alert('Sorry, This Functionality Has Been Disabled!');
            return false;
        }
    });
    $(document).keydown(function (event) {
        var pressedKey = String.fromCharCode(event.keyCode).toLowerCase();

        if (event.ctrlKey && (pressedKey == "c" || pressedKey == "u")) {
            alert('Sorry, This Functionality Has Been Disabled!');
            //disable key press porcessing
            return false;
        }
    });
    $(function () {
        $(this).bind("contextmenu", function (e) {
            alert('Sorry, This Functionality Has Been Disabled!');
            e.preventDefault();
        });
    });
    });
</script>

    @if (ViewBag.Id > 0)
    {
        <section class="content-header">
            @if (Model.FORM == "M3")
            {
            <h1>Open School Matric Registration</h1>
            }
            else
            {
            <h1>Open School Sr. Secondary Registration</h1>
            }
            @if (Session["SCHL"] == null || Session["SCHL"].ToString() == "")
            {
                <ol class="breadcrumb">
                    <li><a href="/open/Applicationstatus/@Session["app_no"].ToString()"><i class="fa fa-home"></i> Home</a></li>
                    <li class="active">View Registration</li>
                </ol>
            }
            else
            { }
            </section>
<div class="box">
@if (Session["SCHL"] == null || Session["SCHL"].ToString() == "")
{
<div id="nxt">
        <input type="button" value="Next" id="btn_lock" onclick="next()" />
        <script language="javascript" type="text/javascript">
        function next()
        {
            window.location.href = '@Url.Action("CalculateFee", "Open", new { id = Session["app_no"].ToString() })';
        }
        </script>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <h4>
            Previous Class Information
        </h4>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2">Category</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.CAT, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="col-md-2">Passing Session</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.OSESSION, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="clearfix"></div>
    <div class="col-md-2">Board</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.BOARD, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="col-md-2">Board Roll No.</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.OROLL, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="clearfix"></div>
    <div class="col-md-2">Previous School Name</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.OSCHOOL, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="col-md-2"> Registration No.</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.REGNO, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="clearfix"></div>
    @if (Model.CLASS == "10" && (Model.CAT.ToUpper() == "8TH PASSED".ToUpper() || Model.CAT.ToUpper() == "10TH FAIL (NIOS)" || Model.CAT.ToUpper() == "10TH FAIL (REGULAR SCHOOL)")) // change by gulab
    {
        <div class="col-md-2">Selected Category Appearing Session Year</div>
        <div class="col-md-4"><label>@Html.DisplayFor(model => model.AppearingYear, new { htmlAttributes = new { @class = "" } })</label></div>
    }
    else if (Model.CLASS == "12" && (Model.CAT.ToUpper() == "10TH PASSED" || Model.CAT.ToUpper() == "12TH FAIL (NIOS-ALL GROUPS)" || Model.CAT.ToUpper() == "12TH FAIL (REGULAR SCHOOL-SCIENCE GROUP)" || Model.CAT.ToUpper() == "12TH FAIL (REGULAR SCHOOL-OTHER GROUPS)"))
    {
        <div class="col-md-2">Selected Category Appearing Session Year</div>
        <div class="col-md-4"><label>@Html.DisplayFor(model => model.AppearingYear, new { htmlAttributes = new { @class = "" } })</label></div>
    }

    <div class="clearfix"></div>
    <div class="col-md-12"><h4>Personal Information</h4></div>
    <div class="clearfix"></div>
    <div class="col-md-2">Candidate's Name</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.NAME, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</label></div>
    <div class="col-md-2 kdsfont">ÚÒÚÂ¤ØÏÁÛ ÂØ ÅØÌ</div>
    <div class="col-md-4">
        <label class="kdsfont">

            @Html.DisplayFor(model => model.PNAME, new
       {
           id = "PNAME",
           @class = "keyboardInput",
           onKeyPress = "javascript:convertThis(event)",
           onpaste = "return false;",
           oncopy = "return false;",
           oncut = "return false;",
           onclick = "toggleKBMode1(event)",
           lang = "pa"
       })
        </label>

    </div>
    <div class="clearfix"></div>
    <div class="col-md-2">Father's Name</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.FNAME, new { htmlAttributes = new { id = "FNAME", @maxlength = "50", onkeypress = "return ValidateAlpha(event);" } })</label></div>
    <div class="col-md-2 kdsfont">
        ÚÆ¼Ø ÂØ ÅØÌ
    </div>
    <div class="col-md-4">
        <label class="kdsfont">
            @Html.DisplayFor(model => model.PFNAME, new
       {
           id = "PFNAME",
           @class = "keyboardInput",
           onKeyPress = "javascript:convertThis(event)",
           onpaste = "return false;",
           oncopy = "return false;",
           oncut = "return false;",
           onclick = "toggleKBMode1(event)",
           lang = "pa"
       })
        </label>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2">Mother's Name</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.MNAME, new { htmlAttributes = new { id = "MNAME", @maxlength = "50", onkeypress = "return ValidateAlpha(event);" } })</label></div>
    <div class="col-md-2 kdsfont">
        ÌØ¼Ø ÂØ ÅØÌ
    </div>
    <div class="col-md-4">
        <label class="kdsfont">
            @Html.DisplayFor(model => model.PMNAME, new
       {
           id = "PMNAME",
           @class = "keyboardInput",
           onKeyPress = "javascript:convertThis(event)",
           onpaste = "return false;",
           oncopy = "return false;",
           oncut = "return false;",
           onclick = "toggleKBMode1(event)",
           lang = "pa"
       })
        </label>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2">Date of Birth</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.DOB, new { htmlAttributes = new { } })</label></div>
    <div class="col-md-2"> Gender</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.SEX, new { htmlAttributes = new { } })</label></div>
    <div class="clearfix"></div>
    <div class="col-md-2">Caste</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.CASTE, new { htmlAttributes = new { } })</label></div>
    <div class="col-md-2">Differently Abled</div>
    <div class="col-md-4">
        <label>@Html.DisplayFor(model => model.PHY_CHAL, new { htmlAttributes = new { } })</label>
        @if (Model.PHY_CHAL.ToUpper() != "N.A." && Model.PHY_CHAL.ToUpper() != "OTHERS")
        {<label>Disability Percentage :  @Html.DisplayFor(model => model.DisabilityPercent, new { htmlAttributes = new { } })</label>}
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2" hidden="hidden"> Religion </div>
    <div class="col-md-4" hidden="hidden"><label>@Html.DisplayFor(model => model.RELIGION, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="col-md-2">Nationality</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.NATION, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="clearfix"></div>
    <div class="col-md-2">Aadhar No.</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.AADHAR_NO, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="col-md-2">Study Medium</div>
    <div class="col-md-4"><label>@Html.DisplayFor(model => model.CandStudyMedium, new { htmlAttributes = new { @class = "" } })</label></div>
    <div class="clearfix"></div>
    <div class="col-md-6">
        <div class="row" style="@(Model.FORM == "M3" ? "display:none" : "display:block")">
            <div class="col-md-4">Group</div>
            <div class="col-md-8">
                @{
                    string Group = Model.EXAM.ToString() == "S" ? "SCIENCE" : Model.EXAM.ToString() == "H" ? "HUMANITIES"
                        : Model.EXAM.ToString() == "C" ? "COMMERCE" : Model.EXAM.ToString() == "IG" ? "INTIGRATED GROUP" : "No Group";

                }
                <span class="rqf">@Group (@Model.EXAM.ToString())</span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2">Mobile</div>
    <div class="col-md-4"><label>@ViewBag.MOBILENO</label></div>
    <div class="col-md-2">Email Id</div>
    <div class="col-md-4"><label>@ViewBag.EMAILID</label></div>
    <div class="clearfix"></div>
    <div class="col-md-2">Address</div>
    <div class="col-md-10"><label>@ViewBag.ADDRESS</label></div>
    <div class="col-md-6"></div>
    <div class="clearfix"></div>
    <div class="col-md-2">
        Do you want Hard Copy of Certificate?<sup style="color:red;font-size:15px;">*</sup>
    </div>
    <div class="col-md-4">
        @{
            if (Model.IsHardCopyCertificate == "YES" || Model.IsHardCopyCertificate == "Y")
            { <label><span>YES</span></label>}
            else
            { <label><span>NO</span></label>}

        }

    </div>
    <div class="col-md-2">
        Do you have Smart Phone?<sup style="color:red;font-size:15px;">*</sup>
    </div>
    <div class="col-md-4">
        @{
            if (Model.IsSmartPhone == "YES" || Model.IsSmartPhone == "Y")
            { <label><span>YES</span></label>}
            else
            { <label><span>NO</span></label>}

        }

    </div>

    <div class="clearfix"></div>
    <div class="col-md-12">
        <h4>Candidate Photo & Signature</h4>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2">Photo</div>
    <div class="col-md-4"><img src="@ViewBag.Photo" class="img-responsive" style="width:150px;border:1px solid #000000;padding:1px" alt="Photo" id="imgPhoto" /></div>
    <div class="col-md-2">Signature</div>
    <div class="col-md-4"><img src="@ViewBag.Sign" class="img-responsive" style="width:150px;border:1px solid #000000;padding:1px" alt="Signature" id="imgSign" /></div>
    <div class="clearfix"></div>
    <div class="col-md-12"><h4>Subject Details</h4></div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <table class="table-bordered" style="width:100%">
            <tr>
                <th rowspan="2" width="5%">S No.</th>
                <th rowspan="2" width="10%">
                    Subject Code
                </th>
                <th rowspan="2" width="25%">
                    Subject
                </th>
                <th rowspan="2" width="15%">
                    Credit Carry
                </th>
                <th colspan="3" width="15%" style="text-align:center">
                    Theory
                </th>
                <th colspan="3" width="15%" style="text-align:center">
                    Practical
                </th>
                <th colspan="3" width="15%" style="text-align:center">
                    C.C.E / I.N.A
                </th>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">OBT.&nbsp;&nbsp;&nbsp;&nbsp;MIN.&nbsp;&nbsp;&nbsp;&nbsp;MAX.</td>
                <td colspan="3" style="text-align:center">OBT.&nbsp;&nbsp;&nbsp;&nbsp;MIN.&nbsp;&nbsp;&nbsp;&nbsp;MAX.</td>
                <td colspan="3" style="text-align:center">OBT.&nbsp;&nbsp;&nbsp;&nbsp;MIN.&nbsp;&nbsp;&nbsp;&nbsp;MAX.</td>
            </tr>

            @{int addFlag = 0, subnum = 0;
                foreach (var sub in ViewBag.subjects_list)
                {
                    subnum++;
                    if (sub.SUBCAT == "A" && addFlag == 0)
                    {
                        addFlag = 1;
                        subnum = 1;
                        <tr>
                            <td colspan="11"><h4>Additional Subject</h4></td>
                        </tr>
                    }
                    <tr>
                        <td>&nbsp; @("0" + subnum.ToString())</td>
                        <td>
                            &nbsp;@sub.SUB
                        </td>
                        <td>
                            &nbsp;@sub.SUBNM
                        </td>
                        <td>
                            @if (sub.SUBCAT == "C")
                            {<span>Yes</span>}

                        </td>
                        <td colspan="3" style="text-align:center">
                            <div id="Sub_1_Theory">
                                @sub.OBTMARKS&nbsp;&nbsp;&nbsp;&nbsp;
                                @sub.MINMARKS&nbsp;&nbsp;&nbsp;&nbsp;
                                @sub.MAXMARKS
                            </div>
                        </td>
                        <td colspan="3" style="text-align:center">
                            <div id="Sub_1_Practical">
                                @sub.OBTMARKSP&nbsp;&nbsp;&nbsp;&nbsp;
                                @sub.MINMARKSP&nbsp;&nbsp;&nbsp;&nbsp;
                                @sub.MAXMARKSP

                            </div>
                        </td>
                        <td colspan="3" style="text-align:center">
                            <div id="Sub_1_CCE">
                                @sub.OBTMARKSCC&nbsp;&nbsp;&nbsp;&nbsp;
                                @sub.MINMARKSCC&nbsp;&nbsp;&nbsp;&nbsp;
                                @sub.MAXMARKSCC

                            </div>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>

</div>


</div>



                        }
                        else
                        {  <div class="rqf">Record Not Found</div>}
