@model IEnumerable<PSEBONLINE.Models.AttendenceSummaryDetail>
@{
    ViewBag.Title = "Attendance of Students";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<h1> Attendence Summary</h1>

<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/Print-4P.css" />
<script type="text/javascript">
    $("#btnPrintStatus").live("click", function () {
        var divContents = $("#tblStatus").html();
        var printWindow = window.open('', '', 'height=800,width=1000px');
        printWindow.document.write('<html><head><title>Attendance of Students</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    });
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<div class="row" id="tblStatus">
    <div class="col-md-2">
        Exam Batch
        <label><span>March 2023</span></label>
    </div>

    <div class="col-md-2">
        Centre School Code
        <label>@ViewBag.schlCode</label>
    </div>
    <div class="col-md-8 text-right">Last Date : <span class="rqf" style="font-size:16px">@ViewBag.LastDate </span></div>
    @* <div class="col-md-3 rqf right"> <input type="button" class="btn" value="Print Status" id="btnPrintStatus" /></div>*@
    <div class="clearfix"></div>
    @using (Html.BeginForm("AttendenceSummary", "Attendance", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <fieldset style="margin-bottom:15px">
                <legend>Search</legend>
                <div class="col-md-2">
                    Select Class
                    @Html.DropDownList("SelClass", new SelectList(ViewBag.MyClass, "Value", "Text", ViewBag.SelectedClass), "--All---", new { @class = "", required = "required" })

                </div>
                <div class="col-md-2">
                    Select Category
                    @Html.DropDownList("SelRP", new SelectList(ViewBag.MyRP, "Value", "Text", ViewBag.SelectedRP), "--All---", new { @class = "", required = "required" })

                </div>
                <div class="col-md-4">
                    Centre Code & Name
                    @Html.DropDownList("ExamCent", new SelectList(ViewBag.Ecent, "Value", "Text", ViewBag.SelectedExamCent), "--Select Centre---", new { @class = "", required = "required" })
                </div>

                <div class="col-md-2">
                    Select Exam Date
                    <input type="text" id="examDate" maxlength="10" autocomplete="off" name="examDate" class="calenderDate" readonly value="@ViewBag.ExamDate" />
                </div>
                <div class="col-md-2">
                    <br>
                    <input type="submit" value="Search" onclick="">
                    <a href="/Attendance/AttendenceSummary" class="btn">Reset</a>

                </div>
            </fieldset>
        </div>
    }
    <div class="clearfix"></div>
    <div class="col-md-12">
        <table class="table table-bordered" id="">
            <tr class="active-tr">
                <th>Centre Code</th>
                <th>Class</th>
                <th>Category</th>
                <th>Subject Code</th>
                <th>Subject Name</th>
                <th>Exam Date</th>
                <th>Total</th>
                <th>Present</th>
                <th>Absent</th>
                <th>Cancel</th>
                <th>UMC</th>
                <th>Pending</th>
                <th>Memo No</th>
                <th>Status</th>
                <th>Unlock Detail</th>
                <th>Action</th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    DateTime todayDate = DateTime.Now;
                    var parm = @item.cls + "-" + @item.category + "-" + @item.center + "-" + @item.subcode + "-" + @item.examdate.Replace("/", "_");
                    <tr>
                        <td>@item.center</td>
                        <td>@item.cls</td>
                        <td>@ViewBag.RPname</td>
                        <td>@item.subcode</td>
                        <td>@item.subname</td>
                        <td>@item.examdate</td>
                        <td>@item.total</td>
                        <td>@(item.total-(item.absent+item.cancel+item.umc))</td>
                        <td>@item.absent</td>
                        <td>@item.cancel</td>
                        <td>@item.umc</td>
                        <td>
                            0
                        </td>
                        <td>@item.memonumber</td>
                        <td>@item.status</td>
                        <td>@item.remarks</td>
                        <td>
                            <div class="cart">
                                Choose&nbsp;Action <span class="caret"></span>
                                <div id="sidebar">
                                    <ul>
                                        @if (item.status == "Pending")
                                        {
                                            DateTime finalSubmitLastDate = Convert.ToDateTime(@ViewBag.LastDate);
                                            DateTime examDateRow = Convert.ToDateTime(@item.examdate);
                                            if (finalSubmitLastDate.Date >= todayDate.Date)
                                            {
                                                if (examDateRow <= todayDate.Date)
                                                {
                                                    <li><a href="/Attendance/AttendanceEntry/@parm">Attendence</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="#">Exam Not Conducted</a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    <span>Last Data is over </span>
                                                </li>
                                            }


                                            if (item.memonumber != "")
                                            {
                                                <li><a href="/Attendance/AttendancePrint/@item.memonumber">Rough Print</a></li>
                                            }

                                        }
                                        else if (item.status == "Final Submitted")
                                        {
                                            <li><a href="/Attendance/AttendancePrint/@item.memonumber">Final Print</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>

                }
            }
            else
            {
                <tr><td colspan="14">record not found</td></tr>
            }
        </table>

        <p style="display:none">Date: <input type="text" id="datepicker"></p>
    </div>

</div>
<script>
    $(function () {
        $(".calenderDate").datepicker({
            dateFormat: "dd/mm/yy"
        });
        //$(".calenderDate").datepicker({
        //    dateFormat: "dd/mm/yyyy",
        //    changeMonth: true,
        //    changeYear: true,
        //    maxDate: dee,
        //    minDate: new Date('2023/01/01'),
        //    yearRange: "2023:2024"
        //});
    });
</script>

@*<script>
    $(document).ready(function () {

        $(".calenderDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: dee,
            minDate: new Date('2023/02/20'),
            yearRange: "2023:2024"
        });

    });

</script>*@
