@model PSEBONLINE.Models.Printlist
@{
    ViewBag.Title = "Complete ExamForm Fees Details";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
@if (Session["SCHL"] != null)
{ }
else { Response.Redirect("~/Login"); }


<div class="container">
    <h1>Complete ExamForm Fees Details</h1>
    <div class="row" id="divMain1">
        <div class="col-md-4">Total Students:  @ViewBag.TotalCount</div>
<div class="col-md-8 text-right">
<a href="~/ExaminationPortal/ExamFormCalFee" class="btn">Back</a></div>
        <div class="clearfix"></div>
        <div class="col-md-12">

            <div class="table-responsive">
                <table id="t01" class="table table-bordered">
                    <tr class="active-tr">
                        @*<th>Sr No</th>*@
                        <th>Unique ID</th>
                        <th>Name/Father's Name/Mother's Name</th>
                        <th>RegNo</th>
                        <th>Caste</th>
                        <th>Exam</th>
						 <th>DOB(AGE)</th>
                          <th>Phy Chl(%)</th>
                        <th>Want Hard Copy?</th>
                        <th>Fee</th>
                        <th>No. of Add Sub</th>
                        <th>Add Sub Fee</th>
                        <th>No. of Pr Sub</th>
                        <th>Pr Sub Fee</th>
                        <th>Late Fee</th>
                        <th>Cert Fee</th>
                        <th>Total Fee</th>
                    </tr>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {
                            int Count = 0;
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                var std_id = Model.StoreAllData.Tables[0].Rows[i]["std_id"].ToString();
                                var FullName = Model.StoreAllData.Tables[0].Rows[i]["FullName"].ToString();
                                var Registration_num = Model.StoreAllData.Tables[0].Rows[i]["Registration_num"].ToString();
                                var Caste = Model.StoreAllData.Tables[0].Rows[i]["Caste"].ToString();
                                var Exam = Model.StoreAllData.Tables[0].Rows[i]["Exam"].ToString();
                                var FeeExemption = Model.StoreAllData.Tables[0].Rows[i]["FeeExemption"].ToString();
                                var Fee = Model.StoreAllData.Tables[0].Rows[i]["Fee"].ToString();
                                var AddSubFee = Model.StoreAllData.Tables[0].Rows[i]["AddSubFee"].ToString();
                                var PracFee = Model.StoreAllData.Tables[0].Rows[i]["PracFee"].ToString();
                                var add_sub_count = Model.StoreAllData.Tables[0].Rows[i]["add_sub_count"].ToString();
                                var prac_sub_count = Model.StoreAllData.Tables[0].Rows[i]["prac_sub_count"].ToString();
                                var LateFee = Model.StoreAllData.Tables[0].Rows[i]["LateFee"].ToString();
                                var TotFee = Model.StoreAllData.Tables[0].Rows[i]["TotFee"].ToString();
                                var ExamCertFee = Model.StoreAllData.Tables[0].Rows[i]["ExamCertFee"].ToString();
                                var IsHardCopyCertificate = Model.StoreAllData.Tables[0].Rows[i]["IsHardCopyCertificate"].ToString();
								
								  var PHY_CHAL = Model.StoreAllData.Tables[0].Rows[i]["PHY_CHAL"].ToString();
                                            var DisabilityPercent = Model.StoreAllData.Tables[0].Rows[i]["DisabilityPercent"].ToString();
                                            var Age = Model.StoreAllData.Tables[0].Rows[i]["Age"].ToString();
                                            var DOB = Model.StoreAllData.Tables[0].Rows[i]["DOB"].ToString();
											
                                Count = Count + 1;
                                <tr>
                                    @*<td>@Count</td>*@
                                    <td>@std_id</td>
                                    <td>@FullName</td>
                                    <td>@Registration_num</td>
                                    <td>@Caste</td>
                                    <td>@Exam</td>
									 <td>@DOB (@Age)</td>
                                                <td>
                                                    @PHY_CHAL
                                                @if (PHY_CHAL != "N.A.")
                                                {<span>(@DisabilityPercent%)</span>}

                                            </td>
                                    <td>@IsHardCopyCertificate</td>
                                    <td>@Fee</td>
                                    <td>@add_sub_count</td>
                                    <td>@AddSubFee</td>
                                    <td>@prac_sub_count</td>
                                    <td>@PracFee</td>
                                    <td>@LateFee</td>
                                    <td>@ExamCertFee</td>
                                    <td>@TotFee</td>
                                </tr>

                            }

                            //	Fee	AddSubFee	add_sub_count	prac_sub_count	PracFee	LateFee	TotFee
                            if (Model.StoreAllData.Tables[5].Rows.Count > 0)
                            {
                                var Challanid = Model.StoreAllData.Tables[5].Rows[0]["Challanid"].ToString();                               
                                var Fee = Model.StoreAllData.Tables[5].Rows[0]["Fee"].ToString();
                                var AddSubFee = Model.StoreAllData.Tables[5].Rows[0]["AddSubFee"].ToString();
                                var PracFee = Model.StoreAllData.Tables[5].Rows[0]["PracFee"].ToString();
                                var add_sub_count = Model.StoreAllData.Tables[5].Rows[0]["add_sub_count"].ToString();
                                var prac_sub_count = Model.StoreAllData.Tables[5].Rows[0]["prac_sub_count"].ToString();
                                var LateFee = Model.StoreAllData.Tables[5].Rows[0]["LateFee"].ToString();
                                var ExamCertFee = Model.StoreAllData.Tables[5].Rows[0]["ExamCertFee"].ToString();
                                var TotFee = Model.StoreAllData.Tables[5].Rows[0]["TotFee"].ToString();                               
                                <tr>
                                    @*<td>@Count</td>*@
                                    <td>Total</td>
                                    <td colspan="7"></td>
                                   
                                    <td>@Fee</td>
                                    <td>@add_sub_count</td>
                                    <td>@AddSubFee</td>
                                    <td>@prac_sub_count</td>
                                    <td>@PracFee</td>
                                    <td>@LateFee</td>
                                    <td>@ExamCertFee</td>
                                    <td>@TotFee</td>
                                </tr>

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>





