@model PSEBONLINE.Models.BankModels
@{
    ViewBag.Title = "View Profile";
    Layout = "~/Views/Shared/_BankLayout.cshtml";
}

<h1>View Profile</h1>

@using (Html.BeginForm("ViewProfile", "Bank", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
          <table style="width:50%">
              <tr>
                  <td width="15%">ID</td>
                  <td width="35%"><label>@Html.DisplayFor(m => m.ID)</label></td>
              </tr>
              <tr>
                  <td>BCODE</td>
                  <td><label>@Html.DisplayFor(m => m.BCODE)</label></td>
              </tr>
              <tr>
                  <td>BANK NAME</td>
                  <td><label>@Html.DisplayFor(m => m.BANKNAME)</label></td>
              </tr>
              <tr>
                  <td>ADDRESS</td>
                  <td>@Html.TextBoxFor(m => m.ADDRESS, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>DISTRICT</td>
                   <td>@Html.TextBoxFor(m => m.DISTRICT, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>PINCODE</td>
                   <td>@Html.TextBoxFor(m => m.PINCODE, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>MOBILE No.</td>
                   <td>@Html.TextBoxFor(m => m.MOBILE, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>STD Code</td>
                   <td>@Html.TextBoxFor(m => m.STD, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>PHONE No.</td>
                   <td>@Html.TextBoxFor(m => m.PHONE, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>EMAILID 1</td>
                   <td>@Html.TextBoxFor(m => m.EMAILID1, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>EMAILID 2</td>
                   <td>@Html.TextBoxFor(m => m.EMAILID2, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>AC NO.</td>
                  <td><label>@Html.DisplayFor(m => m.ACNO)</label></td>
                   @*<td>@Html.TextBoxFor(m => m.ACNO, new { id = "", @maxlength = "200" })</td>*@
              </tr>
              <tr>
                  <td>IFSC</td>
                  <td><label>@Html.DisplayFor(m => m.IFSC)</label></td>
                   @*<td>@Html.TextBoxFor(m => m.IFSC, new { id = "", @maxlength = "200" })</td>*@
              </tr>
              <tr>
                  <td>MICR</td>
                   <td>@Html.TextBoxFor(m => m.MICR, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>BRANCH CODE</td>
                  <td><label>@Html.DisplayFor(m => m.BRNCODE)</label></td>
                   @*<td>@Html.TextBoxFor(m => m.BRNCODE, new { id = "", @maxlength = "200" })</td>*@
              </tr>
              <tr>
                  <td>NODAL BRANCH</td>
                   <td>@Html.TextBoxFor(m => m.NODAL_BRANCH, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>MANAGER NAME</td>
                   <td>@Html.TextBoxFor(m => m.MNAGER_NM, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>TECHNICAL PERSON</td>
                   <td>@Html.TextBoxFor(m => m.TECHNICAL_PERSON, new { id = "", @maxlength = "200" })</td>
              </tr>
              <tr>
                  <td>OTHER CONTACT NO.</td>
                   <td>@Html.TextBoxFor(m => m.OTCONTACT, new { id = "", @maxlength = "200" })</td>
              </tr>             
              <tr>
                  <td>@*@Html.ActionLink("", "", "")*@</td>
                   <td><input type="submit" value="Click Here To Updated Information" onclick="return valForm();" />  <br />&nbsp;<br /></td>
                  
              </tr>
          </table>
        </div>
    </div>
</div>
}



@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
               alert("Data Updated Successfully");            
                window.location.href = '@Url.Action("Welcome", "Bank")';
            </script>}
        else
        {
            <script type="text/javascript" language="javascript">
                    alert("Data not updated..plz try again");
            </script>
        }        
    }
}
