@model PSEBONLINE.Models.BankModels
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_BankLayout.cshtml";
}
<style type="text/css">.opl {padding-bottom:200px}.opl li {padding:5px 0}</style>
<h1>Welcome to Punjab School Education Board Online Registration - Session :<span class="rqf"> @Html.DisplayFor(m => m.Session)</span></h1>

<div class="row">
    <div class="col-md-6">
        <ul class="opl">
            <li><samp>❭</samp> @Html.ActionLink("Click Here to Download Challan", "DownloadChallan", "Bank")</li>
            <li><samp>❭</samp> @Html.ActionLink("Click Here to Download Previous Challan", "DownloadPreviousChallan", "Bank")</li>
            <li><samp>❭</samp> @Html.ActionLink("Click Here to Verify MIS", "VerifyMIS", "Bank")</li>
            <li><samp>❭</samp> @Html.ActionLink("Click Here to View MIS Details", "ViewMISDetails", "Bank")</li>
            <li><samp>❭</samp> @Html.ActionLink("Click Here to Change Password", "ChangePassword", "Bank")</li>
            <li class="rqf" style="@(Session["BCODE"].ToString() == "203" ? "display:block" : "display:none")"><samp>❭</samp> @Html.ActionLink("Click Here to Verify Multiple Challans", "VerifyMISPSEB", "Bank")</li>
            <li><samp>❭</samp> @Html.ActionLink("List of Challan's which fee paid but fee verification pending by Bank", "ViewAllFeeDeposit", "Bank")</li>
			<li><samp>❭</samp> @Html.ActionLink("Click Here to Check Challan Status", "CheckChallanStatus", "Bank")</li>
        </ul>
    </div>
<div class="col-md-9">    
</div>
</div>
