@model PSEBONLINE.Models.DuplicateCertificate
@{
    ViewBag.Title = "Duplicate Certificate Form";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/Print-4P.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<style type="text/css">body {font-size: 13px;}td {height: 25px;}th {height: 26px;font-size: 13px;padding: 4px 0;}.brack{page-break-after:always;page-break-after:always}</style>

@*<input type="submit" id="btnPrint" value="Print" />*@
<h1 class="noprint" style="font-size:22px;padding:10px 0">Duplicate Certificate Form</h1>
<div class="row noprint">
    <div class="col-md-12 noprint text-right">       
        @*<input type="button" value="Print" class="btn" onclick="goPrint()" />*@
        <input type="submit" name="submit" value="Print" class="btn"  data-confirm="are u sure to Print this Form?" />
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12" style="vertical-align:top">
        @{
            if (ViewBag.TotalCount > 0)
            {
                for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                {
                    var Id = Model.StoreAllData.Tables[0].Rows[i]["Id"].ToString();
                    var DairyNo = Model.StoreAllData.Tables[0].Rows[i]["DairyNo"].ToString();
                    var DairyDate = Model.StoreAllData.Tables[0].Rows[i]["DairyDate"].ToString().Split(' ')[0];
                    var Class = Model.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
                    var Session = Model.StoreAllData.Tables[0].Rows[i]["Session"].ToString();
                    var Roll = Model.StoreAllData.Tables[0].Rows[i]["roll"].ToString();
                    var DIST = Model.StoreAllData.Tables[0].Rows[i]["DIST"].ToString();
                    var Name = Model.StoreAllData.Tables[0].Rows[i]["Name"].ToString();
                    var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
                    var Mobile = Model.StoreAllData.Tables[0].Rows[i]["Mobile"].ToString();
                    var ReceivedName = Model.StoreAllData.Tables[0].Rows[i]["username"].ToString();
                    var Address = Model.StoreAllData.Tables[0].Rows[i]["Address"].ToString();
                    var Year = Model.StoreAllData.Tables[0].Rows[i]["Year"].ToString();
                    var IsSameAsRecord = Model.StoreAllData.Tables[0].Rows[i]["IsSameAsRecord"].ToString();
                    var TypeOf = Model.StoreAllData.Tables[0].Rows[i]["TypeOf"].ToString();
                    var REMARKS = Model.StoreAllData.Tables[0].Rows[i]["REMARKS"].ToString();
                    var FNAME = Model.StoreAllData.Tables[0].Rows[i]["FNAME"].ToString();
                    var MNAME = Model.StoreAllData.Tables[0].Rows[i]["MNAME"].ToString();
                    var ReceiptNo = Model.StoreAllData.Tables[0].Rows[i]["ReceiptNo"].ToString();
                    var ReceiptDate = Model.StoreAllData.Tables[0].Rows[i]["ReceiptDate"].ToString().Split(' ')[0];
                    var FeeAmount = Model.StoreAllData.Tables[0].Rows[i]["FeeAmount"].ToString();
                    var Branch = Model.StoreAllData.Tables[0].Rows[i]["Branch"].ToString();
                    var Status = Model.StoreAllData.Tables[0].Rows[i]["Status"].ToString();
                    var TypeName = Model.StoreAllData.Tables[0].Rows[i]["TypeName"].ToString();
                    var DupSet = Model.StoreAllData.Tables[0].Rows[i]["DupSetNew"].ToString();
                    var BranchName = Model.StoreAllData.Tables[0].Rows[i]["BranchName"].ToString();
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" class="brack">
                        <tr>
                            <td colspan="3" style="text-align:left">
                                <table width="100%" border="0">
                                    <tr>
                                        <td width="20%" style="padding:5px 0"><img src="~/Images/slogo.jpg" alt="PSEB" /></td>
                                        <td width="60%" colspan="3" style="font-size:16px;text-align:center;line-height:25px;padding-top:5px">
                                            <span style="font-size:25px;">Punjab School Education Board</span><br />
                                            Duplicate Certificate Form
                                        </td>
                                        <td width="20%" style="text-align:right;vertical-align:top;padding-top:10px">Print Date & Time<br />@DateTime.Now.ToString("dd/MM/yyyy & hh:mm")</td>
                                    </tr>
                                    <tr style="font-size:20px">
                                        <td colspan="2" width="29%">Diary No.: @DairyNo</td>
                                        <td width="25%">Date: @DairyDate</td>
                                        <td width="17%">Set : @DupSet</td>
                                        <td width="29%">Branch: @BranchName</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="1">
                                    <tr>
                                        <th colspan="7" style="color:#000 !important;background-color:#eaeaea !important;text-align:center">Candidate Particular</th>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Type</td>
                                        <td colspan="6">&nbsp;@TypeName</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;District</td>
                                        <td colspan="3">&nbsp;@DISTNM</td>
                                        <td>&nbsp;Class</td>
                                        <td colspan="2">&nbsp;@Class</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Roll Number</td>
                                        <td colspan="3">&nbsp;@Roll</td>
                                        <td>&nbsp;Session/Year</td>
                                        <td colspan="2">&nbsp;@Session/@Year</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Name/FName/MName</td>
                                        <td colspan="6">&nbsp;@Name/@FNAME/@MNAME</td>
                                    </tr>
                                    <tr>
                                        <td width="24%">&nbsp;Fee Details</td>
                                        <td width="11%">&nbsp;Receipt No.</td>
                                        <td width="15%">&nbsp;@ReceiptNo</td>
                                        <td width="9%">&nbsp;Amount</td>
                                        <td width="15%">&nbsp;@FeeAmount</td>
                                        <td width="8%">&nbsp;Date</td>
                                        <td width="17%">&nbsp;@ReceiptDate</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Mobile No.</td>
                                        <td colspan="6">&nbsp;@Mobile</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Address</td>
                                        <td colspan="6">&nbsp;@Address</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @{
                            if (Model.StoreAllData.Tables[2].Rows.Count > 0)
                            {
                                int numberOfRecords = Model.StoreAllData.Tables[2].Select("DCID =" + Id).Count();

                                if (numberOfRecords > 0)
                                {
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="1">
                                                <tr>
                                                    <th colspan="3" style="color:#000 !important;background-color:#eaeaea !important;text-align:center">Correction Details</th>
                                                </tr>
                                                <tr>
                                                    <td width="33%">&nbsp;Type of Correction</td>
                                                    <td width="34%">&nbsp;Before Correction</td>
                                                    <td width="33%">&nbsp;After Correction</td>
                                                    @{
                                                        for (int s = 0; s < Model.StoreAllData.Tables[2].Rows.Count; s++)
                                                        {
                                                            var sID = Model.StoreAllData.Tables[2].Rows[s]["ID"].ToString();
                                                            var DCID = Model.StoreAllData.Tables[2].Rows[s]["DCID"].ToString();
                                                            var TypeOf2 = Model.StoreAllData.Tables[2].Rows[s]["TypeOf"].ToString();
                                                            var Before2 = Model.StoreAllData.Tables[2].Rows[s]["Before"].ToString();
                                                            var After2 = Model.StoreAllData.Tables[2].Rows[s]["After"].ToString();
                                                            if (Id == DCID)
                                                            {
                                    <tr id="trs-@Id-@sID">
                                        <td>&nbsp;@TypeOf2</td>
                                        <td>&nbsp;<span class="kdsfont">@Before2</span></td>
                                        <td>&nbsp;<span class="kdsfont">@After2</span></td>
                                    </tr>

                                                }
                                            }
                                                    }

                                                </table>
                                            </td>
                                        </tr>
                                                            }
                                                        }
                        }


                        <tr>
                            <td colspan="3">
                                <table width="100%" border="1">
                                    <tr>
                                        <td style="text-align:center;" class="pdntb">
                                            Above corrections has been made as per District Manager's recommendation/Documents and after verifying the gazette/Result Sheet Record
                                            <br />
                                            <br />
                                            <br />
                                            <br />                                          
                                            <span class="txtlft">Signature of Clerk/ Jr. Asst / Sr. Asst<br />&nbsp;<br /></span>
                                            <span class="txtrgt">Superintendent<br />&nbsp;<br /></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="1">
                                    <tr>
                                        <th colspan="6" style="color:#000 !important;background-color:#eaeaea !important;text-align:center">Certificate Details (Filled by Certificate Printing Section)</th>
                                    </tr>
                                    <tr>
                                        <td width="13%">&nbsp;Certificate No.</td>
                                        <td width="22%">&nbsp;</td>
                                        <td width="6%">&nbsp;Date</td>
                                        <td width="18%">&nbsp;</td>
                                        <td width="9%">&nbsp;Full Sign</td>
                                        <td width="32%">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="1">
                                    <tr>
                                        <td style="text-align:center;" class="pdntb">
                                            Verification by Dealing Set.
                                            <br />
                                            <br />
                                            <br />
                                            <br />                                          
                                            <span class="txtlft">Full Signature of Clerk/Sr. Asst<br />&nbsp;<br /></span>
                                            <span class="txtrgt">Superintendent<br />&nbsp;<br /></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="1">
                                    <tr>
                                        <th colspan="6" style="color:#000 !important;background-color:#eaeaea !important;text-align:center">Registry/Dispatch Details (Filled by Single Window)</th>
                                    </tr>
                                    <tr>
                                        <td width="13%">&nbsp;Registry No.</td>
                                        <td width="22%">&nbsp;</td>
                                        <td width="6%">&nbsp;Date</td>
                                        <td width="18%">&nbsp;</td>
                                        <td width="9%">&nbsp;Full Sign</td>
                                        <td width="32%">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th colspan="6" style="color:#000 !important;background-color:#eaeaea !important;text-align:center">Postal Address</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding-top:20px">
                                <div class="lft-sec">
                                    <table width="98%" border="0" style="float:left">
                                        <tr>
                                            <td colspan="2" style="text-align:center" class="pdntb"><span style="font-size:20px">Dairy No. @DairyNo</span></td>
                                        </tr>
                                        <tr>
                                            <td>To</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td width="8%" rowspan="3"></td>
                                            <td width="90%">@Name / @FNAME</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Address:<br />@Address
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Mobile No.: @Mobile
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="rgt-sec">
                                    <table width="98%" border="0">
                                        <tr>
                                            <td colspan="2" style="text-align:center" class="pdntb"><span style="font-size:20px">Dairy No. @DairyNo</span></td>
                                        </tr>
                                        <tr>
                                            <td>To</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td width="8%" rowspan="3"></td>
                                            <td>@Name / @FNAME</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Address:<br />@Address
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Mobile No.: @Mobile
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            </tr>
                    </table>

                                                            }
                                                        }
        }
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm"))) {
                e.preventDefault();
            }
            else {               
                goPrint();
            }
        });
    });

</script>

<script>
    function goBack() {       
        window.history.back();
    } 

    function goPrint() {
       // alert(1);

        $.ajax({
            type: "POST",
            url: "/Admin/JqDCForwardList", // this for calling the web method function in cs code.
            data: '{storeid:"' + '@ViewBag.Id' + '",Action:"6" }',// user name or email value  //
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                // alert(response);                    
            }
        });
        function OnSuccess(response) {
            window.print();
        } 
    }

    @*$(document).ready(function () {
        $("#btnPrint").click(function () {            

            $.ajax({
                type: "POST",
                url: "/Admin/JqDCForwardList", // this for calling the web method function in cs code.
                data: '{storeid:"' + @ViewBag.Id + '",Action:"6" }',// user name or email value  //
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                   // alert(response);                    
                }
            });
            function OnSuccess(response) {
                widnow.print();
            }          
          
        });

    });*@
</script>