@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Firm Correction Home";
    //Layout = "~/Views/Shared/_HeaderCorr.cshtml";  By Rohit
    Layout = "~/Views/Shared/_Header.cshtml";
}
<h1>Firm Home</h1>
@using (Html.BeginForm("FirmCorrectionHome", "Admin", FormMethod.Post, new { id = "searchform" }))
{
    <div class="row">
        <div class="col-md-12">
            @{
                 if (Session["session"].ToString() == "2017-2018")
                {
                <ul class="ullist">                    
                    @*<li><samp>&#10093;</samp> @Html.ActionLink("Download Private Data", "DownloadCompartmentData", "Admin", null, null)</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("Exam Roll & Exam Centre Update", "PvtRollEcentreUpdate", "Admin", null, null)</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("Error Add & Remove", "PvtErrUpdate", "Admin", null, null)</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("Error List Download", "FirmPrivateCandidateErrorList", "Admin", null, null)</li>*@
                    
                </ul>
                }
                else if (Session["session"].ToString() == "2016-2017")
                {
                <ul class="ullist">

                    <li><samp>&#10093;</samp> @Html.ActionLink("PRIVATE ERROR ADD REMOVE", "FirmPrivateCandidateErrorList", new { }, new { title = "Firm Data Correction All Records." })</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("FIRM CORRECTION", "FirmSchoolCorrection", new { }, new { title = "Firm Data Correction All Records." })</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("VIEW ALL CORRECTION PENDING RECORDS", "FirmSchoolCorrectionPendingCorrectionRecord", new { }, new { title = "View All Correction Pending Records." })</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("ALL CORRECTED RECORD FOR FINAL SUBMIT", "goforfinal", new { }, new { title = "All Corrected Record For Final Submit (Pending for Final Submition)." })</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("DOWNLOAD FINAL PRINT", "FirmFinalPrint", new { }, new { title = "Download Final Print." })</li>
                    
                    <li><samp>&#10093;</samp> @Html.ActionLink("DOWNLOAD RECORD BY STUDENT ID", "FirmDownloadStudentRecord", new { }, new { title = "Download Final Print." })</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("SCHOOL ERROR LIST", "FirmSchoolErrorList", new { }, new { title = "School Error Details." })</li>
                    <li><samp>&#10093;</samp> @Html.ActionLink("DOWNLOAD OPEN IMAGE BY STUDENT ID", "FirmDownloadStudentRecordOpen", new { }, new { title = "DOWNLOAD OPEN IMAGE BY STUDENT ID" })</li>
                 </ul>
                 }
            }

        </div>
    </div>
                }
