@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Firm Final Print";
    //Layout = "~/Views/Shared/_HeaderCorr.cshtml";  By Rohit
    Layout = "~/Views/Shared/_Header.cshtml";
}
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }
    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 225px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
    .checkbox {display:inline
    }
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script type="text/javascript">
    function ShowProgress() {
        setTimeout(function () {
            var modal = $('<div />');
            modal.addClass("modal");
            $('body').append(modal);
            var loading = $(".loading");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        }, 200);
    }
    $('form').live("submit", function () {
        ShowProgress();
    });
</script>

<h1>Firm Final Print</h1>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm("FirmFinalPrint", "Admin", FormMethod.Post, new { id = "searchform" }))
{
    <div class="col-md-12">
        <fieldset style="margin-bottom:10px">
            <legend>Search</legend>
            <div class="col-md-1">
                Total &nbsp;
               <label>@ViewBag.TotalCount</label> 
            </div>
            <div class="col-md-3">
                Select Correction Type &nbsp;
                @Html.DropDownList("CorrectionType1", new SelectList(ViewBag.CorrectionType, "Value", "Text", ViewBag.SelectedItemcode), "---ALL Correction----")
            </div>
            <div class="col-md-3">
                From Date
                @Html.TextBoxFor(a => a.CorrectionFromDate, new
               {
                   id = "CorrectionFromDate",
                   //@readonly = "readonly",
                   @maxlength = "10",
                   placeholder = "From Date",
                   //onkeypress = "javascript: return false;",
                   onpaste = "return false;",
                   oncopy = "return false;",
                   oncut = "return false;"

                   //onkeydown = "return false;"
               })
            </div>
            <div class="col-md-3">
                To Date
                @Html.TextBoxFor(a => a.CorrectionToDate, new
           {
               id = "CorrectionToDate",
               //@readonly = "readonly",
               @maxlength = "10",
               placeholder = "To Date",
               //onkeypress = "javascript: return false;",
               onpaste = "return false;",
               oncopy = "return false;",
               oncut = "return false;"

               //onkeydown = "return false;"
           })
            </div>

            @*<div class="col-md-3">No. Approved @Html.TextBoxFor(m => m.CorrectionNoCapproved, new { id = "CorrectionNoCapproved", @maxlength = "20", placeholder = "No Approved" })</div>
            <div class="col-md-3">Total Amount @Html.TextBoxFor(m => m.CorrectionAmount, new { id = "CorrectionAmount", @maxlength = "20", placeholder = "Total Amount" })</div>*@

            <div class="col-md-2">&nbsp;<br /><input type="submit" value="Search" name="cmd" onclick="return valFormAmount();" title="Search on given input data" /></div>

        </fieldset>
    </div>
<div class="clearfix"></div>

    <div class="col-lg-12 text-right">
        @*<input type="Submit" value="Download All Checked" formaction="DownloadAllFirmFinalPrint" name="cmd" onclick="return dee()" />*@  
        <input type="Submit" value="Download All Checked" name="cmd" onclick="return dee()" />        
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="t01">
                    <tr class="active-tr">
                        <th width="7%">Sl. No.</th>
                        <th width="20%">Class</th>
                        <th width="20%">Correction Type</th>
                        <th width="20%">Firm Correction Lot</th>
                        <th width="15%">Firm Correction Date</th>
                        @*<th width="10%">Action</th>*@
                        <th width="18%"><input type="checkbox" id="select_all" /> Select All</th>
                    </tr>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {
                            int d = 0;
                            int Count = 0;
                            //if (ViewBag.pagesize == 1)
                            //{
                            //    Count = 0;
                            //}
                            //else
                            //{
                            //    Count = 20 * (ViewBag.pagesize - 1);
                            //}
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                d = d + 1;
                                var ClassNM = Model.StoreAllData.Tables[0].Rows[i]["class"].ToString();
                                var CType = Model.StoreAllData.Tables[0].Rows[i]["CType"].ToString();
                                var FirmCorrectionLot = Model.StoreAllData.Tables[0].Rows[i]["FirmCorrectionLot"].ToString();
                                var VerifyDt = Model.StoreAllData.Tables[0].Rows[i]["VerifyDt"].ToString();
                                var DownFlag = Model.StoreAllData.Tables[0].Rows[i]["DownFlag"].ToString();


                                Count = Count + 1;
                                <tr class="info">
                                    <td>
                                        @Count
                                    </td>
                                    <td>
                                        @ClassNM
                                    </td>
                                    <td>
                                        @CType
                                    </td>
                                    <td>
                                        @FirmCorrectionLot
                                    </td>
                                    <td>
                                        @VerifyDt
                                    </td>
                                    @if (@DownFlag == "")
                                    {
                                        <td>
                                            
                                                <input type="checkbox" value="@FirmCorrectionLot" name="AllChkId" class="checkbox" />
                                                @Html.ActionLink("Download", "DownloadFirmFinalPrint", new { id = encrypt.QueryStringModule.Encrypt(FirmCorrectionLot), CorType = CType }, new { title = "Click Here to Download." })
                                            
                                        </td>
                                    }
                                    else
                                    {
                                        <td>                                            
                                                <input type="checkbox" value="@FirmCorrectionLot" name="AllChkId" class="checkbox" />
                                                @Html.ActionLink("Downloaded", "DownloadFirmFinalPrint", new { id = encrypt.QueryStringModule.Encrypt(FirmCorrectionLot), CorType = CType }, new { title = "Click Here to Again Download." })
                                            
                                        </td>
                                    }
                                </tr>
                                //.... Pagin start
                                if (d == ViewBag.TotalCountp)
                                {
                                    @*<tr>
                                        <td colspan="12">

                                            Page @ViewBag.pagesize of @ViewBag.pn

                                            &nbsp;

                                            @if (ViewBag.pagesize == 1)

                                            {
                                                @:<<

                                                @Html.Raw("&nbsp;");

                                                @:< Prev
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "FirmFinalPrint", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "FirmFinalPrint", new { page = ViewBag.pn })
                                                }
                                            }
                                            else
                                            {
                                                
                                                @Html.ActionLink("<<", "FirmFinalPrint", new { page = 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink("< Prev", "FirmFinalPrint", new { page = ViewBag.pagesize - 1 })
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "FirmFinalPrint", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "FirmFinalPrint", new { page = ViewBag.pn })
                                                }

                                            }


                                        </td>
                                    </tr>*@
            }

            //... Paging end
        }
    }


    else
    {
                            <tr>
                                <td colspan="11">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
        @*<div>            
            @Html.TextBoxFor(a => a.SdtID, new { id = "SdtID", @maxlength = "1000", @class = "form-control", pattern = "[0-9,]+", title = "Please enter comma seperated StudentID.", placeholder = "Enter comma seperated Student ID", onkeypress = "return isNumberKey(event);" })          
            <input type="submit" value="Download record" onclick="return valForm();" title="Download all records of given stuednt Id." />
        </div>*@
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="table-responsive text-center">            
            <input type="submit" value="Back" name="cmd" title="Firm Correction Final Submit"/>
            <input type="submit" value="Home" formaction="FirmCorrectionHome" title="Go for Home Page" />            
        </div>
    </div>
    <div class="loading" align="center">
        Downloading... Please wait.<br />
        <br />
        <img src="../../images/loadingAnim.gif" />
    </div>
}

<script>
    $(document).ready(function () {

        $("#CorrectionFromDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: '-1',
            //maxDate: '10/08/2016',
            yearRange: "2016:2019"

        });
        $("#CorrectionToDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            //maxDate: '10/08/2016',
            yearRange: "2016:2019"

        });
    });

    $(function () {
        $("#select_all").change(function () {
            //"select all" change
            var status = this.checked; // "select all" checked status
            $('.checkbox').each(function () { //iterate all listed checkbox items
                this.checked = status; //change ".checkbox" checked status
            });
        });

        //uncheck "select all", if one of the listed checkbox item is unchecked
        $('.checkbox').change(function () { //".checkbox" change

            //alert($(this).val());
            if (this.checked == false) { //if this item is unchecked
                $("#select_all")[0].checked = false; //change "select all" checked status to false
            }
        });    
    });

</script>
@*<script>
    function valForm() {
        var SdtID = document.getElementById("SdtID");
        if (SdtID.value == "" || SdtID.value == "0") {
            alert("Enter Required Student Id");
            SdtID.focus();
            return false;
        }        
    }
    function isNumberKey(evt) {        
        var charCode = (evt.which) ? evt.which : event.keyCode       
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 44)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>*@

