@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Header.cshtml";
}

@using (Html.BeginForm("UpdateExFile", "Admin", FormMethod.Post, new { id = "Update_Result", enctype = "multipart/form-data" }))
{
    <h1>Update Ex File</h1>
    @*<div style="color:green">@TempData["msg"]</div>*@
    <div class="row">

        <div class="col-md-4">

            Upload Ex File @Html.TextBoxFor(m => m.file, new { id = "EX_FILE", type = "file", required = "required" })
        </div>

        @*<div class="col-md-4">

                Enter School Code @Html.TextBoxFor(m => m.SchlCode, new { id = "SchlCode", type = "text", required = "required" })
            </div>*@

        <div class="col-md-2" style="margin-top:18px">

            <input type="submit" value="Upload" />
        </div>

        <div class="col-md-2" style="margin-top:18px">

            <a class="btn btn-primary" href="~/Upload/examExcel/Sample.xlsx">Download Sample File</a>
        </div>
        <div class="col-md-2" style="margin-top:18px">


        </div>

        <div class="col-md-2" style="margin-top:20px">Print Date :  </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 overflow-auto" style="max-height:300px; overflow:auto">
            <div class="table-responsive">
                <div id="UpdateResult">
                    <table class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th colspan="2">School Code</th>
                                <th colspan="17"></th>
                            </tr>
                            <tr>
                                <th colspan="2">School Name</th>
                                <th colspan="17"></th>
                            </tr>
                            <tr>
                                <th>Sr</th>
                                <th>Tcode</th>
                                <th>Schl</th>
                                <th>Dist</th>
                                <th>Set</th>
                                <th>Class</th>
                                <th>RP</th>
                                <th>Exam</th>
                                <th>DA</th>
                                <th>Part</th>
                                <th>edist</th>
                                <th>eschl</th>
                                <th>Ecent</th>
                                <th>noc</th>
                                <th>Cschl</th>
                                <th>classnm</th>
                                <th>rpnm</th>
                                <th>examnm</th>
                                <th>danm</th>
                                <th>upddate</th>
                                <th>empid</th>



                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.StoreAllData != null)
                            {
                                if (Model.StoreAllData.Tables[0].Rows.Count > 0)
                                {
                                    int Count = 0;
                                    for (int s = 0; s < Model.StoreAllData.Tables[0].Rows.Count; s++)
                                    {
                                        Count = Count + 1;
                                        var tcode = Model.StoreAllData.Tables[0].Rows[s]["tcode"].ToString();
                                        var Set = Model.StoreAllData.Tables[0].Rows[s]["set"].ToString();
                                        var classs = Model.StoreAllData.Tables[0].Rows[s]["class"].ToString();
                                        var rp = Model.StoreAllData.Tables[0].Rows[s]["rp"].ToString();
                                        var exam = Model.StoreAllData.Tables[0].Rows[s]["exam"].ToString();
                                        var da = Model.StoreAllData.Tables[0].Rows[s]["da"].ToString();
                                        var Part = Model.StoreAllData.Tables[0].Rows[s]["part"].ToString();
                                        var edist = Model.StoreAllData.Tables[0].Rows[s]["edist"].ToString();
                                        var eschl = Model.StoreAllData.Tables[0].Rows[s]["eschl"].ToString();
                                        var ecent = Model.StoreAllData.Tables[0].Rows[s]["ecent"].ToString();
                                        var noc = Model.StoreAllData.Tables[0].Rows[s]["noc"].ToString();
                                        var cschl = Model.StoreAllData.Tables[0].Rows[s]["cschl"].ToString();
                                        var classnm = Model.StoreAllData.Tables[0].Rows[s]["classnm"].ToString();
                                        var rpnm = Model.StoreAllData.Tables[0].Rows[s]["rpnm"].ToString();
                                        var examnm = Model.StoreAllData.Tables[0].Rows[s]["examnm"].ToString();
                                        var danm = Model.StoreAllData.Tables[0].Rows[s]["danm"].ToString();
                                        var upddate = Model.StoreAllData.Tables[0].Rows[s]["upddate"].ToString();
                                        var empid = Model.StoreAllData.Tables[0].Rows[s]["empid"].ToString();
                                        var schoole = Model.StoreAllData.Tables[0].Rows[s]["schoole"].ToString();
                                        var distnm = Model.StoreAllData.Tables[0].Rows[s]["distnm"].ToString();
                                        //var Type = Model.StoreAllData.Tables[0].Rows[s]["fname"].ToString();
                                        //var Steam = Model.StoreAllData.Tables[0].Rows[s]["dob"].ToString();

                                        //var Countt = Model.StoreAllData.Tables[0].Rows[s]["Quali"].ToString();
                                        //var Self_Centre = Model.StoreAllData.Tables[0].Rows[s]["MOBILENO"].ToString();
                                        //var Centre_Code = Model.StoreAllData.Tables[0].Rows[s]["ecent"].ToString();
                                        //var Centre_Name = Model.StoreAllData.Tables[0].Rows[s]["MOBILENO"].ToString();
                                        //var Centre_Building = Model.StoreAllData.Tables[0].Rows[s]["MOBILENO"].ToString();








                                        <tr>
                                            <td>&nbsp; @Count</td>
                                            <td>&nbsp; @tcode</td>
                                            <td>&nbsp; @schoole</td>
                                            <td>&nbsp; @distnm</td>
                                            <td>&nbsp; @Set</td>
                                            <td>&nbsp;@classs </td>
                                            <td>&nbsp;@rp </td>
                                            <td>&nbsp; @exam</td>
                                            <td>&nbsp;@da</td>
                                            <td>&nbsp;@Part</td>
                                            <td>&nbsp;@edist</td>
                                            <td>&nbsp;@eschl</td>
                                            <td>&nbsp;@ecent</td>
                                            <td>&nbsp;@noc</td>
                                            <td>&nbsp;@cschl</td>
                                            <td>&nbsp;@classnm</td>
                                            <td>&nbsp;@rpnm</td>
                                            <td>&nbsp;@examnm</td>
                                            <td>&nbsp; @danm</td>
                                            <td>&nbsp;@upddate</td>
                                            <td>&nbsp;@empid </td>


                                        </tr>



                                    }
                                }

                            }

                        </tbody>






                    </table>

                </div>
            </div>
        </div>
    </div>
}

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {

            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
    function OpenDialog() {
        window.open("some url", "DialogName", "height=200,width=200,modal=yes,alwaysRaised=yes");
    }

</script>

@{
    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].ToString() == "1")
        {
            <script type="text/javascript">
                alert("EX File Data Updated Successfully")
            </script>

        }
        else if (ViewData["Result"].ToString() == "0")
        {
            var msg = ViewBag.Message;
            <script type="text/javascript">
                alert(msg, "Error");
            </script>
        }
    }
}