@model PSEBONLINE.Models.FeeOpen
@{
    ViewBag.Title = "CalculateFee";
    Layout = "~/Views/Shared/_HeaderOPEN.cshtml";
}

@*<div class="rqf">

    Today, You Are Not Authorize To Calcualate Fee of Open Admission and Examination due to dates are over .. Kindly contact with Controller Examination at PSEB Head Office</div>
    <div>*@
<section class="content-header">
    <h1>Calculate Fee of Application Number : @Session["app_no"].ToString()</h1>
    <ol class="breadcrumb">
        <li><a href="/open/Applicationstatus/@Session["app_no"].ToString()"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Calculate Fee</li>
    </ol>
</section>
<div id="dialogOnline" style="display: none">
    <span class="rqf">Click OK button to do Online Payment through Credit Card, Debit Card, Net Banking etc of any bank otherwise click Cancel button.</span>
</div>

@{
    if (ViewData["FeeStatus"] != null)
    {

        if (ViewData["FeeStatus"].ToString() == "1")
        {

            using (Html.BeginForm("CalculateFee", "Open", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
            {
                <div class="box">
                    <div class="row">
                        <div class="col-md-12" id="divMain1">
                            @{
                                if (ViewBag.PHY_CHAL != null)
                                {
                                    if (ViewBag.PHY_CHAL != "N.A." && ViewBag.Total == 0)
                                    {
                                        <span class="kdsfont rqf">ਵਿੱਲਖਣ ਸਮਰਥਾ ਵਾਲੇ ਪ੍ਰੀਖਿਆਰਥੀ ਤੋਂ ਲੇਟ ਫੀਸ ਤੋਂ  ਇਲਾਵਾ ਕੋਈ ਹੋਰ ਫੀਸ ਨਹੀ ਲਈ ਜਾਵੇਗੀ |</span>
                                    }
                                }
                            }
                        <table class="table table-bordered" id="t01">
                            @{
                                if (ViewBag.TotalCount > 0)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            @{
                                                if (ViewBag.LastDate == "" || ViewBag.LastDate == "01/01/0001")
                                                {
                                                    <span style="font-size:16px;">Last date is over for Open Admission and Examination Fee</span>

                                                }
                                                else
                                                {
                                        <span class="ui-state-highlight" style="font-size:20px;">This calculated fee is Valid till date : @ViewBag.LastDate</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr class="active-tr">
                                        <th>Form</th>
                                        <th>Admission Reg/Conti Fee</th>
                                        <th>Admission Fee</th>
                                        <th>No of Add Sub</th>
                                        <th>Admission Add. Sub. Fee</th>
                                        <th>Admission Online Form Fee</th>
                                        <th>Admission Late Fee</th>
                                        <th>Addmission Total Fee</th>
                                    </tr>
                                    <tr>
                                        <td align="center">Admission Fee @Html.DisplayFor(Model => Model.FORM)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.RegConti)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.AdmissionFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.NoAddSub)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.AddSubFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.ProsFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.LateFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.TotalFee)</td>
                                    </tr>
                                    <tr class="active-tr">
                                        <th>Form</th>
                                        <th>Hard Copy Certificate Fee</th>
                                        <th>EXAM FEE</th>
                                        <th>No of Add Sub</th>
                                        <th>EXAM ADD. SUB. FEE</th>
                                        <th>EXAM PRACTICAL FEE</th>
                                        <th>EXAM LATE FEE</th>
                                        <th>EXAM TOTAL FEE</th>
                                    </tr>
                                    <tr>
                                        <td align="center">Examination Fee</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.HardCopyCertificateFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.ExamRegFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.ExamNOAS)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.ExamAddSubFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.ExamPrSubFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.ExamLateFee)</td>
                                        <td align="center">@Html.DisplayFor(Model => Model.ExamTotalFee)</td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" align="right">
                                            Total Fees (In words) : ₹ @{
                                                if (ViewBag.Total != null)
                                                {
                                                    int totalfee = @ViewBag.Total;
                                                    PSEBONLINE.AbstractLayer.DBClass b = new PSEBONLINE.AbstractLayer.DBClass();
                                                    string AmountInWords = b.GetAmountInWords(totalfee);
                                                    <span>@AmountInWords</span>
                                                }
                                            }

                                        </td>
                                        <td align="center">
                                            @ViewBag.Total
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align:right;display:none"><a href="https://registration2022.pseb.ac.in/PDF/OpenFeeSechedule_2020-21.pdf   " class="btn" target="_blank">Fee Schedule @Session["Session"].ToString()</a></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">
                                            Record Not Found
                                        </td>
                                    </tr>
                                }
                            }

                            @if (ViewBag.TotalCount > 0)
                            {
                            <tr style="font-size:18px;color:red;">
                                <td colspan="8" style="text-align:center;border:0">
                                    Select Payment Gateway .<br>
                                    <span class="rqf" style="font-size:15px">Note : After selection of payment gateway, you can pay fee from any bank (which listed) in any mode like Debit Card, Credit Card, Net banking etc.</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" style="border:0" align="center">
                                    @{
                                        if (ViewBag.Total != null)
                                        {
                                            if (ViewBag.PHY_CHAL != "N.A." && ViewBag.Total == 0)
                                            {
                                                <span style="display:none">@Html.RadioButtonFor(m => m.BankCode, "203", new { id = "HOD", @checked = "checked" })PSEB HOD</span>
                                            }
                                            else if (ViewBag.Total > 0)
                                            {
                                                <span>@Html.RadioButtonFor(m => m.BankCode, "301", new { id = "HDFC" })<img src="~/Images/HDFC.jpg" alt="HDFC" width="150" height="75" />&nbsp;&nbsp;</span>
                                                @*<span>&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.BankCode, "302", new { id = "ATOM" }) <img src="~/Images/PNSB.jpg" alt="ATOM" width="150" height="75" /></span>*@

                                            }
                                        }

                                    }
                                </td>

                            </tr>
                            <tr>
                                <td colspan="8" style="text-align:center;border:0">
                                    <div id="loading1"></div>
                                    @if (ViewBag.Total != null && ViewBag.Total > 0)
                                    {
                                        <input id="btnPayment" type="button" value="Proceed to Pay Online" class="btn" />

                                    }
                                    else if (ViewBag.PHY_CHAL != "N.A." && ViewBag.Total == 0)
                                    {
                                        <input id="btnPaymentHOD" type="submit" value="Proceed to Final Submit & Generate Challan" class="btn" onclick="return confirm('You are going to submit the data. After that data will be locked for any changes?');" />
                                    }


                                </td>
                            </tr>
    }
                        </table>
                            <div id="loading1"></div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            @*<p style="text-align:center;font-size:24px;color:#f00">If you already deposited amount in Bank, then please don't regenerate challan.</p>*@
            <div class="box">
                <div class="row">
                    <div class="col-md-12" id="divall">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="t01">
                                <tr class="active-tr">
                                    <th>S.No</th>
                                    <th>Name of Bank</th>
                                    <th>Payment Id</th>
                                    <th>Transaction Date</th>
                                    <th>Transaction Id</th>

                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                @{
                                    if (ViewBag.TotalCount2 > 0)
                                    {
                                        if (Model.StoreAllData.Tables[0].Rows.Count > 0)
                                        {
                                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                            {
                                                //var Lotno = Model.StoreAllData.Tables[0].Rows[i]["LOT"].ToString();
                                                var Bank = Model.StoreAllData.Tables[0].Rows[i]["Bank"].ToString();
                                                var ChallanNo = Model.StoreAllData.Tables[0].Rows[i]["ChallanId"].ToString();
                                                var ChallanDate = Model.StoreAllData.Tables[0].Rows[i]["ChallanDate"].ToString();
                                                var ChallanVDate = Model.StoreAllData.Tables[0].Rows[i]["CHLNVDATE"].ToString();
                                                var ChallanVerifiedOn = Model.StoreAllData.Tables[0].Rows[i]["ChallanVerifiedOn"].ToString();
                                                var Status = Model.StoreAllData.Tables[0].Rows[i]["Status"].ToString();
                                                // 0 - Gen , 1-Download,2-verified
                                                var ExpireVDate = Model.StoreAllData.Tables[0].Rows[i]["ExpireVDate"].ToString();
                                                var J_REF_NO = Model.StoreAllData.Tables[0].Rows[i]["J_REF_NO"].ToString();
                                                //var ExpireVDate = "1";
                                                //1 : Expire , 0-Not expire
                                                var FeeDepositStatus = Model.StoreAllData.Tables[0].Rows[i]["FeeDepositStatus"].ToString();
                                                int Count = i + 1;
                                                <tr>
                                                    <td align="center">@Count</td>
                                                    @*<td align="center">@Lotno</td>*@
                                                    <td align="center">@Bank</td>
                                                    <td align="center">@ChallanNo</td>
                                                    <td align="center">@ChallanDate</td>
                                                    <td align="center">@J_REF_NO</td>

                                                    <td align="center">@Status</td>
                                                    <td align="center" class="nlink">
                                                        @if (Model.StoreAllData.Tables[0].Rows[i]["StatusNumber"].ToString() == "0")
                                                        {
                                                            //Challan Verified
                                                            ////  FinalPrintChallan
                                                            if (ExpireVDate.ToString() == "0" && FeeDepositStatus.ToString() == "0")
                                                            {
                                                                @*<a href='@Url.Action("GenerateChallaan", "Open", new { Id = @ViewBag.ChallanId })' class="btn">Click to View Challan</a><br />*@
                                                            }

                                                        }
                                                        else if (Model.StoreAllData.Tables[0].Rows[i]["StatusNumber"].ToString() == "1")
                                                        {

                                                            if (ExpireVDate.ToString() == "0" && FeeDepositStatus.ToString() == "0")
                                                            {
                                                                @*<a href='@Url.Action("GenerateChallaan", "Open", new { Id = @ViewBag.ChallanId })' class="btn">Click to View Challan</a><br />*@
                                                                @*@Html.ActionLink("Enter Fee Deposit Details", "FeeDepositDetails", "Home", new { id = @ChallanNo }, "")*@

                                                            }
                                                            else if (FeeDepositStatus.ToString() == "1")
                                                            {
                                                                <span>Challan Verification Pending</span>
                                                            }
                                                            else if (ExpireVDate.ToString() == "1" && FeeDepositStatus.ToString() == "0")
                                                            {
                                                                @*<a href='@Url.Action("GenerateChallaan", "Open", new { Id = @ViewBag.ChallanId })' class="btn">Click to View Challan</a><br />
                                                                    @Html.ActionLink("Enter Fee Deposit Details", "FeeDepositDetails", "Home", new { id = @ChallanNo }, "")
                                                                    <button type="button" class="" data-toggle="modal" data-target="#myModal-@ChallanNo" onclick="return confirm('If you already deposited amount in Bank then please dont regenerate challan. Are you sure to Re-Generate Challan or Cancel?');">Re-Generate Challan</button>*@

                                                            }


                                                        }
                                                        else if (Model.StoreAllData.Tables[0].Rows[i]["StatusNumber"].ToString() == "2")
                                                        {
                                                            if (Session["CentreStatus"].ToString() == "1")
                                                            {
                                                                //Challan Verified
                                                                ////  FinalPrintChallan
                                                                @Html.ActionLink("Download Application Form", "ApplicationForm", new { Id = @Session["app_no"].ToString() })
                                                            }
                                                            else if (Session["CentreStatus"].ToString() == "0")
                                                            {
                                                                @Html.ActionLink("Click here to Choose Study Center", "Study_Center")
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">
                                                Challan Not Found
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    @if (Session["payVerify"] != null)
                    {
                        if (Session["payVerify"].ToString() == "1")
                        {
                            <div id="nxt">
                                <input type="button" value="Next" id="btn_lock" onclick="next()" />
                                <script language="javascript" type="text/javascript">
                                                                function next()
                                                                {
                                                                    window.location.href = '@Url.Action("Study_Center", "Open")';
                                                                }
                                </script>
                            </div>
                        }
                    }
                </div>
            </div>


        }
    }
    else
    {
        <p class="rqf">Record Not Found</p>
        <p class="rqf">@ViewData["OutError"]</p>
    }

}






@{
    if (ViewData["SelectBank"] != null)
    {
        if (ViewData["SelectBank"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                                                            alert("Please Select Bank ");
                                                            window.location.href = '@Url.Action("CalculateFee", "Open")';
            </script>

        }
    }


    if (ViewData["result"] != null)
    {

        if (ViewData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Challan Not Generated, Plz Try Again");
                $('#Main1').show();
                $('#loading1').empty();
            </script>

        }
        else if (ViewData["result"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                alert("Challan Already Exists");
                $('#Main1').show();
                $('#loading1').empty();
            </script>

        }
        else if (ViewData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                                                            alert("Challan Generated Successfully Bank ");
                                                            $('#Main1').show();
                                                            $('#loading1').empty();
                                                            //window.location.href = '@Url.Action("GenerateChallaan", "Open", new { Id = @ViewBag.ChallanNo })';
            </script>

        }
        else if (ViewData["result"].ToString() == "20")
        {
            <script type="text/javascript" language="javascript">
                alert('@ViewBag.Message');
                $('#Main1').show();
                $('#loading1').empty();
            </script>

        }

    }
}




<script type="text/javascript">
    //Start Payment
    $("#btnPaymentHOD").click(function () {
        var HOD = document.getElementById("HOD").checked;


        if (HOD == false) {
            alert("Please Select Any Bank");
            return false;
        }
        else {
            $('#Main1').hide();
            $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Are you sure to Final Submit ?");
            return true;
        }

    });
</script>


<script type="text/javascript">

    $("#btnPayment").click(function () {

        var SBPa = document.getElementById("HDFC").checked;
       

        if (SBPa == false) {
            alert("Please Select Any Bank For Online Payment");
            return false;
        }
        else {

            $('#Main1').hide();
            $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Are you sure to do online payment?");
            $('#dialogOnline').dialog('open');
            return true;
        }

    });
    $(function () {
        $("#dialogOnline").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure to do online payment?",
            width: 400,
            height: 220,
            buttons: {
                "OK": function () {
                    // $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $('#myForm').submit();
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $('#loading1').empty("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

@*<script type="text/javascript">

        function Send(k) {
            // alert('regenaret start');
            var txtChallanNo = '#txtChallanNo-' + k;
            //  alert("Start  Re-Generate Challan " + txtChallanNo);

            var SBIa = document.getElementById("SBI-" + k).checked;
            var PNBa = document.getElementById("PNB-" + k).checked;
            var BCODE = "";
            if (SBIa == false && PNBa == false) {
                alert("Please Select Any Bank");
                return false;
            }
            else if (SBIa == true && PNBa == true) {
                alert("Please Select Only 1 Bank Either SBI or PNB");
                document.getElementById("SBI-" + k).checked = false;
                document.getElementById("PNB-" + k).checked = false;
                return false;
            }
            else {
                if (document.getElementById("SBI-" + k).checked == true) { BCODE = "204"; }
                else if (document.getElementById("PNB-" + k).checked == true) { BCODE = "202"; }
                else { BCODE = ""; }
            }

            if (BCODE == "") {
                alert('Please Select Bank')
                return false;
            }
            else if ($('#txtChallanNo-' + k).val() == "") {
                $('#txtChallanNo-' + k).addClass("input-validation-error");
                return false;
            }
            else {
                //  alert('Now Re-Generate Challan of :' + $('#txtChallanNo-' + k).val())
                // $('#Main1').hide();
                $('#loading1-' + k).html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                $.ajax({
                    type: "POST",
                    url: "/Home/jqReGenerateChallaanNew",
                    data: '{ChallanId:"' + $('#txtChallanNo-' + k).val() + '", BCODE:"' + BCODE + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response);
                        $('#loading1-' + k).empty();
                    }
                });
                function OnSuccess(response) {
                    if (response.dee == "1") {
                        alert("Challan Re-Generated Successfully & Your Challan ID is " + response.chid);
                        $("#myModal-" + k).hide();
                        $('#loading1-' + k).empty();
                        window.open("/Open/GenerateChallaan?Id=" + response.chid, "_blank");
                    }
                    else {
                        alert("Failure, Please Try Again.");
                        $('#loading1-' + k).empty();
                    }
                }
            }
        }

    </script>*@


