@model PSEBONLINE.Models.FeeOpenModel
@{
    ViewBag.Title = "CalculateFee";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}


<section class="content-header">
    <h1>Calculate Fee of Application Number : @Session["SCHL"].ToString()</h1>
    <ol class="breadcrumb">
        <li><a href="/open/Applicationstatus/@Session["SCHL"].ToString()"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Calculate Fee</li>
        <a data-toggle="modal" data-target="#myModal1"><button>Student List</button></a>
    </ol>
</section>
<div id="dialogOnline" style="display: none">
    <span class="rqf">Click OK button to do Online Payment through Credit Card, Debit Card, Net Banking etc of any bank otherwise click Cancel button.</span>
</div>

@{


    using (Html.BeginForm("CalculateFeeForOpenRepayment", "Open", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
    {
        <div class="box">
            <div class="row">






                <div class="col-md-12" id="divMain1">

                    <table class="table table-bordered" id="t01">
                        @{
                            if (ViewBag.TotalCount > 0)
                            {
                                var RegConti_Fee = 0;
                                var Admission_Fee = 0;
                                var AddSub_Fee = 0;
                                var Pros_Fee = 0;
                                var Late_Fee = 0;
                                var Total_Fee = 0;
                                var HardCopyCertificate_Fee = 0;
                                var ExamReg_Fee = 0;
                                var ExamAddSub_Fee = 0;
                                var ExamPrSub_Fee = 0;
                                var ExamLate_Fee = 0;
                                var ExamTotal_Fee = 0;
                                var LastPaidTotal_Fee = 0;
                                var Total_Fee_To_Pay = 0;
                                var CalcuLatedFeeNow = 0;
                                var Count = 0;

                                foreach (var Data in Model.feeopenList)
                                {
                                    Count = Model.feeopenList.Count;
                                    RegConti_Fee += Data.RegConti;
                                    Admission_Fee = Data.AdmissionFee;
                                    AddSub_Fee += Data.AddSubFee;
                                    Pros_Fee += Data.ProsFee;
                                    Late_Fee += Data.LateFee;
                                    Total_Fee += Data.TotalFee;
                                    HardCopyCertificate_Fee += Data.HardCopyCertificateFee;
                                    ExamReg_Fee += Data.ExamRegFee;
                                    ExamAddSub_Fee += Data.ExamAddSubFee;
                                    ExamPrSub_Fee += Data.ExamPrSubFee;
                                    ExamLate_Fee += Data.ExamLateFee;
                                    ExamTotal_Fee += Data.ExamTotalFee;
                                    LastPaidTotal_Fee += Data.lastPaidFee;

                                }

                                CalcuLatedFeeNow = Total_Fee + ExamTotal_Fee;
                                Total_Fee_To_Pay = CalcuLatedFeeNow - LastPaidTotal_Fee;


                                <tr class="active-tr">
                                    <th>Reg Conti Fee</th>
                                    <th>AdmissionFee</th>
                                    <th>AddSubFee</th>
                                    <th>ProsFee</th>
                                    <th>LateFee</th>
                                    <th>TotalFee</th>

                                </tr>
                                <tr>
                                    <td align="center">@RegConti_Fee</td>
                                    <td align="center">@Admission_Fee</td>
                                    <td align="center">@AddSub_Fee</td>
                                    <td align="center">@Pros_Fee</td>
                                    <td align="center">@Late_Fee</td>
                                    <td align="center">@Total_Fee</td>
                                </tr>
                                <tr class="active-tr">

                                    <th>Hard Copy Certificate Fee</th>
                                    <th>ExamRegFee</th>
                                    <th>EXAM ADD. SUB. FEE</th>
                                    <th>EXAM PRACTICAL FEE</th>
                                    <th>EXAM LATE FEE</th>
                                    <th>EXAM TOTAL FEE</th>
                                </tr>
                                <tr>

                                    <td align="center">@HardCopyCertificate_Fee</td>
                                    <td align="center">@ExamReg_Fee</td>
                                    <td align="center">@ExamAddSub_Fee</td>
                                    <td align="center">@ExamPrSub_Fee</td>
                                    <td align="center">@ExamLate_Fee</td>
                                    <td align="center">@ExamTotal_Fee</td>
                                </tr>



                                <tr>

                                    <td>Total fee calculated:= @CalcuLatedFeeNow </td>
                                    <td>Total Last Paid fee:= @LastPaidTotal_Fee </td>
                                    <td>Now Total fee has to pay:= @Total_Fee_To_Pay </td>
                                    <td colspan="3" align="right">
                                        Total Fees (In words) : ₹ @{
                                            if (ViewBag.Total != null)
                                            {
                                                int totalfee = @ViewBag.Total;
                                                PSEBONLINE.AbstractLayer.DBClass b = new PSEBONLINE.AbstractLayer.DBClass();
                                                string AmountInWords = b.GetAmountInWords((Total_Fee + ExamTotal_Fee) - LastPaidTotal_Fee);
                                                <span>@AmountInWords</span>
                                            }
                                        }

                                    </td>
                                    <td align="center">
                                        @ViewBag.Total
                                    </td>
                                </tr>


                            }

                            <tr>
                            </tr>

                            <tr>
                                <td colspan="8" style="text-align:right;display:none"><a href="https://registration2022.pseb.ac.in/PDF/OpenFeeSechedule_2020-21.pdf   " class="btn" target="_blank">Fee Schedule @Session["Session"].ToString()</a></td>
                            </tr>
                        }



                        @if (ViewBag.TotalCount > 0)
                        {
                            <tr style="font-size:18px;color:red;">
                                <td colspan="8" style="text-align:center;border:0">
                                    Select Payment Gateway .<br>
                                    <span class="rqf" style="font-size:15px">Note : After selection of payment gateway, you can pay fee from any bank (which listed) in any mode like Debit Card, Credit Card, Net banking etc.</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" style="border:0" align="center">
                                    @{
                                        if (ViewBag.Total != null)
                                        {
                                            if (ViewBag.Total == 0)
                                            {
                                                <span style="display:none">@Html.RadioButtonFor(m => m.feeopenData.BankCode, "203", new { id = "HOD", @checked = "checked" })PSEB HOD</span>
                                            }
                                            else if (ViewBag.Total > 0)
                                            {
                                                <span>@Html.RadioButtonFor(m => m.feeopenData.BankCode, "301", new { id = "HDFC" })<img src="~/Images/HDFC.jpg" alt="HDFC" width="150" height="75" />&nbsp;&nbsp;</span>
                                                @*<span>&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.feeopenData.BankCode, "302", new { id = "ATOM" }) <img src="~/Images/PNSB.jpg" alt="ATOM" width="150" height="75" /></span>*@

                                            }
                                        }

                                    }
                                </td>

                            </tr>
                            <tr>
                                <td colspan="8" style="text-align:center;border:0">
                                    <div id="loading1"></div>
                                    @if (ViewBag.Total > 0)
                                    {
                                        <input id="btnPayment" type="button" value="Proceed to Pay Online" class="btn" />

                                    }
                                    else if (ViewBag.Total == 0)
                                    {
                                        <input id="btnPaymentHOD" type="submit" value="Proceed to Final Submit & Generate Challan" class="btn" onclick="return confirm('You are going to submit the data. After that data will be locked for any changes?');" />
                                    }


                                </td>
                            </tr>
                        }
                    </table>
                    <div id="loading1"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="modal fade" id="myModal1" role="dialog" style="overflow:auto">
                <div class="modal-dialog" style="width:80%">
                    <!-- Modal content-->
                    <div class="modal-content" style="width:fit-content !important">
                        <div class="modal-header">
                            Count : @Model.feeopenList.Count
                            <button type="button" class="close" style="color:#fb9709" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <table class="table table-bordered">
                                    <thead>

                                        <tr class="active-tr">
                                            <th>Select</th>
                                            <th>Appno</th>
                                            <th>Add SubFee</th>
                                            <th>Late Fee</th>
                                            <th>HardCopyCertificateFee</th>
                                            <th>Late Fee</th>
                                            <th>ProsFee</th>
                                            <th>RegConti</th>
                                            <th>Admission Fee</th>

                                            <th>Total Fee</th>

                                            <th>Exam Reg Fee</th>
                                            <th>Exam Late Fee</th>
                                            <th>Exam Total Fee</th>
                                            <th>Exam PrSub Fee</th>
                                            <th>Exam AddSub Fee</th>
                                            <th>Total Fee Now</th>
                                            <th>last paid Fee</th>
                                            <th>Total Fee To Pay</th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        @{
                                            var AppNo = "";
                                            var FeeCode = "";
                                            var FeeCat = "";
                                            var FORM = "";
                                            var EndDate = "";
                                            //var BankLastDate = "";
                                            var LateFee = 0;
                                            var ProsFee = 0;
                                            var RegConti = 0;
                                            var RegContiCat = "";
                                            var AdmissionFee = 0;
                                            var AddSubFee = 0;
                                            var NoAddSub = 0;
                                            var TotalFee = 0;
                                            var TotalFeesInWords = "";

                                            var ExamRegFee = 0;
                                            var ExamLateFee = 0;
                                            var ExamTotalFee = 0;
                                            var ExamNOAS = 0;
                                            var ExamNOPS = 0;
                                            var ExamPrSubFee = 0;
                                            var ExamAddSubFee = 0;
                                            var ExamStartDate = "";
                                            var ExamEndDate = "";
                                            var ExamBankLastDate = "";
                                            var HardCopyCertificateFee = 0;
                                            var lastpaidFee = 0;
                                            var totalCalculatedFee = 0;
                                            var total_Fee_To_Pay = 0;

                                            var count = 0;


                                            foreach (var Data in Model.feeopenList)
                                            {
                                                count = Model.feeopenList.Count;

                                                AppNo = Data.AppNo;
                                                AdmissionFee = Data.AdmissionFee;
                                                AddSubFee = Data.AddSubFee;
                                                ProsFee = Data.ProsFee;
                                                LateFee = Data.LateFee;
                                                TotalFee = Data.TotalFee;
                                                HardCopyCertificateFee = Data.HardCopyCertificateFee;
                                                ExamRegFee = Data.ExamRegFee;
                                                ExamAddSubFee = Data.ExamAddSubFee;
                                                ExamPrSubFee = Data.ExamPrSubFee;
                                                ExamLateFee = Data.ExamLateFee;
                                                ExamTotalFee = Data.ExamTotalFee;


                                                FeeCode = Data.FeeCode;
                                                FeeCat = Data.FeeCat;
                                                FORM = Data.FORM;
                                                EndDate = Data.EndDate;
                                                //BankLastDate += Data.BankLastDate;
                                                LateFee = Data.LateFee;
                                                ProsFee = Data.ProsFee;
                                                RegConti = Data.RegConti;
                                                RegContiCat = Data.RegContiCat;
                                                AdmissionFee = Data.AdmissionFee;
                                                AddSubFee = Data.AddSubFee;
                                                NoAddSub = Data.NoAddSub;
                                                TotalFee = Data.TotalFee;
                                                TotalFeesInWords = Data.TotalFeesInWords;

                                                ExamRegFee = Data.ExamRegFee;
                                                ExamLateFee = Data.ExamLateFee;
                                                ExamTotalFee = Data.ExamTotalFee;
                                                ExamNOAS = Data.ExamNOAS;
                                                ExamNOPS = Data.ExamNOPS;
                                                ExamPrSubFee = Data.ExamPrSubFee;
                                                ExamAddSubFee = Data.ExamAddSubFee;
                                                ExamStartDate = Data.ExamStartDate;
                                                ExamEndDate = Data.ExamEndDate;
                                                //ExamBankLastDate += Data.ExamBankLastDate;
                                                HardCopyCertificateFee = Data.HardCopyCertificateFee;
                                                lastpaidFee = Data.lastPaidFee;
                                                totalCalculatedFee = TotalFee + ExamTotalFee;
                                                total_Fee_To_Pay = totalCalculatedFee - lastpaidFee;

                                                <tr>
                                                    <td align="center"><input type="checkbox" id="selectedItems" name="selectedItems" value="@TotalFee-@ExamTotalFee-@AppNo-
                                                                              @AdmissionFee-@LateFee-@ProsFee-@AddSubFee-@RegConti-@ExamRegFee-@ExamLateFee-@lastpaidFee" /></td>
                                                    <td align="center">@AppNo</td>
                                                    <td align="center">@AddSubFee</td>
                                                    <td align="center">@LateFee</td>
                                                    <td align="center">@HardCopyCertificateFee</td>
                                                    <td align="center">@LateFee</td>
                                                    <td align="center">@ProsFee</td>
                                                    <td align="center">@RegConti</td>
                                                    <td align="center">@AdmissionFee</td>

                                                    <td align="center">@TotalFee</td>

                                                    <td align="center">@ExamRegFee</td>
                                                    <td align="center">@ExamLateFee</td>
                                                    <td align="center">@ExamTotalFee</td>
                                                    <td align="center">@ExamPrSubFee</td>
                                                    <td align="center">@ExamAddSubFee</td>
                                                    <td align="center">@totalCalculatedFee</td>
                                                    <td align="center">@lastpaidFee</td>
                                                    <td align="center">@total_Fee_To_Pay</td>


                                                </tr>

                                            }

                                            <tr> <button type="button" id="submitForm">Submit</button></tr>




                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}








@{
    if (ViewData["SelectBank"] != null)
    {
        if (ViewData["SelectBank"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
    alert("Please Select Bank ");
    window.location.href = '@Url.Action("CalculateFee", "Open")';
            </script>

        }
    }


    if (ViewData["result"] != null)
    {

        if (ViewData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Challan Not Generated, Plz Try Again");
                $('#Main1').show();
                $('#loading1').empty();
            </script>

        }
        else if (ViewData["result"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                alert("Challan Already Exists");
                $('#Main1').show();
                $('#loading1').empty();
            </script>

        }
        else if (ViewData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
    alert("Challan Generated Successfully Bank ");
    $('#Main1').show();
    $('#loading1').empty();
    //window.location.href = '@Url.Action("GenerateChallaan", "Open", new { Id = @ViewBag.ChallanNo })';
            </script>

        }
        else if (ViewData["result"].ToString() == "20")
        {
            <script type="text/javascript" language="javascript">
    alert('@ViewBag.Message');
    $('#Main1').show();
    $('#loading1').empty();
            </script>

        }

    }
}




<script type="text/javascript">
    //Start Payment
    $("#btnPaymentHOD").click(function () {
        var HOD = document.getElementById("HOD").checked;


        if (HOD == false) {
            alert("Please Select Any Bank");
            return false;
        }
        else {
            $('#Main1').hide();
            $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Are you sure to Final Submit ?");
            return true;
        }

    });
</script>


<script type="text/javascript">

    $("#btnPayment").click(function () {

        var SBPa = document.getElementById("HDFC").checked;


        if (SBPa == false) {
            alert("Please Select Any Bank For Online Payment");
            return false;
        }
        else {

            $('#Main1').hide();
            $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Are you sure to do online payment?");
            $('#dialogOnline').dialog('open');
            return true;
        }

    });
    $(function () {
        $("#dialogOnline").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure to do online payment?",
            width: 400,
            height: 220,
            buttons: {
                "OK": function () {
                    // $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $('#myForm').submit();
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $('#loading1').empty("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $(this).dialog("close");
                }
            }
        });
    });
</script>



<script>
    $(document).ready(function () {
        $("#submitForm").click(function (e) {
            e.preventDefault();

            // Serialize the form data
            var formData = $("#selectedItems").serialize();
            var selectedItems = $("input[name='selectedItems']:checked").map(function () {
                return $(this).val();
            }).get();

            // Submit the form using AJAX
            $.ajax({
                type: "POST",
                url: "@Url.Action("ProcessCheckedItems", "Open")",
                data: { selectedItems: selectedItems },
                success: function (response) {
                    // Handle the response if needed
                    console.log(response);
                },
                error: function (error) {
                    // Handle errors if any
                    console.log(error);
                }
            });
        });
    });
</script>

@*
    <script type="text/javascript">

        function Send(k) {
            // alert('regenaret start');
            var txtChallanNo = '#txtChallanNo-' + k;
            //  alert("Start  Re-Generate Challan " + txtChallanNo);

            var SBIa = document.getElementById("SBI-" + k).checked;
            var PNBa = document.getElementById("PNB-" + k).checked;
            var BCODE = "";
            if (SBIa == false && PNBa == false) {
                alert("Please Select Any Bank");
                return false;
            }
            else if (SBIa == true && PNBa == true) {
                alert("Please Select Only 1 Bank Either SBI or PNB");
                document.getElementById("SBI-" + k).checked = false;
                document.getElementById("PNB-" + k).checked = false;
                return false;
            }
            else {
                if (document.getElementById("SBI-" + k).checked == true) { BCODE = "204"; }
                else if (document.getElementById("PNB-" + k).checked == true) { BCODE = "202"; }
                else { BCODE = ""; }
            }

            if (BCODE == "") {
                alert('Please Select Bank')
                return false;
            }
            else if ($('#txtChallanNo-' + k).val() == "") {
                $('#txtChallanNo-' + k).addClass("input-validation-error");
                return false;
            }
            else {
                //  alert('Now Re-Generate Challan of :' + $('#txtChallanNo-' + k).val())
                // $('#Main1').hide();
                $('#loading1-' + k).html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                $.ajax({
                    type: "POST",
                    url: "/Home/jqReGenerateChallaanNew",
                    data: '{ChallanId:"' + $('#txtChallanNo-' + k).val() + '", BCODE:"' + BCODE + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response);
                        $('#loading1-' + k).empty();
                    }
                });
                function OnSuccess(response) {
                    if (response.dee == "1") {
                        alert("Challan Re-Generated Successfully & Your Challan ID is " + response.chid);
                        $("#myModal-" + k).hide();
                        $('#loading1-' + k).empty();
                        window.open("/Open/GenerateChallaan?Id=" + response.chid, "_blank");
                    }
                    else {
                        alert("Failure, Please Try Again.");
                        $('#loading1-' + k).empty();
                    }
                }
            }
        }

    </script>*@






























