@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "School";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

@*@using (Html.BeginForm("AllotedExamCenter", "School", FormMethod.get, new { id = "Update_Result", enctype = "multipart/form-data" }))
{*@
<h1>Alloted Exam Centre Details</h1>
    @*<div style="color:green">@TempData["msg"]</div>*@

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 overflow-auto" style="max-height:300px; overflow:auto">
        <div class="table-responsive">
            <div id="UpdateResult">
                <table class="table table-bordered" style="width:100%">
                    @if (Model.StoreAllData.Tables[0].Rows.Count > 0)
                    {

                    <thead>
                        <tr>
                            <th colspan="2">School Code</th>

                            <th colspan="19">@Model.StoreAllData.Tables[0].Rows[0]["eschl"].ToString()</th>

                        </tr>
                        <tr>
                            <th colspan="2">School Name</th>


                            <th colspan="19">@Model.StoreAllData.Tables[0].Rows[0]["ecentre"].ToString();</th>

                        </tr>
                        <tr>


                            <th>Sr</th>
                            <th>Class</th>
                            <th>Set</th>
                            <th>Type</th>
                            <th>Steam</th>
                            <th>Part</th>
                            <th>Count</th>
                            <th>Self Centre</th>
                            <th>Centre Code</th>
                            <th>Centre Name</th>
                            <th>Centre Building Name</th>



                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.StoreAllData != null)
                        {
                        if (Model.StoreAllData.Tables[0].Rows.Count > 0)
                        {
                        int Count = 0;
                        for (int s = 0; s < Model.StoreAllData.Tables[0].Rows.Count; s++)
                        {
                        Count = Count + 1;
                        var tcode = Model.StoreAllData.Tables[0].Rows[s]["tcode"].ToString();
                        var Set = Model.StoreAllData.Tables[0].Rows[s]["set"].ToString();
                        var classs = Model.StoreAllData.Tables[0].Rows[s]["class"].ToString();
                        var rp = Model.StoreAllData.Tables[0].Rows[s]["rp"].ToString();
                        var exam = Model.StoreAllData.Tables[0].Rows[s]["exam"].ToString();
                        var da = Model.StoreAllData.Tables[0].Rows[s]["da"].ToString();
                        var Part = Model.StoreAllData.Tables[0].Rows[s]["part"].ToString();
                        var edist = Model.StoreAllData.Tables[0].Rows[s]["edist"].ToString();
                        var eschl = Model.StoreAllData.Tables[0].Rows[s]["eschl"].ToString();
                        var ecent = Model.StoreAllData.Tables[0].Rows[s]["ecent"].ToString();
                        var noc = Model.StoreAllData.Tables[0].Rows[s]["noc"].ToString();
                        var cschl = Model.StoreAllData.Tables[0].Rows[s]["cschl"].ToString();
                        var classnm = Model.StoreAllData.Tables[0].Rows[s]["classnm"].ToString();
                        var rpnm = Model.StoreAllData.Tables[0].Rows[s]["rpnm"].ToString();
                        var examnm = Model.StoreAllData.Tables[0].Rows[s]["examnm"].ToString();
                        var danm = Model.StoreAllData.Tables[0].Rows[s]["danm"].ToString();
                        var upddate = Model.StoreAllData.Tables[0].Rows[s]["upddate"].ToString();
                        var empid = Model.StoreAllData.Tables[0].Rows[s]["empid"].ToString();
                        var schoole = Model.StoreAllData.Tables[0].Rows[s]["schoole"].ToString();
                        var distnm = Model.StoreAllData.Tables[0].Rows[s]["distnm"].ToString();
                        var blocke = Model.StoreAllData.Tables[0].Rows[s]["blocke"].ToString();
                        var ecentre = Model.StoreAllData.Tables[0].Rows[s]["ecentre"].ToString();










                        <tr>
                            <td>&nbsp; @Count</td>
                            <td>&nbsp;@classnm</td>
                            <td>&nbsp; @Set</td>
                            <td>&nbsp; @rpnm</td>
                            <td>&nbsp; @examnm</td>
                            <td>&nbsp;@Part </td>
                            <td>&nbsp;@noc </td>
                            <td>&nbsp; @danm</td>
                            <td>&nbsp;@ecent</td>
                            <td>&nbsp;@schoole</td>
                            <td>&nbsp;@schoole + (@blocke)</td>



                        </tr>



                        }
                        }

                        }

                    </tbody>

                    }
                    else{
                    <h3>No Record Found</h3>
                    }




                </table>

            </div>
        </div>
    </div>
</div>
@*}*@

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {

            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
    function OpenDialog() {
        window.open("some url", "DialogName", "height=200,width=200,modal=yes,alwaysRaised=yes");
    }

</script>

@*@{
    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].ToString() == "1")
        {
<script type="text/javascript">
    alert("EX File Data Updated Successfully")
</script>

        }
        else if (ViewData["Result"].ToString() == "0")
        {
            var msg = ViewBag.Message;
<script type="text/javascript">
    alert(msg, "Error");
</script>
        }
    }
}*@