@model PSEBONLINE.Models.CallCenter
@{
    ViewBag.Title = "Display Complaints";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<h2>DisplayComplaints</h2>

<head>
        <meta name="viewport" content="width=device-width" />
    <title>Display Complaints</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

        <style>
            .w3-tooltip,.w3-display-container{position:relative}
            .w3-tooltip .w3-text{display:none}
                .w3-tooltip:hover .w3-text{display:inline-block}
        </style>
</head>
<body>

    @if (Session["SchoolLogin"] == null || Convert.ToString(Session["SchoolLogin"]) == string.Empty)
    {
        Response.Redirect("~/Login");
    }

    @using (Html.BeginForm("DisplayComplaints", "School", FormMethod.Post, new { id = "searchform" }))
    {
        <div class="row">
            <div class="col-md-12">
                <fieldset style="margin-bottom:15px">
                    <legend>Search</legend>
                    <div class="col-md-3">
                        Class <br>
                        @{
                            var listItems = new List<System.Web.UI.WebControls.ListItem>();
                            listItems.Add(new System.Web.UI.WebControls.ListItem { Text = "--Select Class --", Value = "" });
                            listItems.Add(new System.Web.UI.WebControls.ListItem { Text = "9", Value = "9" });
                            listItems.Add(new System.Web.UI.WebControls.ListItem { Text = "10", Value = "10" });
                            listItems.Add(new System.Web.UI.WebControls.ListItem { Text = "11", Value = "11" });
                            listItems.Add(new System.Web.UI.WebControls.ListItem { Text = "12", Value = "12" });
                            listItems.Add(new System.Web.UI.WebControls.ListItem { Text = "Others", Value = "Others" });
                        }
                        @Html.DropDownList("classname", new SelectList(listItems, "Value", "Text", ViewBag.classn))
                    </div>
                    <div class="col-md-3">
                        Form Name <br>
                        @Html.DropDownListFor(model => model.formname, (List<SelectListItem>)ViewBag.forms)
                    </div>

                    <div class="col-md-3">
                        Status<br>
                        @{
                            var listItems2 = new List<System.Web.UI.WebControls.ListItem>();
                            listItems2.Add(new System.Web.UI.WebControls.ListItem { Text = "--Select Status--", Value = "" });
                            listItems2.Add(new System.Web.UI.WebControls.ListItem { Text = "Pending", Value = "0" });
                            listItems2.Add(new System.Web.UI.WebControls.ListItem { Text = "InProgress", Value = "1" });
                            listItems2.Add(new System.Web.UI.WebControls.ListItem { Text = "Completed", Value = "2" });
                            listItems2.Add(new System.Web.UI.WebControls.ListItem { Text = "Rejected", Value = "3" });
                            if ((Session["Role_Type"] != null && Session["Role_Type"].ToString() != "admin"))
                            { listItems2.Add(new System.Web.UI.WebControls.ListItem { Text = "Forward To P.S.E.B", Value = "4" }); }
                        }
                        @Html.DropDownList("status1", new SelectList(listItems2, "Value", "Text", ViewBag.stat))
                    </div>
                    <div class="col-md-3">
                        Submitted On<input type="text" id="dateSubmitted" name="dateSubmitted" onchange="myFunction()" value="@ViewBag.datef" />
                    </div>
                    <div class="col-md-3">
                        Ticket No.<input type="text" id="ticket" name="ticket" value="@ViewBag.ticket" />
                    </div>

                    <div class="col-md-3">
                        <br>
                        <input type="submit" value="Search">
                        <input type="button" value="Reset" onclick="javascript:document.location.href='@Url.Action("DisplayComplaints", "School",new { command="reset"})'" />
                    </div>

                </fieldset>
            </div>
        </div>
                            }

    <div>
        @*<h4>Display Complaints</h4>
        <button onclick="myPrintFunction()">Print this page</button>*@


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="t01">
                        <tr class="active-tr">
                            <th>Id</th>
                            <th>Ticket No</th>
                            <th>Form Name</th>
                            <th>Class</th>
                            <th>Submited On</th>
                            <th>Contact Person's Name</th>
                            <th>Contact Person's Mobile/Email</th>
                            <th>Status</th>
                            @*<th>Update Detail</th>*@

                        </tr>
                        @{
                            List<PSEBONLINE.Models.District> districts = (List<PSEBONLINE.Models.District>)ViewBag.district1;
                            if (ViewBag.TotalCount > 0)
                            {
                                int d = 0;
                                int Count = 0;
                                if (ViewBag.pagesize == 1)
                                {
                                    Count = 0;
                                }
                                else
                                {
                                    Count = 50 * (ViewBag.pagesize - 1);
                                }
                                for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                {
                                    d = d + 1;
                                    var stdid = Model.StoreAllData.Tables[0].Rows[i]["ccfid"].ToString();
                                    var distict = Model.StoreAllData.Tables[0].Rows[i]["district"].ToString();
                                    var schlnm = Model.StoreAllData.Tables[0].Rows[i]["schoolname"].ToString();
                                    var schoolcode = Model.StoreAllData.Tables[0].Rows[i]["schoolcode"].ToString();
                                    var classname = Model.StoreAllData.Tables[0].Rows[i]["classname"].ToString();
                                    var cpname = Model.StoreAllData.Tables[0].Rows[i]["cpname"].ToString();
                                    var cpmobile = Model.StoreAllData.Tables[0].Rows[i]["cpmobile"].ToString();
                                    var cpemail = Model.StoreAllData.Tables[0].Rows[i]["cpemail"].ToString();
                                    var status = Model.StoreAllData.Tables[0].Rows[i]["status"].ToString();
                                    var ticketno = Model.StoreAllData.Tables[0].Rows[i]["ticketNo"].ToString();
                                    var formname = Model.StoreAllData.Tables[0].Rows[i]["formname"].ToString();
                                    var remark = Model.StoreAllData.Tables[0].Rows[i]["remarks"].ToString();
                                    var forwarded_By = Model.StoreAllData.Tables[0].Rows[i]["frwrd_by"].ToString();
                                    var created_by = Model.StoreAllData.Tables[0].Rows[i]["created_by"].ToString();
                                    if (status == "0")
                                    {
                                        status = "<span style='color:black;'>Pending</span>";
                                    }
                                    else if (status == "1")
                                    {
                                        status = "<span style='color:black;'>InProgress</span>";
                                    }
                                    else if (status == "2")
                                    {
                                        status = "<span style='color:green;'>Completed</span>";
                                    }
                                    else if (status == "3")
                                    {
                                        status = "<span style='color:grey;'>Rejected</span>";
                                    }
                                    else if (status == "4")
                                    {
                                        status = "<span style='color:blue;'>Forwarded To P.S.E.B</span>";
                                    }
                                    if (forwarded_By != null && (forwarded_By.ToLower() == "support2" || forwarded_By.ToLower() == "support1"))
                                    {
                                        status = "<span style='color:green;'>Forwarded To P.S.E.B</span>";
                                    }
                                    var date = Model.StoreAllData.Tables[0].Rows[i]["CreatedDate"].ToString();

                                    Count = Count + 1;
                                    <tr>
                                        <td>
                                            @Count
                                        </td>
                                        <td>
                                            @ticketno
                                        </td>
                                        <td>
                                            @formname
                                        </td>
                                        <td>
                                            @classname
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(date).ToString("dd-MMM-yyyy")
                                        </td>
                                        <td>
                                            @cpname
                                        </td>
                                        <td>
                                            @cpmobile <br />@cpemail
                                        </td>
                                        <td class="w3-tooltip">
                                            @Html.Raw(status)
                                            <span style="position:absolute;left:0;bottom:18px;color:red;background-color:whitesmoke;" class="w3-text w3-tag">
                                                @remark
                                            </span>
                                        </td>
                                    </tr>
                                    if (d == ViewBag.TotalCount)
                                    {
                                        <tr>
                                            <td colspan="9">
                                                Page @ViewBag.pn of @ViewBag.pagesize
                                                &nbsp;
                                                @if (ViewBag.pagesize == 1)
                                                {
                                                    @:<<
                                                    @Html.Raw("&nbsp;");
                                                    @:< Prev
                                                    @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                    if (ViewBag.pn > ViewBag.pagesize)
                                                    {
                                                        @Html.ActionLink("Next >", "DisplayComplaints", new { page = ViewBag.pagesize + 1 })
                                                        @Html.Raw("&nbsp;");
                                                        @Html.ActionLink(">>", "DisplayComplaints", new { page = ViewBag.pn })
                                                    }
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("<<", "DisplayComplaints", new { page = 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink("< Prev", "DisplayComplaints", new { page = ViewBag.pagesize - 1 })
                                                    @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                            if (ViewBag.pn > ViewBag.pagesize)
                            {
                                                        @Html.ActionLink("Next >", "DisplayComplaints", new { page = ViewBag.pagesize + 1 })

                                                        @Html.Raw("&nbsp;");

                                                        @Html.ActionLink(">>", "DisplayComplaints", new { page = ViewBag.pn })
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9">
                                        @ViewBag.Message
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
function myPrintFunction() {
    window.print();
}
    </script>
    <script type="text/javascript">
        function myFunction()
        {
            var fullDate = new Date();
            var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
            var currentDate = fullDate.getFullYear() + "-" + twoDigitMonth + "-" + fullDate.getDate();
            var dee = $("#datefrom").val();
            $("#dateto").val(currentDate);
        }
        $(function () {
            $("#dateSubmitted").datepicker("enable");
            document.getElementById('dateSubmitted').disabled = false;
            $("#dateSubmitted").keypress(function (evt) {
                return false;

            });
            $("#dateSubmitted").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                maxDate: '2025',

            });
        });
    </script>
</body>
