
@model PSEBONLINE.Models.LoginSession
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<div class="container KDBG">

    <style type="text/css">
        #ac-wrapper {
            background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1001;
        }

        #popup {
            min-height: 240px;
            left: 0;
            padding: 0;
            position: absolute;
            top: 128px;
            width: 100%;
        }

            #popup table {
                background: #fff none repeat scroll 0 0;
                border: 5px solid #f1f1f1;
                border-radius: 0;
                box-shadow: 0 0 3px 3px #64686e;
                max-width: 500px;
                min-width: 320px;
            }

            #popup .button {
                padding: 10px;
                background: #efba09; /* Old browsers */
                background: -moz-linear-gradient(top, #efba09 0%, #fb9709 50%, #efba09 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #efba09 0%,#fb9709 50%,#efba09 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #efba09 0%,#fb9709 50%,#efba09 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efba09', endColorstr='#efba09',GradientType=0 ); /* IE6-9 */
            }
    </style>


    <style type="text/css">
        .ullist li {
            padding: 6px 4px;
            font-size: 16px;
        }

        .ullist {
            padding-bottom: 10px;
        }
    </style>


    <div class="row">
        <div class="col-md-10">
            <h1>Examination Centre Details(Choice Of The Examination Centre for March 2024)</h1>
        </div>
        <div class="col-md-2">
            <span style="font-size:14px;color:red;">Last Date :- 23-10-2023</span>
        </div>


    </div>


    @using (Html.BeginForm("ExamCentreDetails", "School", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-4">
                        PRINCIPAL NAME
                        @Html.TextBox("PricipleName", Model.PRINCIPAL, new { id = "PricipleName", @maxlength = "20", @type = "text", @required = "required" })


                    </div>

                    <div class="col-md-4">
                        STD CODE
                        @Html.TextBox("stdCode", Model.STDCODE, new { id = "stdCode", @maxlength = "20", @type = "text", @required = "required" })

                    </div>

                    <div class="col-md-4">
                        PHONE
                        @Html.TextBox("phone", Model.PHONE, new { id = "phone", @maxlength = "10", @type = "text", @required = "required" })

                    </div>

                    <div class="col-md-4">
                        MOBILE
                        @Html.TextBox("Mobile", Model.MOBILE, new { id = "Mobile", @maxlength = "10", @type = "text", @required = "required", onkeypress = "return isNumberKey(event);" })

                    </div>

                    <div class="col-md-4">
                        Name Of Second Head of School
                        @Html.TextBox("Priciple2Name", Model.PrincipalName2, new { id = "Priciple2Name", @maxlength = "20", @type = "text", @required = "required" })

                    </div>

                    <div class="col-md-4">
                        Mobile No. of the Second head
                        @Html.TextBox("Priciple2Mobile", Model.PrincipalMobile2, new { id = "Priciple2Mobile", @maxlength = "10", @type = "text", @required = "required", onkeypress = "return isNumberKey(event);" })

                    </div>
                </div>
                <br />
                @if (Model.Finalsubmittedforchoice == 1)

                {
                    <a class="btn" href='@Url.Action("ExamCentreDetailsPerforma", "School")' id="finalprinttr">Final Print</a>


                }
                else
                {
                    <input type="submit" value="Save" name="cmd" />
                    <input type="submit" value="Final Submit" id="finalbtn" name="cmd" />
                    <a class="btn" href='@Url.Action("ExamCentreDetailsPerforma", "School")'>Rough Print</a>
                    @*<input type="submit" value="Rough Print" />*@

                }


            </div>


        </div>

    }

    <br /><br />

    <h4 style="font-size: 18px; font-weight: bold; color: red; text-align: center; Background: white !important">You have to add 5 Centre Choice ( 3 From Upper Drop Down and 2 From lower Drop Down) Only then you will able to do final submit </h4>
    <div class="conatiner">
        <a href="~/PDF/Instructions_For_Exam_Centre_Choice_March_2024.pdf" style="float: right; padding-top: 5px; color: #e4e70b; font-size: 16px; font-weight: bold; margin-right: 14px;" target="_blank">
            Instructions For Exam Centre Choice March 2024
        </a>
        <h4 colspan="6" style="font-size: 18px; font-weight: bold;">Kindly Select 3 Exam Center From Following And Then Click Add Button Respectively </h4>
        <div class="row">

            <div class="col-md-6">
                Enter School Code For CHOICE CENTER:
                @Html.DropDownList("CenterChoice", new SelectList(ViewBag.SchoolCenterNameNearestOld, "Value", "Text"), "CenterChoice", new { @class = "", id = "CenterChoice" })
                @*@Html.TextBox("CenterChoice", "", new { id = "CenterChoice", @maxlength = "20", @type = "text", onkeypress = "return isNumberKey(event);", @required = "required" })*@

            </div>

            <div class="col-md-2">
                DISTANCE:
                @Html.TextBox("CenterDistance", "", new { id = "CenterDistance", @maxlength = "20", @type = "text", @required = "required" })
            </div>

            @if (Model.Finalsubmittedforchoice == 0)
            {
                <div class="col-md-2">
                    <button class="btn btn-primary" style="margin-top:20px;" onclick="SavendGetDataOld()">Add</button>

                </div>
            }
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="t01" class="table table-bordered">

                    <tr>
                        <th>
                            Choice Center Name
                        </th>

                        <th>
                            Choice Center School Code
                        </th>
                        <th>
                            Distance
                        </th>
                        <th>
                            Insert Date
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                    <tbody id="table-body">
                    </tbody>

                </table>
            </div>
        </div>



    </div>

    <div class="conatiner">

        <h4 colspan="6" style="font-size: 18px; font-weight: bold;">Select 2 Exam Center From Following And Then Click Add Button Respectively </h4>
        <div class="row">
            <div class="col-md-6">
                Enter School Code For CHOICE CENTER:
                @Html.DropDownList("CenterChoice", new SelectList(ViewBag.SchoolCenterNameNearestNew, "Value", "Text"), "CenterChoice", new { @class = "", id = "CenterChoices" })
                @*@Html.TextBox("CenterChoice", "", new { id = "CenterChoice", @maxlength = "20", @type = "text", onkeypress = "return isNumberKey(event);", @required = "required" })*@

            </div>

            <div class="col-md-2">
                DISTANCE:
                @Html.TextBox("CenterDistance", "", new { id = "CenterDistances", @maxlength = "20", @type = "text", @required = "required" })
            </div>

            @if (Model.Finalsubmittedforchoice == 0)
            {
                <div class="col-md-2">
                    <button class="btn btn-primary" style="margin-top:20px;" onclick="SavendGetDataNew()">Add</button>

                </div>
            }
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="t02" class="table table-bordered">
                    <tr>
                        <th>
                            Choice Center Name
                        </th>

                        <th>
                            Choice Center School Code
                        </th>
                        <th>
                            Distance
                        </th>
                        <th>
                            Insert Date
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                    <tbody id="table-bodys">
                    </tbody>

                </table>
            </div>
        </div>



    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>


    <script type="text/javascript">



    </script>


    <script type="text/javascript">


        function valform() {

        }



        function FillGridOnLoad() {
            debugger;
           var dataList;



        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
                return true;
            }
            else {
                alert("Invalid character...Enter Only Number!!");
                return false;
            }
        }


        function SavendGetDataOld() {
            var rowCountold = $('#t01 tbody tr').length;
            console.log("lenght", rowCountold);
            if ((rowCountold - 1) < 3) {
                $("#finalbtn").attr('disabled', 'disabled');
            }
            else {
                alert("Can't Add more than 3 record");
                $("#finalbtn").removeAttr('disabled');
                return;

            }
        var dataList;

        var Centerchoice = $("#CenterChoice").val();
        var CenterDistance = $("#CenterDistance").val();

        if (Centerchoice == "" || CenterDistance=="") {
            alert("Please Enter Choice Center or Distance");
            return false;
        }

            if ((rowCountold - 1) <3) {
                $('#t01 tbody tr').empty();
                var selectedCat = { Centerchoice: Centerchoice, CenterDistance: CenterDistance }
                console.log("comming", selectedCat);
                $.ajax({
                    url: '@Url.Action("Ins_School_Center_Choice", "Master")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedCat),
                    success: function (data) {
                         $("#CenterChoice").val('');
                         $("#CenterDistance").val('');
                        var rows = '';
                        var count = 0;
                        $.each(data, function (index, item) {
                            rows += '<tr>';
                            /*rows += '<td>' + item.schl + '</td>';*/
                            rows += '<td>' + item.choiceschlcode + '</td>';
                            rows += '<td>' + item.choiceschoolcode + '</td>';
                            rows += '<td>' + item.distance + '</td>';
                            rows += '<td>' + item.insertdate + '</td>';
                            rows += '<td><button  class="btn btn-primary" onclick="DeleteRow(' + item.ID + ')">Delete</button></td>';
                            // rows += '<td onclick="DeleteRow(' + item.ID + ')">Delete</td>';
                            rows += '</tr>';
                        });
                        alert("Row Added Successfully");
                        $('#table-body').append(rows);
                        location.reload();
                        var rowCount = $('#t01 tbody tr').length;
                        if ((rowCount - 1) < 4) {
                            $("#finalbtn").attr('disabled', 'disabled');
                        }
                        else {

                            $("#finalbtn").removeAttr('disabled');

                        }



                    }

                });
            }
            else {
                alert("Can't Add more than 3 record");
                $("#finalbtn").removeAttr('disabled');
                          $.ajax({
             url: '@Url.Action("Get_School_Center_Choice", "Master")',
             type: 'POST',
             contentType: 'application/json',
             dataType: 'json',
             success: function (data) {
                 var rows = '';
                 var count = 0;
                 $.each(data, function (index, item) {
                     rows += '<tr>';
                     /*rows += '<td>' + item.schl + '</td>';*/
                     rows += '<td>' + item.choiceschlcode + '</td>';
                     rows += '<td>' + item.choiceschoolcode + '</td>';
                     rows += '<td>' + item.distance + '</td>';
                     rows += '<td>' + item.insertdate + '</td>';
                     rows += '<td><button  class="btn btn-primary" onclick="DeleteRow(' + item.ID + ')">Delete</button></td>';
                     // rows += '<td onclick="DeleteRow(' + item.ID + ')">Delete</td>';
                     rows += '</tr>';
                 });
                 location.reload();
                 $('#table-body').append(rows);
                 var rowCount = $('#t01 tbody tr').length;
                 if ((rowCount - 1) < 4) {
                     $("#finalbtn").attr('disabled', 'disabled');
                 }
                 else {
                     $("#finalbtn").removeAttr('disabled');
                 }
                     }});
            }
        }

        function SavendGetDataNew() {
    var rowCountold = $('#t02 tbody tr').length;
    console.log("lenght", rowCountold);
    if ((rowCountold - 1) < 2) {
        $("#finalbtn").attr('disabled', 'disabled');
    }
    else {
        alert("Can't Add more than 2 record");
        $("#finalbtn").removeAttr('disabled');
        return;

    }
var dataList;

var Centerchoice = $("#CenterChoices").val();
var CenterDistance = $("#CenterDistances").val();

if (Centerchoice == "" || CenterDistance=="") {
    alert("Please Enter Choice Center or Distance");
    return false;
}

    if ((rowCountold - 1) <3) {
        $('#t02 tbody tr').empty();
        var selectedCat = { Centerchoice: Centerchoice, CenterDistance: CenterDistance }
        console.log("comming", selectedCat);
        $.ajax({
            url: '@Url.Action("Ins_School_Center_Choice_New", "Master")',
            type: 'Post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(selectedCat),
            success: function (data) {
                 $("#CenterChoices").val('');
                 $("#CenterDistances").val('');
                var rows = '';
                var count = 0;
                $.each(data, function (index, item) {
                    rows += '<tr>';
                    /*rows += '<td>' + item.schl + '</td>';*/
                    rows += '<td>' + item.choiceschlcode + '</td>';
                    rows += '<td>' + item.choiceschoolcode + '</td>';
                    rows += '<td>' + item.distance + '</td>';
                    rows += '<td>' + item.insertdate + '</td>';
                    rows += '<td><button  class="btn btn-primary" onclick="DeleteRow(' + item.ID + ')">Delete</button></td>';
                    // rows += '<td onclick="DeleteRow(' + item.ID + ')">Delete</td>';
                    rows += '</tr>';
                });
                alert("Row Added Successfully");
                $('#table-bodys').append(rows);
                location.reload();
                var rowCount = $('#t02 tbody tr').length;
                if ((rowCount - 1) < 3) {
                    $("#finalbtn").attr('disabled', 'disabled');
                }
                else {

                    $("#finalbtn").removeAttr('disabled');

                }



            }

        });
    }
    else {
        alert("Can't Add more than 2 record");
        $("#finalbtn").removeAttr('disabled');
                  $.ajax({
     url: '@Url.Action("Get_School_Center_Choice", "Master")',
     type: 'POST',
     contentType: 'application/json',
     dataType: 'json',
     success: function (data) {
         var rows = '';
         var count = 0;
         $.each(data, function (index, item) {
             rows += '<tr>';
             /*rows += '<td>' + item.schl + '</td>';*/
             rows += '<td>' + item.choiceschlcode + '</td>';
             rows += '<td>' + item.choiceschoolcode + '</td>';
             rows += '<td>' + item.distance + '</td>';
             rows += '<td>' + item.insertdate + '</td>';
             rows += '<td><button  class="btn btn-primary" onclick="DeleteRow(' + item.ID + ')">Delete</button></td>';
             // rows += '<td onclick="DeleteRow(' + item.ID + ')">Delete</td>';
             rows += '</tr>';
         });
         location.reload();
         $('#table-body').append(rows);
         var rowCount = $('#t01 tbody tr').length;
         if ((rowCount - 1) < 4) {
             $("#finalbtn").attr('disabled', 'disabled');
         }
         else {
             $("#finalbtn").removeAttr('disabled');
         }
             }});
    }
}




        function DeleteRow(id) {
            var dataList;
            $('#t01 tbody tr').empty();
            var selectedCat = { id: id }

            $.ajax({
                url: '@Url.Action("Delete_School_Center_Choice", "Master")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selectedCat),
                success: function (data) {
                    $('#table-body').empty();
                    var rows = '';
                    var count = 0;
                    $.each(data, function (index, item) {
                        rows += '<tr>';
                        /*rows += '<td>' + item.schl + '</td>';*/
                        rows += '<td>' + item.choiceschlcode + '</td>';
                        rows += '<td>' + item.choiceschoolcode + '</td>';
                        rows += '<td>' + item.distance + '</td>';
                        rows += '<td>' + item.insertdate + '</td>';
                        rows += '<td><button  class="btn btn-primary" onclick="DeleteRow(' + item.ID + ')">Delete</button></td>';
                        // rows += '<td onclick="DeleteRow('+ item.ID+ ')">Delete</td>';
                        rows += '</tr>';
                    });
                    alert("Row Deleted Successfully");
                    $('#t01 tbody tr').empty();
                    $('#table-body').append(rows);
                    location.reload();



                }

            });


        }

        $(document).ready(function () {
            var count = 0;
            var count1 = 0;

                $.ajax({
                    url: '@Url.Action("Get_School_Center_Choice", "Master")',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        var rows = '';
                        $.each(data, function (index, item) {
                            rows += '<tr>';
                            /*rows += '<td>' + item.schl + '</td>';*/
                            rows += '<td>' + item.choiceschlcode + '</td>';
                            rows += '<td>' + item.choiceschoolcode + '</td>';
                            rows += '<td>' + item.distance + '</td>';
                            rows += '<td>' + item.insertdate + '</td>';
                            rows += '<td><button  class="btn btn-primary" onclick="DeleteRow(' + item.ID + ')">Delete</button></td>';
                            // rows += '<td onclick="DeleteRow(' + item.ID + ')">Delete</td>';
                            rows += '</tr>';
                            count=count+1;
                        });
                        $('#table-body').append(rows);
                    }
                });

                $.ajax({
    url: '@Url.Action("Get_School_Center_Choice_New", "Master")',
    type: 'POST',
    contentType: 'application/json',
    dataType: 'json',
    success: function (data) {
        var rows = '';
        $.each(data, function (index, item) {
            rows += '<tr>';
            /*rows += '<td>' + item.schl + '</td>';*/
            rows += '<td>' + item.choiceschlcode + '</td>';
            rows += '<td>' + item.choiceschoolcode + '</td>';
            rows += '<td>' + item.distance + '</td>';
            rows += '<td>' + item.insertdate + '</td>';
            rows += '<td><button  class="btn btn-primary" onclick="DeleteRow(' + item.ID + ')">Delete</button></td>';
            // rows += '<td onclick="DeleteRow(' + item.ID + ')">Delete</td>';
            rows += '</tr>';
            count1 = count1 + 1;
        });
        $('#table-bodys').append(rows);

        var rowCountold = $('#t01 tbody tr').length;
        var rowCountnew = $('#t02 tbodys tr').length;
        console.log("lenght", count);
        console.log("lenght", count1);
        console.log("lenght", rowCountold);
        console.log("lenght", rowCountnew);
        debugger;
        if ((count + count1) < 5) {
            $("#finalbtn").attr('disabled', 'disabled');
        }
        else {
            $("#finalbtn").removeAttr('disabled');
        }
                    }

                });


            });
    </script>


    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
                return true;
            }
            else {
                alert("Invalid character...Enter Only Number!!");
                return false;
            }
        }

    </script>

    @{

        if (ViewData["Status"] != null)
        {
            var result = ViewData["Status"].ToString();
            if (result == "1")
            {


                <script type="text/javascript">
                    alert("Saved Successfully");
                </script>


            }
            else
            {
                <script type="text/javascript">
                    alert("Something Went Wrong");
                </script>
            }

        }


    }

    <script type="text/javascript">
        $(function () {
            $("#CenterChoice").chosen();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#CenterChoices").chosen();
        });
    </script>
    @*<script type='text/javascript'>
        var isCtrl = false;
        document.onkeyup=function(e)
        {
            if(e.which == 17)
            isCtrl=false;
        }
        document.onkeydown = function (evt) {
            evt = evt || window.event;
            if (evt.keyCode == 123) {
                return false;
            }
        }
        //document.onkeydown=function(e)
        //{
        //    if(e.which == 17)
        //    isCtrl=true;
        //    if ((e.which == 85)) //85 for Ctrl+U, For Copy= (e.which == 67) && (isCtrl == true)
        //    {
        //        return false;
        //    }
        //}
        var isNS = (navigator.appName == "Netscape") ? 1 : 0;
        if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
        function mischandler(){
            return false;
        }
        function mousehandler(e){
            var myevent = (isNS) ? e : event;
            var eventbutton = (isNS) ? myevent.which : myevent.button;
            if((eventbutton==2)||(eventbutton==3)) return false;
        }
        document.oncontextmenu = mischandler;
        document.onmousedown = mousehandler;
        document.onmouseup = mousehandler;
        </script>*@

