@model PSEBONLINE.Models.LoginSession
@{
    ViewBag.Title = "Exam Centre Details Performa View";
    string schlcode = "";
    int count = 1;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <noscript>
        <style type="text/css">
            #HPL {
                display: none;
            }
        </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>
    </noscript>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        td, th {
            padding: 5px
        }
    </style>
</head>
<body>

    <table width="100%" border="1" class="table-bordered">

        <tr>
            <td colspan="6" style="padding:0">
                <table width="100%" border="0">
                    <tr>
                        <td width="10%">
                            <div style="padding:3px">
                                <img src="https://registration2022.pseb.ac.in/Images/Printlogo.jpg" height="80px" alt="PSEB">
                            </div>
                        </td>
                        <td width="80%" style="font-size:16px;text-align:center;line-height:24px;">
                            <span style="font-size:26px;">Punjab School Education Board</span><br>
                            <span style="display:block">
                                @if (Model.Finalsubmittedforchoice == 1)
                                {
                                    <span>Final Print</span>
                                }
                                else
                                {
                                    <span>Rough Print</span>
                                }
                                - Exam Centre Details Performa Session 2023–24
                            </span>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            @if (ViewBag.SchoolModel != null)
            {
                schlcode = @ViewBag.SchoolModel.SCHL;
                <td>
                    <h4 style="color:#fff !important;background-color:#000 !important;text-align:left">School Identity Details</h4>

                    <div class="row">
                        <div class="col-md-2">
                            School Code/User ID <span class="rqf">*</span>
                        </div>
                        <div class="col-md-2">
                            <label>@ViewBag.SchoolModel.SCHL</label>

                        </div>
                        <div class="col-md-2">
                            ID No. <span class="rqf">*</span>
                        </div>
                        <div class="col-md-2"><label>@ViewBag.SchoolModel.idno</label></div>

                        <div class="col-md-2">
                            Study Center Code <span class="rqf">*</span>
                        </div>
                        <div class="col-md-2"> <label>@ViewBag.SchoolModel.OCODE</label></div>
                        <div class="clearfix"></div>
                        <div class="col-md-2">
                            School Type <span class="rqf">*</span>
                        </div>
                        <div class="col-md-2"><label>@ViewBag.SchoolModel.USERTYPE</label></div>

                        <div class="col-md-2">
                            Class <span class="rqf">*</span>
                        </div>
                        <div class="col-md-2"><label>@ViewBag.SchoolModel.CLASS</label></div>
                        <div class="col-md-2">
                            School Area  <span class="rqf">*</span>
                        </div>
                        <div class="col-md-2"><label>@ViewBag.SchoolModel.AREA</label></div>
                    </div>
                    <div class="clearfix"></div>
                    <h4 style="color:#fff !important;background-color:#000 !important;text-align:left"> School Details </h4>
                    <div class="row">
                        <div class="col-md-2">School Name(English) <span class="rqf">*</span></div>
                        <div class="col-md-10">
                            <label> @ViewBag.SchoolModel.SCHLE</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-2">School Name(Punjabi) <span class="rqf">*</span></div>
                        <div class="col-md-10">
                            <label class="kdsfont">@ViewBag.SchoolModel.SCHLP</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>


                    <div class="row">
                        <div class="col-md-12">
                            <table id="t01" class="table table-bordered">
                                <tr style="font-weight: bold;">
                                    <td rowspan="2" style="text-align:left">Description</td>
                                    <td colspan="3" style="text-align:center">MATRIC</td>
                                    <td colspan="12" style="text-align:center">SENIOR SECONDARY</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td colspan="2" style="text-align:center">REGULAR	</td>
                                    <td style="text-align:center">OPEN</td>
                                    <td colspan="6" style="text-align:center">REGULAR</td>
                                    <td colspan="6" style="text-align:center">OPEN</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Groups</td>
                                    <td align="left">
                                        GEN
                                    </td>
                                    <td align="left">
                                        NSQF
                                    </td>
                                    <td align="left">
                                        GEN
                                    </td>
                                    <td align="left">
                                        Hum.
                                    </td>
                                    <td align="left">
                                        Sci
                                    </td>
                                    <td align="left">
                                        Comm.
                                    </td>
                                    <td align="left">
                                        Voc.
                                    </td>
                                    <td align="left">
                                        Tech.
                                    </td>
                                    <td align="left">
                                        Agri.
                                    </td>
                                    <td align="left">
                                        Hum.
                                    </td>
                                    <td align="left">
                                        Sci
                                    </td>
                                    <td align="left">
                                        Comm.
                                    </td>
                                    <td align="left">
                                        Voc.
                                    </td>
                                    <td align="left">
                                        Tech.
                                    </td>
                                    <td align="left">
                                        Agri.
                                    </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Status</td>
                                    <td> @ViewBag.SchoolModel.MATRIC</td>
                                    <td>@ViewBag.SchoolModel.NSQF_flag</td>
                                    <td> @ViewBag.SchoolModel.OMATRIC</td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.HUM
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.SCI
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.COMM
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.VOC
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.TECH
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.AGRI
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.OHUM
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.OSCI
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.OCOMM
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.OVOC
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.OTECH
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.OAGRI
                                    </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Type</td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.HID_UTYPE
                                    </td>
                                    <td></td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.HID_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.H_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.S_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.C_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.V_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.A_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.T_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.H_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.S_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.C_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.V_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.A_UTYPE
                                    </td>
                                    <td align="left">
                                        @ViewBag.SchoolModel.T_UTYPE
                                    </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Year</td>
                                    <td>@ViewBag.SchoolModel.HID_YR</td>
                                    <td></td>
                                    <td>@ViewBag.SchoolModel.OMID_YR</td>
                                    <td>@ViewBag.SchoolModel.HYR</td>
                                    <td>@ViewBag.SchoolModel.SYR</td>
                                    <td>@ViewBag.SchoolModel.CYR</td>
                                    <td>@ViewBag.SchoolModel.VYR</td>
                                    <td>@ViewBag.SchoolModel.TYR</td>
                                    <td>@ViewBag.SchoolModel.AYR</td>
                                    <td>@ViewBag.SchoolModel.OHYR</td>
                                    <td>@ViewBag.SchoolModel.OSYR</td>
                                    <td>@ViewBag.SchoolModel.OCYR</td>
                                    <td>@ViewBag.SchoolModel.OVYR</td>
                                    <td>@ViewBag.SchoolModel.OTYR</td>
                                    <td>@ViewBag.SchoolModel.OAYR</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Sections</td>
                                    <td>@ViewBag.SchoolModel.HID_YR_SEC</td>
                                    <td></td>
                                    <td>@ViewBag.SchoolModel.OMID_YR_SEC</td>
                                    <td>@ViewBag.SchoolModel.HYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.SYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.CYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.VYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.TYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.AYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.OHYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.OSYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.OCYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.OVYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.OTYR_SEC</td>
                                    <td>@ViewBag.SchoolModel.OAYR_SEC</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            }
        </tr>
        <tr>
            <td colspan="6" style="padding:0">
                <table width="100%" border="1" class="table-bordered">
                    <tr>
                        <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">School Profile Details</td>
                    </tr>
                    <tr>
                        <td>School Name</td>
                        <td colspan="3">
                            @Html.DisplayFor(a => a.SCHLNME, new { })
                        </td>
                        <td>School Code</td>
                        <td colspan="2">
                            @schlcode
                        </td>

                    </tr>
                    <tr>
                        <td width="20%">PRINCIPAL NAME</td>
                        <td width="15%">@Html.DisplayFor(a => a.PRINCIPAL, new { })</td>
                        <td width="20%">STD CODE</td>
                        <td width="15%">@Html.DisplayFor(a => a.STDCODE, new { })</td>
                        <td width="15%">PHONE</td>
                        <td width="15%">@Html.DisplayFor(a => a.PHONE, new { })</td>
                    </tr>

                    <tr>
                        <td width="20%">MOBILE</td>
                        <td width="15%">@Html.DisplayFor(a => a.MOBILE, new { })</td>
                        <td width="20%">Name Of Second Head of School</td>
                        <td width="15%">@Html.DisplayFor(a => a.PrincipalName2, new { })</td>
                        <td width="15%">Mobile No. of the Second head</td>
                        <td width="15%">@Html.DisplayFor(a => a.PrincipalMobile2, new { })</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        @if (ViewBag.objGroupList != null && ViewBag.objGroupList.Count > 0)
        {
            <tr>
                <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">School Student Count Class Wise</td>
            </tr>
            <tr>
                <td colspan="6" style="padding:0">
                    <table class="table-bordered" width="100%">
                        <thead>
                            <tr>
                                <td width="2%">  Preference No.</td>
                                <td width="30%">  Choice Center Name</td>
                                <td width="10%"> Choice Center School Code</td>
                                <td width="10%">Distance</td>
                                <td width="10%">Insert Date</td>
                            </tr>
                        </thead>

                        @foreach (var item in (IList<PSEBONLINE.Models.ExamCenterDetail>)ViewBag.objGroupList)
                        {
                            <tr>
                                <td width="2%">
                                    <label>@count</label>
                                </td>
                                <td width="6%">
                                    <label>@item.choiceschlcode</label>
                                </td>
                                <td width="6%">
                                    <label>@item.choiceschoolcode</label>
                                </td>
                                <td width="6%">
                                    <label>@item.distance</label>
                                </td>
                                <td width="6%">
                                    <label>@item.insertdate</label>
                                </td>
                            </tr>
                            count++;
                        }

                    </table>
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12" style="margin-top: 127px;">
        <div class="col-md-6">
            <p style="text-align:left;font-size:14px;">
                Stamp & Signature of Principal
            </p>
        </div>
        <div class="col-md-6">
            <p style="text-align: right; font-size: 14px;">
                Stamp & Signature of Distt Manager
            </p>
        </div>
    </div>
</body>
</html>