@model PSEBONLINE.Models.SchoolModels
@{
    Layout = "~/Views/Shared/_Header.cshtml";
}

@if (Session["UserName"] != null && Session["RoleType"].ToString() == "Admin") { }
else { Response.Redirect("~/Admin"); }
<h1>Open School Modification Form</h1>
<h4>School Identity Details</h4>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            School Code<br />
            <label>
                @Html.DisplayFor(a => a.SCHL, new { })
            </label>
            @Html.HiddenFor(a => a.SCHL)
            @Html.HiddenFor(a => a.dist)
        </div>
        <div class="col-md-4">
            Class <br /><label>@Html.DisplayFor(a => a.CLASS, new { })</label>
        </div>
        <div class="col-md-4">
            Study Center Code @Html.TextBoxFor(a => a.OCODE, new { })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            School Name<br /> <label>@Html.DisplayFor(a => a.SCHLE, new { })</label>
        </div>
    </div>
    <div class="clearfix"></div>

    <h4>Class and Stream Details</h4>
    <div class="row">
        <div class="col-lg-4">
            <table id="t01" class="table table-bordered">
                <tr style="font-weight: bold;">
                    <td align="center" colspan="2">
                        <br />Middle<br />&nbsp;
                    </td>
                    <td align="center" colspan="2">
                        <br />Matric<br />&nbsp;
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td style="width:25%">
                        Regular
                    </td>
                    <td style="width:25%">
                        Open
                    </td>
                    <td style="width:25%">
                        <span class="lbl" id="ctl00_ContentPlaceHolder1_lblmatricreg">Regular</span>
                    </td>
                    <td style="width:25%">
                        Open
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        @*@Html.DropDownListFor(a => a.middle, (SelectList)ViewBag.middle)*@
                        @Html.DropDownList("middle", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })
                    </td>
                    <td align="left">
                        @Html.DropDownList("omiddle", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                    </td>
                    <td align="left">
                        @Html.DropDownList("MATRIC", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })
                    </td>
                    <td align="left">
                        @Html.DropDownList("OMATRIC", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                        @*@Html.DropDownList("Ometric", omlist)*@

                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table id="t01" class="table table-bordered">
                <tr style="font-weight: bold;">
                    <td align="center" colspan="6">
                        Senior Secondary
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td align="center" colspan="6" style="width: 32%">
                        Regular
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td align="left" width="16%">
                        Hum.
                    </td>
                    <td align="left" width="16%">
                        Sci
                    </td>
                    <td align="left" width="17%">
                        Comm.
                    </td>
                    <td align="left" width="17%">
                        Voc.
                    </td>
                    <td align="left" width="17%">
                        Tech.
                    </td>
                    <td align="left" width="17%">
                        Agri.
                    </td>
                </tr>
                <tr>
                    <td align="left" width="16%">
                        <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsohum">@Html.DropDownList("HUM", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })</span>
                    </td>
                    <td align="left" width="16%">
                        <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsosci">@Html.DropDownList("SCI", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })</span>
                    </td>
                    <td align="left" width="17%">
                        <span class="lblshow" id="ct00_ContentPlaceHolder1_lblsocomm">@Html.DropDownList("COMM", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })</span>
                    </td>
                    <td align="left" width="17%">
                        <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsovoc">@Html.DropDownList("VOC", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })</span>
                    </td>
                    <td align="left" width="17%">
                        <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsotech"> @Html.DropDownList("TECH", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })</span>
                    </td>
                    <td align="left" width="17%">
                        <span class="lblshow" id="ctl00_ContentPlaceHolder1_lvlsoagri">@Html.DropDownList("AGRI", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { disabled = "disabled" })</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table id="t01" class="table table-bordered">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="6">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblsensec">Senior Secondary</span>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="6" style="width: 32%">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopen">Open</span>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="left" width="16%">
                            Hum.
                        </td>
                        <td align="left" width="16%">
                            Sci
                        </td>
                        <td align="left" width="17%">
                            Comm.
                        </td>
                        <td align="left" width="17%">
                            Voc.
                        </td>
                        <td align="left" width="17%">
                            Tech.
                        </td>
                        <td align="left" width="17%">
                            Agri.
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="16%">
                            @Html.DropDownList("OHUM", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                        </td>
                        <td align="left" width="16%">

                            @Html.DropDownList("OSCI", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                        </td>
                        <td align="left" width="17%">

                            @Html.DropDownList("OCOMM", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                        </td>
                        <td align="left" width="17%">

                            @Html.DropDownList("OVOC", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                        </td>
                        <td align="left" width="17%">
                            @Html.DropDownList("OTECH", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                        </td>
                        <td align="left" width="17%">

                            @Html.DropDownList("OAGRI", new SelectList(ViewBag.YesNoList, "Value", "Text"), new { })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    Tehsil (In English)
                    @Html.DropDownListFor(a => a.Tcode, new SelectList(ViewBag.MyTeh, "Value", "Text"), "--Select Tehsil---", new { id = "MyTeh", @class = "", })
                </div>
                <div class="col-md-3">
                    Tehsil (In Punjabi)
                    @Html.TextBoxFor(a => a.Tehsilp, new { id = "MyTehP", @readonly = "readonly", @class = "kdsfont" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <table id="t03" class="table table-bordered">
                <tr class="active-tr">
                    <td> Old Corr. No.</td>
                    <td> Remarks and Correction Details</td>
                    <td> Last Correction Date </td>
                </tr>
                <tr>
                    <td> @Html.DisplayFor(a => a.CorrectionNoOld, new { })</td>
                    <td>@Html.DisplayFor(a => a.RemarksOld, new { })</td>
                    <td> @Html.DisplayFor(a => a.RemarkDateOld, new { })</td>
                </tr>
                <tr>
                    <td>Correction Details</td>
                    <td colspan="2">
                        @Html.TextBoxFor(a => a.REMARKS)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input type="submit" value="Update School" id="Submit" formmethod="post" onclick="location.href='@Url.Action(" Open_School_Modification_Form", "School" )'" />

            @*<input type="submit" name="cancel" value="Cancel" formaction="CancelForm" formmethod="post" />*@
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn">Cancel</a>

        </div>
    </div>
}



@{
    if (ViewData["resultOSMF"] != null)
    {
        if (ViewData["resultOSMF"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Updated Successfully");
            </script>}
        else if (ViewData["resultOSMF"].ToString() == "-5")
        {
            <script type="text/javascript" language="javascript">
                alert("Duplicate Study Center Code.");
            </script>
        }
        else 
        {
            <script type="text/javascript" language="javascript">
                alert("Data not updated..plz try again");
            </script>
        }
       
        
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#MyTeh").change(function () {
            // alert('tehsil');
            var selectedTeh = { Teh: $("#MyTeh").val() };
            // alert(selectedTeh);
            $.ajax({
                url: '@Url.Action("GetTehsilP", "School")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selectedTeh),
                success: function (result1) {
                    //MyDistp,DISTP, TehsilP
                    //  alert(result1);
                    $("#MyTehP").empty();
                    document.getElementById("MyTehP").value = result1; //DistPText
                    if (result1.success) { }
                    else { }
                }
            });

        });
    });
</script>