@model PSEBONLINE.Models.SchoolModels
@{
    ViewBag.Title = "CutList";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="http://43.224.136.120/Content/Print-4LC.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<h1 class="noprint">Private Cut List Print Report</h1>
<style type="text/css">
    body {font-size:9px;}
    td{font-weight:normal !important;font-size:9px;line-height:15px}
</style>
@using (Html.BeginForm("Pvtcutlist", "School", FormMethod.Post, new { id = "searchform" }))
{ 
<div class="row">   
    <div class="col-md-12 noprint">
        <fieldset style="margin-bottom:15px">
            <legend>Search</legend>
            <div class="col-md-1">
                Total Count
                <label>@ViewBag.TotalCount</label>
            </div>
            <div class="col-md-1">
                Select Set <span style="color:red;">*</span>
                @Html.DropDownList("SelSet", new SelectList(ViewBag.MySelSet, "Value", "Text"), "--Select---", new { @class = "" })
            </div>
            <div class="col-md-3">
                @{
    List<SelectListItem> category = new List<SelectListItem>();
    category.Add(new SelectListItem { Text = "--Select---", Value = "0" });
    category.Add(new SelectListItem { Text = "Reappear/Compartment", Value = "R" });
    category.Add(new SelectListItem { Text = "Division improvement", Value = "D" });
    category.Add(new SelectListItem { Text = "Additional subject", Value = "A" });
                }
                Select Category <span style="color:red;">*</span>
                @Html.DropDownList("category", category, new { id = "category" })
            </div>
            <div class="col-md-2">
                @{
    List<SelectListItem> Exam_Type = new List<SelectListItem>();
    Exam_Type.Add(new SelectListItem { Text = "--Select--", Value = "0" });
    Exam_Type.Add(new SelectListItem { Text = "Regular", Value = "R" });
    Exam_Type.Add(new SelectListItem { Text = "Open", Value = "O" });
    Exam_Type.Add(new SelectListItem { Text = "Private", Value = "P" });       
                }
                Select Exam Type <span style="color:red;">*</span>
                @Html.DropDownList("Exam_Type", Exam_Type, new { id = "Exam_Type" })
            </div>
            @*<div class="col-md-2">
                District <span style="color:red;">*</span>
                @Html.DropDownList("dist", new SelectList(ViewBag.MyDist, "Value", "Text", ViewBag.MyDist123), "--Select---", new { @class = "" })
            </div>*@
            @*<div class="col-md-2">
                Enter School Code. &nbsp;
                @Html.TextBoxFor(m => m.SCHL, new { id = "SCHL", @maxlength = "7", })
            </div>*@ 
            @*<div class="col-md-2">
                Select Group
                @{
                    List<SelectListItem> EXAM = new List<SelectListItem>();
                    if (ViewBag.CutlistClass == "M" || ViewBag.CutlistClass == "ME")
                    {
                        EXAM.Add(new SelectListItem { Text = "Select", Value = "0" });
                        EXAM.Add(new SelectListItem { Text = "GENERAL", Value = "G" });
						EXAM.Add(new SelectListItem { Text = "NSQF", Value = "V" });
                    }					
					
                }
                @Html.DropDownList("EXAM", EXAM, new { id = "EXAM" })
            </div>*@
            <div class="col-md-2">
                Select Search By String
                @{
    List<SelectListItem> SelList = new List<SelectListItem>();
    SelList.Add(new SelectListItem { Text = "---- ALL ---", Value = "0" });
    SelList.Add(new SelectListItem { Text = "Reference No.", Value = "1" });
    SelList.Add(new SelectListItem { Text = "Candi_Name", Value = "2" });
    SelList.Add(new SelectListItem { Text = "Father_Name", Value = "3" });
    SelList.Add(new SelectListItem { Text = "Mother_Name", Value = "4" });
    SelList.Add(new SelectListItem { Text = "Registration_Num", Value = "5" });
    SelList.Add(new SelectListItem { Text = "School Code", Value = "6" });
    SelList.Add(new SelectListItem { Text = "Old Roll", Value = "7" });
                }
                @Html.DropDownList("SelList", SelList, new { id = "SelList" })
            </div>
            <div class="col-md-2">
                Enter Search Text. &nbsp;
                @Html.TextBoxFor(m => m.SearchByString, new { id = "SearchByString", @maxlength = "30", })
            </div>
            <div class="col-md-1">&nbsp;<br /><input type="submit" value="Search" name="cmd" onclick="return dee();" title="Search Record" /></div>
            <div class="clearfix"></div>
            <div class="col-md-12"><span class="rqf" style="color:firebrick">Note : For More Search Kindly Enter Search String . </span></div>
        </fieldset>
    </div>

    <div class="col-md-12 text-right noprint">
        <input type="button" value="Print" class="btn" onclick="window.print()" />
        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12"> 
        <table width="100%" border="1">
                        @{
    if (ViewBag.TotalCount > 0)
    {
        var SCHLE = Model.StoreAllData.Tables[0].Rows[0]["SCHLE"].ToString();
        var SCHLP = Model.StoreAllData.Tables[0].Rows[0]["SCHLP"].ToString();
        var SCHL = Model.StoreAllData.Tables[0].Rows[0]["SCHL"].ToString();
        var SET1 = ""; //Model.StoreAllData.Tables[0].Rows[0]["SET"].ToString();
        var dist = Model.StoreAllData.Tables[0].Rows[0]["dist"].ToString();
        var distnm = Model.StoreAllData.Tables[0].Rows[0]["distnm"].ToString();
        var SCHLTYPE = Model.StoreAllData.Tables[0].Rows[0]["SCHLTYPE"].ToString();
        var Group_Name1 = ""; //Model.StoreAllData.Tables[0].Rows[0]["Group_Name"].ToString();
        var form_name1 = "";// Model.StoreAllData.Tables[0].Rows[0]["form_name"].ToString();
        var Class1 = "";// Model.StoreAllData.Tables[0].Rows[0]["class"].ToString();
        var Cent1 = Model.StoreAllData.Tables[0].Rows[0]["Cent_1"].ToString();
        var Cent2 = Model.StoreAllData.Tables[0].Rows[0]["Cent_2"].ToString();
        var centE1 = "";// Model.StoreAllData.Tables[0].Rows[0]["centE"].ToString();
        var centP1 = "";// Model.StoreAllData.Tables[0].Rows[0]["centP"].ToString();
        var Prac = Model.StoreAllData.Tables[0].Rows[0]["Prac"].ToString();

        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
        {
            //var id = Model.StoreAllData.Tables[0].Rows[i]["std_id"].ToString();
            //var candphoto = "http://www.registration.pseb.ac.in/upload/upload2017/" + Model.StoreAllData.Tables[0].Rows[i]["candphoto"].ToString();
            // var candsign = "http://www.registration.pseb.ac.in/upload/upload2017/" + Model.StoreAllData.Tables[0].Rows[i]["candsign"].ToString();
            var candphoto = "http://www.registration.pseb.ac.in/upload/" + Model.StoreAllData.Tables[0].Rows[i]["candphoto"].ToString();
            var candsign = "http://www.registration.pseb.ac.in/upload/" + Model.StoreAllData.Tables[0].Rows[i]["candsign"].ToString();
            if (candphoto.Contains("OPEN"))
            {
                candphoto = candphoto.Replace("/upload2017", "");
            }
            if (candsign.Contains("OPEN"))
            {
                candsign = candsign.Replace("/upload2017", "");
            }
            var std_id = Model.StoreAllData.Tables[0].Rows[i]["std_id"].ToString();
            //var ROLL = Model.StoreAllData.Tables[0].Rows[i]["ROLL"].ToString();
            var form_Name = Model.StoreAllData.Tables[0].Rows[i]["form_Name"].ToString();
            var regno = Model.StoreAllData.Tables[0].Rows[i]["regno"].ToString();
            var formno = Model.StoreAllData.Tables[0].Rows[i]["formno"].ToString();
            var Candi_Name = Model.StoreAllData.Tables[0].Rows[i]["Candi_Name"].ToString();
            var Father_Name = Model.StoreAllData.Tables[0].Rows[i]["Father_Name"].ToString();
            var Mother_Name = Model.StoreAllData.Tables[0].Rows[i]["Mother_Name"].ToString();
            var Candi_Name_P = Model.StoreAllData.Tables[0].Rows[i]["Candi_Name_P"].ToString();
            var Father_Name_P = Model.StoreAllData.Tables[0].Rows[i]["Father_Name_P"].ToString();
            var Mother_Name_P = Model.StoreAllData.Tables[0].Rows[i]["Mother_Name_P"].ToString();
            var DOB = Model.StoreAllData.Tables[0].Rows[i]["DOB"].ToString();
            var Category = Model.StoreAllData.Tables[0].Rows[i]["Category"].ToString();
            var Gender = Model.StoreAllData.Tables[0].Rows[i]["Gender"].ToString();
            var Caste = Model.StoreAllData.Tables[0].Rows[i]["Caste"].ToString();
            var Differently_Abled = Model.StoreAllData.Tables[0].Rows[i]["Differently_Abled"].ToString();
            var wantwriter = Model.StoreAllData.Tables[0].Rows[i]["wantwriter"].ToString();
            var Religion = Model.StoreAllData.Tables[0].Rows[i]["Religion"].ToString();
            var Address = Model.StoreAllData.Tables[0].Rows[i]["homeadd"].ToString();
            var AREA = Model.StoreAllData.Tables[0].Rows[i]["area"].ToString();

            var Month = Model.StoreAllData.Tables[0].Rows[i]["month"].ToString();
            var Year = Model.StoreAllData.Tables[0].Rows[i]["year"].ToString();
            //var Aadhar_num = Model.StoreAllData.Tables[0].Rows[i]["Aadhar_num"].ToString();
            //var E_punjab_Std_id = Model.StoreAllData.Tables[0].Rows[i]["E_punjab_Std_id"].ToString();
            var Belongs_BPL = Model.StoreAllData.Tables[0].Rows[i]["Belongs_BPL"].ToString();
            //var aashirwardnumber = Model.StoreAllData.Tables[0].Rows[i]["aashirwardnumber"].ToString();

            var SET = Model.StoreAllData.Tables[0].Rows[0]["SET"].ToString();
            //var SCHLP = Model.StoreAllData.Tables[0].Rows[i]["SCHLP"].ToString();
            //var SCHLE = Model.StoreAllData.Tables[0].Rows[i]["SCHLE"].ToString();
            var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
            var DISTP = Model.StoreAllData.Tables[0].Rows[i]["DISTP"].ToString();
            var Group_Name = Model.StoreAllData.Tables[0].Rows[i]["Group_Name"].ToString();
            var SubjectList = Model.StoreAllData.Tables[0].Rows[i]["SubjectList"].ToString();
            var Oroll = Model.StoreAllData.Tables[0].Rows[i]["oroll"].ToString();
            var Osession = Model.StoreAllData.Tables[0].Rows[i]["osession"].ToString();
            var Oresult = Model.StoreAllData.Tables[0].Rows[i]["oresult"].ToString();
            //var prac_sub_count = Model.StoreAllData.Tables[0].Rows[i]["prac_sub_count"].ToString();


            //var Prev_School_Name = Model.StoreAllData.Tables[0].Rows[i]["Prev_School_Name"].ToString();
            //var MatricBoard = Model.StoreAllData.Tables[0].Rows[i]["MatricBoard"].ToString();
            //var MetricRollNum = Model.StoreAllData.Tables[0].Rows[i]["MetricRollNum"].ToString();
            //var MetricMonth = Model.StoreAllData.Tables[0].Rows[i]["MetricMonth"].ToString();
            //var MetricYear = Model.StoreAllData.Tables[0].Rows[i]["MetricYear"].ToString();
            //var MatricResult = Model.StoreAllData.Tables[0].Rows[i]["MatricResult"].ToString();
            //var Section = Model.StoreAllData.Tables[0].Rows[i]["section"].ToString();
            //var Class_Roll_Num_Section = Model.StoreAllData.Tables[0].Rows[i]["Class_Roll_Num_Section"].ToString();


            var BANK = Model.StoreAllData.Tables[0].Rows[i]["BANK"].ToString();
            var BRANCH = Model.StoreAllData.Tables[0].Rows[i]["BRANCH"].ToString();
            var Challanid = Model.StoreAllData.Tables[0].Rows[i]["Challanid"].ToString();
            var TotFee = Model.StoreAllData.Tables[0].Rows[i]["TotFee"].ToString();
            var J_REF_NO = Model.StoreAllData.Tables[0].Rows[i]["J_REF_NO"].ToString();
            var DEPOSITDT = Model.StoreAllData.Tables[0].Rows[i]["DEPOSITDT"].ToString();
            var FEE = Model.StoreAllData.Tables[0].Rows[i]["FEE"].ToString();

            //var NSQF_SUB = Model.StoreAllData.Tables[0].Rows[i]["NSQF_SUB"].ToString();
            //var IsNSQF = Model.StoreAllData.Tables[0].Rows[i]["IsNSQF"].ToString();
            //var CandStudyMedium = Model.StoreAllData.Tables[0].Rows[i]["CandStudyMedium"].ToString();
            //var FeeExmpt = Model.StoreAllData.Tables[0].Rows[i]["FeeExmpt"].ToString();
            //var Admission_Date = Model.StoreAllData.Tables[0].Rows[i]["Admission_Date"].ToString();
            //var Cent = Model.StoreAllData.Tables[0].Rows[i]["Cent"].ToString();
            //var centE = Model.StoreAllData.Tables[0].Rows[i]["centE"].ToString();
            //var centP = Model.StoreAllData.Tables[0].Rows[i]["centP"].ToString();
            var Class = Model.StoreAllData.Tables[0].Rows[i]["class"].ToString();

            var ERRCode = "";//Model.StoreAllData.Tables[0].Rows[i]["ERRCode"].ToString();
            var EStatus = "";//Model.StoreAllData.Tables[0].Rows[i]["Status"].ToString();
            var ErrDetails = "";// Model.StoreAllData.Tables[0].Rows[i]["ErrDetails"].ToString();

            if (SET1 != SET)
            {
                SET1 = SET; Group_Name1 = Group_Name; Class1 = Class; //Cent1 = Cent; centE1 = centE; centP1 = centP;

<thead>
    <tr>
        <td colspan="12" class="kdsfont" style="border-left:0 !important;border-right:0 !important;font-size:18px;text-align:center;padding-top:2px">
            <span style="font-size:28px">Æâ²ØÉ Ó¨ÞÐ ÚÓóÚª¤Ø ÉëÏ¸</span><br />¨ó¶ ÚÐÓ¶ ÓÛÅÛ¤Ï Óè¨â¸ÏÛ ÆñÛÚª¤Ø, ÓèÓÖÅ - 2018
        </td>
    </tr>
    <tr>
        <td colspan="4" style="font-size:14px;padding:2px 0">&nbsp;<span class="kdsfont">Ú²Ðãð ÂØ ¨ë¸ ¤¼ã ÅÙ</span>: (@dist) @DISTNM</td>
        <td colspan="2">&nbsp;<span class="kdsfont">ÆñÛÚª¤Ø</span> : <span style="font-size:14px;">@Category</span></td>
        <td colspan="2">&nbsp;<span class="kdsfont">¨è¶Ø¬ÏÛ</span> : <span style="font-size:14px;">@Category</span></td> 
        <td colspan="2">&nbsp;<span class="kdsfont">¬ÏÝóÆ</span> : <span style="font-size:14px;">@Group_Name</span></td>
        <td>&nbsp;<span class="kdsfont">Óè¶ Åâ</span> : <span style="font-size:14px;">@SET</span></td>
    </tr>

    <tr style="background-color:#dfdfdf !important">
        <td width="10%">&nbsp;Referance No</td>
        <td width="10%">&nbsp;Roll No.</td>
        <td width="14%">&nbsp; Registration No.</td>
        <td width="10%">&nbsp;DOB</td>
        <td width="8%">&nbsp;Area</td>
        <td width="7%">&nbsp;Caste</td>
        <td width="5%">&nbsp;Gender</td>
        <td width="10%">&nbsp;Differently abled</td>
        <td width="8%">&nbsp;Writer</td>
        <td width="8%">&nbsp;Practical</td>
        <td rowspan="4" width="8%" style="text-align:center;vertical-align:top">&nbsp;Photo & Sign</td>
    </tr>
    <tr>
        <td colspan="3" rowspan="3">&nbsp;Name/FatherName/MotherName</td>
        <td colspan="3">&nbsp;Previous Session / Roll / Result Details</td>
        <td>&nbsp;Centre 1</td>
        <td>&nbsp;Centre 2</td>
        <td>&nbsp;Religion</td>
        <td>&nbsp;BPL</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;Subjects</td>
        <td rowspan="2" style="text-align:center">&nbsp;Sign</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;Bank / Bank Branch</td>
        <td>&nbsp;Challanid</td>
        <td>&nbsp;Bank Refno</td>
        <td>&nbsp;Fee  Amt</td>
        <td>&nbsp;Deposit Date</td>
    </tr> 

     
                        </thead>
            }

            if (ViewBag.CutlistClass.Contains("E"))
            {
														<table class="table table-bordered" id="t01">
														<tr class="active-tr">
                                                                <td>&nbsp;Std. ID</td>
                                                                <td>&nbsp;Roll No.</td>
                                                                <td>&nbsp;Form No.</td>
                                                                <td>&nbsp;Registration No.</td>
                                                                <td>&nbsp;DOB</td>
                                                                <td>&nbsp;Category</td>
                                                                <td>&nbsp;Caste</td>
                                                                <td>&nbsp;Religion</td>
                                                                <td>&nbsp;Gender</td>
                                                                <td>&nbsp;Differently abled/Writer</td>
                                                                <td>&nbsp;BPL</td>
																<td></td>
														<tr>
														<td>&nbsp;@std_id</td>
                                                    <td>&nbsp;@*@Group_Name1 ROLL @Group_Name*@</td>
                                                    <td>&nbsp;@formno</td>
                                                    <td>&nbsp;@regno</td>
                                                    <td>&nbsp;@DOB</td>
                                                    <td>&nbsp;@Category</td>
                                                    <td>&nbsp;@Caste</td>
                                                    <td>&nbsp;@Religion</td>
                                                    <td>&nbsp;@Gender</td>
                                                    <td>&nbsp;@Differently_Abled / @wantwriter</td>
                                                    <td>&nbsp;@Prac</td>
													<td>@ERRCode,@EStatus,@ErrDetails</td>
													</tr>
														</table>

            }
            else
            {


                                        
                                        <tr>
                                            <td width="">&nbsp;@formno</td>
                                            <td width="">&nbsp;@std_id</td>
                                            <td width="">&nbsp;@regno</td>
                                            <td width="">&nbsp;@DOB</td>
                                            <td width="">&nbsp;@AREA</td>
                                            <td width="">&nbsp;@Caste</td>
                                            <td width="">&nbsp;@Gender</td>
                                            <td width="">&nbsp;@Differently_Abled</td>
                                            <td width="">&nbsp;@wantwriter</td>
                                            <td width="">&nbsp;@Prac</td>
                                            <td rowspan="4" style="text-align:center"><img src="@candphoto" style="height:68px;width:68px;border:1px solid #000;padding:1px" alt="Photograph" id="imgPhoto" /></td>
                                        </tr>
                                        <tr>

                                            <td colspan="3" rowspan="3">&nbsp;@Candi_Name/@Father_Name/@Mother_Name <br />
                                                &nbsp;<span class="kdsfont">@Candi_Name_P/@Father_Name_P/@Mother_Name_P</span></td>
                                            <td colspan="3">&nbsp;@Osession/ @Oroll /@Oresult </td>
                                            <td width="">&nbsp;@Cent1</td>
                                            <td width="">&nbsp;@Cent2</td>
                                            <td width="">&nbsp;@Religion</td>
                                            <td width="">&nbsp;@Belongs_BPL</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">&nbsp;@SubjectList</td>
                                            <td rowspan="2" style="text-align:center"><img src="@candsign" style="height:30px;width:84px;border:1px solid #000;padding:1px" alt="Sig" id="imgsign" /></td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">&nbsp;@BANK / @BRANCH</td>
                                            <td>&nbsp;@Challanid</td>
                                            <td>&nbsp;@J_REF_NO</td>
                                            @*<td>&nbsp;@FEE - @TotFee</td>*@
                                            <td>&nbsp;@FEE</td>
                                            <td>&nbsp;@DEPOSITDT</td>
                                        </tr>
                                        <tr style="background-color:#dfdfdf !important">
                                            <td>&nbsp;Address</td>
                                            <td colspan="11">&nbsp;@Address</td>
                                        </tr>
            }
        }
    }}
</table>
        <!--RPT-->
        @*<table width="100%" border="1">
        <tr>
            <td>Summary</td>
            <td colspan="11">
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        for (int j = 0; j < Model.StoreAllData.Tables[1].Rows.Count; j++)
                        {
                            var col2 = Model.StoreAllData.Tables[1].Rows[j]["col2"].ToString();
                            var cnt = Model.StoreAllData.Tables[1].Rows[j]["cnt"].ToString();
                            <span>@col2 - @cnt &nbsp;&nbsp;</span>
                        }
                    }
                }
            </td>
        </tr>
            </table>*@
</div>

    </div>
}

<script type="text/javascript">

    $("#category").change(function () {
        var selectedCATE = { CATE: $("#category").val() };
        //alert(selectedCATE)
        if ($("#category").val() == 'R') {            
            $("#Exam_Type").empty();
            $("#Exam_Type").append('<option value="0">--Select--</option>');
            $("#Exam_Type").append('<option value="R">Regular</option>');
            $("#Exam_Type").append('<option value="O">Open</option>');
            //$("#Exam_Type").append('<option value="P">Private</option>');
        }
        else if ($("#category").val() == 'D') {            
            $("#Exam_Type").empty();
            $("#Exam_Type").append('<option value="0">--Select--</option>');            
            $("#Exam_Type").append('<option value="R">Regular</option>');
            $("#Exam_Type").append('<option value="O">Open</option>');
        }
        else if ($("#category").val() == 'A') {            
            $("#Exam_Type").empty();
            $("#Exam_Type").append('<option value="0">--Select--</option>');
            $("#Exam_Type").append('<option value="P">Private</option>');
        }
    });

    function dee() {

        if ($("#SelSet").val() == "" || $("#SelSet").val() == "0") {
            alert("Please Select SET");
            document.getElementById("SelSet").focus();
            return false;
        }
        if ($("#category").val() == "" || $("#category").val() == "0") {
            alert("Please Select category");
            document.getElementById("category").focus();
            return false;
        }
        if ($("#Exam_Type").val() == "" || $("#Exam_Type").val() == "0") {
            alert("Please Select Exam Type");
            document.getElementById("Exam_Type").focus();
            return false;
        }
        if ($("#dist").val() == "" || $("#dist").val() == "0") {
            alert("Please Select District");
            document.getElementById("dist").focus();
            return false;
        }
        if ($("#SearchByString").val() != "") {

            if ($("#SelList").val() == "") {
                alert("Please Select SelList");
                document.getElementById("SearchByString").focus();
                return false;
            }
            
        }

    }
   
</script>