@model PSEBONLINE.Models.SchoolModels
@{
    Layout = "~/Views/Shared/_Header.cshtml";
    var AWS_URL = System.Configuration.ConfigurationManager.AppSettings["AWSURL"].ToString();
}
<div class="container">
    <h1>Regular School List</h1>
    <div class="row">

        @using (Html.BeginForm("RegSchoolList", "School", FormMethod.Post, new { id = "searchform" }))
        {
            if (ViewBag.MyDist != null)
            {
                @*required = "required"*@

                <div class="col-md-2">@Html.DropDownList("SchoolType", new SelectList(ViewBag.MySchoolType, "Value", "Text", ViewBag.SelectedSchoolType), "--All School Type---", new { @class = "" })</div>
                <div class="col-md-2">@Html.DropDownList("ClassType", new SelectList(ViewBag.MyClassType, "Value", "Text", ViewBag.SelectedClassType), "--All Class ---", new { @class = "" })</div>
                <div class="col-md-2">@Html.DropDownList("Dist1", new SelectList(ViewBag.MyDist, "Value", "Text", ViewBag.SelectedDist), "--All District---", new { @class = "" })</div>
                <div class="col-md-2">@Html.DropDownList("Sch1", new SelectList(ViewBag.MySch, "Value", "Text", ViewBag.SelectedItem), "--All---", new { @class = "", id = "SelectItem" })</div>
                <div class="col-md-2">@Html.DropDownList("SchoolStatus", new SelectList(ViewBag.MyStatus, "Value", "Text", ViewBag.SelectedStatusType), "--All School Status---", new { @class = "" })</div>
                <div class="col-md-2"><input type="text" id="SearchString" name="SearchString" value="@Request["SearchString"]" /></div>
                <div class="col-md-4">
                    <input type="submit" value="Search" />
                    <input type="submit" value="Download Excel" formaction="RegSchoolListForExcel" formmethod="Post" />
                    <input type="submit" name="Reset" value="Reset" formaction="CancelForm" formmethod="post" />
                </div>

            }
        }
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">Grid Total:  @ViewBag.TotalCount1</div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="t01" class="table table-bordered">
                    <tr class="active-tr">
                        <th>SCHL</th>
                        @*<th>ID NO.</th>*@
                        <th>School Name</th>
                        <th>Class</th>
                        <th>Principal Name</th>
                        <th>Mobile</th>
                        <th>
                            Infrastructure Final Status
                        </th>
                        <th>
                            Location
                        </th>
                        <td>
                            Image
                        </td>
                        <th>District</th>
                        @*<th>Status</th>*@
                        @*<th>Verify</th>*@
                        @*<th>Approve</th>*@
                        <th>Action</th>
                    </tr>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {
                            int d = 0;
                            int Count = 0;
                            if (ViewBag.pagesize == 1)
                            {
                                Count = 0;
                            }
                            else
                            {
                                Count = 20 * (ViewBag.pagesize - 1);
                            }
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                d = d + 1;
                                var schid = Model.StoreAllData.Tables[0].Rows[i]["id"].ToString();
                                var SCHL = Model.StoreAllData.Tables[0].Rows[i]["SCHL"].ToString();
                                var Classs = Model.StoreAllData.Tables[0].Rows[i]["class"].ToString();
                                var IDNO = Model.StoreAllData.Tables[0].Rows[i]["IDNO"].ToString();
                                var principalname = Model.StoreAllData.Tables[0].Rows[i]["principalname"].ToString();
                                var mobilenumber = Model.StoreAllData.Tables[0].Rows[i]["mobilenumber"].ToString();
                                var FinalSubmitStatus = Model.StoreAllData.Tables[0].Rows[i]["FinalSubmitStatus"].ToString();
                                var geolocation = Model.StoreAllData.Tables[0].Rows[i]["geolocation"].ToString();
                                var imgpath = Model.StoreAllData.Tables[0].Rows[i]["imgpath"].ToString();
                                var SCHLE = Model.StoreAllData.Tables[0].Rows[i]["SCHLE"].ToString();
                                var StationE = Model.StoreAllData.Tables[0].Rows[i]["STATIONE"].ToString();
                                var DISTE = Model.StoreAllData.Tables[0].Rows[i]["DISTE"].ToString();
                                var status = Model.StoreAllData.Tables[0].Rows[i]["STATUS"].ToString();
                                var vfalg = Model.StoreAllData.Tables[0].Rows[i]["vflag"].ToString();
                                var Approved = Model.StoreAllData.Tables[0].Rows[i]["Approved"].ToString();
                                var disCode = Model.StoreAllData.Tables[0].Rows[i]["dist"].ToString();

                                <tr>
                                    <td>
                                        @SCHL
                                    </td>
                                    @*<td>
                                            @IDNO
                                        </td>*@
                                    <td>
                                        @SCHLE,@StationE
                                    </td>

                                    <td>
                                        @Classs
                                    </td>
                                    <td>
                                        @principalname
                                    </td>
                                    <td>
                                        @mobilenumber
                                    </td>
                                    <td>
                                        @(FinalSubmitStatus=="1"?"Submitted":"Pending")
                                    </td>
                                    @if (geolocation != "")
                                    {

                                        <td>

                                            <iframe name="frame1" src="https://maps.google.com/maps?q=@geolocation&hl=es;z=14&amp;output=embed" width="150" height="50"
                                                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                            </iframe>

                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                        </td>
                                    }
                                    @if (imgpath != "")
                                    {
                                        <td>
                                            <a href="@(AWS_URL+imgpath)" target="_blank">
                                                <img src="@(AWS_URL+imgpath)" class="img-responsive" alt="Photo" id="imgPhoto" style="width: 79px;height: 70px;" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                        </td>
                                    }

                                    <td>
                                        @DISTE
                                    </td>
                                    @*<td>
                                            @status
                                        </td>*@
                                    @*<td>
                                            @vfalg
                                        </td>*@
                                    @*<td>
                                            @Approved
                                        </td>*@
                                    <td>
                                        <div class="cart">
                                            Choose Action <span class="caret"></span>
                                            <div id="sidebar">
                                                <ul>
                                                    <li style="@(ViewBag.IsView == 1 ? "display:block" : "display:none")">
                                                        @Html.ActionLink("View", "School_View_Form", new { id = SCHL })

                                                    </li>
                                                    <li>
                                                        <span style="@(ViewBag.IsUnlockviewExamCentre > 0 ? "display:block" : "display:none")">
                                                            @Html.ActionLink("View ExamCentre Details", "ExamCentreDetailsPerformaForAdmin", new { SCHL = SCHL, DIST = disCode })
                                                        </span>

                                                        <span style="@(ViewBag.IsUnlockViewInfrasturePerformas > 0 ? "display:block" : "display:none")">
                                                            @Html.ActionLink("View Infrasture", "ViewInfrasturePerformas", new { SCHL = SCHL })
                                                        </span>

                                                        <span style="@(ViewBag.IsUnlockViewInfrasturePerformas > 0 ? "display:block" : "display:none")">
                                                            @Html.ActionLink("Download Infrasture", "ViewInfrasturePerformas", new { SCHL = SCHL })
                                                        </span>

                                                        <span style="@(ViewBag.IsUnlockUpdate_School_Informations > 0 ? "display:block" : "display:none")">
                                                            @Html.ActionLink("Modify Infrasture", "InfrasturePerformaModifyForAdmin", new { SCHL = SCHL, DIST = disCode })
                                                        </span>

                                                        <span style="@(ViewBag.IsUnlockInfrasturePerformaModifyForAdmin > 0 ? "display:block" : "display:none")">
                                                            @Html.ActionLink("View School Information", "Update_School_Informations", new { SCHL = SCHL })
                                                        </span>

                                                        @Html.ActionLink("View School Staff Details", "DisplaySchoolStaffDetail", new { id = SCHL })
                                                        <span style="@(ViewBag.IsUnlockInfrastructure > 0 ? "display:block" : "display:none")">
                                                            <button class="btn btn-primary" value="@SCHL" id="Infra" onclick="UnlockFormInfra()">Unlock Infrastructure</button>
                                                        </span>

                                                        <span style="@(ViewBag.IsUnlockExamCenter > 0 ? "display:block" : "display:none")">
                                                            <button class="btn btn-primary" value="@SCHL" id="examcenter" onclick="UnlockFormexamcenter()">Unlock ExamCenter</button>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                if (d == ViewBag.TotalCount)
                                {
                                    <tr>
                                        <td colspan="11">
                                            Page @ViewBag.pagesize of @ViewBag.pn &nbsp;
                                            @if (ViewBag.pagesize == 1)
                                            {@:<<
                                                @Html.Raw("&nbsp;");
                                                @:< Prev
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    var dp = ViewBag.pagesize + 1;
                                                    <a href="~/School/RegSchoolList?page=@dp">Next ></a>
                                                    @Html.Raw("&nbsp;");
                                                    <a href="~/School/RegSchoolList?page=@ViewBag.pn">>></a>
                                                }
                                            }
                                            else
                                            {
                                                var dp = ViewBag.pagesize - 1;
                                                <a href="~/School/RegSchoolList?page=1"><<</a>
                                                @Html.Raw("&nbsp;");
                                                <a href="~/School/RegSchoolList?page=@dp">< Prev</a>
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    var dp1 = ViewBag.pagesize + 1;
                                                    <a href="~/School/RegSchoolList?page=@dp1">Next ></a>
                                                    @Html.Raw("&nbsp;");
                                                    <a href="~/School/RegSchoolList?page=@ViewBag.pn">>></a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    @ViewBag.Message
                                </td>


                            </tr>
                        }
                    }
                </table>



            </div>
        </div>
    </div>
    @*<a href="javascript:void(0);" onclick="history.go(-1);" style="-moz-user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;
        cursor: pointer;    display: inline-block;    font-size: 14px;    font-weight: 400;    line-height: 1.42857;    margin-bottom: 0;    padding: 6px 12px;    text-align: center;
        vertical-align: middle;    white-space: nowrap;    background-color: #fb9709;    border-color: #f08f06;    color: #fff;cursor:pointer">Back</a>*@

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script type="text/javascript">
    function resetAllControls() {
        $("#searchform").find('input:text, input:password, input:file, select, textarea').val('');
    };


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }

    $(document).ready(function () {
        var form = $("#searchform").serialize();

        $("#SelectItem").change(function () {
            var value = document.getElementById('SelectItem').value;
            if (value == 1 || value == 3 || value == 5) {
                $("#searchform").keypress(function (evt) {
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {
                        return true;
                    }
                    else {
                        // alert("Invalid character...Enter Only Number!!");
                        return false;
                    };
                });
            } else {
                $("#searchform").off('keypress');
            }

        });
    });
</script>

<script type='text/javascript'>

    function UnlockFormInfra() {
        debugger;
        console.log("form button clicked");
        var schl = $("#Infra").val();
        var request = { schl: schl, type: 'Infra' };
        console.log(schl);
        $.ajax({
            type: "POST",
            url: "/School/UnlockForms", // this for calling the web method function in cs code.
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response == "OK") {
                    alert("Unlocked Succesfully");
                }
                else {

                    alert("Something Went Wrong");

                }

            },
            failure: function (response) {
                alert(response);
            }
        });



    }

    function UnlockFormexamcenter() {
        debugger;
        console.log("form button clicked");
        var schl = $("#examcenter").val();
        var request = { schl: schl, type: 'examcenter' };
        console.log(schl);
        $.ajax({
            type: "POST",
            url: "/School/UnlockForms", // this for calling the web method function in cs code.
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response == "OK") {
                    alert("Unlocked Succesfully");
                }
                else {

                    alert("Something Went Wrong");

                }

            },
            failure: function (response) {
                alert(response);
            }
        });



    }



    var isCtrl = false;
    document.onkeyup = function (e) {
        if (e.which == 17)
            isCtrl = false;
    }
    document.onkeydown = function (e) {
        if (e.which == 17)
            isCtrl = true;
    }
    var isNS = (navigator.appName == "Netscape") ? 1 : 0;
    if (navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN || Event.MOUSEUP);
    function mischandler() {
        return false;
    }
    function mousehandler(e) {
        var myevent = (isNS) ? e : event;
        var eventbutton = (isNS) ? myevent.which : myevent.button;
        if ((eventbutton == 2) || (eventbutton == 3)) return false;
    }
    document.oncontextmenu = mischandler;
    document.onmousedown = mousehandler;
    document.onmouseup = mousehandler;
</script>


<script type='text/javascript'>


</script>
