@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "SchoolCorrection";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 225px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }

    .checkbox {
        display: inline-block
    }

    .checkboxY {
        display: inline-block
    }

    .checkboxN {
        display: inline-block
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 1s;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    window.setInterval(function () {
        var current = new Date();
        var expiry = new Date("Oct 30, 2022 23:59:59")
        if (current.getTime() > expiry.getTime()) {
            $('.hideint').hide();
        } else if (current.getTime() < expiry.getTime()) {
            $('.hideint').show();
        }
    }, 0);
</script>

<script type="text/javascript">
    function ShowProgress() {
        setTimeout(function () {
            var modal = $('<div />');
            modal.addClass("modal");
            $('body').append(modal);
            var loading = $(".loading");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        }, 200);
    }
    $('form').live("submit", function () {
        ShowProgress();
    });
</script>
<h1>School Correction</h1>




<div class="row">
    @using (Html.BeginForm("SchoolCorrection", "School", FormMethod.Post, new { id = "searchform" }))
    {
        <div class="col-md-12">
            <fieldset style="margin-bottom:15px">
                <legend>Search</legend>
                <div class="col-md-2">
                    Total Count &nbsp;
                    <label>@ViewBag.TotalCount</label>
                </div>
                <div class="col-md-2">
                    Select Class &nbsp;
                    @{
                        List<SelectListItem> catgilist = new List<SelectListItem>();
                        catgilist.Add(new SelectListItem { Text = "Select", Value = "0" });
                        catgilist.Add(new SelectListItem { Text = "9th Class", Value = "1" });
                        catgilist.Add(new SelectListItem { Text = "Matriculation Regular", Value = "10" });
                        catgilist.Add(new SelectListItem { Text = "Matriculation Open", Value = "22" });
                        catgilist.Add(new SelectListItem { Text = "11th Class", Value = "2" });
                        catgilist.Add(new SelectListItem { Text = "Sr.Secondary Regular", Value = "12" });
                        catgilist.Add(new SelectListItem { Text = "Sr.Secondary Open", Value = "44" });
                    }
                    @Html.DropDownList("CorrectionClass", catgilist, new { id = "CorrectionClass" })
                </div>
                <div class="col-md-2">
                    Select Correction Type &nbsp;
                    @Html.DropDownList("CorrectionType1", new SelectList(ViewBag.CorrectionType, "Value", "Text", ViewBag.SelectedItemcode), "--Select Correction Type---")
                </div>
                <div class="col-md-3">
                    Enter Correction Lot &nbsp;
                    @Html.TextBoxFor(m => m.CorrectionLot, new { id = "CorrectionLot", @maxlength = "20" })
                </div>
                <div class="col-md-2">&nbsp;<br /><input type="submit" value="Search" name="cmd" onclick="return valForm();" title="Search Record" /></div>
            </fieldset>
        </div>
    }
    <div class="clearfix"></div>
    <div class="col-lg-12 center">
        <h3 class="rqf">
            Corrections final submitted are not allowed to verify at school level. Kindly submit Final Print of Correction Performa along with required document at District Sub Office(For 9th and 11th Class) and Head Office(For 5th,8th,10th and 12th Class) to verify corrections.
        </h3>
    </div>
    @{
        if (ViewBag.TotalCount > 0)
        {
            DateTime dtLastDate1 = Convert.ToDateTime(Model.StoreAllData.Tables[0].Rows[0]["CorrectionFeeDate"].ToString()).Date;
            DateTime CorrectionFinalSubmitDt21 = Convert.ToDateTime(Model.StoreAllData.Tables[0].Rows[0]["CorrectionFinalSubmitDt"].ToString()).Date;
            DateTime VerifyLastDateBySchl = Convert.ToDateTime(Model.StoreAllData.Tables[0].Rows[0]["VerifyLastDateBySchl"].ToString()).Date;

            if (CorrectionFinalSubmitDt21 <= dtLastDate1)
            {
                <div class="col-lg-6 text-right">
                    <input type="button" value="View Added Records" onclick="javascript:document.location.href='@Url.Action("SchoolCorrectionUpdated", "School")'" />
                </div>
                <div class="col-lg-6 text-right">
                    <input type="submit" value="Add to Verify" id="btnsave" name="cmd" />
                </div>
            }
            else
            {
                @* <div class="col-lg-12 center">
                       <h3 class="rqf">
                           Corrections final submitted after 31-01-2021 not allowed to verify at school level. Kindly submit Final Print of Correction Performa along with required document at District Sub Office to verify corrections.
                           of 9th and 11th class.
                       </h3>
                    </div>*@

                <div class="col-lg-12 center">
                    <h3 class="rqf">
                        Corrections final submitted are not allowed to verify at school level. Kindly submit Final Print of Correction Performa along with required document at District Sub Office(For 9th and 11th Class) and Head Office(For 5th,8th,10th and 12th Class) to verify corrections.
                    </h3>
                </div>
            }
        }
    }

</div>
<div class="clearfix"></div>
<div class="row" id="divMain1">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="t01">
                <tr class="active-tr">
                    <th width="4%">S.No.</th>
                    <th width="7%">Schl</th>
                    <th width="10%">Class</th>
                    <th width="8%">StudentID</th>
                    <th width="11%">Correction ID</th>
                    <th width="11%">Correction Type</th>
                    <th width="11%">Correction Lot</th>
                    <th width="12%">Old Value</th>
                    <th width="12%">New Value</th>
                    <th width="5%">Status</th>
                    <th width="10%"><input type="checkbox" id="selectallY" class="hideint" />All Accept</th>
                    <th width="10%"><input type="checkbox" id="selectallN" class="hideint" />All Reject</th>
                </tr>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        int d = 0;
                        int Count = 0;
                        if (ViewBag.pagesize == 1)
                        {
                            Count = 0;
                        }
                        else
                        {
                            Count = 30 * (ViewBag.pagesize - 1);
                        }
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            d = d + 1;
                            var CorrectioId = Model.StoreAllData.Tables[0].Rows[i]["CorrectionId"].ToString();
                            var Schl = Model.StoreAllData.Tables[0].Rows[i]["Schl"].ToString();
                            var Class = Model.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
                            var Std_id = Model.StoreAllData.Tables[0].Rows[i]["Std_id"].ToString();
                            var CorrectionType = Model.StoreAllData.Tables[0].Rows[i]["CorrectionType"].ToString();
                            var CorrectionLot = Model.StoreAllData.Tables[0].Rows[i]["CorrectionLot"].ToString();
                            var OldValue = Model.StoreAllData.Tables[0].Rows[i]["OldValue"].ToString();
                            var NewValue = Model.StoreAllData.Tables[0].Rows[i]["NewValue"].ToString();
                            if (CorrectionType == "Sign" || CorrectionType == "Photo")
                            {
                                if (Model.StoreAllData.Tables[0].Rows[i]["OldValue"].ToString().Contains("OPEN"))
                                {
                                    OldValue = "https://registration2022.pseb.ac.in/upload/" + Model.StoreAllData.Tables[0].Rows[i]["OldValue"].ToString();
                                }
                                else { OldValue = "https://registration2022.pseb.ac.in/upload/Upload2023/" + Model.StoreAllData.Tables[0].Rows[i]["OldValue"].ToString(); }

                                NewValue = "https://registration2022.pseb.ac.in" + Model.StoreAllData.Tables[0].Rows[i]["NewValue"].ToString();
                            }
                            else
                            {
                                OldValue = Model.StoreAllData.Tables[0].Rows[i]["OldValue"].ToString();
                                NewValue = Model.StoreAllData.Tables[0].Rows[i]["NewValue"].ToString();
                            }

                            var Status = Model.StoreAllData.Tables[0].Rows[i]["Status"].ToString();
                            var FirmCorrectionLot = Model.StoreAllData.Tables[0].Rows[i]["FirmCorrectionLot"].ToString();
                            var CorrectionFinalSubmitDt = Model.StoreAllData.Tables[0].Rows[i]["CorrectionFinalSubmitDt"].ToString();

                            //
                            DateTime dtLastDate = Convert.ToDateTime(Model.StoreAllData.Tables[0].Rows[i]["CorrectionFeeDate"].ToString()).Date;
                            DateTime CorrectionFinalSubmitDt2 = Convert.ToDateTime(Model.StoreAllData.Tables[0].Rows[i]["CorrectionFinalSubmitDt"].ToString()).Date;




                            Count = Count + 1;
                            <tr class="@(CorrectionType == "PARTICULAR" ? "success" : "info")">
                                <td>
                                    @Count
                                </td>
                                <td>
                                    @Schl
                                </td>
                                <td>
                                    @Class
                                </td>
                                <td>
                                    @Std_id
                                </td>
                                <td>
                                    @CorrectioId
                                </td>
                                <td>
                                    @CorrectionType
                                </td>
                                <td>
                                    @CorrectionLot
                                </td>
                                @if (@CorrectionType == "Sign" || @CorrectionType == "Photo")
                                {
                                    <td>
                                        <img src="@OldValue" class="" style="max-width:30%" alt="Photo" id="OldValuePS" />
                                    </td>
                                }
                                else
                                {
                                    <td class="kdsfont">
                                        @OldValue
                                    </td>
                                }
                                @if (@CorrectionType == "Sign" || @CorrectionType == "Photo")
                                {
                                    <td>
                                        <img src="@NewValue" class="" style="max-width:30%" alt="Photo" id="NewValuePS" />
                                    </td>
                                }
                                else
                                {
                                    <td class="kdsfont">
                                        @NewValue
                                    </td>
                                }
                                <td>
                                    @if (@Status == "")
                                    {
                                        <img src="../../Images/Pending.png" alt="Status is Pending For Verification" title="Status is Pending For Verification" />
                                    }
                                    else if (@Status == "Y")
                                    {
                                        <img src="../../Images/Apply.png" alt="Correction Verified." title="Correction Verified." />
                                    }
                                    else
                                    {
                                        <img src="../../Images/Delete.png" alt="Correction Rejected." title="Correction Rejected." />
                                    }

                                </td>

                                @{

                                    if (FirmCorrectionLot == "")
                                    {
                                        <td>
                                            @if (CorrectionFinalSubmitDt2 <= dtLastDate)
                                            {
                                                <span class="">
                                                    <input type="checkbox" id="cb-@CorrectioId" class="checkboxY" name="AllChkId" value="@CorrectioId" /> Accept
                                                </span>
                                            }
                                            else
                                            {
                                                <span>Not Allowed </span>
                                            }


                                        </td>
                                        <td>
                                            @if (CorrectionFinalSubmitDt2 <= dtLastDate)
                                            {                                             
                                                <span class="">
                                                    <input type="checkbox" id="cbn-@CorrectioId" class="checkboxN" name="AllChkIdN" value="@CorrectioId" /><span>Reject</span>
                                                    <input type="text" id="txtremarks-@CorrectioId" maxlength="100" placeholder="Enter Remarks" style="display:none;" />
                                                </span>
                                            }
                                            else
                                            {
                                                <span>Not Allowed</span>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color:forestgreen"><b>Final Submitted</b></td>
                                    }

                                }


                            </tr>
                            //.... Pagin start
                            @*if (d == ViewBag.TotalCountP)
                            {
                                <tr>
                                    <td colspan="12">

                                        Page @ViewBag.pagesize of @ViewBag.pn

                                        &nbsp;

                                        @if (ViewBag.pagesize == 1)

                                        {
                                            @:<<

                                            @Html.Raw("&nbsp;");

                                            @:< Prev
                                            @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                            if (ViewBag.pn > ViewBag.pagesize)
                                            {
                                                @Html.ActionLink("Next >", "SchoolCorrection", new { page = ViewBag.pagesize + 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink(">>", "SchoolCorrection", new { page = ViewBag.pn })
                                            }
                                        }
                                        else
                                        {
                                            @Html.ActionLink("<<", "SchoolCorrection", new { page = 1 })

                                            @Html.Raw("&nbsp;");

                                            @Html.ActionLink("< Prev", "SchoolCorrection", new { page = ViewBag.pagesize - 1 })
                                            @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                            if (ViewBag.pn > ViewBag.pagesize)
                                            {
                                                @Html.ActionLink("Next >", "SchoolCorrection", new { page = ViewBag.pagesize + 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink(">>", "SchoolCorrection", new { page = ViewBag.pn })
                                            }

                                        }


                                    </td>
                                </tr>
                            }*@

                            //... Paging end


                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11">
                                <p class="rqf">Record Not Found</p>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<div id="loading1"></div>
<div class="clearfix"></div>
<div class="row">
    @*<div class="col-md-12">
            <div class="table-responsive text-center">
                <input type="button" value="View All Pending Record" onclick="javascript:document.location.href='@Url.Action("SchoolCorrectionUpdated", "School")'" />
            </div>
        </div>*@
    <div class="loading" align="center">
        Working... Please wait.<br />
        <br />
        <img src="../../images/loadingAnim.gif" />
    </div>
</div>


<script type="text/javascript">

    $("#CorrectionClass").change(function () {

          var selectedText = $(this).find("option:selected").text();
        var selectedVal = $("#CorrectionClass").val();
               
                if (selectedVal != "0") {
                    $("#CorrectionType1").empty();
                    var selectedS2 = { cls: $("#CorrectionClass").val() };
                    $.ajax({
                        url: '@Url.Action("GetCorrectionTypeByClass", "School")',
                        type: 'Post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(selectedS2),
                        success: function (States) {

                            $("#CorrectionType1").empty();
                            $("#CorrectionType1").append('<option value="">--Select Correction Type---</option>');
                            $.each(States, function (i, SList) {
                                $("#CorrectionType1").append('<option value="'
                                   + SList.Value + '">'
                                   + SList.Text + '</option>');
                            });
                            if (SList.success) {

                                //document.getElementById("MName").value = data.result;
                                // $("#TextBoxID").val(data.result.MName);
                            }
                            else {
                                alert('invalid ID' + data.success);
                            }
                        }
                    });
                }
                else {

                    $("#hums5").empty();
                    $("#hums5").append('<option value="'+selectedVal+'">'+selectedText+'</option>');


                }

            });

    $(document).ready(function () {
        // alert("ready");
        // Accept
        $('.checkboxY').change(function () { //".checkbox" change
            if (this.checked == false) { //if this item is unchecked
                $("#selectallY")[0].checked = false; //change "select all" checked status to false

            } else {
                $("#cbn-" + this.value)[0].checked = false;
                $("#selectallN")[0].checked = false;
                $('#txtremarks-' + this.value).slideUp("slow");
                $('#txtremarks-' + this.value).prop('required', false);
            }
        });
        // Reject
        $('.checkboxN').change(function () { //".checkbox" change
            var ischk = this.checked;
            if (this.checked == false) { //if this item is unchecked
                $("#selectallN")[0].checked = false; //change "select all" checked status to false
                $('#txtremarks-' + this.value).slideUp("slow");
                $('#txtremarks-' + this.value).prop('required', false);
            } else {
                $("#cb-" + this.value)[0].checked = false;
                $("#selectallY")[0].checked = false;                                    //remarks

                $('#txtremarks-' + this.value).slideDown("slow");
                $('#txtremarks-' + this.value).prop('required', true);
            }
        });

        // Accept
        $("#selectallY").change(function () {
            var status = this.checked; // "select all" checked status
            var j = 0
            //alert("2");
            $('.checkboxY').each(function () {
                $("input[name='AllChkId']")[j].checked = status;
                j++;

            });
            var status = false;
            $("#selectallN")[0].checked = status;
            var i = 0
            $('.checkboxN').each(function () {
                var id = this.id;
                var val = this.value;
                $("input[name='AllChkIdN']")[i].checked = status;
                $('#txtremarks-' + this.value).slideUp("slow");
                $('#txtremarks-' + this.value).prop('required', false);
                i++;

            });

        });

        // Reject
        $("#selectallN").change(function () {
            var status = this.checked; // "select all" checked status
            var j = 0
            //alert("2");
            $('.checkboxN').each(function () {
                var id = this.id;
                var val = this.value;
                $("input[name='AllChkIdN']")[j].checked = status;
                if (status == true) {
                    $('#txtremarks-' + this.value).slideDown("slow");
                    $('#txtremarks-' + this.value).prop('required', true);
                }
                else {
                    $('#txtremarks-' + this.value).slideUp("slow");
                    $('#txtremarks-' + this.value).prop('required', false);
                }
                j++;

            });
            var status = false;
            $("#selectallY")[0].checked = status;
            var i = 0
            $('.checkboxY').each(function () {
                $("input[name='AllChkId']")[i].checked = status;
                i++;

            });

        });

        // End select all



        //Start Save Data
        $("#btnsave").click(function () {
            // alert("Start Save Data");

            // var isvalid = valForm();
            //  alert(isvalid);
            var isvalid = true;
            if (isvalid == true) {
                var chkdee = "";
                var storeid = "";
                var pageid = "";
                var pageid = "";
                var storeid1 = "";
                var storechkid = "";
                var storescid = "";
                var chkRemarks = "";
                var remarksid = "";
                $('.checkboxY').each(function () {
                    var id = this.id;
                    // alert("acpt id= " + id);
                    var val = this.value;
                    // alert("acpt value= " + aval);
                    var arr = [];
                    arr = id;
                    var arrid = "";
                    var arrcast = "";
                    var j = 0;
                    if (this.checked) {
                        storeid += val + ",";
                    }
                });

                $('.checkboxN').each(function () {
                    var id = this.id;
                    // alert("Page= " + id);
                    var val = this.value;
                    //alert("Page value= " + rval);
                    var arr = [];
                    arr = id;
                    var arrid = "";
                    var arrcast = "";
                    var j = 0;

                    if (this.checked) {
                        var value1 = $('#txtremarks-' + val).val();
                        if (value1 == "") {
                            chkRemarks = "Enter Remarks";
                        }
                        else {
                            pageid += val + ",";
                            remarksid += val + "(" + value1 + ")" + ",";
                        }

                    }
                });

                var corLot = document.getElementById("CorrectionLot");
                var corType = document.getElementById("CorrectionType1");
                if (corLot.value == "" || corLot.value == "0") {
                    alert("Enter Correction Lot");
                    corLot.focus();
                    return false;
                }
                else if (corType.value == "" || corType.value == "0") {
                    alert("Select Correction Type");
                    corType.focus();
                    return false;
                }
                //else if (storeid == "") {
                //    alert("Please Select Accept .");
                //}
                //else if (pageid == "") {
                //    alert("Please Select Reject .");
                //}
                else if (storeid == "" && pageid == "") {
                    if (chkRemarks != "") {
                        alert("Please Enter Remarks in All Reject Corrections .");
                        return;
                    }
                    else {
                        alert("Please Select Atleast 1 Accept or Reject .");
                        return;
                    }
                }
                else {
                    // alert('Now Save Accept :' + storeid);
                    // alert('Now Save Reject :' + pageid);
                    $('#divMain1').hide();
                    $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $.post("/School/CorrLotAcceptReject", { "correctionType": corType.value, "correctionLot": corLot.value, "acceptid": storeid.slice(0, -1), "rejectid": pageid.slice(0, -1), "removeid": "", "remarksid": remarksid.slice(0, -1) },
                        function (data) {
                            $('#loading1').empty();
                            // alert('data.status  = ' + data.status);
                            if (data.status == "1") {
                                alert("Added Successfully");
                                window.location.href = '/School/SchoolCorrection';
                            }
                            else {
                                alert("Failure, Please Try Again.");
                            }
                        });
                }
            }// if true close
        });

        //End  Save Data

    });

</script>

<script>
    $(document).ready(function () {
        $("#CorrectionRecieptDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            //maxDate: '10/08/2016',
            yearRange: "2014:2020"

        });
    });


    function valForm() {
        var CorrectionClass = document.getElementById("CorrectionClass");
        if (CorrectionClass.value == "" || CorrectionClass.value == "0") {
            alert("Select Correction Class");
            CorrectionClass.focus();
            return false;
        }
        var SchlList = document.getElementById("CorrectionType1");
        if (SchlList.value == "" || SchlList.value == "0") {
            alert("Select Correction Type");
            SchlList.focus();
            return false;
        }
        var Schlcode = document.getElementById("CorrectionLot");
        if (Schlcode.value == "" || Schlcode.value == "0") {
            alert("Enter Correction Lot");
            Schlcode.focus();
            return false;
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {

            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>




