@model PSEBONLINE.Models.SchoolAccreditationCombinedModel

@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
    <h1>Open School Accreditation For Session 2023-24 </h1>
@if (ViewBag.IsSchlAllow == null)
{
    <p style="font-size:16px;" class="rqf">School Accreditation Not Allowed</p>
}
else
{
    <h4>School Details</h4>
    using (Html.BeginForm("SchoolAccreditation", "School", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-2">
                School Code <span class="rqf">*</span>
            </div>
            <div class="col-md-2">
                <label>@Html.DisplayFor(a => a.schlmodel.SCHL, new { })</label>
            </div>
            <div class="col-md-2">
                School Identity Code <span class="rqf">*</span>
            </div>
            <div class="col-md-2"><label>@Html.DisplayFor(a => a.schlmodel.idno, new { })</label></div>
            <div class="col-md-2">
                Class Level <span class="rqf">*</span>
            </div>
            <div class="col-md-2"><label>@Html.DisplayFor(a => a.schlmodel.CLASS, new { })</label></div>

            <div class="col-md-2">School Name(English) <span class="rqf">*</span></div>
            <div class="col-md-10">
                <label> @Html.DisplayFor(a => a.schlmodel.SCHLE, new { })</label>
            </div>

            <div class="col-md-2">
                District Name<span class="rqf">*</span>
            </div>
            <div class="col-md-2"> <label>@Html.DisplayFor(a => a.schlmodel.DISTNM, new { })</label></div>
            <div class="col-md-2">
                Establishment Year <span class="rqf">*</span>
            </div>
            <div class="col-md-2"><label>@Html.DisplayFor(a => a.schlmodel.SchlEstd, new { })</label></div>
            <div class="col-md-2">
                Type of School  <span class="rqf">*</span>
            </div>
            <div class="col-md-2"><label>@Html.DisplayFor(a => a.schlmodel.USERTYPE, new { })</label></div>

            <div class="col-md-2">
                Address of School  <span class="rqf">*</span>
            </div>
            <div class="col-md-8"><label>@Html.DisplayFor(a => a.schlmodel.ADDRESSE, new { })</label></div>

        </div>
        <div class="clearfix"></div>

        <h4>Class/Stream Details</h4>
        <div class="row">
            <div class="col-md-12">
                <table id="t01" class="table table-bordered">
                    <tr style="font-weight: bold;">
                        <td>Class/Group</td>
                        <td align="left">
                            MATRIC
                        </td>
                        <td align="left">
                            Humanities
                        </td>
                        <td align="left">
                            Science
                        </td>
                        <td align="left">
                            Commerce
                        </td>
                        <td align="left">
                            Vocational
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td>Affiliation Type</td>
                        <td align="left">
                            @Html.DisplayFor(a => a.schlmodel.HID_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.schlmodel.H_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.schlmodel.S_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.schlmodel.C_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.schlmodel.V_UTYPE, new { })
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td>East. Year</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.HID_YR, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.HYR, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.SYR, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.CYR, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.VYR, new { })</td>
                    </tr>
                    @*<tr style="font-weight: bold;">
            <td>Section</td>
            <td>@Html.DisplayFor(a => a.schlmodel.HID_YR_SEC, new { })</td>
            <td>@Html.DisplayFor(a => a.schlmodel.HYR_SEC, new { })</td>
            <td>@Html.DisplayFor(a => a.schlmodel.SYR_SEC, new { })</td>
            <td>@Html.DisplayFor(a => a.schlmodel.CYR_SEC, new { })</td>
            <td>@Html.DisplayFor(a => a.schlmodel.VYR_SEC, new { })</td>
        </tr>*@
                    <tr style="font-weight: bold;">
                        <td>Last Session Open Accreditation</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.OMATRIC, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.OHUM, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.OSCI, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.OCOMM, new { })</td>
                        <td>@Html.DisplayFor(a => a.schlmodel.OVOC, new { })</td>
                    </tr>

                </table>

            </div>


        </div>
        <div class="clearfix"></div>





        <h4>Principal / Contact Details </h4>
        <div class="row">
            <div class="col-md-2">
                Principal Name <span class="rqf">*</span>
            </div>
            <div class="col-md-2">
                <label>@Html.DisplayFor(a => a.schlmodel.PRINCIPAL, new { id = "txtPrincipal", onkeypress = "return ValidateAlpha(event);" })</label>
            </div>
            <div class="col-md-2">
                Office Phone No. <span class="rqf">*</span>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-5"> <label>@Html.DisplayFor(a => a.schlmodel.STDCODE, new { id = "txtstdCode", @maxlength = "5", onkeypress = "return isNumberKey(event);" })</label></div>
                    <div class="col-md-7"> <label>@Html.DisplayFor(a => a.schlmodel.PHONE, new { id = "txtPhone", @maxlength = "7", onkeypress = "return isNumberKey(event);" })</label></div>
                </div>
            </div>
            <div class="col-md-2">
                Mobile No. <span class="rqf">*</span>
            </div>
            <div class="col-md-2">
                <label> @Html.DisplayFor(a => a.schlmodel.MOBILE, new { id = "txtMob", @maxlength = "10", onkeypress = "return isNumberKey(event);" })</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                Registered Email <span class="rqf">*</span>
            </div>
            <div class="col-md-10">
                <label> @Html.DisplayFor(a => a.schlmodel.EMAILID, new { @readonly = "readonly", @class = "textnone" })</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">Other Person Name <span class="rqf">*</span></div>
            <div class="col-md-2">
                <label> @Html.DisplayFor(a => a.schlmodel.CONTACTPER, new { id = "txtOtherContactper", onkeypress = "return ValidateAlpha(event);" })</label>
            </div>

            <div class="col-md-2">
                Other Mobile No. <span class="rqf">*</span>
            </div>
            <div class="col-md-2">
                <label>  @Html.DisplayFor(a => a.schlmodel.OtContactno, new { id = "txtOtherMob", @maxlength = "10", onkeypress = "return isNumberKey(event);" })</label>
            </div>
        </div>

        <h4>School Bank Account Details  (Used for credit payment issued by Board)</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        Name of Bank<span class="rqf">*</span>
                        <label>@Html.DisplayFor(a => a.schlmodel.Bank, new { id = "Bank" })</label>
                    </div>
                    <div class="col-md-2">
                        Bank IFSC Code<span class="rqf">*</span>
                        <label>@Html.DisplayFor(a => a.schlmodel.IFSC, new { id = "IFSC" })</label>
                    </div>
                    <div class="col-md-2">
                        Enter A/c No <span class="rqf">*</span>
                        <label> @Html.DisplayFor(a => a.schlmodel.acno, new { id = "acno" })</label>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
        <p style="font-size:14px;color:red">            
            Note: To update profile visit "school profile -> Update School Profile" or <a href="/SchoolProfile/Update_School_Information" class="btn">click here</a>
        </p>



        <h4>Select Class/Group for Accreditation :-</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        Select Class<span class="rqf">*</span>
                        @Html.DropDownList("SelClass", new SelectList(ViewBag.ClassList, "Value", "Text"), "--Select Class---", new { id = "SelClass" })
                    </div>
                    <div class="col-md-2">
                        Select Group<span class="rqf">*</span>
                        @Html.DropDownList("SelGroup", (List<SelectListItem>)ViewBag.GroupList, "--Select Group--", new { id = "SelGroup" })
                        @*@Html.DropDownList("SelGroup", new SelectList(ViewBag.GroupList, "Value", "Text"), new { id = "SelGroup" })*@
                    </div>
                    <div class="col-md-2">
                        Accreditation Type <span class="rqf">*</span>
                        @Html.DropDownList("SelAccreditation", Enumerable.Empty<SelectListItem>(), "--Select Accreditation--", new { id = "SelAccreditation" })
                        @*@Html.DropDownList("SelAccreditation", new SelectList(ViewBag.AccreditationList, "Value", "Text"), "--Select Accreditation---", new { id = "SelAccreditation" })*@
                    </div>
                    <div class="col-md-2"><input value="Add Class/Group" type="submit" name="cmd" onclick="return valForm();" /></div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>


        <table id="" class="table table-bordered">
            <tr class="active-tr">
                <th>Sr No</th>
                <th>Class</th>
                <th>Group</th>
                <th>Accreditation</th>
                @*<th>Type</th>*@
                <th> Fee Status</th>
                <th>Action</th>
            </tr>
            @{
                if (ViewBag.TotalCount > 0)
                {
                    int d = 0;
                    int Count = 0;
                    for (int i = 0; i < Model.sam.StoreAllData.Tables[0].Rows.Count; i++)
                    {
                        d = d + 1;
                        var ID = Model.sam.StoreAllData.Tables[0].Rows[i]["ID"].ToString();
                        var Class = Model.sam.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
                        var Group = Model.sam.StoreAllData.Tables[0].Rows[i]["exam"].ToString();
                        var Accreditation = Model.sam.StoreAllData.Tables[0].Rows[i]["Acrtype"].ToString();
                        var refno = Model.sam.StoreAllData.Tables[0].Rows[i]["refno"].ToString();
                        var Fee = Model.sam.StoreAllData.Tables[0].Rows[i]["Fee"].ToString();
                        var latefee = Model.sam.StoreAllData.Tables[0].Rows[i]["latefee"].ToString();
                        var FeeStatus = Model.sam.StoreAllData.Tables[0].Rows[i]["FeeStatus"].ToString();
                        var challanid = Model.sam.StoreAllData.Tables[0].Rows[i]["challanid"].ToString();
                        var Challanverify = Model.sam.StoreAllData.Tables[0].Rows[i]["Challanverify"].ToString();
                        var IsFinal = Model.sam.StoreAllData.Tables[0].Rows[i]["IsFinal"].ToString();
                        var IsChallanCancel = Model.sam.StoreAllData.Tables[0].Rows[i]["IsChallanCancel"].ToString();
                        Count = Count + 1;
                        <tr>
                            <td>@Count</td>
                            @*<td>@ID</td>*@
                            <td>@Class</td>
                            <td>@Group</td>
                            <td>@Accreditation</td>

                            <td>
                                @FeeStatus
                            </td>
                            <td>
                                @if (IsFinal == "0")
                                {
                                    @Html.ActionLink("Delete", "AccreditationActions", new { id = ID, act = "D" }, new { onclick = "return confirm('Are you sure want to Delete ?');" })
                                }
                                else if (IsFinal == "1")
                                { <span class="rqf">@refno</span>}
                            </td>


                        </tr>



                    }
                    <tr>
                        <td colspan="8" align="right">
                            @if (ViewBag.TotalCount > 0 && ViewBag.IsFinal == 0)
                            {
                                @Html.ActionLink("Final Submit", "AccreditationActions", new { id = ViewBag.SCHL, act = "FS" }, new { @class = "btn", onclick = "return confirm('Are you sure to Final Submit ?');" })
                                @*<input value="Final Submit & Lock" type="button" onclick="javascript:document.location.href='@Url.Action("AccreditationFinalSubmit", "Recheck")'" />*@
                            }
                            else if (ViewBag.TotalCount > 0 && ViewBag.IsFinal == 1)
                            {                                

                                @Html.ActionLink("Unlock Final Submission", "AccreditationActions", new { id = ViewBag.SCHL, act = "UF" }, new { @class = "btn", onclick = "return confirm('Are you sure to Final Submit ?');" })

                                @Html.ActionLink("Proceed to Pay", "PaymentFormAccreditation", new { id = ViewBag.SCHL }, new { @class = "btn", onclick = "return confirm('Are you sure to Generate Challan ?');" })

                                @*<input value="Unlock Final Submission" type="button" onclick="javascript:document.location.href='@Url.Action("AccreditationActions", "Recheck")'" style="text-align:left" />
                            <input value="Generate Challan" type="button" onclick="javascript:document.location.href='@Url.Action("PaymentFormAccreditation", "School")'" style="text-align:right" />*@
                            }
                        </td>

                    </tr>
                    <tr>
                        <td colspan="9">
                          <p><span class="rqf" style="font-size : 16px;">Note : You Cannot Unlock Final Submission, If you will Proceed to Pay Online.</span></p>
                        </td>
                    </tr>

                }
                else
                {
                    <tr>
                        <td colspan="9">
                            Record Not Added
                        </td>
                    </tr>
                }
            }
        </table>


        <div class="clearfix"></div>
        <p style="text-align:center;font-size:18px;color:#f00">Fee & Challan Details :-</p>
        <table class="table table-bordered" id="">
            <tr class="active-tr">
                <th>RefNo</th>
                <th>Class [Group]</th>
                <th>Name of Bank</th>
                <th>Challan ID / Valid Date</th>
                <th>Fee+LateFee=Tot Fee</th>
                <th>Fee	Status</th>
                <th>Action</th>
            </tr>
            @{
                if (ViewBag.TotalCount2 > 0)
                {
                    if (Model.sam.StoreAllData.Tables[2].Rows.Count > 0)
                    {
                        for (int i = 0; i < Model.sam.StoreAllData.Tables[2].Rows.Count; i++)
                        {
                            var RefNo = Model.sam.StoreAllData.Tables[2].Rows[i]["RefNo"].ToString();
                            var GroupList = Model.sam.StoreAllData.Tables[2].Rows[i]["GroupList"].ToString();
                            var Bank = Model.sam.StoreAllData.Tables[2].Rows[i]["Bank"].ToString();
                            var ChallanId = Model.sam.StoreAllData.Tables[2].Rows[i]["ChallanId"].ToString();
                            var ChallanDate = Model.sam.StoreAllData.Tables[2].Rows[i]["CHLNDATE"].ToString();
                            var ChallanVDate = Model.sam.StoreAllData.Tables[2].Rows[i]["CHLNVDATE"].ToString();
                            var ChallanVerifiedOn = Model.sam.StoreAllData.Tables[2].Rows[i]["ChallanVerifiedOn"].ToString();
                            var Status = Model.sam.StoreAllData.Tables[2].Rows[i]["Status"].ToString();
                            var FEE = Model.sam.StoreAllData.Tables[2].Rows[i]["FEE"].ToString();
                            var LateFee = Model.sam.StoreAllData.Tables[2].Rows[i]["LateFee"].ToString();
                            var TotalFee = Model.sam.StoreAllData.Tables[2].Rows[i]["TotalFee"].ToString();
                            var ExpireVDate = Model.sam.StoreAllData.Tables[2].Rows[i]["ExpireVDate"].ToString();
                            var FeeDepositStatus = Model.sam.StoreAllData.Tables[2].Rows[i]["FeeDepositStatus"].ToString();
                            int Count = i + 1;

                            <tr>
                                <td align="left">@RefNo</td>
                                <td align="center">@GroupList</td>
                                <td align="center">@Bank</td>
                                <td align="center">@ChallanId  @Html.Raw("#") @ChallanVDate</td>
                                <td align="center">
                                    @FEE @Html.Raw("+") @LateFee@Html.Raw("=") @TotalFee
                                </td>
                                <td align="center">@Status</td>
                                <td align="center" class="nlink">
                                    <span class="rqf">
                                        <a href="~/Home/GenerateChallaan?ChallanId=@ChallanId" title="Click Here to Print Challan" target="_blank">Print Challan</a>
                                    </span><br />
                                    @*<span class="text-danger">@Html.ActionLink("Print Report", "SchoolAccreditationReport", new { id = @RefNo })</span>*@


                                    @if (Model.sam.StoreAllData.Tables[2].Rows[i]["StatusNumber"].ToString() == "1")
                                    {

                                        if (ExpireVDate.ToString() == "0" && FeeDepositStatus.ToString() == "0")
                                        {
                                            @Html.ActionLink("Enter Fee Deposit Details", "FeeDepositDetails", "Home", new { id = ChallanId }, "")
                                        }
                                        else if (FeeDepositStatus.ToString() == "1")
                                        {
                                            <span>Challan Verification Pending</span>
                                        }
                                        else if (ExpireVDate.ToString() == "1" && FeeDepositStatus.ToString() == "0")
                                        {
                                            @Html.ActionLink("Enter Fee Deposit Details", "FeeDepositDetails", "Home", new { id = ChallanId }, "")
                                            <button type="button" class="" data-toggle="modal" data-target="#myModal-@ChallanId" onclick="return confirm('If you already deposited amount in Bank then please dont regenerate challan. Are you sure to Re-Generate Challan or Cancel?');">Re-Generate Challan</button>
                                            @* Re-Generate Challan *@
                                            <div class="modal fade" id="myModal-@ChallanId" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Re-Generate Challan</h4>
                                                            <p style="text-align:center;font-size:18px;color:#f00">If you already deposit amount in Bank then please dont Re-Generate Challan. Are you sure to Re-Generate Challan or Cancel?</p>
                                                        </div>
                                                        <div class="modal-body">
                                                            <center> <input type="text" id="txtChallanNo-@ChallanId" name="txtChallanNo" value="@ChallanId" readonly /></center>

                                                            @{
                                                                if (ViewBag.dsAllowBank != null)
                                                                {
                                                                    if (ViewBag.IsAllowBank == 1)
                                                                    {
                                                                        if (ViewBag.dsAllowBank.Tables[0].Rows[0]["BankAllow"].ToString().Contains("202"))
                                                                        {
                                                                            <span>
                                                                                <input name="PNB-@ChallanId" id="PNB-@ChallanId" type="radio" value="202">
                                                                                <img src="~/Images/PNBbank.gif" width="150" />
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {

                                                                            <span>
                                                                                <input name="PNB-@ChallanId" id="PNB-@ChallanId" type="radio" value="202" disabled>
                                                                                <img src="~/Images/PNBbank.gif" width="150" />
                                                                            </span>
                                                                        }

                                                                        if (ViewBag.dsAllowBank.Tables[0].Rows[0]["BankAllow"].ToString().Contains("204"))
                                                                        {
                                                                            <span>
                                                                                <input name="SBI-@ChallanId" id="SBI-@ChallanId" type="radio" value="204">
                                                                                <img src="~/Images/SBIbank.png" width="150" />
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>
                                                                                <input name="SBI-@ChallanId" id="SBI-@ChallanId" type="radio" value="204" disabled>
                                                                                <img src="~/Images/SBIbank.png" width="150" />
                                                                            </span>
                                                                        }

                                                                        if (ViewBag.dsAllowBank.Tables[0].Rows[0]["BankAllow"].ToString().Contains("203"))
                                                                        {

                                                                            <span>
                                                                                <input name="HOD-@ChallanId" id="HOD-@ChallanId" type="radio" value="203">
                                                                                <span>PSEB HOD</span>
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>
                                                                                <input name="HOD-@ChallanId" id="HOD-@ChallanId" type="radio" value="203" disabled>
                                                                                <span>PSEB HOD</span>
                                                                            </span>
                                                                        }

                                                                    }
                                                                }
                                                            }
                                                            <br />

                                                            <input type="button" class="btn" value="Click here to Re-Generate Challan" id="btnSend" onclick="Send(@ChallanId)" />
                                                            <div id="loading1-@ChallanId"></div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    }
                                    else if (Model.sam.StoreAllData.Tables[2].Rows[i]["StatusNumber"].ToString() == "2")
                                    {

                                        <span class="text-danger">@Html.ActionLink("Print Report", "SchoolAccreditationReport", new { id = @RefNo })</span>
                                        <br />
                                    }

                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">
                            Record Not Found
                        </td>
                    </tr>
                }
            }
        </table>
    }


}
@{

    if (ViewData["Status"] != null)
    {
        var result = ViewData["Status"].ToString();
        if (result == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Accreditation Inserted Successfully.");
            </script>
        }
        else if (result == "NF")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Not Found.");
            </script>
        }
        else if (result == "NACP" || result == "CP")
        {
            <script type="text/javascript" language="javascript">
                alert("Accreditation can not Insert, Kindly verify already generated challan for same class. ");
            </script>
        }
        else if (result == "EMPTYBANK")
        {
            <script type="text/javascript" language="javascript">
                alert("Please Enter Bank Details Before Proceed");
                window.location.href = '@Url.Action("Update_School_Information", "SchoolProfile")';
            </script>
        }
        else if (result == "D")
        {
            <script type="text/javascript" language="javascript">
                alert("Same Accreditation can not Insert, Please Delete related record then try to Add.");
            </script>
        }
        else if (result == "DC")
        {
            <script type="text/javascript" language="javascript">
                alert("Challan Already Generated of Same Accreditation.");
            </script>
        }
        else if (result == "NA")
        {
            <script type="text/javascript" language="javascript">
                alert("You cannot generate challan for both class simultaneously, Kindly generate class wise separate challan. ");
            </script>
        }
        else if (result == "FP")
        {
            <script type="text/javascript" language="javascript">
                alert("You have already added some Class/Group which has final submitted either unlock that submission or generate challan, after that you will be able to add new Class/Group ");
            </script>
        }
        else if (result == "DEL")
        {
            <script type="text/javascript" language="javascript">
                alert("Accreditation Deleted Successfully.");
            </script>
        }
        else if (result == "SUBMIT")
        {
            <script type="text/javascript" language="javascript">
                alert("Accreditation Submitted Successfully.");
            </script>
        }
        else if (result == "NOTSUBMIT")
        {
            <script type="text/javascript" language="javascript">
                alert("Please Add Record  before Final Submit.");

            </script>
        }
        else if (result == "11")
        {
            <script type="text/javascript" language="javascript">
                alert("Select Class, Group and Accreditation.");
            </script>
        }
    }

    }

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">


    $("#SelClass").change(function () {
        $("#SelGroup").empty();
        var selectedCategory = { SelClass: $("#SelClass").val() };

                            $.ajax({
                                url: '@Url.Action("GetGroupByClass", "School")',
                                type: 'Post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(selectedCategory),
                                success: function (States) {
                                    $("#SelGroup").empty();
                                    $("#SelGroup").append('<option value="">--Select Group--</option>');
                                    $.each(States, function (i, Streams) {
                                        $("#SelGroup").append('<option value="'
                                           + Streams.Value + '">'
                                           + Streams.Text + '</option>');
                                    });
                                    if (Streams.success) {
                                    }
                                    else {
                                        alert('invalid ID' + data.success);
                                    }
                                }
                            });
    });



    $("#SelGroup").change(function () {
        $("#SelAccreditation").empty();     
        var selectedCategory = { SelClass: $("#SelClass").val(), SelGroup: $("#SelGroup").val() };

                            $.ajax({
                                url: '@Url.Action("CheckNewReNewByGroupByClass", "School")',
                                type: 'Post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(selectedCategory),
                                success: function (States) {
                                    $("#SelAccreditation").empty();                                 
                                    $.each(States, function (i, Streams) {
                                        $("#SelAccreditation").append('<option value="'
                                           + Streams.Value + '">'
                                           + Streams.Text + '</option>');
                                    });
                                    if (Streams.success) {
                                    }
                                    else {
                                        alert('invalid ID' + data.success);
                                    }
                                }
                            });
                        });



    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }</script>

<script type="text/javascript">
    function valForm() {

        var SelClass = document.getElementById("SelClass");
        if (SelClass.value == "" || SelClass.value == "0") {
            alert("Select Class.");
            SelClass.focus();
            return false;
        }

        var SelGroup = document.getElementById("SelGroup");
        if (SelGroup.value == "" || SelGroup.value == "0") {
            alert("Select Group.");
            SelGroup.focus();
            return false;
        }

        var SelAccreditation = document.getElementById("SelAccreditation");
        if (SelAccreditation.value == "" || SelAccreditation.value == "0") {
            alert("Select Accreditation.");
            SelAccreditation.focus();
            return false;
        }
    }
</script>

<script type="text/javascript">

    function Send(k) {
        // alert(' Re-Generate Challan  start');
        var txtChallanNo = '#txtChallanNo-' + k;

        var SBIa = document.getElementById("SBI-" + k).checked;
        var PNBa = document.getElementById("PNB-" + k).checked;
        var HODa = document.getElementById("HOD-" + k).checked;
        var BCODE = "";
        if (SBIa == false && PNBa == false && HODa == false) {
            alert("Please Select Any Bank");
            return false;
        }
        else if (SBIa == true && PNBa == true && HODa == true) {
            alert("Please Select Only 1 Bank");
            document.getElementById("SBI-" + k).checked = false;
            document.getElementById("PNB-" + k).checked = false;
            return false;
        }
        else {
            if (document.getElementById("SBI-" + k).checked == true) { BCODE = "204"; }
            else if (document.getElementById("PNB-" + k).checked == true) { BCODE = "202"; }
            else if (document.getElementById("HOD-" + k).checked == true) { BCODE = "203"; }
            else { BCODE = ""; }
        }

        if (BCODE == "") {
            alert('Please Select Bank')
            return false;
        }
        else if ($('#txtChallanNo-' + k).val() == "") {
            $('#txtChallanNo-' + k).addClass("input-validation-error");
            return false;
        }
        else {
            //  alert('Now Re-Generate Challan of :' + $('#txtChallanNo-' + k).val())
            // $('#Main1').hide();
            $('#loading1-' + k).html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            $.ajax({
                type: "POST",
                url: "/Home/jqReGenerateChallaanNew",
                data: '{ChallanId:"' + $('#txtChallanNo-' + k).val() + '", BCODE:"' + BCODE + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                    $('#loading1-' + k).empty();
                }
            });
            function OnSuccess(response) {
                if (response.dee == "1") {
                    alert("Challan Re-Generated Successfully & Your Challan ID is " + response.chid);
                    $("#myModal-" + k).hide();
                    $('#loading1-' + k).empty();
                    window.open("/Home/GenerateChallaan?ChallanId=" + response.chid, "_blank");
                }
                else {
                    alert("Failure, Please Try Again.");
                    $('#loading1-' + k).empty();
                }
            }
        }
    }

</script>

