@model PSEBONLINE.Models.StudentSchoolMigrationViewModel
@{
    if (Session["AdminId"] != null)
    {
        Layout = "~/Views/Shared/_Header.cshtml";
    }
    else {

        Layout = "~/Views/Shared/_Headerui.cshtml";
    }
    var AWS_URL = System.Configuration.ConfigurationManager.AppSettings["AWSURL"].ToString();
}
<h1>Migration Detail</h1>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <h4>Migration Details</h4>
            <div class="row">
                <div class="col-md-4">Old School Details</div><div class="col-md-8">@Html.TextBoxFor(a => a.OldSchlDetails, new { id = "SCode", @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Registration No.</div><div class="col-md-8"> @Html.TextBoxFor(a => a.RegNo, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Class</div><div class="col-md-8"> @Html.TextBoxFor(a => a.cls, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Form Name</div><div class="col-md-8"> @Html.TextBoxFor(a => a.Form_Name, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Student ID</div><div class="col-md-8"> @Html.TextBoxFor(a => a.StdId, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Candidate's Name</div><div class="col-md-8"> @Html.TextBoxFor(a => a.Name, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Father's Name</div><div class="col-md-8">    @Html.TextBoxFor(a => a.FName, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Mother's Name</div><div class="col-md-8">    @Html.TextBoxFor(a => a.MName, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">New School Details</div><div class="col-md-8"> @Html.TextBoxFor(a => a.NewSchlDetails, new { id = "SchlCodeNew" })</div>
				<div class="col-md-4">Student Migration Letter </div><div class="col-md-8">  <a href="@AWS_URL@Model.StudentMigrationLetter" target="_blank" class="btn">View File</a>
</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Migration Fee Details</h4>
            @{
                if (Model.Challanverify == 1)
                {
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-md-4">Challan Id</div><div class="col-md-8">@Html.TextBoxFor(a => a.ChallanId, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                        <div class="col-md-4">Amount </div><div class="col-md-8">@Html.TextBoxFor(a => a.totfee, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                        <div class="col-md-4">Deposit Date </div><div class="col-md-8">@Html.TextBoxFor(a => a.DEPOSITDT, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                        @*<div class="col-md-4">Bank Name/ Name of Depot </div><div class="col-md-8">@Html.TextBoxFor(a => a.BankName, new { @ReadOnly = "ReadOnly" })</div>*@
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">Fee's Pending</div>
                    </div>
                }
            }


        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center">
            <br />
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn">Back</a>
        </div>


    </div>

