@model PSEBONLINE.Models.FeeHomeViewModel
@{
    ViewBag.Title = "OnDemandCertificate Calculate Fee";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .ullist li {
        padding: 6px 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
        /*.ullist li a {
                color: #000;font-size:15px
            }*/
        .ullist li a samp {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
            background-color: #fff;
            color: #000;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            display: inline-block;
            text-align: center;
            padding-top: 3px
        }

    .ullist {
        padding-bottom: 10px;
    }

        .ullist li a {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 4px;
            width: 260px
        }

            .ullist li a:focus,
            .ullist li a.focus {
                color: #fff;
                background-color: #449d44;
                border-color: #255625;
            }

            .ullist li a:hover {
                color: #fff;
                background-color: #449d44;
                border-color: #398439;
            }


    .ullista li {
        padding: 6px 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
        /*.ullist li a {
                color: #000;font-size:15px
            }*/
        .ullista li a samp {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
            background-color: #fff;
            color: #000;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            display: inline-block;
            text-align: center;
            padding-top: 3px
        }

    .ullista {
        padding-bottom: 10px;
    }

        .ullista li a {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 4px;
            width: 260px
        }

            .ullista li a:focus,
            .ullista li a.focus {
                color: #fff;
                background-color: #c9302c;
                border-color: #761c19;
            }

            .ullista li a:hover {
                color: #fff;
                background-color: #c9302c;
                border-color: #ac2925;
            }
</style>

<h1>
    On Demand Certificate Calculate Fee For - Session @Session["Session"].ToString() <span style="float:right"><a href="~/RegistrationPortal/OnDemandCertificate" class="btn">Back</a></span>
</h1>
<div class="row" id="divall">

    @*@if (ViewBag.DateMessage != null)
        {
            <div class="col-md-12 text-center">
                <span class="rqf" style="font-size:24px;font-weight:normal">
                    Examination Form generation dates are over, now you cannot calculate fee or generate Form. <br /> Kindly contact with Controller Examination at PSEB Head Office
                </span>
            </div>
        }*@

    <div class="clearfix"></div>
    <div class="col-md-6">

        <fieldset class="hideint">
            <legend>Matric Regular/Open Calculate Fee</legend>
            <ul class="ullista">
                <li class="hideint"><a href="/OnDemandCertificate/OnDemandCertificateCalculateFee?id=M&D=0" class=""><img src="/images/Examw.png" /> Matric Regular/Open Calculate Fee <samp>@ViewBag.MR</samp></a></li>
            </ul>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="hideint">
            <legend>Senior Regular/Open Calculate Fee</legend>
            <ul class="ullist">
                <li class="hideint"><a href="/OnDemandCertificate/OnDemandCertificateCalculateFee?id=S&D=0" class=""><img src="/images/Examws.png" /> Senior Regular/Open Calculate Fee <samp>@ViewBag.SR</samp></a></li>
            </ul>
        </fieldset>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-12">
        @{
            if (@ViewBag.SearchId != null)
            {
                if (ViewBag.SearchId == "M")
                {
                    <h1>Matric Regular/Open Calculate Fee</h1>
                }
                if (@ViewBag.SearchId == "S")
                {
                    <h1>Senior Regular/Open Calculate Fee</h1>
                }
            }
        }
    </div>
    <div class="clearfix"></div>



    <div class="col-md-12">
        @{
            if (ViewData["FeeStatus"] != null)
            {
                if (ViewData["FeeStatus"].ToString() == "1")
                {

                    <p style="color:#cc0000">
                        This Fee is Valid Upto date @Html.DisplayFor(m => m.EndDate)
                    </p>
                }
                else if (ViewData["FeeStatus"].ToString() == "3")
                {
                    <p style="color:#cc0000">@ViewBag.Message</p>
                }
            }
        }


        <div class="table-responsive">
            @{
                if (ViewData["FeeStatus"] != null)
                {
                    if (ViewData["FeeStatus"].ToString() == "1")
                    {

                        <table class="table table-bordered" id="t01">
                            <tr class="active-tr">
                                <th>Class</th>
                                <th>Fee Category</th>
                                <th>Fee</th>
                                <th>LateFee</th>
                                <th>Total Fee of Students</th>
                                <th>No. Of Students</th>
                                <th>Total Fees</th>
                            </tr>
                            @{

                                if (ViewBag.TotalCount > 0)
                                {
                                    var StudentList = "";

                                    for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                    {
                                        var cls = Model.StoreAllData.Tables[0].Rows[i]["cls"].ToString();
                                        var feecat = Model.StoreAllData.Tables[0].Rows[i]["feecat"].ToString();
                                        var fee = Model.StoreAllData.Tables[0].Rows[i]["fee"].ToString();
                                        var latefee = Model.StoreAllData.Tables[0].Rows[i]["latefee"].ToString();
                                        var CountStudent = Model.StoreAllData.Tables[0].Rows[i]["CountStudents"].ToString();
                                        var totfee = Model.StoreAllData.Tables[0].Rows[i]["totfee"].ToString();
                                        var TotalFees = Model.StoreAllData.Tables[0].Rows[i]["TotalFees"].ToString();
                                        StudentList += Model.StoreAllData.Tables[0].Rows[i]["StudentList"].ToString() + ",";
                                        int Count = i + 1;
                                        <tr>
                                            <td align="center">@cls</td>
                                            <td align="center">@feecat</td>
                                            <td align="center">@fee</td>
                                            <td align="center">@latefee</td>
                                            <td align="center">@totfee</td>
                                            <td align="center">@CountStudent</td>
                                            <td align="center">@TotalFees</td>
                                        </tr>
                                    }
                                    Session["OnDemandCertificate_FeeStudentList"] = StudentList.ToString();
                        <tr>
                            <td colspan="2" align="left">
                                <a href="" data-toggle="modal" data-target="#myModal1" class="btn">Click Here To View Candidate Wise Fee</a>
                            </td>
                            <td colspan="3"></td>
                            <td colspan="2" align="right">Total Fees : ₹  @Html.DisplayFor(m => m.TotalFeesInWords)  </td>
                        </tr>
                                   
                                }
                            }
                        </table>
                    }
                }

            }


            @{
                if (ViewData["FeeStatus"] != null)
                {
                    if (ViewData["FeeStatus"].ToString() == "1" && ViewBag.TotalCount > 0)
                    {
                        <div style="text-align:center">
                            @Html.ActionLink("Final Submission & Pay Fee", "OnDemandCertificatePaymentForm", "OnDemandCertificate", new { @class = "btn", @OnClick = "return confirm('You are going to submit the data. After that data will be locked for any changes?');" })
                        </div>
                    }
                }
            }

        </div>

    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <p style="height:200px"></p>

    </div>
</div>

@*Candidate Fee List*@

@if (ViewBag.TotalCount > 0)
{
    if (ViewData["FeeStatus"].ToString() == "1")
    {
        if (ViewBag.TotalCount > 0 && Model.StoreAllData.Tables[2].Rows.Count > 0)
        {
            <div class="container">
                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog" style="width:80%">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3><span style="color:#cc0000">Total Number of Students : @Model.StoreAllData.Tables[2].Rows.Count</span></h3>
                            </div>

                            <div class="modal-body">
                                <table id="t01" class="table table-bordered">
                                    <tr class="active-tr">
                                        <th>Sr No</th>
                                        <th>RP</th>
                                        <th>Roll</th>
                                        <th>Unique ID</th>
                                        <th>Form</th>
                                        <th>Name/Father's Name/Mother's Name</th>                                      
                                        <th>DOB</th>                                       
                                        <th>Fee</th>
                                        <th>Late Fee</th>
                                        <th>Total Fee</th>
                                    </tr>
                                    @{
                                        int Count = 0;
                                        int TotalFee = 0, TotalAdmFee = 0, TotalLateFee = 0;
                                        for (int k = 0; k < Model.StoreAllData.Tables[2].Rows.Count; k++)
                                        {
                                            var RP = Model.StoreAllData.Tables[2].Rows[k]["RP"].ToString();
                                            var Roll = Model.StoreAllData.Tables[2].Rows[k]["Roll"].ToString();
                                            var std_id = Model.StoreAllData.Tables[2].Rows[k]["Std_id"].ToString();
                                            var form_name = Model.StoreAllData.Tables[2].Rows[k]["form"].ToString();
                                            var cnm = Model.StoreAllData.Tables[2].Rows[k]["name"].ToString();
                                            var Father_Name = Model.StoreAllData.Tables[2].Rows[k]["fname"].ToString();
                                            var Mother_Name = Model.StoreAllData.Tables[2].Rows[k]["mname"].ToString();                                           
                                            var DOB = Model.StoreAllData.Tables[2].Rows[k]["DOB"].ToString();

                                            var Fee = Model.StoreAllData.Tables[2].Rows[k]["Fee"].ToString();
                                            var StudentFee = Model.StoreAllData.Tables[2].Rows[k]["StudentFee"].ToString();

                                            var LateFee = Model.StoreAllData.Tables[2].Rows[k]["latefee"].ToString();
                                            var TotFee = Model.StoreAllData.Tables[2].Rows[k]["totfee"].ToString();
                                            TotalAdmFee += Convert.ToInt32(Fee);
                                            TotalLateFee += Convert.ToInt32(LateFee);
                                            TotalFee += Convert.ToInt32(TotFee);
                                            Count = Count + 1;
                                            <tr>
                                                <td>@Count</td>
                                                <td>@RP</td>
                                                <td>@Roll</td>
                                                <td>@std_id</td>
                                                <td>@form_name</td>
                                                <td>@cnm / @Father_Name / @Mother_Name</td>
                                                
                                                <td>@DOB</td>                                               
                                                <td>@Fee</td>
                                                <td>@LateFee</td>
                                                <td>@TotFee</td>
                                            </tr>

                                        }
                                        <tr style="color: lightgray; background-color: #000000; font-size: 14px; ">
                                            <td colspan="3">Total</td>
                                            <td colspan="4" align="left">
                                                Total Fees : ₹  @{
                                                    if (TotalFee > 0)
                                                    {
                                                        string AmountInWords = new PSEBONLINE.AbstractLayer.DBClass().GetAmountInWords(TotalFee);
                                                        <span>@AmountInWords</span>
                                                    }
                                                }
                                            </td>
                                            <td>@TotalAdmFee</td>
                                            <td>@TotalLateFee</td>
                                            <td>@TotalFee</td>
                                        </tr>

                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


<script type="text/javascript">
    window.setInterval(function () {
        var current = new Date();
        //var expiry = new Date("Nov 03, 2018 23:59:59")
        if (current.getTime() > expiry.getTime()) {
            $('.hideint').hide();
        } else if (current.getTime() < expiry.getTime()) {
            $('.hideint').show();
        }
    }, 0);
</script>
