@model PSEBONLINE.Models.SchoolStaffDetailsModel
@{
    ViewBag.Title = "SchoolStaffDetailsPrint";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/Print-4L.css" />

<style type="text/css">
    body {
        font-size: 11px
    }
</style>

<h1 class="noprint">School Staff Details</h1>

<table style="width:100%;" border="0" class="bgimg">
    <tr>
        <td>
            <table style="width:100%;" border="0" class="noprint">
                <tr>
                    <td style="text-align:right;padding-bottom:3px">
                        <input type="button" value="Print" class="btn" onclick="window.print()" />
                        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width:100%; border-collapse:collapse" border="1">
                <thead>
                    <tr>
                    <tr>
                        <td colspan="7" style="font-size:15px;text-align:center;line-height:20px;vertical-align:top;">
                            <span style="font-size:16px">Punjab School Education Board</span>
                            <br />
                            <span>School Staff Details Session 2023-24</span>
                        </td>
                    </tr>
    </tr>
    </thead>

    @{
        if (ViewBag.TotalCount > 0)
        {
            int Count = 0;


            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {
                var staffid = Model.StoreAllData.Tables[0].Rows[i]["staffid"].ToString();
                var schl = Model.StoreAllData.Tables[0].Rows[i]["schl"].ToString();
                var schlnm = Model.StoreAllData.Tables[0].Rows[i]["schlnm"].ToString();
                var name = Model.StoreAllData.Tables[0].Rows[i]["name"].ToString();
                var fname = Model.StoreAllData.Tables[0].Rows[i]["fname"].ToString();
                var gender = Model.StoreAllData.Tables[0].Rows[i]["gender"].ToString();
                var DOB = Model.StoreAllData.Tables[0].Rows[i]["DOB"].ToString();
                var aadharno = Model.StoreAllData.Tables[0].Rows[i]["aadharno"].ToString();
                var MOBILENO = Model.StoreAllData.Tables[0].Rows[i]["MOBILENO"].ToString();
                var STDCODE = Model.StoreAllData.Tables[0].Rows[i]["STDCODE"].ToString();
                var PHNO = Model.StoreAllData.Tables[0].Rows[i]["PHNO"].ToString();
                var EMAIL = Model.StoreAllData.Tables[0].Rows[i]["EMAIL"].ToString();
                var DOA = Model.StoreAllData.Tables[0].Rows[i]["DOA"].ToString();
                var DOJ = Model.StoreAllData.Tables[0].Rows[i]["DOJ"].ToString();
                var cadre = Model.StoreAllData.Tables[0].Rows[i]["cadre"].ToString();
                var SUB = Model.StoreAllData.Tables[0].Rows[i]["SUB"].ToString();
                var SUBNM = Model.StoreAllData.Tables[0].Rows[i]["SUBNM"].ToString();
                var homeno = Model.StoreAllData.Tables[0].Rows[i]["homeno"].ToString();
                var homecity = Model.StoreAllData.Tables[0].Rows[i]["homecity"].ToString();
                var homelandmark = Model.StoreAllData.Tables[0].Rows[i]["homelandmark"].ToString();
                var homedist = Model.StoreAllData.Tables[0].Rows[i]["homedist"].ToString();
                var homedistcode = Model.StoreAllData.Tables[0].Rows[i]["homedistcode"].ToString();
                var homestate = Model.StoreAllData.Tables[0].Rows[i]["homestate"].ToString();
                var pincode = Model.StoreAllData.Tables[0].Rows[i]["pincode"].ToString();
                var Distance = Model.StoreAllData.Tables[0].Rows[i]["Distance"].ToString();
                var Exp = Model.StoreAllData.Tables[0].Rows[i]["Exp"].ToString();
                var PHOTO = Model.StoreAllData.Tables[0].Rows[i]["PHOTO"].ToString();
                var designation = Model.StoreAllData.Tables[0].Rows[i]["designation"].ToString();
                var insDate = Model.StoreAllData.Tables[0].Rows[i]["insDate"].ToString();
                var updatedt = Model.StoreAllData.Tables[0].Rows[i]["updatedt"].ToString();
                var msg_flag = Model.StoreAllData.Tables[0].Rows[i]["msg_flag"].ToString();
                var training = Model.StoreAllData.Tables[0].Rows[i]["training"].ToString();
                var status = Model.StoreAllData.Tables[0].Rows[i]["status"].ToString();
                var trainingselected = Model.StoreAllData.Tables[0].Rows[i]["trainingselected"].ToString();
                var lot_cp = Model.StoreAllData.Tables[0].Rows[i]["lot_cp"].ToString();
                var otherstate = Model.StoreAllData.Tables[0].Rows[i]["otherstate"].ToString();
                var Quali = Model.StoreAllData.Tables[0].Rows[i]["Quali"].ToString();
                var Phychal = Model.StoreAllData.Tables[0].Rows[i]["Phychal"].ToString();
                var tehsil = Model.StoreAllData.Tables[0].Rows[i]["tehsil"].ToString();
                var EDUBLOCK = Model.StoreAllData.Tables[0].Rows[i]["EDUBLOCK"].ToString();
                var EDUCLUSTER = Model.StoreAllData.Tables[0].Rows[i]["EDUCLUSTER"].ToString();
                var SCHLTYPE = Model.StoreAllData.Tables[0].Rows[i]["SCHLTYPE"].ToString();
                var SCHlESTD = Model.StoreAllData.Tables[0].Rows[i]["SCHlESTD"].ToString();
                var BANKAC = Model.StoreAllData.Tables[0].Rows[i]["BANKAC"].ToString();
                var IFSC = Model.StoreAllData.Tables[0].Rows[i]["IFSC"].ToString();
                var GEOLOC = Model.StoreAllData.Tables[0].Rows[i]["GEOLOC"].ToString();
                var LOT = Model.StoreAllData.Tables[0].Rows[i]["LOT"].ToString();
                var ReleavedStaffFlag = Model.StoreAllData.Tables[0].Rows[i]["ReleavedStaffFlag"].ToString();
                var ReleavedDate = Model.StoreAllData.Tables[0].Rows[i]["ReleavedDate"].ToString();
                var isdel = Model.StoreAllData.Tables[0].Rows[i]["isdel"].ToString();
                var DeletedDate = Model.StoreAllData.Tables[0].Rows[i]["DeletedDate"].ToString();
                var Remarks = Model.StoreAllData.Tables[0].Rows[i]["Remarks"].ToString();
                var Reason = Model.StoreAllData.Tables[0].Rows[i]["Reason"].ToString();
                var comment = Model.StoreAllData.Tables[0].Rows[i]["comment"].ToString();


                if (PHOTO != "")
                {
                    PHOTO = "https://psebdata.s3.ap-south-1.amazonaws.com/" + PHOTO;
                }
                else { PHOTO = "https://registration2023.pseb.ac.in/images/noimage.jpg"; }
                Count = Count + 1;

                <tbody>
                    <tr>
                        <td>&nbsp;Staff ID</td>
                        <td>&nbsp;<span style="font-size:13px;font-weight:bold">@staffid</span> <span style="float:right;padding-right:10px">@Count</span></td>
                        <td>&nbsp;Name / Father's Name</td>
                        <td colspan="3">&nbsp;@name / @fname</td>
                        <td rowspan="6" style="text-align:center;vertical-align:middle;width:15%">
                            <img src="@PHOTO" style="width:115px;height:115px;background-color:#000 !important;padding:1px !important;" alt="Photograph" id="imgPhoto" />
                        </td>
                    </tr>
                    <tr>
                        <td width="18%">&nbsp;DOB</td>
                        <td width="12%">&nbsp;@DOB</td>
                        <td width="15%">&nbsp;Qualification</td>
                        <td colspan="3">&nbsp;@Quali</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Gender</td>
                        <td>&nbsp;@gender</td>
                        <td>&nbsp;Aadhar No. / Enrollment ID</td>
                        <td width="20%">&nbsp;@aadharno</td>
                        <td width="10%">&nbsp;Differently Abled</td>
                        <td width="10%">&nbsp;@Phychal</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Mobile No.</td>
                        <td>&nbsp;@MOBILENO</td>
                        <td>&nbsp;STD Code & Phone No.</td>
                        <td>&nbsp;@PHNO</td>
                        <td>&nbsp;Email ID</td>
                        <td>&nbsp;@EMAIL</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Date Of Appointment In Service</td>
                        <td colspan="2">&nbsp;@DOA</td>
                        <td>&nbsp;Date Of Joining in Current School</td>
                        <td colspan="2">&nbsp;@DOJ</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Cadre / Subject</td>
                        <td colspan="5">&nbsp;@cadre / @SUBNM</td>
                    </tr>
                    <!--<tr style="background-color:#dfdfdf !important">
                        <td colspan="7">Permanent Address Details</td>
                    </tr>-->
                    <tr>
                        <td>&nbsp;Bank A/c</td>
                        <td colspan="2">&nbsp;@BANKAC</td>
                        <td>&nbsp;IFSC Code</td>
                        <td>&nbsp;@IFSC</td>
                        <td colspan="2">&nbsp;Distance From Home To School(K.M.) :&nbsp;&nbsp;@Distance</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">&nbsp;Address</td>
                        <td colspan="6" style="height:30px;vertical-align:top">
                            &nbsp;@homeno/@homecity/@homelandmark/@homestate/@homedist/@pincode
                            @*House/Flat No./Village/Ward/City/Land Mark (Near by)/State/District/Pincode :*@
                        </td>
                    </tr>
                </tbody>

            }
        }

    }
</table>
        </td>
    </tr>
</table>





