@model PSEBONLINE.Models.SchoolModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

@if (Session["SchlE"] != null)
{
}
else
{
    Response.Redirect("~/Login");
}
<h1>Update School Information</h1>
<h4>School Identity Details</h4>
@using (Html.BeginForm("Update_School_Information", "SchoolProfile", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-2">
            School Code/User ID <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayFor(a => a.SCHL, new { })</label>
        </div>
        <div class="col-md-2">
            ID No. <span class="rqf">*</span>
        </div>
        <div class="col-md-2"><label>@Html.DisplayFor(a => a.idno, new { })</label></div>

        <div class="col-md-2">
            Study Center Code <span class="rqf">*</span>
        </div>
        <div class="col-md-2"> <label>@Html.DisplayFor(a => a.OCODE, new { })</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            School Type <span class="rqf">*</span>
        </div>
        <div class="col-md-2"><label>@Html.DisplayFor(a => a.USERTYPE, new { })</label></div>

        <div class="col-md-2">
            Class <span class="rqf">*</span>
        </div>
        <div class="col-md-2"><label>@Html.DisplayFor(a => a.CLASS, new { })</label></div>
        <div class="col-md-2">
            School Area  <span class="rqf">*</span>
        </div>
        <div class="col-md-2"><label>@Html.DisplayFor(a => a.AREA, new { })</label></div>
    </div>
    <div class="clearfix"></div>
    <h4> School Details </h4>
    <div class="row">
        <div class="col-md-2">School Name(English) <span class="rqf">*</span></div>
        <div class="col-md-10">
            <label> @Html.DisplayFor(a => a.SCHLE, new { })</label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">School Name(Punjabi) <span class="rqf">*</span></div>
        <div class="col-md-10">
            <label class="kdsfont">@Html.DisplayFor(a => a.SCHLP, new { })</label>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="row">
        <div class="col-md-12">
            <table id="t01" class="table table-bordered">
                <tr style="font-weight: bold;">
                    <td rowspan="2" style="text-align:left">Description</td>
                    <td colspan="3" style="text-align:center">MATRIC</td>
                    <td colspan="12" style="text-align:center">SENIOR SECONDARY</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="2" style="text-align:center">REGULAR	</td>
                    <td style="text-align:center">OPEN</td>
                    <td colspan="6" style="text-align:center">REGULAR</td>
                    <td colspan="6" style="text-align:center">OPEN</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>Groups</td>
                    <td align="left">
                        GEN

                    </td>
                    <td align="left">
                        NSQF
                    </td>
                    <td align="left">
                        GEN
                    </td>
                    <td align="left">
                        Hum.
                    </td>
                    <td align="left">
                        Sci
                    </td>
                    <td align="left">
                        Comm.
                    </td>
                    <td align="left">
                        Voc.
                    </td>
                    <td align="left">
                        Tech.
                    </td>
                    <td align="left">
                        Agri.
                    </td>
                    <td align="left">
                        Hum.
                    </td>
                    <td align="left">
                        Sci
                    </td>
                    <td align="left">
                        Comm.
                    </td>
                    <td align="left">
                        Voc.
                    </td>
                    <td align="left">
                        Tech.
                    </td>
                    <td align="left">
                        Agri.
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>Status</td>
                    <td> @Html.DisplayFor(a => a.MATRIC, new { })</td>
                    <td>@Html.DisplayFor(a => a.NSQF_flag, new { })</td>
                    <td> @Html.DisplayFor(a => a.OMATRIC, new { })</td>
                    <td align="left">
                        @Html.DisplayFor(a => a.HUM, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.SCI, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.COMM, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.VOC, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.TECH, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.AGRI, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.OHUM, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.OSCI, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.OCOMM, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.OVOC, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.OTECH, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.OAGRI, new { })
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>Type</td>
                    <td align="left">
                        @Html.DisplayFor(a => a.HID_UTYPE, new { })
                    </td>
                    <td></td>
                    <td align="left">
                        @Html.DisplayFor(a => a.HID_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.H_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.S_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.C_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.V_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.A_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.T_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.H_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.S_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.C_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.V_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.A_UTYPE, new { })
                    </td>
                    <td align="left">
                        @Html.DisplayFor(a => a.T_UTYPE, new { })
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>Year</td>
                    <td>@Html.DisplayFor(a => a.HID_YR, new { })</td>
                    <td></td>
                    <td>@Html.DisplayFor(a => a.OMID_YR, new { })</td>
                    <td>@Html.DisplayFor(a => a.HYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.SYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.CYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.VYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.TYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.AYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.OHYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.OSYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.OCYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.OVYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.OTYR, new { })</td>
                    <td>@Html.DisplayFor(a => a.OAYR, new { })</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>Sections</td>
                    <td>@Html.DisplayFor(a => a.HID_YR_SEC, new { })</td>
                    <td></td>
                    <td>@Html.DisplayFor(a => a.OMID_YR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.HYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.SYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.CYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.VYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.TYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.AYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.OHYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.OSYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.OCYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.OVYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.OTYR_SEC, new { })</td>
                    <td>@Html.DisplayFor(a => a.OAYR_SEC, new { })</td>
                </tr>

            </table>

        </div>


    </div>
    <div class="clearfix"></div>




    <div class="clearfix"></div>
    <h4>School Field Required</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    School Estd Year  <span class="rqf">*</span>
                    @Html.DropDownList("SchlEstd", new SelectList(ViewBag.EstalimentYearList, "Value", "Text"), "--Select Session---", new { id = "SchlEstd", required = "Required" })
                </div>
                <div class="col-md-2">
                    School Type <span class="rqf">*</span>
                    @{
                        List<SelectListItem> SchlTypeList = new List<SelectListItem>();
                        SchlTypeList.Add(new SelectListItem { Text = "--Type Of Schl TypeList--", Value = "0" });
                        SchlTypeList.Add(new SelectListItem { Text = "Co-Education", Value = "Co-Education" });
                        SchlTypeList.Add(new SelectListItem { Text = "Boys", Value = "Boys" });
                        SchlTypeList.Add(new SelectListItem { Text = "Girls", Value = "Girls" });
                    }
                    @Html.DropDownList("SchlType", SchlTypeList, new { id = "SchlType" })
                </div>

                <div class="col-md-2">
                    Tehsil <span class="rqf">*</span>
                    @Html.DropDownList("Tehsile", new SelectList(ViewBag.MyTeh, "Value", "Text"), "-- Edu Tehsil---", new { @class = "" })
                </div>
                <div class="col-md-2">
                    Edu Block  <span class="rqf">*</span>
                    @Html.DropDownList("Edublock", new SelectList(ViewBag.MyEdublock, "Value", "Text"), "---Select Edublock---", new { @class = "" })
                </div>
                <div class="col-md-3">
                    Edu Cluster  <span class="rqf">*</span>
                    @Html.DropDownList("EduCluster", new SelectList(ViewBag.MyEduCluster, "Value", "Text"), "---Select EduCluster---", new { @class = "" })
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
        <div class="col-md-4" style="display:none">
            <table id="t01" class="table table-bordered">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="7">
                            School Type
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="7" style="width: 10%">
                            Regular
                        </td>
                    </tr>

                    <tr style="font-weight: bold;">
                        <td align="center">Matric</td>
                        <td align="center" colspan="6" style="width: 10%">Senior
                    <tr>
                        <td align="center">HID UTYPE</td>
                        <td align="center">H UTYPE</td>
                        <td align="center">S UTYPE</td>
                        <td align="center">C UTYPE</td>
                        <td align="center">V UTYPE</td>
                        <td align="center">A UTYPE</td>
                        <td align="center">T UTYPE</td>
                    </tr>
                    </td>
                    </tr>
                    <tr>
                        <td align="left">
                            @Html.DisplayFor(a => a.HID_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.H_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.S_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.C_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.V_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.A_UTYPE, new { })
                        </td>
                        <td align="left">
                            @Html.DisplayFor(a => a.T_UTYPE, new { })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="clearfix"></div>


    <h4>Contact Details </h4>
    <div class="row">
        <div class="col-md-2">
            Principal Name <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.PRINCIPAL, new { id = "txtPrincipal", onkeypress = "return ValidateAlpha(event);" })
        </div>
        <div class="col-md-2">
            Office Phone No. <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-5">@Html.TextBoxFor(a => a.STDCODE, new { id = "txtstdCode", @maxlength = "5", onkeypress = "return isNumberKey(event);" })</div>
                <div class="col-md-7">@Html.TextBoxFor(a => a.PHONE, new { id = "txtPhone", @maxlength = "7", onkeypress = "return isNumberKey(event);" })</div>
            </div>
        </div>
        <div class="col-md-2">
            Mobile No. <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.MOBILE, new { id = "txtMob", @maxlength = "10", onkeypress = "return isNumberKey(event);" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Registered Email <span class="rqf">*</span>
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(a => a.EMAILID, new { @readonly = "readonly", @class = "textnone" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">Principal DOB <span class="rqf">*</span></div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.DOB, new
      {
          id = "DOB",
          @readonly = "readonly",
          @maxlength = "10",
          //onkeypress = "javascript: return false;",
          onpaste = "return false;",
          oncopy = "return false;",
          oncut = "return false;",
          //onkeydown = "return false;"
      })
        </div>
        <div class="col-md-2">Date of Joining <span class="rqf">*</span></div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.DOJ, new
                         {
                             id = "DOJ",
                             @readonly = "readonly",
                             @maxlength = "10",
                             //onkeypress = "javascript: return false;",
                             onpaste = "return false;",
                             oncopy = "return false;",
                             oncut = "return false;",
                             //onkeydown = "return false;"
                         })
        </div>

        <div class="col-md-2">Experience (in yrs)</div>
        <div class="col-md-2">
            @{
                List<SelectListItem> ExperienceYr = new List<SelectListItem>();
                ExperienceYr.Add(new SelectListItem { Text = "--Experience in Year--", Value = "0" });
                ExperienceYr.Add(new SelectListItem { Text = "1", Value = "1" });
                ExperienceYr.Add(new SelectListItem { Text = "2", Value = "2" });
                ExperienceYr.Add(new SelectListItem { Text = "3", Value = "3" });
                ExperienceYr.Add(new SelectListItem { Text = "4", Value = "4" });
                ExperienceYr.Add(new SelectListItem { Text = "5", Value = "5" });
                ExperienceYr.Add(new SelectListItem { Text = "6", Value = "6" });
                ExperienceYr.Add(new SelectListItem { Text = "7", Value = "7" });
                ExperienceYr.Add(new SelectListItem { Text = "8", Value = "8" });
                ExperienceYr.Add(new SelectListItem { Text = "9", Value = "9" });
                ExperienceYr.Add(new SelectListItem { Text = "10", Value = "10" });
                ExperienceYr.Add(new SelectListItem { Text = "11", Value = "11" });
                ExperienceYr.Add(new SelectListItem { Text = "12", Value = "12" });
                ExperienceYr.Add(new SelectListItem { Text = "13", Value = "13" });
                ExperienceYr.Add(new SelectListItem { Text = "14", Value = "14" });
                ExperienceYr.Add(new SelectListItem { Text = "15", Value = "15" });
                ExperienceYr.Add(new SelectListItem { Text = "16", Value = "16" });
                ExperienceYr.Add(new SelectListItem { Text = "17", Value = "17" });
                ExperienceYr.Add(new SelectListItem { Text = "18", Value = "18" });
                ExperienceYr.Add(new SelectListItem { Text = "19", Value = "19" });
                ExperienceYr.Add(new SelectListItem { Text = "20", Value = "20" });
                ExperienceYr.Add(new SelectListItem { Text = "21", Value = "21" });
                ExperienceYr.Add(new SelectListItem { Text = "22", Value = "22" });
                ExperienceYr.Add(new SelectListItem { Text = "23", Value = "23" });
                ExperienceYr.Add(new SelectListItem { Text = "24", Value = "24" });
                ExperienceYr.Add(new SelectListItem { Text = "25", Value = "25" });
                ExperienceYr.Add(new SelectListItem { Text = "26", Value = "26" });
                ExperienceYr.Add(new SelectListItem { Text = "27", Value = "27" });
                ExperienceYr.Add(new SelectListItem { Text = "28", Value = "28" });
                ExperienceYr.Add(new SelectListItem { Text = "29", Value = "29" });
                ExperienceYr.Add(new SelectListItem { Text = "30", Value = "30" });
                ExperienceYr.Add(new SelectListItem { Text = "31", Value = "31" });
                ExperienceYr.Add(new SelectListItem { Text = "32", Value = "32" });
                ExperienceYr.Add(new SelectListItem { Text = "33", Value = "33" });
                ExperienceYr.Add(new SelectListItem { Text = "34", Value = "34" });
                ExperienceYr.Add(new SelectListItem { Text = "35", Value = "35" });
                ExperienceYr.Add(new SelectListItem { Text = "36", Value = "36" });
                ExperienceYr.Add(new SelectListItem { Text = "37", Value = "37" });
                ExperienceYr.Add(new SelectListItem { Text = "38", Value = "38" });
                ExperienceYr.Add(new SelectListItem { Text = "39", Value = "39" });
                ExperienceYr.Add(new SelectListItem { Text = "40", Value = "40" });
                ExperienceYr.Add(new SelectListItem { Text = "41", Value = "41" });
                ExperienceYr.Add(new SelectListItem { Text = "42", Value = "42" });
                ExperienceYr.Add(new SelectListItem { Text = "43", Value = "43" });
                ExperienceYr.Add(new SelectListItem { Text = "44", Value = "44" });
                ExperienceYr.Add(new SelectListItem { Text = "45", Value = "45" });
                ExperienceYr.Add(new SelectListItem { Text = "46", Value = "46" });
                ExperienceYr.Add(new SelectListItem { Text = "47", Value = "47" });
                ExperienceYr.Add(new SelectListItem { Text = "48", Value = "48" });
                ExperienceYr.Add(new SelectListItem { Text = "49", Value = "49" });
                ExperienceYr.Add(new SelectListItem { Text = "50", Value = "50" });

            }
            @Html.DropDownList("ExperienceYr", ExperienceYr, new { id = "ExperienceYr" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">Principal Qualification <span class="rqf">*</span></div>
        <div class="col-md-10">
            @*@{
                    List<SelectListItem> PQualification = new List<SelectListItem>();
                    PQualification.Add(new SelectListItem { Text = "--Select Qualification--", Value = "0" });
                    PQualification.Add(new SelectListItem { Text = "Graduate", Value = "Graduate" });
                    PQualification.Add(new SelectListItem { Text = "Post Graduate", Value = "Post Graduate" });
                    PQualification.Add(new SelectListItem { Text = "PHD", Value = "PHD" });
                    PQualification.Add(new SelectListItem { Text = "Others", Value = "Others" });
                }
                @Html.DropDownList("PQualification", PQualification, new { id = "PQualification" })*@
            @Html.TextBoxFor(a => a.PQualification, new { id = "PQualification" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">Other Person Name <span class="rqf">*</span></div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.CONTACTPER, new { id = "txtOtherContactper", onkeypress = "return ValidateAlpha(event);" })
        </div>

        <div class="col-md-2">
            Other Mobile No. <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.OtContactno, new { id = "txtOtherMob", @maxlength = "10", onkeypress = "return isNumberKey(event);" })
        </div>

        <div class="col-md-2">
            Mobile No. - 2 <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.mobile2, new { id = "txtMob2", @maxlength = "10", onkeypress = "return isNumberKey(event);" })
        </div>
        <div class="clearfix"></div>

        <div class="col-md-2">
            Address (In English) <span class="rqf">*</span>
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(a => a.ADDRESSE, new { id = "txtAddress" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Address (In Punjabi) <span class="rqf">*</span>
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(a => a.ADDRESSP, new
    {
    id = "ADDRESSP",
    @class = "keyboardInput",
    onKeyPress = "javascript:convertThis(event)",
    onpaste = "return false;",
    oncopy = "return false;",
    oncut = "return false;",
    onclick = "toggleKBMode1(event)",
    lang = "pa"
    })
        </div>
    </div>
    <div class="clearfix"></div>


    <h4>School Bank Account Details</h4>
    if (!string.IsNullOrEmpty(Model.Bank))
    {
        <div class="col-md-12">
            <input type="checkbox" id="chkBank" name="chkBank" />Select For Edit Bank Details
        </div>
    }


    <div class="row">
        <div class="col-md-12" id="EditBank">
            <div class="row">
                <div class="col-md-2">
                    Enter IFSC Code<span class="rqf">*</span>
                    @Html.TextBoxFor(a => a.IFSC, new { id = "IFSC", @maxlength = "20", @onchange = "IFSCCodeAvailability()" })
                </div>
                <div class="col-md-3">
                    Name of Bank<span class="rqf">*</span>
                    @Html.TextBoxFor(a => a.Bank, new { id = "Bank" })  
                 
                    @*@Html.DropDownListFor(a => a.Bank, new SelectList(ViewBag.BankList, "Value", "Text"), "--Select Bank---", new { id = "Bank" })*@
                    @*<input type="text" id="schlname" name="schoolname" value="@ViewBag.SchlName" placeholder="Enter School Name" />*@
                </div>

                <div class="col-md-2">
                    Enter A/c No <span class="rqf">*</span>
                    @Html.PasswordFor(a => a.acno, new { id = "acno", @maxlength = "20" })
                    @Html.HiddenFor(a => a.acno)
                </div>
                <div class="col-md-2">
                    Confirm A/c No  <span class="rqf">*</span>
                    @Html.TextBoxFor(a => a.confirmacno, new { id = "confirmacno", @maxlength = "20" })
                </div>
                @Html.Hidden("BankValue", "EditBank")
                <div class="clearfix"></div>

            </div>
            <div>
                <span id="lblStatus"></span>
                <div id="loading1"></div>
            </div>
        </div>

        <div class="col-md-12" id="ViewBank">

            <div class="row">
                <div class="col-md-2">
                    Bank IFSC Code<span class="rqf">*</span>
                    <label>@Html.DisplayFor(a => a.IFSC, new { id = "IFSC"}) @Html.HiddenFor(a => a.IFSC)</label>
                </div>
                <div class="col-md-3">
                    Name of Bank<span class="rqf">*</span>
                    <label>@Html.DisplayFor(a => a.Bank, new { id = "Bank" }) @Html.HiddenFor(a => a.Bank)</label>

                </div>
                <div class="col-md-2">
                    Enter A/c No <span class="rqf">*</span>
                    <label> @Html.DisplayFor(a => a.acno, new { id = "acno" }) @Html.HiddenFor(a => a.acno)  @Html.HiddenFor(a => a.confirmacno)</label>
                </div>
                @Html.Hidden("BankValue", "ViewBank")
                <div class="clearfix"></div>

            </div>
           
        </div>
    </div>







    <div class="clearfix"></div>
    <div class="row" style="display:none">
        <h4> Correction Details</h4>
        <div class="col-md-2">Remarks <span class="rqf">*</span></div>
        <div class="col-md-10">@Html.TextBoxFor(a => a.REMARKS, new { id = "txtRemarks" })</div>

       
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 text-center">
        @*<input type="submit" value="Save School" /> <input type="submit" value="Close" />*@
        @*<input type="submit" value="Save School" id="Submit" formmethod="post" onclick="location.href='@Url.Action("Update_School_Information", "SchoolProfile")'" />*@
        <input type="submit" value="Save School" id="Submit" formmethod="post" onclick="return valForm();" />
        @*<input type="submit" value="Cancel" id="Cancel" formmethod="post" onclick="location.href='@Url.Action("Index", "Home")'" />*@
        <a href="javascript:void(0);" class="btn" onclick="history.go(-1);">Back</a>

    </div>
}

@{
    if (ViewData["resultUSI"] != null)
    {
        if (ViewData["resultUSI"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                        alert("School Profile Updated Successfully.");
                        window.location.href = '@Url.Action("Index", "Home")';
            </script>}
        @*else if (ViewData["resultUSI"].ToString() == "10")
            {
                <script type="text/javascript" language="javascript">
                    alert("Enter Confirm A/c Number.");
                </script>}*@
        else if (ViewData["resultUSI"].ToString() == "10" || ViewData["resultUSI"].ToString() == "11")
        {
            <script type="text/javascript" language="javascript">
                alert("A/c Number Not Matched.");
                 window.location.href = '@Url.Action("Update_School_Information", "SchoolProfile")';
            </script>}
        else if (ViewData["resultUSI"].ToString() == "12")
        {
            <script type="text/javascript" language="javascript">
                alert("Enter Valid IFSC Code of Selected Bank.");
            </script>}
        else
        {
            <script type="text/javascript" language="javascript">
                alert("School Profile Not Updated..Please Try Again");
            </script>
        }
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    
    function IFSCCodeAvailability() { //This function call on text change.     
        $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
        $.ajax({
            type: "POST",
            url: "../SchoolProfile/GetBankDetailsByIFSC", // this for calling the web method function in cs code.
            data: '{IFSC: "' + $("#IFSC").val() + '" }',// user name or email value
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                // alert(response);
            }
        });
    }

    // function OnSuccess
    function OnSuccess(response) {    
        $('#loading1').empty();
        var msg = $('#lblStatus');        
        switch (response.oid) {
            case "0":
                msg.css("slidedown", "slow");
                msg.css("color", "red");
                msg.text("IFSC Code not found.");   
                $("#Bank").val('');   
                $("#Bank").prop("readonly", false);
                break;
            case "1":
                msg.css("slidedown", "slow");
                msg.css("color", "green");  
                $("#Bank").val(response.bank);
                $("#Bank").prop("readonly", true);
                msg.text("Bank: " +response.bank + " ,Branch: " + response.br + " ,Dist: " + response.dist);            
                break;
        }
    }



</script>

<script type="text/javascript">
    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }</script>



<script type="text/javascript">
    function valForm() {

        var txtpri = document.getElementById("txtPrincipal");
        if (txtpri.value == "") {
            alert("Enter Principal Name.");
            txtpri.focus();
            return false;
        }


        var txtstdCode = document.getElementById("txtstdCode");
        if (txtstdCode.value == "") {
            alert("Enter Std Code");
            txtstdCode.focus();
            return false;
        }


        //if (txtstdCode.value != "") {
        //    if (txtstdCode.value.length <= 5 && txtstdCode.value.length >= 4) {

        //        alert("Please Enter 4 or 5 Std Code");
        //        txtstdCode.focus();
        //        return false;
        //    }
        //}

        if (txtstdCode.value != "") {
            if (txtstdCode.value.length <= 5 && txtstdCode.value.length >= 4) {

            }
            else {
                alert("Please Enter 4 or 5 Std Code");
                txtstdCode.focus();
                return false;
            }
        }

        //if (txtOffph.value != "") {
        //    if (txtOffph.value.length != 12) {

        //        alert("Please Enter 11 digits Landline Number Exp: 0877-2222442");
        //        txtOffph.focus();
        //        return false;
        //    }
        //    else {
        //        var Number = document.getElementById('txtstdCode').value;
        //        var IndNum = /^[0-9]\d{2,4}-\d{6,8}$/;

        //        if (!IndNum.test(Number)) {
        //            alert("invalid Landline Number");
        //            txtOffph.focus();
        //            return false;
        //        }
        //    }
        //}

        var txtPhone = document.getElementById("txtPhone");
        if (txtPhone.value == "") {
            alert("Enter Landline Number");
            txtPhone.focus();
            return false;
        }

        if (txtPhone.value != "") {
            if (txtPhone.value.length <= 7 && txtPhone.value.length >= 6) {

            }
            else {
                alert("Please Enter 6 or 7 digits Landline Number");
                txtPhone.focus();
                return false;
            }
        }

        var txtMob = document.getElementById('txtMob')
        if (txtMob.value == "") {
            alert("Please Enter Mobile Number");
            txtMob.focus();
            return false;
        }

        if (txtMob.value != "") {
            if (txtMob.value.length != 10) {

                alert("Please Enter 10 digits Mobile Number");
                txtMob.focus();
                return false;
            }
            else {
                var Number = document.getElementById('txtMob').value;
                var IndNum = /^[0]?[789]\d{9}$/;

                if (!IndNum.test(Number)) {
                    alert("invalid Number");
                    txtMob.focus();
                    return false;
                }

            }
        }


        var op = document.getElementById("txtOtherContactper");
        if (op.value == "") {
            alert("Enter Other Contact person");
            op.focus();
            return false;
        }

        //, txtMob2
        var txtOtherMob = document.getElementById('txtOtherMob');
        if (txtOtherMob.value == "") {
            alert("Other Mobile No. ");
            txtOtherMob.focus();
            return false;
        }
        if (txtOtherMob.value != "") {
            if (txtOtherMob.value.length != 10) {

                alert("Please Enter 10 digits Mobile Number");
                txtOtherMob.focus();
                return false;
            }
            else {
                var Number = document.getElementById('txtOtherMob').value;
                var IndNum = /^[0]?[789]\d{9}$/;

                if (!IndNum.test(Number)) {
                    alert("invalid Number");
                    txtOtherMob.focus();
                    return false;
                }

            }
        }

        var txtMob2 = document.getElementById('txtMob2');
        if (txtMob2.value == "") {
            alert("Please Enter Second Mobile Number");
            txtMob2.focus();
            return false;
        }
        if (txtMob2.value != "") {
            if (txtMob2.value.length != 10) {

                alert("Please Enter 10 digits Mobile Number");
                txtMob2.focus();
                return false;
            }
            else {
                var Number = document.getElementById('txtMob2').value;
                var IndNum = /^[0]?[789]\d{9}$/;

                if (!IndNum.test(Number)) {
                    alert("invalid Number");
                    txtMob2.focus();
                    return false;
                }

            }
        }


        if (document.getElementById("txtAddress").value.trim().length == 0) {
            alert('Enter Address');
            document.getElementById("txtAddress").focus();
            return false;
        }

        // if (document.getElementById("txtRemarks").value.trim().length == 0) {
        //      alert('Enter Remarks');
        //     document.getElementById("txtRemarks").focus();
        //     return false;
        //  }


        var Bank = document.getElementById("Bank");
        if (Bank.value != "" || Bank.value != "0") {

            if (document.getElementById("IFSC").value.trim().length == 0) {
                alert('Enter IFSC');
                document.getElementById("IFSC").focus();
                return false;
            }

            if (document.getElementById("confirmacno").value.trim().length == 0) {
                alert('Enter Both A/c Numbers');
                document.getElementById("confirmacno").focus();
                return false;
            }

        }


        //if (document.getElementById("acno").value.trim().length != 0 || document.getElementById("confirmacno").value.trim().length != 0) {

        //    if (document.getElementById("acno").value.trim().length == 0 || document.getElementById("confirmacno").value.trim().length == 0) {
        //        alert('Please Enter Both A/c Number');
        //        document.getElementById("confirmacno").focus();
        //        return false;
        //    }

        //    if (document.getElementById("acno").value.trim().length != 0 && document.getElementById("confirmacno").value.trim().length != 0) {

        //        if (document.getElementById("acno").value.trim() != document.getElementById("confirmacno").value) {
        //            alert('Confirm A/c Number Not Matched, Please Enter Same A/c Number ');
        //            document.getElementById("confirmacno").focus();
        //            return false;

        //        }

        //    }


        //}

        return true;
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {

        if ('@ViewBag.Bank' != null && '@ViewBag.Bank' != "") {
            $("#ViewBank").show();
            $("#EditBank").hide();
            $("#BankValue").val("ViewBank");
        }
        else {
            $("#ViewBank").hide();
            $("#EditBank").show();
            $("#BankValue").val("EditBank");

        }


        $("#chkBank").change(function () {
            var chkstatus = this.checked; // "select all" checked status
            if (chkstatus) {
                $("#ViewBank").hide();
                $("#EditBank").show();
                $("#BankValue").val("EditBank");
            }
            else {
                $("#ViewBank").show();
                $("#EditBank").hide();
                $("#BankValue").val("ViewBank");
            }


        });

                    @*var selectedDIST = { DIST: '@Request.RequestContext.HttpContext.Session["SCHOOLDIST"]' }; // "010";//{ DIST: $("#SelDist").val() };
                        $.ajax({
                            url: '@Url.Action("GetBlock", "DeoPortal")',
                            type: 'Post',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(selectedDIST),
                            success: function (States) {
                                //alert(StatesList);
                                //document.getElementById("Address").value = StatesList;
                                $("#Edublock").empty();
                                $("#EduCluster").empty();
                                $.each(States, function (i, BlockList) {
                                    $("#Edublock").append('<option value="'
                                       + BlockList.Value + '">'
                                       + BlockList.Text + '</option>');
                                });
                                if (BlockList.success) {


                                }
                                else {
                                    alert('invalid ID' + data.success);
                                }
                            }
                        });*@


                    $("#Edublock").change(function () {
                        //alert(123);
                        var selectedBLOCK = { BLOCK: $("#Edublock").val() };
                        $.ajax({
                            url: '@Url.Action("GetEduCluster", "SchoolProfile")',
                            type: 'Post',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(selectedBLOCK),
                            success: function (States) {

                                $("#EduCluster").empty();
                                $.each(States, function (i, EduClusterList) {
                                    $("#EduCluster").append('<option value="'
                                       + EduClusterList.Value + '">'
                                       + EduClusterList.Text + '</option>');
                                });
                                if (EduClusterList.success) {


                                }
                                else {
                                    alert('invalid ID' + data.success);
                                }
                            }
                        });
                    });

                    $("#DOB").datepicker({


                        dateFormat: "dd/mm/yy",
                        changeMonth: true,
                        changeYear: true,
                        maxDate: '-18yr',
                        //maxDate: '10/08/2016',
                        yearRange: "1930:2020"

                    });
                    $("#DOJ").datepicker({


                        dateFormat: "dd/mm/yy",
                        changeMonth: true,
                        changeYear: true,
                        //maxDate: '-10yr',
                        //maxDate: '10/08/2016',
                        maxDate: '0',
                        yearRange: "1930:2023"

                    });

                });
</script>
