@model PSEBONLINE.Models.DMModel
@{
    ViewBag.Title = "View All Challan Details";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div class="container">
    <h1>View All Challan Details</h1>
    <div class="row" id="divMain1">
        <div class="col-md-4">Total :  @ViewBag.TotalCount</div>
        <div class="col-md-8 text-right">
            <a href="~/ExaminationPortal/ExamFormCalFee" class="btn">Back</a>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-bordered" id="t01">
                    <tr class="active-tr">
                        <th>Challan No</th>
                        <th>Challan Date</th>
                        <th>Total</th>
                    </tr>
                    @{

                        if (ViewBag.TotalCount > 0)
                        {
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                var DairyNo = Model.StoreAllData.Tables[0].Rows[i]["DairyNo"].ToString();
                                var DairyDate = Model.StoreAllData.Tables[0].Rows[i]["DairyDate"].ToString();
                                var Tcnt = Model.StoreAllData.Tables[0].Rows[i]["Tcnt"].ToString();
                                int Count = i + 1;
                                <tr>
                                    <td align="center">@DairyNo</td>
                                    <td align="center">@DairyDate</td>
                                    <td align="center">@Tcnt</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    @Html.Raw("Record Not Found")
                                </td>
                            </tr>
                        }
                    }
                </table>

            </div>
        </div>
    </div>
</div>

