@model PSEBONLINE.Models.SupplyofBooks
@{
    ViewBag.Title = "SupplyofBooks";
    Layout = "~/Views/Shared/_BookSupplyLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure to  Final Submit??",
            width: 450,
            height: 250,
            buttons: {
                "Proceed": function() {
                    window.location.href = '@Url.Action("SupplyofBooksFinalSubmit", "BookSupply", new {id = @Session["PrinterId"].ToString() })';
                },
                Cancel: function() {
                    $(this).dialog( "close" );
                }
            }
        });
        $("#btnShow").click(function () {
            $('#dialog').dialog('open');
        });
    });
</script>

<h1>Assignment Of Books For Printing</h1>
@using (Html.BeginForm("SupplyofBooks", "BookSupply", FormMethod.Post, new { id = "Migrate", enctype = "multipart/form-data" }))
{
    <div id="divMain1">
        <div class="row">
            <div class="col-md-4">
                Select Printer @Html.DropDownListFor(m => m.PrinterId, new SelectList(ViewBag.SelPrinters, "Value", "Text", ViewBag.SelectedPrinter), "--Select Printers--", new { id = "selPrinter", @class = "", required = "required" })
            </div>
            <div class="col-md-4">
                Select Depot @Html.DropDownListFor(m => m.DepotUserId, new SelectList(ViewBag.SelDepots, "Value", "Text", ViewBag.SelectedDepot), "--Select Depot--", new { id = "selDepot", @class = "", required = "required" })
            </div>
            <div class="col-md-4">
                Select Transaction @Html.DropDownListFor(m => m.TransId, new SelectList(ViewBag.SelTrans, "Value", "Text", ViewBag.SelectedTran), "--Select Tran--", new { id = "SelTrans", @class = "", required = "required", @onchange = "BookSupplySummaryByTransId(this)" })

            </div>
            <div class="clearfix"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right"> <span id="loading1"></span><span id="lblStatus" style="font-size:medium"></span></div>

            <div class="clearfix"></div>
            <div class="col-md-4">
                NumberofSuppliedbooks @Html.TextBoxFor(a => a.NumberofSuppliedbooks, new { id = "NumberofSuppliedbooks", @maxlength = "8", required = "required", onkeypress = "return isNumberKey(event);" })
            </div>
            <div class="col-md-4">
                Date @Html.TextBoxFor(a => a.DateStamp, new { id = "DateStamp", required = "required", @maxlength = "10", @class = "date" })
            </div>
            <div class="col-md-4">
                Supply Type
                @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.selType, "Value", "Text", ViewBag.SelectedType), "--Select ---", new { id = "seltype1", required = "required" })

            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                Remarks @Html.TextBoxFor(a => a.Remarks, new { id = "Remarks", @maxlength = "100", required = "required" })
            </div>

            <div class="clearfix"></div>
        </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    @if (ViewBag.Id.ToString() == "0")
                    {
                        <input type="submit" value="Save" id="btnsave" onclick="return valForm();" />
                    }
                    else
                    {
                        @Html.HiddenFor(a => a.IsActive)
                        @Html.HiddenFor(a => a.SupplyId)
                        <input type="submit" value="Update" id="btnUpdate" onclick="return UvalForm();" />
                    }

                    <a href="/BookSupply/SupplyofBooks" class="btn">Reset</a>
                    <a href="/BookSupply/ViewSupplyofBooks" class="btn">View All Book Supply Lots</a>

                </div>
            </div>
        </div>
}
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "1" && ViewBag.Id.ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Data saved Successfully");
                window.location.href = '/BookSupply/SupplyofBooks';
            </script>}
        else if (ViewData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Already Exist");
            </script>
        }
        else if (ViewData["result"].ToString() == "1" && ViewBag.Id.ToString() != "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Updated Successfully");
                window.location.href = '/BookSupply/SupplyofBooks';
            </script>
        }
        else if (ViewData["result"].ToString() == "11")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Not Updated.. Plz Try again");
            </script>
        }
        else if (ViewData["result"].ToString() == "10")
        {
            <script type="text/javascript" language="javascript">
                alert("No. Of Books To Be Printed Must Be Match With No. Of Supplied Books ");
            </script>
        }
        else
        {
            <script type="text/javascript" language="javascript">
                alert("Data Not Saved.. Plz Try again");
            </script>
        }
    }
}

<div id="dialog" style="display: none" class="kdsfont">
    Are You Sure to Final Submit ?
</div>

<div class="row">
    <div class="col-md-6">Grid Total:  @ViewBag.TotalCount</div>
    <div class="col-md-6 text-right">
        @if (ViewBag.Finalcount != null)
        {
            if (ViewBag.Finalcount > 0)
            {<input type="button" id="btnShow" class="btn" value="Click here to Final Submit (@ViewBag.Finalcount)" />}
        }

    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="t01" class="table table-bordered">
                <tr class="active-tr">
                    <th>S.No</th>
                    <th>Depot</th>
                    <th>TransId</th>
                    <th>Book Name</th>
                    <th>No.Of Supplied Books</th>
                    <th>Type</th>
                    <th>SupplyLot</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        int d = 0;
                        int Count = 0;
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            d = d + 1;
                            var SupplyId = Model.StoreAllData.Tables[0].Rows[i]["SupplyId"].ToString();
                            var DepotName = Model.StoreAllData.Tables[0].Rows[i]["DepotName"].ToString();
                            var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
                            var PrinterName = Model.StoreAllData.Tables[0].Rows[i]["PrinterName"].ToString();
                            var BookName = Model.StoreAllData.Tables[0].Rows[i]["BookName"].ToString();
                            var TransId = Model.StoreAllData.Tables[0].Rows[i]["TransId"].ToString();
                            var NumberofSuppliedbooks = Model.StoreAllData.Tables[0].Rows[i]["NumberofSuppliedbooks"].ToString();
                            var DateStamp = Model.StoreAllData.Tables[0].Rows[i]["DateStamp"].ToString();
                            var Remarks = Model.StoreAllData.Tables[0].Rows[i]["Remarks"].ToString();
                            var SupplyLot = Model.StoreAllData.Tables[0].Rows[i]["SupplyLot"].ToString();
                            var SupplyType = Model.StoreAllData.Tables[0].Rows[i]["TypeName"].ToString();
                            var CreatedDate = Model.StoreAllData.Tables[0].Rows[i]["CreatedDate"].ToString();
                            var STATUS = Model.StoreAllData.Tables[0].Rows[i]["IsActive"].ToString().ToUpper() == "1" ? "ENABLE" : "DISABLE";
                            var SupplyFinalDT = Model.StoreAllData.Tables[0].Rows[i]["SupplyFinalDT"].ToString().Split(' ')[0];

                            Count = Count + 1;
                            <tr>
                                <td>
                                    @Count
                                </td>
                                <td>
                                    @DepotName / @DISTNM
                                </td>
                                <td>
                                    @TransId
                                </td>
                                <td>
                                    @BookName
                                </td>
                                <td>
                                    @NumberofSuppliedbooks
                                </td>
                                <td>
                                    @SupplyType
                                </td>
                                <td>
                                    @SupplyLot
                                </td>
                                <td>
                                    @CreatedDate
                                </td>
                                <td>
                                    @if (SupplyLot == "0")
                                    {
                                    <a href='@Url.Action("DeleteSupplyofBooks", "BookSupply", new { id = SupplyId })' onclick="return confirm('You are sure to change this?');">
                                        <img src="/Images/Delete.png" width="25" title="Delete" />
                                    </a>

                                        <span>&nbsp; &nbsp;</span>
                                        <a href='@Url.Action("SupplyofBooks", "BookSupply", new { id = SupplyId })' onclick="return confirm('You are sure to modify this?');">
                                            <img src="/Images/Edit_Icon.png" width="25" title="Modify" />
                                        </a>
                                    }
                                    else
                                    {
                                        <span>&nbsp;Final Submitted On @SupplyFinalDT  &nbsp;</span>
                                    }

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">
                                @Html.Raw("Record Not Found")
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>



<script type="text/javascript">
    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }</script>

<script type="text/javascript">
    $(function () {
        $(".date").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "2018:2019",
            maxDate: 0
        });
    });
</script>

<script type="text/javascript">
    function BookSupplySummaryByTransId(selNum1) {
       // alert(1);      
        var selectedText = selNum1.options[selNum1.selectedIndex].innerHTML;
        var value = selNum1.value;
        $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
       // alert("value : " + value);
        $.ajax({
            type: "POST",
            url: "../BookSupply/BookSupplySummaryByTransId", // this for calling the web method function in cs code.
            data: '{PrinterId: "' + '@Session["PrinterId"].ToString()' + '" ,TransId: "' + value + '" }',// user name or email value
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                // alert(response);
            }
        });
    }
    
    // function OnSuccess
    function OnSuccess(response) {
        $('#loading1').empty();
        var msg = $('#lblStatus');
        switch (response.oid) {
            case 0:
                msg.css("slidedown", "slow");
                msg.css("color", "red");
                msg.text("Not Found.");
               // $("#tr1").hide();
                break;
            case 1:
                msg.css("slidedown", "slow");
                msg.css("color", "green");
               // var result = "Transaction Id : " + response.tid + ",  Demand : " + response.td + ",  Pending : " + response.tp + ", Supply : " + response.ts;
                var result = "Demand : " + response.td + "<br>  Pending : " + response.tp + "<br> Supply : " + response.ts;
               // msg.text(result); 
                document.getElementById("lblStatus").innerHTML = result;
                break;
        }
    }



</script>


<script type="text/javascript">
    function valForm() {
        var selDepot = document.getElementById("selDepot");
        if (selDepot.value == "" || selDepot.value == "0") {
            alert("Please Select Depot");
            selDepot.focus();
            return false;
        }
        var selTran = document.getElementById("selTran");
        if (selTran.value == "" || selTran.value == "0") {
            alert("Please Select Trans");
            selTran.focus();
            return false;
        }
        var selPrinter = document.getElementById("selPrinter");
        if (selPrinter.value == "" || selPrinter.value == "0") {
            alert("Please Select Printer");
            selPrinter.focus();
            return false;
        }
        var seltype1 = document.getElementById("seltype1");
        if (seltype1.value == "" || seltype1.value == "0") {
            alert("Please Select Supply Type");
            seltype1.focus();
            return false;
        }



        var NumberofSuppliedbooks = document.getElementById("NumberofSuppliedbooks");
        if (NumberofSuppliedbooks.value == "") {
            alert("Please Enter Number of Supplied Books ");
            NumberofSuppliedbooks.focus();
            return false;
        }

        var DateStamp = document.getElementById("DateStamp");
        if (DateStamp.value == "") {
            alert("Please Enter Date ");
            DateStamp.focus();
            return false;
        }

        var Remarks = document.getElementById("Remarks");
        if (Remarks.value == "") {
            alert("Please EnterRemarks ");
            Remarks.focus();
            return false;
        }

        return true;
    }

    function UvalForm() {
        var selDepot = document.getElementById("selDepot");
        if (selDepot.value == "" || selDepot.value == "0") {
            alert("Please Select Depot");
            selDepot.focus();
            return false;
        }
        var selTran = document.getElementById("selTran");
        if (selTran.value == "" || selTran.value == "0") {
            alert("Please Select Trans");
            selTran.focus();
            return false;
        }
        var selPrinter = document.getElementById("selPrinter");
        if (selPrinter.value == "" || selPrinter.value == "0") {
            alert("Please Select Printer");
            selPrinter.focus();
            return false;
        }
        var seltype1 = document.getElementById("seltype1");
        if (seltype1.value == "" || seltype1.value == "0") {
            alert("Please Select Supply Type");
            seltype1.focus();
            return false;
        }



        var NumberofSuppliedbooks = document.getElementById("NumberofSuppliedbooks");
        if (NumberofSuppliedbooks.value == "") {
            alert("Please Enter Number of Supplied Books ");
            NumberofSuppliedbooks.focus();
            return false;
        }

        var DateStamp = document.getElementById("DateStamp");
        if (DateStamp.value == "") {
            alert("Please Enter Date ");
            DateStamp.focus();
            return false;
        }

        var Remarks = document.getElementById("Remarks");
        if (Remarks.value == "") {
            alert("Please EnterRemarks ");
            Remarks.focus();
            return false;
        }

        return true;
    }
</script>

