@model PSEBONLINE.Models.PrinterModel
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_BookSupplyLayout.cshtml";
}

<h1>View Profile</h1>
@using (Html.BeginForm("ViewProfile", "BookSupply", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table style="width:50%">
                    <tr>
                        <td width="15%">Printer Id</td>
                        <td width="35%"><label>@Html.DisplayFor(m => m.PrinterId)</label>@Html.HiddenFor(m => m.PrinterId)</td>
                    </tr>
                    <tr>
                        <td>UserId</td>
                        <td><label>@Html.DisplayFor(m => m.UserId)</label>@Html.HiddenFor(m => m.UserId)</td>
                    </tr>
                    <tr>
                        <td>Printer Name</td>
                        <td>@Html.TextBoxFor(m => m.PrinterName, new { id = "", @maxlength = "200" })</td>
                    </tr>
                    <tr>
                        <td>ADDRESS</td>
                        <td>@Html.TextBoxFor(m => m.Address, new { id = "", @maxlength = "200" })</td>
                    </tr>
                    <tr>
                        <td>DISTRICT</td>
                        <td>@Html.TextBoxFor(m => m.District, new { id = "", @maxlength = "50" })</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>@Html.TextBoxFor(m => m.City, new { id = "", @maxlength = "50" })</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>@Html.TextBoxFor(m => m.State, new { id = "", @maxlength = "50" })</td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td>@Html.TextBoxFor(m => m.Pin, new { id = "", @maxlength = "15" })</td>
                    </tr>
                    <tr>
                        <td>ContactPerson1 </td>
                        <td>@Html.TextBoxFor(m => m.ContactPerson1, new { id = "", @maxlength = "50" })</td>
                    </tr>
                    <tr>
                        <td>MobileCP1</td>
                        <td>@Html.TextBoxFor(m => m.MobileCP1, new { id = "", @maxlength = "10" })</td>
                    </tr>
                    <tr>
                        <td>ContactPerson2</td>
                        <td>@Html.TextBoxFor(m => m.ContactPerson2, new { id = "", @maxlength = "50" })</td>
                    </tr>
                    <tr>
                        <td>MobileCP2</td>                       
                        <td>@Html.TextBoxFor(m => m.MobileCP2, new { id = "", @maxlength = "10" })</td>
                    </tr>
                    <tr>
                        <td>TAN</td>
                        <td>@Html.TextBoxFor(m => m.TAN, new { id = "", @maxlength = "20" })</td>
                    </tr>
                    <tr>
                        <td>PAN</td>
                        <td>@Html.TextBoxFor(m => m.PAN, new { id = "", @maxlength = "20" })</td>
                    </tr>
                    <tr>
                        <td>GSTN</td>
                        <td>@Html.TextBoxFor(m => m.GSTN, new { id = "", @maxlength = "20" })</td>
                    </tr>
                    <tr>
                        <td>EMAILID</td>
                        <td>@Html.TextBoxFor(m => m.EMAILID, new { id = "", @maxlength = "50" })</td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td>@Html.TextBoxFor(m => m.Remarks, new { id = "", @maxlength = "100" })</td>
                    </tr>
                    <tr>
                        @Html.HiddenFor(m => m.Status)@Html.HiddenFor(m => m.Id)
                        <td><input type="submit" value="Click Here To Updated Information" />  <br />&nbsp;<br /></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
}



@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
               alert("Data Updated Successfully");
                window.location.href = '@Url.Action("Welcome", "Bank")';
            </script>}
        else
        {
            <script type="text/javascript" language="javascript">
                alert("Data not updated..plz try again");
            </script>
        }
    }
}


