@model PSEBONLINE.Models.LoginModel
@{
    ViewBag.Title = "ForgotPassword";
    //Layout = "~/Views/Shared/_Headerui.cshtml";
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Include jQuery UI library -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $("#dMObile").dialog({
            modal: true,
            title: "Enter Registered Mobile Number",
            width: 520,
            height: 400,
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                },
            }
        });
    });
</script>


<form class="form-signin" name="Login_Form" method="post" action="" id="formm">
    <h3 class="form-signin-heading text-center">Forgot Password</h3>
    Enter School Code<br />
    @Html.TextBoxFor(m => m.SchoolId, new { id = "SchoolId", required = "required", @maxlength = "7", @class = "form-control", style = "text-transform: none;", onkeypress = "return isNumberKey(event);" })
    <br />
    <input type="submit" value="@ViewBag.SubmitValue" onclick='@Url.Action("ForgotPassword", "Login", new { id="txtsend"})'><br />

    @{
        if (ViewData["result"] != null)
        {
            if (ViewData["result"].ToString() == "5")
            {
                <p style="color:red;">Your School is not active/approved. Please contact to Education Board</p>
            }
            else if (ViewData["result"].ToString() == "1")
            {
                <div id="dMObile" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                    @if (Model != null)
                    {
                        <span>School Code : @Model.SchoolId</span><br /><br />
                        if (Model.Mobile.Length == 10)
                        {
                            string mob = Model.Mobile.Trim().Substring(Model.Mobile.Length - 4, 4);
                            <span>Registered Mobile Number :</span><br />
                            <span class="rqf">@string.Format("**********{0}", mob)</span><br /><br />
                            <form action="" method="post">

                                <span>Enter Registered Mobile Number :</span> <input type="text" id="mobilenumber-@Model.SchoolId" name="mobilenumber" onpaste="return false;" maxlength="10" class="mobilenumber" onkeypress="return isNumberKey(event);" /><br />

                                <input type="button" class="btn" value="Verify Mobile Number" id="btnSave" onclick="VerifyMobile('@Model.SchoolId','@Model.Mobile')" />
                            </form>
                            <div id="loading1"></div>
                        }
                        else
                        {
                            <span>Your Mobile number is not valid.</span><br />
                        }
                    }
                </div>
            }
            else
            {
                @ViewBag.Message
                if (ViewData["result"].ToString() == "2")
                {
                    <p style="color:red;">Kindly check Spam Email Too. Add noreply@psebonline.in to your white list/safe sender list. Else, your mailbox filter or ISP (Internet Service Provider) may stop you from receiving e-mails.</p>
                }
            }
        }
    }



</form>





<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        //if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46))
        if ((charCode >= 48 && charCode <= 57)) {
            return true;
        }
        else {
            alert("Enter Only Number!!");
            return false;
        }
    }


    function VerifyMobile(SchoolId, Mobile) {

        var entMobile = $("#mobilenumber-" + SchoolId).val();
        if (entMobile.length != 10) {
            $("#mobilenumber-" + SchoolId).addClass("input-validation-error");
            alert('Enter Valid Mobile Number , Mobile Number Should be 10 Digit');
            return false;
        }
        else if (entMobile != Mobile) {
            $("#mobilenumber-" + SchoolId).addClass("input-validation-error");
            alert('Enter Valid Mobile Number');
            $("#mobilenumber-" + SchoolId).val('');
            return false;
        }
        else {
                 //window.location.href = '@Url.Action("ForgotPassword", "Login")';
                 var form = document.getElementById('formm');
                form.action = '@Url.Action("ForgotPassword", "Login" , new {mob = @ViewBag.mob })';
                form.method = 'POST';
                form.submit();
        }
        //$('#loading1').html("<p><img src='https://middleprimary.pseb.ac.in/images/loadingk.gif'></p>");
    }
</script>
<script>

</script>