@model PSEBONLINE.Models.Import
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
@*@if (Convert.ToString(Session["Session"]) != "2015-2016" && Convert.ToString(Session["FormName"]) == "M1")
    { Response.Redirect("~/Login"); }*@
@using (Html.BeginForm("ImportData11THFailedSelfSchl", "ImportData", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    <input type="text" id="chkImportid" name="chkImportid" value="@ViewBag.impid" style="display:none;" />
    <h1>
        @* Session @if (Session["Session"] != null)
        {@Session["Session"].ToString()}
        else { Response.Redirect("~/Login"); }
        <br/>*@
Import 11<sup>th</sup> Fail/Absent/Cancel Students From Self School of Last 3 Years (Bulk)

    </h1>
<div class="row">
    <div class="col-md-12">
<p class="kdsfont-n">
ਇਸ ਲਿੰਕ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ ਦੌਰਾਨ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਆਪਣੇ ਸਕੂਲ ਤੋਂ ਗਿਆਰਵੀਂ ਫੇਲ/ਗੈਰ ਹਾਜ਼ਰ/ਰੱਦ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਇੰਮਪੋਰਟ ਕੀਤਾ ਜਾਵੇ।

    
</p>
</div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-2">        
        Select School To Import Data</div><div class="col-md-3">  @Html.DropDownList("schoolcode", new SelectList(ViewBag.MySchCode, "Value", "Text"), "---Select Import TO--", new { @class = "ddlschoolcode" })
      
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <fieldset style="margin-bottom:15px">
            <legend>Search</legend>
            <div class="col-md-2">
                Total Students <label>@ViewBag.TotalCount1</label>
            </div>
            <div class="col-md-2">
                Search By Year:  @Html.DropDownList("Session1", new SelectList(ViewBag.MySession, "Value", "Text", ViewBag.SelectedSession), "--Select---", new { @class = "", id = "Session" })
                <span id="reqsession" style="color:red;display:none;">Select One</span>
            </div>
            <div class="col-md-3">
                Search By @Html.DropDownList("SelList", new SelectList(ViewBag.MySch, "Value", "Text", ViewBag.SelectedItem), "--Select---", new { @class = "", id = "SelectItem", onchange = "deechange()" })
                <span id="reqsellist" style="color:red;display:none;">Select One</span>
            </div>
            <div class="col-md-3">
                &nbsp;<br>
                <input type="text" id="SearchString" name="SearchString" value="@ViewBag.Searchstring" onclick="deetext()" />
                <span id="reqsstring" style="color:red;display:none;">Enter Here</span>
            </div>
            <div class="col-md-2">
                <br>
                <input type="Submit" value="Search" name="cmd"  onclick="return dee()"/> <input type="submit" name="Reset" value="Reset" formaction="CancelForm" formmethod="post" />
            </div>
        </fieldset>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-10">     
        <input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("E1Master", "RegistrationPortal")'">
        <input type="button" value="View Imported Data" onclick="javascript:document.location.href='@Url.Action("E1Formgrid", "RegistrationPortal")'">
    </div>
    <div class="col-md-2">
        <input type="submit" value="Import Selected Record" />

    </div>
</div>
<div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="t01" class="table table-bordered">
                    <tr class="active-tr">
                        <th>Sr No.</th>
                        <th>School Code</th>
                        <th>Registration No.</th>
                        <th>Old ID</th>
                        <th>Old Roll</th>
                        <th>Name/Father's Name/Mother's Name</th>
                        <th>DOB</th>
                        <th>Session</th>
                        <th>Result</th>

                        <th>Select for Import<input type="checkbox" id="select_all" /> </th>
                        @*<th><input type="checkbox" id="chkSelectAll" /></th>*@
                    </tr>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {
                            int d = 0;
                            int Count = 0;
                            if (ViewBag.pagesize == 1)
                            {
                                Count = 0;
                            }
                            else
                            {
                                Count = 30 * (ViewBag.pagesize - 1);
                            }
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                d = d + 1;
                                var scode = Model.StoreAllData.Tables[0].Rows[i]["SCHL"].ToString();
                                ////var roll = Model.StoreAllData.Tables[0].Rows[i]["ROLL"].ToString();
                                var regNum = Model.StoreAllData.Tables[0].Rows[i]["REGNO"].ToString();
                                var OldID = Model.StoreAllData.Tables[0].Rows[i]["id"].ToString();
                                var Oroll = Model.StoreAllData.Tables[0].Rows[i]["Current_ClassRoll"].ToString();
                                var id = Model.StoreAllData.Tables[0].Rows[i]["ID"].ToString();
                                var CFMName = Model.StoreAllData.Tables[0].Rows[i]["NAME"].ToString() + "/" + Model.StoreAllData.Tables[0].Rows[i]["FNAME"].ToString() + "/" + Model.StoreAllData.Tables[0].Rows[i]["MNAME"].ToString();
                                var DOB = Model.StoreAllData.Tables[0].Rows[i]["DOB"].ToString();
                                var res = Model.StoreAllData.Tables[0].Rows[i]["result"].ToString();
                                //var YearSession = Model.StoreAllData.Tables[0].Rows[i]["Year"].ToString() + "-" + Model.StoreAllData.Tables[0].Rows[i]["SESSION"].ToString();
                                //var YearSession = Model.StoreAllData.Tables[0].Rows[i]["OSESSION"].ToString();
                                var YearSession = Model.StoreAllData.Tables[0].Rows[i]["SESSION"].ToString();
                                var ImpStatus = Model.StoreAllData.Tables[0].Rows[i]["ImpStatus"].ToString();
                                Count = Count + 1;
                                <tr>
                                    <td>@Count</td>
                                    <td>@scode</td>
                                    <td>@regNum</td>
                                    <th>@OldID</th>
                                    <th>@Oroll</th>
                                    <td>@CFMName</td>
                                    <td>@DOB</td>
                                    <td>@YearSession</td>
                                    <td>@res</td>


                                    <td>
                                        @if (@ImpStatus.ToUpper() != "OK")
                                        {
                                            <span>@ImpStatus</span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="@id" name="ChkCNinthClass" class="checkbox" />

                                            @*<input id="chkidHF" name="@Model.chkidList[i].Name" type="hidden" value="@Model.chkidList[i].id" />
                                                @Html.CheckBoxFor(m => m.chkidList[i].Selected, new { Style = "vertical-align:3px", @class = "checkbox" })*@
                                        }

                                    </td>
                                </tr>
                                if (d == ViewBag.TotalCount)
                                {
                                    <tr>
                                        <td colspan="8">

                                            Page @ViewBag.pagesize of @ViewBag.pn

                                            &nbsp;

                                            @if (ViewBag.pagesize == 1)

                                            {
                                                @:<<

                                                @Html.Raw("&nbsp;");

                                                @:< Prev
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "ImportData11THFailedSelfSchl", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "ImportData11THFailedSelfSchl", new { page = ViewBag.pn })
                                                }
                                            }
                                            else
                                            {
                                                if (TempData["ImportData10thClasssearch"] != null)
                                                {
                                                    string str1 = TempData.Peek("ImportData10thClasssearch").ToString();
                                                    string str2 = TempData.Peek("ImportData10thClassSelList").ToString();
                                                    string str3 = TempData.Peek("ImportData10thClassSearchString").ToString();
                                                    string str4 = TempData.Peek("ImportData10thClassSession").ToString();
                                                    string str5 = TempData["pageIndex"].ToString();
                                                    TempData["ImportData10thClasssearch"] = str1;
                                                    TempData["ImportData10thClassSelList"] = str2;
                                                    TempData["ImportData10thClassSearchString"] = str3;
                                                    TempData["ImportData10thClassSession"] = str4;
                                                    TempData["pageIndex"] = str5;
                                                }
                                                @Html.ActionLink("<<", "ImportData11THFailedSelfSchl", new { page = 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink("< Prev", "ImportData11THFailedSelfSchl", new { page = ViewBag.pagesize - 1 })
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "ImportData11THFailedSelfSchl", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "ImportData11THFailedSelfSchl", new { page = ViewBag.pn })
                                                }

                                            }


                                        </td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    }
                </table>
                <p>Total Records(Filtered): @ViewBag.TotalCount1</p>
            </div>
        </div>
    </div>
                        }

@{
    if (TempData["result"] != null)
    {       
        if (TempData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                var impcn = @TempData["TotImported"];
                //alert(impcn);
                alert(impcn+" Records Imported Successfully");
                document.location.href = '@Url.Action("ImportData11THFailedSelfSchl", "ImportData")';
        </script>}
    else if (TempData["result"].ToString() == "0")
    {
            <script type="text/javascript" language="javascript">
                alert("Data Not Imported");
            </script>
        }
        else if (TempData["result"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data not saved..plz try again");
            </script>
        }
    }
}

<script type="text/javascript">
    $(function () {
        $("#select_all").change(function () {
            //"select all" change
            var status = this.checked; // "select all" checked status
            $('.checkbox').each(function () { //iterate all listed checkbox items
                this.checked = status; //change ".checkbox" checked status
            });
        });

        //uncheck "select all", if one of the listed checkbox item is unchecked
        $('.checkbox').change(function () { //".checkbox" change

            //alert($(this).val());
            if (this.checked == false) { //if this item is unchecked
                $("#select_all")[0].checked = false; //change "select all" checked status to false
            }
        });
        $("#isr").click(function () {

            var favorite = [];

            $.each($("input[name='sport']:checked"), function () {

                favorite.push($(this).val());

            });

            alert("IDs are: " + favorite.join(", "));
            $.getJSON("../ImportData/SomeActionMethod", { id: favorite.join(", ") },
    function (data) {
        alert("Jay");
        alert(data.foo);
        alert(data.baz);
    }
);

        });
    });
</script>
<script>

    $("#Session").change(function () { //".checkbox" change

        //alert($("#Session").val());
        var ses=$("#Session").val();
        if (ses=='2016' || ses=='2015') {
            //alert($("#SelectItem").val());
            $("#SelectItem").find('[value="4"]').remove(); //removeData("OLD ID");
        }
        else {
            //$("#SelectItem").append(4,"OLD ID");
            $("#SelectItem").find('[value="4"]').remove();
            $("#SelectItem").append('<option value="4">OLD ID</option>');
        }
       
    });

    function deetext() {
        $("#reqsstring").slideUp("slow");
    }
    function deechange() {

        if ($("#SelectItem").val() != "") {
            $("#reqsellist").slideUp("slow");
        }
        else {
            $("#reqsellist").slideDown("slow");
        }
    }

    function dee() {
        //var selval=$("#schoolcode").val();
        //alert(selval);

        if ($("#schoolcode").val() == "" || $("#schoolcode").val() == "NULL") {

            alert("Please Select School To Import Data");
            return false;
        }
        if ($("#Session1").val() == "" || $("#Session1").val() == "NULL") {

            alert("Please Select Year");
            return false;
        }
        if ($("#Session1").val() == "" && $("#SelectItem").val() == "" && $("#SearchString").val() == "") {
            $("#reqsellist").slideUp("slow");
            $("#reqsstring").slideUp("slow");
        }
        if ($("#Session1").val() == "" && $("#SelectItem").val() != "" && $("#SearchString").val() == "") {

            $("#reqsstring").slideDown("slow");
            return false;
        }
        //else if ($("#Session1").val() != "" && $("#SelectItem").val() == "" && $("#SearchString").val() == "") {
        //    $("#reqsellist").slideDown("slow");
        //    $("#reqsstring").slideDown("slow");
        //    return false;
        //}
        else if ($("#Session1").val() != "" && $("#SelectItem").val() != "" && $("#SearchString").val() == "") {
            //alert($("#SelectItem").val());
            if($("#SelectItem").val()=="1")
            {
                return true;
            }
            else
            {
                $("#reqsellist").slideUp("slow");
                $("#reqsstring").slideDown("slow");
                return false;
            }

        }
        else
            return true;

    }
    $(document).ready(function () {
        var value = document.getElementById('SelectItem').value;

    });

        //var form = $("#searchform").serialize();
        //$("#btnNext").click(function () {
        //    $.ajax({
        //        url: 'RegistrationPortal/Next',
        //        data: { currentPageIndex: document.getElementById('currentPageIndex').value, form },
        //        success: function (response) {
        //            $("body").html(response);
        //        }
        //    });
        //});

        //$("#btnPrevious").click(function () {
        //    $.ajax({
        //        url: 'RegistrationPortal/Previous',
        //        data: { currentPageIndex: document.getElementById('currentPageIndex').value },
        //        success: function (response) {
        //            $("body").html(response);
        //        }
        //    });
        //});


</script>
