
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<style type="text/css">
    .opl {
        padding-bottom: 200px
    }

        .opl li {
            padding: 5px 0
        }
</style>

@{
    PSEBONLINE.Models.AdminLoginSession adminLoginSession = (PSEBONLINE.Models.AdminLoginSession)Session["AdminLoginSession"];

    <h1>On Demand Certificate - Session :<span class="rqf"> @adminLoginSession.CurrentSession</span></h1>
    <div class="row">
        <div class="col-md-6">
            <ul class="opl">
                <li style="@(ViewBag.IsVIEW == 1 ? "display:block" : "display:none")"><samp>❭</samp> @Html.ActionLink("Click Here to Applied Student List", "OnDemandCertificateVerifiedStudentList", "OnDemandCertificate")</li>
                <li style="@(ViewBag.IsDOWNLOAD == 1 ? "display:block" : "display:none")"><samp>❭</samp> @Html.ActionLink("Click Here to Download Data", "OnDemandCertificateDownloadData", "OnDemandCertificate")</li>
                <li style="@(ViewBag.IsPREVIOUS == 1 ? "display:block" : "display:none")"><samp>❭</samp> @Html.ActionLink("Click Here to Download Previous Data", "OnDemandCertificateDownloadPreviousData", "OnDemandCertificate")</li>
               <li style="@(ViewBag.IsDISPATCH == 1 ? "display:block" : "display:none")"><samp>❭</samp> @Html.ActionLink("Click Here to Allot Registry MIS", "RegistryMIS", "OnDemandCertificate")</li>
        <li style="@(ViewBag.IsDISPATCH == 1 ? "display:block" : "display:none")"><samp>❭</samp> @Html.ActionLink("Click Here to View Registry Details", "ViewRegistryDetails", "OnDemandCertificate")</li>
            </ul>
        </div>
        <div class="col-md-9">
        </div>
    </div>

}
