@model PSEBONLINE.Models.PrivateCandidateModels
@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}
<div class="container KDBG">
    @*<h1>Matric/Senior Secondary Supplementary Exam (Reap/Compartment/DIC), March-2018</h1>*@
    @*<h1>Matric/Senior Secondary Supplementary Exam (Compartment/Additional), August-2019</h1>*@
    @*<h1>Matric/Senior Secondary Supplementary Exam (Reap & DIC/Compartment/Additional), July,September-2019</h1>*@
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    @using (Html.BeginForm("ForgotPassword", "PrivateCandidate", FormMethod.Post, new { id = "refno", enctype = "multipart/form-data" }))
    {
        <form name="myForm">
            <div class="row text-center"><h3>&nbsp;&nbsp; Candidate Forgot Reference Number</h3></div>
            <div class="row">
                <div class="clearfix"></div>
                <div class="col-md-2">Category <span class="rqf">*</span></div>
                <div class="col-md-4">
                    @{
                        List<SelectListItem> category = new List<SelectListItem>();
                        category.Add(new SelectListItem { Text = "--Select---", Value = "0" });
                        category.Add(new SelectListItem { Text = "Reappear/Compartment", Value = "R" });
                        //category.Add(new SelectListItem { Text = "Division improvement", Value = "D" });
                        category.Add(new SelectListItem { Text = "Additional subject", Value = "A" });
                        category.Add(new SelectListItem { Text = "Golden Chance Re-Appear", Value = "SR" });
                        category.Add(new SelectListItem { Text = "Golden Chance DIC", Value = "SD" });
                    }
                    @Html.DropDownList("category", category, new { id = "category" })
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">Class <span class="rqf">*</span></div>
                <div class="col-md-4">
                    @*<select id="Class">
                            <option value="">--Select--</option>
                            <option value="Regular">10th</option>
                            <option value="Open">12th</option>
                        </select>*@
                    @{
                        List<SelectListItem> Class = new List<SelectListItem>();
                        Class.Add(new SelectListItem { Text = "--Select--", Value = "0" });
                        Class.Add(new SelectListItem { Text = "Matriculation", Value = "10" });
                        Class.Add(new SelectListItem { Text = "Senior Secondary", Value = "12" });
                        Class.Add(new SelectListItem { Text = "Primary", Value = "5" });
                        Class.Add(new SelectListItem { Text = "Middle", Value = "8" });
                    }
                    @Html.DropDownList("Class", Class, new { id = "Class" })
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">Exam Type <span class="rqf">*</span></div>
                <div class="col-md-4">
                    @{
                        List<SelectListItem> Exam_Type = new List<SelectListItem>();
                        Exam_Type.Add(new SelectListItem { Text = "--Select--", Value = "0" });
                        Exam_Type.Add(new SelectListItem { Text = "Regular", Value = "R" });
                        Exam_Type.Add(new SelectListItem { Text = "Open", Value = "O" });
                        //Exam_Type.Add(new SelectListItem { Text = "Private", Value = "P" });
                    }
                    @Html.DropDownList("Exam_Type", Exam_Type, new { id = "Exam_Type" })
                </div>


                <div class="clearfix"></div>
                <div class="col-md-2">Session <span class="rqf">*</span></div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">@Html.DropDownList("SelMonth", new SelectList(ViewBag.MyMonth, "Value", "Text"), "MONTH", new { @class = "" })</div>
                        <div class="col-md-6">@Html.DropDownList("SelYear", new SelectList(ViewBag.MyYear, "Value", "Text"), "YEAR", new { @class = "" })</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">Old Roll No. <span class="rqf">*</span></div>
                <div class="col-md-4">@Html.TextBoxFor(a => a.OROLL, new { id = "OROLL", @maxlength = "20", onkeypress = "return isNumberKey(event);" })</div>
                <div class="clearfix"></div>
                <div class="col-md-2">Email ID <span class="rqf">*</span></div>
                <div class="col-md-4">@Html.TextBoxFor(a => a.emailID, new { @class = "form-control", @maxlength = "100" })</div>
                <div class="clearfix"></div>
                <div class="col-md-2">Mobile No. <span class="rqf">*</span></div>
                <div class="col-md-4">@Html.TextBoxFor(a => a.mobileNo, new { id = "mobileNo", @maxlength = "10" })</div>
                <div class="clearfix"></div>
                @*<div class="col-md-2">Capcha <span class="rqf">*</span></div>*@
                @*<div class="col-md-4">@Html.TextBoxFor(a => a.capcha, new { @class = "form-control" }) </div>*@
                @*<div class="col-md-1"><img src="~/Views/PrivateCandidate/Capcha.cshtml" /></div>
                    <div class="col-md-3">@Html.TextBoxFor(a => a.capcha)</div>*@
                <div class="clearfix"></div>
                <div class="col-md-12"><span class="rqf">NOTE : Kindly Enter Only Candidate or Candidate's Relative Personal Email Id And Mobile No For Further Communication With Candidate By Board.</span></div>
                <div class="clearfix"></div>
                <div class="col-md-6"><span class="rqf">* Fields are mandatory.</span></div>
                <div class="clearfix"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4 tbp text-center">
                    <input value="Get Refrence No" type="submit" onclick="return valForm();" />
                    <input value="Reset" type="button" onclick="return valReset();" />
                    <input value="Login" type="button" onclick="return valLogin();" />
                    @*<input value="Home" type="button" onclick="return valHome();" />*@
                    @*<input value="Reset" type="submit" />*@
                </div>
            </div>
        </form>
    }
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $("#dPending").dialog({
            modal: true,
            title: "Alert",
            width: 600,
            height: 250,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                },
            }
        });
    });
</script>



@{
    if (ViewData["Status"] != null)
    {
        var result = ViewData["Status"].ToString();
        if (result == "1")
        {            
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Your Old Roll no. @ViewData["roll"].ToString() and Ref No.  @ViewData["refno"].ToString()</span>
            </div>

            @*<script type="text/javascript" language="javascript">

                    var roll = @ViewData["roll"].ToString();
                    var refno = @ViewData["refno"].ToString();
                    alert("Your Old Roll no. " + roll + ", and Ref No." + refno +"" );
                </script>*@
        }
        else
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Record Not Found</span>
            </div>           

        }
    }
}
<script type="text/javascript">


    $("#category").change(function () {
        var selectedCATE = { CATE: $("#category").val() };
        //alert(selectedCATE)
        if ($("#category").val() == 'R') {
            document.getElementById('OROLL').title = 'Enter Selected Class last Re-Appear/Compartment Roll No.';
            $("#Exam_Type").empty();
            $("#Exam_Type").append('<option value="0">--Select--</option>');
            $("#Exam_Type").append('<option value="R">Regular</option>');
            $("#Exam_Type").append('<option value="O">Open</option>');
            $("#Class").empty();
            $("#Class").append('<option value="0">--Select--</option>');
            $("#Class").append('<option value="10">Matriculation</option>');
            $("#Class").append('<option value="12">Senior Secondary</option>');
            $("#Class").append('<option value="5">Primary</option>');
            $("#Class").append('<option value="8">Middle</option>');
        }
        else if ($("#category").val() == 'D') {
            document.getElementById('OROLL').title = 'Enter Selected Class Passed Roll No.';
            $("#Exam_Type").empty();
            $("#Exam_Type").append('<option value="0">--Select--</option>');
            //$("#Exam_Type").append('<option value="P">Private</option>');
            $("#Exam_Type").append('<option value="R">Regular</option>');
            $("#Exam_Type").append('<option value="O">Open</option>');
        }
        else if ($("#category").val() == 'A') {
            document.getElementById('OROLL').title = 'Enter Selected Class Passed Roll No.';
            $("#Exam_Type").empty();
            $("#Exam_Type").append('<option value="0">--Select--</option>');
            $("#Exam_Type").append('<option value="P">Private</option>');
        }
        else if ($("#category").val() == 'C') {
            document.getElementById('OROLL').title = 'Enter Selected Class last Re-Appear/Compartment Roll No.';
            //$("#Exam_Type").empty();
            //$("#Exam_Type").append('<option value="0">--Select--</option>');
            //$("#Exam_Type").append('<option value="R">Regular</option>');
            //$("#Exam_Type").append('<option value="O">Open</option>');
            $("#Class").empty();
            $("#Class").append('<option value="0">--Select--</option>');
            $("#Class").append('<option value="12">Senior Secondary</option>');
        }
        else if ($("#category").val() == 'SR' || $("#category").val() == 'SD') {
            document.getElementById('OROLL').title = 'Enter Selected Class Passed Roll No.';
            $("#Exam_Type").empty();
            //$("#Exam_Type").append('<option value="0">--Select--</option>');
            $("#Exam_Type").append('<option value="R">Regular</option>');
            $("#Exam_Type").append('<option value="O">Open</option>');
        }

        $.ajax({
            url: '@Url.Action("GetMonthID", "PrivateCandidate")',
            type: 'Post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(selectedCATE),
            success: function (States) {

                //alert(StatesList);
                //document.getElementById("Address").value = StatesList;
                // $("#SelYear").empty();
                $("#SelMonth").empty();
                $("#SelMonth").append('<option value="0">Month</option>');
                $.each(States, function (i, Monthlist) {
                    $("#SelMonth").append('<option value="'
                       + Monthlist.Value + '">'
                       + Monthlist.Text + '</option>');
                });
                if (Monthlist.success) {

                    //document.getElementById("MName").value = data.result;
                    // $("#TextBoxID").val(data.result.MName);
                }
                else {
                    alert('invalid ID' + data.success);
                }
            }
        });

        $.ajax({
            url: '@Url.Action("GetYearID", "PrivateCandidate")',
            type: 'Post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(selectedCATE),
            success: function (States) {

                //alert(StatesList);
                //document.getElementById("Address").value = StatesList;
                $("#SelYear").empty();
               // $("#SelMonth").empty();
                $("#SelYear").append('<option value="0">Year</option>');
                $("#SelYear").append('<option value="2022">2022</option>');
                $("#SelYear").append('<option value="2021">2021</option>');
                $("#SelYear").append('<option value="2020">2020</option>');

                $.each(States, function (i, yearlist) {

                    $("#SelYear").append('<option value="'
                       + yearlist.Value + '">'
                       + yearlist.Text + '</option>');
                });
                if (yearlist.success) {

                    //document.getElementById("MName").value = data.result;
                    // $("#TextBoxID").val(data.result.MName);
                }
                else {
                    alert('invalid ID' + data.success);
                }
            }
        });


    });
    //------------------------------------------------
    function valForm() {

        var ddlcategory = document.getElementById('category').value;
        if (ddlcategory == '0') {
            alert("Select category");
            document.getElementById('category').focus();
            return false;
        }
        var ddlClass = document.getElementById('Class').value;
        if (ddlClass == '0') {
            alert("Select Class");
            document.getElementById('Class').focus();
            return false;
        }
        var ddlExam_Type = document.getElementById('Exam_Type').value;

        if (ddlExam_Type == '0') {
            alert("Select Exam Type");
            document.getElementById('Exam_Type').focus();
            return false;
        }
        var ddlSelMonth = document.getElementById('SelMonth').value;
        if (ddlSelMonth == '' || ddlSelMonth == '0') {
            alert("Select Month");
            document.getElementById('SelMonth').focus();
            return false;
        }


        var ddlSelYear = document.getElementById('SelYear').value;
        if (ddlSelYear == ''|| ddlSelYear == '0') {
            alert("Select Year");
            document.getElementById('SelYear').focus();
            return false;
        }


        //var txtClass = document.getElementById('Class').value;
        //if (txtClass == '0') {
        //    alert("Select Class");
        //    document.getElementById('Class').focus();
        //    return false;
        //}





        var txtOROLL = document.getElementById("OROLL");
        if (txtOROLL.value == "") {
            alert("Enter OROLL Number");
            txtOROLL.focus();
            return false;
        }

        if (!ValidateEmail($("#emailID").val())) {
            alert("Enter valid Email Address!");
            document.getElementById('emailID').focus();
            return false;
        }

        var txtmobileNo = document.getElementById("mobileNo");
        if (txtmobileNo.value == "") {
            alert("Enter Mobile Number");
            txtmobileNo.focus();
            return false;
        }


    }

    function ValidateEmail(emailID) {
        var expr = /[A-Z0-9._%+-]@@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;;
        return expr.test(emailID);
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
    function valBack() {
        history.go(-1);
    }
    function valReset() {
        document.location.href = '@Url.Action("ForgotPassword", "PrivateCandidate")';
    }
    function valLogin() {
        document.location.href = '@Url.Action("Private_Candidate_Examination_Form", "PrivateCandidate")';
    }
    function valHome() {
        document.location.href = 'https://www.pseb.ac.in/';
    }
</script>



