@model PSEBONLINE.Models.PrivatePaymentformViewModel
@{
    ViewBag.Title = "PaymentForm";
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
@*<h1>Matric/Senior Secondary Supplementary Exam (Reap/Compartment/DIC), March-2018</h1>*@
@if (Session["OROLL"] == null || Session["OROLL"].ToString() == "" || Session["refno"] == null || Session["refno"].ToString() == "")
{ Response.Redirect("~/PrivateCandidate/Private_Candidate_Examination_Form"); }

@using (Html.BeginForm("PaymentForm", "PrivateCandidate", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    var refnoH = Session["refno"].ToString().Substring(3, 2);
    var yearH = "20" + Session["refno"].ToString().Substring(5, 2);
    var feecatH = Session["form"].ToString();
	var cls = @Html.DisplayFor(m => m.Class);
     var refnoMonthNM = PSEBONLINE.AbstractLayer.DBClass.GetMonthFullNameBYNumber().SingleOrDefault(s => s.Value == refnoH).Text;
<h1 class="noprint"> @Model.PaymentFormData.Tables[0].Rows[0]["CLASSNM"].ToString() Fees of @Html.DisplayFor(m => m.category) ,  @refnoMonthNM-@yearH</h1>




    <div class="row" id="divall">
        <div class="col-md-12">
            <div class="table-responsive">
                <table>
                    @{
                        var Challanid = "";
                        if (Convert.ToString(ViewData["result"]) != "-1" || ViewData["result"] == null)
                        {
                            Challanid = Model.PaymentFormData.Tables[0].Rows[0]["Challanid"].ToString();
                            if (Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString() == "0")
                            {
                                <tr style="font-size:18px;color:red;">
                                                        <td>Fee Date has expired/not valid for  @Model.PaymentFormData.Tables[0].Rows[0]["CLASSNM"].ToString() @Html.DisplayFor(m => m.category) Batch.</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input value="back" type="button" onclick="javascript:document.location.href='@Url.Action("PrivateCandidateConfirmation", "PrivateCandidate")'" />
                                    </td>
                                </tr>
                            }
                            else
                         if (Challanid != "")
                            {
                                <tr>
                                    <td>
                                        <button type="button" class="" data-toggle="modal" data-target="#myModal-@Challanid" onclick="return confirm('If you already deposited amount in Bank then please dont regenerate challan. Are you sure to Re-Generate Challan or Cancel?');">Re-Generate Challan</button>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>

                                    @if (Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString().Contains("301"))
                                    {
                                        <td><span>@Html.RadioButtonFor(m => m.BankCode, "301", new { id = "HDFC" })<img src="~/Images/HDFC.jpg" alt="HDFC" width="150" /></span></td>
                                    }
                                    @if (Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString().Contains("302"))
                                    {
                                        <td>
										
                                            <span style="display:none">@Html.RadioButtonFor(m => m.BankCode, "302", new { id = "ATOM" }) <img src="~/Images/PNSB.jpg" alt="ATOM" width="150" /></span> 
                                        </td>
                                    }


                                </tr>
                                <tr>
                                    <td>
                                        @if (Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString().Contains("301") || Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString().Contains("302"))
                                        {
                                            <input id="btnPayment" type="button" value="Proceed to Pay Online" class="btn" />
                                            @*<input type="submit" value="Proceed to Final Submit & Generate Challan" onclick="return valForm();" />*@

                                        }
                                    </td>
                                    <td>
                                        &nbsp;&nbsp; <input value="Back" type="button" onclick="javascript:document.location.href='@Url.Action("PrivateCandidateConfirmation", "PrivateCandidate")'" />
                                    </td>
                                </tr>

                            }
                        }
                        else
                        {
                            Response.Redirect("~/PrivateCandidate/PrivateCandidateConfirmation");
                        }


                    }
                </table>
                <div class="clearfix"></div>

                <table class="table table-bordered" id="t01">

                    <tr>
                        <td>Class/ Exam Type/ Category</td>
                        <td> @Model.PaymentFormData.Tables[0].Rows[0]["CLASSNM"].ToString()/ @Html.DisplayFor(m => m.ExamType)/ @Html.DisplayFor(m => m.category)</td>
                    </tr>
                    @*<tr>
                            <td>LOT No</td>
                            <td>@Html.DisplayFor(m => m.LOTNo)</td>
                        </tr>*@
                    <tr>
                        <td>Candidate Name</td>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                    </tr>
                    @*<tr>
                            <td>Reg. No.</td>
                            <td>@Html.DisplayFor(m => m.RegNo)</td>
                        </tr>*@
                    <tr>
                        <td>Ref. No.</td>
                        <td>@Html.DisplayFor(m => m.RefNo)</td>
                    </tr>
                    <tr>
                        <td>District Code/Name</td>
                        <td>@Html.DisplayFor(m => m.Dist) / @Html.DisplayFor(m => m.District)</td>
                    </tr>
                    <tr>
                        <td>Old Roll No</td>
                        <td>@Html.DisplayFor(m => m.roll)</td>
                    </tr>

                    <tr>
                        <td>Examination Fee + Certificate Fee (If YES)</td>
                        <td>₹@Html.DisplayFor(m => m.TotalFees)</td>
                    </tr>
                    <tr>
                        <td>Late Fee</td>
                        <td>₹@Html.DisplayFor(m => m.TotalLateFees)</td>
                    </tr>
                    <tr>
                        <td>Total Fee</td>
                        <td>₹@Html.DisplayFor(m => m.TotalFinalFees)</td>
                    </tr>
                    <tr>
                        <td>Total(In Words)</td>
                        <td>@Html.DisplayFor(m => m.TotalFeesInWords) Only</td>
                    </tr>
                    <tr>
                        @{
                            //var fdt = Model.FeeDate.ToString("dd/MM/yyyy");
                            var fdt = Model.FeeDate.ToString("dd/MM/yyyy");
                            <td colspan="2" class="text-center rqf">Fee Valid Upto @fdt</td>
                        }
                        @*<td colspan="2" class="text-center rqf">Fee Valid Upto @Html.DisplayFor(m => m.FeeDate)</td>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container" style="display:none">
        <div class="modal fade" id="myModal-@Challanid" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Re-Generate Challan</h4>
                        <p style="text-align:center;font-size:18px;color:#f00">If you already deposit amount in Bank then please dont Re-Generate Challan. Are you sure to Re-Generate Challan or Cancel?</p>
                    </div>
                    <div class="modal-body">
                        <center> <input type="text" id="txtChallanNo-@Challanid" name="txtChallanNo" value="@Challanid" readonly /></center>

                        @*@if (Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString().Contains("202"))
                            {
                                <input name="PNB-@Challanid" id="PNB-@Challanid" type="radio" value="202"><img src="~/Images/PNBbank.gif" width="150" />
                                <input name="HOD-@Challanid" id="HOD-@Challanid" type="radio" value="203" style="display:none"><img src="~/Images/PSEB_Text.png" width="150" style="display:none" />
                                <input name="SBI-@Challanid" id="SBI-@Challanid" type="radio" value="204" style="display:none"><img src="~/Images/SBIbank.png" width="150" style="display:none" />
                            }
                            @if (Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString().Contains("203"))
                            {
                                <input name="PNB-@Challanid" id="PNB-@Challanid" type="radio" value="202" style="display:none"><img src="~/Images/PNBbank.gif" width="150" style="display:none"/>
                                <input name="HOD-@Challanid" id="HOD-@Challanid" type="radio" value="203"><img src="~/Images/PSEB_Text.png" width="150" />
                                <input name="SBI-@Challanid" id="SBI-@Challanid" type="radio" value="204" style="display:none"><img src="~/Images/SBIbank.png" width="150" style="display:none"/>
                            }
                            @if (Model.PaymentFormData.Tables[1].Rows[0]["AllowBanks"].ToString().Contains("204"))
                            {
                                <input name="PNB-@Challanid" id="PNB-@Challanid" type="radio" value="202" style="display:none"><img src="~/Images/PNBbank.gif" width="150" style="display:none" />
                                <input name="HOD-@Challanid" id="HOD-@Challanid" type="radio" value="203" style="display:none"><img src="~/Images/PSEB_Text.png" width="150" style="display:none"/>
                                <input name="SBI-@Challanid" id="SBI-@Challanid" type="radio" value="204"><img src="~/Images/SBIbank.png" width="150"  />
                            }




                            <input type="button" class="btn" value="Click here to Re-Generate Challan" id="btnSend" onclick="Send(@Challanid)" />*@
                        <div id="loading1-@Challanid"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    if (ViewData["SelectBank"] != null)
    {
        if (ViewData["SelectBank"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Please Select Bank ");
                window.location.href = '@Url.Action("PaymentForm", "PrivateCandidate")';
            </script>

        }
    }
}

<div id="dialogOnline" style="display: none">
    <span class="rqf">Click OK button to do Online Payment through Credit Card, Debit Card, Net Banking etc of any bank otherwise click Cancel button.</span>
</div>
<script type="text/javascript">

    $("#btnPayment").click(function () {

        var SBPa = document.getElementById("HDFC").checked;
        var PNBa = document.getElementById("ATOM").checked;

        if (SBPa == false && PNBa == false) {
            alert("Please Select Any Bank For Online Payment");
            return false;
        }
        else {
            $('#Main1').hide();
            $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Are you sure to do online payment?");
            $('#dialogOnline').dialog('open');
            return true;
        }

    });
    $(function () {
        $("#dialogOnline").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure to do online payment?",
            width: 400,
            height: 220,
            buttons: {
                "OK": function () {
                    // $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $('#myForm').submit();

                },
                Cancel: function () {
                    $('#loading1').empty("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $(this).dialog("close");
                }
            }
        });
    });


</script>