@model PSEBONLINE.Models.PrivateCandidateModels
@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<h1 style="font-size:21px;margin-bottom:0">
    @*Private Examination Form for Re-Appear of Primary/Middle Class, July 2022 <br />*@
    @*Private Examination Form for Re-Appear/Additional Subject of Matric & Sr. Sec. Class, March 2023*@
    @*Private  Examination Form for Re-Appear/Additional Subject of Matric & Sr. Sec. Class, Supplementary Exam 2023*@
    Private Examination Form for Re-Appear/Additional Subject/Improvement (DIC) of Matric & Sr. Sec. Class, March 2024
</h1>

@*<h1 style="font-size:24px;margin-bottom:0">Matric/Senior Secondary Exam, January-March 2022</h1>*@
@*<h1 style="font-size:24px;margin-bottom:0">Private Examination Form of Additional Subject for Matric & Sr Sec Class, March 2022</h1>*@
@*<h1 style="font-size:24px;margin-bottom:0">Matric/Senior Secondary Supplementary Exam (Compartment/Additional), July-2019</h1>*@
@*<h1 style="font-size:24px;margin-bottom:0">Matric/Senior Secondary Supplementary Golden Chance Exam (Reap/Improvement/Additional), September-2019</h1>*@

<div style="margin:0;padding:0">
    <marquee onmouseout="this.setAttribute('scrollamount', 6, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" direction="left" scrollamount="4" style="padding:10px 0;cursor:pointer;color:#cc0000">
    </marquee>
</div>

@using (Html.BeginForm("Private_Candidate_Examination_Form", "PrivateCandidate", FormMethod.Post, new { id = "refno", enctype = "multipart/form-data" }))
{<div class="row">
        <div class="col-md-5">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Important Instructions</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul style="height: 288px">
                                <li>
                                    <a href="https://registration2023.pseb.ac.in/Upload/Private_Prospectus_March2024.pdf" target="_blank">
                                        <samp>❭</samp> Private Examination Form for Re-Appear/Additional Subject/Improvement (DIC) of Matric & Sr. Sec. Class, March 2024
                                    </a>
                                </li>


                                @*<li>
                                    <a href="https://registration2022.pseb.ac.in/Upload/Proc_Sen_Sec.pdf" target="_blank">
                                        <samp>❭</samp> Prospectus for Private Examination Form for Re-Appear/Additional Subject of Sen. Sec. Class, Supplementary Exam 2023
                                    </a>
                                </li>*@


                                @*<li>
                                        <a href="/PDF/Propectus10th_March2023.pdf" target="_blank">
                                            <samp>❭</samp> Prospectus For Reappear/Compartment/Dic For class 10th July 2023
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    @*<li>
                         <a href="/PDF/Public_NoticeRe-Appear_5th&8th_July2022.pdf" target="_blank">
                        <samp>❭</samp> Public Notice Regarding Extension In The Date Of Re-Appear Examination of Primary & Middle Class, July 2022
                         </a>
                        </li>
                        <li>
                         <a href="/PDF/PressNote_Re-Appear_5th&8th_July2022.pdf" target="_blank">
                        <samp>❭</samp> Press Note Regarding Re-Appear Examination of Primary & Middle Class, July 2022
                         </a>
                        </li>*@
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="" style="border:2px solid #ccc;padding:10px 50px;background-color:#f1f1f1;margin-bottom:30px">
                <form name="myForm" method="post">
                    @*<h3 class="form-signin-heading text-left"> <input type="button" value="Matric / Sr.Secondary Registration Has Been Closed."/> </h3>*@
                    <h3 class="form-signin-heading text-center">
                        <input type="button" value="New User (Click Here to Register)" onclick="javascript:document.location.href='@Url.Action("Private_Candidate_Introduction_Form", "PrivateCandidate")    '" />
                    </h3>

                    <h3 class="form-signin-heading text-center">Login (Already Registered)</h3>
                    <div class="text-danger"> @ViewBag.Message </div>
                    @Html.TextBoxFor(a => a.refNo, new { id = "refNo", @maxlength = "20", @class = "form-control", placeholder = "Enter Reference Number", onkeypress = "return isNumberKey(event);" })
                    <br />
                    @Html.TextBoxFor(a => a.OROLL, new { id = "OROLL", @maxlength = "20", @class = "form-control", placeholder = "Enter Old Roll Number", })
                    <p style="color:#cc0000"> (Ref. No. & Old Roll No. has been send to your Email Id & Mobile No. at time of Registration)</p>
                    <div style="text-align:center">
                        <input type="submit" value="Submit" onclick="return valForm();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/PrivateCandidate/AdmitCardPrivateSearchStatus" target="_blank" class="btn">
                            Check Form Status
                        </a>
                        <br /><br />
                        <span style="color:#cc0000">@Html.ActionLink("Forgot Reference Number ?", "AdmitCardPrivateSearchStatus", "PrivateCandidate")</span>
                        <br /><br />
                    </div>



                </form>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div style="border:1px solid #ccc;border-radius:6px;font-size:15px;margin:0 0 10px 0;padding:10px 8px;font-family:Arial;">
                <div style="display:none">
                    <span style="color:#cc0000">Note :</span> After final submition of online Compartment / Additional Form, Submit hard copy of Attested Application Form and copy of challan at PSEB District Sub Office/Head Office as per schedule issued by Board.
                </div>
            </div>
        </div>

        <div class="col-md-2">
            Toll Free Help Line No.<br>
            For Technical Support
        </div>

        <div class="col-md-2">
            <span style="font-size:26px">
                8058911911<br><span style="font-size:10px"></span><br>
                <span style="font-size:12px"><i class="fa fa-envelope"></i> <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a></span>
            </span>
        </div>

        @*<div class="col-md-2"><span style="font-size:26px">8058911911<br><span style="font-size:10px"></span><br><span style="font-size:12px"><i class="fa fa-envelope"></i> <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a></span></span></div>*@



    </div>


}


@{

    if (ViewData["Status"] != null)
    {
        var result = ViewData["Status"].ToString();

        if (result == "1")
        {
            <script type="text/javascript" language="javascript">
                // alert("Refrence No. Successfully Generated. Kindly Check your Email and Mobile No.: ");
                document.location.href = '@Url.Action("PrivateCandidateConfirmation/"+ ViewData["refno"], "PrivateCandidate")';
            </script>
        }

        if (result == "2")
        {

            <script type="text/javascript" language="javascript">

            //alert("Refrence No. Already Generated. Kindly Check your Email and Mobile No. : ");
            document.location.href = '@Url.Action("PrivateCandidateConfirmation/"+ ViewData["roll"], "PrivateCandidate")';
            </script>
        }
        if (result == "0")
        {

            <script type="text/javascript" language="javascript">

                alert("Refrence No. Not Generated. Retry Again ");
            document.location.href = '@Url.Action("Private_Candidate_Examination_Form", "PrivateCandidate")';
            </script>
        }
    }

}
<script type="text/javascript">
    function valForm() {

        var txtrefNo = document.getElementById("refNo").value;
        if (txtrefNo.value == "") {
            alert("Enter Reference Number");
            txtrefNo.focus();
            return false;
        }
        if (txtrefNo.length = "") {
            alert("Enter Valid Reference Number.");
            document.getElementById("refNo").focus();
            return false;
        }
        var txtOROLL = document.getElementById("OROLL");
        if (txtOROLL.value == "") {
            alert("Enter Old OROLL No.");
            txtOROLL.focus();
            return false;
        }
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>