@model PSEBONLINE.Models.RegistrationModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

@using (Html.BeginForm("E2Form", "RegistrationPortal", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    <h1>
        Form (E2) for Class XI (New Registration of Other Board/State Students) - Session @if (Session["Session"] != null)
        {@Session["Session"].ToString()}
    else { Response.Redirect("~/Login"); }
    </h1>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="kdsrc">Note:-Do not use prefix like Smt.,Mr.,Dr.,Er. etc. </span>

            <p class="kdsfont-n">1.ਜਿਹੜੇ ਵਿਦਿਆਰਥੀ ਕਿਸੇ ਹੋਰ ਰਾਜ/ ਬੋਰਡ(MHRD ਵੱਲੋਂ ਪ੍ਰਵਾਨਿਤ ਬੋਰਡਾਂ ਦੀ ਸੂਚੀ ਅਧੀਨ) ਤੋਂ ਦਸਵੀਂ ਪਾਸ ਜਾਂ ਗਿਆਰਵੀਂ ਵਿੱਚੋਂ ਫੇਲ (ਕੇਵਲ ਰੈਗੁਲਰ) ਹੋ ਕੇ ਆਏ ਹਨ,ਲਈ E2 ਫਾਰਮ ਭਰਿਆ ਜਾਵੇ। ਆਨਲਾਈਨ ਫਾਰਮ ਭਰਨ ਸਮੇਂ ਵਿਦਿਆਰਥੀ ਜਿਹੜੇ ਬੋਰਡ ਤੋਂ ਦਸਵੀਂ ਪਾਸ ਜਾਂ ਗਿਆਰਵੀਂ ਫੇਲ ਹੈ, ਉਸ ਬੋਰਡ ਦਾ ਨਾਮ ਸੂਚੀ ਵਿੱਚੋਂ ਸਲੈਕਟ ਕੀਤਾ ਜਾਵੇ ਅਤੇ ਜੇਕਰ ਸੂਚੀ ਵਿੱਚ ਉਸ ਬੋਰਡ ਦਾ ਨਾਮ ਨਹੀਂ ਹੈ ਤਾਂ Other board ਸਲੈਕਟ ਕਰਕੇ ਦਿੱਤੇ ਹੋਏ ਕਾਲਮ ਵਿੱਚ ਬੋਰਡ ਦਾ ਨਾਮ ਦਰਜ ਕੀਤਾ ਜਾਵੇ। ਜੇਕਰ ਵਿਦਿਆਰਥੀ ਨੂੰ ਪਿਛਲੀ ਕਿਸੇ ਵੀ ਸ਼੍ਰੇਣੀ ਵਿੱਚ ਪੰਜਾਬ ਸਕੂਲ ਸਿੱਖਿਆ ਬੋਰਡ ਵੱਲੋਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ ਹੈ ਤਾਂ ਫਾਰਮ ਭਰਨ ਸਮੇਂ ਪਹਿਲਾਂ ਜਾਰੀ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਰੂਰ ਭਰਿਆ ਜਾਵੇ।</p>

            <p class="kdsfont-n">2. ਪੰਜਾਬ ਸਕੂਲ ਸਿੱਖਿਆ ਬੋਰਡ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲ ਤੋਂ ਪਹਿਲਾਂ ਕਿਸੇ ਵੀ ਸਾਲ ਵਿੱਚ ਦਸਵੀਂ ਪਾਸ ਵਿਦਿਆਰਥੀਆਂ ਜਿੰਨ੍ਹਾਂ ਨੂੰ ਬੋਰਡ ਵੱਲੋਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ ਹੈ ਜਾਂ ਨਹੀ ਹੋਇਆ ਹੈ, ਅਜਿਹੇ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਨਵੀਂ ਐਂਟਰੀ ਵੀ E2 ਫਾਰਮ ਵਿੱਚ ਕੀਤੀ ਜਾਵੇ ਅਤੇ ਆਨ-ਲਾਈਨ ਫਾਰਮ ਭਰਨ ਸਮੇਂ ਬੋਰਡ ਦੀ ਸੂਚੀ ਵਿੱਚੋਂ P.S.E.B. ਸਿਲੈਕਟ ਕੀਤਾ ਜਾਵੇ।ਜੇਕਰ ਵਿਦਿਆਰਥੀ ਨੂੰ ਪਿਛਲੀ ਕਿਸੇ ਵੀ ਸ਼੍ਰੇਣੀ ਵਿੱਚ ਪੰਜਾਬ ਸਕੂਲ ਸਿੱਖਿਆ ਬੋਰਡ ਵੱਲੋਂ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ ਹੈ ਤਾਂ ਫਾਰਮ ਭਰਨ ਸਮ੍ਹੇਂ ਪਹਿਲਾ ਜਾਰੀ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਜਰੂਰ ਭਰਿਆ ਜਾਵੇ।</p>

            <p class="kdsfont-n"> 3. ਇਸ ਫਾਰਮ ਅਧੀਨ ਰਜਿਸਟਰ ਕੀਤੇ ਵਿਦਿਆਰਥੀਆਂ ਦੇ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਭੇਜੇ ਗਏ ਦਸਤਾਵੇਜ਼ਾਂ ਨੂੰ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਸ਼ਾਖਾ ਵੱਲੋਂ ਚੈੱਕ ਕਰਨ ਉਪਰੰਤ ਹੀ ਆਨਲਾਈਨ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ/ਰਲੀਜ਼ ਕੀਤੇ ਜਾਣਗੇ। ਦਸਤਾਵੇਜ਼ ਅਧੂਰੇ ਜਾਂ ਗਲਤ ਹੋਣ ਦੀ ਸੂਰਤ ਵਿੱਚ Error ਲਗਾ ਦਿੱਤੀ ਜਾਵੇਗੀ।            </p>

            <p class="kdsfont-n">4. ਇਸ ਫਾਰਮ ਅਧੀਨ ਕੀਤੀ ਜਾ ਚੁੱਕੀ ਐਂਟਰੀ ਨੂੰ ਵੇਖਣ ਲਈ View Inserted Records ਤੇ ਕਲਿੱਕ ਕਰੋ। Rough Print ਲੈਣ ਲਈ Rough report ਤੇ ਕਲਿੱਕ ਕਰੋ (ਇਹ ਪ੍ਰਿੰਟ ਸਿਰਫ Proof Reading ਲਈ ਹੈ)। ਬੋਰਡ ਦਫਤਰ ਨੂੰ Final Submission ਕਰਨ ਤੋਂ ਬਾਅਦ ਸਿਰਫ Final Print (ਸਮੇਤ ਸਬੰਧਤ ਦਸਤਾਵੇਜ਼) ਭੇਜੇ ਜਾਣ। ਫਾਈਨਲ ਪ੍ਰਿੰਟ ਵਿੱਚ ਪੈਨ ਨਾਲ ਕੀਤੀ ਸੋਧ ਸਵੀਕਾਰਨਯੋਗ ਨਹੀਂ ਹੋਵੇਗੀ, ਇਸ ਲਈ ਪ੍ਰੀਖਿਆਰਥੀਆਂ ਦੇ ਵੇਰਵਿਆਂ ਦੀ ਐਂਟਰੀ ਪੂਰੇ ਧਿਆਨ ਨਾਲ ਦਾਖਲਾ ਖਾਰਜ ਰਜਿਸਟਰ ਅਨੁਸਾਰ ਕੀਤੀ ਜਾਵੇ। </p>


            <p class="kdsfont-n">5. ਇਸ ਤੋ ਇਲਾਵਾ ਇਹ ਵੀ ਧਿਆਨ ਵਿੱਚ ਰੱਖਿਆ ਜਾਵੇ ਕਿ ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਪੰਜਾਬੀ ਵਿੱਚ ਕੰਨਵਰਜਨ ਦੀ ਸੁਵਿਧਾ ਸਿਰਫ ਤੁਹਾਡੀ ਸਹਾਇਤਾ ਲਈ ਦਿੱਤੀ ਗਈ ਹੈ। ਜੇਕਰ ਕੰਨਵਰਜਨ ਦੌਰਾਨ ਪੰਜਾਬੀ ਦੇ ਵੇਰਵੇ ਸਹੀ ਕੰਨਵਰਟ ਨਹੀਂ ਹੁੰਦੇ ਤਾਂ ਇਸ ਨੂੰ ਪੰਜਾਬੀ ਵਾਲੇ ਖਾਨੇ ਦੇ ਨਾਲ ਲੱਗੇ ਕੀ ਬੋਰਡ ਤੋਂ ਠੀਕ ਕੀਤਾ ਜਾਵੇ। ਪੰਜਾਬੀ ਦੇ ਵੇਰਵਿਆਂ ਵਿੱਚ ਵੀ ਹੋਈ ਗਲਤੀ ਲਈ ਜਿੰਮੇਵਾਰੀ ਤੁਹਾਡੀ ਹੋਵੇਗੀ, ਇਸ ਲਈ ਸਬਮਿਟ ਕਰਨ ਤੋਂ ਪਹਿਲਾਂ ਸਾਰੇ ਵੇਰਵਿਆਂ ਨੂੰ ਚੈਕ ਕਰਨਾ ਯਕੀਨੀ ਬਣਾਇਆ ਜਾਵੇ।.</p>

        </div>

    </div>
    <div class="clearfix"></div>
    <h4>Previous Class Information</h4>
    <div class="row">
        <div class="col-md-2">
            Category <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @{
                List<SelectListItem> catgilist = new List<SelectListItem>();
                catgilist.Add(new SelectListItem { Text = "--SELECT CATEGORY--", Value = "0" });
                catgilist.Add(new SelectListItem { Text = "10TH PASSED", Value = "10TH PASSED" });
                catgilist.Add(new SelectListItem { Text = "10TH REAPPEAR", Value = "10TH REAPPEAR" });
                catgilist.Add(new SelectListItem { Text = "11TH FAILED", Value = "11TH FAILED" });

            }

            @Html.DropDownList("Category", catgilist, new { id = "ddlcategory" })
        </div>
        <div class="col-md-2">
            Board <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Board", new SelectList(ViewBag.MyMatricBoard, "Value", "Text"), new { id = "ddlboard" })

        </div>
        <div class="clearfix"></div>
        <div class="col-md-2"> Other Board <span class="rqf">*</span></div>
        <div class="col-md-4">@Html.TextBoxFor(m => m.Other_Board, new { id = "OtherBoard", @maxlength = "50" })</div>
        <div class="col-md-2">
            <span id="Roll"> Board/School Roll No.</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Board_Roll_Num, new
            {
                id = "txtboardroll",
                @maxlength = "20",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onkeypress = "return isNumberKey(event);"
            })
        </div>



        <div class="clearfix"></div>

        <div class="col-md-2">
            Session <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    @Html.DropDownList("Month", new SelectList(ViewBag.Mon, "Value", "Text"), "--Select--", new { id = "ddlmonthses" })
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("Year", new SelectList(ViewBag.SessionYearList, "Value", "Text"), "--Select--", new { id = "ddlyear" })
                </div>

            </div>

        </div>
        <div class="col-md-2">
            Previous School Name <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">@Html.TextBoxFor(m => m.Prev_School_Name, new { id = "prevschoolname", @maxlength = "100" }) @Html.HiddenFor(m => m.Prev_School_Name, new { id = "prevschoolnameHF" })</div>

                <div class="col-md-3">
                    @Html.CheckBoxFor(m => m.IsPrevSchoolSelf, new { id = "IsPrevSchoolSelf1", onclick = "return ChkIsPrevSchoolSelf(this);" }) SELF
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-2">Registration Number <span class="rqf">*</span></div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Registration_num, new { id = "Registrationnum", @maxlength = "50", style = "visibility:hidden" })
        </div>

        <div class="col-md-4">@Html.CheckBoxFor(m => m.IsPSEBRegNum, new { id = "IsPSEBRegNum", onclick = "return MyRegcheck(this);" }) Yes I Have P.S.E.B Alloted Reg No. For This Candidate</div>
        <div class="col-md-2">@Html.CheckBoxFor(m => m.IsNRICandidate, new { id = "IsNRICandidate", onclick = "return IsNRICandidateCheck(this);" }) Is NRI Candidate</div>

    </div>
    <div class="clearfix"></div>
    <h4>Matric Class Details</h4>
    <div class="row">
        <div class="col-md-2">
            Session <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    @Html.DropDownList("MetricMonth", new SelectList(ViewBag.Mon, "Value", "Text"), "--Select Month--", new { id = "ddlMmonthses" })
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("MetricYear", new SelectList(ViewBag.SessionYearList, "Value", "Text"), "--Select Year--", new { id = "ddlMyear" })
                </div>
            </div>
        </div>
        <div class="col-md-2"><span id="Roll"> Matric Roll No.<span class="rqf">*</span></span></div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Metric_Roll_Num, new
            {
                id = "txtMetricroll",
                @maxlength = "12",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onkeypress = "return isMetricRollNum(event);"
            })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2"> Matric Board <span class="rqf">*</span></div>
        <div class="col-md-4">
            @Html.DropDownList("MetricBoard", new SelectList(ViewBag.MyMatricBoard, "Value", "Text"), new { id = "ddlMboard" })

        </div>
        <div class="col-md-2"> Matric Result <span class="rqf">*</span></div>
        <div class="col-md-4">
            @Html.DropDownList("MatricResult", new SelectList(ViewBag.MyMatricResult, "Value", "Text"), new { id = "MatricResult" })

        </div>
    </div>
    <div class="clearfix"></div>
    <h4>Current Class Details</h4>
    <div class="row">
        <div class="col-md-2">

            @Html.CheckBoxFor(m => m.Provisional, new { id = "IsPro", onclick = "return IsProvisional(this);" }) Is Provisional Admission
        </div>
        <div class="clearfix"></div><br />
        <div class="col-md-2">
            A.W. Register No. <span class="rqf">*</span>
        </div>
        <div class="col-md-4"> @Html.TextBoxFor(m => m.AWRegisterNo, new { id = "txtawregno", @maxlength = "20" })</div>
        <div class="col-md-2">Admission No.</div>
        <div class="col-md-4">@Html.TextBoxFor(m => m.Admission_Num, new { id = "txtadmisno", @maxlength = "5", onkeypress = "return isNumberOnly(event);" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Admission Date <span class="rqf">*</span><br />
            <span style="display:block"> @Html.CheckBoxFor(m => m.IsLateAdm, new { id = "IsLAdm" })Is Late Admission </span>
        </div>
        <div class="col-md-2" id="LadmSpn" style="visibility:hidden">
            @Html.TextBoxFor(m => m.requestID, new { id = "requestID", @maxlength = "8", placeholder = "Enter Request ID" })
        </div>
        <div id="divadmdate" class="col-md-2">
            @Html.TextBoxFor(m => m.Admission_Date, "{0:dd/MM/yyyy}", new
            {
                id = "txtadmisndate",
                @placeholder = "Select Admission Date",
                @readonly = "readonly",
                @maxlength = "10",
                //onkeypress = "javascript: return false;",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;"

                //onkeydown = "return false;"
            })
        </div>



        <div class="col-md-2">
            Class Roll No./Section <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Class_Roll_Num_Section, new
                    {
                        id = "txt_CurrentClassRollNumber",
                        @maxlength = "3",
                        onpaste = "return false;",
                        oncopy = "return false;",
                        oncut = "return false;",
                        onkeypress = "return isNumberOnly(event);"
                    })
                </div>

                <div class="col-md-3">
                    @Html.DropDownList("Section", new SelectList(ViewBag.SectionList, "Value", "Text"), new { id = "ddlSection" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 kdsrc">
            *A.W Register No-(Serial no of Admission Withdrawal Register)
        </div>
    </div>

    <div class="clearfix"></div>

    <h4>
        Personal Information
    </h4>
    <div class="row">
        <div class="col-md-2">
            Candidate's Name <span class="rqf">*</span>
        </div>
        <div class="col-md-4">@Html.TextBoxFor(m => m.Candi_Name, new { id = "Candi_Name", @maxlength = "50", onkeypress = "return ValidateAlpha(event);" })</div> @*onblur = "PnbCandidateName(this);"*@
        <div class="col-md-2 kdsfont">
            ÚÒÚÂ¤ØÏÁÛ ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Candi_Name_P, new
            {
                id = "Candi_Name_P",
                @maxlength = "50",
                @class = "keyboardInput",
                onKeyPress = "javascript:convertThis(event)",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onclick = "toggleKBMode1(event)",
                lang = "pa"
            })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Father's Name <span class="rqf">*</span>
        </div>

        <div class="col-md-4">@Html.TextBoxFor(m => m.Father_Name, new { id = "Father_Name", @maxlength = "50", onkeypress = "return ValidateAlpha(event);" })</div>
        <div class="col-md-2 kdsfont">
            ÚÆ¼Ø ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4 kdsfont">
            @Html.TextBoxFor(m => m.Father_Name_P, new
            {
                id = "Father_Name_P",
                @maxlength = "50",
                @class = "keyboardInput",
                onKeyPress = "javascript:convertThis(event)",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onclick = "toggleKBMode1(event)",
                lang = "pa"
            })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Mother's Name <span class="rqf">*</span>
        </div>
        <div class="col-md-4">@Html.TextBoxFor(m => m.Mother_Name, new { id = "Mother_Name", @maxlength = "50", onkeypress = "return ValidateAlpha(event);" })</div>
        <div class="col-md-2 kdsfont">
            ÌØ¼Ø ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Mother_Name_P, new
            {
                id = "Mother_Name_P",
                @class = "keyboardInput",
                onKeyPress = "javascript:convertThis(event)",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onclick = "toggleKBMode1(event)",
                lang = "pa"
            })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Caste / <span class="kdsfont">
                ²Ø¼Û
            </span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Session["Session"].ToString() == "2016-2017")
            {
                List<SelectListItem> CastList = new List<SelectListItem>();
                CastList.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                CastList.Add(new SelectListItem { Text = "General", Value = "General" });
                CastList.Add(new SelectListItem { Text = "BC", Value = "BC" });
                CastList.Add(new SelectListItem { Text = "OBC", Value = "OBC" });
                CastList.Add(new SelectListItem { Text = "SC(R&O)", Value = "SC(R&O)" });
                CastList.Add(new SelectListItem { Text = "SC(M&B)", Value = "SC(M&B)" });
                CastList.Add(new SelectListItem { Text = "SC", Value = "SC" });
                CastList.Add(new SelectListItem { Text = "ST", Value = "ST" });
                //CastList.Add(new SelectListItem { Text = "Others", Value = "Others" });
                @Html.DropDownList("Caste", CastList, new { id = "ddl_caste" })

            }
            else
            {
                List<SelectListItem> CastList = new List<SelectListItem>();
                CastList.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                CastList.Add(new SelectListItem { Text = "General", Value = "General" });
                CastList.Add(new SelectListItem { Text = "OBC", Value = "OBC" });
                CastList.Add(new SelectListItem { Text = "BC", Value = "BC" });
                CastList.Add(new SelectListItem { Text = "SC", Value = "SC" });
                CastList.Add(new SelectListItem { Text = "ST", Value = "ST" });
                //CastList.Add(new SelectListItem { Text = "Others", Value = "Others" });
                @Html.DropDownList("Caste", CastList, new { id = "ddl_caste" })
            }

        </div>
        <div class="col-md-2">
            Gender / <span class="kdsfont">ÚÐâ¬</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Session["Session"].ToString() == "2016-2017")
            {
                @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male", @checked = true })@:Male

                @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female", })@:Female

            }
            else
            {
                @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male", @checked = true })@:Male

                @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female", })@:Female

                @Html.RadioButtonFor(model => model.Gender, "Trans", new { id = "transgender", })@:Transgender

            }
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Differently Abled / <span class="kdsfont">
                ÚÒÐóª» ÓÌÏóÁØ
            </span>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("DA", new SelectList(@ViewBag.DA, "Value", "Text"), new { })
            <span class="rqf" id="htxt">Note: Selected category must be notified by the Centre Government.</span>
        </div>
        <div class="col-md-2">
            Religion / <span class="kdsfont">
                ÄÏÌ
            </span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @{
                List<SelectListItem> Relist = new List<SelectListItem>();
                Relist.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                Relist.Add(new SelectListItem { Text = "Hindu", Value = "Hindu" });
                Relist.Add(new SelectListItem { Text = "Muslim", Value = "Muslim" });
                Relist.Add(new SelectListItem { Text = "Sikh", Value = "Sikh" });
                Relist.Add(new SelectListItem { Text = "Christian", Value = "Christian" });
                Relist.Add(new SelectListItem { Text = "Others", Value = "Others" });

            }

            @Html.DropDownList("Religion", Relist, new { id = "ddl_religion" })
        </div>
        <div class="clearfix"></div>
        <div id="sw" style="display:none;">
            <div class="col-md-2">
                Disability Percentage (1-100)<span class="kdsfont"></span> <span class="rqf">*</span>
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.DP, new { id = "DP", @maxlength = "3", onkeypress = "return isNumberOnly(event);" })
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Date of Birth / <span class="kdsfont">²ÅÌ ÚÌ¼Û</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DOB, new
            {
                id = "DOB",
                @readonly = "readonly",
                @maxlength = "10",
                // onkeypress = "javascript: return false;",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;"

            })
            @Html.HiddenFor(m => m.DOB)
        </div>
        <div class="col-md-2">
            Mobile No. / <span class="kdsfont">ÌëÉØÚ¥Ð Åâ</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Mobile, new
            {
                id = "txt_mobileno",
                @maxlength = "10",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onkeypress = "return isNumberOnly(event);",
                onkeyup = "check(); return false;"
            })

        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Belongs to B.P.L / <span class="kdsfont">ÉÛ.ÆÛ.¤èÐ.</span>
        </div>
        <div class="col-md-4">
            @Html.RadioButtonFor(model => model.Belongs_BPL, "YES", new { id = "BPLYES" })YES
            @Html.RadioButtonFor(model => model.Belongs_BPL, "NO", new { id = "BPLNO", @checked = true })NO

            @*<input type="radio" name="gender" value="male" checked> YES&nbsp;<input type="radio" name="gender" value="female"> NO<br>
                @Html.TextBoxFor(m => m.Belongs_BPL, new { })*@
        </div>
        <div class="col-md-2">
            E-Punjab Student ID / <span class="kdsfont">¥Û-Æâ²ØÉ Ó¶Þ¸â¶ ¤Ø¥Û¸Û</span>
        </div>
        <div class="col-md-4">
            @*@Html.TextBoxFor(m => m.E_punjab_Std_id, new { id = "epsi", @maxlength = "50" })*@
            @if (Session["Session"].ToString() == "2016-2017")
            {
                @Html.TextBoxFor(m => m.E_punjab_Std_id, new { id = "epsid", @maxlength = "10" })
            }
            else
            {
                @Html.TextBoxFor(m => m.E_punjab_Std_id, new { id = "epsid", @maxlength = "10", onkeypress = "return isNumberOnly(event);" })
            }
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Aadhar No. / <span class="kdsfont">¤ÄØÏ Åâ</span> @*<span class="rqf">*</span>*@
        </div>
        <div class="col-md-4">
            @if (Session["Session"].ToString() == "2016-2017")
            {
                @Html.TextBoxFor(m => m.Aadhar_num, new { id = "txt_aadharno", @maxlength = "12", onkeypress = "return isNumberOnly(event);" })
            }
            else
            {
                @Html.RadioButtonFor(model => model.AadharEnroll, "Aadhar", new { id = "aadharnum", @checked = true })@:Aadhar No
                @Html.RadioButtonFor(model => model.AadharEnroll, "Enrollmemt", new { id = "Enrollmemtnum", })@:Enrollmemt No
                @Html.RadioButtonFor(model => model.AadharEnroll, "NA", new { id = "NA", })@:N.A.
                @Html.TextBoxFor(m => m.Aadhar_num, new { id = "txt_aadharno", @maxlength = "12", onkeypress = "return isNumberOnly(event);" })

            }
        </div>

        <div class="col-md-2">
            Medium Of Study  <span class="kdsfont">
            </span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @{
                List<SelectListItem> CandidateMedium = new List<SelectListItem>();
                CandidateMedium.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                CandidateMedium.Add(new SelectListItem { Text = "PUNJABI", Value = "PUNJABI" });
                CandidateMedium.Add(new SelectListItem { Text = "HINDI", Value = "HINDI" });
                CandidateMedium.Add(new SelectListItem { Text = "ENGLISH", Value = "ENGLISH" });

            }
            @Html.DropDownList("CandiMedium", CandidateMedium, new { })

        </div>


        <div class="clearfix"></div>
        <div class="col-md-2">
            Group. / <span class="kdsfont">¬ÏÝóÆ</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("MyGroup", new SelectList(ViewBag.MyGroup, "Value", "Text"), new { @class = "" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">

            <span class="rqf">
                If Aadhar Number is not yet alloted, then Aadhar Enrolment Id is Required. All the digits in enrolment ID & Date and Time of enrolment  to be entered continuously. For example Enrollment ID: 1234/12345/12345 & Date/Time of Enrollment:- 01/12/206 11:50:22 to be entered as <b>1234123451234501122016115022</b>
            </span>
        </div>


        <div class="clearfix"></div>

        <div id="NSQFNINTHFail" style="display:none">
            <div class="col-md-12">
                <h4>
                    NSQF Details
                </h4>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">Previous Class NSQF</div>
            <div class="col-md-4">
                @Html.DropDownList("PreNSQF", new SelectList(ViewBag.nsfqList, "Value", "Text"), "--Select Subject--", new { @class = "" })
            </div>

            <div ID="NSQFSUB" style="display:none;">
                <div class="col-md-2">Want NSQF Subjects In Eleventh?</div>
                <div class="col-md-4">
                    @Html.DropDownList("NSQFsubS6", new SelectList(string.Empty, "Value", "Text"), "--Select Subject--", new { @class = "" })
                </div>
            </div>
        </div>
        <div id="dvNSQFYESPATTERN" style="display:none;">
            <div class="clearfix"></div>
            <div class="col-md-2">Select Pattern</div>
            <div class="col-md-4">
                @Html.DropDownList("NsqfPattern", new SelectList(ViewBag.nsfqPatternList, "Value", "Text"), "--Select Pattern--", new { @class = "" })
            </div>
        </div>
    </div>



    <div class="clearfix"></div>
    <h4>
        Fill Address
    </h4>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    Address <span class="rqf">*</span>
                </div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.Address, new { id = "txt_address", @maxlength = "250" })</div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Landmark
                </div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.LandMark, new { id = "Landmark", @maxlength = "50" })</div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Block
                </div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.Block, new { id = "Block", @maxlength = "50" })</div>
                <div class="col-md-2">
                    District <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("MyDist", new SelectList(ViewBag.MyDist, "Value", "Text"), "--Select---", new { @class = "" })
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Tehsil <span class="rqf">*</span>
                </div>
                <div class="col-md-4">@Html.DropDownList("MyTeh", new SelectList(string.Empty, "Value", "Text"), "--Select---", new { @class = "" })</div>
                <div class="col-md-2">
                    Pincode <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.PinCode, new
                    {
                        id = "txt_pincode",
                        @maxlength = "6",
                        onpaste = "return false;",
                        oncopy = "return false;",
                        oncut = "return false;",
                        onkeypress = "return isNumberOnly(event);"
                    })
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    Upload Photo <a href="/PDF/Instruction_To_Upload_Photographs.pdf" target="_blank" class="rqf" style="font-size:11PX;color:#CC0000">? Instruction To Upload Photographs</a><br />
                    <span class="rqfst" style="font-size:11PX;">Upload Colored Passport Size Photograph(3.5 * 4.5)</span><br /> @*@Html.TextBoxFor(m => m.file, new { id="Photo",  type = "file", onchange = "validate_fileupload(this.value);" })*@
                    @Html.TextBoxFor(m => m.file, new { id = "Photo", type = "file", onchange = "findSizeAndPreview(this)" }) <span class="rqf">*Photp Size 5 to 50 KB  (Only JPG)</span>
                </div>
                <div class="col-md-3"><img src="~/Images/NOPhoto.jpg" class="img-responsive" style="height:80px" alt="Photo" id="imgPhoto" /></div>

                <div class="clearfix"></div>
                <div class="col-md-9">
                    Upload Sign @*@Html.TextBoxFor(m => m.std_Sign, new { id = "Sign", type = "file", onchange = "validate_fileupload(this.value);" })*@
                    @Html.TextBoxFor(m => m.std_Sign, new { id = "Sign", type = "file", onchange = "findSizeAndPreviewSign(this)" }) <span class="rqf">*Signature Size 1 to 50 KB (Only JPG)</span>
                </div>
                <div class="col-md-3"><br /><img src="~/Images/NOSignature.jpg" class="img-responsive" style="height:40px;width:100%" alt="Signature" id="imgSign" /></div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
    <h4> <a href="../../PDF/RegistrationContinuationInstructions.pdf" target="_blank" style="color:white">Upload Documents as per instructions (Click here to View Instructions)</a></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">

                    <a href="../../PDF/RegistrationContinuationInstructions.pdf" target="_blank">Upload Documents as per instructions (Click here to View Instructions)</a>
                    @Html.TextBoxFor(m => m.DocProofCertificate, new { type = "file", onchange = "CheckDocProofCertificate(this)" })
                    <br /><span class="rqf">(Upload only single PDF , Size limit upto 1MB)</span>
                </div>

                <div class="col-md-6" id="dvDocProofNRICandidates" style="visibility:hidden">
                    Upload (Equivalency Letter for N.R.I Candidates.)
                    @Html.TextBoxFor(m => m.DocProofNRICandidates, new { type = "file", onchange = "CheckDocProofNRICandidates(this)" })
                    <br /><span class="rqf">(Upload only single PDF , Size limit upto 1MB)</span>
                </div>

            </div>
        </div>


        <div class="clearfix"></div>
        <div class="col-md-12">
            <span class="rqf">* Fields are mandatory.</span>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row">
        <div style="padding:15px 0" class="col-md-12 text-center">
            <input type="submit" onclick="return valForm();" value="Save and Enter next Candidate Details" />
            <input type="button" value="View Inserted Records" onclick="javascript:document.location.href='@Url.Action("E2Formgrid", "RegistrationPortal")'" />
            <input type="button" value="Rough Report" onclick="javascript:document.location.href='@Url.Action("RoughReport", "RegistrationPortal", new { Form = "E2" })'" />
            <input type="button" value="Student Verification Form" onclick="javascript:document.location.href='@Url.Action("StudentVerificationForm", "RegistrationPortal", new { Form = "E2" })'" />
            <input type="button" value="Reset" onClick="this.form.reset()" />
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn">Back</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <h4>Last Update Record</h4>
    <div class="row">
        <div class="table-responsive">
            <div class="col-md-12">
                <table id="t01" class="table table-bordered">
                    <tr class="active-tr">
                        <th>Roll No. </th>
                        <th>Admission No. </th>
                        <th>Student Name</th>
                        <th>Father's Name</th>
                        <th>Update Datails</th>
                    </tr>
                    <tr>
                        @{
                            DateTime dt = DateTime.Now;
                            DateTime str = DateTime.Now; //DateTime.Parse(dt.ToString("MM/dd/yyyy").Replace('-', '/'));
                            DateTime date = str;
                            if (@ViewBag.message == "1")
                            {
                                <td>@ViewBag.Board_Roll_Num </td>
                                <td>@ViewBag.Admission_Num</td>
                                <td>@ViewBag.Candi_Name</td>
                                <td>@ViewBag.Father_Name</td>

                                if (Convert.ToInt32(@ViewBag.lot) > 0)
                                {

                                    <td> @Html.ActionLink("View", "CommanFormView", new { id = encrypt.QueryStringModule.Encrypt(@ViewBag.id.ToString()), formNM = "E2" })</td>
                                }
                                else
                                {
                                    <td>@Html.ActionLink("Modify", "E2FormModify", new { id = encrypt.QueryStringModule.Encrypt(@ViewBag.id) })</td>
                                }
                                //if (date >= DateTime.Parse("03-13-2017 00:00:00") && date <= DateTime.Parse("04-04-2017 00:00:00"))
                                //{
                                <td>@*<div class="hideintm">@Html.ActionLink("Modify", "E2FormModify", new { id = encrypt.QueryStringModule.Encrypt(@ViewBag.id) })</div>*@</td>
                                //}
                            }
                            else
                            {
                                <td colspan="4">@ViewBag.message </td>
                            }

                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data saved Successfully");
            </script>
        }
        else if (ViewData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Already Exist");
            </script>
        }
        else if (ViewData["result"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data not saved..plz try again");
            </script>
        }
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">


        $("#ddlcategory").change(function () {

            $("#ddlyear").empty();
            $("#ddlboard").empty();

        var selectedVal = $("#ddlcategory").val();
                if ($("#ddlcategory").val() != "10TH REAPPEAR") {
                    $("#ddlmonthses").empty();
                    $("#ddlmonthses").append('<option value="Jan">Jan</option>');
                    $("#ddlmonthses").append('<option value="Feb">Feb</option>');
                    $("#ddlmonthses").append('<option value="Mar">Mar</option>');
                    $("#ddlmonthses").append('<option value="April">April</option>');
                    $("#ddlmonthses").append('<option value="May">May</option>');
                    $("#ddlmonthses").append('<option value="Jun">Jun</option>');
                    $("#ddlmonthses").append('<option value="July">July</option>');
                    $("#ddlmonthses").append('<option value="Aug">Aug</option>');
                    $("#ddlmonthses").append('<option value="Sept">Sept</option>');
                    $("#ddlmonthses").append('<option value="Oct">Oct</option>');
                    $("#ddlmonthses").append('<option value="Nov">Nov</option>');
                    $("#ddlmonthses").append('<option value="Dec">Dec</option>');
                }
                else {
                    document.getElementById("ddlmonthses").disabled = false;
                    $("#ddlmonthses").empty();
                    $("#ddlmonthses").append('<option value="Mar">Mar</option>');
                }

        $("#ddlboard").empty();
         var selectedCat = { SelCat: selectedVal };
         $.ajax({
            url: '@Url.Action("BindBoardByCategoryForE2", "RegistrationPortal")',
            type: 'Post',
            contentType: 'application/json',
            dataType: 'json',
             data: JSON.stringify(selectedCat),
               success: function (States) {
                   document.getElementById("ddlboard").disabled = false;

                  // $("#ddlboard").append('<option value="0">--Select Board--</option>');
                $.each(States, function (i, yearlist) {

                    $("#ddlboard").append('<option value="'
                       + yearlist.Value + '">'
                       + yearlist.Text + '</option>');
                });

                if (yearlist.success) {

                }
                else {
                    alert('invalid ID' + data.success);
                }
            }
         });




    });
</script>

<script type="text/javascript">


    $("#MyGroup").change(function () {
        var selgr = $("#MyGroup").val();//document.getElementById("#MyDist");
        $('#NSQFNINTHFail').css("display", "none");
        if (selgr == "HUMANITIES") {
            $('#NSQFNINTHFail').css("display", "block");
        }
    });

    function CheckDocProofCertificate(input) {
        if (typeof ($("#DocProofCertificate")[0].files) != "undefined") {

            var ext = $('#DocProofCertificate').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['pdf', 'PDF']) == -1) {
                alert('Only .pdf format file allowed ');
                $('#DocProofCertificate').val('');
                return false;
            }
            var size = parseFloat($("#DocProofCertificate")[0].files[0].size / 1024).toFixed(2);
            if (parseInt(size) >= 5 && parseInt(size) <= 1024) {
                var filerdr = new FileReader();
                filerdr.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 5) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    $('#DocProofCertificate').val('');
                }
                if (parseInt(size) > 1024) {
                    alert("Your file size is too large that is " + size + " KB.");
                    $('#DocProofCertificate').val('');
                }
            }
        }

    }

    function CheckDocProofNRICandidates(input) {
        if (typeof ($("#DocProofNRICandidates")[0].files) != "undefined") {

            var ext = $('#DocProofNRICandidates').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['pdf', 'PDF']) == -1) {
                alert('Only .pdf format file allowed ');
                $('#DocProofNRICandidates').val('');
                return false;
            }
            var size = parseFloat($("#DocProofNRICandidates")[0].files[0].size / 1024).toFixed(2);
            if (parseInt(size) >= 5 && parseInt(size) <= 1024) {
                var filerdr = new FileReader();
                filerdr.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 5) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    $('#DocProofNRICandidates').val('');
                }
                if (parseInt(size) > 1024) {
                    alert("Your file size is too large that is " + size + " KB.");
                    $('#DocProofNRICandidates').val('');
                }
            }
        }

    }
</script>


<script type="text/javascript">
    window.setInterval(function () {
        var current = new Date();
        var expiry = new Date("March 31, 2017 23:59:59")
        if (current.getTime() > expiry.getTime()) {
            $('.hideintm').hide();
        } else if (current.getTime() < expiry.getTime()) {
            $('.hideintm').show();
        }
    }, 0);
</script>
<script type="text/javascript">
    $('#htxt').hide();
    $("#DA").change(function () {
        var selectedVal = $("#DA").val();//document.getElementById("#MyDist");
        if (selectedVal == "N.A.") {
            $('#sw').css("display", "none");
            $('#htxt').hide();
            $(DP).val("");
        }
        else if (selectedVal == "Others") {
            $('#htxt').show();
        }
        else {
            $('#sw').css("display", "block");
            $('#htxt').hide();
        }

    });
</script>
<script type="text/javascript">
    $('#aadharnum').change(function () {
        document.getElementById("txt_aadharno").style.display = '';
        if (document.getElementById("aadharnum").checked == true) {

            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "12";
        }
        else if (document.getElementById("Enrollmemtnum").checked == true) {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "28";
        }
        else {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").style.display = 'none';
        }
    });
    $('#Enrollmemtnum').change(function () {
        document.getElementById("txt_aadharno").style.display = '';
        if (document.getElementById("Enrollmemtnum").checked == true) {

            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "28";

        }
        else if (document.getElementById("aadharnum").checked == true) {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "12";
        }
        else {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").style.display = 'none';
        }
    });
    $('#NA').change(function () {
        
        if (document.getElementById("Enrollmemtnum").checked == true) {

            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "28";

        }
        else if (document.getElementById("aadharnum").checked == true) {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "12";
        }
        else {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").style.display = 'none';
        }
    });
</script>
<script type="text/javascript">
     function bind_NSQFSUB6(selectedVal) {

        var selected_NsqfPattern = { val: selectedVal };

            $.ajax({
                url: '@Url.Action("GetNSQFSUB6_ByNSQF_Pattern", "RegistrationPortal")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selected_NsqfPattern),
                success: function (States) {

                    $.each(States, function (i, SList) {
                        $("#NSQFsubS6").append('<option value="'
                            + SList.Value + '">'
                            + SList.Text + '</option>');
                    });
                    var selectedVal_PreNSQF = $("#PreNSQF").val();
                    if (selectedVal_PreNSQF == "N05") {
                        $("#NSQFsubS6").append('<option value="N05">SECURITY</option>');
                    }
                    $("#NSQFsubS6").focus();
                    if (SList.success) {

                        //document.getElementById("MName").value = data.result;
                        // $("#TextBoxID").val(data.result.MName);
                    }
                    else {
                        alert('invalid ID' + data.success);
                    }
                }
            });
    }

    $("#NsqfPattern").change(function () {

        var selectedText = $(this).find("option:selected").text();
        var selectedVal = $("#NsqfPattern").val();

        var selectedVal_NSQFsubS6 = $("#NSQFsubS6").val();
        if (selectedVal == "2") {
            $('#NSQFSUB').css("display", "block");
            $("#NSQFsubS6").empty();
          bind_NSQFSUB6('2');
        }
        else if (selectedVal == "4") {
            $('#NSQFSUB').css("display", "block");
            var selectedVal_PreNSQF = $("#PreNSQF").val();
            var selectedText_PreNSQF = $("#PreNSQF").find("option:selected").text();

            $("#NSQFsubS6").empty();
            $("#NSQFsubS6").append('<option value="NO">NO</option>');
            $("#NSQFsubS6").append('<option value="' + selectedVal_PreNSQF + '">' + selectedText_PreNSQF + '</option>');
        }
        else {
            $('#NSQFSUB').css("display", "block");
            $("#NSQFsubS6").empty();
        }
    });

     $("#PreNSQF").change(function () {

        var selectedText = $(this).find("option:selected").text();
        var selectedVal = $("#PreNSQF").val();//document.getElementById("#MyDist");
         $("#NsqfPattern").prop('disabled', false);
         if (selectedVal == "" || selectedVal == "0" ) {
             $('#dvNSQFYESPATTERN').css("display", "none");
             $("#NsqfPattern").prop('required', false);
             $("#NsqfPattern").val('');
             $('#NSQFSUB').css("display", "none");
             $("#NSQFsubS6").empty();
         }
         else if (selectedVal == "NO") {
             $('#dvNSQFYESPATTERN').css("display", "none");
             $("#NsqfPattern").prop('required', true);
             $("#NsqfPattern").prop('disabled', true);
             $("#NsqfPattern").val('2');
             //
             $('#NSQFSUB').css("display", "block");
             $("#NSQFsubS6").empty();
             bind_NSQFSUB6('2');

         }
         else {
             $('#dvNSQFYESPATTERN').css("display", "none");
             $("#NsqfPattern").prop('required', true);
             $("#NsqfPattern").prop('disabled', true);
             $("#NsqfPattern").val('2');
             //
             $('#NSQFSUB').css("display", "block");
             $("#NSQFsubS6").empty();
             bind_NSQFSUB6('2');
         }

    });
</script>

<script type="text/javascript">
    function IsProvisional() {

        if (IsPro.checked) {
            document.getElementById("txtawregno").value = "";
            document.getElementById("txtadmisno").value = "";
            document.getElementById("txtawregno").disabled = true;
            document.getElementById("txtadmisno").disabled = true;

            $("#DocProofCertificate").prop('required', false);



        }
        else {
            document.getElementById("txtawregno").disabled = false;
            document.getElementById("txtadmisno").disabled = false;
            $("#DocProofCertificate").prop('required', true);
        }
    }

    function IsNRICandidateCheck() {
        if (IsNRICandidate.checked) {
            $("#DocProofNRICandidates").prop('required', true);
            document.getElementById("dvDocProofNRICandidates").style.visibility = 'visible';

        }
        else {
            $("#DocProofNRICandidates").prop('required', false);
            document.getElementById("dvDocProofNRICandidates").style.visibility = 'hidden';
        }
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {

        document.getElementById("OtherBoard").readOnly = true;
    });


    $("#ddlboard").change(function () {
        var selectedVal = $("#ddlcategory").val();
        var selectedBoard = $("#ddlboard").val();
        //alert(selectedVal);
        if (selectedBoard == "OTHER BOARD") {
            document.getElementById("OtherBoard").disabled = false;
            $('#OtherBoard').show();
            document.getElementById("OtherBoard").readOnly = false;
        }
        else {
            document.getElementById("OtherBoard").readOnly = true;
            document.getElementById("OtherBoard").disabled = true;
            $('#OtherBoard').val("");
        }


        $("#ddlyear").empty();
        var selectedData = { SelCat: selectedVal, SelForm: "E2", SelBoard: selectedBoard };

           $.ajax({
            url: '@Url.Action("BindRegistrationSessionYear", "RegistrationPortal")',
            type: 'Post',
            contentType: 'application/json',
            dataType: 'json',
             data: JSON.stringify(selectedData),
               success: function (States) {
                   document.getElementById("ddlyear").disabled = false;

                   $("#ddlyear").append('<option value="0">--Select Year--</option>');
                $.each(States, function (i, yearlist) {

                    $("#ddlyear").append('<option value="'
                       + yearlist.Value + '">'
                       + yearlist.Text + '</option>');
                });

                if (yearlist.success) {

                }
                else {
                    alert('invalid ID' + data.success);
                }
            }
           });
           //////////////////file admission year on change of board
        $("#ddlMyear").empty();
           $.ajax({
            url: '@Url.Action("BindRegistrationSessionYear_adm", "RegistrationPortal")',
            type: 'Post',
            contentType: 'application/json',
            dataType: 'json',
             data: JSON.stringify(selectedData),
               success: function (States) {
                   document.getElementById("ddlMyear").disabled = false;

                   $("#ddlMyear").append('<option value="0">--Select Year--</option>');
                $.each(States, function (i, yearlist) {

                    $("#ddlMyear").append('<option value="'
                       + yearlist.Value + '">'
                       + yearlist.Text + '</option>');
                });

                if (yearlist.success) {

                }
                else {
                    alert('invalid ID' + data.success);
                }
            }
           });



    });
</script>
<script type="text/javascript">
    function ChkIsPrevSchoolSelf() {
        if (IsPrevSchoolSelf1.checked) {
            var Svalue = '@Request.RequestContext.HttpContext.Session["FullSchoolNameE"]';
            document.getElementById('prevschoolname').value = Svalue;
            document.getElementById('prevschoolnameHF').value = Svalue;
            document.getElementById("prevschoolname").disabled = true;
        }
        else {
            document.getElementById('prevschoolname').value = "";
            document.getElementById('prevschoolnameHF').value = "";
            document.getElementById("prevschoolname").disabled = false;
        }
    }
    function MyRegcheck() {

        if (IsPSEBRegNum.checked) {

            document.getElementById("Registrationnum").style.visibility = 'visible';
        }
        else {
            document.getElementById('Registrationnum').value = "";
            document.getElementById("Registrationnum").style.visibility = 'hidden';
        }
    }

</script>

<script>

    $('#Reset').click(function () {
        alert('1');
        //$('#myform')[0].reset();
        $('#searchform').trigger("reset");
    });



</script>


<script type="text/javascript">



    $(document).ready(function () {


var dee = '@ViewBag.admdate';
        var startdee='@ViewBag.StartAdmDate';
        $("#txtadmisndate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: dee,
            minDate: startdee,
            // maxDate: dee,
            //minDate: new Date('2022/04/01'),
            yearRange: '2023:' + (new Date().getFullYear())

        });
        $("#DOB").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: '-10Y',
            yearRange: "1969:2020"

        });
    });


    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 9 && keyCode != 46) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 9) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }

    function isNumberOnly(e) {
        var keyCode = (e.which) ? e.which : e.keyCode;
        if (keyCode > 31 && (keyCode < 48 || keyCode > 57)) {
            alert("Only Number Allowed!!");
            return false;
        }
        return true;
    }


    function validate_fileupload(fileName) {
        var allowed_extensions = new Array("jpg");
        var file_extension = fileName.split('.').pop(); // split function will split the filename by dot(.), and pop function will pop the last element from the array which will give you the extension as well. If there will be no extension then it will return the filename.

        for (var i = 0; i <= allowed_extensions.length; i++) {
            if (allowed_extensions[i] == file_extension) {
                return true; // valid file extension
            }
        }
        //document.getElementById("Photo").focus();
        //alert("please upload file");
        //return false;
    }

</script>
<script>

    function findSizeAndPreview(input) {
        if (typeof ($("#Photo")[0].files) != "undefined") {

            var ext = $('#Photo').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['jpg', 'jpeg']) == -1) {
                alert('Only  .jpg and .jpeg format file allowed ');
                $('#Photo').val('');
                ('#imgPhoto').hide();
                return false;
            }

            var size = parseFloat($("#Photo")[0].files[0].size / 1024).toFixed(2);
            if (parseInt(size) >= 5 && parseInt(size) <= 50) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#imgPhoto').attr('src', e.target.result);

                }
                filerdr.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 5) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    $('#Photo').val('');
                    ('#imgPhoto').hide();
                }
                if (parseInt(size) > 50) {
                    alert("Your file size is too large that is " + size + " KB.");
                    $('#Photo').val('');
                    ('#imgPhoto').hide();
                }


            }
        }

    }

    function findSizeAndPreviewSign(input) {
        if (typeof ($("#Sign")[0].files) != "undefined") {

            var ext = $('#Sign').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Only .gif, .png, .jpg and .jpeg format file allowed ');
                $('#Sign').val('');
                ('#imgSign').hide();
                return false;
            }

            var size = parseFloat($("#Sign")[0].files[0].size / 1024).toFixed(2);
            // alert(size);
            if (parseInt(size) >= 1 && parseInt(size) <= 50) {
                var filerdrS = new FileReader();
                filerdrS.onload = function (e) {
                    $('#imgSign').attr('src', e.target.result);

                }
                filerdrS.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 1) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    $('#Sign').val('');
                    ('#imgSign').hide();
                }
                if (parseInt(size) > 50) {
                    alert("Your file size is too large that is " + size + " KB.");
                    $('#Sign').val('');
                    ('#imgSign').hide();
                }

            }
        }

    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Father_Name').change(function () {
            var selectedText = { text: $("#Father_Name").val() };
            var Father_Name_P = { text1: $("#Father_Name_P").val() };
            var fname = document.getElementById('Father_Name').value;
            var fnameP = document.getElementById('Father_Name_P').value;
            if (fnameP == "") {

                $.ajax({
                    url: '@Url.Action("getPunjabiName", "School")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        //  alert("Father Name: " + result);
                        $('#Father_Name_P').val(result);
                    }
                });
            }
        });

        $('#Candi_Name').change(function () {
            var selectedText = { text: $("#Candi_Name").val() };
            var cname = document.getElementById('Candi_Name').value;
            var cnameP = document.getElementById('Candi_Name_P').value;
            if (cnameP == "") {
                $.ajax({
                    url: '@Url.Action("getPunjabiName", "School")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        //  alert("Candidate Name: " + result);
                        $('#Candi_Name_P').val(result);
                    }
                });
            }
        });

        $('#Mother_Name').change(function () {
            var selectedText = { text: $("#Mother_Name").val() };
            var mname = document.getElementById('Mother_Name').value;
            var mnameP = document.getElementById('Mother_Name_P').value;
            if (mnameP == "") {
                $.ajax({
                    url: '@Url.Action("getPunjabiName", "School")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        //  alert("Mother Name: " + result);
                        $('#Mother_Name_P').val(result);
                    }
                });
            }
            });
    });

</script>

<script type="text/javascript">

    var candidateName = "";
    var Schoolcode = "";
    var cls = "";
    var formname = "";
    var ApprovalUp = "";


            $(document).ready(function () {

                $("#MyDist").change(function () {

                    var selectedDIST = { DIST: $("#MyDist").val() };
                    //var selectedText = $(this).find("option:selected").text();
                    // document.getElementById("hidText").value = selectedText;
                    //alert(document.getElementById("hidText").value);
                    $.ajax({
                        url: '@Url.Action("GetTehID", "RegistrationPortal")',
                        type: 'Post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(selectedDIST),
                        success: function (States) {
                            //alert(StatesList);
                            //document.getElementById("Address").value = StatesList;
                            $("#MyTeh").empty();

                            $.each(States, function (i, TehList) {
                                $("#MyTeh").append('<option value="'
                                   + TehList.Value + '">'
                                   + TehList.Text + '</option>');
                            });
                            if (TehList.success) {

                                //document.getElementById("MName").value = data.result;
                                // $("#TextBoxID").val(data.result.MName);
                            }
                            else {
                                alert('invalid ID' + data.success);
                            }
                        }
                    });
                });
           $("#requestID").on("focusout", function () {

                var requestId = $("#requestID").val();
                var CandName = $("#Candi_Name").val();

    // Get input value using jQuery

                    if (requestId.length === 8) {

                        $("#requestID").prop("disabled", true);

                        var Data = "";

                        var requestData = { requestID: requestId, CandName: CandName }; // Use the correct variable
                        $.ajax({
                            url: '@Url.Action("ValidateRequestID", "Master")',
                            type: 'POST',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(requestData),
                            success: function (Data) { // Use 'data' as the parameter

                                if (Data.status != "OK") {
                                    $("#requestID").prop("disabled", false);
                                    $("#txtadmisndate").prop("disabled", true);

                                    document.getElementById("txtadmisndate").value = "";
                                    document.getElementById("requestID").value = "";
                                    $("#txtadmisndate").css("background-color", "#555");
                                    alert(Data.status);

                                }
                                else {
                                    $("#txtadmisndate").css("background-color", "white");
                                    $("#requestID").prop("disabled", false);

                                    candidateName = Data.candName;
                                    Schoolcode = Data.schoolName;
                                    cls = Data.cls;
                                    formname = Data.formName;
                                    ApprovalUp = Data.ApprovalUp;

                                    $("#txtadmisndate").prop("disabled", false);
                                    $("#txtadmisndate").datepicker('option', 'maxDate', ApprovalUp);
                                    if (CandName != "" && CandName != null) {
                                        checkCandidateName();
                                    }

                                }

                            },
                            error: function (error) {

                                console.error('API Error:', error);
                                $("#requestID").prop("disabled", false);
                            }
                        });
                    }
                    else {
                        alert("Please Enter 8 digit RequestId");
                        $("#requestID").val('');
                    }

        });

            });


    function checkCandidateName() {
        if ($("#IsLAdm").prop("checked") == true && $("#requestID").val()!="" ) {
            cndName = $("#Candi_Name").val();
            if ($("#requestID").val().length != 8) {
                alert("Please Enter Valid RequestId");
                document.getElementById("txtadmisndate").value = "";
                document.getElementById("requestID").value = "";
                document.getElementById("Candi_Name").value = "";
                document.getElementById("Candi_Name_P").value = "";
                $("#txtadmisndate").prop("disabled", true);
                $("#txtadmisndate").css("background-color", "#555");
                $("#requestID").focus();

            }
            else {
                if (formname != "E2") {
                    alert("Invalid Form !!..")
                    document.getElementById("txtadmisndate").value = "";
                    document.getElementById("requestID").value = "";
                    document.getElementById("Candi_Name").value = "";
                    document.getElementById("Candi_Name_P").value = "";
                    $("#txtadmisndate").prop("disabled", true);
                    $("#txtadmisndate").css("background-color", "#555");

                }
                if (cndName != candidateName) {
                    alert("Particular Name Not Matched !!..")
                    document.getElementById("txtadmisndate").value = "";
                    document.getElementById("requestID").value = "";
                    document.getElementById("Candi_Name").value = "";
                    document.getElementById("Candi_Name_P").value = "";
                    $("#txtadmisndate").prop("disabled", true);
                    $("#txtadmisndate").css("background-color", "#555");



                }
            }


        }
    }


</script>
<script type="text/javascript">
    function valForm() {

        var IsLAdm_Val = document.getElementById("IsLAdm");
       if ($('#IsLAdm').prop("checked") == true)
        {
            var requestID = document.getElementById("requestID");
            if (requestID.value == "0"|| requestID.value == "") {
                alert("Enter request ID ");
                document.getElementById("requestID").focus();
                return false;
            }
            var selectedText = { RID: $("#requestID").val(),CNM: $("#Candi_Name").val(),FNM: $("#Father_Name").val(),MNM: $("#Mother_Name").val(),DOB: $("#DOB").val() };
            $.ajax({
                url: '@Url.Action("GetLateAdmRIDDataVerify", "RegistrationPortal")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selectedText),
                success: function (result) {
                    //alert(result.sn);
                    if (result.sn == 0) {
                        //alert("Late Admission Data verified Successfully.");
                        alert("Late Admission Data Not Matched, Please try again!!.");
                        document.getElementById("requestID").focus();
                        return false;
                        //document.getElementById("requestID").focus();
                    }
                }

            });
        }
       // var pass1 = document.getElementById('txt_mobileno');


        var IsNRICandidate = document.getElementById("IsNRICandidate");
        if (IsNRICandidate.checked == true) {
            if ($('#DocProofNRICandidates').get(0).files.length === 0) {
                alert("Please upload  Equivalency Letter for N.R.I Candidates..");
                document.getElementById("DocProofNRICandidates").focus();
                return false;
            }
        }



            var cat = document.getElementById("ddlcategory");
            if (cat.value == "0") {
                alert("Select Category");
                cat.focus();
                return false;
            }
            var board = document.getElementById("ddlboard");

            if (board.value == "0") {
                alert("Select Board");
                board.focus();
                return false;
            }
            var otherboard = document.getElementById("OtherBoard");
            var selb = document.getElementById('ddlboard').value;
            //alert(selb);
            if (selb == 'OTHER BOARD')
            {
                if (otherboard.value == "")
                {
                    alert("Enter Other Board Name.");
                    otherboard.focus();
                    return false;
                }

            }
            var txtbrollno = document.getElementById("txtboardroll");
            if (txtbrollno.value == "") {
                alert("Enter Board/School Roll No.");
                txtbrollno.focus();
                return false;
            }

            var txtprename = document.getElementById("prevschoolname");
            if (txtprename.value == "") {
                alert("Enter Previous School Name");
                txtprename.focus();
                return false;
            }
            var ddlmonth = document.getElementById("ddlmonthses");
            if (ddlmonth.value == "0" || ddlmonth.value == "") {
                alert("Select Month");
                ddlmonth.focus();
                return false;
        }

            var regnum = document.getElementById("Registrationnum");
            var chkPsebreg = document.getElementById("IsPSEBRegNum");

            if (chkPsebreg.checked == true) {
                if (Registrationnum.value == "") {

                    alert("Enter P.S.E.B Alloted Reg No ");
                    regnum.focus();
                    return false;
                }

            }
            if (document.getElementById("Registrationnum").value != "") {
                var regnum123 = document.getElementById("Registrationnum").value;
                var chlregnum = regnum123.charAt(0);
                //alert(chlregnum);
                if (((chlregnum != "b") && (chlregnum != "B")) || regnum123.length <= 5) {
                    alert('Registration Number is not valid which you entered. Kindly enter only valid PSEB allotted registration number');
                    document.getElementById("Registrationnum").focus();
                    return false;
                }
            }

            var ddlmonth = document.getElementById("ddlMmonthses");
            if (ddlmonth.value == "0" || ddlmonth.value == "") {
                alert("Select Matric Month");
                ddlmonth.focus();
                return false;
            }
            var ddlmyear = document.getElementById("ddlMyear");
            if (ddlmyear.value == "0" || ddlmyear.value == "") {
                alert("Select matric Year");
                ddlmyear.focus();
                return false;
            }
            if (txtMetricroll.value == "") {
                alert("Please Enter Matric Roll");
                txtMetricroll.focus();
                return false;
            }
            var mb = document.getElementById("ddlMboard");
            if (mb.value == "0" || mb.value == "") {
                alert("Select Matric Board");
                mb.focus();
                return false;
            }
            var mres = document.getElementById("MatricResult");
            if (mres.value == "0" || mres.value == "") {
                alert("Select Matric Result");
                mres.focus();
                return false;
        }

        // New condition
        if (parseInt(ddlmyear.value) > 2000 && mb.value == "P.S.E.B BOARD") {
            if (document.getElementById("Registrationnum").value == "") {
                alert('Please Enter P.S.E.B Alloted Registration Number which Starts With Letter "B OR b"');

                return false;
            }
        }


            //var RNumber = document.getElementById('txtMetricroll').value;
            //var PR = /^[M][0-9]*$/;

            //if (!PR.test(RNumber)) {
            //    alert("Matric Roll number should be start with 'M-O' Exap:- M-O12334");
            //    txtMetricroll.focus();
            //    return false;
            //}
            //var regnum1 = document.getElementById("Registrationnum").value;

            var awregno = document.getElementById("txtawregno");
            var ispro = document.getElementById("IsPro");
            if (ispro.checked == false) {
                if (awregno.value == "") {
                    alert("Enter A.W.Reg. No.");
                    awregno.focus();
                    return false;
                }
                if ($('#DocProofCertificate').get(0).files.length === 0) {
                    alert("Upload Documents as per instructions.");
                    document.getElementById("DocProofCertificate").focus();
                    return false;
                }

            }

            var txtadmisno = document.getElementById("txtadmisno");
            var ispro = document.getElementById("IsPro");
            if (ispro.checked == false) {
                if (txtadmisno.value == "") {
                    alert("Enter Admission No.");
                    txtadmisno.focus();
                    return false;
                }
            }

            //var awregno = document.getElementById("txtawregno");
            //if (awregno.value == "") {
            //    alert("Enter A.W.Reg. No.");
            //    awregno.focus();
            //    return false;
            //}

            //var txtadmisno = document.getElementById("txtadmisno");
            //if (txtadmisno.value == "") {
            //    alert("Enter Admission No.");
            //    txtadmisno.focus();
            //    return false;
            //}
            var txtadmisndate = document.getElementById("txtadmisndate");
            if (txtadmisndate.value == "") {
                alert("Enter Admission Date");
                txtadmisndate.focus();
                return false;
            }


            var CurrentClassRollNumber = document.getElementById("txt_CurrentClassRollNumber");
            if (CurrentClassRollNumber.value == "") {
                alert("Enter Class Roll No./ Section");
                CurrentClassRollNumber.focus();
                return false;
            }
            var ddlSection = document.getElementById("ddlSection");
            if (ddlSection.value == "0") {
                alert("Select Section");
                ddlSection.focus();
                return false;
            }
            var txt_cand_nm = document.getElementById("Candi_Name");
            if (txt_cand_nm.value == "") {
                alert("Enter Candidate Name");
                txt_cand_nm.focus();
                return false;
            }
            var regExp = /^[A-Za-z0-9]+$/;
            var txt_candnm_pun = document.getElementById("Candi_Name_P");
            if (txt_candnm_pun.value == "") {
                alert("Enter Candidate Name in Punjabi");
                txt_candnm_pun.focus();
                return false;
            }
            if (txt_candnm_pun.value.trim().length != 0) {
                if (txt_candnm_pun.value.match(regExp)) {
                    alert("Candidate Name in Punjabi, Should Neither be in English nor In digit, Please Use Punjabi Key Board");
                    txt_candnm_pun.focus();
                    return false;

                }
            }
            var txt_fathernm = document.getElementById("Father_Name");
            if (txt_fathernm.value == "") {
                alert("Enter Father Name");
                txt_fathernm.focus();
                return false;
            }
            var txt_fathernm_Pun = document.getElementById("Father_Name_P");
            if (txt_fathernm_Pun.value == "") {
                alert("Enter Father Name in Punjabi");
                txt_fathernm_Pun.focus();
                return false;
            }
            if (txt_fathernm_Pun.value.trim().length != 0) {
                if (txt_fathernm_Pun.value.match(regExp)) {
                    alert("Father Name in Punjabi, Should Neither be in English nor In digit, Please Use Punjabi Key Board");
                    txt_fathernm_Pun.focus();
                    return false;

                }
            }
            var Mother_Name = document.getElementById("Mother_Name");
            if (Mother_Name.value == "") {
                alert("Enter Mother Name");
                Mother_Name.focus();
                return false;
            }
            var Mother_Name_P = document.getElementById("Mother_Name_P");
            if (Mother_Name_P.value == "") {
                alert("Enter Mother Name in Punjabi");
                Mother_Name_P.focus();
                return false;
            }
            if (Mother_Name_P.value.trim().length != 0) {
                if (Mother_Name_P.value.match(regExp)) {
                    alert("Mother Name in Punjabi, Should Neither be in English nor In digit, Please Use Punjabi Key Board");
                    Mother_Name_P.focus();
                    return false;

                }
            }
            var ddl_caste = document.getElementById("ddl_caste");
            if (ddl_caste.value == "0") {
                alert("Select Caste");
                ddl_caste.focus();
                return false;
            }

            var ddl_religion = document.getElementById("ddl_religion");
            if (ddl_religion.value == "0") {
                alert("Select Religion");
                ddl_religion.focus();
                return false;
            }
            var ddlDA = document.getElementById("DA");
            var tdp = document.getElementById("DP");
            if (ddlDA.value != "N.A.") {
                if (tdp.value == "") {
                    alert("Enter Disability Percentage");
                    document.getElementById("DP").focus();
                    return false;
                }
                if (tdp.value == "0") {
                    alert("Disability Percentage should be between 1-100");
                    document.getElementById("DP").focus();
                    return false;
                }

            }
            if (tdp.value > 100) {
                alert("Disability Percentage should be smaller than 100");
                document.getElementById("DP").focus();
                return false;
            }

            if (document.getElementById("DOB").value.trim().length == 0) {
                alert('Enter Date of Birth');
                document.getElementById("DOB").focus();
                return false;
            }
            if (txt_mobileno.value == "") {
                alert("Please Enter Mobile Number");
                txt_mobileno.focus();
                return false;
            }
            if (txt_mobileno.value.length != 10) {

                alert("Please Enter 10 digits Mobile Number");
                txt_mobileno.focus();
                return false;
            }

            if (document.getElementById("male").checked == false && document.getElementById("female").checked == false && document.getElementById("transgender").checked == false) {
                alert('Choose Gender');
                document.getElementById("male").focus();
                return false;
            }
            var z = document.getElementById("epsid").value;
            var numbers = /^[0-9]+$/;
            if (z != "") {
                if (!z.match(numbers)) {
                    alert('Please input numeric characters only');
                    document.getElementById("epsid").focus();
                    return false;
                }

            }
        if (document.getElementById("aadharnum").checked == false && document.getElementById("Enrollmemtnum").checked == false && document.getElementById("NA").checked == false ) {
                alert('Choose Aadhar/ Enrollment');
                document.getElementById("txt_aadharno").focus();
                return false;
            }

            //if (document.getElementById("txt_aadharno").value.trim().length == 0) {
            //    alert('Enter Aadhar No');
            //    document.getElementById("txt_aadharno").focus();
            //    return false;
            //}

            var Enum = document.getElementById('Enrollmemtnum').value;
            if (document.getElementById("Enrollmemtnum").checked == true) {

                  {
                    if (txt_aadharno.value.trim().length != 28) {
                        alert("Please Enter 28 digits Enrollment No");
                        txt_aadharno.focus();
                        document.getElementById("Enrollmemtnum").checked = true
                        return false;
                    }
                }

            }
            var aanum = document.getElementById('aadharnum').value;
            if (document.getElementById("aadharnum").checked == true) {
                 {
                    if (txt_aadharno.value.trim().length != 12) {
                        alert("Please Enter 12 digits Aadhar No");
                        document.getElementById("aadharnum").checked = true
                        txt_aadharno.focus();
                        return false;
                    }
                }
            }

            //if (document.getElementById("txt_aadharno").value.trim() != "") {
            //    if (txt_aadharno.value.trim().length != 12) {
            //        alert("Please Enter 12 digits Aadhar No");
            //        txt_aadharno.focus();
            //        return false;
            //    }
            //}

            var ddlCandiMedium = document.getElementById("CandiMedium");
            if (ddlCandiMedium.value == "0" || ddlCandiMedium.value == "") {
                alert("Select Candidate Medium");
                ddlCandiMedium.focus();
                return false;
            }


            var ddlGroup = document.getElementById("MyGroup");
            if (ddlGroup.value == "" | ddlGroup.value == "0") {
                alert("Select Your Group");
                ddlGroup.focus();
                return false;
            }

            if ('@ViewData["NSQFSCHOOL"].ToString()' == "1" && ddlGroup.value == "HUMANITIES") {


                var ddlPrenssub = document.getElementById("PreNSQF");
                if (ddlPrenssub.value == "" || ddlPrenssub.value == "Null" || ddlPrenssub.value == "0") {
                    alert("Select Previous Class NSQF");
                    return false;
              }

              var selectedVal = $("#NSQFsubS6").val();
              var selectedValNsqfPattern = document.getElementById("NsqfPattern");
              if (selectedVal == "" || selectedVal == "0" || selectedVal == "NO") {
              }
              else {

                  if (selectedValNsqfPattern.value == "" || selectedValNsqfPattern.value == "0") {
                      alert("Select Nsqf Pattern");
                      selectedValNsqfPattern.focus();
                      return false;
                  }
              }

        }


           if (document.getElementById("txt_address").value.trim().length == 0) {
                alert('Enter Address');
                document.getElementById("txt_address").focus();
                return false;
            }
           var ddldist = document.getElementById("MyDist");
           if (ddldist.value == "" || ddldist.value == "0" ) {
               alert("Select District");
               ddldist.focus();
               return false;
           }
           var ddlTeh = document.getElementById("MyTeh");
           if (ddlTeh.value == "" || ddlTeh.value == "0") {
               alert("Select Tehsil");
               ddlTeh.focus();
               return false;
           }

        var ddlCategory = document.getElementById("ddlcategory");
        var ddlPreviusMonth = document.getElementById("ddlmonthses");
        var ddlPreviuYear = document.getElementById("ddlyear");
        var ddlMatrixMonth = document.getElementById("ddlMmonthses");
        var ddlMatrixYear = document.getElementById("ddlMyear");

       
        if (ddlCategory.value == "11TH FAILED")
        {
            alert(ddlCategory.value);

            if (ddlMatrixYear.value > ddlPreviuYear.value) {

                alert("In 11TH FAILED MATRIX YEAR ALWAYS LESS THEN PREVIOUS YEAR");
                document.getElementById("ddlMyear").focus();
                return false;
            }
            
        }
        if (ddlCategory.value == "10TH PASSED") {

            //alert(ddlCategory.value);
            //alert(ddlMatrixYear.value);
            //alert(ddlPreviuYear.value);

            if (ddlMatrixYear.value != ddlPreviuYear.value) {

                alert("In 10TH PASSED MATRIX YEAR ALWAYS EQUAL TO PREVIOUS YEAR");
                document.getElementById("ddlMyear").focus();
                return false;
            }
        }
    
       

            if (document.getElementById("txt_pincode").value.trim().length == 0) {
                alert('Enter Pincode');
                document.getElementById("txt_pincode").focus();
                return false;
            }

        debugger;


            if (document.getElementById("txt_pincode").value != "") {
                if (txt_pincode.value.length != 6) {
                    alert("Please Enter 6 digits Pincode");
                    txt_pincode.focus();
                    return false;
                }
            }


            var ddl_homesec = document.getElementById("Section");
            if (ddl_homesec.value == "0") {
                alert("Select Section");
                document.getElementById("Section").focus();
                return false;
            }


        debugger;




            return true;
        }

</script>
@*<script type='text/javascript'>
    var isCtrl = false;
    document.onkeyup=function(e)
    {
        if(e.which == 17)
        isCtrl=false;
    }
    document.onkeydown=function(e)
    {
        if(e.which == 17)
        isCtrl=true;

    }
    var isNS = (navigator.appName == "Netscape") ? 1 : 0;
    if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
    function mischandler(){
        return false;
    }
    function mousehandler(e){
        var myevent = (isNS) ? e : event;
        var eventbutton = (isNS) ? myevent.which : myevent.button;
        if((eventbutton==2)||(eventbutton==3)) return false;
    }
    document.oncontextmenu = mischandler;
    document.onmousedown = mousehandler;
    document.onmouseup = mousehandler;
    </script>*@


<script type="text/javascript">
        $(document).ready(function () {
            $('#IsLAdm').click(function () {
                if ($(this).prop("checked") == true) {
                    //alert("test");
                    $('#LadmSpn').css("visibility", "visible");
                    $('#txtadmisndate').prop("disabled", true);
                    //$('#divadmdate').css("class","col-md-2");
                }
                else {
                    $('#LadmSpn').css("visibility", "hidden");
                    $('#txtadmisndate').prop("disabled", false);
                    $("#txtadmisndate").css("background-color", "white"); 
                    //$('#divadmdate').css("class","col-md-4");
                    $("#requestID").val('');
                    $("#txtadmisndate").datepicker('option', 'maxDate', '@ViewBag.LateAdmDate');
                }
            });

            @*$('#requestID').change(function () {
                var selectedText = { RID: $("#requestID").val() };
                //var maxd='01/01/2020'; alert(maxd);
                //$("#txtadmisndate").datepicker('option', 'maxDate', new Date(maxd) );
                $.ajax({
                    url: '@Url.Action("GetLateAdmRIDVerify", "RegistrationPortal")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        // alert("Late Adm Date: " + result);
                        $("#txtadmisndate").datepicker('option', 'maxDate', result);
                    }
                });
            });*@
        });
</script>

