@model PSEBONLINE.Models.RegistrationSearchModelList
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<!-- #region datatables files -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- #endregion -->
<h1>List of Inserted Records of <span class="rqf">M1 Form </span> , Session 2023-2024</h1>
@if (Model.RegistrationSearchModel != null)
{

    <p>Total Students : @Model.RegistrationSearchModel.Count()</p>
    <div class="table-responsive">
        <table id="example" class="display table table-bordered" style="width:100%">
            <thead>
                <tr class="active-tr">
                    <th>Unique Id</th>
                    <th>Admission Date</th>
                    <th>Candidate Name</th>
                    <th>Father's Name</th>
                    <th>Mother's Name</th>
                    <th>DOB</th>
                    <th>Lot</th>
                    <th>Insert Date</th>
                    <th>Modify Date</th>
                    <th>Update Detail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.RegistrationSearchModel)
                {
                    <tr>
                        <td>
                            @obj.Std_id
                            @* Modal Start*@
                            <div class="container">
                                <div class="modal fade" id="myModal1-@obj.Std_id" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title">Student Details : <span style="color:red;">@obj.Std_id</span> </h3>
                                            </div>
                                            <div class="modal-body">
                                                <table width="100%">
                                                    <tr>
                                                        <td>SCHL CODE</td>
                                                        <td><label>@obj.schl</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Candidate Name</td>
                                                        <td><label>@obj.Candi_Name</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Father Name</td>
                                                        <td><label>@obj.Father_Name</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mother Name</td>
                                                        <td><label>@obj.Mother_Name</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="28%">Student ID</td>
                                                        <td><label>@obj.Std_id</label></td>
                                                    </tr>

                                                    <tr>
                                                        <td width="28%">Aadhar / Enrollment No.</td>
                                                        <td>
                                                            <input type="text" id="Aadharnum-@obj.Std_id" name="Aadharnum" onpaste="return false;" class="aadhar" value="@obj.aadhar_num" onkeypress="return isNumberKey(event);" />
                                                            <br />
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td width="28%">Caste</td>
                                                        <td>
                                                            @{
                                                                List<SelectListItem> CastList = new List<SelectListItem>();
                                                                CastList.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                                                CastList.Add(new SelectListItem { Text = "GENERAL", Value = "GENERAL" });
                                                                CastList.Add(new SelectListItem { Text = "BC", Value = "BC" });
                                                                CastList.Add(new SelectListItem { Text = "OBC", Value = "OBC" });
                                                                CastList.Add(new SelectListItem { Text = "SC", Value = "SC" });
                                                                CastList.Add(new SelectListItem { Text = "ST", Value = "ST" });
                                                                CastList.Add(new SelectListItem { Text = "Others", Value = "Others" });
                                                            }
                                                            @Html.DropDownList("Caste", CastList, obj.Caste , new { id = "Caste-" + obj.Std_id })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="28%">Gender</td>
                                                        <td>
                                                            @{
                                                                List<SelectListItem> GENList = new List<SelectListItem>();
                                                                GENList.Add(new SelectListItem { Text = "---Select Gender---", Value = "0" });
                                                                GENList.Add(new SelectListItem { Text = "MALE", Value = "MALE" });
                                                                GENList.Add(new SelectListItem { Text = "FEMALE", Value = "FEMALE" });
                                                                GENList.Add(new SelectListItem { Text = "Transgender", Value = "Trans" });
                                                            }
                                                            @Html.DropDownList("Gender", GENList, obj.Gender, new { id = "Gender-" + obj.Std_id })
                                                        </td>

                                                    </tr>

                                                    <tr>

                                                        <td width="28%">BPL</td>

                                                        <td>
                                                            @{
                                                                List<SelectListItem> BPLList = new List<SelectListItem>();
                                                                BPLList.Add(new SelectListItem { Text = "---Select BPL---", Value = "0" });
                                                                BPLList.Add(new SelectListItem { Text = "YES", Value = "YES" });
                                                                BPLList.Add(new SelectListItem { Text = "NO", Value = "NO" });
                                                            }
                                                            @Html.DropDownList("Belongs_BPL", BPLList, obj.Belongs_BPL, new { id = "Belongs_BPL-" + obj.Std_id })
                                                        </td>

                                                    </tr>

                                                    <tr>

                                                        <td width="28%">Religion</td>

                                                        <td>
                                                            @{
                                                                List<SelectListItem> Relist = new List<SelectListItem>();
                                                                Relist.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                                                Relist.Add(new SelectListItem { Text = "HINDU", Value = "HINDU" });
                                                                Relist.Add(new SelectListItem { Text = "MUSLIM", Value = "MUSLIM" });
                                                                Relist.Add(new SelectListItem { Text = "SIKH", Value = "SIKH" });
                                                                Relist.Add(new SelectListItem { Text = "CHRISTIAN", Value = "CHRISTIAN" });
                                                                Relist.Add(new SelectListItem { Text = "OTHERS", Value = "OTHERS" });

                                                            }
                                                            @Html.DropDownList("Religion", Relist, obj.Religion, new { id = "Religion-" + obj.Std_id })
                                                        </td>

                                                    </tr>

                                                    <tr>

                                                        <td width="28%">E-Punjab Id</td>

                                                        <td>

                                                            <input type="text" id="epunid-@obj.Std_id" name="epunid" onpaste="return false;" class="epunid" value="@obj.E_punjab_Std_id" onkeypress="return isNumberKey(event);" />
                                                            <br />
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><input type="button" class="btn" value="Update aadhar,Caste,BPL,Gen,Religion" id="btnSave" onclick="SubMarks('@obj.Std_id','@obj.aadhar_num', '@obj.schl')" /></td>
                                                    </tr>


                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>


                            @* Modal End*@
                        </td>
                        <td>@obj.Admission_Date </td>
                        <td>@obj.Candi_Name </td>
                        <td>@obj.Father_Name </td>
                        <td>@obj.Mother_Name </td>
                        <td>@obj.DOB</td>
                        <td>@obj.LOT</td>
                        <td>@obj.CreatedDate</td>
                        <td>@obj.UPDT</td>
                        <td>
                            <div class="cart">
                                Choose Action <span class="caret"></span>
                                <div id="sidebar">
                                    <ul>
                                        @*<li>@Html.ActionLink("View", "M1formview", new { id = encrypt.QueryStringModule.Encrypt(@obj.Std_id.ToString()) })</li>*@
                                        <li> @Html.ActionLink("View", "CommanFormView", new { id = encrypt.QueryStringModule.Encrypt(@obj.Std_id.ToString()), formNM = "M1" })</li>
                                        @if (obj.LOT.ToString() == "0")
                                        {
                                            <li>@Html.ActionLink("Modify", "M1FormModify", new { id = encrypt.QueryStringModule.Encrypt(@obj.Std_id.ToString()) })</li>
                                            <li>@Html.ActionLink("Delete", "M1FormDelete", new { id = encrypt.QueryStringModule.Encrypt(@obj.Std_id.ToString()) }, new { onclick = "return confirm('Are you sure to delete this record?');" })</li>
                                        }
                                        @*<li><a href="" data-toggle="modal" data-target="#myModal1-@obj.Std_id.ToString()">Modify Aadhar No.</a></li>*@

                                    </ul>


                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 text-center" style="padding:15px 0">
        @*<input type="button" value="Add New Records" onclick="javascript:document.location.href='@Url.Action("M1Form", "RegistrationPortal")'" />*@
        <input type="button" value="Rough Report" onclick="javascript:document.location.href='@Url.Action("RoughReport", "RegistrationPortal", new { Form = "M1" })'" />
        <input type="button" value="Student Verification Form" onclick="javascript:document.location.href='@Url.Action("StudentVerificationForm", "RegistrationPortal", new { Form = "M1" })'">
        <input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("M1Form", "RegistrationPortal" )'" />
        <input type="button" value="Import Student Data" onclick="javascript:document.location.href='@Url.Action("M1Master", "RegistrationPortal")'" />
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "responsive": true,
            "lengthMenu": [[25, 50, 100], [25, 50, 100]],
            "processing": true,
            "pageLength": 25,
            "order": [[0, 'desc']],
            language: { "emptyTable": "No Record Found", searchPlaceholder: "Search By UniqueID, Candidate Name, Father's Name, Mother's Name, DOB.." },
        })
    });
</script>


<script type="text/javascript">
    function SubMarks(stdid, aadharEnroll, schl) {

        //alert("abc");
        //alert("stdid" + stdid);
        //alert("aadharEnroll" + $("#Aadharnum-" + stdid).val());
        var SCHL = schl;
        //var SCHL = $("#SCHL-" + stdid).val();
        var aa = $("#Aadharnum-" + stdid).val();
        var SelCaste = $("#Caste-" + stdid).val();
        var Selgen = $("#Gender-" + stdid).val();
        var SelBPL = $("#Belongs_BPL-" + stdid).val();
        var SelReligion = $("#Religion-" + stdid).val();
        var entpunid = $("#epunid-" + stdid).val();
        //alert(aa.length);
        //alert(SelBPL);
        // alert(SCHL);
        //txt_aadharno.value.trim().length
        if (SelCaste == "0") {
            alert('Select Caste');
            return false;
        }
        if (Selgen == "0") {
            alert('Select Gender');
            return false;
        }
        if (SelBPL == "0") {
            alert('Select BPL');
            return false;
        }
        if (SelReligion == "0") {
            alert('Select Religion');
            return false;
        }
        if (entpunid != "") {
            if (entpunid.length > 10) {
                alert('E-punjab-Id Should be Less or equal to 10 digit');
                return false;
            }
        }

        if (aa.length != 12 && aa.length != 28) {
            // alert(aa.length);
            alert('Enter Aadhar / Enrollment No , Aadhar No Should be 12 Digit and Enrollment No should be 28 digit');
            return false;
        }
        $.ajax({
            type: "POST",
            url: "../RegistrationPortal/UpdateAadharEnrollNo", // this for calling the web method function in cs code.
            data: '{std_id: "' + stdid + '",aadhar_num: "' + aa + '",SCHL:"' + SCHL + '",Caste:"' + SelCaste + '",gender:"' + Selgen + '",BPL:"' + SelBPL + '",Rel:"' + SelReligion + '",Epunid:"' + entpunid + '"}',// user name or email value
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                //alert(response.sn);
                if (response.sn == "1" || response.sn == "Yes") {
                    alert("Updated Successfully");
                    window.location.href = "/RegistrationPortal/M1formgrid";
                    $(".modal").hide();
                }
                else if (response.sn == "2" || response.sn == "No") {
                    alert("Not Updated, Examination Challan already Generated");
                    window.location.href = "/RegistrationPortal/M1formgrid";
                    $(".modal").hide();

                }
                else {
                    alert("not Updated.");
                }
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

</script>





