@model PSEBONLINE.Models.RegistrationModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
    var clscall = Model.AadharEnroll != "N.A." ? "block" : "none";
}

@using (Html.BeginForm("N3FormModify", "RegistrationPortal", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    <h1>
        Form (N3) for Class IX (Continuation) - Session 2023-2024
    </h1>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Student Id : @Model.Std_id </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="kdsrc">Note:-Do not use prefix like Smt.,Mr.,Dr.,Er. etc. </span>

            <p class="kdsfont-n">
                <b class="kdsrc">Note:-</b>
                <br>
                ਇਸ ਤੋਂ ਇਲਾਵਾ ਇਹ ਵੀ ਧਿਆਨ ਵਿੱਚ ਰੱਖਿਆ ਜਾਵੇ ਕਿ ਅੰਗਰੇਜੀ ਤੋਂ ਪੰਜਾਬੀ ਵਿੱਚ ਕੰਨਵਰਜਨ ਦੀ ਸੁਵਿਧਾ ਸਿਰਫ ਤੁਹਾਡੀ ਸਹਾਇਤਾ ਲਈ ਦਿੱਤੀ ਗਈ ਹੈ। ਜੇਕਰ ਕੰਨਵਰਜਨ ਦੌਰਾਨ ਪੰਜਾਬੀ ਦੇ ਵੇਰਵੇ ਸਹੀ ਕੰਨਵਰਟ ਨਹੀਂ ਹੁੰਦੇ ਤਾਂ ਇਸ ਨੂੰ ਪੰਜਾਬੀ ਵਾਲੇ ਖਾਨੇ ਦੇ ਨਾਲ ਲੱਗੇ ਕੀ-ਬੋਰਡ ਤੋਂ ਠੀਕ ਕੀਤਾ ਜਾਵੇ। ਪੰਜਾਬੀ ਦੇ ਵੇਰਵਿਆਂ ਵਿੱਚ ਵੀ ਹੋਈ ਗਲਤੀ ਲਈ ਜਿੰਮੇਵਾਰੀ ਤੁਹਾਡੀ ਹੋਵੇਗੀ। ਇਸ ਲਈ ਸਬਮਿਟ ਕਰਨ ਤੋਂ ਪਹਿਲਾਂ ਸਾਰੇ ਵੇਰਵਿਆਂ ਨੂੰ ਚੈਕ ਕਰਨਾ ਯਕੀਨੀ ਬਣਾਇਆ ਜਾਵੇ।
            </p>
            <p class="kdsfont-n">

                ਇਸ ਲਿੰਕ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ ਤੋਂ ਪਹਿਲਾਂ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਆਪਣੇ ਜਾਂ ਕਿਸੇ ਹੋਰ ਸਕੂਲ ਤੋਂ ਅੱਠਵੀਂ ਪਾਸ ਜਾਂ ਨੌਵੀਂ ਫੇਲ/ਗੈਰ ਹਾਜ਼ਰ/ਰੱਦ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਨਵੀਂ ਐਂਟਰੀ ਕੀਤੀ ਜਾਵੇ। ਐਂਟਰੀ ਕਰਨ ਸਮ੍ਹੇਂ ਪਹਿਲਾ ਜਾਰੀ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਜਰੂਰ ਭਰਿਆ ਜਾਵੇ।

            </p>
        </div>

    </div>
    <div class="clearfix"></div>
    <h4>Previous Class Information</h4>

    <div class="row">

        <div class="col-md-2">
            Category <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.HiddenFor(m => m.Std_id)
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(m => m.Category, new
                {

                    id = "Category",
                    @maxlength = "10",
                    @readOnly = "readOnly",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onkeypress = "return isNumberKey(event);"
                })
                @*@Html.DropDownList("Category", new SelectList(ViewBag.catg, "Value", "Text"), new { @Disabled = "Disabled" })*@
            }
            else
            {

                @Html.DropDownList("Category", new SelectList(ViewBag.catg, "Value", "Text"), new { })
            }
            @Html.Hidden("Category")
        </div>
        <div class="col-md-2">
            Board <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(m => m.Board, new
                {
                    id = "Board",
                    @readonly = "readonly",
                    @maxlength = "10",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onkeypress = "return isNumberKey(event);"
                })
                @*@Html.DropDownList("Board", new SelectList(ViewBag.MyBoard, "Value", "Text"), new { @Disabled = "Disabled" })*@
            }
            else
            {
                @Html.DropDownList("Board", new SelectList(ViewBag.MyBoard, "Value", "Text"), new { })
            }
            @Html.Hidden("Board")
            @*@Html.DropDownList("Board", new SelectList(ViewBag.MyBoard, "Value", "Text"), new { })*@
        </div>


        <div class="clearfix"></div>
        <div class="col-md-2"> Board/School Roll No. <span class="rqf">*</span></div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {

                @Html.TextBoxFor(m => m.Board_Roll_Num, new
                {
                    id = "txtboardroll",
                    @readonly = "readonly",
                    @maxlength = "10",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onkeypress = "return isNumberKey(event);"
                })
            }
            else
            {
                @Html.TextBoxFor(m => m.Board_Roll_Num, new { id = "txtboardroll", @maxlength = "10", onpaste = "return false;", oncopy = "return false;", oncut = "return false;", onkeypress = "return isNumberKey(event);" })
            }
        </div>

        <div class="col-md-2">
            Previous School Name <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    @if (Model.oldyear != null && Model.oldyear != "")
                    {
                        @Html.TextBoxFor(a => a.Prev_School_Name, new { id = "prevschoolname", @maxlength = "200", @readonly = "readonly", })
                        @Html.HiddenFor(m => m.Prev_School_Name, new { id = "prevschoolnameHF" })
                    }
                    else
                    {
                        @Html.TextBoxFor(a => a.Prev_School_Name, new { id = "prevschoolname", @maxlength = "200" })
                        @Html.HiddenFor(m => m.Prev_School_Name, new { id = "prevschoolnameHF" })
                    }

                </div>
                <div class="col-md-3">
                    @if (Model.oldyear != null && Model.oldyear != "")
                    {
                        @Html.CheckBoxFor(a => a.IsPrevSchoolSelf, new { id = "IsPrevSchoolSelf1", onclick = "return ChkIsPrevSchoolSelf(this);", @Disabled = "Disabled" })@: Self
                    }
                    else
                    {
                        @Html.CheckBoxFor(a => a.IsPrevSchoolSelf, new { id = "IsPrevSchoolSelf1", onclick = "return ChkIsPrevSchoolSelf(this);" })@: Self
                    }

                </div>

            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Session <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    @if (Model.oldyear != null && Model.oldyear != "")
                    {
                        @Html.TextBoxFor(m => m.Month, new
                        {

                            id = "Month",
                            @maxlength = "10",
                            @readOnly = "readOnly",
                            onpaste = "return false;",
                            oncopy = "return false;",
                            oncut = "return false;",
                            onkeypress = "return isNumberKey(event);"
                        })
                        @*@Html.DropDownList("Month", new SelectList(ViewBag.Mon, "Value", "Text"), new { id = "ddlmonthses", @Disabled = "Disabled" })*@
                    }
                    else
                    {
                        @Html.DropDownList("Month", new SelectList(ViewBag.Mon, "Value", "Text"), "--Select--", new { id = "ddlmonthses" })
                    }
                    @Html.Hidden("Month")
                </div>
                <div class="col-md-6">
                    @if (Model.oldyear != null && Model.oldyear != "")
                    {
                        @Html.TextBoxFor(m => m.Year, new
                        {

                            id = "Year",
                            @maxlength = "10",
                            @readOnly = "readOnly",
                            onpaste = "return false;",
                            oncopy = "return false;",
                            oncut = "return false;",
                            onkeypress = "return isNumberKey(event);"
                        })
                        @*@Html.DropDownList("Year", new SelectList(ViewBag.SessionYearList, "Value", "Text"), new { id = "ddlyear", @Disabled = "Disabled" })*@
                    }
                    else
                    {
                        @Html.DropDownList("Year", new SelectList(ViewBag.SessionYearList, "Value", "Text"), "--Select--", new { id = "ddlyear" })
                    }
                    @Html.Hidden("Year")
                </div>
            </div>
        </div>
        <div class="col-md-2">
            Registration No. <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(a => a.Registration_num, new { id = "Registrationnum", @maxlength = "50", @readonly = "readonly", })
            }
            else
            {
                @Html.TextBoxFor(a => a.Registration_num, new { id = "Registrationnum", @maxlength = "50" })
            }

        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="clearfix"></div>

    <h4>Current Class Details</h4>
    <div class="row">
        <div class="col-md-2">

            @Html.CheckBoxFor(m => m.Provisional, new { id = "IsPro", onclick = "return IsProvisional(this);" }) Is Provisional Admission
        </div>
        <div class="clearfix"></div><br />
        <div class="col-md-2">A.W.Register No. <span class="rqf">*</span> </div>
        <div class="col-md-4">@Html.TextBoxFor(a => a.AWRegisterNo, new { id = "txtawregno", @maxlength = "20" })</div>

        <div class="col-md-2"> Admission No. <span class="rqf">*</span> </div>
        <div class="col-md-4">@Html.TextBoxFor(a => a.Admission_Num, new { id = "txtadmisno", @maxlength = "5", onkeypress = "return isNumberOnly(event);" })</div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Admission Date <span class="rqf">*</span><br />
            <span style="display:block"> @Html.CheckBoxFor(m => m.IsLateAdm, new { id = "IsLAdm" })Is Late Admission </span>
        </div>
        <div class="col-md-2" id="LadmSpn" style="visibility:hidden">
            @Html.TextBoxFor(m => m.requestID, new { id = "requestID", @maxlength = "10", placeholder = "Enter Request ID" })
        </div>
        <div id="divadmdate" class="col-md-2">
            @Html.TextBoxFor(m => m.Admission_Date, "{0:dd/MM/yyyy}", new
            {
                id = "txtadmisndate",
                @placeholder = "Select Admission Date",
                @readonly = "readonly",
                @maxlength = "10",
                //onkeypress = "javascript: return false;",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;"

                //onkeydown = "return false;"
            })
        </div>

        <div class="col-md-2">
            Class Roll No./Section <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Class_Roll_Num_Section, new
                    {
                        id = "txt_CurrentClassRollNumber",
                        @maxlength = "3",
                        onpaste = "return false;",
                        oncopy = "return false;",
                        oncut = "return false;",
                        onkeypress = "return isNumberOnly(event);"
                    })
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("Section", new SelectList(ViewBag.SectionList, "Value", "Text"), new { id = "ddlSection" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 kdsrc">
            *A.W Register No-(Serial no of Admission Withdrawal Register)
        </div>
    </div>
    <div class="clearfix"></div>

    if (Model.IsImportedStudent == "1")
    {
        <div style="display:none">


            <h4>Correction in Particulars</h4>
            <div class="row">
                <div class="col-md-3"> Correction in Particulars? </div>
                <div class="col-md-3">@Html.DropDownListFor(model => model.IsCorrectionInParticular, new SelectList(ViewBag.YesNoListCP, "Value", "Text"), "-- Select --", new { })</div>
            </div>
            <div class="row">
                <div class="col-md-12" id="dvparticularcorrection" style="visibility: hidden">
                    <span>Select Authorized Persons for Correction Verify <span class="rqf">(If any staff details not available in below list then update/add their details in staff list (School Profile -> School Staff Details) )</span></span>
                    @Html.DropDownList("StaffId", new SelectList(ViewBag.StaffList, "Value", "Text"), "-- Select --", new { @onchange = "EpubjabStaffIdAvailability()" })

                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="dvstaffdetails" style="visibility: hidden">
                    <span id="lblStatus"></span>
                    <input id="EPunjabTeacherName" type="text" readonly />
                    <input id="EPunjabTeacherMobile" type="text" readonly />
                    <div id="loading10"></div>

                </div>
            </div>
        </div>
    }

    <h4>Personal Information</h4>
    <div class="row">
        <div class="col-md-2">  Candidate's Name <span class="rqf">*</span> </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(a => a.Candi_Name, new { id = "Candi_Name", @maxlength = "50", onkeypress = "return ValidateAlpha(event);", @readonly = "readonly", })
            }
            else
            {
                @Html.TextBoxFor(a => a.Candi_Name, new { id = "Candi_Name", @maxlength = "50", onkeypress = "return ValidateAlpha(event);" })
            }

        </div>
        @*<div class="col-md-4"> @Html.TextBoxFor(a => a.Candi_Name, new { id = "Candi_Name", @maxlength = "50" })</div>*@
        <div class="col-md-2 kdsfont">
            ÚÒÚÂ¤ØÏÁÛ ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {@Html.TextBoxFor(m => m.Candi_Name_P, new
                {
                    id = "Candi_Name_P",
                    @class = "keyboardInput",
                    @readonly = "readonly",
                    onKeyPress = "javascript:convertThis(event)",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onclick = "toggleKBMode1(event)",
                    onkeydown = "return false;",
                    lang = "pa"
                })}
        else
        {
            @Html.TextBoxFor(m => m.Candi_Name_P, new
            {
                id = "Candi_Name_P",
                @class = "keyboardInput",
                onKeyPress = "javascript:convertThis(event)",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onclick = "toggleKBMode1(event)",
                onkeydown = "return false;",
                lang = "pa"
            })
        }

        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">  Father's Name <span class="rqf">*</span>  </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(a => a.Father_Name, new { id = "Father_Name", @maxlength = "50", @readonly = "readonly", })
            }
            else
            {
                @Html.TextBoxFor(a => a.Father_Name, new { id = "Father_Name", @maxlength = "50" })
            }

        </div>
        <div class="col-md-2 kdsfont">
            ÚÆ¼Ø ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(m => m.Father_Name_P, new
                {
                    id = "Father_Name_P",
                    @readonly = "readonly",
                    @class = "keyboardInput",
                    onKeyPress = "javascript:convertThis(event)",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onclick = "toggleKBMode1(event)",
                    onkeydown = "return false;",
                    lang = "pa"
                })
            }
            else
            {
                @Html.TextBoxFor(m => m.Father_Name_P, new
                {
                    id = "Father_Name_P",
                    @class = "keyboardInput",
                    onKeyPress = "javascript:convertThis(event)",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onclick = "toggleKBMode1(event)",
                    onkeydown = "return false;",
                    lang = "pa"
                })
            }

        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">  Mother's Name <span class="rqf">*</span> </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(a => a.Mother_Name, new { id = "Mother_Name", @maxlength = "50", @readonly = "readonly" })

            }
            else
            {
                @Html.TextBoxFor(a => a.Mother_Name, new { id = "Mother_Name", @maxlength = "50" })

            }
        </div>
        <div class="col-md-2 kdsfont">
            ÌØ¼Ø ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(m => m.Mother_Name_P, new
                {
                    id = "Mother_Name_P",
                    @readonly = "readonly",
                    @class = "keyboardInput",
                    onKeyPress = "javascript:convertThis(event)",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onclick = "toggleKBMode1(event)",
                    onkeydown = "return false;",
                    lang = "pa"
                })
            }
            else
            {
                @Html.TextBoxFor(m => m.Mother_Name_P, new
                {
                    id = "Mother_Name_P",
                    @class = "keyboardInput",
                    onKeyPress = "javascript:convertThis(event)",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onclick = "toggleKBMode1(event)",
                    onkeydown = "return false;",
                    lang = "pa"
                })
            }

            @*@Html.TextBoxFor(a => a.Mother_Name_P)*@
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Caste / <span class="kdsfont">²Ø¼Û </span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("CasteSelected", new SelectList(ViewBag.Caste, "Value", "Text"), new { id = "ddl_caste" })
        </div>
        <div class="col-md-2">
            Gender / <span class="kdsfont">ÚÐâ¬</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">

            @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male", @checked = true })Male
            @*@Html.Label("male", "Male")*@

            @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female", })Female
            @*@Html.Label("female", "Female")*@

            @Html.RadioButtonFor(model => model.Gender, "Trans", new { id = "transgender", })Transgender


        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Differently Abled / <span class="kdsfont">ÚÒÐóª» ÓÌÏóÁØ </span>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Differently_Abled", new SelectList(ViewBag.DA, "Value", "Text"), new { })
            <span class="rqf" id="htxt">Note: Selected category must be notified by the Centre Government.</span>
        </div>
        <div class="col-md-2">
            Religion / <span class="kdsfont">ÄÏÌ</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Religion", new SelectList(ViewBag.RE, "Value", "Text"), new { id = "ddl_religion" })
        </div>
        <div class="clearfix"></div>
        <div id="sw" style="display:none;">
            <div class="col-md-2">
                Disability Percentage (1-100) <span class="kdsfont"></span> <span class="rqf">*</span>
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.DP, new { id = "DP", @maxlength = "2", onkeypress = "return isNumberOnly(event);" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Date of Birth / <span class="kdsfont">²ÅÌ ÚÌ¼Û</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @if (Model.oldyear != null && Model.oldyear != "")
            {
                @Html.TextBoxFor(m => m.DOB, new
                {
                    id = "DOB",
                    @readonly = "readonly",
                    @disabled = "disabled",
                    onkeydown = "return false;",
                    @maxlength = "10",
                    onkeypress = "javascript: return false;",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;"
                })

                @Html.HiddenFor(m => m.DOB)
            }
            else
            {
                @Html.TextBoxFor(m => m.DOB, new
                {
                    id = "DOB",
                    @readonly = "readonly",
                    @maxlength = "10",
                    onkeypress = "javascript: return false;",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;",
                    onkeydown = "return false;"
                })
            }

        </div>

        <div class="col-md-2">
            Mobile No. / <span class="kdsfont">ÌëÉØÚ¥Ð Åâ</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Mobile, new
            {
                id = "txt_mobileno",
                required = "required",
                @maxlength = "10",
                onpaste = "return false;",
                oncopy = "return false;",
                oncut = "return false;",
                onkeypress = "return isNumberOnly(event);"
            })
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Belongs to B.P.L / <span class="kdsfont">
                ÉÛ.ÆÛ.¤èÐ.
            </span>
        </div>
        <div class="col-md-4">
            @Html.RadioButtonFor(model => model.Belongs_BPL, "YES", new { id = "BPLYES", })YES
            @Html.RadioButtonFor(model => model.Belongs_BPL, "NO", new { id = "BPLNO", })NO
        </div>
        <div class="col-md-2"> E-Punjab Student ID / <span class="kdsfont">¥Û-Æâ²ØÉ Ó¶Þ¸â¶ ¤Ø¥Û¸Û</span></div>
        <div class="col-md-4">
            @*@Html.TextBoxFor(a => a.E_punjab_Std_id, new { @maxlength = "10" })*@
            @Html.TextBoxFor(m => m.E_punjab_Std_id, new { id = "epsid", @maxlength = "10", onkeypress = "return isNumberOnly(event);" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">  Aadhar No. / <span class="kdsfont">¤ÄØÏ Åâ</span>@*<span class="rqf">*</span>*@ </div>
        <div class="col-md-4">
            @Html.RadioButtonFor(model => model.AadharEnroll, "Aadhar", new { id = "aadharnum", @checked = true })<span>Aadhar No</span>
            @Html.RadioButtonFor(model => model.AadharEnroll, "Enrollmemt", new { id = "Enrollmemtnum", })<span>Enrollmemt No</span>
            @Html.RadioButtonFor(model => model.AadharEnroll, "N.A.", new { id = "aadharnumna" })<span>N.A.</span>
            @Html.TextBoxFor(m => m.Aadhar_num, new { id = "txt_aadharno", @maxlength = "12", onkeypress = "return isNumberOnly(event);", @style = "display: " + @clscall + ";" })


        </div>
        <div class="col-md-2">
            Medium Of Study  <span class="kdsfont">
            </span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @{
                List<SelectListItem> CandidateMedium = new List<SelectListItem>();
                CandidateMedium.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                CandidateMedium.Add(new SelectListItem { Text = "PUNJABI", Value = "PUNJABI" });
                CandidateMedium.Add(new SelectListItem { Text = "HINDI", Value = "HINDI" });
                CandidateMedium.Add(new SelectListItem { Text = "ENGLISH", Value = "ENGLISH" });

            }
            @Html.DropDownList("CandiMedium", CandidateMedium, new { })

        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">

            <span class="rqf">
                If Aadhar Number is not yet alloted, then Aadhar Enrolment Id is Required. All the digits in enrolment ID & Date and Time of enrolment  to be entered continuously. For example Enrollment ID: 1234/12345/12345 & Date/Time of Enrollment:- 01/12/206 11:50:22 to be entered as <b>1234123451234501122016115022</b>
            </span>
        </div>


        <div class="clearfix"></div>

        @if (ViewData["NSQFSCHOOL"].ToString() == "1")
        {

            <div class="col-md-12"><h4>NSQF Details</h4></div>
            <div class="clearfix"></div>
            <div class="col-md-2">Want NSQF Subjects:-</div>
            <div class="col-md-4">
                @Html.DropDownList("subS6", new SelectList(ViewBag.nsfqList, "Value", "Text"), "--Select Subject--", new { @class = "" })
            </div>

            <div id="dvNSQFYESPATTERN" style="display:none;">
                <div class="clearfix"></div>
                <div class="col-md-2">Select Pattern</div>
                <div class="col-md-4">
                    @Html.DropDownList("NsqfPattern", new SelectList(ViewBag.nsfqPatternList, "Value", "Text"), "--Select Pattern--", new { @class = "" })
                </div>
            </div>

        }

    </div>
    <div class="clearfix"></div>

    <h4>Fill Address</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">Address <span class="rqf">*</span> </div>
                <div class="col-md-10">@Html.TextBoxFor(a => a.Address, new { id = "txt_address", @maxlength = "250" })</div>
                <div class="clearfix"></div>
                <div class="col-md-2">Landmark </div>
                <div class="col-md-10">@Html.TextBoxFor(a => a.LandMark, new { id = "Landmark", @maxlength = "50" })</div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Block
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(a => a.Block, new { @maxlength = "50" })
                </div>
                <div class="col-md-2">
                    District <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("MyDistrict", new SelectList(ViewBag.MyDist, "Value", "Text"), new { @class = "", @readonly = "readonly" })
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Tehsil <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("Tehsil", new SelectList(ViewBag.MyTeh, "Value", "Text"), new { @class = "" })
                </div>
                <div class="col-md-2">
                    Pincode <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.PinCode, new
                    {
                        id = "txt_pincode",
                        @maxlength = "6",
                        onpaste = "return false;",
                        oncopy = "return false;",
                        oncut = "return false;",
                        onkeypress = "return isNumberOnly(event);"
                    })
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="row">

                <div class="col-md-9" style="@(string.IsNullOrEmpty(Model.PhotoExist)  ? "display:block" : "display:none")">
                    Upload Photo: <a href="/PDF/Instruction_To_Upload_Photographs.pdf" target="_blank" class="rqf" style="font-size:11PX;color:#CC0000">? Instruction To Upload Photographs</a><br />
                    <span class="rqfst">Upload Colored Passport Size Photograph(3.5 x 4.5)</span><br />
                    @Html.TextBoxFor(m => m.file, new { id = "Photo", type = "file", onchange = "findSizeAndPreview(this)" })
                    <span class="rqf">*Photo Size 5 to 50 KB (Only .JPG)</span><br />
                </div>
                <div class="col-md-3">
                    <br />
                    <img src="@ViewBag.Photo" class="img-responsive" style="height:80px;width:100px" alt="Photo" id="imgPhoto" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-9" style="@(string.IsNullOrEmpty(Model.SignExist)  ? "display:block" : "display:none")">
                    Upload Signature @Html.TextBoxFor(m => m.std_Sign, new { id = "Sign", type = "file", onchange = "findSizeAndPreviewSign(this)" })
                    <span class="rqf">*Signature Size 1 to 50 KB (Only .JPG)</span><br />
                </div>
                <div class="col-md-3">
                    <br />
                    <img src="@ViewBag.sign" class="img-responsive" alt="Signature" style="height:30px;width:100%" id="imgSign" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <span class="rqf">* Fields are mandatory.</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 text-center tbp">
            @*<input type="submit" value="Update Records" onclick="return valForm();" />*@
            @Html.HiddenFor(m => m.Std_id) @Html.HiddenFor(m => m.IsImportedStudent)
            <input type="submit" id="btnsubmit" value="Update Candidate Details" onclick="return valForm();" />
            <input type="button" id="btnOTP" value="Update Candidate Details With Correction" onclick="return sendOTP();" />


            @*<input type="button" value="Add New Records" onclick="javascript:document.location.href='@Url.Action("N3Form", "RegistrationPortal")'" />*@
            <input type="button" formmethod="post" value="View Inserted Records" onclick="javascript:document.location.href='@Url.Action("N3Formgrid", "RegistrationPortal")'" />
            <input type="button" value="Rough Report" onclick="javascript:document.location.href='@Url.Action("RoughReport", "RegistrationPortal", new { Form = "N3" })'" />
            <input type="button" value="Student Verification Form" onclick="javascript:document.location.href='@Url.Action("StudentVerificationForm", "RegistrationPortal", new { Form = "N3" })'" />
            <input type="button" value="Import Student Data" onclick="javascript:document.location.href='@Url.Action("N3master", "RegistrationPortal")'" />
            <input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("N3master", "RegistrationPortal")'" />
        </div>
    </div>




}

@{
    if (ViewData["resultUpdate"] != null)
    {

        if (ViewData["resultUpdate"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Already Exist");
            </script>
        }
        else if (ViewData["resultUpdate"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data not saved..plz try again");
            </script>
        }
        else if (ViewData["resultUpdate"].ToString() == "-3")
        {
            <script type="text/javascript" language="javascript">
                alert("Duplicate Aadhar number..plz try again");
            </script>
        }
        else
        {
            <script type="text/javascript" language="javascript">
                            alert("Data Updated Successfully");
                            window.location.href = '@Url.Action("N3Formgrid", "RegistrationPortal")';
            </script>

        }

    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
@*
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnsubmit").show();
        $("#btnOTP").hide();

        @*if ('@ViewData["NSQFSCHOOL"].ToString()' == "1") {
            var selectedVal = $("#subS6").val();
            var selectedText = $("#subS6 option:selected").text();
            var selectedValNSQFsubS6 = $("#subS6").val();
            var selectedVallNsqfPattern = $("#NsqfPattern").val();

            if (selectedVal == "" || selectedVal == "0" || selectedVal == "NULL") {
                // $('#NSQFSUB').css("display", "none");
            }
            else {

                if (selectedVallNsqfPattern == "" || selectedVallNsqfPattern == "0" || selectedVallNsqfPattern == "NULL") {
                    $('#dvNSQFYESPATTERN').css("display", "none");
                }
                else {
                    $('#dvNSQFYESPATTERN').css("display", "none");
                }
            }
        }*@
    });

    //$("#subS6").change(function () {
    //    var selectedText = $(this).find("option:selected").text();
    //    var selectedVal = $("#subS6").val();
    //    if (selectedVal == "" || selectedVal == "0" || selectedVal == "NO") {
    //        $('#dvNSQFYESPATTERN').css("display", "none");
    //        $("#NsqfPattern").prop('required', false);
    //        $("#NsqfPattern").val('');
    //    }
    //    else {

    //        $('#dvNSQFYESPATTERN').css("display", "block");
    //        $("#NsqfPattern").prop('required', true);
    //        $("#NsqfPattern").val('');
    //    }

    //});


</script>
<script type="text/javascript">
    $('#aadharnum').change(function () {
        var aanum = document.getElementById('aadharnum').value;
        document.getElementById('txt_aadharno').style.display = 'block';
        if (document.getElementById("aadharnum").checked = true) {

            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "12";
        }
        else {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "28";
        }

    });
    $('#Enrollmemtnum').change(function () {
        var Enum = document.getElementById('Enrollmemtnum').value;
        document.getElementById('txt_aadharno').style.display = 'block';
        if (document.getElementById("Enrollmemtnum").checked = true) {

            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "28";

        }
        else {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById("txt_aadharno").maxLength = "12";
        }

    });

    $('#aadharnumna').change(function () {
        var aanum = document.getElementById('aadharnumna').value;
        if (document.getElementById("aadharnumna").checked = true) {
            document.getElementById('txt_aadharno').style.display = 'none';
            document.getElementById("txt_aadharno").value = '';
        }
        else {
            document.getElementById("txt_aadharno").value = '';
            document.getElementById('txt_aadharno').style.display = 'block';
        }

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //if (@ViewData["NSQFSCHOOL"].ToString() == "1")
        @*if (@Model.oldyear != null && @Model.oldyear != "")
        {

        }*@
         if ('@Model.IsImportedStudent' == "0")
        {
            var selectedVal = $("#Category").val();//document.getElementById("#MyDist");
            $('#ddlyear option[value="2021"]').remove();
            $('#ddlyear option[value="2020"]').remove();
            $('#ddlyear option[value="2019"]').remove();
        }


    });
</script>


<script type="text/javascript">
    $("#Category").change(function () {

        var selectedVal = $("#Category").val();//document.getElementById("#MyDist");
        if (selectedVal == "9th Failed") {
            //$('#Year').css("display", "none");
            $('#ddlyear option[value="2021"]').remove();
            $('#ddlyear option[value="2020"]').remove();
            $('#ddlyear option[value="2019"]').remove();
        }
        else {
            $('#ddlyear option[value="2021"]').remove();
            $('#ddlyear option[value="2020"]').remove();
            $('#ddlyear option[value="2019"]').remove();

        }

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var selectedVal = $("#Differently_Abled").val();
        if (selectedVal == "N.A.") {
            $('#sw').css("display", "none");
            $(DP).val("");
        }
        else {
            $('#sw').css("display", "block");
        }

    });
</script>
<script type="text/javascript">
    $('#htxt').hide();
    $("#Differently_Abled").change(function () {
        var sVal = $("#Differently_Abled").val();
        if (sVal == "N.A.") {
            $('#sw').css("display", "none");
            $('#htxt').hide();
            $(DP).val("");
        }
        else {
            $('#sw').css("display", "block");
            $('#htxt').show();
        }

    });
</script>

<script type="text/javascript">
                $(document).ready(function () {

                    $("#MyDistrict").change(function () {
                        var selectedDIST = { DIST: $("#MyDistrict").val() };
                        //var selectedText = $(this).find("option:selected").text();
                        // document.getElementById("hidText").value = selectedText;
                        //alert(document.getElementById("hidText").value);
                        $.ajax({
                            url: '@Url.Action("GetTehID", "RegistrationPortal")',
                            type: 'Post',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(selectedDIST),
                            success: function (States) {
                                //alert(StatesList);
                                //document.getElementById("Address").value = StatesList;
                                $("#Tehsil").empty();

                                $.each(States, function (i, TehList) {
                                    $("#Tehsil").append('<option value="'
                                       + TehList.Value + '">'
                                       + TehList.Text + '</option>');
                                });
                                if (TehList.success) {

                                    //document.getElementById("MName").value = data.result;
                                    // $("#TextBoxID").val(data.result.MName);
                                }
                                else {
                                    alert('invalid ID' + data.success);
                                }
                            }
                        });
                    });
                });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        if (IsPrevSchoolSelf1.checked) {
           // alert(1);
            var Svalue = '@Request.RequestContext.HttpContext.Session["FullSchoolNameE"]';
             document.getElementById('prevschoolname').value = Svalue;
             document.getElementById('prevschoolnameHF').value = Svalue;
             document.getElementById("prevschoolname").readOnly = true;
        }
        else {
           // alert(1);
            // document.getElementById('prevschoolname').value = "";
            // document.getElementById('prevschoolnameHF').value = "";
            //document.getElementById("prevschoolname").readOnly = false;
        }
            if (IsPro.checked) {
                document.getElementById("txtawregno").value = "";
                document.getElementById("txtadmisno").value = "";
                document.getElementById("txtawregno").disabled = true;
                document.getElementById("txtadmisno").disabled = true;

            }
            else {
                document.getElementById("txtawregno").disabled = false;
                document.getElementById("txtadmisno").disabled = false;
            }
            if (IsLAdm.checked) {
                $('#LadmSpn').css("visibility", "visible");

            }
            else {
                $('#LadmSpn').css("visibility", "hidden");
            }
    });
</script>
<script type="text/javascript">
   function ChkIsPrevSchoolSelf() {
   if (IsPrevSchoolSelf1.checked) {
            var Svalue = '@Request.RequestContext.HttpContext.Session["FullSchoolNameE"]';
             document.getElementById('prevschoolname').value = Svalue;
             document.getElementById('prevschoolnameHF').value = Svalue;
            document.getElementById("prevschoolname").readOnly = true;
        }
        else {
             document.getElementById('prevschoolname').value = "";
             document.getElementById('prevschoolnameHF').value = "";
             document.getElementById("prevschoolname").readOnly = false;
        }
    }
    function IsProvisional() {

        if (IsPro.checked) {
            document.getElementById("txtawregno").value = "";
            document.getElementById("txtadmisno").value = "";
            document.getElementById("txtawregno").disabled = true;
            document.getElementById("txtadmisno").disabled = true;

        }
        else {
            document.getElementById("txtawregno").disabled = false;
            document.getElementById("txtadmisno").disabled = false;
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('IsPrevSchoolSelf').click(function () {
            if($(this).prop("checked") == true){

                var Svalue = '@Request.RequestContext.HttpContext.Session["SchlE"]';

                $('#prevschoolname').val(Svalue)
            }
            else if($(this).prop("checked") == false){

                $('#prevschoolname').val('')
            }
        });
    });
</script>
<script type="text/javascript">

    function findSizeAndPreview(input) {
        if (typeof ($("#Photo")[0].files) != "undefined") {

            var size = parseFloat($("#Photo")[0].files[0].size / 1024).toFixed(2);
            if (parseInt(size) >= 5 && parseInt(size) <= 50) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#imgPhoto').attr('src', e.target.result);

                }
                filerdr.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 5) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    ('#imgPhoto').hide();
                }
                if (parseInt(size) > 50) {
                    alert("Your file size is too large that is " + size + " KB.");
                    ('#imgPhoto').hide();
                }


            }
        }

    }
    function findSizeAndPreviewSign(input) {
        if (typeof ($("#Sign")[0].files) != "undefined") {

            var size = parseFloat($("#Sign")[0].files[0].size / 1024).toFixed(2);

            if (parseInt(size) >= 1 && parseInt(size) <= 50) {
                var filerdrS = new FileReader();
                filerdrS.onload = function (e) {
                    $('#imgSign').attr('src', e.target.result);

                }
                filerdrS.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 1) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    ('#imgSign').hide();
                }
                if (parseInt(size) > 50) {
                    alert("Your file size is too large that is " + size + " KB.");
                    ('#imgSign').hide();
                }

            }
        }

    }
</script>
<script type="text/javascript">

     $('#ddlboard').change(function () {
        var selb = document.getElementById('ddlboard').value;
        //alert(selb);
        if (selb == 'Board') {
            document.getElementById('Roll').innerText = 'Board/School Roll No.';
        }
        else {
            document.getElementById('Roll').innerText = 'School Roll No';
        }

     });
     $(document).ready(function () {
     @*var dee='@ViewBag.admdate';
     $("#txtadmisndate").datepicker({


        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true,
        maxDate: dee,
         minDate: new Date('2022/04/01'),
        yearRange: "2022:2023"

        });*@
          var dee = '@ViewBag.admdate';
         var startdee = '@ViewBag.StartAdmDate';
         debugger;
        $("#txtadmisndate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: dee,
            minDate: startdee,
            // maxDate: dee,
            //minDate: new Date('2022/04/01'),
            yearRange: '2023:' + (new Date().getFullYear())

        });
        //----------------Comment On 15/03 By Ranjan-------------
        //$("#DOB").datepicker({
        //    dateFormat: "dd/mm/yy",
        //    changeMonth: true,
        //    changeYear: true,
        //    maxDate: '-10Y',

         //});

        $("#DOB").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            maxDate: '-10Y',
            yearRange: "1969:2010"

        });
   });

    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57)) {
            return true;
        }
        //if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
        //    return true;
        //}
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }


    function isNumberOnly(e) {
        var keyCode = (e.which) ? e.which : e.keyCode;
        if (keyCode > 31 && (keyCode < 48 || keyCode > 57)) {
            alert("Only Number Allowed!!");
            return false;
        }
        return true;
    }


    function validate_fileupload(fileName) {
        var allowed_extensions = new Array("jpg", "png", "gif");
        var file_extension = fileName.split('.').pop(); // split function will split the filename by dot(.), and pop function will pop the last element from the array which will give you the extension as well. If there will be no extension then it will return the filename.

        for (var i = 0; i <= allowed_extensions.length; i++) {
            if (allowed_extensions[i] == file_extension) {
                return true; // valid file extension
            }
        }
        //document.getElementById("Photo").focus();
        //alert("please upload file");
        //return false;
    }

</script>

<script type="text/javascript">
                function valForm() {
                    var IsLAdm_Val = document.getElementById("IsLAdm");
                   if ($('#IsLAdm').prop("checked") == true)
                    {
                        var requestID = document.getElementById("requestID");
                        if (requestID.value == "0"|| requestID.value == "") {
                            alert("Enter request ID ");
                            document.getElementById("requestID").focus();
                            return false;
                        }
                        var selectedText = { RID: $("#requestID").val(),CNM: $("#Candi_Name").val(),FNM: $("#Father_Name").val(),MNM: $("#Mother_Name").val(),DOB: $("#DOB").val() };
                        $.ajax({
                            url: '@Url.Action("GetLateAdmRIDDataVerify", "RegistrationPortal")',
                            type: 'Post',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(selectedText),
                            success: function (result) {
                                //alert(result.sn);
                                if (result.sn == 0) {
                                    //alert("Late Admission Data verified Successfully.");
                                    alert("Late Admission Data Not Matched, Please try again!!.");
                                    //document.getElementById("requestID").focus();
                                }
                            }

                        });
                    }


                    var txtbrollno = document.getElementById("txtboardroll");
                    if (txtbrollno.value == "") {
                        alert("Enter Board/School Roll No.");
                        txtbrollno.focus();
                        return false;
                    }

                    var txtprename = document.getElementById("prevschoolname");
                    if (txtprename.value == "") {
                        alert("Enter Previous School Name");
                        txtprename.focus();
                        return false;
                    }
                    var ddlmonthses = document.getElementById("ddlmonthses");
                    if (ddlmonthses.value == "0") {
                        alert("Select Month");
                        return false;
                    }
                    var ddlyear = document.getElementById("ddlyear");
                    if (ddlyear.value == "0") {
                        alert("Select Year");
                        return false;
                    }
                    var regnum = document.getElementById("Registrationnum");
                    if (regnum.value == "") {
                        alert("Enter Registration number");
                        regnum.focus();
                        return false;
                    }
                    if (document.getElementById("Registrationnum").value != "") {
                        var regnum123 = document.getElementById("Registrationnum").value;
                        var chlregnum = regnum123.charAt(0);
                        //alert(chlregnum);
                        if (((chlregnum != "b") && (chlregnum != "B")) || regnum123.length <= 5) {
                            alert('Registration Number is not valid which you entered. Kindly enter only valid PSEB allotted registration number');
                            document.getElementById("Registrationnum").focus();
                            return false;
                        }
                    }
                    var awregno = document.getElementById("txtawregno");
                    var ispro = document.getElementById("IsPro");
                    if (ispro.checked == false) {
                        if (awregno.value == "") {
                            alert("Enter A.W.Reg. No.");
                            awregno.focus();
                            return false;
                        }
                    }

                    var txtadmisno = document.getElementById("txtadmisno");
                    var ispro = document.getElementById("IsPro");
                    if (ispro.checked == false) {
                        if (txtadmisno.value == "") {
                            alert("Enter Admission No.");
                            txtadmisno.focus();
                            return false;
                        }
                    }

                    //var awregno = document.getElementById("txtawregno");
                    //if (awregno.value == "") {
                    //    alert("Enter A.W.Reg. No.");
                    //    awregno.focus();
                    //    return false;
                    //}

                    //var txtadmisno = document.getElementById("txtadmisno");
                    //if (txtadmisno.value == "") {
                    //    alert("Enter Admission No.");
                    //    txtadmisno.focus();
                    //    return false;
                    //}
                    var txtadmisndate = document.getElementById("txtadmisndate");
                    if (txtadmisndate.value == "") {
                        alert("Enter Admission Date");
                        txtadmisndate.focus();
                        return false;
                    }


                    var CurrentClassRollNumber = document.getElementById("txt_CurrentClassRollNumber");
                    if (CurrentClassRollNumber.value == "") {
                        alert("Enter Class Roll No./ Section");
                        CurrentClassRollNumber.focus();
                        return false;
                    }
                    var ddlSection = document.getElementById("ddlSection");
                    if (ddlSection.value == "0") {
                        alert("Select Section");
                        ddlSection.focus();
                        return false;
                    }
                    var regExp = /^[A-Za-z0-9]+$/;
                    var txt_cand_nm = document.getElementById("Candi_Name");
                    if (txt_cand_nm.value == "") {
                        alert("Enter Candidate Name");
                        txt_cand_nm.focus();
                        return false;
                    }
                    var txt_candnm_pun = document.getElementById("Candi_Name_P");
                    if (txt_candnm_pun.value == "") {
                        alert("Enter Candidate Name in Punjabi");
                        txt_candnm_pun.focus();
                        return false;
                    }
                    if (txt_candnm_pun.value.trim().length != 0) {
                        if (txt_candnm_pun.value.match(regExp)) {
                            alert("Candidate Name in Punjabi, Should Neither be in English nor In digit, Please Use Punjabi Key Board");
                            txt_candnm_pun.focus();
                            return false;

                        }
                    }
                    var txt_fathernm = document.getElementById("Father_Name");
                    if (txt_fathernm.value == "") {
                        alert("Enter Father Name");
                        txt_fathernm.focus();
                        return false;
                    }
                    var txt_fathernm_Pun = document.getElementById("Father_Name_P");
                    if (txt_fathernm_Pun.value == "") {
                        alert("Enter Father Name in Punjabi");
                        txt_fathernm_Pun.focus();
                        return false;
                    }
                    if (txt_fathernm_Pun.value.trim().length != 0) {
                        if (txt_fathernm_Pun.value.match(regExp)) {
                            alert("Father Name in Punjabi, Should Neither be in English nor In digit, Please Use Punjabi Key Board");
                            txt_fathernm_Pun.focus();
                            return false;

                        }
                    }
                    var Mother_Name = document.getElementById("Mother_Name");
                    if (Mother_Name.value == "") {
                        alert("Enter Mother Name");
                        Mother_Name.focus();
                        return false;
                    }
                    var Mother_Name_P = document.getElementById("Mother_Name_P");
                    if (Mother_Name_P.value == "") {
                        alert("Enter Mother Name in Punjabi");
                        Mother_Name_P.focus();
                        return false;
                    }
                    if (Mother_Name_P.value.trim().length != 0) {
                        if (Mother_Name_P.value.match(regExp)) {
                            alert("Mother Name in Punjabi, Should Neither be in English nor In digit, Please Use Punjabi Key Board");
                            Mother_Name_P.focus();
                            return false;

                        }

                    }
                    var ddl_caste = document.getElementById("ddl_caste");
                    if (ddl_caste.value == "0") {
                        alert("Select Caste");
                        ddl_caste.focus();
                        return false;
                    }
                    var ddlDA = document.getElementById("Differently_Abled");
                    var tdp = document.getElementById("DP");
                    if (ddlDA.value != "N.A.") {
                        if (tdp.value == "") {
                            alert("Enter Disability Percentage");
                            document.getElementById("DP").focus();
                            return false;
                        }
                        if (tdp.value == "0") {

                            alert("Disability Percentage should be between 1-100");
                            document.getElementById("DP").focus();
                            return false;

                        }

                    }
                    if (tdp.value > 100) {
                        alert("Disability Percentage should be smaller than 100");
                        document.getElementById("DP").focus();
                        return false;
                    }
                    var ddl_religion = document.getElementById("ddl_religion");
                    if (ddl_religion.value == "0") {
                        alert("Select Religion");
                        ddl_religion.focus();
                        return false;
                    }
                    if (document.getElementById("DOB").value.trim().length == 0) {
                        alert('Enter Date of Birth');
                        document.getElementById("DOB").focus();
                        return false;
                    }


                    if (txt_mobileno.value == "") {
                        alert("Please Enter Mobile Number");
                        txt_mobileno.focus();
                        return false;
                    }

                    if (txt_mobileno.value != "") {
                        if (txt_mobileno.value.length != 10) {

                            alert("Please Enter 10 digits Mobile Number");
                            txt_mobileno.focus();
                            return false;
                        }
                        //else {
                        //    var Number = document.getElementById('txt_mobileno').value;
                        //    var IndNum = /^[0]?[789]\d{9}$/;

                        //    if (!IndNum.test(Number)) {
                        //        alert("invalid Number");
                        //        txt_mobileno.focus();
                        //        return false;
                        //    }

                        //}
                    }

                    if (document.getElementById("male").checked == false && document.getElementById("female").checked == false && document.getElementById("transgender").checked == false) {
                        alert('Choose Gender');
                        document.getElementById("male").focus();
                        return false;
                    }

                    if (document.getElementById("BPLYES").checked == false && document.getElementById("BPLNO").checked == false) {
                        alert('Choose BPL');
                        document.getElementById("BPLYES").focus();
                        return false;
                    }



                    //if (document.getElementById("txt_aadharno").value.trim().length != 0 && document.getElementById("txt_aadharno").value.trim().length <= 12) {
                    //    alert('Enter Valid Aadhar No');
                    //    document.getElementById("txt_aadharno").focus();
                    //    return false;
                    //}
                    var z = document.getElementById("epsid").value;
                    var numbers = /^[0-9]+$/;
                    if (z != "") {
                        if (!z.match(numbers)) {
                            alert('Please input numeric characters only');
                            document.getElementById("epsid").focus();
                            return false;
                        }

                    }

                    if (document.getElementById("aadharnum").checked == false && document.getElementById("Enrollmemtnum").checked == false
                        && document.getElementById("aadharnumna").checked == false) {
                        alert('Choose Aadhar/ Enrollment/ N.A.');
                        document.getElementById("txt_aadharno").focus();
                        return false;
                    }
                    //if (document.getElementById("txt_aadharno").value.trim().length == 0) {
                    //    alert('Enter Aadhar No');
                    //    document.getElementById("txt_aadharno").focus();
                    //    return false;
                    //}

                    //var Enum = document.getElementById('Enrollmemtnum').value;
                    //if (document.getElementById("Enrollmemtnum").checked == true) {

                    //    if (document.getElementById("txt_aadharno").value.trim() != "") {
                    //        if (txt_aadharno.value.trim().length != 28) {
                    //            alert("Please Enter 28 digits Enrollment No");
                    //            txt_aadharno.focus();
                    //            document.getElementById("Enrollmemtnum").checked = true
                    //            return false;
                    //        }
                    //    }

                    //}
                    //var aanum = document.getElementById('aadharnum').value;
                    //if (document.getElementById("aadharnum").checked == true) {

                    //    if (document.getElementById("txt_aadharno").value.trim() != "") {
                    //        if (txt_aadharno.value.trim().length != 12) {
                    //            alert("Please Enter 12 digits Aadhar No");
                    //            document.getElementById("aadharnum").checked = true
                    //            txt_aadharno.focus();
                    //            return false;
                    //        }
                    //    }
                    //}
                    var Enum = document.getElementById('Enrollmemtnum').value;
                    if (document.getElementById("Enrollmemtnum").checked == true) {

                        {
                            if (txt_aadharno.value.trim().length != 28) {
                                alert("Enter 12 digit Aadhaar Number / 28 digit Enrollment ID (EID) / N.A");
                                txt_aadharno.focus();
                                document.getElementById("Enrollmemtnum").checked = true
                                return false;
                            }
                        }

                    }
                    var aanum = document.getElementById('aadharnum').value;
                    if (document.getElementById("aadharnum").checked == true) {
                        {
                            if (txt_aadharno.value.trim().length != 12) {
                                alert("Enter 12 digit Aadhaar Number / 28 digit Enrollment ID (EID) / N.A");
                                document.getElementById("aadharnum").checked = true
                                txt_aadharno.focus();
                                return false;
                            }
                        }
                    }
                    //if (document.getElementById("txt_aadharno").value.trim() != "") {
                    //    if (txt_aadharno.value.trim().length != 12) {
                    //        alert("Please Enter 12 digits Aadhar No");
                    //        txt_aadharno.focus();
                    //        return false;
                    //    }
                    //}
                    var ddlCandiMedium = document.getElementById("CandiMedium");
                    if (ddlCandiMedium.value == "0" || ddlCandiMedium.value == "") {
                        alert("Select Candidate Medium");
                        ddlCandiMedium.focus();
                        return false;
                    }

                    if ('@ViewData["NSQFSCHOOL"].ToString()' == "1")
                    {
                        var ddlnssub = document.getElementById("subS6");
                        if (ddlnssub.value == "") {
                            alert("Select NSQF Subjects");
                            return false;
                        }
                        var selectedVal = $("#subS6").val();
                        var selectedValNsqfPattern = document.getElementById("NsqfPattern");
                        //if (selectedVal == "" || selectedVal == "0" || selectedVal == "NO") {
                        //}
                        //else {

                        //    if (selectedValNsqfPattern.value == "" || selectedValNsqfPattern.value == "0") {
                        //        alert("Select Nsqf Pattern");
                        //        selectedValNsqfPattern.focus();
                        //        return false;
                        //    }
                        //}
                    }

                    if (document.getElementById("txt_address").value.trim().length == 0) {
                        alert('Enter Address');
                        document.getElementById("txt_address").focus();
                        return false;
                    }
                    var ddldist = document.getElementById("MyDistrict");
                    if (ddldist.value == "") {
                        alert("Select District");
                        return false;
                    }
                    var ddlTeh = document.getElementById("Tehsil");
                    if (ddlTeh.value == "" || ddlTeh.value == "0") {
                        alert("Select Tehsil");
                        return false;
                    }

                    if (document.getElementById("txt_pincode").value.trim().length == 0) {
                        alert('Enter Pincode');
                        document.getElementById("txt_pincode").focus();
                        return false;
                    }

                    if (document.getElementById("txt_pincode").value != "") {
                        if (txt_pincode.value.length != 6) {
                            alert("Please Enter 6 digits Pincode");
                            txt_pincode.focus();
                            return false;
                        }
                    }




                    return true;
                }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Father_Name').change(function () {
            var selectedText = { text: $("#Father_Name").val() };
            var Father_Name_P = { text1: $("#Father_Name_P").val() };
            var fname = document.getElementById('Father_Name').value;
            var fnameP = document.getElementById('Father_Name_P').value;
            if (fnameP == "") {

                $.ajax({
                    url: '@Url.Action("getPunjabiName", "School")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        //  alert("Father Name: " + result);
                        $('#Father_Name_P').val(result);
                    }
                });
            }
        });

        $('#Candi_Name').change(function () {
            var selectedText = { text: $("#Candi_Name").val() };
            var cname = document.getElementById('Candi_Name').value;
            var cnameP = document.getElementById('Candi_Name_P').value;
            if (cnameP == "") {
                $.ajax({
                    url: '@Url.Action("getPunjabiName", "School")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        //  alert("Candidate Name: " + result);
                        $('#Candi_Name_P').val(result);
                    }
                });
            }
        });

        $('#Mother_Name').change(function () {
            var selectedText = { text: $("#Mother_Name").val() };
            var mname = document.getElementById('Candi_Name').value;
            var mnameP = document.getElementById('Candi_Name_P').value;
            if (mnameP == "") {
                $.ajax({
                    url: '@Url.Action("getPunjabiName", "School")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        //  alert("Mother Name: " + result);
                        $('#Mother_Name_P').val(result);
                    }
                });
            }
            });
    });

</script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#IsLAdm').click(function () {
                if ($(this).prop("checked") == true) {
                    //alert("test");
                    $('#LadmSpn').css("visibility", "visible");
                    //$('#divadmdate').css("class","col-md-2");
                }
                else {
                    $('#LadmSpn').css("visibility", "hidden");
                    //$('#divadmdate').css("class","col-md-4");
                    $("#requestID").val('');
                    $("#txtadmisndate").datepicker('option', 'maxDate', '@ViewBag.LateAdmDate');
                }
            });

            $('#requestID').change(function () {
                var selectedText = { RID: $("#requestID").val() };
                //var maxd='01/01/2020'; alert(maxd);
                //$("#txtadmisndate").datepicker('option', 'maxDate', new Date(maxd) );
                $.ajax({
                    url: '@Url.Action("GetLateAdmRIDVerify", "RegistrationPortal")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedText),
                    success: function (result) {
                        // alert("Late Adm Date: " + result);
                        $("#txtadmisndate").datepicker('option', 'maxDate', result);
                    }
                });
            });
        });
</script>


<script type="text/javascript">

    $('#IsCorrectionInParticular').change(function () {
        var IsCorrectionInParticular = $("#IsCorrectionInParticular").val();

        if (IsCorrectionInParticular == "Y") {
            document.getElementById("dvparticularcorrection").style.visibility = 'visible';
            //document.getElementById("btnsubmit").style.display = 'none';
            //document.getElementById("btnOTP").style.display = 'none';

            $("#btnsubmit").hide();
            $("#btnOTP").hide();
            $("#Candi_Name").prop("readonly", false);
            $("#Candi_Name_P").prop("readonly", false);
            $("#Father_Name").prop("readonly", false);
            $("#Father_Name_P").prop("readonly", false);
            $("#Mother_Name").prop("readonly", false);
            $("#Mother_Name_P").prop("readonly", false);
            $("#DOB").prop("readonly", false);
            $("#DOB").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,

                maxDate: '-10Y',
                yearRange: "1969:2019"

            });
            $('#lblStatus').val('');
            $("#EPunjabTeacherName").val('');
            $("#EPunjabTeacherMobile").val('');
            $("#DOB").datepicker("enable");
        }
        else {
            document.getElementById("dvparticularcorrection").style.visibility = 'hidden';
            document.getElementById("dvstaffdetails").style.visibility = 'hidden';
            //document.getElementById("btnsubmit").style.display = 'block';
            //document.getElementById("btnOTP").style.display = 'none';

            $("#btnsubmit").show();
            $("#btnOTP").hide();
            $("#StaffId").val("");
            $('#lblStatus').val('');
            $("#EPunjabTeacherName").val('');
            $("#EPunjabTeacherMobile").val('');
            $("#Candi_Name").prop("readonly", true);
            $("#Candi_Name_P").prop("readonly", true);
            $("#Father_Name").prop("readonly", true);
            $("#Father_Name_P").prop("readonly", true);
            $("#Mother_Name").prop("readonly", true);
            $("#Mother_Name_P").prop("readonly", true);
            $("#DOB").prop("readonly", true);
            $("#DOB").datepicker("disable");
        }
    });


</script>
<div class="modal fade" id="myModalOTP" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Authorized Persons for Correction Verify</h3>
            </div>
            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td width="30%">Name</td>

                        <td><input id="eTeacherName" type="text" readonly /></td>
                    </tr>
                    <tr>
                        <td>Registered Mobile No : </td>
                        <td><input id="eTeacherMobile" type="text" readonly /><input id="eTeacherMobilehf" type="hidden" /></td>

                    </tr>
                    <tr>
                        <td>Enter OTP </td>
                        <td><input id="eTeacherMobileOTP" type="text" maxlength="6" /></td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" class="btn" value="Submit" id="btnsubmitOTP" onclick="VerifyTeacherOTP('@Model.Std_id')" />
                            <div id="loading1"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    function EpubjabStaffIdAvailability() { //This function call on text change.
        document.getElementById("dvstaffdetails").style.visibility = 'hidden';
        $('#loading10').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
        $.ajax({
            type: "POST",
            url: "/RegistrationPortal/GetStaffDetailsByEpunjjabId", // this for calling the web method function in cs code.
            data: '{SchoolHeadEPunjabId: "' + $("#StaffId").val() + '" }',// user name or email value
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessEpubjabStaffId,
            failure: function (response) {
                // alert(response);
            }
        });
    }

    // function OnSuccess
    function OnSuccessEpubjabStaffId(response) {
        document.getElementById("dvstaffdetails").style.visibility = 'visible';
        $('#loading10').empty();
        var msg = $('#lblStatus');
        switch (response.oid) {
            case "0":
                msg.css("slidedown", "slow");
                msg.css("color", "red");
                msg.text("Not found.");
                $("#EPunjabTeacherName").val('');
                $("#EPunjabTeacherMobile").val('');
                break;
            case "1":
                msg.css("slidedown", "slow");
                msg.css("font-size", "18px");
                msg.css("color", "green");
                $("#EPunjabTeacherName").val(response.name);
                $("#EPunjabTeacherMobile").val(response.mob);
                $("#EPunjabTeacherName").hide();
                $("#EPunjabTeacherMobile").hide();
                //document.getElementById("btnsubmit").style.display = 'none';
                //document.getElementById("btnOTP").style.display = 'block';

                $("#btnsubmit").hide();
                $("#btnOTP").show();
                msg.text("Name: " + response.name + " , Mobile: " + response.mob.replace(/\d(?=\d{4})/g, "X"));
                break;
        }
    }



</script>


<script type="text/javascript">



    function sendOTP() {

        var valstatus = valForm();

        if (valstatus) {
            var eTeacherId = $("#StaffId").val();
          //  alert(eTeacherId);
            var eTeacherName = $("#EPunjabTeacherName").val();
           // alert(eTeacherName);
            var eTeacherMobile = $("#EPunjabTeacherMobile").val();
           // alert(eTeacherMobile);
            var eTeacherMobileOTP = "";
            var std_id = '@Model.Std_id';

            //alert('Send OTP');
            $('#loadingSO').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            $.ajax({
                type: "POST",
                url: "/RegistrationPortal/TeacherMobileOTP", // this for calling the web method function in cs code.
                data: '{eTeacherId: "'+ eTeacherId+ '",eTeacherName: "' + eTeacherName + '",eTeacherMobile: "' + eTeacherMobile + '",eTeacherMobileOTP: "' + eTeacherMobileOTP+ '",std_id: "' + std_id + '", "Type": "SEND"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#loadingSO').empty();
                    if (response.outstatus == "1") {
                        alert("OTP Send Successfully");

                        $("#eTeacherName").val(response.name);
                        $("#eTeacherMobile").val(response.mob.replace(/\d(?=\d{4})/g, "X"));
                        $("#eTeacherMobilehf").val(response.mob);

                        //$("#eTeacherMobileOTP").val(response.otp);
                        $('#myModalOTP').modal('show');
                        //.modal('show');
                    }
                    else  {
                        alert("OTP Verified Failure");
                    }


                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        return false;
    }


    function VerifyTeacherOTP(std_id) {

        var flag = 0;
        if ($("#eTeacherName").val() == "") {
            $("#eTeacherName").addClass("input-validation-error");
            flag = 1;
        }
        if ($("#eTeacherMobile").val() == "") {
            $("#eTeacherMobile").addClass("input-validation-error");
            flag = 1;
        }
        if ($("#eTeacherMobileOTP").val() == "") {
            $("#eTeacherMobileOTP").addClass("input-validation-error");
            flag = 1;
        }


        if (flag == 1) {
            return false;
        }
        else {
            var eTeacherId = $("#StaffId").val();
           // alert(eTeacherId);
            var eTeacherName = $("#eTeacherName").val();
           // alert(eTeacherName);
            var eTeacherMobile = $("#eTeacherMobilehf").val();
          // alert(eTeacherMobile);
            var eTeacherMobileOTP = $("#eTeacherMobileOTP").val();
           // alert(eTeacherMobileOTP);
            var std_id = '@Model.Std_id';


            $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            $.ajax({
                type: "POST",
                url: "/RegistrationPortal/TeacherMobileOTP", // this for calling the web method function in cs code.
                data: '{eTeacherId: "' + eTeacherId + '",eTeacherName: "' + eTeacherName + '",eTeacherMobile: "' + eTeacherMobile + '",eTeacherMobileOTP: "' + eTeacherMobileOTP + '",std_id: "' + std_id + '", "Type": "VERIFIY"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#loading1').empty();
                    if (response.outstatus == "1") {
                        alert("OTP Verified Successfully");
                        $("#eTeacherMobileOTP").val('');
                        $('#myModalOTP').modal('hide');
                        $('#searchform').append('<input type="hidden" id="hfIsCorrectionInParticular" name="hfIsCorrectionInParticular " value="Y" />');
                        $('#searchform').submit();
                    }
                    else if (response.outstatus == "2") {
                        alert("Wrong OTP");
                    }
                    else if (response.outstatus == "0") {
                        alert("OTP Verified Failure");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
            //alert("All is Well");
        }

    }
</script>
