@model PSEBONLINE.Models.SchoolModels
@{
    ViewBag.Title = "PracExamFinalSubmit";
    Layout = "~/Views/Shared/_AgencyLayout.cshtml";
}
    <h1>List of Candidates of NSQF Practical Exam  @ViewBag.ClassName , March 2023</h1>
<script src="/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script type="text/javascript">
    window.setInterval(function () {
        var current = new Date();
        var expiry = new Date("Mar 31, 2021 23:59:59")
        if (current.getTime() > expiry.getTime()) {
            $('.hideint2').hide();
        } else if (current.getTime() < expiry.getTime()) {
            $('.hideint2').show();
        }
    }, 0);

	   window.setInterval(function () {
            var current = new Date();
           var expiry = new Date("Mar 31, 2021 23:59:59")
            if (current.getTime() > expiry.getTime()) {
                $('.hideintm2').hide();
            } else if (current.getTime() < expiry.getTime()) {
                $('.hideintm2').show();
            }
        }, 0);
</script>
<style type="text/css">
    .ktm {
        padding: 0 8px !important;
    }

    .lft {
        float: left;
    }

    .rft {
        float: right;
    }
</style>


@using (Html.BeginForm("ViewNSQFPracExamFinalSubmit", "Agency", FormMethod.Post, new { id = "CCE", enctype = "multipart/form-data" }))
{
    <fieldset style="margin-bottom:15px">
        <legend>Search</legend>
        <form id="myForm">
            <div class="row" id="divMain1">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12" style="font-size:13px;font-family:Arial;line-height:26px">
                            School Code & Name:  @Model.schoolAllotedToAgency.Schl<span>&</span> @Model.schoolAllotedToAgency.SCHLNME<br />
                            Subject Code & Name : @ViewBag.SubCode<span>&</span> @ViewBag.SubName
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12" style="text-align:right;font-size:24px;line-height:26px"><span>Min Marks : @ViewBag.PrMin</span><br /><span>Max Marks: @ViewBag.PrMax</span></div>
                    </div>
                </div>


            </div>
            <div class="row"><div class="col-md-12" style="text-align:right;"><a href="/Agency/MarksEntryPanel/@ViewBag.cid?schl=@ViewBag.schlCode&&sub=@ViewBag.SubCode" class="btn">Back</a></div></div>
            <div class="clearefix"></div>
           
        </form>
    </fieldset>
}
<div id="loading1"></div>
<div class="clearfix"></div>
<div class="row" id="divMain1">
    <div class="col-md-12">


        @{
            if (ViewBag.TotalCount > 0)
            {
                if (ViewBag.LastDateofSub != null)
                {
                    DateTime todayDate = DateTime.Today;
                    DateTime LastDate = Convert.ToDateTime(ViewBag.LastDateofSub);

                    if (todayDate <= LastDate)
                    {
                        <div class="col-md-3"><a href="/Agency/NSQFPracExamRoughReport/@ViewBag.cid?schl=@ViewBag.schlCode&&sub=@ViewBag.SubCode" class="btn">Rough Report</a></div>
                        <div class="col-md-6"><input type="submit" value="Remove Selected Records" id="btnRemove" name="cmd" /></div>
                        @*<div class="col-md-3"><a href="/Agency/NSQFPracExamFinalReport/@ViewBag.cid?schl=@ViewBag.schlCode&&sub=@ViewBag.SubCode" class="btn">Final Submit</a></div>*@
                    }
                    else
                    {
                        <span class="rqf">Last date is over for Enter Marks or Final Submit</span>
                    }
                }
            }
        }
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">Grid Total:  @ViewBag.TotalCount1</div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="t01">
                <tr class="active-tr">
                    <th width="5%">Exam Type</th>
                    <th width="10%">StdId/RefNo</th>
                    <th width="5%">Roll No</th>
                    <th width="5%">Reg No</th>
                    <th width="26%">Name/Fname/Mname</th>
                    <th width="5%">Marks</th>
                    <th width="10%">Practical Date</th>
                    <th width="10%"><input type="checkbox" id="selectall" /></th>
                </tr>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        int d = 0;
                        int Count = 0;
                        if (ViewBag.pagesize == 1)
                        {
                            Count = 0;
                        }
                        else
                        {
                            Count = 20 * (ViewBag.pagesize - 1);
                        }
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            d = d + 1;


                            var Sub = Model.StoreAllData.Tables[0].Rows[i]["Sub"].ToString();
                            var ExamType = Model.StoreAllData.Tables[0].Rows[i]["RP1"].ToString();
                            var StdId = Model.StoreAllData.Tables[0].Rows[i]["StdId"].ToString();
                            var Roll = Model.StoreAllData.Tables[0].Rows[i]["Roll"].ToString();
                            var Regno = Model.StoreAllData.Tables[0].Rows[i]["Regno"].ToString();
                            var Name = Model.StoreAllData.Tables[0].Rows[i]["Name"].ToString();
                            var FName = Model.StoreAllData.Tables[0].Rows[i]["FName"].ToString();
                            var MName = Model.StoreAllData.Tables[0].Rows[i]["MName"].ToString();
                            var Marks = Model.StoreAllData.Tables[0].Rows[i]["Marks"].ToString();
                            var Status = Model.StoreAllData.Tables[0].Rows[i]["Status"].ToString();
                            var fpLot = Model.StoreAllData.Tables[0].Rows[i]["fpLot"].ToString();
                            var fpLot2 = Model.StoreAllData.Tables[0].Rows[i]["fpLot2"].ToString();
                            var prmin = Convert.ToString(Model.StoreAllData.Tables[0].Rows[i]["prmin"].ToString());
                            var prmax = Convert.ToString(Model.StoreAllData.Tables[0].Rows[i]["prmax"].ToString());
                            var PracDate = Model.StoreAllData.Tables[0].Rows[i]["PracDate"].ToString();
                            int Unlocked = Convert.ToInt32(Model.StoreAllData.Tables[0].Rows[i]["Unlocked"].ToString());

                            int mm = Convert.ToInt32(Model.StoreAllData.Tables[0].Rows[i]["prmax"].ToString());
                            var FullName = Name + "/" + FName + "/" + MName;
                            Count = Count + 1;
                            <tr>
                                <td>@ExamType <input type="hidden" id="ex^@StdId" class="chkRP" value="@ExamType" /> </td>
                                <td>@StdId</td>
                                <td>@Roll</td>
                                <td>@Regno</td>
                                <td>@FullName</td>
                                <td>@Marks <input type="hidden" id="om^@StdId" class="chkclass" value="@Marks" /></td>
                                <td>@PracDate <input type="hidden" id="pd^@StdId" class="PracDate" value="@PracDate" /></td>
                                <td>
                                    <input type="hidden" id="mi^@StdId" class="chkmin" value="@prmin" />
                                    <input type="hidden" id="ma^@StdId" class="chkmax" value="@prmax" />
                                    <input type="hidden" id="csb^@StdId" class="chksub" value="@Sub" />
                                    <input type="hidden" id="cs^@StdId" class="chkstdid" value="@StdId" />
                                    @if (Unlocked == 1 && fpLot == "")
                                    {<span><input type="checkbox" id="cb-@StdId" class="checkbox" name="AllChkId" value="@StdId" /> </span>}
                                    else if (ViewBag.SelClass == "2" || ViewBag.SelClass == "10")
                                    {<span class="hideintm"><input type="checkbox" id="cb-@StdId" class="checkbox" name="AllChkId" value="@StdId" /> </span> }
                                    else
                                    {<span class="hideint"><input type="checkbox" id="cb-@StdId" class="checkbox" name="AllChkId" value="@StdId" /> </span>}
                                </td>
                            </tr>

                          
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">
                                @ViewBag.Message
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    function RemoveMarks(k, nxt, prv) {
        //alert("Start Remove Marks");
        var tblname = '#t01';
        //alert(tblname);
        var TableData;
        TableData = JSON.stringify(storeTblValues());
         console.log("JsonString  = " + TableData + "\n");
        //post
        if (TableData == "false") {
            alert("Something Wrong");
            //// $('#subjects-' + k).addClass("input-validation-error");
            // $('.chkclass').addClass("input-validation-error");
        }
        else if (TableData != "false") {
          //  alert('Now Start:' + TableData);
            $('#loading1-' + k).html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            $.post("/Agency/JqRemovePracMarks", { "SelClass": '@ViewBag.Class', "RP": 'R', "CandSubjectPrac": TableData },
                function (data) {
                    $('#loading1-' + k).empty();
                    //alert('data.status  = ' + data.status);
                    if (data.status == "0" || data.status == "-1") {
                        alert("Selected Record's Marks removed Failure, Please Try Again");
                    }
                    else if (data.status == "1") {
                        alert("Selected Record's Marks removed Successfully");
                        window.location.href = "/Agency/ViewNSQFPracExamFinalSubmit/@ViewBag.cid?schl=@ViewBag.schlCode&&sub=@ViewBag.SubCode";
                    }
                    else {
                        alert("Selected Record's Marks removed Failure : " + data.status);
                    }
                });
        }

        function storeTblValues() {
           //  alert('3');
            var TableData = new Array();
            $('' + tblname + ' tr').each(function (row, tr) {
                TableData[row] = {
                    //"SUB": $(tr).find('td:eq(0)').text()
                    "CANDID": $(tr).find('.chkstdid').val(),
                    "SUB": $(tr).find('.chksub').val(),
                    "OBTMARKSP": $(tr).find('.chkclass').val(),
                    "MINMARKSP": $(tr).find('.chkmin').val(),
                    "MAXMARKSP": $(tr).find('.chkmax').val(),
                    "PRACDATE": $(tr).find('.PracDate').val(),
                    "ACCEPT": $(tr).find('.checkbox').prop('checked')
                }
            });
            TableData.shift();  // first row will be empty - so remove
            //alert(TableData);
            return TableData;

        }
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.checkbox').change(function () { //".checkbox" change
            if (this.checked == false) { //if this item is unchecked
                $("#selectall")[0].checked = false; //change "select all" checked status to false

            }
        });

        $("#selectall").change(function () {
            var status = this.checked; // "select all" checked status
            var j = 0
            $('.checkbox').each(function () {
                $("input[name='AllChkId']")[j].checked = status;
                j++;

            });
        });



        //Start Save Data
        $("#btnRemove").click(function () {
            var isvalid = true;
            if (isvalid == true) {
                var chkdee = "";
                var storeid = "";
                var pageid = "";
                var storeid1 = "";
                var storechkid = "";
                var storescid = "";
                $('.checkbox').each(function () {
                    var id = this.id;
                    var val = this.value;
                    var arr = [];
                    arr = id;
                    var arrid = "";
                    var arrcast = "";
                    var j = 0;
                    if (this.checked) {
                        storeid += val + ",";
                    }
                });

                if (storeid == "") {
                    alert("Please Select Atleast 1 Record .");
                }

                else {
                    RemoveMarks();
                }

            }// if true close
        });

        //End  Save Data

    });

</script>


<script>
    $(document).ready(function () {
        $(".chkclass").off('keypress');

        $(".chkclass").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 65) || (charCode == 67) || (charCode == 97) || (charCode == 99 || (charCode == 85) || (charCode == 117))) {
                return true;
            }
            else {
                alert("Invalid character, Enter Numeric Value or 'A' or 'C' or 'U' !!");
                return false;
            }
        });


        var value = document.getElementById('SelFilter').value;
        if (value == 6) {
            $("#SearchString").datepicker("enable");
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                return false;

            });
            $("#SearchString").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: '0'
                //maxDate: '-10Y',

            });

        }
        else if (value == 3 || value == 4 || value == 5) {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                var keyCode = (evt.which) ? evt.which : evt.keyCode
                if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32) {
                    alert("Only Characters Allowed!!");
                    return false;
                }
                else {
                    return true;
                }

            });
        }

        else {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
        }
    });

    var form = $("#searchform").serialize();
    $("#btnNext").click(function () {
        $.ajax({
            url: 'RegistrationPortal/Next',
            data: { currentPageIndex: document.getElementById('currentPageIndex').value, form },
            success: function (response) {
                $("body").html(response);
            }
        });
    });

    $("#btnPrevious").click(function () {
        $.ajax({
            url: 'RegistrationPortal/Previous',
            data: { currentPageIndex: document.getElementById('currentPageIndex').value },
            success: function (response) {
                $("body").html(response);
            }
        });
    });

    $("#SelFilter").change(function () {
        var value = document.getElementById('SelFilter').value;
        $('#SearchString').val('');
        if (value == 6) {
            $("#SearchString").datepicker("enable");
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                return false;

            });
            $("#SearchString").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: '0'
                //maxDate: '-10Y',

            });

        }
        else if (value == 3 || value == 4 || value == 5) {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
            $("#SearchString").keypress(function (evt) {
                var keyCode = (evt.which) ? evt.which : evt.keyCode
                if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32) {
                    alert("Only Characters Allowed!!");
                    return false;
                }
                else {
                    return true;
                }
            });
        }

        else {
            $("#SearchString").datepicker("disable");
            document.getElementById('SearchString').disabled = false;
            $("#SearchString").off('keypress');
        }

    });

</script>



<style>
    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }
    /*input:required {
         background-color: #FF9494 !important;
        border:1px solid #999;
    }*/
</style>


