@model PSEBONLINE.Models.RegistrationModels
@{
    ViewBag.Title = "InterBoard Migration Print Letter";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/Print-4P.css" />
<style type="text/css">
    .kds-td td {
        padding: 5px;
    }
</style>
@if (ViewBag.TotalCount > 0)
    {
        int Count = 0;
        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
        {
            var RequestID = Model.StoreAllData.Tables[0].Rows[i]["RequestID"].ToString();
            var SCHl = Model.StoreAllData.Tables[0].Rows[i]["SCHL"].ToString();
            var SCHlE = Model.StoreAllData.Tables[0].Rows[i]["SCHLE"].ToString();
            var Class = Model.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
            var Form = Model.StoreAllData.Tables[0].Rows[i]["Form"].ToString();
            var RegNo = Model.StoreAllData.Tables[0].Rows[i]["RegNo"].ToString();
            var Cname = Model.StoreAllData.Tables[0].Rows[i]["Name"].ToString();
            var Fname = Model.StoreAllData.Tables[0].Rows[i]["FName"].ToString();
            var Mname = Model.StoreAllData.Tables[0].Rows[i]["MName"].ToString();
            var DOB = Model.StoreAllData.Tables[0].Rows[i]["DOB"].ToString();
            var mobileno = Model.StoreAllData.Tables[0].Rows[i]["mobileno"].ToString();
            var Status = Model.StoreAllData.Tables[0].Rows[i]["Status"].ToString();
            var FSDate = Model.StoreAllData.Tables[0].Rows[i]["FSDate"].ToString();
            var ApprovalDate = Model.StoreAllData.Tables[0].Rows[i]["ApprovalDate"].ToString();
            var ApprovalUpto = Model.StoreAllData.Tables[0].Rows[i]["ApprovalUpto"].ToString();
            var UPTREMARKS = Model.StoreAllData.Tables[0].Rows[i]["APPROVALREMARKSNEW"].ToString();
            var UpdUserNM = Model.StoreAllData.Tables[0].Rows[i]["myIP"].ToString();
            var SCHLE = Model.StoreAllData.Tables[0].Rows[i]["SCHLE"].ToString();
            var schlnme = Model.StoreAllData.Tables[0].Rows[i]["schlnme"].ToString();
            var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
            var STATIONE = Model.StoreAllData.Tables[0].Rows[i]["STATIONE"].ToString();
            var Tehsile = Model.StoreAllData.Tables[0].Rows[i]["Tehsile"].ToString();
            var dpatchno = Model.StoreAllData.Tables[0].Rows[i]["dpatchno"].ToString();
            var printdt = Model.StoreAllData.Tables[0].Rows[i]["printdt"].ToString();
            var FilePath = Model.StoreAllData.Tables[0].Rows[i]["FilePath"].ToString();
            if (FilePath.ToString() != "") { FilePath = "https://registration2022.pseb.ac.in/upload/Upload2023/LateAdmission/" + FilePath; }
            var Statusmsg = Model.StoreAllData.Tables[0].Rows[i]["StatusName"].ToString();
            // fee details
            var ChallanId = Model.StoreAllData.Tables[0].Rows[i]["ChallanId"].ToString();
            var fee = Model.StoreAllData.Tables[0].Rows[i]["fee"].ToString();
            var latefee = Model.StoreAllData.Tables[0].Rows[i]["latefee"].ToString();
            var totfee = Model.StoreAllData.Tables[0].Rows[i]["totfee"].ToString();
            var BANK = Model.StoreAllData.Tables[0].Rows[i]["BANK"].ToString();
            var J_REF_NO = Model.StoreAllData.Tables[0].Rows[i]["J_REF_NO"].ToString();
            var DEPOSITDT = Model.StoreAllData.Tables[0].Rows[i]["DEPOSITDT"].ToString();

            Count = i + 1;
            <table style="width:100%;" border="0" class="noprint">
                <tr>
                    <td style="text-align:right;padding-bottom:3px">
                        <input type="button" value="Print" class="btn" onclick="window.print()" />
                        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
                    </td>
                </tr>
            </table>

            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td width="9%"><img src="~/Images/Printlogo.jpg" width="60px" alt="PSEB" /></td>
                    <td width="91%" style="font-size:16px;text-align:center;line-height:25px;">
                        <span style="font-size:26px;">Punjab School Education Board</span><br />
                        (Registration Branch)
                    </td>
                </tr>
                <tr><td colspan="2" style="padding-top:20px"></td></tr>
                <tr>
                    <td rowspan="2" style="vertical-align:top">To</td>
                    <td style="text-align:left">
                        <br />@SCHLE (@SCHl)<br />@STATIONE,<br />@DISTNM
                    </td>
                </tr>
                <tr>
                    <td><br />No: @dpatchno &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dated: @ApprovalDate <br />&nbsp;</td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>Regarding Inter Board Migration of academic session 2023-24  [Request Id : @RequestID]</td>
                </tr>
                <tr>
                    <td><br />Sir</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-bottom:10px">We have received request for Inter Board Migration of the following candidate. After seeing the attached document, the following decision has been taken.</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-bottom:10px">
                        <table width="100%" cellpadding="0" cellspacing="0" border="1" class="kds-td">
                            <tr>
                                <td width="25%">Request ID</td>
                                <td width="25%">@RequestID</td>
                                <td width="25%">Date of Application</td>
                                <td width="25%">@FSDate</td>
                            </tr>
                            <tr>
                                <td width="25%">Class</td>
                                <td width="25%">@Class<span>th</span></td>
                                <td width="25%">Form</td>
                                <td width="25%">@Form</td>
                            </tr>
                            <tr>
                                <td>Registration No.</td>
                                <td colspan="3">@RegNo</td>
                            </tr>
                            <tr>
                                <td>Student's Name</td>
                                <td colspan="3">@Cname</td>
                            </tr>
                            <tr>
                                <td>Father's Name</td>
                                <td colspan="3">@Fname</td>
                            </tr>
                            <tr>
                                <td>Mother's Name</td>
                                <td colspan="3">@Mname</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td colspan="3">@DOB</td>
                            </tr>

                        </table>
                    </td>
                </tr>

                @if (Statusmsg.ToLower() == "Approved".ToLower())
                {
 <tr>
                    <td colspan="2">Fee Detail</td>
                </tr>
 <tr>  
<td></td>
     <td>
         <table width="100%" border="1">
             <tr>
                 <td width="14%">&nbsp;Payment Id</td>
                 <td width="17%">&nbsp;@ChallanId</td>
                 <td width="15%">&nbsp;Fee</td>
                 <td width="20%">&nbsp;@totfee</td>
                 <td width="10%">&nbsp;Late Fee</td>
                 <td width="10%">&nbsp; @latefee</td>
                 <td width="10%">&nbsp;Total Fee</td>
                 <td width="10%">&nbsp; @totfee</td>
             </tr>
             <tr>
                 <td width="14%">&nbsp;Transaction Id</td>
                 <td width="17%">&nbsp;@J_REF_NO</td>
                 <td width="15%">&nbsp;Transaction Date</td>
                 <td width="20%">&nbsp;@DEPOSITDT</td>
                 <td width="10%">&nbsp;Bank Name</td>
                 <td width="10%">&nbsp; @BANK</td>
             </tr>
         </table>
     </td>

 </tr>}

                <tr>
                    <td>Decision</td>
                    <td>@Statusmsg (@ApprovalDate)</td>
                </tr>
                <tr>
                    <td>
                        Remarks
                    </td>
                    <td>
                        @if (Status == "2")
                        {
                            <span> Admission allowed up to date </span> @ApprovalUpto
                        }
                        @if (Status == "3")
                        {
                            <span> @UPTREMARKS </span>
                        }
                        @*If rejected show "Remarks" else "Admission allowed up to date ..............."*@
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:15px"></td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top:80px">
                        <table width="100%">
                            <tr>
                                <td>Print Date : @printdt</td>
                                <td style="text-align:right">
                                    Superintendent (Registration-Matric/Secrecy Branch)<br />
                                    Punjab School Education Board
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    }


