@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .ullist li {
        padding: 6px 4px;
        font-size: 16px;
    }

    .ullist {
        padding-bottom: 100px;
    }

        .ullist li a {
            color: #DB8104;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 18px;
                padding-bottom: 6px;cursor:pointer
        }

        .ullist .kdsfont {
            padding-left: 9px;
        }
</style>
@*<h1>Form (N3) for Class IX -Session 2023-2024</h1>*@
<h1>Form (N1) for Class IX -Session 2023-2024</h1>
<div class="row">
    <div class="col-md-12 text-center">
        <p class="kdsfont-n">
           ਪੰਜਾਬ ਰਾਜ ਦੇ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਸਕੂਲਾਂ ਤੋਂ ਅੱਠਵੀਂ ਪਾਸ ਜਾਂ ਨੌਵੀਂ ਵਿੱਚੋਂ ਫੇਲ/ਗੈਰ ਹਾਜ਼ਰ/ਰੱਦ (ਕੇਵਲ ਰੈਗੂਲਰ) ਵਿਦਿਆਰਥੀ ਜਿਹੜ੍ਹੇ ਪਹਿਲਾਂ ਹੀ ਪੰਜਾਬ ਬੋਰਡ ਨਾਲ ਰਜਿਸਟਰਡ ਹਨ (ਭਾਵ ਉਹਨਾਂ ਨੂੰ ਪਿਛਲੀ ਕਿਸੇ ਵੀ ਸ਼੍ਰੇਣੀ ਵਿੱਚ ਪੰਜਾਬ ਸਕੂਲ ਸਿੱਖਿਆ ਬੋਰਡ ਵੱਲੋਂ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ ਹੈ) ਲਈ N3 ਫਾਰਮ ਭਰਿਆ ਜਾਵੇ। ਫਾਰਮ ਭਰਨ ਸਮ੍ਹੇਂ ਪਹਿਲਾ ਜਾਰੀ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਜਰੂਰ ਭਰਿਆ ਜਾਵੇ। 
        </p>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <ul class="ullist">
		 <li>
             <a href='@Url.Action("ImportDataN3Form8thPass", "ImportData")'>A. Import 8<sup>th</sup> pass students of Self/ Other School of last 3 years</a>
             <p class="kdsfont-n">ਇਸ ਲਿੰਕ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ ਦੌਰਾਨ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਆਪਣੇ ਜਾਂ ਕਿਸੇ ਹੋਰ ਸਕੂਲ ਦੇ ਅੱਠਵੀਂ ਪਾਸ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਇੰਮਪੋਰਟ ਕੀਤਾ ਜਾਵੇ। </p>
            </li>
		
            <li>
                <a href='@Url.Action("ImportDataN3Class", "ImportData")'>B. Import 9<sup>th</sup> Fail / Absent / Cancel Students of Self/ Other School of Last 3 Years.</a>
                <p class="kdsfont-n">ਇਸ ਲਿੰਕ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ  ਦੌਰਾਨ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਆਪਣੇ ਸਕੂਲ ਦੇ ਨੌਵੀਂ ਫੇਲ/ਗੈਰ ਹਾਜ਼ਰ/ਰੱਦ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਇੰਮਪੋਰਟ ਕੀਤਾ ਜਾਵੇ।  </p>
            </li>           
            @*<li>
                <a href='@Url.Action("ImportDataN3passedTCRef", "ImportData")'>C. Import 9<sup>th</sup> Fail / Absent/ Cancel Students of other Schools of Last 3 Years.</a>
                <p class="kdsfont-n">ਇਸ ਲਿੰਕ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ  ਦੌਰਾਨ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਕਿਸੇ ਹੋਰ ਸਕੂਲਾਂ ਤੋਂ ਨੌਵੀਂ ਫੇਲ/ਗੈਰ ਹਾਜ਼ਰ/ਰੱਦ ਵਿਦਿਆਰਥੀਆਂ  ਨੂੰ ਇੰਮਪੋਰਟ ਕੀਤਾ ਜਾਵੇ। </p>
            </li>*@
            @*<li>
                <a href='@Url.Action("N3Form", "RegistrationPortal")'>D. 8<sup>th</sup> Pass or 9<sup>th</sup> Fail / Absent / Cancel Students from Self / Other School which have allready alloted PSEB Registration No before last 3 year  (New Entry).</a>
                <p class="kdsfont-n">ਇਸ ਲਿੰਕ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ  ਤੋਂ ਪਹਿਲਾਂ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਆਪਣੇ ਜਾਂ ਕਿਸੇ ਹੋਰ ਸਕੂਲ ਤੋਂ ਅੱਠਵੀਂ ਪਾਸ ਜਾਂ ਨੌਵੀਂ ਫੇਲ/ਗੈਰ ਹਾਜ਼ਰ/ਰੱਦ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਨਵੀਂ ਐਂਟਰੀ ਕੀਤੀ ਜਾਵੇ। ਐਂਟਰੀ ਕਰਨ ਸਮ੍ਹੇਂ ਪਹਿਲਾ ਜਾਰੀ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਨੰਬਰ ਜਰੂਰ ਭਰਿਆ ਜਾਵੇ। </p>
            </li>*@
           
            <li>
                <a href='@Url.Action("N3Formgrid", "RegistrationPortal")'>E. View All Inserted Records</a>
                <p class="kdsfont-n">N3 ਫਾਰਮ ਅਧੀਨ ਇੰਮਪੋਰਟ / ਨਵੀਂ ਐਂਟਰੀ ਰਾਹੀਂ ਦਰਜ ਕੀਤੇ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਸੂਚੀ ਦੇਖਣ ਲਈ ਇਸ ਲਿੰਕ ਨੂੰ ਖੋਲਿਆ ਜਾਵੇ। </p>
            </li>
        </ul>
    </div>
</div>
