@model PSEBONLINE.Models.SeniorStudentMatricResultMarksViews
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<style>
    input:read-only {
        background-color: #dddddd;
        border: 1px solid #ccc;
        cursor: not-allowed;
        pointer-events: all !important;
    }

    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }
    .input-validation-success {
        background-color: #bcf5bc !important;
        border: solid 1px green !important;
    }
  
 
</style>
<script type="text/javascript">
    window.setInterval(function () {
        var current = new Date();
        var expiry = new Date("July 12, 2021 23:59:59")
        if (current.getTime() > expiry.getTime()) {
            $('.hideint').hide();
        } else if (current.getTime() < expiry.getTime()) {
            $('.hideint').show();
        }
    }, 0);
</script>

<h1>Matriculation Marks for Senior Secondary Students</h1>
@if (Model != null)
{

    <div class="row">
        <div class="col-md-11" style="text-align:right;"><h3 class="rqf">Last Date : 12-July-2021</h3></div>

        <div class="col-md-1"><a href="javascript:void(0);" onclick="history.go(-1);" class="btn">Back</a></div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <table width="100%">
                <tr><td colspan="4"><h1>Personal Details</h1></td></tr>
                <tr>
                    <td width="28%">&nbsp;Student ID</td>
                    <td><label>@Model.Std_id</label></td>
                    <td width="28%" align="center">&nbsp;Roll</td>
                    <td><label>@Model.Roll</label></td>
                </tr>
                <tr>
                    <td>&nbsp;Candidate Name</td>
                    <td><label>@Model.Candi_Name</label></td>
                    <td align="center">&nbsp;Father Name</td>
                    <td><label>@Model.Father_Name</label></td>
                </tr>
                <tr>
                    <td>&nbsp;Mother Name</td>
                    <td colspan="3"><label>@Model.Mother_Name</label></td>
                </tr>
                <tr><td colspan="4"><h1>Matric Class Details</h1></td></tr>
                <tr>
                    <td width="28%">&nbsp;Matric Roll</td>
                    <td align="center"><input type="text" maxlength="15" id="MAT_ROLL-@Model.Std_id" onpaste="return false;" value="@Model.MAT_ROLL" /></td>
                    <td width="28%" align="center">&nbsp;Matric Board</td>
                    <td align="center">@Html.HiddenFor(m => m.MAT_BOARD) @Html.DropDownList("MAT_BOARD", new SelectList(ViewBag.MyMatricBoard, "Value", "Text", Model.MAT_BOARD), new { @id = "MAT_BOARD-" + @Model.Std_id })</td>

                </tr>
                <tr>
                    <td>&nbsp;Matric Month</td>
                    <td>
                        @Html.HiddenFor(m => m.MAT_MONTH)
                        @Html.DropDownList("MAT_MONTH", new SelectList(ViewBag.MonthList, "Value", "Text", Model.MAT_MONTH), new { @id = "MAT_MONTH-" + @Model.Std_id })
                    </td>
                    <td align="center">&nbsp;Matric Year</td>
                    <td align="center">
                        @Html.HiddenFor(m => m.MAT_YEAR)
                        @Html.DropDownList("MAT_YEAR", new SelectList(ViewBag.MatricYearList, "Value", "Text", Model.MAT_YEAR), new { @id = "MAT_YEAR-" + @Model.Std_id })
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;Matric Result</td>
                    <td align="center">OBT:<input type="text" onkeypress="return isNumberKey(event);" maxlength="4" placeholder="Total Obtain Marks" id="MR_TOTAL-@Model.Std_id" onpaste="return false;" value="@Model.MR_TOTAL" readonly /></td>
                    <td align="center">TOTAL:<input type="text" onkeypress="return isNumberKey(event);" maxlength="4" placeholder="Total Marks" id="MR_TOTMAX-@Model.Std_id" onpaste="return false;" value="@Model.MR_TOTMAX" readonly /></td>
                    <td align="center">@Html.HiddenFor(m => m.MR_RESULT)RESULT:@Html.DropDownList("MR_RESULT", new SelectList(ViewBag.ResultList, "Value", "Text", Model.MR_RESULT), new { @id = "MR_RESULT-" + @Model.Std_id })</td>

                </tr>

                <tr><td colspan="4"><h1>Subject Details</h1></td></tr>
                <tr>
                    <td colspan="4">
                        <div class="row" style="padding-top : 20px">
                            <div class="col-md-12">
                                <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1" class="tbl">
                                    <tr class="active-tr">
                                        <td align="center">Sr.No</td>
                                        <td align="center" width="20%">SUB</td>
                                        <td align="center">OBT</td>
                                        <td align="center">MIN</td>
                                        <td align="center">MAX</td>
                                    </tr>
                                    @*1*@
                                    <tr>
                                        <td align="center">1.</td>
                                        <td align="center">@Html.DropDownList("SUB1", new SelectList(ViewBag.MatricSubjectList, "Value", "Text", Model.SUB1), "--Select Subject--", new { @id = "SUB1-" + @Model.Std_id, @onchange = "GetSubOther(this,'1','@Model.Std_id')" })
                                            <input type="text"  onkeypress="return ValidateAlpha(event);" maxlength="30" placeholder="Enter Subject Name" id="txtOther1" value="@Model.SUBNM1" onpaste="return false;" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="TOT1-@Model.Std_id" onpaste="return false;" value="@Model.TOT1" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MIN1-@Model.Std_id" onpaste="return false;" value="@Model.MIN1" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MAX1-@Model.Std_id" onpaste="return false;" value="@Model.MAX1" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                    </tr>
                                    @*2*@
                                    <tr>
                                        <td align="center">2.</td>
                                        <td align="center">@Html.DropDownList("SUB2", new SelectList(ViewBag.MatricSubjectList, "Value", "Text", Model.SUB2), "--Select Subject--", new { @id = "SUB2-" + @Model.Std_id, @onchange = "GetSubOther(this,'2','@Model.Std_id')" })
                                            <input type="text" onkeypress="return ValidateAlpha(event);" maxlength="30" placeholder="Enter Subject Name" id="txtOther2" value="@Model.SUBNM2" onpaste="return false;" />
                                            </td>
                                        <td align="center"><input type="text" maxlength="4" id="TOT2-@Model.Std_id" onpaste="return false;" value="@Model.TOT2" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MIN2-@Model.Std_id" onpaste="return false;" value="@Model.MIN2" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MAX2-@Model.Std_id" onpaste="return false;" value="@Model.MAX2" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                    </tr>
                                    @*3*@
                                    <tr>
                                        <td align="center">3.</td>
                                        <td align="center">@Html.DropDownList("SUB3", new SelectList(ViewBag.MatricSubjectList, "Value", "Text", Model.SUB3), "--Select Subject--", new { @id = "SUB3-" + @Model.Std_id, @onchange = "GetSubOther(this,'3','@Model.Std_id')" })
                                            <input type="text" onkeypress="return ValidateAlpha(event);" maxlength="30" placeholder="Enter Subject Name" id="txtOther3" value="@Model.SUBNM3" onpaste="return false;" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="TOT3-@Model.Std_id" onpaste="return false;" value="@Model.TOT3" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MIN3-@Model.Std_id" onpaste="return false;" value="@Model.MIN3" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MAX3-@Model.Std_id" onpaste="return false;" value="@Model.MAX3" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                    </tr>
                                    @*4*@
                                    <tr>
                                        <td align="center">4.</td>
                                        <td align="center">@Html.DropDownList("SUB4", new SelectList(ViewBag.MatricSubjectList, "Value", "Text", Model.SUB4), "--Select Subject--", new { @id = "SUB4-" + @Model.Std_id, @onchange = "GetSubOther(this,'4','@Model.Std_id')" })
                                            <input type="text" onkeypress="return ValidateAlpha(event);" maxlength="30" placeholder="Enter Subject Name" id="txtOther4" value="@Model.SUBNM4" onpaste="return false;" />
                                        </td>
                                        <td align="center"><input type="text" maxlength="4" id="TOT4-@Model.Std_id" onpaste="return false;" value="@Model.TOT4" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MIN4-@Model.Std_id" onpaste="return false;" value="@Model.MIN4" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MAX4-@Model.Std_id" onpaste="return false;" value="@Model.MAX4" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                    </tr>
                                    @*5*@
                                    <tr>
                                        <td align="center">5.</td>
                                        <td align="center">
                                            @Html.DropDownList("SUB5", new SelectList(ViewBag.MatricSubjectList, "Value", "Text", Model.SUB5), "--Select Subject--", new { @id = "SUB5-" + @Model.Std_id, @onchange = "GetSubOther(this,'5','@Model.Std_id')" })
                                           <input type="text" onkeypress="return ValidateAlpha(event);" maxlength="30" placeholder="Enter Subject Name" id="txtOther5" value="@Model.SUBNM5" onpaste="return false;" />
                                          </td>
                                        <td align="center"><input type="text" maxlength="4" id="TOT5-@Model.Std_id" onpaste="return false;" value="@Model.TOT5" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MIN5-@Model.Std_id" onpaste="return false;" value="@Model.MIN5" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MAX5-@Model.Std_id" onpaste="return false;" value="@Model.MAX5" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                    </tr>
                                    @*6*@
                                    <tr>
                                        <td align="center">6.</td>
                                        <td align="center">@Html.DropDownList("SUB6", new SelectList(ViewBag.MatricSubjectList, "Value", "Text", Model.SUB6), "--Select Subject--", new { @id = "SUB6-" + @Model.Std_id, @onchange = "GetSubOther(this,'6','@Model.Std_id')" })
                                            <input type="text" onkeypress="return ValidateAlpha(event);" maxlength="30" placeholder="Enter Subject Name" id="txtOther6" value="@Model.SUBNM6" onpaste="return false;" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="TOT6-@Model.Std_id" onpaste="return false;" value="@Model.TOT6" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MIN6-@Model.Std_id" onpaste="return false;" value="@Model.MIN6" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MAX6-@Model.Std_id" onpaste="return false;" value="@Model.MAX6" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                    </tr>
                                    @*7*@
                                    <tr>
                                        <td align="center">7.</td>
                                        <td align="center">@Html.DropDownList("SUB7", new SelectList(ViewBag.MatricSubjectList, "Value", "Text", Model.SUB7), "--Select Subject--", new { @id = "SUB7-" + @Model.Std_id , @onchange = "GetSubOther(this,'7','@Model.Std_id')" })
                                        
                                        <input type="text" onkeypress="return ValidateAlpha(event);" maxlength="30" placeholder="Enter Subject Name" id="txtOther7" value="@Model.SUBNM7" onpaste="return false;"  />
                                            </td>
                                        <td align="center"><input type="text" maxlength="4" id="TOT7-@Model.Std_id" onpaste="return false;" value="@Model.TOT7" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MIN7-@Model.Std_id" onpaste="return false;" value="@Model.MIN7" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                        <td align="center"><input type="text" maxlength="4" id="MAX7-@Model.Std_id" onpaste="return false;" value="@Model.MAX7" onkeypress="return isNumberKey(event);" onblur="CheckMarks(this,@Model.Std_id)" /></td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </td>

                </tr>
                @if (Model.IsFinalLock == false)
                {
                    <tr>
                        <td colspan="2" align="center">
                            <br />@Html.RadioButtonFor(m => m.ChangeStatus, "Agree")<span class="kdsfont">  (I Agree with the matric result displayed)</span>
                        </td>
                        <td colspan="2" align="center">
                            <br />  @Html.RadioButtonFor(m => m.ChangeStatus, "DisAgree") <span class="kdsfont"> (I do not Agree with the matric result displayed, I need to modify)</span>
                        </td>
                    </tr>

                    <tr id="tr_file">
                        <td colspan="2"></td>
                        <td colspan="2">
                            <span style="color:red;font-size:16px">Upload Scanned Attested Copy Of Matriculation Certificate*</span>
                            @Html.TextBoxFor(a => a.FilePath, null, new { id = "FilePath", type = "file", @onchange = "CheckDocFile(this)" })
                            @Html.HiddenFor(a => a.FilePath)<span class="rqf">(Size limit upto 1MB)</span>
                        </td>
                    </tr>

                }                
                <tr>
                    <td colspan="4" align="center">
                        <br />
                        @if (Model.IsFinalLock == false)
                        {
                            <input type="button" class="btn-success" value="Save" id="btnSave" onclick="SubMarks('@Model.MRID','@Model.Std_id','@Model.schl','')" />
                        }
                      

                        @if (!string.IsNullOrEmpty(Model.FilePath) && !string.IsNullOrEmpty(Model.ChangeStatus))
                        {
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Upload/Upload2020/@Model.FilePath" target="_blank" class="btn">Download - Scanned Attested Copy Of Matriculation Certificate</a></span>
                        }
                        <br /><div id="loadingSM-@Model.Std_id"></div>

                    </td>




                </tr>


            </table>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "responsive": true,
            "lengthMenu": [[25, 50, 100], [25, 50, 100]],
            "processing": true,
            "pageLength": 50,
            "order": [[0, 'desc']],
            language: { searchPlaceholder: "Search By Roll Number, UniqueID, Student Name or Any." },
        })
    });
</script>

@{
    if (TempData["resultIns"] != null)
    {
        if (TempData["resultIns"].ToString() == "FNL")
        {
            <div id="dShowResult" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Final Submission Successfully</span>
            </div>
        }
        else if (TempData["resultIns"].ToString().ToLower().Contains("error"))
        {
            <div id="dShowResult" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">@TempData["resultIns"]</span>
            </div>
        }
    }
}

<script type="text/javascript">
    $(function () {
        $("#dShowResult").dialog({
            modal: true,
            title: "Alert",
            width: 400,
            height: 250,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = "/RegistrationPortal/SeniorStudentMatricResultMarks";
                },
            }
        });
    });

    $(document).ready(function () {
        hideOther();
        notAllowed();
        showOtherSubNM();
    });

    function hideOther() {
        $('#txtOther1').hide();
        $('#txtOther2').hide();
        $('#txtOther3').hide();
        $('#txtOther4').hide();
        $('#txtOther5').hide();
        $('#txtOther6').hide();
        $('#txtOther7').hide();
    }
    function notAllowed() {

        $("#tr_file").hide();
        $("#FilePath").val('');
        $("#FilePath").prop('required', false);
        $("#MAT_ROLL-" + @Model.Std_id).prop("readonly", true);
        $("#MAT_BOARD-" + @Model.Std_id).prop("disabled", true);
        $("#MAT_MONTH-" + @Model.Std_id).prop("disabled", true);
        $("#MAT_YEAR-" + @Model.Std_id).prop("disabled", true);
        $("#SUB1-" + @Model.Std_id).prop("disabled", true);
        $("#TOT1-" + @Model.Std_id).prop("readonly", true);
        $("#MAX1-" + @Model.Std_id).prop("readonly", true);
        $("#MIN1-" + @Model.Std_id).prop("readonly", true);
        $("#SUB2-" + @Model.Std_id).prop("disabled", true);
        $("#TOT2-" + @Model.Std_id).prop("readonly", true);
        $("#MAX2-" + @Model.Std_id).prop("readonly", true);
        $("#MIN2-" + @Model.Std_id).prop("readonly", true);
        $("#SUB3-" + @Model.Std_id).prop("disabled", true);
        $("#TOT3-" + @Model.Std_id).prop("readonly", true);
        $("#MAX3-" + @Model.Std_id).prop("readonly", true);
        $("#MIN3-" + @Model.Std_id).prop("readonly", true);
        $("#SUB4-" + @Model.Std_id).prop("disabled", true);
        $("#TOT4-" + @Model.Std_id).prop("readonly", true);
        $("#MAX4-" + @Model.Std_id).prop("readonly", true);
        $("#MIN4-" + @Model.Std_id).prop("readonly", true);
        $("#SUB5-" + @Model.Std_id).prop("disabled", true);
        $("#TOT5-" + @Model.Std_id).prop("readonly", true);
        $("#MAX5-" + @Model.Std_id).prop("readonly", true);
        $("#MIN5-" + @Model.Std_id).prop("readonly", true);
        $("#SUB6-" + @Model.Std_id).prop("disabled", true);
        $("#TOT6-" + @Model.Std_id).prop("readonly", true);
        $("#MAX6-" + @Model.Std_id).prop("readonly", true);
        $("#MIN6-" + @Model.Std_id).prop("readonly", true);
        $("#SUB7-" + @Model.Std_id).prop("disabled", true);
        $("#TOT7-" + @Model.Std_id).prop("readonly", true);
        $("#MAX7-" + @Model.Std_id).prop("readonly", true);
        $("#MIN7-" + @Model.Std_id).prop("readonly", true);
        $("#MR_TOTAL-" + @Model.Std_id).prop("readonly", true);
        $("#MR_TOTMAX-" + @Model.Std_id).prop("readonly", true);
        $("#MR_RESULT-" + @Model.Std_id).prop("disabled", true);

    }
    function Allowed() {
        $("#tr_file").show();
        $("#FilePath").prop('required', true);

        $("#MAT_ROLL-" + @Model.Std_id).prop("readonly", false);
        $("#MAT_BOARD-" + @Model.Std_id).prop("disabled", false);
        $("#MAT_MONTH-" + @Model.Std_id).prop("disabled", false);
        $("#MAT_YEAR-" + @Model.Std_id).prop("disabled", false);
        $("#SUB1-" + @Model.Std_id).prop("disabled", false);
        $("#TOT1-" + @Model.Std_id).prop("readonly", false);
        $("#MAX1-" + @Model.Std_id).prop("readonly", false);
        $("#MIN1-" + @Model.Std_id).prop("readonly", false);
        $("#SUB2-" + @Model.Std_id).prop("disabled", false);
        $("#TOT2-" + @Model.Std_id).prop("readonly", false);
        $("#MAX2-" + @Model.Std_id).prop("readonly", false);
        $("#MIN2-" + @Model.Std_id).prop("readonly", false);
        $("#SUB3-" + @Model.Std_id).prop("disabled", false);
        $("#TOT3-" + @Model.Std_id).prop("readonly", false);
        $("#MAX3-" + @Model.Std_id).prop("readonly", false);
        $("#MIN3-" + @Model.Std_id).prop("readonly", false);
        $("#SUB4-" + @Model.Std_id).prop("disabled", false);
        $("#TOT4-" + @Model.Std_id).prop("readonly", false);
        $("#MAX4-" + @Model.Std_id).prop("readonly", false);
        $("#MIN4-" + @Model.Std_id).prop("readonly", false);
        $("#SUB5-" + @Model.Std_id).prop("disabled", false);
        $("#TOT5-" + @Model.Std_id).prop("readonly", false);
        $("#MAX5-" + @Model.Std_id).prop("readonly", false);
        $("#MIN5-" + @Model.Std_id).prop("readonly", false);
        $("#SUB6-" + @Model.Std_id).prop("disabled", false);
        $("#TOT6-" + @Model.Std_id).prop("readonly", false);
        $("#MAX6-" + @Model.Std_id).prop("readonly", false);
        $("#MIN6-" + @Model.Std_id).prop("readonly", false);
        $("#SUB7-" + @Model.Std_id).prop("disabled", false);
        $("#TOT7-" + @Model.Std_id).prop("readonly", false);
        $("#MAX7-" + @Model.Std_id).prop("readonly", false);
        $("#MIN7-" + @Model.Std_id).prop("readonly", false);
        $("#MR_TOTAL-" + @Model.Std_id).prop("readonly", false);
        $("#MR_TOTMAX-" + @Model.Std_id).prop("readonly", false);
        $("#MR_RESULT-" + @Model.Std_id).prop("disabled", false);
    }

    function showOtherSubNM() {
         if ('@Model.SUB1' == "OTHER" || '@Model.SUB1' == "00") {
            $('#txtOther1').show();
            $('#txtOther1').addClass("input-validation-success");
        }
        //
         if ('@Model.SUB2' == "OTHER" || '@Model.SUB2' == "00") {
            $('#txtOther2').show();
            $('#txtOther2').addClass("input-validation-success");
        }//
         if ('@Model.SUB3' == "OTHER" || '@Model.SUB3' == "00") {
            $('#txtOther3').show();
            $('#txtOther3').addClass("input-validation-success");
        }
        //
         if ('@Model.SUB4' == "OTHER" || '@Model.SUB4' == "00") {
            $('#txtOther4').show();
            $('#txtOther4').addClass("input-validation-success");
        }
    //
         if ('@Model.SUB5' == "OTHER" || '@Model.SUB5' == "00") {
            $('#txtOther5').show();
            $('#txtOther5').addClass("input-validation-success");
        }
    //
         if ('@Model.SUB6' == "OTHER" || '@Model.SUB6' == "00") {
            $('#txtOther6').show();
            $('#txtOther6').addClass("input-validation-success");
        }
    //
        if ('@Model.SUB7' == "OTHER" || '@Model.SUB7' == "00") {
            $('#txtOther7').show();
            $('#txtOther7').addClass("input-validation-success");
        }
    }

</script>


<script type="text/javascript">

    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>
<script type="text/javascript">

    $('input[type=radio][name=ChangeStatus]').change(function () {

        if (this.value == 'Agree') {
            notAllowed();
        }
        else {
            Allowed();
            $(':radio:not(:checked)').attr('disabled', true);
        }
    });
    function CheckDocFile(input) {
        if (typeof ($("#FilePath")[0].files) != "undefined") {

            var ext = $('#FilePath').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['pdf', 'PDF']) == -1) {
                alert('Only .pdf format file allowed ');
                $('#FilePath').val('');
                return false;
            }
            var size = parseFloat($("#FilePath")[0].files[0].size / 1024).toFixed(2);
            if (parseInt(size) >= 5 && parseInt(size) <= 1024) {
                var filerdr = new FileReader();
                filerdr.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 5) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    $('#FilePath').val('');
                }
                if (parseInt(size) > 1024) {
                    alert("Your file size is too large that is " + size + " KB.");
                    $('#FilePath').val('');
                }
            }
        }

    }

    function CheckMarks(obj, k) {
        pad(obj, 3);
        return true;
    }


    function pad(obj, length) {
        var text = obj.value;
        //alert("pad v:- " + text);
        if (text != "") {
            var str = '' + text;
            // alert("pad str:- " + str)
            while (str.length < length) {
                str = '0' + str;
            }
            if (obj.value == 'A' || obj.value == 'C' || obj.value == 'a' || obj.value == 'c') { }
            else {
                obj.value = str;
            }
        }
    }


    function GetSubOther(selNum1, num, stdid) {
        var selectedText = selNum1.options[selNum1.selectedIndex].innerHTML;
        var value = selNum1.value;

        if (value == "OTHER" || value == "00") {
            $('#txtOther' + num).show();
            $('#txtOther' + num).addClass("input-validation-error");
        }
        else {
            $('#txtOther' + num).hide();
            $('#txtOther' + num).removeClass("input-validation-error");
        }
       //clear marks
       $('#txtOther' + num).val('');
        $("#TOT" + num + "-" + @Model.Std_id).val('');
        $("#MIN" + num + "-" + @Model.Std_id).val('');
        $("#MAX" + num + "-" + @Model.Std_id).val('');


    }

</script>
<script type="text/javascript">
    function SubMarks(mrid, stdid, schl, action) {

        var flag = 0;


        var MAT_ROLL = $("#MAT_ROLL-" + stdid).val();
        if (MAT_ROLL == "" || MAT_ROLL == "0") {
            $("#MAT_ROLL-" + stdid).focus();
            $("#MAT_ROLL-" + stdid).addClass("input-validation-error");
            alert("Select Matric Roll!!");
            flag = 1;
            return false;
        }
        var MAT_BOARD = $("#MAT_BOARD-" + stdid).val();
        if (MAT_BOARD == "" || MAT_BOARD == "0") {
            $("#MAT_BOARD-" + stdid).focus();
            $("#MAT_BOARD-" + stdid).addClass("input-validation-error");
            alert("Select Matric Board!!");
            flag = 1;
            return false;
        }
        var MAT_MONTH = $("#MAT_MONTH-" + stdid).val();
        if (MAT_MONTH == "" || MAT_MONTH == "0") {
            $("#MAT_MONTH-" + stdid).focus();
            $("#MAT_MONTH-" + stdid).addClass("input-validation-error");
            alert("Select Matric Month!!");
            flag = 1;
            return false;
        }
        var MAT_YEAR = $("#MAT_YEAR-" + stdid).val();
        if (MAT_YEAR == "" || MAT_YEAR == "0") {
            $("#MAT_YEAR-" + stdid).focus();
            $("#MAT_YEAR-" + stdid).addClass("input-validation-error");
            alert("Select Matric Year!!");
            flag = 1;
            return false;
        }
        //
        var MR_TOTAL = $("#MR_TOTAL-" + stdid).val();
        if (MR_TOTAL == "" || MR_TOTAL == "0") {
            $("#MR_TOTAL-" + stdid).focus();
            $("#MR_TOTAL-" + stdid).addClass("input-validation-error");
            alert("Enter Matric Obtain Marks!!");
            flag = 1;
            return false;
        }
        var MR_TOTMAX = $("#MR_TOTMAX-" + stdid).val();
        if (MR_TOTMAX == "" || MR_TOTMAX == "0") {
            $("#MR_TOTMAX-" + stdid).focus();
            $("#MR_TOTMAX-" + stdid).addClass("input-validation-error");
            alert("Enter Matric Total Marks!!");
            flag = 1;
            return false;
        }
        var MR_RESULT = $("#MR_RESULT-" + stdid).val();
        if (MR_RESULT == "" || MR_RESULT == "0") {
            $("#MR_RESULT-" + stdid).focus();
            $("#MR_RESULT-" + stdid).addClass("input-validation-error");
            alert("Select Matric Result!!");
            flag = 1;
            return false;
        }

        //Subject

        var SUB1 = $("#SUB1-" + stdid).val();
        var SUB2 = $("#SUB2-" + stdid).val();
        var SUB3 = $("#SUB3-" + stdid).val();
        var SUB4 = $("#SUB4-" + stdid).val();
        var SUB5 = $("#SUB5-" + stdid).val();
        var SUB6 = $("#SUB6-" + stdid).val();
        var SUB7 = $("#SUB7-" + stdid).val();
        if (SUB1 == null || SUB1 == "" || SUB2 == null || SUB2 == "" || SUB3 == null || SUB3 == ""|| SUB4 == null || SUB4 == "" || SUB5 == null || SUB5 == "") {
            alert("Subjects-1 to Subject-5 all are mandatory subjects");
            flag = 1;
            return false;
        }


        var TOT1 = $("#TOT1-" + stdid).val();
        var TOT2 = $("#TOT2-" + stdid).val();
        var TOT3 = $("#TOT3-" + stdid).val();
        var TOT4 = $("#TOT4-" + stdid).val();
        var TOT5 = $("#TOT5-" + stdid).val();
        var TOT6 = $("#TOT6-" + stdid).val();
        var TOT7 = $("#TOT7-" + stdid).val();

        if (TOT1 == null || TOT1 == "" || TOT2 == null || TOT2 == "" || TOT3 == null || TOT3 == "" || TOT4 == null || TOT4 == "" || TOT5 == null || TOT5 == "") {
            alert("Please Enter Obtain Marks from Subjects - 1 to Subject - 5 all are mandatory");
            flag = 1;
            return false;
        }

        var MIN1 = $("#MIN1-" + stdid).val();
        var MIN2 = $("#MIN2-" + stdid).val();
        var MIN3 = $("#MIN3-" + stdid).val();
        var MIN4 = $("#MIN4-" + stdid).val();
        var MIN5 = $("#MIN5-" + stdid).val();
        var MIN6 = $("#MIN6-" + stdid).val();
        var MIN7 = $("#MIN7-" + stdid).val();

        if (MIN1 == null || MIN1 == "" ||  MIN2 == null || MIN2 == "" ||  MIN3 == null || MIN3 == "" ||  MIN4 == null || MIN4 == ""||  MIN5 == null || MIN5 == "") {
            alert("Please Enter Minimum Marks from Subjects - 1 to Subject - 5 all are mandatory");
            flag = 1;
            return false;
        }

        var MAX1 = $("#MAX1-" + stdid).val();
        var MAX2 = $("#MAX2-" + stdid).val();
        var MAX3 = $("#MAX3-" + stdid).val();
        var MAX4 = $("#MAX4-" + stdid).val();
        var MAX5 = $("#MAX5-" + stdid).val();
        var MAX6 = $("#MAX6-" + stdid).val();
        var MAX7 = $("#MAX7-" + stdid).val();
        if (MAX1 == null || MAX1 == "" || MAX2 == null || MAX2 == "" || MAX3 == null || MAX3 == "" || MAX4 == null || MAX4 == "" || MAX5 == null || MAX5 == "") {
            alert("Please Enter Maximum Marks from Subjects-1 to Subject-5 all are mandatory");
            flag = 1;
            return false;
        }
        //

        var txtOther1 = $("#txtOther1").val();
        if (SUB1 !== "") {
            if (TOT1 == "" || MIN1 == "" || MAX1 == "") {
                alert("Enter Subject-1 Marks");
                flag = 1;
            }
            else {
                if (SUB1 == "00" && txtOther1 == "") {
                    alert("Enter Other Subject-1 Name");
                    $("#txtOther1").focus();
                    $("#txtOther1").addClass("input-validation-error");
                    flag = 1;
                }
            }
        }
        //

        var txtOther2 = $("#txtOther2").val();
        if (SUB2 !== "") {
            if (TOT2 == "" || MIN2 == "" || MAX2 == "") {
                alert("Enter Subject-2 Marks");
                flag = 1;
            }
            else {
                if (SUB2 == "00" && txtOther2 == "") {
                    alert("Enter Other Subject-2 Name");
                    $("#txtOther2").focus();
                    $("#txtOther2").addClass("input-validation-error");
                    flag = 1;
                }
            }
        }
        //

        var txtOther3 = $("#txtOther3").val();
        if (SUB3 !== "") {
            if (TOT3 == "" || MIN3 == "" || MAX3 == "") {
                alert("Enter Subject-3 Marks");
                flag = 1;
            }
            else {
                if (SUB3 == "00" && txtOther3 == "") {
                    alert("Enter Other Subject-3 Name");
                    $("#txtOther3").focus();
                    $("#txtOther3").addClass("input-validation-error");
                    flag = 1;
                }
            }
        }
        //

        var txtOther4 = $("#txtOther4").val();
        if (SUB4 !== "") {
            if (TOT4 == "" || MIN4 == "" || MAX4 == "") {
                alert("Enter Subject-4 Marks");
                flag = 1;
            }
            else {
                if (SUB4 == "00" && txtOther4 == "") {
                    alert("Enter Other Subject-4 Name");
                    $("#txtOther4").focus();
                    $("#txtOther4").addClass("input-validation-error");
                    flag = 1;
                }
            }
        }
        //

        var txtOther5 = $("#txtOther5").val();
        if (SUB5 !== "") {
            if (TOT5 == "" || MIN5 == "" || MAX5 == "") {
                alert("Enter Subject-5 Marks");
                flag = 1;
            }
            else {
                if (SUB5 == "00" && txtOther5 == "") {
                    alert("Enter Other Subject-5 Name");
                    $("#txtOther5").focus();
                    $("#txtOther5").addClass("input-validation-error");
                    flag = 1;
                }
            }
        }
        //

        var txtOther6 = $("#txtOther6").val();
        if (SUB6 !== "") {
            if (TOT6 == "" || MIN6 == "" || MAX6 == "") {
                alert("Enter Subject-6 Marks");
                flag = 1;
            }
            else {
                if (SUB6 == "00" && txtOther6 == "") {
                    alert("Enter Other Subject-6 Name");
                    $("#txtOther6").focus();
                    $("#txtOther6").addClass("input-validation-error");
                    flag = 1;
                }
            }
        }
        //

        var txtOther7 = $("#txtOther7").val();
        if (SUB7 !== "") {
            if (TOT7 == "" || MIN7 == "" || MAX7 == "") {
                alert("Enter Subject-7 Marks");
                flag = 1;
            }
            else {
                if (SUB7 == "00" && txtOther7 == "") {
                    alert("Enter Other Subject-7 Name");
                    $("#txtOther7").focus();
                    $("#txtOther7").addClass("input-validation-error");
                    flag = 1;
                }
            }
        }

        // SUB1

        if (MAX1 == "") {
            $("#MAX1-" + stdid).focus();
            $("#MAX1-" + stdid).addClass("input-validation-error");
            alert("Please Enter SUBJECT-1 Valid Marks!!");
            flag = 1;
            return false;
        }
        else {
            if (parseInt(MAX1) <= 0) {
                $("#MAX1-" + stdid).focus();
                $("#MAX1-" + stdid).addClass("input-validation-error");
                alert("Invalid Marks, Please Enter SUBJECT-1 Max Marks Greater than Zero !!");
                flag = 1;
                return false;

            }

            if (parseInt(TOT1) <= 0 || (parseInt(MAX1) < parseInt(TOT1))) {
                $("#TOT1-" + stdid).focus();
                $("#TOT1-" + stdid).addClass("input-validation-error");
                alert("Invalid SUBJECT-1 Marks, Please Enter SUBJECT-1 OBT Marks less than equal to SUBJECT-1 Max Marks and Greater than Zero !!");
                flag = 1;
                return false;
            }
        }
        //

        if (MAX2 == "") {
            $("#MAX2-" + stdid).focus();
            $("#MAX2-" + stdid).addClass("input-validation-error");
            alert("Please Enter SUBJECT-2 Valid Marks!!");
            flag = 2;
            return false;
        }
        else {
            if (parseInt(MAX2) <= 0) {
                $("#MAX2-" + stdid).focus();
                $("#MAX2-" + stdid).addClass("input-validation-error");
                alert("Invalid Marks, Please Enter SUBJECT-2 Max Marks Greater than Zero !!");
                flag = 2;
                return false;

            }



            if (parseInt(TOT2) <= 0 || (parseInt(MAX2) < parseInt(TOT2))) {
                $("#TOT2-" + stdid).focus();
                $("#TOT2-" + stdid).addClass("input-validation-error");
                alert("Invalid SUBJECT-2 Marks, Please Enter SUBJECT-2 OBT Marks less than equal to SUBJECT-2 Max Marks and Greater than Zero !!");
                flag = 2;
                return false;
            }
        }
        //

        if (MAX3 == "") {
            $("#MAX3-" + stdid).focus();
            $("#MAX3-" + stdid).addClass("input-validation-error");
            alert("Please Enter SUBJECT-3 Valid Marks!!");
            flag = 3;
            return false;
        }
        else {
            if (parseInt(MAX3) <= 0) {
                $("#MAX3-" + stdid).focus();
                $("#MAX3-" + stdid).addClass("input-validation-error");
                alert("Invalid Marks, Please Enter SUBJECT-3 Max Marks Greater than Zero !!");
                flag = 3;
                return false;

            }
            if (parseInt(TOT3) <= 0 || (parseInt(MAX3) < parseInt(TOT3))) {
                $("#TOT3-" + stdid).focus();
                $("#TOT3-" + stdid).addClass("input-validation-error");
                alert("Invalid SUBJECT-3 Marks, Please Enter SUBJECT-3 OBT Marks less than equal to SUBJECT-3 Max Marks and Greater than Zero !!");
                flag = 3;
                return false;
            }
        }
        //

        if (MAX4 == "") {
            $("#MAX4-" + stdid).focus();
            $("#MAX4-" + stdid).addClass("input-validation-error");
            alert("Please Enter SUBJECT-4 Valid Marks!!");
            flag = 4;
            return false;
        }
        else {
            if (parseInt(MAX4) <= 0) {
                $("#MAX4-" + stdid).focus();
                $("#MAX4-" + stdid).addClass("input-validation-error");
                alert("Invalid Marks, Please Enter SUBJECT-4 Max Marks Greater than Zero !!");
                flag = 4;
                return false;

            }
            if (parseInt(TOT4) <= 0 || (parseInt(MAX4) < parseInt(TOT4))) {
                $("#TOT4-" + stdid).focus();
                $("#TOT4-" + stdid).addClass("input-validation-error");
                alert("Invalid SUBJECT-4 Marks, Please Enter SUBJECT-4 OBT Marks less than equal to SUBJECT-4 Max Marks and Greater than Zero !!");
                flag = 4;
                return false;
            }
        }
        //

        if (MAX5 == "") {
            $("#MAX5-" + stdid).focus();
            $("#MAX5-" + stdid).addClass("input-validation-error");
            alert("Please Enter SUBJECT-5 Valid Marks!!");
            flag = 5;
            return false;
        }
        else {
            if (parseInt(MAX5) <= 0) {
                $("#MAX5-" + stdid).focus();
                $("#MAX5-" + stdid).addClass("input-validation-error");
                alert("Invalid Marks, Please Enter SUBJECT-5 Max Marks Greater than Zero !!");
                flag = 5;
                return false;

            }
            if (parseInt(TOT5) <= 0 || (parseInt(MAX5) < parseInt(TOT5))) {
                $("#TOT5-" + stdid).focus();
                $("#TOT5-" + stdid).addClass("input-validation-error");
                alert("Invalid SUBJECT-5 Marks, Please Enter SUBJECT-5 OBT Marks less than equal to SUBJECT-5 Max Marks and Greater than Zero !!");
                flag = 5;
                return false;
            }
        }
        //
        var chkstatus = $('input[name="ChangeStatus"]:checked').val();
        var checkRadio = document.querySelector('input[name="ChangeStatus"]:checked');
        if (checkRadio == null) {
            alert("Choose One Option");
            flag = 1;
            return false;
        }
        action = "S";
        var fileData = new FormData();
        if (chkstatus == "DisAgree") {
            action = "U";

            var files = $("#FilePath").get(0).files;
            for (var i = 0; i < files.length; i++) {
                fileData.append("FilePath", files[i]);
            }            
            if ('@Model.FilePath' == "") {
                if ($("#FilePath").get(0).files.length === 0) {
                    $("#FilePath").addClass("input-validation-error");
                    flag = 1;
                }
            }

        }
        var SUBNM1 = $("#SUB1-" + stdid).find("option:selected").text(), SUBNM2 = $("#SUB2-" + stdid).find("option:selected").text(),
            SUBNM3 = $("#SUB3-" + stdid).find("option:selected").text(), SUBNM4 = $("#SUB4-" + stdid).find("option:selected").text(),
            SUBNM5 = $("#SUB5-" + stdid).find("option:selected").text(), SUBNM6 = $("#SUB6-" + stdid).find("option:selected").text(),
            SUBNM7 = $("#SUB7-" + stdid).find("option:selected").text(), SUBNM8 = "";
        if (flag == 1) {
            return false;
        }
        else {
            if (SUB1 == "00" && txtOther1 !== "") {
                SUBNM1 = txtOther1;
            }
            else { if (SUB1 == "") { SUBNM1 = ""; } }
            //
            if (SUB2 == "00" && txtOther2 !== "") {
                SUBNM2 = txtOther2;
            }
            else { if (SUB2== "") { SUBNM2 = ""; } }
            //
            if (SUB3 == "00" && txtOther3 !== "") {
                SUBNM3 = txtOther3;
            }
            else { if (SUB3 == "") { SUBNM3 = ""; } }
            //
            if (SUB4 == "00" && txtOther4 !== "") {
                SUBNM4 = txtOther4;
            }
            else { if (SUB4 == "") { SUBNM4 = ""; } }
            //
            if (SUB5 == "00" && txtOther5 !== "") {
                SUBNM5 = txtOther5;
            }
            else { if (SUB5 == "") { SUBNM5 = ""; } }
            //
            if (SUB6 == "00" && txtOther6 !== "") {
                SUBNM6 = txtOther6;
            }
            else {
                if (SUB6 == "") { SUBNM6 = ""; }
            }
            //
            if (SUB7 == "00" && txtOther7 !== "") {
                SUBNM7 = txtOther7;
            }
            else { if (SUB7 == "") { SUBNM7 = ""; }}




            var modelUser = {
                MRID: mrid,
                Std_Id: stdid,
                SCHL: schl,
                //
                MAT_ROLL: $("#MAT_ROLL-" + stdid).val(),
                MAT_BOARD: $("#MAT_BOARD-" + stdid).val(),
                MAT_MONTH: $("#MAT_MONTH-" + stdid).val(),
                MAT_YEAR: $("#MAT_YEAR-" + stdid).val(),

                SUB1: $("#SUB1-" + stdid).val(),
                TOT1: $("#TOT1-" + stdid).val(),
                MAX1: $("#MAX1-" + stdid).val(),
                MIN1: $("#MIN1-" + stdid).val(),
                SUB2: $("#SUB2-" + stdid).val(),
                TOT2: $("#TOT2-" + stdid).val(),
                MAX2: $("#MAX2-" + stdid).val(),
                MIN2: $("#MIN2-" + stdid).val(),
                SUB3: $("#SUB3-" + stdid).val(),
                TOT3: $("#TOT3-" + stdid).val(),
                MAX3: $("#MAX3-" + stdid).val(),
                MIN3: $("#MIN3-" + stdid).val(),
                SUB4: $("#SUB4-" + stdid).val(),
                TOT4: $("#TOT4-" + stdid).val(),
                MAX4: $("#MAX4-" + stdid).val(),
                MIN4: $("#MIN4-" + stdid).val(),
                SUB5: $("#SUB5-" + stdid).val(),
                TOT5: $("#TOT5-" + stdid).val(),
                MAX5: $("#MAX5-" + stdid).val(),
                MIN5: $("#MIN5-" + stdid).val(),
                SUB6: $("#SUB6-" + stdid).val(),
                TOT6: $("#TOT6-" + stdid).val(),
                MAX6: $("#MAX6-" + stdid).val(),
                MIN6: $("#MIN6-" + stdid).val(),
                SUB7: $("#SUB7-" + stdid).val(),
                TOT7: $("#TOT7-" + stdid).val(),
                MAX7: $("#MAX7-" + stdid).val(),
                MIN7: $("#MIN7-" + stdid).val(),
                SUBNM1: SUBNM1,
                SUBNM2: SUBNM2,
                SUBNM3: SUBNM3,
                SUBNM4: SUBNM4,
                SUBNM5: SUBNM5,
                SUBNM6: SUBNM6,
                SUBNM7: SUBNM7,
                SUBNM8: SUBNM8,
                MR_TOTAL: $("#MR_TOTAL-" + stdid).val(),
                MR_TOTMAX: $("#MR_TOTMAX-" + stdid).val(),
                MR_RESULT: $("#MR_RESULT-" + stdid).val(),
                ChangeStatus: action,
                FilePath: '@Model.FilePath',
            };


            $("#loadingSM-" + stdid).html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            fileData.append("id", stdid);
            fileData.append("MRID", mrid);
            fileData.append("Std_Id", stdid);
            fileData.append("SCHL", schl);
            fileData.append("MAT_ROLL", modelUser.MAT_ROLL);
            fileData.append("MAT_BOARD", modelUser.MAT_BOARD);
            fileData.append("MAT_MONTH", modelUser.MAT_MONTH);
            fileData.append("MAT_YEAR", modelUser.MAT_YEAR);
            //
            fileData.append("SUB1", modelUser.SUB1);
            fileData.append("TOT1", modelUser.TOT1);
            fileData.append("MAX1", modelUser.MAX1);
            fileData.append("MIN1", modelUser.MIN1);
            fileData.append("SUB2", modelUser.SUB2);
            fileData.append("TOT2", modelUser.TOT2);
            fileData.append("MAX2", modelUser.MAX2);
            fileData.append("MIN2", modelUser.MIN2);
            fileData.append("SUB3", modelUser.SUB3);
            fileData.append("TOT3", modelUser.TOT3);
            fileData.append("MAX3", modelUser.MAX3);
            fileData.append("MIN3", modelUser.MIN3);
            fileData.append("SUB4", modelUser.SUB4);
            fileData.append("TOT4", modelUser.TOT4);
            fileData.append("MAX4", modelUser.MAX4);
            fileData.append("MIN4", modelUser.MIN4);
            fileData.append("SUB5", modelUser.SUB5);
            fileData.append("TOT5", modelUser.TOT5);
            fileData.append("MAX5", modelUser.MAX5);
            fileData.append("MIN5", modelUser.MIN5);
            fileData.append("SUB6", modelUser.SUB6);
            fileData.append("TOT6", modelUser.TOT6);
            fileData.append("MAX6", modelUser.MAX6);
            fileData.append("MIN6", modelUser.MIN6);
            fileData.append("SUB7", modelUser.SUB7);
            fileData.append("TOT7", modelUser.TOT7);
            fileData.append("MAX7", modelUser.MAX7);
            fileData.append("MIN7", modelUser.MIN7);
            fileData.append("MR_TOTAL", modelUser.MR_TOTAL);
            fileData.append("MR_TOTMAX", modelUser.MR_TOTMAX);
            fileData.append("MR_RESULT", modelUser.MR_RESULT);
            fileData.append("ChangeStatus", modelUser.ChangeStatus);
            fileData.append("FilePath", modelUser.FilePath);
            //
            fileData.append("SUBNM1", modelUser.SUBNM1);
            fileData.append("SUBNM2", modelUser.SUBNM2);
            fileData.append("SUBNM3", modelUser.SUBNM3);
            fileData.append("SUBNM4", modelUser.SUBNM4);
            fileData.append("SUBNM5", modelUser.SUBNM5);
            fileData.append("SUBNM6", modelUser.SUBNM6);
            fileData.append("SUBNM7", modelUser.SUBNM7);
            fileData.append("SUBNM8", modelUser.SUBNM8);
            //



            $.ajax({
                url: '/RegistrationPortal/SeniorStudentMatricResultMarks',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (response) {
                    $("#loadingSM" + stdid).empty();
                    if (response.outstatus == "1" || response.outstatus == "2") {
                        alert("Modified Successfully");
                        window.location.href = '/RegistrationPortal/SeniorStudentMatricResultMarks/@Model.Std_id';
                    }
                    else if (response.outstatus == "MARKS") {
                        alert("Invalid Marks, Please Check OBT Marks less than equal to Max Marks and Greater than Zero !!");
                    }
                    else {
                        alert("Submit Failure");
                    }

                },
                error: function (err) {
                    $("#loadingSM" + stdid).empty();
                    alert("Response Submit Failure");
                }
            });

        }

    }
</script>

