<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Punjab School Education Board</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/RJCsss.css" rel="stylesheet" />
    <link href="~/Content/css/RCBlue.css" rel="stylesheet" />
    <link href="~/Content/css/RJMin.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">*@
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-1.12.4.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/punjabi.js"></script>
    <script src="/Scripts/keyboard.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/app.min.js"></script>


    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>*@


    @* <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


    <style type="text/css">
        .user-header td {
            text-align: left;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            padding: 3px 0;
            vertical-align: top
        }

        .nolink {
            cursor: auto
        }

        .navbar-nav > .user-menu .user-image {
            float: left;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: -2px;
        }
    </style>
    <noscript>
        <style type="text/css">
            #HPL {
                display: none;
            }
        </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>
    </noscript>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>PS</b>EB</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>PSEB</b> E-Affiliation</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button"
                    <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </a>
				<div class="col-md-6 hidden-xs"><div style="color:#fff;text-align:center;font-size:16px;padding-top:15px">Session (@Session["Session"].ToString())</div></div>
                <div class="navbar-custom-menu">				 
                    <ul class="nav navbar-nav">
                        <li><a><span class="hidden-xs">@Session["eAffiliationName"].ToString() ( @Session["eAffiliationAppNo"].ToString() )</span></a></li>
                        <li><a><span class="hidden-xs"></span></a> </li>
                        <li><a href="/EAffiliation/Logout"><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>


        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu">

                    @{
                        <li class="">
                            <a href="/EAffiliation/Dashboard/@Session["eAffiliationAppNo"].ToString()" title="Dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a>
                        </li>
                        if (Session["eAffiliationIsFormLock"].ToString() == "0")
                        {
                            <li class="">

                                <a href="@(Session["eAffiliationIsFormLock"].ToString() == "0" ? "/EAffiliation/SchoolProfile/"+Session["eAffiliationAppNo"].ToString()+"" : "#")" title="SchoolProfile"><i class="fa fa-book"></i> <span>School Profile</span></a>
                            </li>
                            <li class="">
                                <a href="@(Session["eAffiliationIsFormLock"].ToString() == "0" ? "/EAffiliation/BuildingFireMapDetails/"+Session["eAffiliationAppNo"].ToString()+"" : "#")" title="BuildingFireMapDetails"><i class="fa fa-file"></i> <span>Society/Building/Fire/Map Details</span></a>
                            </li>
                            <li class="">
                                <a href="@(Session["eAffiliationIsFormLock"].ToString() == "0" ? "/EAffiliation/StaffDetails/"+Session["eAffiliationAppNo"].ToString()+"" : "#")" title="Staff Details"><i class="fa fa-book"></i> <span>Staff Details</span></a>
                            </li>
                            <li class="">
                                <a href="@(Session["eAffiliationIsFormLock"].ToString() == "0" ? "/EAffiliation/StudentDetails/"+Session["eAffiliationAppNo"].ToString()+"" : "#")" title="Student Details"><i class="fa fa-file"></i> <span>Student Details</span></a>
                            </li>
                            <li class="">
                                <a href="@(Session["eAffiliationIsFormLock"].ToString() == "0" ? "/EAffiliation/OtherInformation/"+Session["eAffiliationAppNo"].ToString()+"" : "#")" title="Other Information"><i class="fa fa-leanpub"></i> <span>Other Information</span></a>
                            </li>
                            <li class="">
                                <a href="@(Session["eAffiliationIsFormLock"].ToString() == "0" ? "/EAffiliation/UploadEAffiliationDocuments/"+Session["eAffiliationAppNo"].ToString()+"" : "#")" title="Upload Documents"><i class="fa fa-leanpub"></i> <span>Upload Documents</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="">

                                <a class="formlock" title="SchoolProfile"><i class="fa fa-book"></i> <span>School Profile</span></a>
                            </li>
                            <li class="">
                                <a class="formlock" title="BuildingFireMapDetails"><i class="fa fa-file"></i> <span>Society/Building/Fire/Map Details</span></a>
                            </li>
                            <li class="">
                                <a class="formlock" title="Staff Details"><i class="fa fa-book"></i> <span>Staff Details</span></a>
                            </li>
                            <li class="">
                                <a class="formlock" title="Student Details"><i class="fa fa-file"></i> <span>Student Details</span></a>
                            </li>
                            <li class="">
                                <a class="formlock" title="Other Information"><i class="fa fa-leanpub"></i> <span>Other Information</span></a>
                            </li>
                            <li class="">
                                <a class="formlock" title="Upload Documents"><i class="fa fa-leanpub"></i> <span>Upload Documents</span></a>
                            </li>

                        }
                    }



                    <li class="">
                        <a href="/EAffiliation/ViewEAffiliation/@Session["eAffiliationAppNo"].ToString()" title="View Application Form"><i class="fa fa-home"></i> <span>View Application Form</span></a>
                    </li>
                    <li>
                        <a href="/EAffiliation/CalculateFee/@Session["eAffiliationAppNo"].ToString()" title="Calculate Fee & Final Submit"><i class="fa fa-home"></i> <span>Calculate Fee & Final Submit</span></a>
                    </li>
                    @if (Session["epayStatus"] != null && Session["epayStatus"].ToString() == "1")
                    {
                        if (Session["echlnStatus"] != null && Session["echlnStatus"].ToString() == "0")
                        {
                            <li class="">
                                <a href="/EAffiliation/EAffiliationReport/@Session["eAffiliationAppNo"].ToString()" title="Rough Form"><i class="fa fa-home"></i> <span>Print Rough Form</span></a>
                            </li>
                        }
                        else if (Session["echlnStatus"] != null && Session["echlnStatus"].ToString() == "1")
                        {
                            <li class="">
                                <a href="/EAffiliation/EAffiliationReport/@Session["eAffiliationAppNo"].ToString()" title="Print Final Form"><i class="fa fa-home"></i> <span>Print Final Form</span></a>
                            </li>
                        }
                    }

                    <li class="">
                        <a href="/EAffiliation/ChangePassword/@Session["eAffiliationAppNo"].ToString()" title="Change Password"><i class="fa fa-unlock"></i> <span>Change Password</span></a>
                    </li>
                    <li>
                        <a href="/EAffiliation/Logout" title="Logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="">
                    @RenderBody()
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer" style="text-align:center;position:fixed;bottom:0;width:100%">
            <span>
                All Rights Reserved at Punjab School Education Board, 1969 - 2017
            </span>
        </footer>
    </div>

    <div id="dialogFormLock" style="display: none">
        <span class="rqf">Form Locked, Now you cannot modify form.</span>
    </div>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82197953-1', 'auto');
        ga('send', 'pageview');

    </script>



    <script type="text/javascript">

        $(".formlock").click(function () {
            $('#dialogFormLock').dialog('open');
            return true;
        });
        $(function () {
            $("#dialogFormLock").dialog({
                modal: true,
                autoOpen: false,
                title: "Form Locked",
                width: 400,
                height: 220,
                buttons: {
                    "OK": function () {                      
                        window.location.href = '@Url.Action("ViewEAffiliation", "EAffiliation", new {id= @Session["eAffiliationAppNo"].ToString() })';

                    }                  
                }
            });
        });


    </script>
</body>
</html>