@model PSEBONLINE.Models.EAffiliationModel
@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_HeaderEAffiliation.cshtml";
}

<style>
    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }
</style>
<section class="content-header">
    <h1>Student Details</h1>
</section>
<div id="loading1"></div>

@using (Html.BeginForm("StudentDetails", "EAffiliation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="box">
        <div class="row">
            <div class="col-md-12">
                <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1" class="tbl">
                    <tr class="active-tr">
                        <td align="center" width="15%">Class</td>
                        <td align="center">Boys</td>
                        <td align="center">Girls</td>
                        <td align="center">Total</td>
                    </tr>
                    @if (Model.EAffClass == "5" || Model.EAffClass == "8" || Model.EAffClass == "10" || Model.EAffClass == "12")
                    {
                        <tr>
                            <td>1st</td>
                            <td>@Html.TextBoxFor(a => a.C1B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C1G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C1T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td>2nd</td>
                            <td>@Html.TextBoxFor(a => a.C2B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C2G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C2T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td>3rd</td>
                            <td>@Html.TextBoxFor(a => a.C3B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C3G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C3T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td>4th</td>
                            <td>@Html.TextBoxFor(a => a.C4B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C4G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C4T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td>5th</td>
                            <td>@Html.TextBoxFor(a => a.C5B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C5G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C5T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                    }
                    @if (Model.EAffClass == "8" || Model.EAffClass == "10" || Model.EAffClass == "12")
                    {


                        <tr>
                            <td>6th</td>
                            <td>@Html.TextBoxFor(a => a.C6B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C6G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C6T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td>7th</td>
                            <td>@Html.TextBoxFor(a => a.C7B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C7G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C7T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td>8th</td>
                            <td>@Html.TextBoxFor(a => a.C8B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C8G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C8T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                    }

                    @if (Model.EAffClass == "10" || Model.EAffClass == "12")
                    {


                        <tr>
                            <td>9th</td>
                            <td>@Html.TextBoxFor(a => a.C9B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C9G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C9T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>


                        <tr>
                            <td>10th</td>
                            <td>@Html.TextBoxFor(a => a.C10B, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td>@Html.TextBoxFor(a => a.C10G, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                            <td align="center">@Html.DisplayFor(a => a.C10T, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                        </tr>
                    }
                    @if (Model.EAffClass == "12")
                    {


                    <tr>
                        <td>11th Humanties</td>
                        <td>@Html.TextBoxFor(a => a.C11HB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C11HG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C11HT, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>

                    </tr>
                    <tr>
                        <td>11th Science</td>
                        <td>@Html.TextBoxFor(a => a.C11SB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C11SG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C11ST, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                    </tr>
                    <tr>
                        <td>11th Commerce</td>
                        <td>@Html.TextBoxFor(a => a.C11CB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C11CG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C11CT, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                    </tr>
                    <tr>
                        <td>11th Vocational</td>
                        <td>@Html.TextBoxFor(a => a.C11VB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C11VG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C11VT, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                    </tr>


                    <tr>
                        <td>12th Humanties</td>
                        <td>@Html.TextBoxFor(a => a.C12HB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C12HG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C12HT, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>

                    </tr>
                    <tr>
                        <td>12th Science</td>
                        <td>@Html.TextBoxFor(a => a.C12SB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C12SG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C12ST, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                    </tr>
                    <tr>
                        <td>12th Commerce</td>
                        <td>@Html.TextBoxFor(a => a.C12CB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C12CG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C12CT, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                    </tr>
                    <tr>
                        <td>12th Vocational</td>
                        <td>@Html.TextBoxFor(a => a.C12VB, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td>@Html.TextBoxFor(a => a.C12VG, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                        <td align="center">@Html.DisplayFor(a => a.C12VT, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", @readonly = "readonly" })</td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td align="center">@Html.DisplayFor(a => a.TOTALBOYS, new { @disabled = "disabled" })</td>
                        <td align="center">@Html.DisplayFor(a => a.TOTALGIRLS, new { @disabled = "disabled" })</td>
                        <td align="center">@Html.DisplayFor(a => a.TOTALSTUDENTS, new { @disabled = "disabled" })</td>
                    </tr>
                    }
                </table>
            </div>

            <div class="col-md-12">
                <div style="text-align:center" class="tbp">
                    <input type="submit" name="submit" value="SAVE" style="@(Session["eDataSubmissionAllow"].ToString() == "0" ? "display:block" : "display:none")" />
                </div>
            </div>
        </div>
    </div>
}


@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                    window.location.href = '@Url.Action("StudentDetails", "EAffiliation")';
                </script>}
            else
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit Failure, Please Try Again");
                </script>
            }
        }
    }
}


<script type="text/javascript">

    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
    //


    $(document).ready(function () {

        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "1969:2019"
        });

    });

</script>

@*<script>

        function valForm() {
            alert("check fields");
        }
    </script>*@
