@model PSEBONLINE.Models.Challan
@{
    ViewBag.Title = "ExamChallanCancel";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<style>
    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }
</style>
@using (Html.BeginForm("ExamChallanCancel", "Challan", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    int j = 0;
    <h1>

        @if (Session["UserName"] != null && Session["RoleType"].ToString() == "Admin") { }
        else { Response.Redirect("~/Admin"); }
    </h1>
    <input type="text" id="chkme" style="display:none;" value="@ViewBag.dee" name="chkme" />


    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    if (ViewData["CancelStatus"] != null)
    {
        if (ViewData["CancelStatus"].ToString() != "")
        {
            <script type="text/javascript" language="javascript">
                alert('Challan Cancelled  @ViewData["CancelStatus"]'); 
                window.location.href = '@Url.Action("ExamChallanCancel", "Challan")';
            </script>
        }
    }
    else
    {

    <div class="row">
        <div class="col-md-12">
            <fieldset style="margin-bottom:15px">
                <legend>Search</legend>
                <div class="col-md-3">
                    Total GridCount <label>@ViewBag.TotalCount1</label>
                </div>
                <div class="col-md-3">
                    Search By:
                    @Html.DropDownList("BankName", new SelectList(ViewBag.MySch, "Value", "Text", ViewBag.SelectedItem), "--All---", new { @class = "", id = "SelectItem" })
                </div>
                <div class="col-md-3" style="display:none">
                    &nbsp;<br>
                    @Html.DropDownList("feecat1", new SelectList(ViewBag.feecat, "Value", "Text", ViewBag.feecatselect), "--All---")
                </div>
                <div class="col-md-3" >
                    &nbsp;<br>
                    @Html.DropDownList("srhfld", new SelectList(ViewBag.MySch1, "Value", "Text", ViewBag.srhfld), "--All---")
                </div>
                <div class="col-md-3">
                    &nbsp;<br>
                    <input type="text" id="SearchString" name="SearchString" value="@ViewBag.Searchstring" />
                </div>
                <div class="col-md-3">
                    <br>
                    <input type="Submit" value="Search" name="cmd" /> @Html.ActionLink("Reset", "ExamChallanCancel", "Challan", new { @class = "btn" })  
                </div>
            </fieldset>
        </div>
    </div>


    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="t01" class="table table-bordered">
                    <tr class="active-tr">
                        <th>Sr No</th>
                        <th>Bank</th>
                        <th>Challan ID</th>
                        <th>CHLNDATE</th>
                        <th>FEECAT</th>
                        <th>SCHLREGID</th>
                        <th>FEE</th>
                        <th>Download</th>
                        <th>Download Date</th>
                        <th>Verify</th>
                        <th>Actions</th>
                        @*<th><input type="checkbox" id="chkSelectAll" /></th>*@
                    </tr>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {
                            int d = 0;
                            int Count = 0;
                            if (ViewBag.pagesize == 1)
                            {
                                Count = 0;
                            }
                            else
                            {
                                Count = 20 * (ViewBag.pagesize - 1);
                            }
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                d = d + 1;
                                j = d;
                                var IsCancel = Model.StoreAllData.Tables[0].Rows[i]["IsCancel"].ToString();
                                var bank = Model.StoreAllData.Tables[0].Rows[i]["Bank"].ToString();
                                // var idNo= Model.StoreAllData.Tables[0].Rows[i]["IDNO"].ToString();
                                var challanid = Model.StoreAllData.Tables[0].Rows[i]["challanid"].ToString();
                                var CHLNDATE = Model.StoreAllData.Tables[0].Rows[i]["CHLNDATE"].ToString();
                                var FEECAT = Model.StoreAllData.Tables[0].Rows[i]["FEECAT"].ToString();
                                var SCHLREGID = Model.StoreAllData.Tables[0].Rows[i]["SCHLREGID"].ToString();
                                var FEE = Model.StoreAllData.Tables[0].Rows[i]["FEE"].ToString();
                                var DOWNLDFLG = Model.StoreAllData.Tables[0].Rows[i]["DOWNLDFLG"].ToString();
                                var DOWNLDDATE = Model.StoreAllData.Tables[0].Rows[i]["DOWNLDDATE"].ToString();
                                var VERIFIED = Model.StoreAllData.Tables[0].Rows[i]["VERIFIED"].ToString();
                                //var dee = Model.StoreAllData.Tables[0].Rows[i]["TID"].ToString();
                                //var ud = Model.StoreAllData.Tables[0].Rows[i]["STATUS"].ToString();
                                //var vfalg = Model.StoreAllData.Tables[0].Rows[i]["vflag"].ToString();
                                //var Approved = Model.StoreAllData.Tables[0].Rows[i]["Approved"].ToString();

                                Count = Count + 1;
                                <tr>
                                    <td>@Count</td>
                                    <td>@bank</td>
                                    <td>@challanid</td>
                                    <td>@CHLNDATE</td>
                                    <td>@FEECAT</td>
                                    <td>@SCHLREGID</td>
                                    <td>@FEE</td>
                                    <td>@DOWNLDFLG</td>
                                    <td>@DOWNLDDATE</td>
                                    @*<td><input class="checkbox" type="checkbox" value='@id' name="sport"></td>*@
                                    <td>@VERIFIED </td>
                                    <td>                                        
                                        @*@Html.ActionLink("Cancel Challan", "ChallanCancel", new { id = challanid }, new { onclick = "return confirm('Are you sure want to Delete?');" })*@
                                        <button type="button" class="" data-toggle="modal"  data-target="#myModal-@d">View Details</button>
                                        @if (VERIFIED == "0" && IsCancel == "0")
                                        {
                                        @Html.ActionLink("Cancel Challan", "ChallanCancel", new { id = @challanid }, new { @class = "btn", onclick = "return confirm('Are you sure want to Cancel Challan?');" })                                                
                                        }
                                        @if (IsCancel == "1")
                                        {
                                            @:Challan Cancelled.
                                        }
                                    </td>
                                </tr>
                                if (d == ViewBag.TotalCount)
                                {
                                    <tr>
                                        <td colspan="11">

                                            Page @ViewBag.pagesize of @ViewBag.pn

                                            &nbsp;

                                            @if (ViewBag.pagesize == 1)

                                            {
                                                @:<<

                                                @Html.Raw("&nbsp;");

                                                @:< Prev
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "ExamChallanCancel", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "ExamChallanCancel", new { page = ViewBag.pn })
                                                }
                                            }
                                            else
                                            {
                                                if (TempData["search"] != null)
                                                {
                                                    string str1 = TempData.Peek("search").ToString();
                                                    string str2 = TempData.Peek("SelList").ToString();
                                                    string str3 = TempData.Peek("SearchString").ToString();
                                                    TempData["search"] = str1;
                                                    TempData["SelList"] = str2;
                                                    TempData["SearchString"] = str3;
                                                }
                                                @Html.ActionLink("<<", "ExamChallanCancel", new { page = 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink("< Prev", "ExamChallanCancel", new { page = ViewBag.pagesize - 1 })
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "ExamChallanCancel", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "ExamChallanCancel", new { page = ViewBag.pn })
                                                }

                                            }


                                        </td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="11">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    }
                </table>
                <p>Total Records(Filtered): @ViewBag.TotalCount1</p>
            </div>
        </div>
    </div>}

                        if (Model!=null)
                        {
                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {

                                var challanid = Model.StoreAllData.Tables[0].Rows[i]["challanid"].ToString();
                                var SCHLREGID = Model.StoreAllData.Tables[0].Rows[i]["SCHLREGID"].ToString();
                                var J_REF_NO = Model.StoreAllData.Tables[0].Rows[i]["J_REF_NO"].ToString();
                                var APPNO = Model.StoreAllData.Tables[0].Rows[i]["APPNO"].ToString();
                                var SCHLCANDNM = Model.StoreAllData.Tables[0].Rows[i]["SCHLCANDNM"].ToString();
                                var CHLNDATE = Model.StoreAllData.Tables[0].Rows[i]["CHLNDATE"].ToString();
                                var CHLNVDATE = Model.StoreAllData.Tables[0].Rows[i]["CHLNVDATE"].ToString();
                                var type = Model.StoreAllData.Tables[0].Rows[i]["type"].ToString();
                                var BANK = Model.StoreAllData.Tables[0].Rows[i]["BANK"].ToString();
                                var ACNO = Model.StoreAllData.Tables[0].Rows[i]["ACNO"].ToString();
                                var FEE = Model.StoreAllData.Tables[0].Rows[i]["FEE"].ToString();
                                var BRANCH = Model.StoreAllData.Tables[0].Rows[i]["BRANCH"].ToString();
                                var DEPOSITDT = Model.StoreAllData.Tables[0].Rows[i]["DEPOSITDT"].ToString();
                                var DOWNLDFLG = Model.StoreAllData.Tables[0].Rows[i]["DOWNLDFLG"].ToString();
                                var DOWNLDDATE = Model.StoreAllData.Tables[0].Rows[i]["DOWNLDDATE"].ToString();
                                var LOT = Model.StoreAllData.Tables[0].Rows[i]["LOT"].ToString();
                                var VERIFIED = Model.StoreAllData.Tables[0].Rows[i]["VERIFIED"].ToString();
                                var VERIFYDATE = Model.StoreAllData.Tables[0].Rows[i]["VERIFYDATE"].ToString();
                                if (VERIFIED == "1")
                                {
                                    VERIFIED = "Challan Verified-" + VERIFYDATE + " in " + BRANCH;
                                }
                                else
                                {
                                    VERIFIED = "Not Yet";
                                }
                                if (DOWNLDFLG == "1")
                                {
                                    DOWNLDFLG = "Challan Downloaded-" + DOWNLDDATE + " in LOT " + LOT;
                                }
                                else
                                {
                                    DOWNLDFLG = "Not Yet";
                                }

                                int k = i + 1;
<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal-@k" role="dialog">
        <div class="modal-dialog">
            alert('1');
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Challan Details</h4>
                </div>
                <div class="modal-body">

                    Challan ID:@challanid @Html.Raw("</br>")
                    @Html.Raw("SCHL/REFNO/APPNO/ROLL: ")@SCHLREGID@Html.Raw("/")@J_REF_NO@Html.Raw("/")@APPNO@Html.Raw("/NA</br>")
                    @Html.Raw("SCHL/Candidate Name: ")@SCHLCANDNM@Html.Raw("</br>")
                    @Html.Raw("Challan Date: ")@CHLNDATE@Html.Raw("</br>")
                    @Html.Raw("Challan Valid Date: ")@CHLNVDATE@Html.Raw("</br>")
                    @Html.Raw("Fee Type: ")@type@Html.Raw("</br>")
                    @Html.Raw("Bank: ")@BANK@Html.Raw("(Acc No: ")@ACNO@Html.Raw("</br>")
                    @Html.Raw("Fee: ")@FEE@Html.Raw("</br>")
                    @Html.Raw("Journal No: ")@J_REF_NO@Html.Raw("</br>")
                    @Html.Raw("Branch: ")@BRANCH@Html.Raw("</br>")
                    @Html.Raw("Challan Deposit Date: ")@DEPOSITDT@Html.Raw("</br>")
                    @Html.Raw("Challan Download Status: ")@DOWNLDFLG@Html.Raw("</br>")
                    @Html.Raw("Challan Verify Status: ")@VERIFIED@Html.Raw("</br>")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModal1-@k" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Regenearate Challan Details</h4>
                </div>
                <div class="modal-body">
                    Bank : <label>PSEB HOD</label><br />
                    Date:<input type="text" id="challandate-@k" name="challandate" class="challandate" onkeypress="return false;" />
                    LumsumFine <input type="text" id="lumsumfine-@k" name="lumsumfine" maxlength="7" onkeypress="return isNumberKey(event)" />
                    LumsumRemarks <textarea id="lumsumremarks-@k" name="lumsumremarks"></textarea>
                    <input type="button" class="btn" value="Submit" id="btnsubmitRegenate" onclick="regenerateMe(@k,@challanid,@FEE,@SCHLREGID)" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
                            }
                        }

@*<script>
            $("#chkSelectAll").bind("change", function () {
                $(".chkSelect").prop("checked", $(this).prop("checked"));
            });
            $(".chkSelect").bind("change", function () {
                if (!$(this).prop("checked"))
                    $("#chkSelectAll").prop("checked", false);
            });
            $(".alert").hide().fadeIn("slow");
    </script>*@
                        }
<script type="text/javascript">
        function isNumberKey(evt) {

            var charCode = (evt.which) ? evt.which : event.keyCode
            if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
                return true;
            }
            else {
                alert("Invalid character...Enter Only Number!!");
                return false;
            }
        }
    function valForm() {
        alert("Will be Available Soon..");
        return false;
    }
</script>
<script type="text/javascript">
    function regenerateMe(k,challanid,fee,schl) {
        //alert(challanid);
    //alert($("#challandate-" + k).val());
        //alert($("#lumsumremarks-" + k).val());
        var flag = 0;
        if($("#lumsumfine-" + k).val()=="")
        {
            $("#lumsumfine-" + k).addClass("input-validation-error");
            flag = 1;
        }
        if ($("#lumsumremarks-" + k).val() == "") {
            $("#lumsumremarks-" + k).addClass("input-validation-error");
            flag = 1;
        }
        if(flag==1)
        {
            return false;
        }
        else
        {
            $.ajax({
                type: "POST",
                url: "../Challan/ChallanDetailsRegerate", // this for calling the web method function in cs code.
                data: '{lumsumfine: "' + $("#lumsumfine-" + k).val() + '",lumsumremarks: "' + $("#lumsumremarks-" + k).val() + '",challanid: "' + challanid + '",gdate:"' + $("#challandate-" + k).val() + '",schl:"' + schl + '"}',// user name or email value
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.sn=="Yes")
                    {
                        alert("Challan Regenerated Successfully & Your Challan ID is " + response.chid);
                        window.location.href = "/Challan/ChallanDetails";
                        $(".modal").hide();
                        //var url = $(this).attr("~/Home/GenerateChallaan?ChallanId=" + response.chid);
                        window.open("/Home/GenerateChallaan?ChallanId=" + response.chid, "_blank");
                    }
                    else
                    {
                        alert("Challan Not Found/Expired.");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
            //alert("All is Well");
        }
    }
    $(function () {
        //var deedate1 = '@ViewBag.date';
      //alert(deedate1);

        $(".challandate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "2016:2020"

        });
        //$("#btnsubmitRegenate").click(function () {
        //    return false;
        //});

    });
</script>





