@*@model PSEBONLINE.Models.Challan*@
@{
    ViewBag.Title = "VerifyPayment";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
<style>
    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }
</style>
<script>
            $(document).ready(function () {
                var message = '@ViewBag.SuccessVerifyMsg'; // Accessing ViewBag value in JavaScript
                if (message === 'Success') {
                    alert('Verified Success');
                }
                else if (message == 'Fail') {
                    alert('No Payment Found');
                }
                else if (message === 'NONE') {

                }
            });
</script>


@using (Html.BeginForm("VerifyPayment", "Challan", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    int j = 0;
    <h1>
        Verify Payment
    </h1>
    //<input type="text" id="chkme" style="display:none;" value="@ViewBag.dee" name="chkme" />

    <div class="row">
        <div class="col-md-12">
            <fieldset style="margin-bottom:15px">
                <legend>Search</legend>
                @*<div class="col-md-2">
                        Select Bank
                        @Html.DropDownList("BankName", new SelectList(ViewBag.MySch, "Value", "Text", ViewBag.SelectedItem), "--All---", new { @class = "", id = "SelectItem" })
                    </div>
                    <div class="col-md-3">
                        Select Fee Category
                        @Html.DropDownList("feecat1", new SelectList(ViewBag.feecat, "Value", "Text", ViewBag.feecatselect), "--All---")
                    </div>
                    <div class="col-md-2">
                        Select Action
                        @Html.DropDownList("srhfld", new SelectList(ViewBag.MySch1, "Value", "Text", ViewBag.srhfld), "--All---")
                    </div>*@
                <div class="col-md-3">
                    <br />
                    <input type="text" id="SearchString" name="SearchString" />
                </div>
                <div class="col-md-2">
                    <br />
                    <input type="Submit" value="Search" name="cmd" /> <input type="submit" name="Reset" value="Reset" formaction="CancelForm" formmethod="post" />
                    <a href="/Challan/VerifyOpenPayment" type="Submit" value="Open School" name="open" class="btn">
                        Open School 
                    </a>
                </div>

            </fieldset>
        </div>
    </div>


    <div class="row">
    </div>

}





