@model PSEBONLINE.Models.AffiliationModel 
@{
    ViewBag.Title = "Result Statics";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .tbl td {padding:4px
    }
</style>
<div class="row"> 
<div class="col-md-12">@Html.Partial("_AffiliationHeading")</div>
<div class="clearfix"></div>  
 <div class="col-md-3">    
@Html.Partial("_AffiliationMenu")        
    </div>
    <div class="col-md-9">
<h4>Result Statics</h4> 
@using (Html.BeginForm("ResultStatics", "AffiliationContinuation", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
{
        
            if (ViewBag.Totalcount > 0)
            {
            <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1" class="tbl">            
                <tr class="active-tr">
                    <td rowspan="2" align="center" width="15%">Class</td>
                    <td colspan="3" align="center">@Session["AffSession"].ToString()</td>                    
                </tr>
                <tr class="active-tr">
                    <td align="center" width="15%">Total Candidate</td>
                    <td align="center" width="15%">Pass Candidates</td>
                    <td align="center" width="15%">Percentage</td>
                </tr>
                <tr>
                    <td>10th</td>
                    <td>@Html.TextBoxFor(a => a.RS10GTotal2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.RS10GPass2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td><label>@Html.DisplayFor(a => a.RS10GPercent2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</label></td>
                    @*<td>@Html.TextBoxFor(a => a.RS10GTotal2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        <td>@Html.TextBoxFor(a => a.RS10GPass2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        <td>@Html.DisplayFor(a => a.RS10GPercent2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Humanties</td>
                    <td>@Html.TextBoxFor(a => a.RS12HTotal2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.RS12HPass2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td><label>@Html.DisplayFor(a => a.RS12HPercent2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</label></td>
                    @* <td>@Html.TextBoxFor(a => a.RS12HTotal2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        <td>@Html.TextBoxFor(a => a.RS12HPass2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        <td>@Html.DisplayFor(a => a.RS12HPercent2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Science</td>
                    <td>@Html.TextBoxFor(a => a.RS12STotal2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.RS12SPass2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td><label>@Html.DisplayFor(a => a.RS12SPercent2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</label></td>
                    @*<td>@Html.TextBoxFor(a => a.RS12STotal2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        @*<td>@Html.TextBoxFor(a => a.RS12SPass2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        <td>@Html.DisplayFor(a => a.RS12SPercent2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Commerce</td>
                    <td>@Html.TextBoxFor(a => a.RS12CTotal2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.RS12CPass2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td><label>@Html.DisplayFor(a => a.RS12CPercent2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</label></td>
                    @* <td>@Html.TextBoxFor(a => a.RS12CTotal2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        @*<td>@Html.TextBoxFor(a => a.RS12CPass2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        <td>@Html.DisplayFor(a => a.RS12CPercent2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Vocational</td>
                    <td>@Html.TextBoxFor(a => a.RS12VTotal2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.RS12VPass2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td><label>@Html.DisplayFor(a => a.RS12VPercent2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</label></td>
                    @*<td>@Html.TextBoxFor(a => a.RS12VTotal2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        @*<td>@Html.TextBoxFor(a => a.RS12VPass2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
        <td>@Html.DisplayFor(a => a.RS12VPercent2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>                
            </table>
            <div style="text-align:center" class="tbp">
                @if (string.IsNullOrEmpty(Model.ChallanId))
                {
                    <input type="submit" name="submit" value="SAVE" />
                }
                <a href="/AffiliationContinuation/Index" class="btn">Back</a>
            </div>
            }
            else
            {
                <p>Record Not Found</p>
            }


        

        
}
    </div>
    </div>
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                </script>}
            else
            {
                <script type="text/javascript" language="javascript">
                     alert("Submit Failure, Please Try Again");
                </script>
            }
        }
    }
}