
@model PSEBONLINE.Models.SchoolModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">@Html.Partial("_AffiliationHeading")</div>
        <div class="clearfix"></div>

        <div class="col-md-3">
            @*@Html.Partial("_AffiliationMenu")*@


            <div class="panel-group" id="accordion">

             <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/Index/@ViewBag.SCHL">Dashboard</a>
                </h4>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/SchoolProfile/@ViewBag.SCHL">School Profile</a>
                </h4>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/ResultStatics/@ViewBag.SCHL">Result Statics </a>

                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/StudentFeeDetails/@ViewBag.SCHL">Student Fee/Funds Details</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/BalanceSheet/@ViewBag.SCHL">Balance Sheet</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <a href="/AffiliationContinuation/SafetyDetails/@ViewBag.SCHL">Building/Fire Safety Details</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/BooksPurchaseDetails/@ViewBag.SCHL">Books Purchase Details</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/Activities/@ViewBag.SCHL">Other information & Activities</a>
                </h4>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/UploadAffiliationContinuationDocuments/@ViewBag.SCHL" title="Upload Documents">Upload Documents</a>
                </h4>
            </div>
        </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/AffiliationContinuation//PrintForm/@ViewBag.SCHL">View Application</a>
                        </h4>
                    </div>
                </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AffiliationContinuation//CalculateFee/@ViewBag.SCHL">Calculate Fee & Final Submit</a>
                    </h4>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AffiliationContinuation/FinalPrintForm/@ViewBag.SCHL">Print Form</a>
                    </h4>
                </div>
            </div>

        </div>
        </div>

        <div class="col-md-9">
            <h4>School Profile Details</h4>
            <div>
                @Html.HiddenFor(a => a.id)
            </div>
            <div class="row">
                <div class="col-md-2">
                    School Code
                </div>
                <div class="col-md-2">
                    <label>@Html.DisplayFor(a => a.SCHL, new { })</label>
                </div>
                <div class="col-md-2">
                    School Identity Code
                </div>
                <div class="col-md-2">
                    <label> @Html.DisplayFor(a => a.idno, new { })</label>
                </div>
                <div class="col-md-2">
                    Class Level

                </div>
                <div class="col-md-2">
                    <label>@Html.DisplayFor(a => a.CLASS, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    School Name
                </div>
                <div class="col-md-10">
                    <label>@Html.DisplayFor(a => a.SCHLE, new { })</label><br />
                    <label class="kdsfont">@Html.DisplayFor(a => a.SCHLP, new { @class = "kdsfont" })</label>

                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    District Name
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.DISTE, new { })</label>
                </div>
                <div class="col-md-2">
                    Establishment Year
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.SchlEstd, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Address of School
                </div>
                <div class="col-md-10">
                    <label>@Html.DisplayFor(a => a.ADDRESSE, new { })</label><br />
                    <label class="kdsfont">@Html.DisplayFor(a => a.ADDRESSP, new { })</label>

                </div>
            </div>
            <div class="clearfix"></div>
            <h4>Class/ Stream Details</h4>
            <div class="row">
                <div class="col-md-12">
                    <div style="overflow-x:scroll;width:100%">
                        <table id="t01" class="table table-bordered">
                            <tr style="font-weight: bold;">
                                <td rowspan="2" style="text-align:left">Description</td>
                                <td colspan="3" style="text-align:center">MATRIC</td>
                                <td colspan="12" style="text-align:center">SENIOR SECONDARY</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td colspan="2" style="text-align:center">REGULAR	</td>
                                <td style="text-align:center">OPEN</td>
                                <td colspan="6" style="text-align:center">REGULAR</td>
                                <td colspan="6" style="text-align:center">OPEN</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Groups</td>
                                <td align="left">
                                    GEN

                                </td>
                                <td align="left">
                                    NSQF
                                </td>
                                <td align="left">
                                    GEN
                                </td>
                                <td align="left">
                                    Hum.
                                </td>
                                <td align="left">
                                    Sci
                                </td>
                                <td align="left">
                                    Comm.
                                </td>
                                <td align="left">
                                    Voc.
                                </td>
                                <td align="left">
                                    Tech.
                                </td>
                                <td align="left">
                                    Agri.
                                </td>
                                <td align="left">
                                    Hum.
                                </td>
                                <td align="left">
                                    Sci
                                </td>
                                <td align="left">
                                    Comm.
                                </td>
                                <td align="left">
                                    Voc.
                                </td>
                                <td align="left">
                                    Tech.
                                </td>
                                <td align="left">
                                    Agri.
                                </td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Status</td>
                                <td> @Html.DisplayFor(a => a.MATRIC, new { })</td>
                                <td>@Html.DisplayFor(a => a.NSQF_flag, new { })</td>
                                <td> @Html.DisplayFor(a => a.OMATRIC, new { })</td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.HUM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.SCI, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.COMM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.VOC, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.TECH, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.AGRI, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OHUM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OSCI, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OCOMM, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OVOC, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OTECH, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.OAGRI, new { })
                                </td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Type</td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.HID_UTYPE, new { })
                                </td>
                                <td></td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.HID_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.H_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.S_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.C_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.V_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.A_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.T_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.H_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.S_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.C_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.V_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.A_UTYPE, new { })
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(a => a.T_UTYPE, new { })
                                </td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Year</td>
                                <td>@Html.DisplayFor(a => a.HID_YR, new { })</td>
                                <td></td>
                                <td>@Html.DisplayFor(a => a.OMID_YR, new { })</td>
                                <td>@Html.DisplayFor(a => a.HYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.SYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.CYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.VYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.TYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.AYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OHYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OSYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OCYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OVYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OTYR, new { })</td>
                                <td>@Html.DisplayFor(a => a.OAYR, new { })</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td>Sections</td>
                                <td>@Html.DisplayFor(a => a.HID_YR_SEC, new { })</td>
                                <td></td>
                                <td>@Html.DisplayFor(a => a.OMID_YR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.HYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.SYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.CYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.VYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.TYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.AYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OHYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OSYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OCYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OVYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OTYR_SEC, new { })</td>
                                <td>@Html.DisplayFor(a => a.OAYR_SEC, new { })</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <h4>Principal / Contact Details</h4>
            <div class="row">
                <div class="col-md-2">
                    Principal Name <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.PRINCIPAL, new { })</label>
                </div>
                <div class="col-md-2">Principal DOB <span class="rqf">*</span></div>
                <div class="col-md-4">
                    <label> @Html.DisplayFor(a => a.DOB, new { })</label>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-3">Principal Qualification <span class="rqf">*</span></div>
                <div class="col-md-9">
                    <label>@Html.DisplayFor(a => a.PQualification, new { })</label>
                </div>

                <div class="col-md-2">Experience (in yrs)</div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.ExperienceYr, new { })</label>
                </div>
                <div class="col-md-2">Date of Joining <span class="rqf">*</span></div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.DOJ, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Mobile No. <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.MOBILE, new { })</label>
                </div>

                <div class="col-md-2">
                    Std Code/Phone <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5"><label>@Html.DisplayFor(a => a.STDCODE, new { })</label></div>
                        <div class="col-md-7"><label>@Html.DisplayFor(a => a.PHONE, new { })</label></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Registered Email<span class="rqf">*</span>
                </div>
                <div class="col-md-10">
                    <label>@Html.DisplayFor(a => a.EMAILID, new { })</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">Other Person Name<span class="rqf">*</span></div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.CONTACTPER, new { })</label>
                </div>
                <div class="col-md-2">
                    Other Mobile No. <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.OtContactno, new { })</label>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <h4>Staff / Teacher Details</h4>
            <div class="row">
                <div class="col-md-2">
                    Total Teachers <span class="rqf">*</span>
                </div>
                <div class="col-md-4 ">
                    <label>@ViewBag.TotalTeachers</label>
                </div>
                <div class="col-md-6 right">
                    <a href="/SchoolProfile/DisplaySchoolStaffDetails" class="btn" target="_blank">Click here to View Teacher List</a>

                </div>
                <div class="clearfix"></div>
@* <div class="col-md-12"><span class="rqf">Attach appointment letter/Qualification Certificate/Salary Details/ Experience/Agreement of new appointed teachers only with printed hard copy.</span></div>*@
<div class="col-md-12"><span class="rqf">If you want to Add/Modify/View Staff list, then click above button "Click here to view teacher list"</span></div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <span class="rqf">
                        &nbsp;<br />
                        Note : If any correction is required in school profile, then you can update data  which fields are unlocked  under school profile-> Update School Information . Locked fields will be corrected in PSEB as per your request on letter head at affiliated branch
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 text-center tbp"> <a href="/SchoolProfile/Update_School_Information" class="btn">Click Here to Update School Information</a> <a href="/AffiliationContinuation/Index" class="btn">Back</a></div>
        </div>
    </div>
}


@{
    if (ViewData["resultSVF"] != null)
    {
        if (ViewData["resultSVF"].ToString() == "2")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Not Found");
            </script>
        }
    }
}
