@model PSEBONLINE.Models.AffiliationModel
@{
    ViewBag.Title = "Students Fee Details";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .tbl td {
        padding: 4px
    }
</style>
<div class="row">
    <div class="col-md-12">@Html.Partial("_AffiliationHeading")</div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        @Html.Partial("_AffiliationMenu")
    </div>
    <div class="col-md-9">
        <h4>Students/Fee Details</h4>
        @using (Html.BeginForm("StudentFeeDetails", "AffiliationContinuation", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
        {

            <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1" class="tbl">
                <tr class="active-tr">
                    <td rowspan="2" align="center" width="20%">Class</td>
                    <td colspan="2" align="center">2023-24</td>                    
                    @*<td rowspan="2" align="center" width="20%">Fee increased per candidate (Percentage)</td>*@
                </tr>
                <tr class="active-tr">
                    <td align="center" width="15%">Total Candidate</td>
                    <td align="center" width="15%">Total Tuition Fee<br /><span style="font-size:10px">(Fee [Per Month] x 12 x No of Candidate)</span></td>                    
                </tr>
                <tr>
                    <td>1st</td>
                    <td>@Html.TextBoxFor(a => a.SF1TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF1TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF1TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF1TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF1Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>@Html.TextBoxFor(a => a.SF2TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF2TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF2TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF2TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF2Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>3rd</td>
                    <td>@Html.TextBoxFor(a => a.SF3TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF3TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF3TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF3TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF3Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>4th</td>
                    <td>@Html.TextBoxFor(a => a.SF4TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF4TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF4TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF4TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF4Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>5th</td>
                    <td>@Html.TextBoxFor(a => a.SF5TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF5TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF5TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF5TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF5Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>6th</td>
                    <td>@Html.TextBoxFor(a => a.SF6TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF6TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF6TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF6TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF6Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>7th</td>
                    <td>@Html.TextBoxFor(a => a.SF7TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF7TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF7TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF7TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF7Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>8th</td>
                    <td>@Html.TextBoxFor(a => a.SF8TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF8TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF8TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF8TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF8Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>9th</td>
                    <td>@Html.TextBoxFor(a => a.SF9TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF9TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF9TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF9TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF9Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>10th</td>
                    <td>@Html.TextBoxFor(a => a.SF10TC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF10TF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF10TC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF10TF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF10Percent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>11th Humanties</td>
                    <td>@Html.TextBoxFor(a => a.SF11HTC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11HTF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF11HTC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11HTF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF11HPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>11th Science</td>
                    <td>@Html.TextBoxFor(a => a.SF11STC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11STF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF11STC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11STF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF11SPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>11th Commerce</td>
                    <td>@Html.TextBoxFor(a => a.SF11CTC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11CTF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF11CTC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11CTF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF11CPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>11th Vocational</td>
                    <td>@Html.TextBoxFor(a => a.SF11VTC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11VTF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF11VTC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF11VTF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF11VPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Humanties</td>
                    <td>@Html.TextBoxFor(a => a.SF12HTC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12HTF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF12HTC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12HTF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF12HPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Science</td>
                    <td>@Html.TextBoxFor(a => a.SF12STC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12STF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF12STC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12STF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF12SPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Commerce</td>
                    <td>@Html.TextBoxFor(a => a.SF12CTC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12CTF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF12CTC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12CTF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF12CPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>
                <tr>
                    <td>12th Vocational</td>
                    <td>@Html.TextBoxFor(a => a.SF12VTC2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12VTF2017, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    @*<td>@Html.TextBoxFor(a => a.SF12VTC2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>
                    <td>@Html.TextBoxFor(a => a.SF12VTF2018, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                    @*<td>@Html.DisplayFor(a => a.SF12VPercent, new { @maxlength = "7", onkeypress = "return isNumberKey(event);", })</td>*@
                </tr>


            </table>
            <div style="text-align:center" class="tbp">
                @if (string.IsNullOrEmpty(Model.ChallanId))
                {
                    <input type="submit" name="submit" value="SAVE" />
                }
                <a href="/AffiliationContinuation/Index" class="btn">Back</a>
            </div>


        }
    </div>
</div>




@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                </script>}
            else
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit Failure, Please Try Again");
                </script>
            }
        }
    }
}