@model PSEBONLINE.Models.FeeHomeViewModel
@{
    ViewBag.Title = "Exam Calculate Fee";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .ullist li {
        padding: 6px 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
        /*.ullist li a {
                color: #000;font-size:15px
            }*/
        .ullist li a samp {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
            background-color: #fff;
            color: #000;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            display: inline-block;
            text-align: center;
            padding-top: 3px
        }

    .ullist {
        padding-bottom: 10px;
    }

        .ullist li a {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 4px;
            width: 260px
        }

            .ullist li a:focus,
            .ullist li a.focus {
                color: #fff;
                background-color: #449d44;
                border-color: #255625;
            }

            .ullist li a:hover {
                color: #fff;
                background-color: #449d44;
                border-color: #398439;
            }


    .ullista li {
        padding: 6px 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
        /*.ullist li a {
                color: #000;font-size:15px
            }*/
        .ullista li a samp {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
            background-color: #fff;
            color: #000;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            display: inline-block;
            text-align: center;
            padding-top: 3px
        }

    .ullista {
        padding-bottom: 10px;
    }

        .ullista li a {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 4px;
            width: 260px
        }

            .ullista li a:focus,
            .ullista li a.focus {
                color: #fff;
                background-color: #c9302c;
                border-color: #761c19;
            }

            .ullista li a:hover {
                color: #fff;
                background-color: #c9302c;
                border-color: #ac2925;
            }
</style>

<h1>
    Exam Calculate Fee For - Session @Session["Session"].ToString()
    <span style="float:right"><a href="~/RegistrationPortal/ExaminationPortal" class="btn">Back</a></span>
</h1>
<div class="row" id="divall">

    @if (ViewBag.DateMessage != null)
    {
        <div class="col-md-12 text-center">
            <span class="rqf" style="font-size:24px;font-weight:normal">
                Examination Form generation dates are over, now you cannot calculate fee or generate Form. <br /> Kindly contact with Controller Examination at PSEB Head Office
            </span>
        </div>
    }
<div class="col-md-12">
    <a href="https://pseb.ac.in/media/1654752095_Scheme%20of%20study%2010th%20class.pdf" target="_blank" class="btn">Scheme of Study (Subjects List/Combination/Marks Distribution) of Matriculation Class, Session 2023-24</a>
    <br><br>
    <a href="https://pseb.ac.in/media/1661160772_N_11519_1660733197179.pdf" target="_blank" class="btn">Scheme of Study (Subjects List/Combination/Marks Distribution) of Senior Secondary Class, Session 2023-24</a>
    <br><br>
    <a href="https://pseb.ac.in/media/1661944126_N_5162_1661768722335.pdf" target="_blank" class="btn">(Vocational) Scheme of Study (Subjects List/Combination/Marks Distribution) of Senior Secondary Class, Session 2023-24</a>
    <br><br>
</div>

    <div class="clearfix"></div>
    <div class="col-md-6">

        <fieldset class="hideint">
            <legend>Matric Regular/Open Calculate Fee</legend>
            <ul class="ullista">
                <li class="hideint"><a href="/Home/ExamCalculateFee?id=M&D=0" class=""><img src="/images/Examw.png" /> Matric Regular Calculate Fee <samp>@ViewBag.MR</samp></a></li>
                <li class="hideint"><a href="/Home/ExamCalculateFee?id=MO&D=0" class=""><img src="/images/Examw.png" /> Matric Open Calculate Fee <samp>@ViewBag.MO</samp></a> </li>
            </ul>
        </fieldset>
    </div>
    <div class="col-md-6">

        <fieldset class="hideint">
            <legend>Senior Regular/Open Calculate Fee</legend>
            <ul class="ullist">
                <li class="hideint"><a href="/Home/ExamCalculateFee?id=S&D=0" class=""><img src="/images/Examws.png" /> Senior Regular Calculate Fee <samp>@ViewBag.SR</samp></a></li>
                <li class="hideint"><a href="/Home/ExamCalculateFee?id=SO&D=0" class=""><img src="/images/Examws.png" /> Senior Open Calculate Fee <samp>@ViewBag.SO</samp></a></li>
            </ul>
        </fieldset>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-12">
        @{
            if (@ViewBag.SearchId != null)
            {
                if (ViewBag.SearchId == "M")
                {
                    <h1>Matric Regular Calculate Fee</h1>
                }
                if (@ViewBag.SearchId == "S")
                {
                    <h1>Senior Regular Calculate Fee</h1>
                }
                if (@ViewBag.SearchId == "MO")
                {
                    <h1>Matric Open Calculate Fee</h1>
                }
                if (@ViewBag.SearchId == "SO")
                {
                    <h1>Senior Open Calculate Fee</h1>
                }
            }
        }
    </div>
    <div class="clearfix"></div>



    <div class="col-md-12">
        @{
            if (ViewData["FeeStatus"] != null)
            {
                if (ViewData["FeeStatus"].ToString() == "1")
                {
                    <p style="color:#cc0000">
                        This Fee is Valid Upto date @Html.DisplayFor(m => m.EndDate)
                    </p>

                    if (Model != null && ViewBag.TotalCount != null)
                    {
                        if (ViewBag.SearchId == "M" || ViewBag.SearchId == "S")
                        {
                            if (ViewBag.TotalCount > 0 && Model.StoreAllData.Tables[2].Rows.Count > 0)
                            {
                                <a href="" data-toggle="modal" data-target="#myModal1" class="btn">Click Here To View Candidate Wise Fee</a>
                                if (ViewBag.SearchId == "M")
                                {
                                    <a href="/Home/ExamCalculateFee?id=M&D=1" class="btn">Download Records</a>
                                }
                                if (@ViewBag.SearchId == "S")
                                {
                                    <a href="/Home/ExamCalculateFee?id=S&D=1" class="btn">Download Records</a>
                                }
                                if (@ViewBag.SearchId == "MO")
                                {
                                    <a href="/Home/ExamCalculateFee?id=MO&D=1" class="btn">Download Records</a>
                                }
                                if (@ViewBag.SearchId == "SO")
                                {
                                    <a href="/Home/ExamCalculateFee?id=SO&D=1" class="btn">Download Records</a>
                                }
                            }
                        }
                    }
                }
                else if (ViewData["FeeStatus"].ToString() == "3")
                {
                    <p style="color:#cc0000">@ViewBag.Message</p>
                }
            }
        }


        @if (ViewBag.SearchId == "MO" || ViewBag.SearchId == "SO")
        {
            if (Session["OpenExamCalculateFee"] != null)
            {
                if (Session["OpenExamCalculateFee"].ToString() == "1")
                {
                    <div>
                        <h2> Exam Fee already paid by candidates & Examination Forms generated successfully.</h2>

                        <script type="text/javascript" language="javascript">
                alert('Exam Fee already paid by candidates & Examination Forms generated successfully.');
                window.location.href = '@Url.Action("ExamFormCalFee", "ExaminationPortal")';
                        </script>
                    </div>
                }
            }
        }
        else
        {

            <div class="table-responsive">
                @{
                    if (ViewData["FeeStatus"] != null)
                    {
                        if (ViewData["FeeStatus"].ToString() == "1")
                        {

                            <table class="table table-bordered" id="t01">
                                <tr class="active-tr">
                                    <th rowspan="2">Class</th>
                                    <th rowspan="2" style="text-align:center">No. Of Total Candidate</th>
                                    @*
                                        <th colspan="3" style="text-align:center">Total Candidate Details</th>*@
                                    <th colspan="2" style="text-align:center">Exam Fee</th>

                                    <th rowspan="2" style="text-align:center">No of Add Sub</th>
                                    @*
                                        <th rowspan="2" style="text-align:center">AddSubFee</th>*@
                                    <th colspan="2" style="text-align:center">Additional Subject Fee</th>
                                    <th rowspan="2" style="text-align:center">No of Pr Sub</th>

                                    <th colspan="2" style="text-align:center">Practical Fee Details</th>
                                    <th rowspan="2" style="text-align:center">Late fee</th>
                                    <th rowspan="2" style="text-align:center">Cert fee</th>
                                    <th rowspan="2" style="text-align:center">Total Fees</th>
                                </tr>
                                <tr class="active-tr">
                                    @*
                                        <th>Full Fee Candidate</th>
                                        <th>Exempt Fee Candidate</th>
                                        <th>Total Students</th>*@

                                    <th>Fee Per Candidate</th>
                                    @*
                                        <th>Exempt Fee Per Candidate</th>*@
                                    <th>Total Fee</th>

                                    <th>Fee Per Candidate</th>
                                    <th>Total Fee</th>

                                    <th>Fee Per Candidate</th>
                                    <th>Total Fee</th>


                                </tr>
                                @{

                                    if (ViewBag.TotalCount > 0)
                                    {
                                        var StudentList = "";
                                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                        {
                                            var Form = Model.StoreAllData.Tables[0].Rows[i]["form_Name"].ToString();
                                            var NFFC = Model.StoreAllData.Tables[0].Rows[i]["NECAN"].ToString();
                                            var NEFC = Model.StoreAllData.Tables[0].Rows[i]["ECAN"].ToString();

                                            var NOS = Model.StoreAllData.Tables[0].Rows[i]["NOS"].ToString();

                                            var FFPC = Model.StoreAllData.Tables[0].Rows[i]["NEFEE"].ToString();
                                            var EFPC = Model.StoreAllData.Tables[0].Rows[i]["EFEE"].ToString();
                                            var fee = Model.StoreAllData.Tables[0].Rows[i]["fee"].ToString();

                                            var AddSubFee = Model.StoreAllData.Tables[0].Rows[i]["AddSubFee"].ToString();
                                            var NOAS = Model.StoreAllData.Tables[0].Rows[i]["NOAS"].ToString();
                                            var NOAPS = Model.StoreAllData.Tables[0].Rows[i]["NOAPS"].ToString();

                                            var PracFee = Model.StoreAllData.Tables[0].Rows[i]["PrSubFee"].ToString();
                                            var NOPS = Model.StoreAllData.Tables[0].Rows[i]["NOPS"].ToString();

                                            var pfps = Model.StoreAllData.Tables[0].Rows[i]["pfps"].ToString();
                                            var latefee = Model.StoreAllData.Tables[0].Rows[i]["latefee"].ToString();
                                            var TotalFees = Model.StoreAllData.Tables[0].Rows[i]["totfee"].ToString();
                                            StudentList += Model.StoreAllData.Tables[0].Rows[i]["StudentList"].ToString() + ",";

                                            var FeePerCand = Model.StoreAllData.Tables[3].Rows[i]["fee"].ToString();
                                            var latefeePerCand = Model.StoreAllData.Tables[3].Rows[i]["latefee"].ToString();
                                            var AddSubFeePerCand = Model.StoreAllData.Tables[3].Rows[i]["AddSubFee"].ToString();
                                            var PrSubFeePerCand = Model.StoreAllData.Tables[3].Rows[i]["PrSubFee"].ToString();

                                            var FEECODE = Model.StoreAllData.Tables[0].Rows[i]["FEECODE"].ToString();
                                            var HardCopyCertificateFee = Model.StoreAllData.Tables[0].Rows[i]["HardCopyCertificateFee"].ToString();
                                            var Class = FEECODE == "41" ? "Senior Reg" : FEECODE == "42" ? "Senior Open" : FEECODE == "43" ? "Matric Reg" : FEECODE == "44" ? "Matric Open" : "";
                                            int Count = i + 1;
                                            <tr>
                                                <td align="center">@Class</td>

                                                @*
                                                    <td align="center">@NFFC</td>*@
                                                @*
                                                    <td align="center">@NEFC</td>*@
                                                <td align="center">@NOS</td>

                                                <td align="center">@FeePerCand</td>
                                                @*
                                                    <td align="center">@EFPC</td>*@
                                                <td align="center">@fee</td>
                                                <td align="center">@NOAS</td>

                                                <td align="center">@AddSubFeePerCand</td>
                                                <td align="center">@AddSubFee</td>

                                                <td align="center">@NOPS</td>
                                                <td align="center">@PrSubFeePerCand</td>
                                                <td align="center">@PracFee</td>
                                                <td align="center">@latefee</td>
                                                <td align="center">@HardCopyCertificateFee</td>
                                                <td align="center">@TotalFees</td>
                                            </tr>
                                        }
                                        Session["ExamStudentList"] = StudentList.ToString();
                                        <tr>

                                            <td colspan="15" align="right">Total Fees : ₹  @Html.DisplayFor(m => m.TotalFeesInWords)  </td>
                                        </tr>
                                    }
                                    @*else
                                        {
                                        <tr>
                                            <td colspan="8">
                                                @ViewBag.Message
                                            </td>
                                        </tr>
                                        }*@
                                }
                            </table>

                        }
                    }

                }


                @{
                    if (ViewData["FeeStatus"] != null)
                    {
                        if (ViewData["FeeStatus"].ToString() == "1")
                        {
                            <p style="text-align:center" class="hideint">
                                <a href="~/Home/ExamPaymentForm?id=@ViewBag.SearchId" class="btn" onclick="return confirm('You are going to submit the data. After that data will be locked for any changes?');">Final Submission</a> <a href="~/RegistrationPortal/ExaminationPortal" class="btn">Back</a>
                            </p>
                            @*@Html.ActionLink("Final Submission", "ExamPaymentForm", "Home", new { @class = "btn", @OnClick = "return confirm('You are going to submit the data. After that data will be locked for any changes?');" })*@
                            @*@Html.ActionLink("Final Submission", "", "", new { @class = "btn", @OnClick = "return confirm('Will be Available Soon?');" })*@

                        }
                    }
                }

            </div>
        }
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <p style="height:200px"></p>

    </div>
</div>


@*Candidate Fee List*@

@if (Model != null && ViewBag.TotalCount != null)
{
    if (ViewBag.SearchId == "M" || ViewBag.SearchId == "S")
    {
        if (ViewBag.TotalCount > 0 && Model.StoreAllData.Tables[2].Rows.Count > 0)
        {
            <div class="container">
                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog" style="width:80%">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3><span style="color:#cc0000">Total Number of Students : @Model.StoreAllData.Tables[2].Rows.Count</span></h3>
                            </div>

                            <div class="modal-body">
                                <table id="t01" class="table table-bordered">
                                    <tr class="active-tr">
                                        <th>Sr No</th>
                                        <th>Unique ID</th>
                                        <th>Name of Student</th>
                                        <th>Class Section/RollNumber</th>
                                        <th>DOB</th>
                                        <th>Exemption</th>
                                        <th>Phy Chl(%)</th>
                                        <th>Form</th>
                                        <th>Fee</th>
                                        <th>No. of Add Sub</th>
                                        <th>Additional Fee</th>
                                        <th>No. of Pr Sub</th>
                                        <th>Practical  Fee </th>
                                        <th>Late Fee</th>
                                        <th>Cert Fee</th>
                                        <th>Total Fee</th>
                                    </tr>
                                    @{
                                        int Count = 0;
                                        int TotalFee = 0, TotalADDFee = 0, TotalLateFee = 0, TotalPracFee = 0, TotalCertFee = 0, TotalAmountFee = 0;
                                        for (int k = 0; k < Model.StoreAllData.Tables[2].Rows.Count; k++)
                                        {
                                            var std_id = Model.StoreAllData.Tables[2].Rows[k]["reg16id"].ToString();
                                            var PHY_CHAL = Model.StoreAllData.Tables[2].Rows[k]["PHY_CHAL"].ToString();
                                            var DisabilityPercent = Model.StoreAllData.Tables[2].Rows[k]["DisabilityPercent"].ToString();
                                            var Age = Model.StoreAllData.Tables[2].Rows[k]["Age"].ToString();
                                            var DOB = Model.StoreAllData.Tables[2].Rows[k]["DOB"].ToString();
                                            var IsExemption = Model.StoreAllData.Tables[2].Rows[k]["IsExemption"].ToString();

                                            //var FullName = Model.StoreAllData.Tables[2].Rows[k]["FullName"].ToString();
                                            var form_name = Model.StoreAllData.Tables[2].Rows[k]["form_name"].ToString();
                                            var Fee = Model.StoreAllData.Tables[2].Rows[k]["Fee"].ToString();
                                            var AddSubFee = Model.StoreAllData.Tables[2].Rows[k]["AddSubFee"].ToString();
                                            var PracFee = Model.StoreAllData.Tables[2].Rows[k]["PrSubFee"].ToString();
                                            var add_sub_count = Model.StoreAllData.Tables[2].Rows[k]["NOAS"].ToString();
                                            var prac_sub_count = Model.StoreAllData.Tables[2].Rows[k]["NOPS"].ToString();
                                            var LateFee = Model.StoreAllData.Tables[2].Rows[k]["latefee"].ToString();
                                            var TotFee = Model.StoreAllData.Tables[2].Rows[k]["Totfee"].ToString();
                                            var HardCopyCertificateFee = Model.StoreAllData.Tables[2].Rows[k]["HardCopyCertificateFee"].ToString();

                                            var cnm = Model.StoreAllData.Tables[2].Rows[k]["candi_name"].ToString();
                                            var Section = Model.StoreAllData.Tables[2].Rows[k]["Section"].ToString();
                                            var classroll = Model.StoreAllData.Tables[2].Rows[k]["classroll"].ToString();
                                            //
                                            TotalFee += Convert.ToInt32(Fee);
                                            TotalADDFee += Convert.ToInt32(AddSubFee);
                                            TotalPracFee += Convert.ToInt32(PracFee);
                                            TotalCertFee += Convert.ToInt32(HardCopyCertificateFee);

                                            TotalLateFee += Convert.ToInt32(LateFee);
                                            TotalAmountFee += Convert.ToInt32(TotFee);
                                            Count = Count + 1;
                                                                        <tr>
                                                                            <td>@Count</td>
                                                                            <td>@std_id</td>
                                                                            <td>@cnm</td>
                                                                            <td>@Section / @classroll</td>
                                                                            <td>@DOB </td>
                                                                            <td>@IsExemption</td>
                                                                            <td>
                                                                                @PHY_CHAL
                                                                            @if (PHY_CHAL != "N.A.")
                                                                            {<span>(@DisabilityPercent%)</span>}

                                                                        </td>
                                                                        <td>@form_name</td>
                                                                        <td>@Fee</td>
                                                                        <td>@add_sub_count</td>
                                                                        <td>@AddSubFee</td>
                                                                        <td>@prac_sub_count</td>
                                                                        <td>@PracFee</td>
                                                                        <td>@LateFee</td>
                                                                        <td>@HardCopyCertificateFee</td>
                                                                        <td>@TotFee</td>
                                                                        </tr>

                                    }

                                    <tr style="color: lightgray; background-color: #000000; font-size: 14px; ">
                                        <td colspan="1">Total</td>
                                        <td colspan="7" align="left">
                                            Total Fees : ₹  @{
                                                if (TotalFee > 0)
                                                {
                                                    string AmountInWords = new PSEBONLINE.AbstractLayer.DBClass().GetAmountInWords(TotalAmountFee);
                                                    <span>@AmountInWords</span>
                                                }
                                            }
                                        </td>
                                        <td>@TotalFee</td>
                                        <td></td>
                                        <td>@TotalADDFee</td>
                                        <td></td>
                                        <td>@TotalPracFee</td>
                                        <td>@TotalLateFee</td>
                                        <td>@TotalCertFee</td>
                                        <td>@TotalAmountFee</td>
                                    </tr>
                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
}



<script type="text/javascript">
    window.setInterval(function () {
        var current = new Date();
        //var expiry = new Date("Nov 03, 2018 23:59:59")
        if (current.getTime() > expiry.getTime()) {
            $('.hideint').hide();
        } else if (current.getTime() < expiry.getTime()) {
            $('.hideint').show();
        }
    }, 0);
</script>
