@model PSEBONLINE.Models.PunAddModels
@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}
@*<h1>Matric Exam For Punjabi Additional, April-2019</h1>*@
<h1>Matric Exam For Punjabi Additional </h1>
@*<h1>Matric Exam For Punjabi Additional, October-2019</h1>*@
@*<h1>Matric Exam For Punjabi Additional, January-2019</h1>*@
@using (Html.BeginForm("PunAddExamination", "PunAdd", FormMethod.Post, new { id = "refno", enctype = "multipart/form-data" }))
{
    <div class="row" style="margin-bottom:40px">
        <div class="col-md-4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Important Links</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul style="height:318px">
 

                                @*<li><a href="https://registration2022.pseb.ac.in/PunAdd/PunAddResults" target="_blank"><samp>❭</samp> Result of Punjabi Additional Special Examination<img src="/images/new.gif" alt="new" /></a></li>*@
                                       
 
                         
                                @*<li><a href="~/PunAdd/PunAddAdmitCardSearch" target="_blank"><samp>❭</samp> Admit Card of Punjabi Additional Special Exam, October 2021 <img src="/images/new.gif" alt="new" /></a></li>*@

                                                                
                                <li><a href="/PDF/Online-Instructions_2020.pdf" target="_blank"><samp>❭</samp> Instructions Regarding online Submission of Punjabi Additional Form.</a></li>                                

                            </ul>

                        </div>
                    </div>
                </div>




            </div>
        </div>
       
                <div class="col-md-4">
            <div class="" style="border:2px solid #ccc;padding:10px 50px;background-color:#f1f1f1;margin-bottom:30px">
                <form name="myForm" method="post">

                    <h3 class="form-signin-heading text-center"><input type="button" value="New User (Click Here to Register)" onclick="javascript:document.location.href='@Url.Action("PunAddIntroduction", "PunAdd")    '" /></h3>

                    <h3 class="form-signin-heading text-center">Login (Already Registered)</h3>
                    <div class="text-danger"> @ViewBag.Message </div>
                    @Html.TextBoxFor(a => a.refNo, new { id = "refNo", @maxlength = "15", @class = "form-control", placeholder = "Enter Reference Number", onkeypress = "return isNumberKey(event);" })
                    <br />
                    @Html.TextBoxFor(a => a.OROLL, new { id = "OROLL", @maxlength = "25", @class = "form-control", placeholder = "Enter Old Roll Number", })
                    <p style="color:#cc0000"> (Ref. No. & Old Roll No. has been send to your Email Id & Mobile No. at time of Registration)</p>
                    <div style="text-align:center">
                        <input type="submit" value="Submit" onclick="return valForm();" /><br /><br />
                        <span style="color:#cc0000">@Html.ActionLink("Forgot Password ?", "PunAddForgotPassword", "PunAdd")</span>
                    </div>


                </form>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Notice Board</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul style="height:318px">
                                
                                <li><a href="/PDF/PressNote_Oct2021.pdf" target="_blank"><samp>❭</samp> Press Note Regarding Punjabi Additional Special Exam for Matriculation October 2021</a></li>
                                
                            </ul>

                        </div>
                    </div>
                </div>




            </div>
        </div>
        </div>
           
            }


            @{

                if (ViewData["Status"] != null)
                {
                    var result = ViewData["Status"].ToString();

                    if (result == "1")
                    {
                        <script type="text/javascript" language="javascript">
                            // alert("Refrence No. Successfully Generated. Kindly Check your Email and Mobile No.: ");
                            document.location.href = '@Url.Action("PunAddConfirmation/"+ ViewData["refno"], "PunAdd")';
                        </script>
                    }

                    if (result == "2")
                    {

                        <script type="text/javascript" language="javascript">

                            //alert("Refrence No. Already Generated. Kindly Check your Email and Mobile No. : ");
                            document.location.href = '@Url.Action("PunAddConfirmation/" + ViewData["roll"], "PunAdd")';
                        </script>
                    }
                    if (result == "0")
                    {

                        <script type="text/javascript" language="javascript">

                            alert("Refrence No. Not Generated. Retry Again ");
                            document.location.href = '@Url.Action("PunAddExamination", "PunAdd")';
                        </script>
                    }
                }

            }
            <script type="text/javascript">
                function valForm() {

                    var txtrefNo = document.getElementById("refNo").value;
                    if (txtrefNo.value == "") {
                        alert("Enter Reference Number");
                        txtrefNo.focus();
                        return false;
                    }
                    if (txtrefNo.length != 11) {
                        alert("Enter Valid Reference Number.");
                        document.getElementById("refNo").focus();
                        return false;
                    }
                    var txtOROLL = document.getElementById("OROLL");
                    if (txtOROLL.value == "") {
                        alert("Enter Old OROLL No.");
                        txtOROLL.focus();
                        return false;
                    }
                }

                function isNumberKey(evt) {
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {
                        return true;
                    }
                    else {
                        alert("Invalid character...Enter Only Number!!");
                        return false;
                    }
                }
            </script>
