@model PSEBONLINE.Models.PaymentSuccessModel
@{
    ViewBag.Title = "Payment Successful";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}


<table width="600" align="center" cellpadding="5" cellspacing="5" border="0">
    <tr>
        <td align="left"><img src="/Images/Printlogo.jpg" height="75" alt="PSEB" /></td>
        <td align="right"><img src="/Images/HDFC.jpg" width="200" height="75" alt="HDFC" /></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><h4>Punjab School Education Board</h4></td>
    </tr>
    <tr>
        <td colspan="2">
            <h1>Thank You!</h1>
            <p>Thank you for your payment with the details below:</p>
        </td>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr>
        <td colspan="2"><h1>Transaction Acknowledgment</h1></td>
    </tr>
    <tr>
        <td>Transaction Status</td>
        <td class="suc">@Model.order_status</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Transaction Id</td>
        <td class="fieldName" align="left" width="70%">@Model.tracking_id</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Payment Id</td>
        <td class="fieldName" align="left" width="70%">@Model.order_id</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Bank Reference</td>
        <td class="fieldName" align="left" width="70%">@Model.bank_ref_no</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Transaction Date</td>
        <td class="fieldName" align="left" width="70%">@Model.trans_date</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Amount</td>
        <td class="fieldName" align="left" width="70%">@Model.amount</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <br /><input type="button" value="Print" class="btn" onclick="window.print()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    @{
        if (Model.FEECODE != null)
        {
            if (Convert.ToString(Model.FEECODE).ToLower() == "admin")
            {<a href="../../Challan/ChallanDetails" class="btn">Go To Home</a>
            }
			else if ((new[] { "27", "28", "29", "30", "47" }).Contains(Convert.ToString(Model.FEECODE), StringComparer.OrdinalIgnoreCase))
            {
                <input type="button" value="Go To Home" class="btn" onclick="javascript:document.location.href='@Url.Action("PunAddExamination", "PunAdd")'" />
            }
            else if ((new[] { "22", "23", "24", "26", "38" }).Contains(Convert.ToString(Model.FEECODE), StringComparer.OrdinalIgnoreCase))
            {
                <input type="button" value="Go To Home" class="btn" onclick="javascript:document.location.href='@Url.Action("RecheckConfirmation", "Recheck")'" />
            }
            else if ((new[] { "10", "11", "12", "13", "14", "15", "18", "19", "34", "35", "36", "37", "39", "49", "50", "51", "52", "55", "56", "57", "58", "60", "61", "62", "63" }).Contains(Convert.ToString(Model.FEECODE), StringComparer.OrdinalIgnoreCase))
            {
                <input type="button" value="Go To Home" class="btn" onclick="javascript:document.location.href='@Url.Action("Private_Candidate_Examination_Form", "PrivateCandidate")'" />
            }
            else if ((new[] { "40" }).Contains(Convert.ToString(Model.FEECODE), StringComparer.OrdinalIgnoreCase))
            {
                <input type="button" value="Go To Home" class="btn" onclick="javascript:document.location.href='@Url.Action("CalculateFee", "Open",  new {id= Model.APPNO.ToString() })'" />
            }
            else if ((new[] { "59" }).Contains(Convert.ToString(Model.FEECODE), StringComparer.OrdinalIgnoreCase))
            {
                <input type="button" value="Go To Home" class="btn" onclick="javascript:document.location.href='@Url.Action("CalculateFee", "EAffiliation",  new {id= Model.SCHLREGID.ToString() })'" />

            }
            else
            {
                <a href="https://registration2022.pseb.ac.in/Login" class="btn">Go To Home</a>
            }
        }
		else
            {
                <a href="https://registration2022.pseb.ac.in/Login" class="btn">Go To Home</a>
            }

    }

        </td>
    </tr>
</table>

