@model PSEBONLINE.Models.SchoolMasterForOnlineCentreCreationViews
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<h1>Online Centre Creation</h1>
<p style="color:#cc0000;line-height:26px;font-size:16px">
ਨੋਟ  : ਜਿਨਾਂ ਸਕੂਲਾਂ ਵੱਲੋ  ਸੈਲਫ ਸੈਂਟਰ ਬਣਾਉਣ ਲਈ  ਮਿਤੀ 10-02-2022 ਤੱਕ ਮੈਨੂਅਲ ਫਾਰਮ ਬੋਰਡ ਦਫਤਰ ਜਮਾਂ ਕਰਵਾਇਆ ਗਿਆ ਸੀ, ਕੇਵਲ ਓਹੀ ਸਕੂਲ ਹੀ Centre Creation ਦੀ ਆਨਲਾਈਨ ਫੀਸ ਭਰਨ ਅਤੇ ਸਿਰਫ ਇਹਨਾਂ ਸਕੂਲਾਂ ਦਾ ਹੀ Self Centre ਬਣੇਗਾ। ਜੇਕਰ ਇਸ ਤੋਂ ਇਲਾਵਾ ਕੋਈ ਹੋਰ ਸਕੂਲ ਫੀਸ ਭਰਦਾ ਹੈ, ਤਾਂ ਉਸਦੀ ਜਿਮੇਵਾਰੀ ਸਕੂਲ ਮੁੱਖੀ ਦੀ ਆਪਣੀ ਹੋਵੇਗੀ।
</p>

<p style="font-weight:bold;font-size:20px;"> <a href="/PDF/CentreCreationForm2021-22.pdf" class="btn" target="_blank" >Click here to read instructions before filling the form</a></p>

@using (Html.BeginForm("OnlineCentreCreation", "School", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-2">
            School Code <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayFor(a => a.SCHL, new { })  @Html.HiddenFor(a => a.SCHL, new { })</label>
        </div>
        <div class="col-md-2">
            USERTYPE <span class="rqf">*</span>
        </div>
        <div class="col-md-2">
            <label><span class="">@Html.DisplayFor(a => a.USERTYPE, new { }) @Html.HiddenFor(a => a.USERTYPE, new { })</span></label>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            School Name (English) <span class="rqf">*</span>
        </div>
        <div class="col-md-10"> <label>@Html.DisplayFor(a => a.SCHLNME, new { }) @Html.HiddenFor(a => a.SCHLNME, new { })</label></div>

        <div class="col-md-2">
            School Name (Punjabi) <span class="rqf">*</span>
        </div>

        <div class="col-md-10"> <label><span class="kdsfont">@Html.DisplayFor(a => a.SCHLNMP, new { })  @Html.HiddenFor(a => a.SCHLNMP, new { })</span></label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            DISTNM  (English) <span class="rqf">*</span>
        </div>
        <div class="col-md-4"><label>@Html.DisplayFor(a => a.DISTNM, new { })  @Html.HiddenFor(a => a.DISTNM, new { })</label></div>
        <div class="col-md-2">
            DISTNM (Punjabi) <span class="rqf">*</span>
        </div>

        <div class="col-md-4"><label><span class="kdsfont">@Html.DisplayFor(a => a.DISTNMP, new { })  @Html.HiddenFor(a => a.DISTNMP, new { })</span></label></div>
        <div class="clearfix"></div>

        <div class="col-md-2">
            Self School Matric Students<span class="rqf">*</span>
        </div>
        <div class="col-md-2"> <label>@Html.DisplayFor(a => a.MATRIC_COUNT, new { }) @Html.HiddenFor(a => a.MATRIC_COUNT, new { })</label></div>


        <div class="col-md-2">
            Self School Senior Students  <span class="rqf">*</span>
        </div>
        <div class="col-md-2"><label>@Html.DisplayFor(a => a.SENIOR_COUNT, new { }) @Html.HiddenFor(a => a.SENIOR_COUNT, new { })</label></div>



        <div class="col-md-2">
            Self School Middle Students  <span class="rqf">*</span>
        </div>
        <div class="col-md-2"><label>@Html.DisplayFor(a => a.MIDDLE_COUNT, new { }) @Html.HiddenFor(a => a.MIDDLE_COUNT, new { })</label></div>


    </div>

    <div class="clearfix"></div>

    <h4>Enter Centre Details </h4>
    <div class="row">
        <div class="col-md-3">
            Total No. of Room  for Exam Centre <span class="rqf">*</span>
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.TotalRooms, new { @maxlength = "4", onkeypress = "return isNumberKey(event);", @required = "required" })
        </div>
        <div class="col-md-3">
            Total Capacity of Exam Centre<span class="rqf">*</span>
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.TotalCapacity, new { @maxlength = "4", onkeypress = "return isNumberKey(event);", @required = "required" })
        </div>

        <div class="clearfix"></div>


        <div class="col-md-3"> Total No. of Room Other Than Exam Centre <span class="rqf">*</span></div>

        <div class="col-md-3">
            @Html.TextBoxFor(a => a.TotalRoomsOther, new { @maxlength = "3", onkeypress = "return isNumberKey(event);", @required = "required" })
        </div>

        <div class="col-md-3">
            Single bench Furniture <span class="rqf">*</span>
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.SingleBenchFurniture, new { @maxlength = "4", onkeypress = "return isNumberKey(event);", @required = "required" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            Double Bench Furniture <span class="rqf">*</span>
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.DoubleBenchFurniture, new { @maxlength = "4", onkeypress = "return isNumberKey(event);", @required = "required" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            Upload Scanned Copy of Form which you Submit in PSEB Head Office <span class="rqf">*</span>
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(a => a.ScanCopy, null, new { type = "file", @onchange = "CheckDocument(this)", @required = "required" }) <span class="rqf">*Attach Request Letter and Supporting Documents in Single PDF</span>

            @if (!string.IsNullOrEmpty(Model.ScanCopy))
            {
                <br /><a href="/Upload/@Model.ScanCopy" target="_blank" class="btn">View Document</a>
            }
        </div>
        <div class="clearfix"></div>


    </div>


    <div class="clearfix"></div>
    <div class="col-md-12 text-center">
        @Html.HiddenFor(a => a.DIST)
        @Html.HiddenFor(a => a.OnlineCentreCreationId)
        @Html.HiddenFor(a => a.IsExistsinCentre2017Master)
        @Html.HiddenFor(a => a.IsExistsInOnlineCentreCreationsTERM1)

        @if (Model.SENIOR_COUNT >= 35 || Model.MATRIC_COUNT >= 35 || Model.MIDDLE_COUNT >= 35)
        {

            if (Model.AppStatus == 3 || Model.AppStatus == 2)
            {
                <a href="javascript:void(0);" class="btn" onclick="history.go(-1);">Back</a>

            }
            else
            {

                if (Model.IsExistsInOnlineCentreCreationsTERM1 == 0)
                {<input type="submit" name="submit" value="Save & Create New Centre" id="Submit" formmethod="post" onclick="return valForm();" /> }
                else
                {<input type="submit" name="submit" value="Save & Re-New Centre" id="Submit" formmethod="post" onclick="return valForm();" />}


                <a href="javascript:void(0);" class="btn" onclick="history.go(-1);">Back</a>

                if (Model.OnlineCentreCreationId > 0)
                {
                    @Html.ActionLink("Pay Fees", "OnlineCentreCreation_PaymentForm", "School", new { id = Model.CentreAppNo }, new { @class = "btn", @OnClick = "return confirm('You are going to submit the data. After that data will be locked for any changes?');" })
                }
            }

        }
        else
        {
            <p style="color:#cc0000;font-weight:bold;font-size:20px;text-align:center"> You are not Eligible to Apply Centre</p>
        }
    </div>
}



@if (Model.OnlineCentreCreationsChallanList != null)
{

    <div class="table-responsive">
        <br /><h3>View Challan List</h3>
        <table id="example" class="display table table-bordered" style="width:100%">
            <thead>
                <tr class="active-tr">
                    <th>RefNo</th>
                    <th>Bank</th>
                    <th>Payment Id</th>
                    <th>Trans On</th>
                    <th>Amount</th>
                    <th>Trans Id</th>
                    <th>Deposit On</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OnlineCentreCreationsChallanList)
                {
                <tr>
                    <td>@obj.CentreAppNo </td>
                    <td>@obj.BANK </td>
                    <td>  @obj.Challanid</td>
                    <td>@obj.Challandt</td>
                    <td>@obj.TotalFee</td>
                    <td>  @obj.J_REF_NO</td>
                    <td>@obj.DEPOSITDT</td>
                    <td>@obj.ChallanStatus</td>
                    <td>
                        @if (obj.VERIFIED == 1)
                        {
                            <a href="OnlineCentreCreationPrint/@obj.CentreAppNo" class="btn" target="_blank">Print Receipt</a>
                        }                      
                    </td>
                </tr>
                }
            </tbody>
        </table>


    </div>
}


@{
    if (ViewData["resultOnlineCentreCreation"] != null)
    {
        if (ViewData["resultOnlineCentreCreation"].ToString() == "S")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Submit Successfully</span>
            </div>
        }
        else if (ViewData["resultOnlineCentreCreation"].ToString() == "U")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Updated Successfully</span>
            </div>
        }
        else if (ViewData["resultOnlineCentreCreation"].ToString() == "SF")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Submit Failure</span>
            </div>
        }
        else if (ViewData["resultOnlineCentreCreation"].ToString() == "UF")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Updated Failure</span>
            </div>
        }
        else if (ViewData["resultOnlineCentreCreation"].ToString() == "NA")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Not Allowed</span>
            </div>
        }
        else if (ViewData["resultOnlineCentreCreation"].ToString() == "0")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Failure to Submit</span>
            </div>
        }
        else if (ViewData["resultOnlineCentreCreation"].ToString().ToLower().Contains("error"))
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">@ViewData["result"]</span>
            </div>
        }
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>



<script type="text/javascript">
    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }</script>



<script type="text/javascript">

    function CheckDocument(input) {
        if (typeof ($("#ScanCopy")[0].files) != "undefined") {

            var ext = $('#ScanCopy').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['pdf', 'PDF']) == -1) {
                alert('Only .pdf format file allowed ');
                $('#ScanCopy').val('');
                return false;
            }
            var size = parseFloat($("#ScanCopy")[0].files[0].size / 1024).toFixed(2);
            if (parseInt(size) >= 5 && parseInt(size) <= 1024) {
                var filerdr = new FileReader();
                filerdr.readAsDataURL(input.files[0]);
            }
            else {
                if (parseInt(size) <= 5) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    $('#ScanCopy').val('');
                }
                if (parseInt(size) > 1024) {
                    alert("Your file size is too large that is " + size + " KB.");
                    $('#ScanCopy').val('');
                }
            }
        }

    }

    function valForm() {

        //var txtpri = document.getElementById("txtPrincipal");
        //if (txtpri.value == "") {
        //    alert("Enter Principal Name.");
        //    txtpri.focus();
        //    return false;
        //}

        //var txtstdCode = document.getElementById("txtstdCode");
        //if (txtstdCode.value != "") {
        //    if (txtstdCode.value.length <= 5 && txtstdCode.value.length >= 4) {

        //    }
        //    else {
        //        alert("Please Enter 4 or 5 Std Code");
        //        txtstdCode.focus();
        //        return false;
        //    }
        //}



        //if (document.getElementById("txtRemarks").value.trim().length == 0) {
        //    alert('Enter Remarks');
        //    document.getElementById("txtRemarks").focus();
        //    return false;
        //}

        return true;
    }

</script>
