@model PSEBONLINE.Models.StudentSchoolMigrationViewModel
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
<link href="https://registration2022.pseb.ac.in/content/print.css" rel="stylesheet" />

    <form id="myForm">
        <table style="width:100%;" border="0">
            <tr>
                <td>
                    <table style="width:100%;" border="0" class="noprint">
                        <tr>
                            <td style="text-align:right">
                                <input type="button" value="Print" class="btn" onclick="window.print()" />
                                <a href="javascript:void(0);" class="btn" onclick="history.go(-1);">Back</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>           
            <tr>
                <td align="center" valign="top">
                    <table style="width:96%;border:2px solid #000;" border="0" align="center">
                        <tr>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <td width="30%">
                                            <img src="~/Images/Slogo.jpg" alt="Logo" /><br />
                                        </td>
                                        <td align="center" class="kdsfont" style="vertical-align:top">
                                            <span style="font-size:30px"> Æâ²ØÉ Ó¨ÞÐ ÚÓóÚª¤Ø ÉëÏ¸</span><br />
                                            Ó¨ÞÐ ¼ë× Ó¨ÞÐ ÌØ¥Û¬ñãÓÖÅ
                                        </td>
                                        <td width="20%" align="right" valign="top">
                                            <br />
                                            <span style="border:1px solid #000;padding:4px 10px">(School Copy)</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%">
                                    <tr>
                                        <td width="20%" style="text-align:left">Migration Certficate No</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.MigrationCertificateNumber) </td>
                                        <td width="20%" style="text-align:left">Certificate Issue Date.</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.ChallanDate)</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="text-align:left">Migration ID</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.MigrationId) </td>
                                        <td width="20%" style="text-align:left">Apply Date</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.CreatedDate)</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="text-align:left">Class / Form</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.cls) / @Html.DisplayFor(a => a.Form_Name)</td>
                                        <td width="20%" style="text-align:left"><span class="kdsfont">Ú²ÐðØ</span></td>
                                        <td width="30%" style="text-align:left">: <span class="kdsfont">@Html.DisplayFor(a => a.DISTNMP)</span></td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="text-align:left">Unique ID</td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.StdId)</td>
                                        <td width="20%" style="text-align:left"><span class="kdsfont">ÏÚ²Ó¶ÏãÓÖÅ Åâ.</span></td>
                                        <td width="30%" style="text-align:left">: @Html.DisplayFor(a => a.RegNo)</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table width="100%">                                    
                                    <tr>
                                        <td width="20%" valign="top" class="kdsfont">ÆñÛÚª¤ØÏÁÛ ÂØ ÅÙ</td>
                                        <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.PName) / @Html.DisplayFor(a => a.Name)</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" valign="top" class="kdsfont">ÚÆ¼Ø ÂØ ÅÙ</td>
                                        <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.PFName) / @Html.DisplayFor(a => a.FName)</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" valign="top" class="kdsfont">ÌØ¼Ø ÂØ ÅÙ</td>
                                        <td width="80%" valign="top" colspan="5" class="kdsfont">: @Html.DisplayFor(a => a.PMName) / @Html.DisplayFor(a => a.MName)</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" valign="top" class="kdsfont">ÅÞâ ÆÝÏØ»ã Ó¨ÞÐ</td>
                                        <td width="80%" valign="top" colspan="5" class="kdsfont">@Html.DisplayFor(a => a.OldSchlDetails) <br> @Html.DisplayFor(a => a.OldSchlDetailsP)</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" valign="top" class="kdsfont">¼ë× ÅÒã× Ó¨ÞÐ</td>
                                        <td width="80%" valign="top" colspan="5" class="kdsfont">:  @Html.DisplayFor(a => a.NewSchlDetails) <br> @Html.DisplayFor(a => a.NewSchlDetailsP)</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="kdsfont">ÚÒó° ÌØ¥Û¬Ïã¶ Õë» ÂÛ ÆñÒØÅ¬Û ÚÂó¼Û ²ÙÂÛ Õè¢</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="kdsfont">
                                Åë¶  :	ÂØªÐØ Ó¨ÞÐ ÐÛÚÒâ¬ ÓÏ¶ÛÚÇ¨ã¶ ¼ã ¤ÄØÏ ¼ã ¨Û¼Ø ²ØÒã¢                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" height="10px"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <table width="100%">
                                    <tr>
                                        <td width="70%"></td>
                                        <td width="30%" style="text-align:center"><img src="/Images/sign_SchoolMig.jpg" width="180px" height="43px" alt="Signature" /></td>
                                    </tr>
                                    <tr>
                                        <td width="70%"></td>
                                        <td width="30%" class="kdsfont" style="text-align:center">
                                            ÓÝÆÏ¸â¶ (ÂÓÒÛ×/¬ÝÆ¼/ÏÚ². ÓÖØªØ)<br />
                                            Æâ²ØÉ Ó¨ÞÐ ÚÓóÚª¤Ø ÉëÏ¸  <br />
                                            ¤èóÓ. ¥ã. ¤èóÓ. Å¬Ï (ÌëÕØÐÛ)

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>

