@model PSEBONLINE.Models.InfrasturePerformasviewModel

@{
    ViewBag.Title = "Infrasture Performa View";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <noscript>
        <style type="text/css">
            #HPL {
                display: none;
            }
        </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>
    </noscript>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<style type="text/css">
	td,th{padding:5px}
	</style>
</head>
<body>
    <table width="100%" border="1" class="table-bordered">
        <tr>
            <td colspan="6" style="padding:0">
                <table width="100%" border="0">
                    <tr>
                        <td width="10%">
                            <div style="padding:3px">
                                <img src="https://registration2022.pseb.ac.in/Images/Printlogo.jpg" height="80px" alt="PSEB">
                            </div>
                        </td>
                        <td width="80%" style="font-size:16px;text-align:center;line-height:24px;">
                            <span style="font-size:26px;">Punjab School Education Board</span><br>
                                                                                              <span style="display:block">
                                                                                                  @if (Model.ipf.FinalSubmitStatus == 1)
                                                                                                  {
                                                                                                      <span>Final Print</span>
                                                                                                  }
                                                                                                  else
                                                                                                  {
                                                                                                    <span>Rough Print</span>
                                                                                                  }
                                                                                                  - School Infrastructure  Performa Session 2022–23
                                                                                              </span>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding:0">
                <table width="100%" border="1" class="table-bordered" >
                    @if (Model.ipf.FinalSubmitStatus == 1)
                    {
                        <tr>
                            <td colspan="6">
                                <p style="float:right">Final Submitted Date : <span>@Model.ipf.FinalSubmitDate</span></p>
                            </td>
                        </tr>
                    }
                    else
                    {
                    <tr>
                        <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left; color:red;">Rough Print</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">School Profile Details</td>
                    </tr>
                    <tr>
                        <td width="20%">School Code</td>
                        <td width="15%">@Html.DisplayFor(a => a.ipf.SCHL, new { })</td>
                        <td width="20%">School Identity Code</td>
                        <td width="15%">@Html.DisplayFor(a => a.schlmodel.idno, new { })</td>
                        <td width="15%">Class Level</td>
                        <td width="15%">@Html.DisplayFor(a => a.schlmodel.CLASS, new { })</td>
                    </tr>
                    <tr>
                        <td>School Name</td>
                        <td colspan="5">
                            @Html.DisplayFor(a => a.schlmodel.SCHLE, new { })
                        </td>
                    </tr>
                    <tr>
                        <td>District Name</td>
                        <td colspan="2">@Html.DisplayFor(a => a.schlmodel.DISTE, new { })</td>
                        <td>Establishment Year</td>
                        <td colspan="2">@Html.DisplayFor(a => a.schlmodel.SchlEstd, new { })</td>
                    </tr>
                    <tr>
                        <td>Address of School</td>
                        <td colspan="5">
                            @Html.DisplayFor(a => a.schlmodel.SCHLE, new { })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">Class/ Stream Details</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="padding:0">

                            <table id="t01" class="table-bordered" width="100%">
                                <tr style="font-weight: bold;">
                                    <td rowspan="2" style="text-align:left">Description</td>
                                    <td colspan="3" style="text-align:center">MATRIC</td>
                                    <td colspan="12" style="text-align:center">SENIOR SECONDARY</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td colspan="2" style="text-align:center">REGULAR	</td>
                                    <td style="text-align:center">OPEN</td>
                                    <td colspan="6" style="text-align:center">REGULAR</td>
                                    <td colspan="6" style="text-align:center">OPEN</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Groups</td>
                                    <td align="left">
                                        GEN

                                    </td>
                                    <td align="left">
                                        NSQF
                                    </td>
                                    <td align="left">
                                        GEN
                                    </td>
                                    <td align="left">
                                        Hum.
                                    </td>
                                    <td align="left">
                                        Sci
                                    </td>
                                    <td align="left">
                                        Comm.
                                    </td>
                                    <td align="left">
                                        Voc.
                                    </td>
                                    <td align="left">
                                        Tech.
                                    </td>
                                    <td align="left">
                                        Agri.
                                    </td>
                                    <td align="left">
                                        Hum.
                                    </td>
                                    <td align="left">
                                        Sci
                                    </td>
                                    <td align="left">
                                        Comm.
                                    </td>
                                    <td align="left">
                                        Voc.
                                    </td>
                                    <td align="left">
                                        Tech.
                                    </td>
                                    <td align="left">
                                        Agri.
                                    </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Status</td>
                                    <td> @Html.DisplayFor(a => a.schlmodel.MATRIC, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.NSQF_flag, new { })</td>
                                    <td> @Html.DisplayFor(a => a.schlmodel.OMATRIC, new { })</td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.HUM, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.SCI, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.COMM, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.VOC, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.TECH, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.AGRI, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.OHUM, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.OSCI, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.OCOMM, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.OVOC, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.OTECH, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.OAGRI, new { })
                                    </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Type</td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.HID_UTYPE, new { })
                                    </td>
                                    <td></td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.HID_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.H_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.S_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.C_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.V_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.A_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.T_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.H_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.S_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.C_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.V_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.A_UTYPE, new { })
                                    </td>
                                    <td align="left">
                                        @Html.DisplayFor(a => a.schlmodel.T_UTYPE, new { })
                                    </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Year</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.HID_YR, new { })</td>
                                    <td></td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.OMID_YR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.HYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.SYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.CYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.VYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.TYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.AYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.OHYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.OSYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.OCYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.OVYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.OTYR, new { })</td>
                                    <td>@Html.DisplayFor(a => a.schlmodel.OAYR, new { })</td>
                                </tr>

                                <!-- <tr style="font-weight: bold;"> -->
                                    <!-- <td>Sections</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.HID_YR_SEC, new { })</td> -->
                                    <!-- <td></td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.OMID_YR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.HYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.SYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.CYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.VYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.TYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.AYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.OHYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.OSYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.OCYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.OVYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.OTYR_SEC, new { })</td> -->
                                    <!-- <td>@Html.DisplayFor(a => a.schlmodel.OAYR_SEC, new { })</td> -->
                                <!-- </tr> -->

                            </table>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">Principal / Contact Details</td>
                    </tr>
                    <tr>
                        <td>Principal Name</td>
                        <td colspan="4">@Html.DisplayFor(a => a.schlmodel.PRINCIPAL, new { })</td>
                        <!-- <td>Principal DOB</td> -->
                        <!-- <td colspan="2">@Html.DisplayFor(a => a.schlmodel.DOB, new { })</td> -->
                    </tr>

                    <!-- <tr> -->
                        <!-- <td>Principal Qualification </td> -->
                        <!-- <td colspan="5">@Html.DisplayFor(a => a.schlmodel.PQualification, new { })</td> -->
                    <!-- </tr> -->
                    <!-- <tr> -->
                        <!-- <td>Experience (in yrs)</td> -->
                        <!-- <td colspan="2">@Html.DisplayFor(a => a.schlmodel.ExperienceYr, new { })</td> -->
                        <!-- <td>Date of Joining </td> -->
                        <!-- <td colspan="2"> -->
                            <!-- @Html.DisplayFor(a => a.schlmodel.DOJ, new { }) -->
                        <!-- </td> -->
                    <!-- </tr> -->
                    <tr>
                        <td>Mobile No. </td>
                        <td colspan="2">@Html.DisplayFor(a => a.schlmodel.MOBILE, new { })</td>
                        <td>Std Code/Phone </td>
                        <td colspan="2">
                            @Html.DisplayFor(a => a.schlmodel.STDCODE, new { })
                            @Html.DisplayFor(a => a.schlmodel.PHONE, new { })
                        </td>
                    </tr>
                    <tr>
                        <td>Registered Email </td>
                        <td colspan="2">@Html.DisplayFor(a => a.schlmodel.EMAILID, new { }) </td>
                        <td>No of Teachers in School</td>
                        <td colspan="2">@Html.DisplayFor(a => a.ipf.StaffCount, new { })</td>
                    </tr>
                    <tr>
                        <td>Other Person Name</td>
                        <td colspan="2">@Html.DisplayFor(a => a.schlmodel.CONTACTPER, new { })</td>
                        <td>Other Mobile No.</td>
                        <td colspan="2">@Html.DisplayFor(a => a.schlmodel.OtContactno, new { }) </td>
                    </tr>
                    <!-- <tr> -->
                    <!-- <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">Staff / Teacher Details</td> -->
                    <!-- </tr> -->
                    <!-- <tr> -->
                    <!-- <td>Total No of Teachers in School </td> -->
                    <!-- <td colspan="2"></td> -->
                    <!-- <td colspan="3"></td> -->
                    <!-- </tr> -->
                    </tbody>
                </table>
            </td>
        </tr>
		<tr>
                        <td colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">School Infrastructure Details</td>
                    </tr>
        <tr>
            <th width="20%">No. of Floors (including ground floor)</th>
            <td width="6%">@Html.DisplayFor(a => a.ipf.Col1, new { })</td>
            <th width="20%">Total Classrooms on ground floor</th>
            <td width="6%">@Html.DisplayFor(a => a.ipf.Col2, new { })</td>
            <th width="20%">Seating capacity on ground floor (no of candidates)</th>
            <td width="8%">@Html.DisplayFor(a => a.ipf.Col3, new { })</td>
        </tr>
        <tr>
            <th>Total Classrooms on first floor, if any</th>
            <td>@Html.DisplayFor(a => a.ipf.Col4, new { })</td>
            <th>Seating capacity on first floor (no of candidates)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col5, new { })</td>
            <th>Total Classrooms on second floor, if any</th>
            <td>@Html.DisplayFor(a => a.ipf.Col6, new { })</td>
        </tr>
        <tr>
            <th>Seating capacity on second floor (no of candidates)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col7, new { })</td>
            <th>Total Classrooms on third floor, if any</th>
            <td>@Html.DisplayFor(a => a.ipf.Col8, new { })</td>
            <th>Seating capacity on third floor (no of candidates)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col9, new { })</td>
        </tr>
        <tr>
            <th>Floor on which the examination centre is created in the school? (Exam Centre should preferably on Ground Floor/First Floor)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col10, new { })</td>
            <th>Total seating capacity of candidates in Exam centre</th>
            <td>@Html.DisplayFor(a => a.ipf.Col11, new { })</td>
            <th>Number of rooms provided for examination centre [Minimum capacity is 30 candidates per room (Single bench single candidate)]</th>
            <td>@Html.DisplayFor(a => a.ipf.Col12, new { })</td>
        </tr>
        <tr>
            <th>Total No. of Single Benches</th>
            <td>@Html.DisplayFor(a => a.ipf.Col13, new { })</td>
            <th>Total No. of Double Benches</th>
            <td>@Html.DisplayFor(a => a.ipf.Col14, new { })</td>
            <th>Are CCTV cameras installed in the school campus?</th>
            <td>
                @Html.DisplayFor(a => a.ipf.Col15, new { })
            </td>
        </tr>
        <tr>
            <th>How many rooms (used for examination centre) have CCTV cameras?</th>
            <td>@Html.DisplayFor(a => a.ipf.Col16, new { })</td>
            <th>Capacity for Physics Lab (no of candidates)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col17, new { })</td>
            <th>Capacity for Chemistry Lab (no of candidates)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col18, new { })</td>
        </tr>
        <tr>
            <th>Capacity for Biology Lab (no of candidates)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col19, new { })</td>
            <th>Total no. of Computers in computer lab</th>
            <td>@Html.DisplayFor(a => a.ipf.Col20, new { })</td>
            <th>Capacity of Computer Lab (no of candidates)</th>
            <td>@Html.DisplayFor(a => a.ipf.Col21, new { })</td>
        </tr>
        <tr>
            <th>Is internet Facility available in Computer lab?</th>
            <td>@Html.DisplayFor(a => a.ipf.Col22, new { })</td>
            <th></th>
            <!-- <th>Size and capacity of lab (no of candidates) Specify the purpose of its usage</th> -->
            <!-- <td>@Html.DisplayFor(a => a.ipf.Col23, new { })</td> -->
            <td></td>
            <th>Does the school has gated boundary or not?</th>
            <td>@Html.DisplayFor(a => a.ipf.Col24, new { })</td>
        </tr>
        <tr>
            <th colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">Is drinking water facility available in school? If yes, then total number of:-</th>
        </tr>
        <tr>
            <th>R.O's</th>
            <td>@Html.DisplayFor(a => a.ipf.Col25A, new { })</td>
            <th>Water coolers</th>
            <td>@Html.DisplayFor(a => a.ipf.Col25B, new { })</td>
            <!-- <th>Any other source</th> -->
            <!-- <td>@Html.DisplayFor(a => a.ipf.Col25C, new { })</td> -->
			<th>Are there separate toilets for boys & girls?</th>
            <td>@Html.DisplayFor(a => a.ipf.Col29, new { })</td>
        </tr>
        <!-- <tr> -->
            <!-- <th>Are there separate toilets for boys & girls?</th> -->
            <!-- <td>@Html.DisplayFor(a => a.ipf.Col29, new { })</td> -->
            <!-- <th>Name of the nearest bank with address, IFSC Code and SOL id of the branch. (Preference be given to HDFC or Punjab & Sind Bank)</th> -->
            <!-- <td colspan="3">@Html.DisplayFor(a => a.ipf.Col30, new { })</td> -->
        <!-- </tr> -->
		 <tr>
            <th colspan="6" style="color:#fff !important;background-color:#000 !important;text-align:left">School Bank Account Details</th>
        </tr>
		
		<tr>
                        <td>IFSC Code 1</td>
                        <td>@Html.DisplayFor(a => a.ipf.IFSC1, new { })</td>
                        <td>Bank Name</td>
                        <td>@Html.DisplayFor(a => a.ipf.Bank1, new { })</td>
                        <td>Branch Name & Address</td>
                        <td>@Html.DisplayFor(a => a.ipf.BankBranch1, new { })</td>
                    </tr>
                    <tr>
                        <td>IFSC Code 2</td>
                        <td>@Html.DisplayFor(a => a.ipf.IFSC2, new { })</td>
                        <td>Bank Name</td>
                        <td>@Html.DisplayFor(a => a.ipf.Bank2, new { })</td>
                        <td>Branch Name & Address</td>
                        <td>@Html.DisplayFor(a => a.ipf.BankBranch2, new { })</td>
                    </tr>
                    <tr>
                        <td>IFSC Code 3</td>
                        <td>@Html.DisplayFor(a => a.ipf.IFSC3, new { })</td>
                        <td>Bank Name</td>
                        <td>@Html.DisplayFor(a => a.ipf.Bank3, new { })</td>
                        <td>Branch Name & Address</td>
                        <td>@Html.DisplayFor(a => a.ipf.BankBranch3, new { })</td>
                    </tr>

    </table>
</body>
</html>