@model PSEBONLINE.Models.MigrateSchoolModels
@{

    Layout = "~/Views/Shared/_Header.cshtml";
}
<h1>Migration Detail</h1>
@using (Html.BeginForm("MigrationDetailView", "MigrateSchool", FormMethod.Post, new { id = "Migrate", enctype = "multipart/form-data" }))
{
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-4">
            <h4>Migration Details</h4>
            <div class="row">
                <div>@ViewBag.Message</div>
                <div class="col-md-4">Old School Code</div><div class="col-md-8">@Html.TextBoxFor(a => a.SchlCode, new { id = "SCode", @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Registration No.</div><div class="col-md-8"> @Html.TextBoxFor(a => a.RegNo, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Student ID</div><div class="col-md-8"> @Html.TextBoxFor(a => a.idno, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Candidate's Name</div><div class="col-md-8"> @Html.TextBoxFor(a => a.Candi_Name, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Father's Name</div><div class="col-md-8">    @Html.TextBoxFor(a => a.Father_Name, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">Mother's Name</div><div class="col-md-8">    @Html.TextBoxFor(a => a.Mother_Name, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                <div class="col-md-4">New School Code</div><div class="col-md-8"> @Html.TextBoxFor(a => a.SchlCodeNew, new { id = "SchlCodeNew", @maxlength = "7" })</div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Migration Fee Details</h4>
    <div class="row">
        @*Migration Fees @Html.TextBoxFor(a => a.Migrationfee, new { @ReadOnly = "ReadOnly" })*@
        @{
            DateTime dt = DateTime.Now;
            DateTime str = DateTime.Parse(dt.ToString("MM/dd/yyyy").Replace('-', '/'));
            DateTime date = str;

            if (date >= DateTime.Parse("09-10-2016 00:00:00"))
            {
                <div class="col-md-4">
                    Migration Fees
                </div><div class="col-md-8">  @Html.TextBoxFor(a => a.Migrationfee, new { @ReadOnly = "ReadOnly", Value = "1000" })</div>
            }
            else
            {
                <div class="col-md-4">Migration Fees</div><div class="col-md-8"> @Html.TextBoxFor(a => a.Migrationfee, new { @ReadOnly = "ReadOnly", Value = "1500" })</div>
            }

        }
        <div class="clearfix"></div>    
        <div class="col-md-4">DD No/ Reciept No </div><div class="col-md-8">@Html.TextBoxFor(a => a.DDRcptNo, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
        <div class="col-md-4">Amount </div><div class="col-md-8">@Html.TextBoxFor(a => a.Amount, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
        <div class="col-md-4">Deposit Date </div><div class="col-md-8">@Html.TextBoxFor(a => a.DepositDt, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
        <div class="col-md-4">Bank Name/ Name of Depot </div><div class="col-md-8">@Html.TextBoxFor(a => a.BankName, new { @ReadOnly = "ReadOnly" })</div>
            </div>
            </div>
            <div class="col-md-4">
                <h4>Order Details</h4>
                <div class="row">
                    <div class="col-md-4">Case No.</div><div class="col-md-8"> @Html.TextBoxFor(a => a.MigrateNo, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                    <div class="col-md-4">Diary/Order No.</div><div class="col-md-8"> @Html.TextBoxFor(a => a.DiryOrderNo, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                    <div class="col-md-4">Order Date</div><div class="col-md-8"> @Html.TextBoxFor(a => a.OrderDt, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                    <div class="col-md-4">Order by</div><div class="col-md-8"> @Html.TextBoxFor(a => a.OrderBy, new { @ReadOnly = "ReadOnly" })</div><div class="clearfix"></div>
                    <div class="col-md-4">Remark</div><div class="col-md-8"> @Html.TextBoxFor(a => a.Remark, new { @ReadOnly = "ReadOnly" })</div>

                    </div>
                </div>

            <div class="clearfix"></div>
            <div class="col-md-12 text-center">
                <br />
                <a href="javascript:void(0);" onclick="history.go(-1);" class="btn"> OK </a>
            </div>


        </div>
            }
