<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Punjab School Education Board</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <noscript>
        <style type="text/css">
            #HPL {
                display: none;
            }
        </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>

    </noscript>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="HPL">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-md-3"><img src="~/Images/pseb_logo.png" alt="Punjab School Education Board" class="img-responsive" /></div>
                    <div class="col-xs-9 col-md-6"><center> <img src="~/Images/PSEB_Text.png" alt="Punjab School Education Board" class="img-responsive" /></center></div>
                    @*<div class="col-xs-12 col-md-3 text-right">Helpline no for technical issue<br />+91 9718803833</div>*@
                    <div class="col-xs-12 col-md-3 text-right">
                        @if (Session["AdminNumber"] != null)
                        {
                            if (Session["AdminNumber"].ToString() == "1")
                            {
                                <span style="color:#fff">Helpline No. For Technical Issue<br />+91 9718803833</span>

                            }
                        }
                        else
                        { <span style="color:#fff">Helpline No. For Technical Issue<br />+91 9718803833</span>}
                    </div>

                </div>
            </div>
        </div>

        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Welcome", "School")</li>
                        @if (Session["PAccessRight"].ToString().Contains("Sch") || Session["AdminType"].ToString().Contains("admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    School
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Admin School Master", "Admin_School_Master", "School")</li>
                                    @*<li>@Html.ActionLink("School Master", "School_Master", "School")</li>*@
                                    @*<li>@Html.ActionLink("Add School", "Add_School", "School")</li>*@
                                    @*<li>@Html.ActionLink("School Password", "School_Password", "School")</li>*@
                                    @*<li>@Html.ActionLink("Open School Master", "Open_School_Master", "School")</li>*@
                                    @*<li>@Html.ActionLink("School Master", " School Master", "School")</li>*@
                                    <li>@Html.ActionLink("Add School", "Add_School", "School")</li>
                                    @*<li>@Html.ActionLink("Open School Master", "Open School Master", "School")</li>*@
                                    @*<li>@Html.ActionLink("School Modification Form", "School_Modification_Form", "School")</li>
                                        <li>@Html.ActionLink("School View Form", "School_View_Form", "School")</li>
                                        <li>@Html.ActionLink("Open School Modification Form", "Open_School_Modification_Form", "School")</li>*@
                                </ul>
                            <li>@Html.ActionLink("Generate TC", "TCRegProcess", "TC")</li>
                            </li>
                        }
                        @if (Session["PAccessRight"].ToString().Contains("Reg") || Session["AdminType"].ToString().Contains("admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Registration
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Update 9 & 11 Results", "adminresultpage", "Admin")</li>
                                    <li>@Html.ActionLink("Update Reg. Numder", "adminregverifypage", "Admin")</li>
                                    <li>@Html.ActionLink("Student All Report", "StudentAllReport", "Admin")</li>
                                </ul>
                            </li>
                        }
                        @if (Session["PAccessRight"].ToString().Contains("Rep") || Session["AdminType"].ToString().Contains("admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Report
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Summary Reports", "SummaryReports", "Report")</li>
                                    <li>@Html.ActionLink("Summary Of Examination Form (Matric & Senior Secondary)", "SummaryPerformaReport", "Admin")</li>
                                    <li>@Html.ActionLink("CCE and Grading Reports", "CCEGradingReports", "Report")</li>
                                </ul>
                            </li>
                        }
                        @if (Session["AdminType"].ToString().Contains("admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Roll Number
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Allot RegNo OPEN", "AllotRegNoOPEN", "Admin")</li>
                                    <li>@Html.ActionLink("Student RollNo MIS", "StudentRollNoMIS", "Admin")</li>
                                </ul>
                            </li>

                        }

                        @if (Session["AdminType"].ToString().Contains("admin"))
                        {
                            <li>@Html.ActionLink("School Migration", "SchoolRegProcess", "MigrateSchool")</li>
                        }
                        @if (Session["AdminType"].ToString().Contains("admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Challan Details
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Challan Master Page", "ChallanDetails", "Challan")</li>
                                    <li>@Html.ActionLink("Bank MIS Page", "BankMISPage", "Challan")</li>
                                </ul>
                            </li>
                        }
                        @if (Session["AdminType"].ToString().Contains("PSEB"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Challan Verify
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Registration Challan Verify", "VerifyChallan", "Admin")</li>
                                    <li>@Html.ActionLink("Examination Challan Verify", "ExamChallanVerify", "Admin")</li>
                                </ul>

                            </li>
                        }
                        @if (Session["AdminType"].ToString().ToUpper().Contains("ADMIN"))
                        {
                            <li>@Html.ActionLink("Cut List", "AdminCutList", "Admin")</li>
                        }
                        @*<li>@Html.ActionLink("Registration", "Summary", "Summary")</li>
                            <li>@Html.ActionLink("User", "Summary", "Summary")</li>
                            <li>@Html.ActionLink("Summary", "Summary", "Summary")</li>*@
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
                        @*<li>@Html.ActionLink("ChangePassword", "FirmChangePassword", "Admin")</li>*@
                    </ul>


                  

                </div>
            </div>
        </div>

        <div class="container KDBG">
            @RenderBody()
        </div>

        <footer class="bs-docs-footer">
            <div class="container text-center">
                All Rights Reserved at Punjab School Education Board, 1969 - 2016
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>