<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Punjab School Education Board</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/RJCsss.css" rel="stylesheet" />
    <link href="~/Content/css/RCBlue.css" rel="stylesheet" />
    <link href="~/Content/css/RJMin.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-1.12.4.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/punjabi.js"></script>
    <script src="/Scripts/keyboard.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>

    <script src="/Scripts/app.min.js"></script>
    <style type="text/css">
        .user-header td{text-align:left;color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding:3px 0;vertical-align:top}        
        .nolink {cursor:auto
        }.navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
    </style>
    <noscript>
        <style type="text/css">
            #HPL {
                display: none;
            }
        </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>
    </noscript>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    @*@if(Session["app_name"]==null)
    {
        <script>
            alert('no session');
            window.location.href = '@Url.Action("Index", "Open")';
        </script>
    }
    else
    {
        string str = Session["app_name"].ToString();
        <script>
            alert("session exist");
        </script>
    }*@
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>PS</b>EB</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>PSEB</b> Mohali</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button"
                    <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display:inline-block;padding:15px 0 5px 10px">
                                <img width="25" src="@(Session["CandPhoto"] == null ? "~/Images/NOPhoto.png" : Session["CandPhoto"].ToString())" class="user-image" alt="User Image" />
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <table width="100%">
                                        <tr>
                                            <td width="29%">Name</td>
                                            <td>: @Session["app_name"].ToString()</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile No.</td>
                                            <td>: @Session["app_mob"].ToString()</td>
                                        </tr>
                                        <tr>
                                            <td>Email ID</td>
                                            <td>: @Session["app_email"].ToString()</td>
                                        </tr>
                                        <tr>
                                            <td>Aadhar</td>
                                            <td>: @Session["app_adhr"].ToString()</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>: @Session["app_adrs"].ToString()</td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </li>
                                <li> <a><span class="hidden-xs">@Session["app_name"].ToString() ( @Session["app_no"].ToString() )</span></a></li>
                                <li><a><span class="hidden-xs"></span></a> </li>
                                <li>
                                    <a href="/open/Logout"><i class="fa fa-sign-out"></i></a>
                                </li>
                            </ul>
</div>
            </nav>
        </header>


        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="">
                        <a href="/open/Applicationstatus/@Session["app_no"].ToString()" title="Home"><i class="fa fa-home"></i> <span>Home</span></a>
                    </li>
                    <li class="">
                        <a class="@(Session["subStatus"].ToString()== "0" ? "" : "nolink")" href="@(Session["subStatus"].ToString()== "0" ? "/open/ModifyLogin/" + Session["app_no"].ToString() + "" : "#")" title="Modify Login Information"><i class="fa fa-file-o"></i> <span>Modify Login Information</span></a>
                    </li>
                    <li class="">
                        <a class="@(Session["payStatus"].ToString()== "0" ? "" : "nolink")" href="@(Session["payStatus"].ToString()== "0" ? "/open/Registration" : "#")" title="Fill Student Personal Information With Photo & Signature"><i class="fa fa-file-o"></i> <span>Personal Information</span></a>
                    </li>
                    <li class="">
                        <a href="@(Session["regStatus"].ToString()== "1" && Session["payStatus"].ToString()== "0" ? "/open/Subjects" : "#")" title="Fill Subject Details"><i class="fa fa-book"></i> <span>Choose Subjects</span></a>
                    </li>
                    <li class="">
                        <a href="@(Session["subStatus"].ToString()== "1" ? "/open/ViewRegistration/"+Session["app_no"].ToString()+"" : "#")" title="View/Print Registration Form"><i class="fa fa-file"></i> <span>View/Print Registration Form</span></a>
                    </li>
                    <li class="">
                        <a href="@(Session["subStatus"].ToString()== "1" ? "/open/CalculateFee/"+Session["app_no"].ToString()+"" : "#")"  title="Calculate Fee & Generate Challan/Print Challan"><i class="fa fa-inr"></i> <span>Calculate Fee</span></a>
                    </li>
                    <li class="">
                        <a href="@(Session["payVerify"].ToString()== "1" ? "/open/Study_Center" : "#")" title="Select Two & Three Study Center"><i class="fa fa-leanpub"></i> <span>Choose Study Center</span></a>
                    </li>  
                    <li class="">
                        <a href="@(Session["CentreStatus"].ToString()== "1" ? "/open/ApplicationForm/"+Session["app_no"].ToString()+"" : "#")" title="Download Acknowledgement Slip of Application Form"><i class="fa fa-cloud-download"></i> <span>Download Ack. Slip</span></a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Utility</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="https://registration2022.pseb.ac.in/PDF/Instruction_To_Upload_Photographs.pdf" target="_blank" title="Instruction to Upload Photographs!" style="font-size:13px"><i class="fa fa-circle-o"></i> Ins. to Upload Photographs!</a></li>
                            <li class=""><a href="https://registration2022.pseb.ac.in/PNB_FONT.zip" target="_blank" title="If anything of Punjabi is not readable kindly download this font and install in your computer." style="font-size:13px"><i class="fa fa-cloud-download"></i> Download Punjabi PNB Fonts</a></li>
                            <li class=""><a href="https://registration2022.pseb.ac.in/PDF/Instruction_To_Install_PNB_Fonts.pdf" target="_blank" title="Instruction to Install PNB Fonts!" style="font-size:13px"><i class="fa fa-circle-o"></i> Ins. to Install PNB Fonts!</a></li>
</ul>
                    </li>


                                
                    <li class="">
                        <a href="/Open/ChangePassword" title="Change Password"><i class="fa fa-unlock"></i> <span>Change Password</span></a>
                    </li>
                    <li>
                        <a href="/open/Logout" title="Logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a>
                    </li>
                    @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Utility</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="https://registration2022.pseb.ac.in/PDF/Instruction_To_Upload_Photographs.pdf" target="_blank" title="Instruction to Upload Photographs!"><i class="fa fa-circle-o"></i> Instruction to Upload Photographs!</a></li>
                            @*<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>*
                        </ul>
                    </li>*@                   
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="">
                    @RenderBody()
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer" style="text-align:center;position:fixed;bottom:0;width:100%">
            <span>
                All Rights Reserved at Punjab School Education Board, 1969 - 2017
            </span>
        </footer>
    </div>



    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82197953-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>