<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Punjab School Education Board</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">   
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
     <noscript>
            <style type="text/css">
                #HPL {display:none}
            </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>
    </noscript>   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="HPL">
     <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-md-3"><img src="~/Images/pseb_logo.png" alt="Punjab School Education Board" class="img-responsive" /></div>
                <div class="col-xs-9 col-md-6"><center> <img src="~/Images/PSEB_Text.png" alt="Punjab School Education Board" class="img-responsive" /></center></div>
                <div class="col-xs-12 col-md-3 text-right" style="color:#fff">@Html.ActionLink("Change Password", "Change_Password", "DeoPortal", new {style = "Color:#fff" })</div>
                <div class="clearfix"></div>
                <div class="col-md-12 text-center" style="color:#fff;font-size:24px;">District Education Officer Portal (Session 2023-24)</div>
                <div class="col-md-12 text-center" style="color:#fff">
                    Welcome: @if (Session["NAME"] != null){@Session["NAME"].ToString()}
                            else { Response.Redirect("/DeoPortal"); }
                </div>
            </div></div></div>       
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type ="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                   
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Session["UTYPE"].ToString() == "admin" || Session["UTYPE"].ToString() == "ADMIN")
                        {
                            <li>@Html.ActionLink("Home", "DeoHome", "DeoPortal")</li>
                            <li>@Html.ActionLink("Notice Board", "NoticeBoard", "DeoPortal")</li>
                            <li>@Html.ActionLink("Profile", "DeoProfileDetails", "DeoPortal")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    All Staff List
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("View Staff List", "AdminViewStaff", "DeoPortal")</li>                                    
                                    <li>@Html.ActionLink("Staff Replacement", "AdminStaffReplacement", "DeoPortal")</li>
                                    <li>@Html.ActionLink("Staff Replacement Report", "AdminStaffReplaceReport", "DeoPortal")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Centre", "CenterList", "DeoPortal")</li>
                            <li>@Html.ActionLink("Block", "ClusterList", "DeoPortal")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Reports
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Summary Report", "DeoSummaryReport", "DeoPortal")</li>
                                    @* <li>@Html.ActionLink("Mail To Deo", "MailToDeo", "DeoPortal")</li>*@
                                    <li>@Html.ActionLink("Examiner Summary Report", "ExaminerSummaryReport", "DeoPortal")</li>
                                    @*<li>@Html.ActionLink("C-55 Letter", "SupervisoryStaffList", "DeoPortal")</li>*@
                                    @*<li>@Html.ActionLink("Old Staff Appointment Report", "OldStaffAppointmentReport", "DeoPortal")</li>*@
                                    <li>@Html.ActionLink("Previous Staff Report", "PreviousStaffReport", "DeoPortal")</li>
                                    
  <li>@Html.ActionLink("Observers Report", "ObserversReport", "DeoPortal")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Letter
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("C-55 Letter", "SupervisoryStaffList", "DeoPortal")</li>
                                    <li style="display:block">@Html.ActionLink("Staff Appointment Letter", "StaffLetter", "DeoPortal")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Updates
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Centre Master", "AdminUpdateCentreMaster", "DeoPortal")</li>                                   
                                    <li>@Html.ActionLink("Deo User Details", "AdminDeoUser", "DeoPortal")</li>
                                </ul>                                
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Sports
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Sports Marks Entry ", "SportsMarksEntry", "DeoPortal")</li>
                                    <li>@Html.ActionLink("Sports Marks View List", "SportsMarksViewListAdmin", "DeoPortal")</li>
                                </ul>
                            </li>
                          
                        }
                        else if (Session["UTYPE"].ToString() == "view" || Session["UTYPE"].ToString() == "VIEW")
                        {
                            <li>@Html.ActionLink("Home", "DeoHome", "DeoPortal")</li>
                            <li>@Html.ActionLink("Notice Board", "NoticeBoard", "DeoPortal")</li>
                            <li>@Html.ActionLink("Profile", "DeoProfileDetails", "DeoPortal")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    All Staff List
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("View Staff List", "AdminViewStaff", "DeoPortal")</li>
                                    @*<li>@Html.ActionLink("Staff Replacement", "AdminStaffReplacement", "DeoPortal")</li>*@
                                    <li>@Html.ActionLink("Staff Replacement Report", "AdminStaffReplaceReport", "DeoPortal")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Centre", "CenterList", "DeoPortal")</li>
                            <li>@Html.ActionLink("Block", "ClusterList", "DeoPortal")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Reports
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Summary Report", "DeoSummaryReport", "DeoPortal")</li>
                                    @* <li>@Html.ActionLink("Mail To Deo", "MailToDeo", "DeoPortal")</li>*@
                                    <li>@Html.ActionLink("Examiner Summary Report", "ExaminerSummaryReport", "DeoPortal")</li>
                                    @*<li>@Html.ActionLink("C-55 Letter", "SupervisoryStaffList", "DeoPortal")</li>*@
                                    @*<li>@Html.ActionLink("Old Staff Appointment Report", "OldStaffAppointmentReport", "DeoPortal")</li>*@
                                    <li>@Html.ActionLink("Previous Staff Report", "PreviousStaffReport", "DeoPortal")</li>
                                    <li>@Html.ActionLink("Observers Report", "ObserversReport", "DeoPortal")</li>
                                    <li>@Html.ActionLink("Sports Marks Entry ", "SportsMarksEntry", "DeoPortal")</li>
                                </ul>
                            </li>
                        }
                        else if (Session["UTYPE"].ToString() == "deonat" || Session["UTYPE"].ToString() == "DEONAT")
                        {
                            <li>@Html.ActionLink("Home", "DeoHome", "DeoPortal")</li>
                            <li>@Html.ActionLink("Sports Marks Entry ", "SportsMarksEntry", "DeoPortal")</li>
                        }
                        else if (Session["UTYPE"].ToString() == "ddsport" || Session["UTYPE"].ToString() == "DDSPORT")
                        {
                            <li>@Html.ActionLink("Home", "DeoHome", "DeoPortal")</li>
                            @*<li>@Html.ActionLink("Sports Marks Entry ", "SportsMarksEntry", "DeoPortal")</li>*@
                            <li>@Html.ActionLink("Sports Marks View List", "SportsMarksViewList", "DeoPortal")</li>
                        }
                        else
                        {
                            <li > @Html.ActionLink("Home", "DeoHome", "DeoPortal") </li>

                            <li class="dropdown">
                               <a  class="dropdown-toggle" data-toggle="dropdown">
                                   School<span class="caret"></span>
                               </a>                                
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Download School List", "DownloadDeoSchoolDistWise", "DeoPortal")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Notice Board", "NoticeBoard", "DeoPortal")</li>
                            <li>@Html.ActionLink("Profile", "DeoProfileDetails", "DeoPortal")</li>
                            <li>@Html.ActionLink("Centre", "CenterList", "DeoPortal")</li>
                            <li>@Html.ActionLink("Block", "ClusterList", "DeoPortal")</li>
                            @*<li>@Html.ActionLink("Final Submit", "FinalSubmitDeoPortal", "DeoPortal")</li>
                            <li>@Html.ActionLink("Final Print", "FinalPrint", "DeoPortal")</li>*@                        
                            
                            <!-- <li>@Html.ActionLink("C-55 Letter", "SupervisoryStaffList", "DeoPortal")</li> -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                   Letter and Other
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("C-55 Letter", "SupervisoryStaffList", "DeoPortal")</li>
                                    @*<li>@Html.ActionLink("Staff Letter", "StaffLetter", "DeoPortal")</li>*@
                                    <li>@Html.ActionLink("Staff Replacement", "ReplacementStaff", "DeoPortal")</li>
                                    <li>@Html.ActionLink("Staff Appointment Letter", "StaffLetter", "DeoPortal")</li>
		                            <li>@Html.ActionLink("Sports Marks Entry ", "SportsMarksEntry", "DeoPortal")</li>
                                </ul>
                                </li>                            
                            @*<li>@Html.ActionLink("Examiner", "Examiner", "DeoPortal")</li>*@
                           
                        }

                        
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    @*                                <li>@Html.ActionLink("Change Password", "Change_Password", "DeoPortal")</li>*@
                                    <li>
                                        @Html.ActionLink("LOGOUT", "Logout", "DeoPortal")
                                    </li>

                                    @*<li><a>LOGOUT</a></li>*@
                                </ul>
                        </div>
                </div>
            </div>
    </div>

    <div class="container KDBG">
            @RenderBody()
        </div>
<footer class="bs-docs-footer">
        <div class="container text-center">
           All Rights Reserved at Punjab School Education Board, 1969 - 2016 
        </div>
    </footer>
    </div>
       
     @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82197953-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>