@model PSEBONLINE.Models.PrinterModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_BookSupplyLayout.cshtml";

}




<h1>Change Password </h1>

@if (Model != null)
{

<div class="row">
    <div class="col-md-2">User Name <span class="rqf">*</span></div>
    <div class="col-md-4">
        <label class="kdsfont">
            @Model.PrinterName
        </label>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

using (Html.BeginForm("ChangePassword", "BookSupply", FormMethod.Post, new { id = "searchform" }))
{
    <div class="clearfix"></div>
    <div class="row">
        @{
            <div class="clearfix"></div>
            <div class="col-md-2">User Id <span class="rqf">*</span></div>
            <div class="col-md-4">@Html.TextBoxFor(a => a.UserId, new { id = "UserId", @maxlength = "20", @ReadOnly = "ReadOnly" })</div>
            <div class="clearfix"></div>
            <div class="col-md-2">Enter Old Password<span class="rqf">*</span></div>
            <div class="col-md-4">@Html.TextBoxFor(a => a.OldPassword, new { id = "OldPassword", @maxlength = "10" })</div>
            <div class="clearfix"></div>
            <div class="col-md-2">Enter New Password <span class="rqf">*</span></div>
            <div class="col-md-4">@Html.TextBoxFor(a => a.Newpassword, new { id = "Newpassword", @maxlength = "10" })</div>
            <div class="clearfix"></div>
            <div class="col-md-6 text-center">
                <input value="Submit" type="submit" onclick="return valForm();" title="Submit for change password " />
            </div>
        }
    </div>
    <div class="clearfix"></div>

}

    if (ViewData["Status"] != null)
    {
        var result = ViewData["Status"].ToString();
        if (result == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Password Changed successfully, Kindly Relogin with New changed Password.");
                document.location.href = '@Url.Action("Login", "BookSupply")';
            </script>
        }
        else
        {
            <script type="text/javascript" language="javascript">
                alert("Password Not Changed, Please Try Again.");
            </script>
        }
    }


<script type="text/javascript">
    function valForm() {
        var UserId = document.getElementById('UserId').value;
        var OldPwd = document.getElementById('OldPassword').value;
        var NewPwd = document.getElementById('Newpassword').value;
        if (UserId == "" || OldPwd == "" || NewPwd == "") {
            alert("Enter Fill Old and New Password.");
            document.getElementById('OldPassword').focus();
            return false;
        }
    }
</script>
    }