@model PSEBONLINE.Models.PrivateCandidateModels
@{
    ViewBag.Title = "Final Print Private Matric Admit Card Search";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="/Content/cardprint.css" />
<style type="text/css">
    body {
        font-size: 11px;
    }
</style>
<script src="/Scripts/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div id="HPL">
    @{        
            using (Html.BeginForm("PvtPracticalExamCentre", "PrivateCandidate", FormMethod.Post, new { id = "searchform" }))
            {
                <h1 class="noprint" style="font-size:22px;padding:10px 0;background-color:#336dc0;color:#fff;margin-top:10px;margin-bottom:5px">&nbsp;Practical Exam Centre For Private Candidate  @ViewBag.ClassName @*Admit Card of Compartment/Re-Appear of @ViewBag.ClassName Examination June 2017*@</h1>
                {<div class="row">
                    <div class="col-md-12">
                        <fieldset style="margin-bottom:15px;overflow:hidden">
                            <legend>Search</legend>                           
                            <div class="col-md-3">
                                Search By @Html.DropDownList("SelAction", new SelectList(ViewBag.MyAction, "Value", "Text", ViewBag.SelectedAction), "Select", new { @class = "", @required= "required" })
                            </div>
                            <div class="col-md-3">&nbsp;<br />
                                <input type="text" id="SearchString" maxlength="30" name="SearchString" value="@Request["SearchString"]" required/>
                            </div>                            
                            <div class="col-md-1">&nbsp;<br /><input type="submit" value="Search" name="cmd" onclick="return valForm2();" title="Search Record" /></div>
                            <div class="clearfix"></div>
                            <div class="col-md-12"><span class="rqf" style="color:firebrick">Note : For Search Kindly Enter Reference Number Or Roll No.</span></div>
                        </fieldset>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="t01">
                                <tr class="active-tr">
                                    <th width="14%">Ref. No.</th>
                                    <th width="14%">Roll</th>
                                    <th width="20%">Name</th>
                                    <th width="15%">Subject Name</th>
                                    <th width="37%">Centre Name</th>
                                </tr>
                                				
                                @{
                                    if (ViewBag.TotalCount > 0)
                                    {
                                        int d = 0;
                                        int Count = 0;
                                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                        {
                                            d = d + 1;
                                            var Refno = Model.StoreAllData.Tables[0].Rows[i]["Refno"].ToString();
                                            var Roll = Model.StoreAllData.Tables[0].Rows[i]["Roll"].ToString();
                                            var Name = Model.StoreAllData.Tables[0].Rows[i]["Name"].ToString();
                                            var SubjectName = Model.StoreAllData.Tables[0].Rows[i]["SubjectName"].ToString();
                                            var CentreNM = Model.StoreAllData.Tables[0].Rows[i]["CentreNM"].ToString();

                                            Count = Count + 1;
                                            <tr>
                                                <td>
                                                    @Refno
                                                </td>
                                                <td>
                                                    @Roll
                                                </td>
                                                <td>
                                                    @Name
                                                </td>
                                                <td>
                                                    @SubjectName
                                                </td>
                                                <td>
                                                    @CentreNM
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                @ViewBag.Message
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 text-center" style="padding:10px 0;display:none">
                    </div>
                </div>
                                            }
                                        }
                                    }
  
</div>


