@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<h1>Add Staff Details</h1>
    @using (Html.BeginForm("ADDSTAFF", "DeoPortal", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
    {

    <div class="row">
        <div class="col-md-12">
            @*<input type="hidden" value="@ViewBag.ClusterCode" id="hdnccode" />*@           
            @Html.Hidden("hdnccode", (string)ViewBag.ClusterCode)
            <table class="table table-bordered" id="t01">
                <tbody>
                    <tr class="active-tr">
                        <th>Block Code</th>
                        <th>Block Name</th>
                        <th>Block Building Name</th>
                        <th>Required Staff</th>
                        <th>Staff Added</th>
                        <th>Diffrence</th>
                    </tr>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {

                    <tr>
                        <td>@ViewBag.ClusterCode</td>
                        <td>@ViewBag.ClusterName</td>
                        <td>@ViewBag.Address</td>
                        <td>@ViewBag.rstaff</td>
                        <td>@ViewBag.staff</td>
                        <td>@ViewBag.diff</td>
                    </tr>

                        }

                        else
                        {
                    <tr>
                        <td colspan="4">
                            @ViewBag.Message
                        </td>
                    </tr>
                        }
                    }

                </tbody>
            </table>
            </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Type Of Duty <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                  
                    @{
                        List<SelectListItem> DutyList = new List<SelectListItem>();
                        DutyList.Add(new SelectListItem { Text = "--SELECT Type Of Duty--", Value = "0" });
                        DutyList.Add(new SelectListItem { Text = "Superintendent", Value = "1" });
                        DutyList.Add(new SelectListItem { Text = "Observer", Value = "2" });
                        DutyList.Add(new SelectListItem { Text = "Flying Squid", Value = "3" });
                        //DutyList.Add(new SelectListItem { Text = "Superintendent", Value = "1" });
                        //DutyList.Add(new SelectListItem { Text = "Deputy Superintendent", Value = "2" });
                        //DutyList.Add(new SelectListItem { Text = "Invigilator", Value = "3" });
                        

                    }

                    @Html.DropDownList("typeDuty", DutyList, new { id = "typeDuty" })
                </div>              
                <div class="col-md-2">
                   TEACHER'S NAME
                </div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.StaffName, new { id = "StaffName", @maxlength = "50" })</div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Father's Name <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.StaffFatherName, new { id = "StaffFatherName", @maxlength = "50" })
                </div>
                 <div class="col-md-2">
                    Experience <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.DropDownList("experience", new SelectList(ViewBag.exp, "Value", "Text"), "--Select YEAR---", new { @class = "" })

                            @{
                                List<SelectListItem> EXPMON = new List<SelectListItem>();
                                EXPMON.Add(new SelectListItem { Text = "--MONTH--", Value = "0" });
                                EXPMON.Add(new SelectListItem { Text = "1", Value = "1" });
                                EXPMON.Add(new SelectListItem { Text = "2", Value = "2" });
                                EXPMON.Add(new SelectListItem { Text = "3", Value = "3" });
                                EXPMON.Add(new SelectListItem { Text = "4", Value = "4" });
                                EXPMON.Add(new SelectListItem { Text = "5", Value = "5" });
                                EXPMON.Add(new SelectListItem { Text = "6", Value = "6" });
                                EXPMON.Add(new SelectListItem { Text = "7", Value = "7" });
                                EXPMON.Add(new SelectListItem { Text = "8", Value = "8" });
                                EXPMON.Add(new SelectListItem { Text = "9", Value = "9" });
                                EXPMON.Add(new SelectListItem { Text = "10", Value = "10" });
                                EXPMON.Add(new SelectListItem { Text = "11", Value = "11" });
                           }
                        </div>
                        <div class="col-md-6"> @Html.DropDownList("expmonth", EXPMON, new { id = "expmonth" })</div>
                    </div>

                    
                   
               
                </div> 
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Gender <span class="rqf">*</span>
                </div>
                <div class="col-md-4"> @{
                    List<SelectListItem> genderList = new List<SelectListItem>();
                    genderList.Add(new SelectListItem { Text = "--SELECT GENDER--", Value = "0" });
                    genderList.Add(new SelectListItem { Text = "MALE", Value = "MALE" });
                    genderList.Add(new SelectListItem { Text = "FEMALE", Value = "FEMALE" });
                }
                    @Html.DropDownList("gender", genderList, new { id = "gender" })
               </div>
               
                <div class="col-md-2">
                    Mobile No. <span class="rqf">*</span>
                </div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.Mobile, new { id = "Mobile", @maxlength = "10", onkeypress = "return isNumberKey(event);" })</div>
        
        <div class="clearfix"></div>
        <div class="col-md-2">
            Disability. <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
                    @{
            List<SelectListItem> physicallydisablity = new List<SelectListItem>();

            physicallydisablity.Add(new SelectListItem { Text = "N.A.", Value = "N.A." });
            physicallydisablity.Add(new SelectListItem { Text = "Blindness", Value = "Blindness" });
            physicallydisablity.Add(new SelectListItem { Text = "Low-Vision", Value = "Low-Vision" });
            physicallydisablity.Add(new SelectListItem { Text = "Leprosy Cured Person", Value = "Leprosy Cured Person" });
            physicallydisablity.Add(new SelectListItem { Text = "Hearing Imparment (deaf and hard of hearing)", Value = "Hearing Imparment (deaf and hard of hearing)" });
            physicallydisablity.Add(new SelectListItem { Text = "Locomotor Disability", Value = "Locomotor Disability" });
            physicallydisablity.Add(new SelectListItem { Text = "Dwarfism", Value = "Dwarfism" });
            physicallydisablity.Add(new SelectListItem { Text = "Intellectual Disability", Value = "Intellectual Disability" });
            physicallydisablity.Add(new SelectListItem { Text = "Mental Illness", Value = "Mental Illness" });
            physicallydisablity.Add(new SelectListItem { Text = "Autism Spectrum Disorder", Value = "Autism Spectrum Disorder" });
            physicallydisablity.Add(new SelectListItem { Text = "Cerebral Palsy", Value = "Cerebral Palsy" });
            physicallydisablity.Add(new SelectListItem { Text = "Muscular Dystrophy", Value = "Muscular Dystrophy" });
            physicallydisablity.Add(new SelectListItem { Text = "Chronic Neurological Conditions", Value = "Chronic Neurological Conditions" });
            physicallydisablity.Add(new SelectListItem { Text = "Specific Learning Disabilities", Value = "Specific Learning Disabilities" });
            physicallydisablity.Add(new SelectListItem { Text = "Multiple Sclerosis", Value = "Multiple Sclerosis" });
            physicallydisablity.Add(new SelectListItem { Text = "Speech and Language disability", Value = "Speech and Language disability" });
            physicallydisablity.Add(new SelectListItem { Text = "Thalassemia", Value = "Thalassemia" });
            physicallydisablity.Add(new SelectListItem { Text = "Hemophilia", Value = "Hemophilia" });
            physicallydisablity.Add(new SelectListItem { Text = "Sickle Cell disease", Value = "Sickle Cell disease" });
            physicallydisablity.Add(new SelectListItem { Text = "Multiple Disabilities including deafblindness", Value = "Multiple Disabilities including deafblindness" });
            physicallydisablity.Add(new SelectListItem { Text = "Acid Attack victim", Value = "Acid Attack victim								" });
            physicallydisablity.Add(new SelectListItem { Text = "Parkinsons disease", Value = "Parkinsons disease" });
                    }
            @Html.DropDownList("physicallydisablity", physicallydisablity, new { id = "physicallydisablity" })
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Staff DOB <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
           @Html.TextBoxFor(a => a.DOB, new
      {
          id = "DOB",
          @readonly = "readonly",
          @maxlength = "10",
          //onkeypress = "javascript: return false;",
          onpaste = "return false;",
          oncopy = "return false;",
          oncut = "return false;"

          //onkeydown = "return false;"
      })

        </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    School Name <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("Selschool", new SelectList(ViewBag.schl, "Value", "Text"), "--Select School Name---", new { @class = "" })

                </div>
                <div class="col-md-2" id="OSchlT" style="display:none;">
                    Other School:  <span class="rqf">*</span>
                </div>
                <div class="col-md-4" id="OSchl" style="display:none;">
                    @Html.TextBoxFor(m => m.Otherschl, new { id = "Otherschl", })
                </div>               
        <div class="col-md-2">
            Dist Name Of School<span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("SelDist", new SelectList(ViewBag.SelDist, "Value", "Text"), "--Select Dist Name of School---", new { @class = "" })

        </div>


                <div class="clearfix"></div>
                <div class="col-md-2">
                    Aadhar Number <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.adharno, new { id = "adharno", @maxlength = "12", onkeypress = "return isNumberKey(event);" })
                </div>
                 
                <div class="col-md-2">
                    E-Punjab ID <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.teacherepunjabid, new { id = "teacherepunjabid", @maxlength = "50" })
                </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Staff Full Address <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.homeaddress, new { id = "homeaddress", @maxlength = "100", })
        </div>

        <div class="col-md-2">
            Home Dist <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @*@Html.TextBoxFor(m => m.homedist, new { id = "homedist", @maxlength = "50" })*@
            @Html.DropDownList("homedist", new SelectList(ViewBag.homedist, "Value", "Text"), "--Select Dist Name---", new { @class = "" })
        </div>


                <div class="clearfix"></div>
                <div class="col-md-2">
                     Cadre <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("cadre", new SelectList(ViewBag.Dcadre, "Value", "Text"), "--Select CADRE---", new { @class = "" })                   
                </div>     
                <div class="col-md-2">
                    Subject / Designation <span class="rqf">*</span>
                </div>
                <div class="col-md-4">                    
                    @Html.DropDownList("desi", new SelectList(string.Empty, "Value", "Text"), "--Select Designation---", new { @class = "" })
                    @*@Html.TextBoxFor(m => m.designation, new { id = "designation", @maxlength = "50" })*@
                </div>
              
                <div class="clearfix"></div>
        <div class="col-md-2">
            Bank Name <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.bankname, new { id = "bankname", @maxlength = "50" })

        </div>
                <div class="col-md-2">
                    Bank IFSC Code <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.ifsccode, new { id = "ifsccode", @maxlength = "50" })
                   
                </div>
                <div class="col-md-2">
                    BANK ACC NO. <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.bankaccno, new { id = "bankaccno", @maxlength = "50", onkeypress = "return isNumberKey(event);" })
                </div>
                <div class="clearfix"></div>
                @*<div class="col-md-2">
                    Date Of Retierment <span class="rqf">*</span>
                </div>
                <div class="col-md-4">                  
                    @Html.TextBoxFor(m => m.DOR, "{0:dd/MM/yyyy}", new
                {
                    id = "DOR",
                    @readonly = "readonly",
                    @maxlength = "10",
                    // onkeypress = "javascript: return false;",
                    onpaste = "return false;",
                    oncopy = "return false;",
                    oncut = "return false;"

                })

                </div>
                <div class="col-md-2">
                    Remarks. <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.remarks, new { id = "remarks", @maxlength = "50" })
                </div>
                <div class="clearfix"></div>*@
        <div class="col-md-2" style="visibility:hidden;">
            School Code <span class="rqf">*</span>
        </div>
        <div class="col-md-4" style="visibility:hidden;">
            @Html.TextBoxFor(m => m.schlcode, new { id = "schlcode", @maxlength = "7" })
        </div>

       
               
       </div>

<div class="col-md-12 text-center tbp">
    <input type="submit" value="Save & next Entry of Staff" onclick="return valForm();" />   
    <input type="button" value="VIEW STAFF" onclick="location.href='@Url.Action("VIEWSTAFF", "DeoPortal", new { CCODEID = encrypt.QueryStringModule.Encrypt(ViewBag.ClusterCode) })'">    
    <input type="button" value="Reset" onClick="this.form.reset()" />
    <input type="button" value="Back" onclick="history.go(-1);" />
</div>
<h4>Last Update Record</h4>
<div class="row">
    <div class="table-responsive">
        <div class="col-md-12">
            <table id="t01" class="table table-bordered">
                <tr class="active-tr">

                    <th>SLNO. </th>
                    <th>Block Code </th>
                    <th>Teacher Name</th>
                    <th>Father's Name</th>
                    <th>Designation</th>
                    <th>Type Of Duty</th>
                    <th>Mobile</th>
                </tr>
                <tr>
                    @{
                        if (@ViewBag.message == "1")
                        {
                    <td>@ViewBag.SLNO </td>
                    <td>@ViewBag.CCODE</td>
                    <td>@ViewBag.TeacherName</td>
                    <td>@ViewBag.FatherName</td>
                    <td>@ViewBag.Designation</td>
                    <td>@ViewBag.TypeOfDuty</td>
                    <td>@ViewBag.Mobile</td>
                    @*if (Convert.ToInt32(@ViewBag.lot) > 0)
                    {

                    <td>@Html.ActionLink("View", "N1FormView", new { id = encrypt.QueryStringModule.Encrypt(@ViewBag.id) })</td>
                    }
                    else
                    {
                    <td>@Html.ActionLink("Modify", "N1FormModify", new { id = encrypt.QueryStringModule.Encrypt(@ViewBag.id) })</td>
                    }*@



                        }
                        else
                        {
                    <td colspan="4">@ViewBag.message </td>
                        }

                    }
                </tr>
            </table>
        </div>
    </div>
</div>
                        }
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data saved Successfully");
                @*window.location.href = '@Url.Action("ClusterList", "DeoPortal")';*@
                window.location.href = '@Url.Action("ADDSTAFF", "DeoPortal")';
            </script>}
        else if (ViewData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                    alert("Data Already Exist");
            </script>
        }
        else if (ViewData["result"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                    alert("Data not saved..plz try again");
            </script>
        }
    }
}



<script type="text/javascript">
  
    $(document).ready(function () {

       $("#DOR").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            //maxDate: '-10Y',

       });

       $("#DOB").datepicker({
           dateFormat: "dd/mm/yy",
           changeMonth: true,
           changeYear: true,
           maxDate: '-10yr',
           //maxDate: '10/08/2016',
           yearRange: "1950:2019"
       });

        $("#schlcode").change(function () {
          
            var selectedSCHL = { SCHL: $("#schlcode").val() };
            $.ajax({
                url: '@Url.Action("GETSchoolName", "DeoPortal")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selectedSCHL),
                success: function (Schools) {
                          
                    $.each(Schools, function (i, SCHList) {
                       // alert(SCHList.Value);
                        $("#Selschool").val(SCHList.Value);
                        //$("#Selschool").append('<option value="'
                        //   + SCHList.Value + '">'
                        //   + SCHList.Text + '</option>');
                    });
                    if (SCHList.success) {
                       
                    }
                    else {
                        alert('invalid ID' + data.success);
                    }
                }
            });
        });

        $("#Selschool").change(function () {
            var selectedVal = $("#Selschool").val();
            //alert(selectedVal);
            if (selectedVal == "Others") {
               
                $('#OSchl').css("display", "block");
                $('#OSchlT').css("display", "block");

            }
            else {
                $('#OSchl').css("display", "none");
                $('#OSchlT').css("display", "none");
                //$("#schlcode").val("*******");

            }

            var selectedSCHL = { SCHL: $("#Selschool").val() };
          
            $.ajax({
                url: '@Url.Action("GETSchoolName", "DeoPortal")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selectedSCHL),
                success: function (Schools) {
                                
                    $.each(Schools, function (i, SCHList) {
                        $("#schlcode").val(SCHList.Value);
                       
                    });
                    if (SCHList.success) {

                    }
                    else {
                        alert('invalid ID' + data.success);
                    }
                }
            });
        });
  
        $("#cadre").change(function () {            
            var selectedCAD = { CAD: $("#cadre").val() };           
            $.ajax({
                url: '@Url.Action("GETDSTAFFESIGNATION", "DeoPortal")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selectedCAD),
                success: function (cadres) {
                    $("#desi").empty();
                    $.each(cadres, function (i, desiList) {
                       
                        $("#desi").append('<option value="'
                           + desiList.Value + '">'
                           + desiList.Text + '</option>');
                    });
                    if (desiList.success) {

                     
                    }
                    else {
                        alert('invalid ID' + data.success);
                    }
                }
            });
        });
    });
</script>
<script type="text/javascript">
    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>
<script type="text/javascript">
    function valForm()
    {
        var td = document.getElementById("typeDuty");
        var sn = document.getElementById("StaffName");
        var sfn = document.getElementById("StaffFatherName");
        var expyear = document.getElementById("experience");
        var expmon = document.getElementById("expmonth");
        var gen = document.getElementById("gender");
        var mob = document.getElementById("Mobile");
        var sc = document.getElementById("schlcode");
        var scname = document.getElementById("Selschool");
        var aadhar = document.getElementById("adharno");
       // var punid = document.getElementById("teacherepunjabid");
        var cadre = document.getElementById("cadre");
        var desi = document.getElementById("desi");
        var ifc = document.getElementById("ifsccode");
        var accno = document.getElementById("bankaccno");
        var Other = document.getElementById("Otherschl");
      
        if (td.value == "" || td.value == "0") {
            alert("Please Select Type Of Duty");
            td.focus();
            return false;
        }
        if (sn.value == "" || sn.value == " ") {
            alert("Please Enter Teacher's Name ");
            sn.focus();
            return false;
        }       
        if (sn.value != "") {
            //var regx = /^[a-zA-Z, ]+$/;
            var regx = /^[a-zA-Z ]*$/;
            if (!sn.value.match(regx)) {
                alert("Please enter only characters");
                sn.focus();
                return false;
            }
        }
        if (sfn.value == "" ) {
            alert("Please Enter Teacher's Father Name");
            sfn.focus();
            return false;
        }
        if (sfn.value != "") {
            var regx = /^[a-zA-Z ]*$/;
            if (!sfn.value.match(regx)) {
                alert("Please enter only characters");
                sfn.focus();
                return false;
            }
        }
        if (expyear.value == "" || expyear.value == "0") {
            alert("Please Select Year");
            expyear.focus();
            return false;
        }
        if (expmon.value == "" || expmon.value == "0") {
            alert("Please Select Month");
            expmon.focus();
            return false;
        }
        if (gen.value == "" || gen.value == "0") {
            alert("Please Select Gender");
            gen.focus();
            return false;
        }
        if (mob.value == "" ) {
            alert("Enter Mobile Number");
            mob.focus();
            return false;
        }
        if (mob.value != "") {
            if (mob.value.length != 10) {

                alert("Please Enter 10 digits Mobile Number");
                mob.focus();
                return false;
            }
            else {
                var Number = document.getElementById('Mobile').value;
                var IndNum = /^[0]?[789]\d{9}$/;

                if (!IndNum.test(Number)) {
                    alert("invalid Number");
                    mob.focus();
                    return false;
                }
            }
        }
        if ($("#Selschool").val() == "") {
            if (scname.value != "Others")
            {
                alert("Enter School Code");
                sc.focus();
                return false;
            }
           
           
        }
        if (scname.value == "Others") {
            if (Other.value == "" || scname.value == "0")
            {
                alert("Enter Other schl");
                Other.focus();
                return false;
            }
           
        }
        if (scname.value == "" || scname.value == "0") {
            alert("Please Select School Name");
            scname.focus();
            return false;
        }
        if (aadhar.value == "") {
            alert("Enter Mobile Adhar number");
            aadhar.focus();
            return false;
        }
        if (aadhar != "") {
            if (aadhar.value.trim().length != 12) {
                alert("Please Enter 12 digits Aadhar No");
                aadhar.focus();
                return false;
            }
            //else {
            //    var Number = document.getElementById('adharno').value;
            //    var IndNum = /^[0]?[789]\d{9}$/;

            //    if (!IndNum.test(Number)) {
            //        alert("invalid Number");
            //        aadhar.focus();
            //        return false;
            //    }
            //}
        }
        //if (punid.value == "") {
        //    alert("Enter Punjab Id");
        //    return false;
        //}
        if (cadre.value == "" || cadre.value == "0") {
            alert("Please Select Cadre");
            cadre.focus();
            return false;
        }
        if (desi.value == "" || desi.value == "0") {
            alert("Please Enter Subject/Designation ");
            desi.focus();
            return false;
        }
        if (ifc.value == "") {
            alert("Enter IFSC Code");
            td.focus();
            return false;
        }
        if (ifc != "") {
            if (ifc.value.trim().length <= 5) {
                alert("Please Enter Valid IFSC CODE");
                ifc.focus();
                return false;
            }
        }
        if (accno.value == "") {
            alert("Enter Bank Account Number");
            accno.focus();
            return false;
        }
        if (accno != "") {
            if (accno.value.trim().length <= 5) {
                alert("Please Enter Valid Bank Accno");
                accno.focus();
                return false;
            }
        }
        return true;
    }
    </script>