@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}
<style type="text/css">
    .modal-body td {
        height: 30px;
    }
</style>
<h1>List of Examination Block</h1>
<p style="display:none;">
    Welcome: @if (Session["NAME"] != null)
    {@Session["NAME"].ToString()}
    else { Response.Redirect("~/DeoPortal/Index"); }
</p>
@using (Html.BeginForm("ClusterList", "DeoPortal", FormMethod.Post, new { id = "searchform" }))
{
    <div class="row">
        <div class="col-md-12 text-right">
            @Html.ActionLink("Block Rough Report", "ClusterListReportPrint", "DeoPortal", new { @class = "btn" })
            @Html.ActionLink("Block Wise Centre List Rough Report", "ClusterWiseCentreList", "DeoPortal", new { @class = "btn" })
            @Html.ActionLink("Block Wise Staff List Rough Report", "ClusterWiseStaffListPrint", "DeoPortal", new { @class = "btn" })
            @*<input type="Submit" value="ADD CLUSTER" name="cmd" />*@ 
            <input type="button" value="ADD BLOCK" onclick="location.href='@Url.Action("ADDCLUSTER", "DeoPortal",new {  })'">
            <input type="button" value="Back" onclick="history.go(-1);" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset style="margin-bottom:15px">
                <legend>Search</legend>
                <div class="col-md-2"><label>Total : @ViewBag.TotalCount1</label></div>
                <div class="col-md-3">
                    @Html.DropDownList("SelDist", new SelectList(ViewBag.Dist, "Value", "Text"), "--Select District---", new { @class = "", onchange = "deechange()" })
                    <span id="reqsession" style="color:red;display:none;">Select One</span>
                </div>
                <div class="col-md-3">
                    @{
                    List<SelectListItem> SelectList = new List<SelectListItem>();
                    SelectList.Add(new SelectListItem { Text = "--Select--", Value = "0" });
                    SelectList.Add(new SelectListItem { Text = "Block Centre Code", Value = "1" });
                    SelectList.Add(new SelectListItem { Text = "Block Name", Value = "2" });
                    SelectList.Add(new SelectListItem { Text = "Block Building Name", Value = "3" });
                    SelectList.Add(new SelectListItem { Text = "Block Code", Value = "4" });
                    }
                    @Html.DropDownList("Category", SelectList, new { id = "Category" })
                </div>
                <div class="col-md-3">
                    <input type="text" id="SearchString" name="SearchString" value="@ViewBag.Searchstring" onclick="deetext()" />
                    <span id="reqsellist" style="color:red;display:none;">Enter Here</span>
                </div>
                <div class="col-md-1"><input type="Submit" value="Search" name="cmd" onclick="return dee()" /></div>
            </fieldset>
            </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="t01">
                    <tbody>
                        <tr class="active-tr">
                            <th>S.No</th>
                            <th>BCODE</th>
                            <th>CCENT</th>
                            <th>BLOCK NAME</th>
                            <th>ADDRESS</th>
                            <th>TOTAL CENTRE</th>
                            <th>LOT</th>
                            <th>ACTION</th>
                        </tr>
                        @{
                            if (ViewBag.TotalCount > 0)
                            {
                                int d = 0;
                                int Count = 0;
                                if (ViewBag.pagesize == 1)
                                {
                                    Count = 0;
                                }
                                else
                                {
                                    Count = 10 * (ViewBag.pagesize - 1);
                                }
                                for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                {
                                    d = d + 1;
                                    var CCODE = Model.StoreAllData.Tables[0].Rows[i]["CCODE"].ToString();
                                    var CCENT = Model.StoreAllData.Tables[0].Rows[i]["CCENT"].ToString();
                                    var CLUSTERNAME = Model.StoreAllData.Tables[0].Rows[i]["clusternam"].ToString();
                                    var ADDRESS = Model.StoreAllData.Tables[0].Rows[i]["Address"].ToString();
                                    var cnt = Model.StoreAllData.Tables[0].Rows[i]["cnt"].ToString();
                                    var LOT = Model.StoreAllData.Tables[0].Rows[i]["lot"].ToString();

                                    Count = Count + 1;
                                    <tr>
                                        <td>@Count</td>
                                        <td>@CCODE</td>
                                        <td>@CCENT</td>
                                        <td>@CLUSTERNAME</td>
                                        <td>@ADDRESS</td>
                                        <td>@cnt</td>
                                        <td>@LOT</td>                                        
                                        <td>
                                            <div class="cart">
                                                Choose Action<span class="caret"></span>
                                                <div id="sidebar">
                                                    <ul>
                                                        <li><a link="#" class="" data-toggle="modal" data-target="#myModal1-@d">View Block</a></li>
                                                        @*<li><a link="#" class="" data-toggle="modal" data-target="#myModal-@d">ADD Centre</a></li>*@
                                                        <li>@Html.ActionLink("View Centre", "VIEWCENTRE", new { CCODEID = encrypt.QueryStringModule.Encrypt(CCODE) })</li>
                                                        
                                                        <li>@Html.ActionLink("Add Centre", "ADDCENT", new { CCODEID = encrypt.QueryStringModule.Encrypt(CCODE) })</li>
                                                        @*<li><a link="#" class="" data-toggle="modal" data-target="#myModalStaff-@d">ADD STAFF</a></li>*@
                                                        <li>@Html.ActionLink("Add/View Staff", "VIEWSTAFF", new { CCODEID = encrypt.QueryStringModule.Encrypt(CCODE) })</li>
                                                        @*<li>@Html.ActionLink("Indexdeo", "Webservice", new { CCODEID = encrypt.QueryStringModule.Encrypt(CCODE) })</li>*@
                                                       
                                                         @*<li>                                                            
                                                            <input type="text" value="Import Staff" onclick="javascript:document.location.href='@Url.Action("Indexdeo", "Webservice", new { CCODEID = @CCODE })'" />
                                                        </li>*@
                                                            @if (@LOT == "0")
                                                            {
<li>
                                                            @*@Html.ActionLink("Delete", "ClusterDELETE", new { id = CCODE }, new { onclick = "return confirm('If Block deleted, all centres will be removed which are added in this Block, Are You Sure?');" })*@ 
                                                            @Html.ActionLink("Delete", "ClusterDELETE", new { id = CCODE }, new { onclick = "return confirm('If you delete this block, all centres are removed from this block, are you agree?');" })
                                                        </li>
                                                        }                                                        

                                                        @*<li><button type="button" class="" data-toggle="modal" data-target="#myModal1-@d">View</button></li>
                                                        <li><button type="button" class="" data-toggle="modal" data-target="#myModal-@d">ADD CLUSTER</button></li>
                                                        <li><button type="button" class="" data-toggle="modal" data-target="#">ADD STAFF</button></li>
                                                        <li><button type="button" class="" data-toggle="modal" data-target="#">DELETE</button></li>*@                                                                                                             

                                                    </ul>
                                                
                                                </div>
                                            </div>
                                        </td>
                                        @*<td>
                                            <button type="button" class="" data-toggle="modal" data-target="#myModal1-@d">View</button>|
                                            <button type="button" class="" data-toggle="modal" data-target="#myModal-@d">ADD CLUSTER</button>|
                                            <button type="button" class="" data-toggle="modal" data-target="#">ADD STAFF</button>|
                                            <button type="button" class="" data-toggle="modal" data-target="#">DELETE</button>
                                        </td>*@
                                    </tr>
                                    if (d == ViewBag.TotalCount)
                                    {
                                        <tr>
                                            <td colspan="7">

                                                Page @ViewBag.pagesize of @ViewBag.pn

                                                &nbsp;

                                                @if (ViewBag.pagesize == 1)

                                                {
                                                    @:<<

                                                    @Html.Raw("&nbsp;");

                                                    @:< Prev
                                                    @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                    if (ViewBag.pn > ViewBag.pagesize)
                                                    {
                                                        @Html.ActionLink("Next >", "ClusterList", new { page = ViewBag.pagesize + 1 })

                                                        @Html.Raw("&nbsp;");

                                                        @Html.ActionLink(">>", "ClusterList", new { page = ViewBag.pn })
                                                    }
                                                }
                                                else
                                                {
                                                    if (TempData["CenterListSelDist"] != null)
                                                    {
                                                        string str1 = TempData.Peek("CenterListSelDist").ToString();
                                                        string str2 = TempData.Peek("CenterListSelectList").ToString();
                                                        string str3 = TempData.Peek("CenterListSearchString").ToString();
                                                        //string str4 = TempData.Peek("ImportData10thClassSession").ToString();
                                                        TempData["CenterListSelDist"] = str1;
                                                        TempData["CenterListSelectList"] = str2;
                                                        TempData["CenterListSearchString"] = str3;
                                                        // TempData["ImportData10thClassSession"] = str4;
                                                    }
                                                    @Html.ActionLink("<<", "ClusterList", new { page = 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink("< Prev", "ClusterList", new { page = ViewBag.pagesize - 1 })
                                                    @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                    if (ViewBag.pn > ViewBag.pagesize)
                                                    {
                                                        @Html.ActionLink("Next >", "ClusterList", new { page = ViewBag.pagesize + 1 })

                                                        @Html.Raw("&nbsp;");

                                                        @Html.ActionLink(">>", "ClusterList", new { page = ViewBag.pn })
                                                    }

                                                }


                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        @ViewBag.Message
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <p>Total Records(Filtered): @ViewBag.TotalCount1</p>
            </div>
        </div>
    </div>
                            if (Model != null)
                            {
                                for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                {

                                    var ccode = Model.StoreAllData.Tables[0].Rows[i]["ccode"].ToString();
                                    var ccent = Model.StoreAllData.Tables[0].Rows[i]["ccent"].ToString();
                                    //var CENTRE = Model.StoreAllData.Tables[0].Rows[i]["ECENTRE"].ToString();
                                    var cschl = Model.StoreAllData.Tables[0].Rows[i]["cschl"].ToString();
                                    var clustername = Model.StoreAllData.Tables[0].Rows[i]["clusternam"].ToString();
                                    var person1 = Model.StoreAllData.Tables[0].Rows[i]["person1"].ToString();
                                    var mobile1 = Model.StoreAllData.Tables[0].Rows[i]["mobile1"].ToString();
                                    var person2 = Model.StoreAllData.Tables[0].Rows[i]["person2"].ToString();
                                    var mobile2 = Model.StoreAllData.Tables[0].Rows[i]["mobile2"].ToString();
                                    var address = Model.StoreAllData.Tables[0].Rows[i]["address"].ToString();
                                    var pincode = Model.StoreAllData.Tables[0].Rows[i]["pincode"].ToString();
                                    var remarks = Model.StoreAllData.Tables[0].Rows[i]["remarks"].ToString();
                                    var Principal = Model.StoreAllData.Tables[0].Rows[i]["PRINCIPAL"].ToString();
                                    var mob = Model.StoreAllData.Tables[0].Rows[i]["MOBILE"].ToString();
                                    var emailid = Model.StoreAllData.Tables[0].Rows[i]["EMAIL"].ToString();                                   
                                    var insdate = Model.StoreAllData.Tables[0].Rows[i]["insdate"].ToString();
                                    var updatedt = Model.StoreAllData.Tables[0].Rows[i]["updatedt"].ToString();
                                    var lot = Model.StoreAllData.Tables[0].Rows[i]["lot"].ToString();

                                    int k = i + 1;
                                    <div class="container">
                                        <!-- Trigger the modal with a button -->
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal1-@k" role="dialog">
                                            <div class="modal-dialog">
                                                
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <span style="font-size:24px">Block Details</span>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td width="30%">Block Code</td>
                                                                <td>@ccode</td>
                                                                </tr>
                                                            <tr>
                                                                <td>Block Centre</td>
                                                                <td>@ccent</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Block School</td>
                                                                <td>@cschl</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Block Name</td>
                                                                <td>@clustername</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Building</td>
                                                                <td>@clustername @address</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Principal</td>
                                                                <td>@Principal</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mobile</td>
                                                                <td>@mob</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email</td>
                                                                <td>@emailid</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pincode</td>
                                                                <td>@pincode</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Person 1</td>
                                                                <td>@person1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mobile 1</td>
                                                                <td>@mobile1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Person 2</td>
                                                                <td>@person2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mobile 2</td>
                                                                <td>@mobile2</td>
                                                            </tr>                                                           
                                                            <tr>
                                                                <td>Inserted Date</td>
                                                                <td>@insdate</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Updated Date</td>
                                                                <td>@updatedt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>LOT</td>
                                                                <td>@lot</td>
                                                            </tr>
                                                            </table>                                                             
                                                               
                                                    </div>
                                                   
                                                </div>

                                            </div>
                                        </div>
                                                                               

                                    </div>
                                    }
                                }
                            }
@{
    if (TempData["result"] != null)
    {
        if (TempData["result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                var impcn = @TempData["TotImported"];
                //alert(impcn);
                alert("Selected Staff is shifted successfully to '"+impcn+"' block.")
                //alert(impcn+" Records Imported Successfully");
            </script>}
        else if (TempData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Not Shifted");
            </script>
        }
        else if (TempData["result"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data not Shifted..plz try again");
            </script>
        }
    }
    if (TempData["Deleteresult"] != null)
    {
        if (TempData["Deleteresult"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">               
                alert("Block Deleted Succesfully")               
            </script>}
       
        else if (TempData["Deleteresult"].ToString() == "-1")
        {
            <script type="text/javascript" language="javascript">
                alert("Block not deleted, due to staff exist in this Block, Kindly Delete or Shift staff before delete this Block");
            </script>
        }
    }
}

<script>

    function dee() {

        if ($("#SelDist").val() == "") {

            $("#reqsession").slideDown("slow");
            return false;
        }
        if ($("#Category").val() != "0" && $("#SearchString").val() == "") {

            $("#reqsellist").slideDown("slow");
            return false;
        }

        //else if ($("#SelDist").val() != "" && $("#Category").val() != "" && $("#SearchString").val() == "") {
        //    $("#reqsellist").slideUp("slow");
        //    $("#reqsstring").slideDown("slow");
        //    return false;
        //}
        else
            return true;

    }
    $(document).ready(function () {

          $("#SelDist").change(function () {
            if ($("#SelDist").val() == "") {
               // $("#SearchString").focus(function () { $("#reqsellist").slideUp("slow"); });
                $("#reqsession").slideDown("slow");
            }
            else {
                $("#reqsession").slideUp("slow");
            }

        });

    });


        var form = $("#searchform").serialize();
        $("#btnNext").click(function () {
            $.ajax({
                url: 'DeoPortal/Next',
                data: { currentPageIndex: document.getElementById('currentPageIndex').value, form },
                success: function (response) {
                    $("body").html(response);
                }
            });
        });

        $("#btnPrevious").click(function () {
            $.ajax({
                url: 'DeoPortal/Previous',
                data: { currentPageIndex: document.getElementById('currentPageIndex').value },
                success: function (response) {
                    $("body").html(response);
                }
            });
        });



</script>
 
<script type="text/javascript">
    function CreateCluster(k,CENT,schl) {
        alert(CENT);
        alert(schl);
        alert($("#ClusterName-" + k).val());
        alert($("#Person1-" + k).val());
        alert($("#Mobile1-" + k).val());
            //$.ajax({
            //    type: "POST",
            //    url: "../DeoPortal/CreateCluster", // this for calling the web method function in cs code.
            //    data: '{ClusterName: "' + $("#ClusterName-" + k).val() + '",Person1: "' + $("#Person1-" + k).val() + '",Mobile1: "' + $("#Mobile1-" + k).val() + '",Person2: "' + $("#Person2-" + k).val() + '",Mobile2: "' + $("#Mobile2-" + k).val() + '",Pincode: "' + $("#Pincode-" + k).val() + '",remarks: "' + $("#remarks-" + k).val() + '",CENT: "' + CENT + '",schl:"' + schl + '"}',// user name or email value
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (response) {
            //        if (response.sn=="Yes")
            //        {
            //            alert("Cluster Created Successfully");
            //            window.location.href = "/DeoPortal/ClusterList";
            //            $(".modal").hide();                       
            //        }
            //        else
            //        {
            //            alert("Cluster Failed.");
            //        }
            //    },
            //    failure: function (response) {
            //        alert(response);
            //    }
            //});
            
        
    }
    
</script>