@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<h1>Change Password </h1>
<div class="row">
    <div class="col-md-2">User Name <span class="rqf">*</span></div>
    <div class="col-md-4">
        <label class="kdsfont">
            @ViewBag.User
        </label>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-2">Enter Old Password <span class="rqf">*</span></div>
        <div class="col-md-4"> @Html.Password("CurrentPassword", "", new { @class = "form-control", placeholder = "OldPassword", required = "required", @maxlength = "50" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Enter New Password <span class="rqf">*</span>
        </div>
        <div class="col-md-4">@Html.Password("NewPassword", "", new { @class = "form-control", placeholder = "New Password", required = "required", @maxlength = "50" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Confirm Password <span class="rqf">*</span>
        </div>
        <div class="col-md-4">@Html.Password("ConfirmPassword", "", new { @class = "form-control", placeholder = "Confirm Password", required = "required", @maxlength = "50" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <input type="submit" value="Change Password" />
        </div>
    </div>
}


@{
    if (ViewData["resultDCP"] != null)
    {
        if (ViewData["resultDCP"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                  alert("Password Changed Successfully! Please Re-Login With New Password");
                  window.location.href = '@Url.Action("Index", "Admin")';
            </script>
        }
        else if (ViewData["resultDCP"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                    alert("Password Not Changed.plz check details");
            </script>
        }
        else if (ViewData["resultDCP"].ToString() == "3")
        {
            <script type="text/javascript" language="javascript">
                    alert("New and Confirm Password Not Matched");
            </script>
        }
        else
        {
            <script type="text/javascript" language="javascript">
                    alert("Please Fill All Fields");
            </script> }
    }
}

