@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Conduct Update List";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="/Content/Print-4L.css" />
<style type="text/css">
    .tprint td {
        padding: 4px 4px;
        line-height: 14px;
        font-weight: normal;
    }

    body {
        font-size: 11px;
        margin: 0;
        padding: 0;
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 9999999;
        display: block;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 225px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }

    .checkbox {display:inline-block}
    .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
@using (Html.BeginForm("ConductUpdateList", "Admin", FormMethod.Post, new { id = "searchform" }))
{
    <div class="row">
        <div class="col-md-12 noprint">
            <fieldset style="margin-bottom:15px">
                <legend>Search</legend>
                <div class="col-md-3">
                    Search By @Html.DropDownList("SelList", new SelectList(ViewBag.MySch, "Value", "Text"), "--Select---", new { @class = "", id = "SelList", onchange = "deechange()" })
                    <span id="reqsellist" style="color:red;display:none;">Select One</span>
                </div>
                <div class="col-md-3">
                    Enter <input type="text" id="SearchString" name="SearchString" value="@ViewBag.Searchstring" onclick="deetext()" />
                    <span id="reqsstring" style="color:red;display:none;">Enter Here</span>
                </div>
                <div class="col-md-2">
                    <br />
                    <input type="Submit" value="Search" name="cmd" onclick="return dee();" />
                    <input type="submit" name="Reset" value="Reset" formaction="" formmethod="post" />
                </div>
                @*<div class="col-md-2">&nbsp;<br /><input type="submit" value="Search" name="cmd" onclick="return valFormAmount();" title="Search on given input data" /></div>*@
            </fieldset>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-right noprint">                        
            <input type="Submit" value="Updates" name="cmd" />
            <input type="Submit" value="Final submit" name="cmd" onclick="return validate(this);" />
            <input type="button" value="Print" class="btn" onclick="window.print()" />
            <input value="Back" type="button" onclick="javascript:document.location.href='@Url.Action("RecheckConductPrint", "Admin")'" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div style="border:1px solid #fff !important;display:block">
                <table border="1" width="100%" class="tprint">
                    <thead>
                        <tr>
                            <td style="border-right:0 !important" colspan="3"><img src="~/Images/Printlogo.jpg" alt="PSEB" height="60px" width="60px" /></td>
                            <td colspan="4" style="text-align:center;border-left:0 !important;border-right:0 !important;line-height:20PX">                                
                               	 @{
                                        string s = null;
                                        var lot = @ViewBag.lot;
                                        var str = lot.Substring(0, 6);
                                        var maxNum = Convert.ToInt32(lot.Substring(6, 3));
                                        if (@str.Contains("CB12"))
                                            if (maxNum >= 1 && maxNum <= 7)
                                                s = ViewBag.IsRecheck + " Senior Secondary March 2020";
                                            else if (maxNum >= 8 && maxNum <= 10)
                                                s = ViewBag.IsRecheck + " Senior Secondary July 2020";
                                            else if (maxNum >= 11 && maxNum <= 12)
                                                s = ViewBag.IsRecheck + " Senior Secondary September 2020";
                                            else
                                                s = ViewBag.IsRecheck + " Senior Secondary November 2020";

                                        else
                                         if (maxNum >= 1 && maxNum <= 3)
                                            s = ViewBag.IsRecheck + " Matriculation March 2020";
                                        else if (maxNum >= 4 && maxNum <= 5)
                                            s = ViewBag.IsRecheck + " Matriculation July 2020";
                                        else if (maxNum >= 6 && maxNum <= 8)
                                            s = ViewBag.IsRecheck + " Matriculation September 2020";
                                        else
                                            s = ViewBag.IsRecheck + " Matriculation November 2020";


                                    }          
                                <span style="font-size:28px;font-weight:bold">Punjab School Education Board</span><br />
                                <span style="font-size:20px;">@s</span></td>
                            <td align="right" style="border-left:0 !important" colspan="3">Lot:- @ViewBag.lot<br />Update Date: @DateTime.Now.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr class="active-tr">
                            <th width="6%">Csr/Dsr. No.</th>
                            <th width="8%">Set</th>
                            <th width="10%">Ref.No</th>
                            <th width="15%">Roll No. / Dist. Name</th>
                            <th width="28%">Name / Fname</th>
                            <th width="9%">Subject / Sub Code</th>
                            <th width="10%">Barcod / Bagno</th>
                            <th width="4%">Th. Obt. Marks</th>
                            @*<th width="5%">Fee detail<br />Amt. / Chaln ID / Verify Dt.</th>
                            <th width="5%">Bag ID Set</th>
                            <th width="5%">Roll No. Set</th>*@
                            <th width="10%" colspan="2">                                
                                Action Change <br />
                               <input type="checkbox" id="select_all" />All Yes &nbsp;&nbsp;
                               <input type="checkbox" id="Nselect_all" />All No
                            </th>
                        </tr>
                    </thead>
                    @{
                        if (ViewBag.TotalCount >= 1)
                        {
                            int d = 0;
                            int Count = 0;

                            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                            {
                                d = d + 1;
                                var id = Model.StoreAllData.Tables[0].Rows[i]["id"].ToString();
                                var updStatus = Model.StoreAllData.Tables[0].Rows[i]["updStatus"].ToString();
                                var updStatusFS = Model.StoreAllData.Tables[0].Rows[i]["updStatusFS"].ToString();
                                var CSrNo = Model.StoreAllData.Tables[0].Rows[i]["CSrNo"].ToString();
                                var DSrNo = Model.StoreAllData.Tables[0].Rows[i]["DSrNo"].ToString();
                                var Sset = Model.StoreAllData.Tables[0].Rows[i]["set"].ToString();
                                var refno = Model.StoreAllData.Tables[0].Rows[i]["refno"].ToString();
                                var Rollnum = Model.StoreAllData.Tables[0].Rows[i]["roll"].ToString();
                                var name = Model.StoreAllData.Tables[0].Rows[i]["name"].ToString() + '/' + Model.StoreAllData.Tables[0].Rows[i]["fname"].ToString();
                                var subC = Model.StoreAllData.Tables[0].Rows[i]["subcode"].ToString();
                                var subnm = Model.StoreAllData.Tables[0].Rows[i]["subnm"].ToString();
                                var subjects = subnm + '/' + subC;
                                var Obtmarks = Model.StoreAllData.Tables[0].Rows[i]["obtmrk"].ToString();
                                var Feedetils = Model.StoreAllData.Tables[0].Rows[i]["feedetail"].ToString();
                                var BagC = Model.StoreAllData.Tables[0].Rows[i]["bag"].ToString();
                                var BarC = Model.StoreAllData.Tables[0].Rows[i]["bar"].ToString();
                                var BagBarCode = BarC + '/' + BagC;
                                var BagidSet = Model.StoreAllData.Tables[0].Rows[i]["bagidset"].ToString();
                                var RollSet = Model.StoreAllData.Tables[0].Rows[i]["rollset"].ToString();
                                Count = Count + 1;
                                <tr>
                                    @*<td style="height:54PX">@CSrNo</td>*@
                                    @{
                                    @*var tt = ViewBag.SearchList;
                                    if ( ViewBag.SelectedItem == "4" ||  ViewBag.SelectedItem == "5")
                                    {
                                    //@Count                                    
                                    <td style="height:54PX">@DSrNo</td>
                                    }
                                    else*@
                                    {                                    
                                    <td style="height:54PX">@CSrNo / @DSrNo</td>
                                    }

                                    }
                                    <td>@Sset</td>
                                    <td title="Amt/ChalnID/VerifyDt, BagIDSet, RollNoSet: @Feedetils,  @BagidSet, @RollSet">@refno</td>
                                    <td>@Rollnum</td>
                                    <td>@name</td>
                                    <td>@subjects</td>
                                    <td>@BagBarCode</td>
                                    <td>@Obtmarks</td>
                                    @*<td>
                                        @Feedetils
                                    </td>
                                    <td>
                                        @BagidSet
                                    </td>
                                    <td>
                                        @RollSet
                                    </td>*@
                                    @if (updStatus == "True" && updStatusFS == "")
                                    {
                                        <td>
                                            Yes <input type="checkbox" id="AllChkId-@id" value="@id" name="AllChkId" class="checkbox" checked="checked" />
                                        </td>
                                        <td>No <input type = "checkbox" id = "NAllChkId-@id" value = "@id" name = "NAllChkId" class="Ncheckbox"  />
                                        </td>
                                    }
                                    else if (updStatus == "False" && updStatusFS == "")
                                    {
                                        <td>
                                            Yes <input type="checkbox" id="AllChkId-@id" value="@id" name="AllChkId" class="checkbox"  />
                                        </td>
                                       <td>No <input type="checkbox" id="NAllChkId-@id" value="@id" name="NAllChkId" class="Ncheckbox" checked="checked"  />
                                       </td>
                                    }
                                    else if (updStatus == "True" && updStatusFS == "True")
                                    {
                                        <td colspan="2" style="color:forestgreen">
                                            Change 
                                        </td>
                                        
                                    }
                                    else if (updStatus == "False" && updStatusFS == "True")
                                    {
                                        <td colspan="2" style="color:red">
                                           No Change
                                        </td>
                                       
                                    }

                                    else
                                    {
                                        <td>
                                            Yes <input type="checkbox" id="AllChkId-@id" value="@id" name="AllChkId" class="checkbox" />
                                        </td>
                                        <td>
                                            No <input type="checkbox" id="NAllChkId-@id" value="@id" name="NAllChkId" class="Ncheckbox"  />

                                            @*Change <input type="checkbox" id="AllChkId-@id" value="AllChkId-@id" name="AllChkId" class="checkbox" onchange="myFunction(@id);"/><br />
                                                No Change <input type="checkbox" id="NAllChkId-@id" value="NAllChkId-@id" name="NAllChkId" class="checkbox" onchange="myFunction(@id);" />*@

                                            @*@Html.RadioButtonFor(a => a.Result, "Yes", new { id = "ResultY", @checked = true })Changed
                                                <br />
                                                @Html.RadioButtonFor(a => a.Result, "No", new { id = "ResultN", })No Changed*@
                                        </td>
                                    }
                                </tr>
                                //.... Pagin start
                                if (d == ViewBag.TotalCountp)
                                {
                                    @*<tr>
                                        <td colspan="12">

                                            Page @ViewBag.pagesize of @ViewBag.pn

                                            &nbsp;

                                            @if (ViewBag.pagesize == 1)

                                            {
                                                @:<<

                                                @Html.Raw("&nbsp;");

                                                @:< Prev
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "FirmFinalPrint", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "FirmFinalPrint", new { page = ViewBag.pn })
                                                }
                                            }
                                            else
                                            {

                                                @Html.ActionLink("<<", "FirmFinalPrint", new { page = 1 })

                                                @Html.Raw("&nbsp;");

                                                @Html.ActionLink("< Prev", "FirmFinalPrint", new { page = ViewBag.pagesize - 1 })
                                                @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;"); @Html.Raw("&nbsp;");
                                                if (ViewBag.pn > ViewBag.pagesize)
                                                {
                                                    @Html.ActionLink("Next >", "FirmFinalPrint", new { page = ViewBag.pagesize + 1 })

                                                    @Html.Raw("&nbsp;");

                                                    @Html.ActionLink(">>", "FirmFinalPrint", new { page = ViewBag.pn })
                                                }

                                            }


                                        </td>
                                    </tr>*@
                                }

                                //... Paging end
                            }
                        }


                        else
                        {
                            <tr>
                                <td colspan="10">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    }
                </table>
                </div>
            </div>
        </div>

                        }


<script type="text/javascript">

    $(document).ready(function () {
        $('.checkbox').change(function () { //".checkbox" change
            var chkid = this.id
           // alert(chkid);
           // alert(this.checked);
            if (this.checked == false) { //if this item is unchecked
                $("#select_all")[0].checked = false; //change "select all" checked status to false

            }  
        });


        $('.Ncheckbox').change(function () { //".checkbox" change
            var chkid = this.id
           // alert(chkid);
          //  alert(this.checked);
            if (this.checked == false) { //if this item is unchecked
                $("#Nselect_all")[0].checked = false; //change "select all" checked status to false

            }
        });

        $("#select_all").change(function () {
           // alert("selectall");
            var status = this.checked; // "select all" checked status
          //  alert(status);
            var j = 0
            $('.checkbox').each(function () {
                $("input[name='AllChkId']")[j].checked = status;              
                j++;

            });
        });

        $("#Nselect_all").change(function () {
           // alert("Nselect_all");
            var status = this.checked; // "select all" checked status
           // alert(status);
            var j = 0
            $('.Ncheckbox').each(function () {
                $("input[name='NAllChkId']")[j].checked = status;
                j++;

            });
        });

    });

</script>


@*<script type="text/javascript">
    $(function () {
        $("#select_all").change(function () {
            var status = this.checked;
            var i = 0
            $('input:checkbox[name=AllChkId]').each(function () {               
                $("input[name='AllChkId']")[i].checked = status;
                i++;

            });
            var status = false; // "select all" checked status
            $("#Nselect_all")[0].checked = status;
            var j = 0
            $('input:checkbox[name=NAllChkId]').each(function () {
                //alert("1");
                $("input[name='NAllChkId']")[j].checked = status;
                j++;

            });

        });
        $("#Nselect_all").change(function () {
            var status = this.checked; // "select all" checked status
            var j = 0
            $('input:checkbox[name=NAllChkId]').each(function () {
                //alert("1");
                $("input[name='NAllChkId']")[j].checked = status;
                j++;

            });
            var status = false;
            $("#select_all")[0].checked = status;
            var i = 0
            $('input:checkbox[name=AllChkId]').each(function () {
                $("input[name='AllChkId']")[i].checked = status;
                i++;

            });

        });
    });
    function myFunction(id,val)
    {   
        if ($("#AllChkId-" + id).checked = true)
        {            
            if(val=="YES")
            {                
                $("#NAllChkId-" + id)[0].checked = false;
                $("#AllChkId-" + id)[0].checked = true;
            }
            if(val=="NO")
            {                
                $("#NAllChkId-" + id)[0].checked = true;
                $("#AllChkId-" + id)[0].checked = false;
            }
           
        }
    }

    function validate() {
        if (confirm("Do you really want to Final Submit, Once you final Submit, You can not change related status.?"))
            document.forms[0].submit();
        else
            return false;
    }

</script>*@

<script type="text/javascript">
    function dee() {
        
        if ($("#SelList").val() == "") {

            $("#reqsellist").slideDown("slow");
            return false;
        }

        if ($("#SelectItem").val() != "" && $("#SearchString").val() == "" && $("#SelList").val() != 4) {
            $("#reqsellist").slideUp("slow");
            $("#reqsstring").slideDown("slow");
            return false;
        }
        else
            return true;

    }
   
</script>
<script>
    function deetext() {
        $("#reqsstring").slideUp("slow");
    }
    function deechange() {
        if ($("#SelList").val() != "") {
            $("#reqsellist").slideUp("slow");
        }
        else {
            $("#reqsellist").slideDown("slow");
        }
    }


</script>


