@model PSEBONLINE.Models.DuplicateCertificate
@{
    ViewBag.Title = "Acknowledgement of Duplicate Certificate Form";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/Print-4P.css" />
<style type="text/css">body{font-size: 11px}td{height:34px}th{font-size:13px;padding:5px 0}</style>
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "searchform" }))
{
<h1 class="noprint" style="font-size:22px;padding:10px 0">Acknowledgement of Duplicate Certificate Form</h1>
<div class="row noprint">
    <div class="col-md-12 noprint text-right">
        <input type="button" value="Print" class="btn" onclick="window.print()" />       
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
            <div class="col-md-12" style="vertical-align:top">
@{
    if (ViewBag.TotalCount > 0)
    {
        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
        {
            var Id = Model.StoreAllData.Tables[0].Rows[i]["Id"].ToString();
            var DairyNo = Model.StoreAllData.Tables[0].Rows[i]["DairyNo"].ToString();
            var DairyDate = Model.StoreAllData.Tables[0].Rows[i]["DairyDate"].ToString().Split(' ')[0];
            var Class = Model.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
            var Session = Model.StoreAllData.Tables[0].Rows[i]["Session"].ToString();
            var Roll = Model.StoreAllData.Tables[0].Rows[i]["roll"].ToString();
            var DIST = Model.StoreAllData.Tables[0].Rows[i]["DIST"].ToString();
            var Name = Model.StoreAllData.Tables[0].Rows[i]["Name"].ToString();
            var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
            var Mobile = Model.StoreAllData.Tables[0].Rows[i]["Mobile"].ToString();
            var Address = Model.StoreAllData.Tables[0].Rows[i]["Address"].ToString();
            var Year = Model.StoreAllData.Tables[0].Rows[i]["Year"].ToString();
            var IsSameAsRecord = Model.StoreAllData.Tables[0].Rows[i]["IsSameAsRecord"].ToString();
            var FNAME = Model.StoreAllData.Tables[0].Rows[i]["FNAME"].ToString();
            var MNAME = Model.StoreAllData.Tables[0].Rows[i]["MNAME"].ToString();
            var ReceiptNo = Model.StoreAllData.Tables[0].Rows[i]["ReceiptNo"].ToString();
            var ReceiptDate = Model.StoreAllData.Tables[0].Rows[i]["ReceiptDate"].ToString().Split(' ')[0];
            var FeeAmount = Model.StoreAllData.Tables[0].Rows[i]["FeeAmount"].ToString();
            var Branch = Model.StoreAllData.Tables[0].Rows[i]["Branch"].ToString();
            var UserDist = Model.StoreAllData.Tables[0].Rows[i]["UserDist"].ToString();
            var TypeName = Model.StoreAllData.Tables[0].Rows[i]["TypeName"].ToString();
            var DupSet = Model.StoreAllData.Tables[0].Rows[i]["DupSet"].ToString();
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tbody>
                        <tr>
                            <td colspan="3" style="text-align:left">
                                <table width="100%" border="0">
                                    <tr>
                                        <td width="24%" style="padding:5px 0"><img src="~/Images/slogo.jpg" alt="PSEB" /></td>
                                        <td width="52%" style="font-size:16px;text-align:center;line-height:25px;padding-top:5px">
                                            <span style="font-size:26px;">Punjab School Education Board</span><br />
                                            Acknowledgement of Duplicate Certificate Form
                                        </td>
                                        <td width="24%" style="text-align:right;vertical-align:top"><br />Date/Time: @DateTime.Now.ToString("dd/MM/yyyy/hh:mm")</td>
                                    </tr>
                                    <tr style="font-size:20px">
                                        <td>Diary No.: @DairyNo</td>
                                        <td style="text-align:center">Date: @DairyDate</td>
                                        <td style="text-align:right">Set : @DupSet</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>                                     
                        <tr>
                            <td colspan="3" style="text-align:left">
                                <table width="100%" border="1">
                                    <tr>
                                        <th colspan="4" style="color:#fff !important;background-color:#000 !important;text-align:center">&nbsp;Candidate Particular</th>
                                    </tr>                                   
                                    <tr>
                                        <td>&nbsp;Type</td>
                                        <td colspan="3">&nbsp;@TypeName</td>
                                    </tr>
                                    <tr>
                                        <td width="24%">&nbsp;District</td>
                                        <td width="25%">&nbsp;@DISTNM</td>
                                        <td width="25%">&nbsp;Class</td>
                                        <td width="26%">&nbsp;@Class</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Roll Number</td>
                                        <td>&nbsp;@Roll</td>
                                        <td>&nbsp;Session/Year</td>
                                        <td>&nbsp;@Session/@Year</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Name/FName/MName</td>
                                        <td colspan="3">&nbsp;@Name/&nbsp;@FNAME/&nbsp;@MNAME</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Receipt/Amt/Date</td>
                                        <td colspan="3">&nbsp;@ReceiptNo&nbsp;/&nbsp;@FeeAmount&nbsp;/&nbsp;@ReceiptDate</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                       
                        @{
                            if (Model.StoreAllData.Tables[2].Rows.Count > 0)
                            {

                        <tr>
                            <td colspan="3">
                                <table width="100%" border="1">
                                    <tr>
                                        <th colspan="3" style="color:#fff !important;background-color:#000 !important;text-align:center">&nbsp;Correction Details</th>
                                    </tr>
                                    <tr>
                                        <td width="24%">&nbsp;Type of Correction</td>
                                        <td width="38%">&nbsp;Before Correction</td>
                                        <td width="38%">&nbsp;After Correction</td>
                                    </tr>
                                  @{
                                      for (int s = 0; s < Model.StoreAllData.Tables[2].Rows.Count; s++)
                                      {
                                          var sID = Model.StoreAllData.Tables[2].Rows[s]["ID"].ToString();
                                          var DCID = Model.StoreAllData.Tables[2].Rows[s]["DCID"].ToString();
                                          var TypeOf2 = Model.StoreAllData.Tables[2].Rows[s]["TypeOf"].ToString();
                                          var Before2 = Model.StoreAllData.Tables[2].Rows[s]["Before"].ToString();
                                          var After2 = Model.StoreAllData.Tables[2].Rows[s]["After"].ToString();
                                          if (Id == DCID)
                                          {
                                            <tr id="trs-@Id-@sID">
                                                <td>&nbsp; @TypeOf2</td>
                                                <td>&nbsp; @Before2</td>
                                                <td>&nbsp; @After2</td>
                                            </tr>

                                          }
                                      }
                                }


                                </table>
                            </td>
                        </tr>
                                          }
                                      }
                        <tr>
                            <td colspan="3" style="height:150px;text-align:right;vertical-align:bottom">
                                Signature of Receiving Person&nbsp;
                            </td>
                        </tr>

                </table>
            }
        }
    }
            </div>
            </div>
            }

            <script>
function goBack() {
    window.history.back();
}
            </script>
