@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Practical Submission Unlocked";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<h2> Practical Submission Unlocked   </h2>

<div class="row" id="divR">

        <div class="col-md-12">            
                @using (Html.BeginForm("PracticalSubmissionUnlocked", "Admin", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("Filevalue", "PRAC")
                    <div class="row" style="padding-bottom:100px">
                        <div class="col-md-6">
                            Upload Excel File for Unlocked @Html.TextBoxFor(m => m.file, new { id = "STDMIS", type = "file", required = "required" })
                        </div>
                        <div class="col-md-6">
                            <br />
                            <input type="submit" name="submit" value="Upload" onclick="return valForm();" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <br />
                            <a download="" href="~/PDF/PracticalSubmissionUnlocked.xls" class="btn">Click Here to Download Practical Submission Unlocked Sample File</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h1>Important Instructions:</h1>
                            <p style="padding-left:15px">
                                1) All Fields are compulsory.<br />    
 2) Please pass Lot= 0 for unlock pending practical final submission<br />             								
3) Please pass Lot>0 for unlock already final submitted Practical Lot<br />    
4) Last Date must be greater and equal to today date.         								
                            </p>
                        </div>
                    </div>
                }
       
        </div>

</div>

@{
    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert('@ViewBag.Message');
               // window.location.href = 'Url.Action("Welcome", "Bank")';
            </script>}
        else if (ViewData["Result"].ToString() == "5")
        {
            <script type="text/javascript" language="javascript">
                alert('Failure, ' + '@ViewBag.Message');
            </script>}
        else
        {
            <script type="text/javascript" language="javascript">
               alert('@ViewBag.Message');
            </script>}

    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

               $(document).ready(function () {
                   $('input[type=file]').change(function () {
                       var val = $(this).val().toLowerCase();
                       var regex = new RegExp("(.*?)\.(xls|xls)$");
                       if (!(regex.test(val))) {
                           $(this).val('');
                           alert('Please select only .xls file format');
                       }
                   });
               });


</script>



