
@model PSEBONLINE.Models.FinalResultModels
@{
    ViewBag.Title = "View Final Result";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="/Content/cardprintc.css" />
<style type="text/css">
    body {
        font-size: 11px;
    }

    td {
        vertical-align: top;
        line-height: 20px;
    }
</style>
<h1 class="noprint" style="font-size:22px;padding:10px 0"></h1>
    <table style="width:100%;" border="0" class="noprint">
        <tr>
            <td style="text-align:right;padding-bottom:3px">
                <input type="button" value="Print" class="btn" onclick="window.print()" />
                <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            @{
                if (ViewBag.TotalCount > 0)
                {
                    for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                    {
                        var GRADE = Model.StoreAllData.Tables[0].Rows[i]["GRADE"].ToString();
                        var RESULTDTL = Model.StoreAllData.Tables[0].Rows[i]["RESULTDTL"].ToString();
                        var SUB1 = Model.StoreAllData.Tables[0].Rows[i]["SUB1"].ToString();
                        var TH1 = Model.StoreAllData.Tables[0].Rows[i]["TH1"].ToString();
                        var INA1 = Model.StoreAllData.Tables[0].Rows[i]["INA1"].ToString();
                        var PR1 = Model.StoreAllData.Tables[0].Rows[i]["PR1"].ToString();
                        var TOT1 = Model.StoreAllData.Tables[0].Rows[i]["TOT1"].ToString();
                        var RES1 = Model.StoreAllData.Tables[0].Rows[i]["RES1"].ToString();
                        var GRADE1 = Model.StoreAllData.Tables[0].Rows[i]["GRADE1"].ToString();
                        var SUB2 = Model.StoreAllData.Tables[0].Rows[i]["SUB2"].ToString();
                        var TH2 = Model.StoreAllData.Tables[0].Rows[i]["TH2"].ToString();
                        var INA2 = Model.StoreAllData.Tables[0].Rows[i]["INA2"].ToString();
                        var PR2 = Model.StoreAllData.Tables[0].Rows[i]["PR2"].ToString();
                        var TOT2 = Model.StoreAllData.Tables[0].Rows[i]["TOT2"].ToString();
                        var RES2 = Model.StoreAllData.Tables[0].Rows[i]["RES2"].ToString();
                        var GRADE2 = Model.StoreAllData.Tables[0].Rows[i]["GRADE2"].ToString();
                        var SUB3 = Model.StoreAllData.Tables[0].Rows[i]["SUB3"].ToString();
                        var TH3 = Model.StoreAllData.Tables[0].Rows[i]["TH3"].ToString();
                        var INA3 = Model.StoreAllData.Tables[0].Rows[i]["INA3"].ToString();
                        var PR3 = Model.StoreAllData.Tables[0].Rows[i]["PR3"].ToString();
                        var TOT3 = Model.StoreAllData.Tables[0].Rows[i]["TOT3"].ToString();
                        var RES3 = Model.StoreAllData.Tables[0].Rows[i]["RES3"].ToString();
                        var GRADE3 = Model.StoreAllData.Tables[0].Rows[i]["GRADE3"].ToString();
                        var SUB4 = Model.StoreAllData.Tables[0].Rows[i]["SUB4"].ToString();
                        var TH4 = Model.StoreAllData.Tables[0].Rows[i]["TH4"].ToString();
                        var INA4 = Model.StoreAllData.Tables[0].Rows[i]["INA4"].ToString();
                        var PR4 = Model.StoreAllData.Tables[0].Rows[i]["PR4"].ToString();
                        var TOT4 = Model.StoreAllData.Tables[0].Rows[i]["TOT4"].ToString();
                        var RES4 = Model.StoreAllData.Tables[0].Rows[i]["RES4"].ToString();
                        var GRADE4 = Model.StoreAllData.Tables[0].Rows[i]["GRADE4"].ToString();
                        var SUB5 = Model.StoreAllData.Tables[0].Rows[i]["SUB5"].ToString();
                        var TH5 = Model.StoreAllData.Tables[0].Rows[i]["TH5"].ToString();
                        var INA5 = Model.StoreAllData.Tables[0].Rows[i]["INA5"].ToString();
                        var PR5 = Model.StoreAllData.Tables[0].Rows[i]["PR5"].ToString();
                        var TOT5 = Model.StoreAllData.Tables[0].Rows[i]["TOT5"].ToString();
                        var RES5 = Model.StoreAllData.Tables[0].Rows[i]["RES5"].ToString();
                        var GRADE5 = Model.StoreAllData.Tables[0].Rows[i]["GRADE5"].ToString();
                        var SUB6 = Model.StoreAllData.Tables[0].Rows[i]["SUB6"].ToString();
                        var TH6 = Model.StoreAllData.Tables[0].Rows[i]["TH6"].ToString();
                        var INA6 = Model.StoreAllData.Tables[0].Rows[i]["INA6"].ToString();
                        var PR6 = Model.StoreAllData.Tables[0].Rows[i]["PR6"].ToString();
                        var TOT6 = Model.StoreAllData.Tables[0].Rows[i]["TOT6"].ToString();
                        var RES6 = Model.StoreAllData.Tables[0].Rows[i]["RES6"].ToString();
                        var GRADE6 = Model.StoreAllData.Tables[0].Rows[i]["GRADE6"].ToString();
                        var SUB7 = Model.StoreAllData.Tables[0].Rows[i]["SUB7"].ToString();
                        var TH7 = Model.StoreAllData.Tables[0].Rows[i]["TH7"].ToString();
                        var INA7 = Model.StoreAllData.Tables[0].Rows[i]["INA7"].ToString();
                        var PR7 = Model.StoreAllData.Tables[0].Rows[i]["PR7"].ToString();
                        var TOT7 = Model.StoreAllData.Tables[0].Rows[i]["TOT7"].ToString();
                        var RES7 = Model.StoreAllData.Tables[0].Rows[i]["RES7"].ToString();
                        var GRADE7 = Model.StoreAllData.Tables[0].Rows[i]["GRADE7"].ToString();
                        var SUB8 = Model.StoreAllData.Tables[0].Rows[i]["SUB8"].ToString();
                        var TH8 = Model.StoreAllData.Tables[0].Rows[i]["TH8"].ToString();
                        var INA8 = Model.StoreAllData.Tables[0].Rows[i]["INA8"].ToString();
                        var PR8 = Model.StoreAllData.Tables[0].Rows[i]["PR8"].ToString();
                        var TOT8 = Model.StoreAllData.Tables[0].Rows[i]["TOT8"].ToString();
                        var RES8 = Model.StoreAllData.Tables[0].Rows[i]["RES8"].ToString();
                        var GRADE8 = Model.StoreAllData.Tables[0].Rows[i]["GRADE8"].ToString();
                        var SUB9 = Model.StoreAllData.Tables[0].Rows[i]["SUB9"].ToString();
                        var TH9 = Model.StoreAllData.Tables[0].Rows[i]["TH9"].ToString();
                        var INA9 = Model.StoreAllData.Tables[0].Rows[i]["INA9"].ToString();
                        var PR9 = Model.StoreAllData.Tables[0].Rows[i]["PR9"].ToString();
                        var TOT9 = Model.StoreAllData.Tables[0].Rows[i]["TOT9"].ToString();
                        var RES9 = Model.StoreAllData.Tables[0].Rows[i]["RES9"].ToString();
                        var GRADE9 = Model.StoreAllData.Tables[0].Rows[i]["GRADE9"].ToString();
                        <table style="width:100%;" border="1">
                            <tr>
                                <td colspan="4">
                                    <table width="100%">
                                        <tr>
                                            <td width="15%" style="text-align:left"><div style="padding:2px"><img src="https://test.psebonline.in/Images/Printlogo.jpg" alt="PSEB" /></div></td>
                                            <td width="70%" style="font-size:26px;text-align:center;line-height:25px;padding-top:5px" class="kdsfont">
                                                <span style="font-size:36px;">Punjab School Education Board</span><br />
                                               @ViewBag.ClassName Examination Result March 2017
                                            </td>
                                            <td width="15%" style="font-size:10px">
                                                @*Print Date: @DateTime.Now.ToString("dd/MM/yyyy")*@
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="15%">&nbsp;Roll No.</td>
                                <td width="35%">&nbsp;@Model.ROLL</td>
                                <td width="15%">&nbsp;Registration No.</td>
                                <td width="35%">&nbsp;@Model.REGNO</td>
                            </tr>
                            <tr>
                                <td>&nbsp;Name</td>
                                <td>&nbsp;@Model.Candi_Name</td>
                                <td>&nbsp;Father's Name</td>
                                <td>&nbsp;@Model.Father_Name</td>
                            </tr>

                            <tr>
                                <td>&nbsp;Mother's Name</td>
                                <td>&nbsp;@Model.Mother_Name</td>
                                <td>&nbsp;School/District</td>
                                <td>&nbsp;@Model.SchoolName</td>
                            </tr>
                            <tr>
                                <td>&nbsp;Date of Birth</td>
                                <td>&nbsp;@Model.DOB</td>
                                <td>&nbsp;Set/Phone</td>
                                <td>&nbsp;@Model.SET @Html.Raw("/") @Model.PHONE</td>
                            </tr>                           
                            <tr>
                                <td colspan="4" style="color:#fff !important;background-color:#000 !important;text-align:center">Marks Details</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table width="100%" border="1">
                                        <tr>                                                
                                            <td width="40%">&nbsp;Subject</td>                                     
                                            <td width="10%">&nbsp;Th</td>
                                            <td width="10%">&nbsp;CCE</td>
                                            <td width="10%">&nbsp;Pr</td>
                                            <td width="10%">&nbsp;Total</td>
                                            <td width="10%">&nbsp;Result</td>
                                            <td width="10%">&nbsp;Grade</td>
                                        </tr>
                                        <tr>                                            
                                            <td>&nbsp;@SUB1</td>
                                            <td>&nbsp;@TH1</td>
                                            <td>&nbsp;@INA1</td>
                                            <td>&nbsp;@PR1</td>
                                            <td>&nbsp;@TOT1</td>
                                            <td>&nbsp;@RES1</td>
                                            <td>&nbsp;@GRADE1</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB2</td>
                                            <td>&nbsp;@TH2</td>
                                            <td>&nbsp;@INA2</td>
                                            <td>&nbsp;@PR2</td>
                                            <td>&nbsp;@TOT2</td>
                                            <td>&nbsp;@RES2</td>
                                            <td>&nbsp;@GRADE2</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB3</td>
                                            <td>&nbsp;@TH3</td>
                                            <td>&nbsp;@INA3</td>
                                            <td>&nbsp;@PR3</td>
                                            <td>&nbsp;@TOT3</td>
                                            <td>&nbsp;@RES3</td>
                                            <td>&nbsp;@GRADE3</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB4</td>
                                            <td>&nbsp;@TH4</td>
                                            <td>&nbsp;@INA4</td>
                                            <td>&nbsp;@PR4</td>
                                            <td>&nbsp;@TOT4</td>
                                            <td>&nbsp;@RES4</td>
                                            <td>&nbsp;@GRADE4</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB5</td>
                                            <td>&nbsp;@TH5</td>
                                            <td>&nbsp;@INA5</td>
                                            <td>&nbsp;@PR5</td>
                                            <td>&nbsp;@TOT5</td>
                                            <td>&nbsp;@RES5</td>
                                            <td>&nbsp;@GRADE5</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB6</td>
                                            <td>&nbsp;@TH6</td>
                                            <td>&nbsp;@INA6</td>
                                            <td>&nbsp;@PR6</td>
                                            <td>&nbsp;@TOT6</td>
                                            <td>&nbsp;@RES6</td>
                                            <td>&nbsp;@GRADE6</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB7</td>
                                            <td>&nbsp;@TH7</td>
                                            <td>&nbsp;@INA7</td>
                                            <td>&nbsp;@PR7</td>
                                            <td>&nbsp;@TOT7</td>
                                            <td>&nbsp;@RES7</td>
                                            <td>&nbsp;@GRADE7</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB8</td>
                                            <td>&nbsp;@TH8</td>
                                            <td>&nbsp;@INA8</td>
                                            <td>&nbsp;@PR8</td>
                                            <td>&nbsp;@TOT8</td>
                                            <td>&nbsp;@RES8</td>
                                            <td>&nbsp;@GRADE8</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;@SUB9</td>
                                            <td>&nbsp;@TH9</td>
                                            <td>&nbsp;@INA9</td>
                                            <td>&nbsp;@PR9</td>
                                            <td>&nbsp;@TOT9</td>
                                            <td>&nbsp;@RES9</td>
                                            <td>&nbsp;@GRADE9</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="1">&nbsp;Result</td>
                                            <td colspan="6">&nbsp;@RESULTDTL</td>
                                        </tr>
                                        <tr>
                                            <td colspan="1">&nbsp;Overall Grade</td>
                                            <td colspan="6">&nbsp;@GRADE</td>
                                        </tr>
                                        <tr>                                            
                                            <td colspan="7" style="text-align:right">Declared On @DateTime.Now.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    }
                }
            }
        </div>
    </div>
       

