@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "View Challan Detail";
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}

@using (Html.BeginForm("ViewChallanDetail", "Admin", FormMethod.Post, new { id = "ViewChallanDetail", enctype = "multipart/form-data" }))
{
    <h2>View Challan Detail</h2>
        <div style="color:green">@TempData["msg"]</div>
        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="table-responsive">
                <div id="ViewChallan">
                    <table>
                        <tr>                            
                            <td>
                                @Html.HiddenFor(a => a.ID)
                                @Html.HiddenFor(a => a.SearchResult)
                            </td>
                            <td>
                            @*<button type="button" value="Close" class="close text-right" data-dismiss="modal">&times;Close</button>*@
                            </td>
                        </tr>
                        <tr>
                            <td>CHALLAN ID</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.ChallanID)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>SCHL/REFNO/APPNO/ROLL</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.SchlReffAppRll)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>SCHL/CANDIDATE NAME</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Candi_Name)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>CHALLAN DATE</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Challan_Date)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>CHALLAN VALID DATE</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Challan_V_Date)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>FEE TYPE</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.FeeType)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>BANK</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.BankName)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>FEE</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Fee)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>JOURNAL NO.</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Journal_No)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>BRANCH</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Branch)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>CHALLAN DEPOSIT DATE</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Challan_Depst_Date)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>CHALLAN VERIFY STATUS</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Challan_Dwld_Stats)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>CHALLAN VERIFY STATUS</td>
                            <td>
                                <label>@Html.DisplayFor(a => a.Challan_Verify_Stats)</label>
                            </td>
                        </tr>                        
                        <tr>
                            <td></td>
                            <td>
                                <input type="button" value="Close" onclick="javascript:document.location.href='@Url.Action("ChallanDetail", "Admin")'" />
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
}
