@model PSEBONLINE.Models.AdditionalSectionModel
@{
    ViewBag.Title = "Building Safety Certificate Details";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
@using (Html.BeginForm("SafetyDetails", "AdditionalSection", FormMethod.Post, new { @required= "required", id = "uploadform", enctype = "multipart/form-data" }))
{
<div class="row"> 
<div class="col-md-12">@Html.Partial("_AdditionalSectionHeading")</div>
<div class="clearfix"></div>  
  <div class="col-md-3">    
@Html.Partial("__AdditionalSectionMenu")        
    </div>
    <div class="col-md-9">
<div class="row">
<div class="col-md-12"><h4>Building Safety Certificate Details</h4></div>
<div class="clearfix"></div>
<div class="col-md-2">&nbsp<br />Validity Period (Yrs)<span class="rqf">*</span></div>
<div class="col-md-5">From<br />@Html.DropDownListFor(a => a.BSFROM, new SelectList(ViewBag.YearList, "Value", "Text", ViewBag.SelectedBSFROM), "---Select ---", new { @required= "required", @class = "" })</div>
<div class="col-md-5">Upto<br />@Html.DropDownListFor(a => a.BSTO, new SelectList(ViewBag.YearList, "Value", "Text", ViewBag.SelectedBSTO), "---Select ---", new { @required= "required", @class = "" })</div>
<div class="clearfix"></div>
<div class="col-md-2">Issuing Authority<span class="rqf">*</span></div>
<div class="col-md-10">@Html.DropDownListFor(a => a.BSIA, new SelectList(ViewBag.MySch, "Value", "Text", ViewBag.SelectedItem), "---Select ---", new { @required= "required", @class = "" })</div>
<div class="clearfix"></div>
<div class="col-md-2">Memo/Dispatch No.<span class="rqf">*</span></div>
<div class="col-md-4">@Html.TextBoxFor(a => a.BSMEMO, new { @required= "required", })</div>
<div class="col-md-2">Issuing Date<span class="rqf">*</span></div>
<div class="col-md-4">@Html.TextBoxFor(a => a.BSIDATE, new { @required= "required", @class = "date" })</div>
<div class="clearfix"></div>
<div class="col-md-12"><span class="rqf">Note : Attach attested copy of Building Safety Certificate with printed hard copy of this form  and submit it at PSEB Head/Sub Office.</span></div>
<div class="clearfix"></div>
@*<div class="col-md-12">@Html.TextBoxFor(a => a.BSFILE, null, new { @required= "required", id = "BSFILE", type = "file" })@Html.HiddenFor(a => a.BSFILE)</div>*@
</div>

<div class="row">
<br />
<div class="col-md-12"><h4>Fire Safety Certificate Details</h4></div>
<div class="clearfix"></div>
<div class="col-md-2">&nbsp<br />Validity Period (Yrs)<span class="rqf">*</span></div>
<div class="col-md-5">From<br />@Html.DropDownListFor(a => a.FSFROM, new SelectList(ViewBag.YearList, "Value", "Text", ViewBag.SelectedFSFROM), "---Select ---", new { @required= "required", @class = "" })</div>
<div class="col-md-5">Upto<br />@Html.DropDownListFor(a => a.FSTO, new SelectList(ViewBag.YearList, "Value", "Text", ViewBag.SelectedFSTO), "---Select ---", new { @required= "required", @class = "" })</div>
<div class="clearfix"></div>
<div class="col-md-2">Issuing Authority<span class="rqf">*</span></div>
<div class="col-md-10">@Html.TextBoxFor(a => a.FSIA, new { @required= "required", @maxlength = "50" })</div>
<div class="clearfix"></div>
<div class="col-md-2">Memo/Dispatch No.<span class="rqf">*</span></div>
<div class="col-md-4">@Html.TextBoxFor(a => a.FSMEMO, new { @required= "required", @maxlength = "50" })</div>
<div class="col-md-2">Issuing Date<span class="rqf">*</span></div>
<div class="col-md-4">@Html.TextBoxFor(a => a.FSIDATE, new { @required= "required", @class = "date" , @maxlength = "10" })</div>
<div class="clearfix"></div>
<div class="col-md-12"><span class="rqf">Note : Attach attested copy of Fire Safety Certificate with printed hard copy of this form  and submit it at PSEB Head/Sub Office.</span></div>
<div class="clearfix"></div>
@*<div class="col-md-12">@Html.TextBoxFor(a => a.FSFILE, null, new { @required= "required", id = "FSFILE", type = "file" })@Html.HiddenFor(a => a.FSFILE)</div>*@
<div class="clearfix"></div>
<div class="col-md-12 text-center tbp">
    @if (string.IsNullOrEmpty(Model.ChallanId))
    {
    <input type="submit" name="submit" value="SAVE" />
    }
            <a href="/AdditionalSection/Index" class="btn">Back</a>
</div>
</div>
</div>
</div>
       }


@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                </script>}
            else
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit Failure, Please Try Again");
                </script>
            }
        }
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
<script>
    $(document).ready(function () {
        $(".date").datepicker({
            dateFormat: "dd/mm/yy",
            showButtonPanel: false,
            changeMonth: true,
            changeYear: true,
            yearRange: '2016:2019',
            maxDate: new Date(),
            inline: true
        });
       // $(".date").datepicker().datepicker("setDate", new Date());
    });
</script>