@model PSEBONLINE.Models.AdditionalSectionDocumentDetailsModel
@{
    ViewBag.Title = "Upload AdditionalSection Documents";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<div class="row">
    <div class="col-md-12">@Html.Partial("_AdditionalSectionHeading")</div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        @*@Html.Partial("_AffiliationMenu")*@
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AdditionalSection/Index">DashBoard</a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AdditionalSection/SchoolProfile/@ViewBag.SCHL">School Profile</a>
                    </h4>
                </div>
            </div>
            @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AdditionalSection/ResultStatics/@ViewBag.SCHL">Result Statics </a>

                </h4>
            </div>
        </div>*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AdditionalSection/StudentFeeDetails/@ViewBag.SCHL">Student Count Last 3 Year</a>
                    </h4>
                </div>
            </div>

            @*<div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AdditionalSection/BalanceSheet/@ViewBag.SCHL">Balance Sheet</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <a href="/AdditionalSection/SafetyDetails/@ViewBag.SCHL">Building/Fire Safety Details</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AdditionalSection/BooksPurchaseDetails/@ViewBag.SCHL">Books Purchase Details</a>
                </h4>
            </div>
        </div>*@

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AdditionalSection/UploadAdditionalSectionDocuments/@ViewBag.SCHL" title="Upload Documents">Upload Documents</a>
                    </h4>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AdditionalSection/Activities/@ViewBag.SCHL">Other information</a>
                    </h4>
                </div>
            </div>



            @if (ViewBag.challanVerify == 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/AdditionalSection//PrintForm/@ViewBag.SCHL">View Application</a>
                        </h4>
                    </div>
                </div>
            }

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AdditionalSection//CalculateFee/@ViewBag.SCHL">Calculate Fee and Select Sections</a>
                    </h4>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/AdditionalSection/FinalPrintForm/@ViewBag.SCHL">Print Form</a>
                    </h4>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-9">
        <h4>Upload Documents</h4>
        @using (Html.BeginForm("UploadAdditionalSectionDocuments", "AdditionalSection", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
        {
            if (Model.AdditionalSectionDocumentMasterList != null)
            {

                <div class="box">
                    <div class="row">
                        <div class="col-md-4">
                            Document List<span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.DocID, new SelectList(Model.AdditionalSectionDocumentMasterList, "DocID", "DocumentName"), "--Select Document--", new { @required = "required" })

                        </div>
                        <div class="clearfix"></div>
                        <div id="dvOtherDoc">
                            <div class="col-md-4">Enter Other Document Name</div>
                            <div class="col-md-8">
                                @Html.TextBox("OtherDocumentName", "", new { id = "OtherDocumentName", @maxlength = "50", placeholder = "Enter Other Document Name" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            Upload Document<span style="color:red">*</span>
                        </div>
                        <div class="col-md-4">
                            @if (!string.IsNullOrEmpty(Model.DocFile))
                            {
                                @Html.TextBoxFor(a => a.DocFile, null, new { id = "DocFile", type = "file", @onchange = "CheckDocFile(this)" })
                                @Html.HiddenFor(a => a.DocFile)<span class="rqf">(Size limit upto 1MB)</span>
                                <a href="@ViewBag.DocFile" target="_blank" class="btn">Download File</a>
                            }
                            else
                            {
                                @Html.TextBoxFor(a => a.DocFile, null, new { @required = "required", id = "DocFile", type = "file", @onchange = "CheckDocFile(this)" })
                                @Html.HiddenFor(a => a.DocFile)<span class="rqf">(Upload only single PDF , Size limit upto 1MB)</span>
                            }

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 text-center">
                            @Html.HiddenFor(a => a.SCHL)
                            <input type="submit" value="Submit" name="cmd" onclick="return valForm()" />
                            @*<input type="submit" value="Submit" name="cmd" onclick="return validateothers()" style="@(Session["epayStatus"].ToString() == "0" ? "display:block" : "display:none")" />*@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="t01">
                                <tr class="active-tr">
                                    <th>Sr No</th>
                                    <th>SCHL</th>
                                    <th>Document Name</th>
                                    <th>File</th>
                                    <th>Submit On</th>
                                    <th>Action</th>

                                </tr>
                                @{
                                    if (ViewBag.TotalCount > 0)
                                    {
                                        int d = 0;
                                        int Count = 0;
                                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                        {
                                            d = d + 1;
                                            var eDocId = Model.StoreAllData.Tables[0].Rows[i]["eDocId"].ToString();
                                            var SCHL = Model.StoreAllData.Tables[0].Rows[i]["SCHL"].ToString();
                                            var DocID = Model.StoreAllData.Tables[0].Rows[i]["DocID"].ToString();
                                            var DocumentName = Model.StoreAllData.Tables[0].Rows[i]["DocumentName"].ToString();
                                            var DocFile = Model.StoreAllData.Tables[0].Rows[i]["DocFile"].ToString();
                                            var CreatedDate = Model.StoreAllData.Tables[0].Rows[i]["CreatedDate"].ToString();

                                            Count = Count + 1;
                                            <tr>
                                                <td>
                                                    @Count
                                                </td>
                                                <td>
                                                    @SCHL
                                                </td>
                                                <td>
                                                    @DocumentName
                                                </td>
                                                <td>
                                                    <a href="/Upload/@DocFile" target="_blank" class="btn">Download File</a>
                                                </td>
                                                <td>
                                                    @CreatedDate
                                                </td>
                                                <td>
                                                    <div class="cart">
                                                        Choose Action <span class="caret"></span>
                                                        <div id="sidebar">
                                                            <ul>
                                                                <li>


                                                                    @Html.ActionLink("Delete", "ActionUploadAdditionalSectionDocuments", new { id = SCHL, eDocId = eDocId, act = "D" }, new { onclick = "return confirm('Are you sure want to Delete ?');" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>


                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="13">
                                                @ViewBag.Message
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                    window.location.href = '@Url.Action("UploadAdditionalSectionDocuments", "AdditionalSection", new { id = Model.SCHL.ToString() })';
                </script>
            }
            else if (ViewData["result"].ToString() == "DUP")
            {
                <script type="text/javascript" language="javascript">
                    alert("Already Exist");
                </script>
            }
            else
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit Failure, Please Try Again");
                    //alert('ViewBag.Mesaage');
                </script>
            }

        }
    }
}



<script type="text/javascript">
    function CheckDocFile(input) {
        if (typeof ($("#DocFile")[0].files) != "undefined") {

            var ext = $('#DocFile').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['pdf', 'PDF']) == -1) {
                alert('Only .pdf format file allowed ');
                $('#DocFile').val('');
                return false;
            }
            var size = parseFloat($("#DocFile")[0].files[0].size / 1024).toFixed(2);
            if (parseInt(size) >= 5 && parseInt(size) <= 1024) {
                var filerdr = new FileReader();
                filerdr.readAsDataURL(input.files[0]);
                $("#errmsg").hide();

            }
            else {
                if (parseInt(size) <= 5) {
                    alert("Your file size is too Small that is " + size + " KB.");
                    $('#DocFile').val('');
                }
                if (parseInt(size) > 1024) {
                    alert("Your file size is too large that is " + size + " KB.");
                    $('#DocFile').val('');
                }
            }
        }

    }
</script>

<script type="text/javascript">

    $(document).ready(function () {
      
        $("#dvOtherDoc").hide();
        $("#DocID").change(function () {
            var selectedDocID = $("#DocID").val();          
            if (selectedDocID == "3") {
                $("#dvOtherDoc").show();
            }
            else {
                $("#dvOtherDoc").hide();
            }
        });

    
    });

    function valForm() {
        var selectedDocID = document.getElementById("DocID");
        if (selectedDocID.value == "" || selectedDocID.value == "0") {
            alert("Select Document");
            selectedDocID.focus();
            return false;
        }
        else {          
            var OtherDocumentName = document.getElementById("OtherDocumentName");            
            if (selectedDocID.value == "3") {               
                if (OtherDocumentName.value == "") {
                    alert("Please Enter Other Document Name");
                    OtherDocumentName.focus();
                    return false;
                }
            }

        }
    }
</script>