@model PSEBONLINE.Models.ReportModel
<h1 style="text-align:center">Open School Report</h1>
<table class="table table-bordered" id="tformwise">
    <tr class="active-tr">
        <th>School Code</th>
        <th>Study Center Id</th>
        <th>School Name</th>
        <th>Class</th>
        <th>Number of Students</th>
        <th>District Name</th>
        <th>Tehsil Name</th>
        <th>School Contact Information</th>
        <th>School Type</th>      
    </tr>
    @{
        if (ViewBag.TotalCount > 0)
        {
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            { 
                var Schl = Model.StoreAllData.Tables[0].Rows[i]["Schl"].ToString();
                var StudyCenterId = Model.StoreAllData.Tables[0].Rows[i]["StudyCenterId"].ToString();
                var SCHLNME = Model.StoreAllData.Tables[0].Rows[i]["SCHLNME"].ToString();
                var Class = Model.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
                var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
                var TEHSILE = Model.StoreAllData.Tables[0].Rows[i]["TEHSILE"].ToString();
                var PRINCIPAL = Model.StoreAllData.Tables[0].Rows[i]["PRINCIPAL"].ToString();
                var MOBILE = Model.StoreAllData.Tables[0].Rows[i]["MOBILE"].ToString();
                var USERTYPE = Model.StoreAllData.Tables[0].Rows[i]["USERTYPE"].ToString();
                var NOS = Model.StoreAllData.Tables[0].Rows[i]["NOS"].ToString();
    <tr>
        <td>@Schl</td>
        <td>@StudyCenterId</td>
        <td>@SCHLNME</td>
        <td>@Class</td>
        <td>@NOS</td>
        <td>@DISTNM</td>
        <td>@TEHSILE</td>
        <td>@PRINCIPAL /@MOBILE</td>      
        <td>@USERTYPE</td>

    </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    @ViewBag.Message
                </td>
            </tr>
        }
    }
</table>
