
@model PSEBONLINE.Models.ClusterReportModel
@{
    ViewBag.Title = "Cluster Subject Status Report";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="/Content/print-4P.css" />

<style type="text/css">
    body {
        font-size: 11px;
    }

    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<style type="text/css">
    .brack {
        page-break-after: always;
    }

    .kdspdlr {
        padding: 0 2px
    }
</style>

@if (Model.DistList != null)
{
    <div class="row noprint">
        <div class="col-md-12">
            <fieldset style="margin-bottom:15px">
                <legend>Search</legend>
                @using (Html.BeginForm("ClusterSubjectStatusReport", "Report", FormMethod.Post, new { id = "searchform" }))
                {
                    <div class="col-md-2">
                        Select ReportType @Html.DropDownList("SearchReportType", new SelectList(ViewBag.MyReportType, "Value", "Text", ViewBag.SelectedReportType), "--Select---", new { @class = "form-control" })
                    </div>

                    <div class="col-md-2">
                        Select District  @Html.DropDownListFor(m => m.Dist, new SelectList(Model.DistList, "Value", "Text"), "--Select District---", new { })
                    </div>
                    <div class="col-md-2">
                        Select Cluster  @Html.DropDownListFor(m => m.ccode, new SelectList(Model.ClusterList, "ccode", "clusternm"), "--All Cluster---", new { })
                    </div>
                    <div class="col-md-2">
                        Select Subject  @Html.DropDownListFor(m => m.sub, new SelectList(Model.SubList, "sub", "subnm"), "--All Subjects---", new { })
                    </div>

                    <div class="col-md-2">
                        Select Status  @Html.DropDownList("SearchList", new SelectList(ViewBag.MySearch, "Value", "Text", ViewBag.SelectedSearch), "--ALL---", new { @class = "form-control" })
                    </div>

                    <div class="col-md-2">
                        <br />
                        <input type="submit" name="cmd" value="Search" onclick="return valForm();" />
                        <input type="submit" name="cmd" value="Export To Excel" />

                        <a href="/Report/ClusterSubjectStatusReport" class="btn">Reset</a>
                    </div>
                }

            </fieldset>
        </div>
        <div class="col-md-12 rqf">
            NOTE: 1. Subject Status -> Select Report, District and Any<br />
            2. Final Submit Pending Report -> Select Report, District and Status
        </div>
    </div>
}
<table style="width:100%;" border="0" class="bgimg">
    <tr>
        <td>
            <table style="width:100%;" border="0" class="noprint">
                <tr>
                    <td style="text-align:right;padding-bottom:3px">
                        <input type="button" value="Print" class="btn" onclick="window.print()" />
                        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            @{
                if (ViewBag.SelectedReportType != null)
                {
                    if (ViewBag.SelectedReportType == "3")
                    {

                        if (ViewBag.TotalCount > 0)
                        {


                            <table border="0" style="width:98%;" align="center" class="brack">
                                @{
                                    if (ViewBag.TotalCount > 0)
                                    {
                                        <thead>
                                            <tr>
                                                <td>
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="20%" style="vertical-align:top;text-align:left;font-size:9px"></td>
                                                            <td width="10%"><img src="~/Images/Printlogo.jpg" alt="PSEB" width="60px" height="60px" /></td>
                                                            <td width="50%" style="font-size:22px;text-align:center;line-height:24px;vertical-align:top" class="kModel.StoreAllDatafont">
                                                                <span style="font-size:18px">Punjab School Education Board</span><br />
                                                                Primary Class Subject Status Examination, March 2020
                                                            </td>
                                                            <td width="20%"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                                &nbsp;District Code & Name :@Model.StoreAllData.Tables[0].Rows[0]["DISTNM"].ToString() (@Model.StoreAllData.Tables[0].Rows[0]["DIST"].ToString())
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.sub))
                                                                    {
                                                                        <span> Subject Code & Name :@Model.StoreAllData.Tables[0].Rows[0]["SUBNM"].ToString() (@Model.StoreAllData.Tables[0].Rows[0]["SUB"].ToString())</span>
                                                                    }
                                                                }

                                                            </td>
                                                            <td style="text-align:right">PrintOn @DateTime.Now.ToString("dd/MM/yyyy hh:mmtt")&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </thead>
                                    }
                                }
                                <tbody>

                                    @{
                                        if (ViewBag.TotalCount > 0)
                                        {
                                            if (Model.StoreAllData.Tables.Count > 0)
                                            {
                                                if (Model.StoreAllData.Tables[0].Rows.Count > 0)
                                                {
                                                    var prevCCODE = string.Empty;
                                                    int sno = 0;
                                                    foreach (System.Data.DataRow dr in Model.StoreAllData.Tables[0].Rows)
                                                    {
                                                        var CCODE = dr["CCODE"].ToString().Trim().ToUpper();
                                                        var clusternm = dr["clusternm"].ToString().Trim().ToUpper();
                                                        var chtname = dr["chtname"].ToString().Trim().ToUpper();
                                                        var chtmobile = dr["chtmobile"].ToString().Trim().ToUpper();
                                                        var DIST = dr["DIST"].ToString().Trim().ToUpper();
                                                        var DISTNM = dr["DISTNM"].ToString().Trim().ToUpper();
                                                        var SUB = dr["sub"].ToString().Trim().ToUpper();
                                                        var SUBNM = dr["subNM"].ToString().Trim().ToUpper();

                                                        var NOS = dr["NOS"].ToString().Trim().ToUpper();
                                                        var NOSP = dr["NOSP"].ToString().Trim().ToUpper();
                                                        var FNOS = dr["FNOS"].ToString().Trim().ToUpper();
                                                        var NOC = dr["NOC"].ToString().Trim().ToUpper();
                                                        var NOCP = dr["NOCP"].ToString().Trim().ToUpper();
                                                        var NOCM = dr["NOCM"].ToString().Trim().ToUpper();
                                                        var FNOC = dr["FNOC"].ToString().Trim().ToUpper();

                                                        if (CCODE != prevCCODE)
                                                        {
                                                            sno = 0;
                                                            prevCCODE = CCODE;
                                                            <tr class="active-tr" style="background-color:#d4d4d4 !important;font-weight:bold;color:#000000;font-size:12px">
                                                                <td>
                                                                    <table width="100%" border="1">
                                                                        <tr>
                                                                            <td width="20%">&nbsp;Cluster Code & Name</td>
                                                                            <td width="20%">&nbsp;@CCODE @Html.Raw("-") @clusternm </td>
                                                                            <td width="20%">&nbsp;Cluster Head Name & Mobile No</td>
                                                                            <td width="20%">&nbsp; @chtname @Html.Raw("-") @chtmobile</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="1">
                                                                        <tr class="active-tr" style="background-color:#c1c1c1 !important;color:#000">
                                                                            <td width="10%">&nbsp;Subject Code</td>
                                                                            <td width="20%">&nbsp;Subject Name</td>
                                                                            <td width="10%">&nbsp;Total Schools</td>
                                                                            <td width="15%">&nbsp;Total Students</td>
                                                                            <td width="15%">&nbsp;Pending Students</td>
                                                                            <td width="15%">&nbsp;MarksEntered Students</td>
                                                                            <td width="15%">&nbsp;Final Submission Students</td>

                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>


                                                        }
                                                        sno++;
                                                        <tr>
                                                            <td style="text-align:left">
                                                                <table width="100%" border="1">
                                                                    <tr>
                                                                        <td width="10%">&nbsp;@SUB</td>
                                                                        <td width="20%">&nbsp;@SUBNM</td>
                                                                        <td width="10%">&nbsp;@NOS</td>
                                                                        <td width="15%">&nbsp;@NOC</td>
                                                                        <td width="15%">&nbsp;@NOCP</td>
                                                                        <td width="15%">&nbsp;@NOCM</td>
                                                                        <td width="15%">&nbsp;@FNOC</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        }
                                    }


                                </tbody>
                            </table>


                        }
                    }

                    else if (ViewBag.SelectedReportType == "5")
                    {

                        if (ViewBag.TotalCount > 0)
                        {


                            <table border="0" style="width:98%;" align="center" class="brack">
                                @{
                                    if (ViewBag.TotalCount > 0)
                                    {
                                        <thead>
                                            <tr>
                                                <td>
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="20%" style="vertical-align:top;text-align:left;font-size:9px"></td>
                                                            <td width="10%"><img src="~/Images/Printlogo.jpg" alt="PSEB" width="60px" height="60px" /></td>
                                                            <td width="50%" style="font-size:22px;text-align:center;line-height:24px;vertical-align:top" class="kModel.StoreAllDatafont">
                                                                <span style="font-size:18px">Punjab School Education Board</span><br />
                                                                List of Schools whose Marks final submission is pending of Primary Class, March 2023
                                                            </td>
                                                            <td width="20%"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                                &nbsp;District Code & Name :@Model.StoreAllData.Tables[0].Rows[0]["DISTNM"].ToString() (@Model.StoreAllData.Tables[0].Rows[0]["DIST"].ToString())

                                                            </td>
                                                            <td style="text-align:right">PrintOn @DateTime.Now.ToString("dd/MM/yyyy hh:mmtt")&nbsp;</td>

                                                    </table>
                                                </td>
                                            </tr>
                                        </thead>
                                    }
                                }
                                <tbody>

                                    @{
                                        if (ViewBag.TotalCount > 0)
                                        {
                                            if (Model.StoreAllData.Tables.Count > 0)
                                            {
                                                if (Model.StoreAllData.Tables[0].Rows.Count > 0)
                                                {
                                                    var prevCCODE = string.Empty;
                                                    int sno = 0;
                                                    foreach (System.Data.DataRow dr in Model.StoreAllData.Tables[0].Rows)
                                                    {
                                                        var CCODE = dr["CCODE"].ToString().Trim().ToUpper();
                                                        var clusternm = dr["clusternm"].ToString().Trim().ToUpper();
                                                        var chtname = dr["chtname"].ToString().Trim().ToUpper();
                                                        var chtmobile = dr["chtmobile"].ToString().Trim().ToUpper();
                                                        var DIST = dr["DIST"].ToString().Trim().ToUpper();
                                                        var DISTNM = dr["DISTNM"].ToString().Trim().ToUpper();
                                                        var SCHL = dr["SCHL"].ToString().Trim().ToUpper();
                                                        var SCHLNME = dr["SCHLNME"].ToString().Trim().ToUpper();
                                                        var SchlMOBILE = dr["SchlMOBILE"].ToString().Trim().ToUpper();

                                                        var subjectlist = dr["subjectlist"].ToString().Trim().ToUpper();

                                                        if (CCODE != prevCCODE)
                                                        {
                                                            sno = 0;
                                                            prevCCODE = CCODE;
                                                            <tr class="active-tr" style="background-color:#d4d4d4 !important;font-weight:bold;color:#000000;font-size:12px">
                                                                <td>
                                                                    <table width="100%" border="1">
                                                                        <tr>
                                                                            <td width="20%">&nbsp;Cluster Code & Name</td>
                                                                            <td width="20%">&nbsp;@CCODE @Html.Raw("-") @clusternm </td>
                                                                            <td width="20%">&nbsp;Cluster Head Name & Mobile No</td>
                                                                            <td width="20%">&nbsp; @chtname @Html.Raw("-") @chtmobile</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="1">
                                                                        <tr class="active-tr" style="background-color:#c1c1c1 !important;color:#000">
                                                                            <td width="10%">&nbsp;School Code</td>
                                                                            <td width="55%">&nbsp;School Name</td>
                                                                            <td width="35%">&nbsp;Subject List with Pending Candidate Count</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>


                                                        }
                                                        sno++;
                                                        <tr>
                                                            <td style="text-align:left">
                                                                <table width="100%" border="1">
                                                                    <tr>
                                                                        <td width="10%">&nbsp;@SCHL</td>
                                                                        <td width="55%">&nbsp;@SCHLNME @Html.Raw(" ,") @SchlMOBILE</td>
                                                                        <td width="35%">&nbsp;@subjectlist</td>

                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        }
                                    }


                                </tbody>
                            </table>


                        }
                    }
                }
            }

        </td>
    </tr>
</table>



<script type="text/javascript">
    $(document).ready(function () {

        $("#Dist").change(function () {

            var selectedParent = { dist: $("#Dist").val() };

            if ($("#Dist").val() != 0) {
                $.ajax({
                    url: '@Url.Action("GetClusterByDist", "CenterHead")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(selectedParent),
                    success: function (States) {
                        $("#ccode").empty();
                        $("#ccode").append('<option value="0">--All Cluster--</option>');
                        $.each(States, function (i, ClusterList) {
                            $("#ccode").append('<option value="'
                                + ClusterList.ccode + '">'
                                + ClusterList.clusternm + '</option>');
                        });
                        if (SelMenu.success) {

                        }
                        else {
                            alert('invalid ID' + data.success);
                        }
                    }
                });
            }
            else { $("#ccode").empty(); }

        });
    });
</script>


<script>
    function valForm() {

        var SearchReportType = document.getElementById("SearchReportType");
        if (SearchReportType.value == "" || SearchReportType.value == "0") {

            alert("Select Report Type");
            SearchReportType.focus();
            return false;
        }




          var dist = document.getElementById("Dist");
        if ( SearchReportType.value != "51") {
            if (dist.value == "" || dist.value == "0") {

                alert("Select District");
                dist.focus();
                return false;
            }
        }
    }
</script>