@model PSEBONLINE.Models.ReportModel
@{
    ViewBag.Title = "Panel Wise ClassWise Summary Report";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="/Content/Print-4P.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="row">
    <div class="col-md-12 noprint">
        @using (Html.BeginForm("PanelWiseClassWiseSummaryReport", "Report", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-3">
                    Select Type @Html.DropDownList("SelList", new SelectList(ViewBag.MySch, "Value", "Text", ViewBag.SelectedItem), "--Select---", new { @class = "", id = "SelectItem1", required = "required" })
                </div>
                <div class="col-md-3">
                    Select Class @Html.DropDownList("SelClass", new SelectList(ViewBag.Mycls, "Value", "Text", ViewBag.Selectedcls), "--Select---", new { @class = "", required = "required" })
                </div>
                <div class="col-md-6">
                    <br />
                    <input type="submit" name="submit" value="Submit" />
                    @*<input type="submit" name="submit" value="Download" />*@
                    <input type="button" value="Back" class="btn" onclick="history.go(-1)" />
                </div>
            </div>
        }
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 text-right noprint">
        @if (ViewBag.TotalCount > 0)
        {

            <input type="button" value="Print" class="btn" onclick="window.print()" />
        }
    </div>

    @if (ViewBag.TotalCount > 0)
    {
        <div class="col-md-12">
            <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1">
                <tr>
                    <td colspan="5">
                        <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="0">
                            <tr>
                                <td style="width:10%">
                                    <div style="padding:2px"><img src="~/Images/Printlogo.jpg" width="60px" height="60px" alt="PSEB" /></div>
                                </td>
                                <td colspan="2" width="80%" style="font-size:14px;text-align:center;line-height:24px;vertical-align:top;padding-top:8px;">
                                    <span style="font-size:28px">Punjab School Education Board</span>
                                    <br />
                                    @{
                                        if (ViewBag.SelectedItem == "1")
                                        { <span>INA Summary, Session (@Session["Session"].ToString())</span> }
                                    else if (ViewBag.SelectedItem == "2")
                                    { <span>Pre-Board Summary, Session (@Session["Session"].ToString())</span> }
                                else if (ViewBag.SelectedItem == "3")
                                { <span>Re-Appear INA Summary, Session (@Session["Session"].ToString())</span> }
                            else if (ViewBag.SelectedItem == "4")
                            { <span>OPEN-INA Summary, Session (@Session["Session"].ToString())</span> }
                                    }
                                </td>
                                <td width="10%"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;" colspan="2" width="50%">
                                    &nbsp;Class Name : <span id="lblClassName"></span>
                                </td>
                                <td align="right" colspan="2" width="50%">Print Date :@DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")&nbsp;&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                <tr>
                <tr>
                    <td align="" rowspan="2" width="30%" align="left">School Category</td>
                    <td align="center" colspan="2" width="35%">Total</td>
                    <td align="center" colspan="2" width="35%">Pending</td>
                </tr>
                <tr>
                    <td align="center" width="15%">Schools</td>
                    <td align="center" width="20%">Candidates</td>
                    <td align="center" width="15%">Schools</td>
                    <td align="center" width="20%">Candidates</td>
                </tr>
                @foreach (System.Data.DataRow dr in Model.StoreAllData.Tables[0].Rows)
                {
                    <tr>
                        <td align="" width="30%" align="left">&nbsp;@dr["UserType"].ToString()</td>
                        <td align="center">@dr["NOS"].ToString()</td>
                        <td align="center">@dr["NOC"].ToString()</td>
                        <td align="center">@dr["NOSP"].ToString()</td>
                        <td align="center">@dr["NOCP"].ToString()</td>
                    </tr>
                }

                <!-- <tr> -->
                <!-- <td align="left">&nbsp;Total</td> -->
                <!-- <td align="center"></td> -->
                <!-- <td align="center"></td> -->
                <!-- <td align="center"></td> -->
                <!-- <td align="center"></td> -->
                <!-- </tr> -->
            </table>
        </div>
    }




</div>




<script type="text/javascript">
    $("#SelClass").change(function () {
        var selclass = $("#SelClass").val();
        if (selclass != "0" && selclass != "") {
            var selclassNM = $("#SelClass option:selected").text();
            $('#lblClassName').text(selclassNM);
        }

    }
    );

    $(document).ready(function () {
        var selclassNM = $("#SelClass option:selected").text();
        $('#lblClassName').text(selclassNM);
    }
    );
</script>