
@model PSEBONLINE.Models.ReportModel
@{
    ViewBag.Title = "Stopped Roll Summary Report";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/cardprintc.css" />
<h1 class="noprint">Stopped Roll Summary Report</h1>
<div class="row">
    <div class="col-md-12 text-right noprint">
        <input type="button" value="Print" class="btn" onclick="window.print()" />
        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12">
        <div style="border:1px solid #fff !important;display:block;margin-bottom:30px">
            <table border="1" width="100%" class="tprint">
                <thead>
                    <tr>
                        <td style="border-right:0 !important" colspan="2" width="15%"><div style="padding:2px"><img src="~/Images/Printlogo.jpg" width="60px" height="60px" alt="PSEB" /></div></td>
                        <td colspan="4" style="font-size:16px;text-align:center;line-height:24px;vertical-align:top;border-left:0 !important;border-right:0 !important;padding-top:8px">
                            <span style="font-size:28px">Punjab School Education Board</span><br /><span>
                                Stopped Roll Summary Report Session @Session["Session"].ToString()
                            </span>
                        </td>
                        <td style="text-align:right;border-left:0 !important;" width="25%">
                            Print Date/Time : @DateTime.Now.ToString("dd/MM/yyyy hh:mmtt") &nbsp;
                        </td>
                    </tr>
                </thead>

                <div class="table-responsive">
                    <table id="t01" class="table table-bordered">
                        <tr class="active-tr">
                            <th width="30%" rowspan="2" style="text-align:center">&nbsp;Examtype</th>
                            <th width="10%" colspan="6" style="text-align:center">&nbsp;Roll No. Stopped of Matric</th>
                            <th width="10%" colspan="6" style="text-align:center">&nbsp;Roll No. Stopped of Sr Sec</th>
                        </tr>
                        <tr class="active-tr">
                            <th width="10%">&nbsp;By Examination Branch</th>
                            <th width="10%">&nbsp;Roll Blank</th>
                            <th width="10%">&nbsp;Cent Blank</th>
                            <th width="10%">&nbsp;RegNo Blank</th>
                            <th width="10%">&nbsp;RegNo Error</th>
                            <th width="10%">&nbsp;RegNo Cancelled</th>
                            @*<th width="10%">&nbsp;Total</th>*@
                            <th width="10%">&nbsp;By Examination Branch</th>
                            <th width="10%">&nbsp;Roll Blank</th>
                            <th width="10%">&nbsp;Cent Blank</th>
                            <th width="10%">&nbsp;RegNo Blank</th>
                            <th width="10%">&nbsp;RegNo Error</th>
                            <th width="10%">&nbsp;RegNo Cancelled</th>
                            @*<th width="10%">&nbsp;Total</th>*@
                        </tr>
                        @{
                            if (ViewBag.TotalCount > 0)
                            {
                                int d = 0;
                                int Count = 0;

                                for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                {
                                    d = d + 1;
                                    var RP = Model.StoreAllData.Tables[0].Rows[i]["RP"].ToString();
                                    var ErrAssign2 = Model.StoreAllData.Tables[0].Rows[i]["ErrAssign2"].ToString();
                                    var RollBlank2 = Model.StoreAllData.Tables[0].Rows[i]["RollBlank2"].ToString();
                                    var CentBlank2 = Model.StoreAllData.Tables[0].Rows[i]["CentBlank2"].ToString();
                                    var RegnoBlank2 = Model.StoreAllData.Tables[0].Rows[i]["RegnoBlank2"].ToString();
                                    var RegnoErr2 = Model.StoreAllData.Tables[0].Rows[i]["RegnoErr2"].ToString();
                                    var RegnoCancel2 = Model.StoreAllData.Tables[0].Rows[i]["RegnoCancel2"].ToString();

                                    var ErrAssign4 = Model.StoreAllData.Tables[0].Rows[i]["ErrAssign4"].ToString();
                                    var RollBlank4 = Model.StoreAllData.Tables[0].Rows[i]["RollBlank4"].ToString();
                                    var CentBlank4 = Model.StoreAllData.Tables[0].Rows[i]["CentBlank4"].ToString();
                                    var RegnoBlank4 = Model.StoreAllData.Tables[0].Rows[i]["RegnoBlank4"].ToString();
                                    var RegnoErr4 = Model.StoreAllData.Tables[0].Rows[i]["RegnoErr4"].ToString();
                                    var RegnoCancel4 = Model.StoreAllData.Tables[0].Rows[i]["RegnoCancel4"].ToString();

                                    Count = Count + 1;
                        <tr>
                            <td>&nbsp;@RP</td>
                            <td>&nbsp;@ErrAssign2</td>
                            <td>&nbsp;@RollBlank2</td>
                            <td>&nbsp;@CentBlank2</td>
                            <td>&nbsp;@RegnoBlank2</td>
                            <td>&nbsp;@RegnoErr2</td>
                            <td>&nbsp;@RegnoCancel2</td>
                            <td>&nbsp;@ErrAssign4</td>
                            <td>&nbsp;@RollBlank4</td>
                            <td>&nbsp;@CentBlank4</td>
                            <td>&nbsp;@RegnoBlank4</td>
                            <td>&nbsp;@RegnoErr4</td>
                            <td>&nbsp;@RegnoCancel4</td>
                        </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10">
                                        <span class="rqf">@ViewBag.Message</span>
                                    </td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </table>
        </div>
    </div>


    @*<div class="col-md-12">
                <div style="border:1px solid #fff !important;display:block;margin-bottom:30px">
                    <table border="1" width="100%" class="tprint">
                        <thead>
                            <tr>
                                <td style="border-right:0 !important" colspan="2" width="15%"><div style="padding:2px"><img src="~/Images/Printlogo.jpg" width="60px" height="60px" alt="PSEB" /></div></td>
                                <td colspan="4" style="font-size:16px;text-align:center;line-height:24px;vertical-align:top;border-left:0 !important;border-right:0 !important;padding-top:8px">
                                    <span style="font-size:28px">Punjab School Education Board</span><br /><span>
            Stopped Roll Summary Report Session @Session["Session"].ToString()
        </span>
                                </td>
                                <td style="text-align:right;border-left:0 !important;" width="25%">
                                    Print Date/Time : @DateTime.Now.ToString("dd/MM/yyyy hh:mmtt") &nbsp;
                                </td>
                            </tr>
                        </thead>

                        <div class="table-responsive">
                            <table id="t01" class="table table-bordered">
                                <tr class="active-tr">
                                    <th width="30%" rowspan="2" style="text-align:center">&nbsp;Examtype</th>
                                    <th width="10%" colspan="3" style="text-align:center">&nbsp;Roll No. Stopped of Matric</th>
                                    <th width="10%" colspan="3" style="text-align:center">&nbsp;Roll No. Stopped of Sr Sec</th>
                                </tr>
                                <tr class="active-tr">

                                    <th width="10%">&nbsp;By Examination Branch</th>
                                    <th width="10%">&nbsp;By Reg. Branch (Automatic)</th>
                                    <th width="10%">&nbsp;Total</th>
                                    <th width="10%">&nbsp;By Examination Branch</th>
                                    <th width="10%">&nbsp;By Reg. Branch (Automatic)</th>
                                    <th width="10%">&nbsp;Total</th>
                                </tr>
                                @{
                                    if (ViewBag.TotalCount > 0)
                                    {
                                        int d = 0;
                                        int Count = 0;

                                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                        {
                                            d = d + 1;
                                            var Examtype = Model.StoreAllData.Tables[0].Rows[i]["Examtype"].ToString();
                                            var Total = Model.StoreAllData.Tables[0].Rows[i]["Total"].ToString();
                                            var TotalMatric = Model.StoreAllData.Tables[0].Rows[i]["TotalMatric"].ToString();
                                            var RegBranchMatric = Model.StoreAllData.Tables[0].Rows[i]["RegBranchMatric"].ToString();
                                            var ExamBranchMatric = Model.StoreAllData.Tables[0].Rows[i]["ExamBranchMatric"].ToString();
                                            var TotalSenior = Model.StoreAllData.Tables[0].Rows[i]["TotalSenior"].ToString();
                                            var RegBranchSenior = Model.StoreAllData.Tables[0].Rows[i]["RegBranchSenior"].ToString();
                                            var ExamBranchSenior = Model.StoreAllData.Tables[0].Rows[i]["ExamBranchSenior"].ToString();
                                            Count = Count + 1;
                                            <tr>
                                                <td>&nbsp;@Examtype</td>
                                                <td>&nbsp;@ExamBranchMatric</td>
                                                <td>&nbsp;@RegBranchMatric</td>
                                                <td>&nbsp;@TotalMatric</td>
                                                <td>&nbsp;@ExamBranchSenior</td>
                                                <td>&nbsp;@RegBranchSenior</td>
                                                <td>&nbsp;@TotalSenior</td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="10">
                                                <span class="rqf">@ViewBag.Message</span>
                                            </td>
                                        </tr>
                                    }
                                }

                            </table>
                        </div>
                    </table>
                </div>
            </div>*@
</div>


