@model PSEBONLINE.Models.ReportModel
@{
    ViewBag.Title = "Examination Report";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<style type="text/css">
    td {
        font-size: 11px;
        padding: 1px;
        vertical-align: top
    }
</style>
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/Print-4L.css" />
<h1 class="noprint">Summary of Examination Report</h1>
<div class="row">
    <div class="col-md-12 text-right noprint">
        <input type="button" value="Print" class="btn" onclick="window.print()" />
        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1">
            <tr>
                <td style="border-right:0 !important">
                    <div style="padding:2px"><img src="~/Images/Printlogo.jpg" width="60px" height="60px" alt="PSEB" /></div>
                </td>
                <td colspan="8" style="font-size:16px;text-align:center;line-height:22px;vertical-align:top;border-left:0 !important;border-right:0 !important;padding-top:8px;">
                    <span style="font-size:28px">Punjab School Education Board</span>
                    <br />
                    <span>Summary of Examination Report Session (@Session["Session"].ToString().Trim())</span>
                </td>
                <td colspan="2" style="border-left:0 !important" align="right">Print Date : @DateTime.Today.ToString("dd/MM/yyyy") &nbsp;</td>
            </tr>
            <tr>
                <td width="15%"></td>
                <td width="8%">
                    Total Number of Candidates Registered
                </td>
                <td width="8%">
                    Total Number of Schools
                </td>
                <td width="10%">
                    Number of Candiates Selected
                </td>

                <td width="9%">
                    Number of Schools Selected
                </td>
                <td width="8%">
                    Total Challan Generated Student
                </td>
                <td width="8%">
                    Total Challan Generated Schools
                </td>
                <td width="9%">
                    Final Submission of candidates
                </td>
                <td width="9%">
                    Final Submission of Schools
                </td>
                <td width="8%">
                    Total Challan Generated
                </td>
                <td width="8%">
                    Total Challan Verified
                </td>
                @*<td width="7%">
            Total Fees
        </td>
        <td width="8%">
            Total Fees Verified
        </td>*@
            </tr>
            @if (ViewBag.TotalCount > 0)
            {

        <tr>
            <td>
                Regular Examination of Primary F1+F2
            </td>
            <td>@Model.StoreAllData.Tables[0].Rows[0]["tot_Num_candi"].ToString()</td>
            <td>@Model.StoreAllData.Tables[2].Rows[0]["tot_SCHL"].ToString()</td>
            <td>@Model.StoreAllData.Tables[1].Rows[0]["tot_Num_Sel_candi"].ToString()</td>
            <td>@Model.StoreAllData.Tables[3].Rows[0]["tot_Sel_SCHL"].ToString()</td>

            <td>@Model.StoreAllData.Tables[8].Rows[0]["tot_Chln_gen_NOC"].ToString()</td>
            <td>@Model.StoreAllData.Tables[9].Rows[0]["tot_Chln_gen_SCHL"].ToString()</td>

            <td>@Model.StoreAllData.Tables[4].Rows[0]["FS_CANDI"].ToString()</td>
            <td>@Model.StoreAllData.Tables[5].Rows[0]["FS_SCHL"].ToString()</td>
            <td>@Model.StoreAllData.Tables[6].Rows[0]["tot_Chln_gen"].ToString()</td>
            <td>@Model.StoreAllData.Tables[7].Rows[0]["tot_Chln_Verify"].ToString()</td>
            @*<td>@Model.StoreAllData.Tables[8].Rows[0]["totfee"].ToString()</td>
        <td>@Model.StoreAllData.Tables[9].Rows[0]["TotFee_verify"].ToString()</td>*@
        </tr>
        <tr>
            <td>
                Regular Examination of Middle A1+A2
            </td>
            <td>@Model.StoreAllData.Tables[0].Rows[1]["tot_Num_candi"].ToString()</td>
            <td>@Model.StoreAllData.Tables[2].Rows[1]["tot_SCHL"].ToString()</td>
            <td>@Model.StoreAllData.Tables[1].Rows[1]["tot_Num_Sel_candi"].ToString()</td>
            <td>@Model.StoreAllData.Tables[3].Rows[1]["tot_Sel_SCHL"].ToString()</td>

            <td>@Model.StoreAllData.Tables[8].Rows[1]["tot_Chln_gen_NOC"].ToString()</td>
            <td>@Model.StoreAllData.Tables[9].Rows[1]["tot_Chln_gen_SCHL"].ToString()</td>

            <td>@Model.StoreAllData.Tables[4].Rows[1]["FS_CANDI"].ToString()</td>
            <td>@Model.StoreAllData.Tables[5].Rows[1]["FS_SCHL"].ToString()</td>
            <td>@Model.StoreAllData.Tables[6].Rows[1]["tot_Chln_gen"].ToString()</td>
            <td>@Model.StoreAllData.Tables[7].Rows[1]["tot_Chln_Verify"].ToString()</td>
            @*<td>@Model.StoreAllData.Tables[8].Rows[1]["totfee"].ToString()</td>
        <td>@Model.StoreAllData.Tables[9].Rows[1]["TotFee_verify"].ToString()</td>*@
        </tr>

        <tr>
            <td>
                Regular Examination  of Matric M1+M2
            </td>
            <td>@Model.StoreAllData.Tables[0].Rows[2]["tot_Num_candi"].ToString()</td>
            <td>@Model.StoreAllData.Tables[2].Rows[2]["tot_SCHL"].ToString()</td>
            <td>@Model.StoreAllData.Tables[1].Rows[2]["tot_Num_Sel_candi"].ToString()</td>

            <td>@Model.StoreAllData.Tables[3].Rows[2]["tot_Sel_SCHL"].ToString()</td>

            <td>@Model.StoreAllData.Tables[8].Rows[2]["tot_Chln_gen_NOC"].ToString()</td>
            <td>@Model.StoreAllData.Tables[9].Rows[2]["tot_Chln_gen_SCHL"].ToString()</td>

            <td>@Model.StoreAllData.Tables[4].Rows[2]["FS_CANDI"].ToString()</td>
            <td>@Model.StoreAllData.Tables[5].Rows[2]["FS_SCHL"].ToString()</td>
            <td>@Model.StoreAllData.Tables[6].Rows[2]["tot_Chln_gen"].ToString()</td>
            <td>@Model.StoreAllData.Tables[7].Rows[2]["tot_Chln_Verify"].ToString()</td>
            @*<td>@Model.StoreAllData.Tables[8].Rows[2]["totfee"].ToString()</td>
        <td>@Model.StoreAllData.Tables[9].Rows[2]["TotFee_verify"].ToString()</td>*@
        </tr>
                <tr>
                    <td>
                        Open School  Matric Examination M3
                    </td>
                    <td>@Model.StoreAllData.Tables[0].Rows[3]["tot_Num_candi"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[2].Rows[3]["tot_SCHL"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[1].Rows[3]["tot_Num_Sel_candi"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[3].Rows[3]["tot_Sel_SCHL"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[8].Rows[3]["tot_Chln_gen_NOC"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[9].Rows[3]["tot_Chln_gen_SCHL"].ToString()</td>
                    

                    <td>@Model.StoreAllData.Tables[4].Rows[3]["FS_CANDI"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[5].Rows[3]["FS_SCHL"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[6].Rows[3]["tot_Chln_gen"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[7].Rows[3]["tot_Chln_Verify"].ToString()</td>
                    @*<td>@Model.StoreAllData.Tables[8].Rows[3]["totfee"].ToString()</td>
                        <td>@Model.StoreAllData.Tables[9].Rows[3]["TotFee_verify"].ToString()</td>*@
                </tr>
                <tr>
                    <td>
                        Regular Examination of Senior  Secondary T1+T2
                    </td>
                    <td>@Model.StoreAllData.Tables[0].Rows[4]["tot_Num_candi"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[2].Rows[4]["tot_SCHL"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[1].Rows[4]["tot_Num_Sel_candi"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[3].Rows[4]["tot_Sel_SCHL"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[8].Rows[4]["tot_Chln_gen_NOC"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[9].Rows[4]["tot_Chln_gen_SCHL"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[4].Rows[4]["FS_CANDI"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[5].Rows[4]["FS_SCHL"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[6].Rows[4]["tot_Chln_gen"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[7].Rows[4]["tot_Chln_Verify"].ToString()</td>
                    @*<td>@Model.StoreAllData.Tables[8].Rows[4]["totfee"].ToString()</td>
                        <td>@Model.StoreAllData.Tables[9].Rows[4]["TotFee_verify"].ToString()</td>*@
                </tr>
                <tr>
                    <td>
                        Open School Examination T3
                    </td>
                    <td>@Model.StoreAllData.Tables[0].Rows[5]["tot_Num_candi"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[2].Rows[5]["tot_SCHL"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[1].Rows[5]["tot_Num_Sel_candi"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[3].Rows[5]["tot_Sel_SCHL"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[8].Rows[5]["tot_Chln_gen_NOC"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[9].Rows[5]["tot_Chln_gen_SCHL"].ToString()</td>
                    
                    <td>@Model.StoreAllData.Tables[4].Rows[5]["FS_CANDI"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[5].Rows[5]["FS_SCHL"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[6].Rows[5]["tot_Chln_gen"].ToString()</td>
                    <td>@Model.StoreAllData.Tables[7].Rows[5]["tot_Chln_Verify"].ToString()</td>
                    @*<td>@Model.StoreAllData.Tables[8].Rows[5]["totfee"].ToString()</td>
                        <td>@Model.StoreAllData.Tables[9].Rows[5]["TotFee_verify"].ToString()</td>*@
                </tr>
            }

        </table>
        <p style="height:160px"></p>

    </div>
</div>

