@model PSEBONLINE.Models.ReportModel
@{
    ViewBag.Title = "Undertaking Of QuestionPapers Report";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="/Content/Print-4P.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



<div class="row">
    <div class="col-md-12 noprint">
        @using (Html.BeginForm("UndertakingOfQuestionPapersReport", "Report", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-3">Select Report : @Html.DropDownList("SelList", new SelectList(ViewBag.MySch, "Value", "Text", ViewBag.SelectedItem), "--Select Report---", new { @class = "", required = "required" })</div>
                <div class="col-md-3">
                    Select Month/Year :
                    @Html.DropDownList("Month", new SelectList(ViewBag.MonthList, "Value", "Text", ViewBag.SelMonth), "--All Month ---", new { @class = "", required = "required" })
                    @Html.DropDownList("Year", new SelectList(ViewBag.YearList, "Value", "Text", ViewBag.SelYear), "--All Year ---", new { @class = "", required = "required" })
                </div>
                <div class="col-md-6">
                    <br />
                    <input type="submit" name="submit" value="Search and Print" />
                    <input type="submit" name="submit" value="Export To Excel" />
                    <input type="button" value="Back" class="btn" onclick="history.go(-1)" />
                </div>
            </div>
        }
    </div>
    <div class="clearfix"></div>
    @if (ViewBag.TotalCount > 0)
    {
        <div class="col-md-12 text-right noprint">
            <input type="button" value="Print" class="btn" onclick="window.print()" />
        </div>
    }
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div style="border:1px solid #fff !important;display:block;margin-bottom:30px">
            <table border="1" width="100%" class="tprint">
                <thead>
                    <tr>
                        <td style="border-right:0 !important" colspan="2" width="15%"><div style="padding:2px"><img src="~/Images/Printlogo.jpg" width="60px" height="60px" alt="PSEB" /></div></td>
                        <td colspan="4" style="font-size:16px;text-align:center;line-height:24px;vertical-align:top;border-left:0 !important;border-right:0 !important;padding-top:8px">
                            <span style="font-size:28px">Punjab School Education Board</span><br />
                            @{
                                if (!string.IsNullOrEmpty(ViewBag.SelectedItem))
                                {
                                    if (ViewBag.SelectedItem == "1")
                                    {<span>Pending List Of Report For The @ViewBag.SelMonthNM Month Of @ViewBag.SelYear</span> }
                                else if (ViewBag.SelectedItem == "2")
                                {<span>Not-Satisfactory List Of Report For The @ViewBag.SelMonthNM Month Of @ViewBag.SelYear</span> }
                            else if (ViewBag.SelectedItem == "3")
                            {<span>Submitted List Of Report For The @ViewBag.SelMonthNM Month Of @ViewBag.SelYear</span> }

                    }
                            }

                        </td>
                        <td style="text-align:right;border-left:0 !important;" width="20%">Print Date : @DateTime.Now.ToString("dd/MM/yyyy") &nbsp;</td>
                    </tr>
                    <tr>
                        <td width="5%">&nbsp;Sr.No</td>
                        <td width="5%">&nbsp;Class</td>
                        <td width="10%">&nbsp;DISTNM</td>
                        <td width="50%" colspan="2">&nbsp;Code - &nbsp;Cluster/SchoolName</td>
                        <td width="15%">&nbsp;Contact Number</td>
                        <td width="20%">&nbsp;Final Submitted On</td>

                    </tr>
                </thead>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        int Count = 0;
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            Count = Count + 1;
                            var Class = Model.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
                            var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
                            var CENTCODE = Model.StoreAllData.Tables[0].Rows[i]["CENTCODE"].ToString();
                            var CentNM = Model.StoreAllData.Tables[0].Rows[i]["CentNM"].ToString();
                            var CentMobile = Model.StoreAllData.Tables[0].Rows[i]["CentMobile"].ToString();
                            var FinalSubmitOn = Model.StoreAllData.Tables[0].Rows[i]["FinalSubmitOn"].ToString();
                            <tr>
                                <td>&nbsp;@Count</td>
                                <td>&nbsp;@Class</td>
                                <td>&nbsp;@DISTNM</td>
                                <td colspan="2">&nbsp;@CENTCODE - &nbsp;@CentNM</td>
                                <td>&nbsp;@CentMobile</td>
                                <td>&nbsp;@FinalSubmitOn</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5"><span class="rqf"> Record Not Found</span></td></tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
