@model PSEBONLINE.Models.AdditionalSectionModel
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .tbl td {padding:4px
    }
</style>
<div class="row">
<div class="col-md-12">@Html.Partial("_AdditionalSectionHeading")</div>
<div class="clearfix"></div>
  <div class="col-md-3">    
@Html.Partial("_AdditionalSectionMenu")        
    </div>
    <div class="col-md-9">
        <h4>Other information & Activities</h4>
@using (Html.BeginForm("Activities", "AdditionalSection", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
{
    <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1" class="tbl">
        <tr class="active-tr">
            <td width="5%">Sr No</td>
            <td>Type</td>
            <td>Count</td>
        </tr>
        <tr>
            <td width="5%">1</td>
            <td>No of Rooms</td>
            <td>@Html.TextBoxFor(a => a.OI1, new { @maxlength = "3", onkeypress = "return isNumberKey(event);" })</td>

        </tr>
        <tr>
            <td>2</td>
            <td>Total Area of School (In Yards)</td>
            <td>@Html.TextBoxFor(a => a.OI2, new { @maxlength = "8", onkeypress = "return isNumberKey(event);" })</td>
        </tr>
        <tr>
            <td>3</td>
            <td>No of Single Bench?</td>
            <td>@Html.TextBoxFor(a => a.OI3, new { @maxlength = "3", onkeypress = "return isNumberKey(event);" })</td>
        </tr>
        <tr>
            <td>4</td>
            <td>No of Double Bench?</td>
            <td>@Html.TextBoxFor(a => a.OI4, new { @maxlength = "3", onkeypress = "return isNumberKey(event);" })</td>
        </tr>

    </table>

        <div style="text-align:center" class="tbp">
            @if (string.IsNullOrEmpty(Model.ChallanId))
            {
                <input type="submit" name="submit" value="SAVE" />
            }
            <a href="/AdditionalSection/Index" class="btn">Back</a>
        </div>

    
}
</div>
</div>


@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                </script>}
            else
            {
                <script type="text/javascript" language="javascript">
                     alert("Submit Failure, Please Try Again");
                </script>
            }
        }
    }
}