@model PSEBONLINE.Models.AdditionalSectionModel
@{
    ViewBag.Title = "Students/Fee Detils";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .tbl td {
        padding: 4px
    }
</style>
<div class="row">
    <div class="col-md-12">@Html.Partial("_AdditionalSectionHeading")</div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        @Html.Partial("_AdditionalSectionMenu")
    </div>
    <div class="col-md-9">
        <h4>Other Information</h4>
        @using (Html.BeginForm("OtherInformation", "AdditionalSection", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
        {
            <table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1" class="tbl">
                <tr>
                    <td width="5%">1</td>
                    <td>No of Class Rooms</td>
                    <td>@Html.TextBoxFor(a => a.OI1, new { @maxlength = "3", onkeypress = "return isNumberKey(event);" })</td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>Total Area of School (In Yards)</td>
                    <td>@Html.TextBoxFor(a => a.OI2, new { @maxlength = "8", onkeypress = "return isNumberKey(event);" })</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>No of Single Bench?</td>
                    <td>@Html.TextBoxFor(a => a.OI3, new { @maxlength = "3", onkeypress = "return isNumberKey(event);" })</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>No of Double Bench?</td>
                    <td>@Html.TextBoxFor(a => a.OI4, new { @maxlength = "3", onkeypress = "return isNumberKey(event);" })</td>
                </tr>

            </table>
            <div style="text-align:center" class="tbp">
                @if (string.IsNullOrEmpty(Model.ChallanId))
                {
                    <input type="submit" name="submit" value="SAVE" />
                }
                <a href="/AdditionalSection/Index" class="btn">Back</a>
            </div>

        }
    </div>
</div>




@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit SuccessFully..");
                </script>
            }
            else
            {
                <script type="text/javascript" language="javascript">
                    alert("Submit Failure, Please Try Again");
                </script>
            }
        }
    }
}



<script type="text/javascript">

    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 8 && keyCode != 46 && keyCode != 9) {
            alert("Only Characters Allowed!!");
            return false;
        }
        else {
            return true;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 9) || (charCode == 8) || (charCode == 46)) {
            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
    //

</script>